<div class="ctnr flexBetween">
	<div class="left">
		<bread-crumb-app [title]="title" [subtitles]="subtitles"></bread-crumb-app>
	</div>

	<div class="right flexCenter">
		<filter-search-bar-app class="mg-right" [filterGroupName]="filterGroupName"></filter-search-bar-app>

		<divider-app class="vert-divider mg-right"></divider-app>

		<icon-app
			*ngIf="hasFilter"
			fontSet="fa"
			name="filter"
			(click)="filterClick.emit()"
			class="pointer mg-right fs-m"
			color="primary-dark"
			fontSet="fa">
		</icon-app>

		<view-switcher-app
			class="mg-right"
			*ngIf="hasSwitch"
			(viewChange)="viewChange.emit($event)"
			[view]="view"></view-switcher-app>

		<button (click)="buttonClick.emit()" class="auto small">
			<icon-app class="plusIc fs-s" name="plus" fontSet="fa"></icon-app>
			<span>{{ buttonName }}</span>
		</button>

	</div>
</div>

<divider-app></divider-app>