:host {
	display: block;
	padding: 0 var(--spacing-edge);
}

.ctnr {
	padding: var(--spacing-xl) 0 0 0;
}


button {
  padding: 0 var(--spacing-l);
  height: 40px;
  border-radius: var(--border-radius-s);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}

.icon-add {
  color: var(--color-white);
  font-size: 10px;
  margin-right: 10px;
}


