<div [formGroup]="group">

	<input-app
		*ngIf="isStandard()"
		[type]="descriptor.fieldType"
		[label]="descriptor.label"
		[formControl]="ctrl"
		(update)="onUpdate(descriptor.name, $event)"></input-app>

	<!-- <input-radio-app
		[label]="descriptor.label"
		*ngIf="descriptor.fieldType === 'multiple-choice'"
		[choices]="descriptor.choices">
	</input-radio-app>

	<input-select-entity-app
		*ngIf="descriptor.fieldType === 'entitySelect'"
		[label]="descriptor.label"
		[formControl]="ctrl"
		[entityRep]="descriptor.metadata"
		(update)="onUpdate(descriptor.name, $event)"></input-select-entity-app> -->

	<!-- <input-price-app
		*ngIf="descriptor.fieldType === 'price'"
		[placeholder]="descriptor.label"
		[formControl]="ctrl"
		(update)="onUpdate(descriptor.name, $event)"></input-price-app> -->


	<input-textarea-app
		*ngIf="descriptor.fieldType === 'textarea'"
		[label]="descriptor.label"
		[formControl]="ctrl"
		(update)="onUpdate(descriptor.name, $event)"></input-textarea-app>

</div>
