:host {
	display: block;
	text-align: left;
}

.icon-container {
	margin-bottom: var(--spacing-xs);
	position: relative;

	icon-app {
		margin-right: var(--spacing-s);
	}

	selector-entity-app {
		position: absolute;
    width: 95%;
    left: 20px;
	}
}