	<div class="action-container flexBetween">
		<div class="flex icons-container noselect">
			<rating-heart-app
			 size="m"
			 [favorite]="favorite"
			 (favorited)="onFavorite.emit()"
			 (unfavorited)="onUnfavorite.emit()">
			</rating-heart-app>
			<thumb-buttons-app
				size="m"
				[votes]="votes"
				[single]="false"
				(vote)="vote.emit($event)">
			</thumb-buttons-app>
			<ng-content></ng-content>
		</div>
		<button *ngIf="buttonName" (click)="buttonClick.emit()">{{buttonName}}</button>
	</div>