	<div class="action-container flexBetween">
		<div class="flex icon-container noselect">
			<rating-heart-app
			 size="m"
			 [favorite]="favorite"
			 (favorited)="onFavorite.emit()"
			 (unfavorited)="onUnfavorite.emit()">
			</rating-heart-app>
			<thumb-buttons-app
				size="m"
				[votes]="votes"
				[single]="false"
				(vote)="vote.emit($event)">
			</thumb-buttons-app>
			<icon-app fontSet="svg" name="folder" size="m" (click)="addToProject.emit()"></icon-app>
			<icon-app fontSet="svg" name="3-dots-vertical" size="m"></icon-app>
		</div>
		<button *ngIf="buttonName" (click)="buttonClick.emit()">{{buttonName}}</button>
	</div>