:host {
	overflow: hidden;
	background: white;
	display: block;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.6s linear;
	.action-container {
		max-height: 0px;
		transition: max-height 0.2s ease-out;
	}
	&.isVisible {
		visibility: visible;
		opacity: 1;
		.action-container {
			margin-bottom: var(--spacing-s);
			max-height: 48px;
			transition: max-height 0.2s ease-in
		}
	}
}

.action-container {
	margin-right: 6px;
	margin-bottom: 3px;
	margin-top: 4px;
}

.icon-container {
	margin-left: 10px;
}

thumb-buttons-app, icon-app, rating-heart-app {
	color: var(--color-secondary-dark);
}
rating-heart-app {
	margin-right: 7px;
}

thumb-buttons-app {
	margin-right: var(--spacing-ms);
}

button.folder, button.dots, thumb-buttons-app, rating-heart-app {
	margin-top: 5px;
}
button:not(.icon){
	overflow: hidden;
}