<form [formGroup]="form" *ngIf="!pending; else spinner">
	<dialog-app [name]="name">
		<dialog-header-app>
			Create New Product
		</dialog-header-app>


		<!-- Name -->
		<form-field-app>
			<label-app>
				Name
			</label-app>
			<input type="text" inputApp formControlName="name"/>
		</form-field-app>

		<!-- Supplier -->
		<label>Supplier</label>
		<!-- <selector-app
			[choices]="'supplier' | entityList | async"
			[itemName]="'supplier'"
			[canSearch]="true"
			formControlName="supplierId">
			<ng-template let-item="item">
				{{ item.name }}
			</ng-template>
		</selector-app> -->

		<!-- Category -->
		<label>Category</label>
		<!-- <selector-app
			[choices]="'category' | entityList | async"
			[itemName]="'category'"
			[canSearch]="true"
			formControlName="categoryId">
			<ng-template let-item="item">
				{{ item.name }}
			</ng-template>
		</selector-app> -->

		<dialog-footer-app>
			<button (click)="createProduct()" [disabled]="!form.valid">Create Product</button>
		</dialog-footer-app>
	</dialog-app>
</form>

<!-- when pending -->
<ng-template #spinner>
	<dialog-app>
		<spinner-app></spinner-app>
	</dialog-app>
</ng-template>

