$image-width: 211px;
$image-height: 219px;

:host {
	margin: 0px;
	margin-left: var(--spacing-ms);
	margin-bottom: var(--spacing-xl);
	display: block;
	background: white;
	width: 211px;
	position: relative;

	&:hover {
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05);

		.overlay {
      opacity: 1;
		}

		.icons-container .overlay-icons {
			opacity: 1;
		}

		.black-hover {
			top: 0;
			position: absolute;
			background: rgba(0, 0, 0, 0.7);
			height: $image-height;
			width: $image-width;
		}
	}
}

.card-container {
	&.selected-card {
		box-shadow: 0px 0px 0px 2px var(--color-primary);
	}
}

.overlay {
	opacity: 0;
	position: absolute;
}

.full-opacity {
	opacity: 1;
}

// floating elements

.icons-container {
	position: absolute;
	right: var(--spacing-s);
	top: var(--spacing-s);

	& > *:not(.selector), .folder {
		position: relative;
		margin-left: var(--spacing-s);
	}

	icon-app {
		color: white;
	}

	.overlay-icons {
		opacity: 0;
	}
}

button.preview, button.open {
	left: 36px;
	width: 139px;
}

button.preview {
	top: 74px;
}

button.open {
	top: 114px;
}

checkbox-app {
	top: var(--spacing-s);
	left: var(--spacing-s);
}

// non floating elements
img-app {
	height: $image-height;
	width: $image-width;
	margin-bottom: var(--spacing-ms);
}

.content {
	margin-left: var(--spacing-s);

	& > * {
		padding-bottom: var(--spacing-xs);
	}

	.title {
		color: var(--color-txt-strong);
		font-weight: 600;
	}

	.price {
		color: var(--color-primary);
	}

	.moq {
		color: var(--color-secondary-dark);
	}

	.price, .moq, .category, .status-info {
		font-size: var(--font-size-s);
	}

	.status-info {
		icon-app {
			cursor: default;
			margin-top: 2px;
			font-size: 4px;
			margin-right: var(--spacing-xs);
		}
	}
}