

<top-panel-app></top-panel-app>
<ng-container *ngIf="view$ | async as view">
	<!-- views -->
	<product-list-view-app
		*ngIf="view === 'list'"
		class="list-view"
		[filterGroupName]="filterGroupName"
		(itemSelected)="onItemSelected($event)"></product-list-view-app>
	<product-card-view-app
		*ngIf="view === 'card'"
		class="card-view"
		(itemClicked)="onItemSelected($event)"></product-card-view-app>
</ng-container>

<!-- <product-dialog-app></product-dialog-app> -->
<product-side-preview-app
	(clickOutside)="closeDialog()"
	*ngIf="previewDialogOpen">
</product-side-preview-app>

