<div class="kanban__item cell ng-star-inserted main" (clickOutside)="onClickOutsideCard()"
     (mouseleave)="leaveCard()" (mouseenter)="enterCard()">
  <div class="mainCellWrapper ellipsis ng-star-inserted">
    <div class="mainCell">
      <div class="imgCtnr">
        <img class="mini image ng-star-inserted" *ngIf="image" [src]="image"
             (dragstart)="preventDragImage($event)">
        <img class="mini icon ng-star-inserted" *ngIf="icon" [src]="'/assets/icons/' + icon + '-icon.svg'"
             (dragstart)="preventDragImage($event)">
      </div>
      <div class="description">
        <div class="titleCtnr">
          <a class="title">{{title}}</a>
          <span class="tiny-label" *ngIf="status">{{status}}</span>
        </div>
        <span class="subtitle first">{{subtitle1}}</span>
        <span class="subtitle">{{subtitle2}}</span>
      </div>
    </div>
  </div>
  <div class="person" *ngIf="person">{{person?.firstName}} {{person?.lastName.toUpperCase().charAt(0)}}.</div>
  <div class="check" [ngClass]="{ checked: checked }">
    <checkbox-app (check)="onChecked()"
                  (uncheck)="onUnchecked()"
                  (mouseenter)="toggleDragDropEnable('checkbox', $event)"
                  (mouseleave)="toggleDragDropEnable('checkbox', $event)">
    </checkbox-app>
  </div>
  <div class="contextual-menu" *ngIf="cardEntered">
    <ng-container
      *ngTemplateOutlet="contextualMenu; context: { column: column, row: row }">
    </ng-container>
  </div>
</div>
