.preview-sample {
	span {
		display: block; // this property is needed for text overflow "ellipsis"
		margin-left: var(--spacing-s);
		font-size: var(--font-size-m);
		color: var(--color-bg-dark);
	}
}