.comment {
  width: 15px;
  height: 14.4px;
  object-fit: contain;
}

.checkmark {
  width: 14px;
  height: 13.5px;
  object-fit: contain;
}

.sample {
	width: 17px;
	height: 13.5px;
	object-fit: contain;
}