:host {
	color: var(--color-icon);
	font-weight: normal;
}

.success {
	color: var(--color-success);
}

.warn {
	color: var(--color-warn);
}

.delimiter {
	color: var(--color-delimiter);
}

.white {
	color: #fff;
}

i {
	font-size: var(--font-size-default);
}

.xs {
	font-size: var(--font-size-xs);
}

.s {
	font-size: var(--font-size-s);
}

.l {
	font-size: var(--font-size-l);
}

.xl {
	font-size: var(--font-size-xl);
}

.xxl {
	font-size: var(--font-size-xxl);
}

.comment {
  width: 15px;
  height: 14.4px;
  object-fit: contain;
}

.checkmark {
  width: 14px;
  height: 13px;
  object-fit: contain;
}

.sample {
	width: 17px;
	height: 13.5px;
	object-fit: contain;
}

.checkmark-cercle-green {
  width: 24px;
  height: 24px;
  object-fit: contain;
}