:host {
	// using display block so we can use transform
	display: block;
}

.comment {
  width: 15px;
  height: 14.4px;
  object-fit: contain;
}

.checkmark {
  width: 14px;
  height: 13px;
  object-fit: contain;
}

.sample {
	width: 17px;
	height: 13.5px;
	object-fit: contain;
}

.checkmark-cercle-green {
  width: 24px;
  height: 24px;
  object-fit: contain;
}