.btn {
	background: rgba(0, 0, 0, 0.4);
	margin: var(--spacing-xs);
	padding: var(--spacing-xs) var(--spacing-s);
	border-radius: var(--border-radius);
	width: 45%;
}

icon-app {
	margin-right: var(--spacing-s);
}