<header-list-app
	[title]="'title.my-suppliers' | translate"
	logoName="supplier"
	info="The supplier database"
	[buttonName]="'button.create-supplier' | translate"
	(buttonClick)="dialogCommonSrv.openCreationDlg()">
</header-list-app>

<controller-table-app>
	<controller-table-quick-filters-app></controller-table-quick-filters-app>
	<controller-table-quick-actions-app>
	</controller-table-quick-actions-app>
</controller-table-app>


<!-- <suppliers-board-app
	[selection]="kanbanSelectionSrv.selection$"
	(selectOne)="kanbanSelectionSrv.selectOne($event, true)"
	(unselectOne)="selectionSrv.unselectOne($event, true)"
	(preview) = "viewSrv.openPreview($event)">
</suppliers-board-app> -->
<!--
<supplier-selection-bar-app
	typename="Supplier"
	(statusUpdated)="listHelper.updateSelected({status: $event})"
	(deleteSelected)="listHelper.deleteSelected()"
</supplier-selection-bar-app> -->

<supplier-preview-app
	*ngIf="viewSrv.previewOpen"
	[supplier]="viewSrv.previewed"
	(close)="viewSrv.closePreview()">
</supplier-preview-app>

<side-panel-app *ngIf="viewSrv.filterPanelOpen">
	<filters-app
		[filterTypes]="filterTypes"
		(clickOutside)="viewSrv.closeFilterPanel()"
		(close)="viewSrv.closeFilterPanel()">
	</filters-app>
</side-panel-app>

