<card-app class="mg-v-m">
	<card-title-app>Select checkbox</card-title-app>
	<p class="mg-v-ms"> Special checkbox with 3 states</p>
	<select-checkbox-app state="selectedPartial"></select-checkbox-app>
</card-app>


<card-app class="mg-v-m">
	<card-title-app>Packaging</card-title-app>
	<input-packaging-app [(ngModel)]="packaging"></input-packaging-app>
	<p class="mg-v-ms">
		value: {{ packaging | json }}
	</p>
</card-app>

<card-app class="mg-v-m">
	<card-title-app>Price</card-title-app>
	<input-price-app 
		[(ngModel)]="price">
	</input-price-app>
	<p class="mg-v-ms">
		value: {{ price | json }}
	</p>

	<p>
		Addiotionally a label can be added
	</p>
	
	<input-price-app 
		[(ngModel)]="price"
		[hasLabel]="true">
	</input-price-app>
</card-app>

<!-- <card-app class="mg-v-m">
	<card-title-app>Price Matrix</card-title-app>
	<input-price-matrix-app 
		[(ngModel)]="priceMatrix">
	</input-price-matrix-app>
	<p class="mg-v-ms">
		value: {{ priceMatrix | json }}
	</p>
</card-app> -->


<card-app class="mg-v-ms">
	<card-title-app>Editable Packaging</card-title-app>
	<editable-packaging-app [(ngModel)]="packaging">
		<editable-label-app>Label</editable-label-app>
		<editable-value-app>Value</editable-value-app>
		<input inputApp type="text"/>
	</editable-packaging-app>
	{{ packaging | json }}
</card-app>


<card-app class="mg-v-ms">
	<card-title-app>Editable Price Matrix</card-title-app>
	<editable-price-matrix-app 
		[(ngModel)]="priceMatrix">
	</editable-price-matrix-app>
</card-app>
