:host {
	display: block;
}
article {
	padding: var(--spacing-s) var(--spacing-m);
	color: rgba(255, 255, 255, 0.6);
}

article.selected {
	background: var(--color-primary);
	color: var(--color-primary-contrast);
}

article:not(.selected):hover {
	background: rgba(255, 255, 255, 0.14);
}