:host {
	display: flex;
	flex-direction: row;
}

.rightSelector {
	min-width: 140px;
}

editable-label-app {
	min-width: 120px;
	cursor: pointer;
	text-align: right;
	&:hover {
		color: var(--color-primary);
		text-decoration: underline;
	}
}

.packaging .flex:first-child {
	margin-top: 15px;
}

.item {
	width: 25%;
	margin-left: 5px;
	margin-right: 5px;

	&.large {
		width: 50%;
	}
}

.item:first-child {
	margin-left: 0;
}

.item:last-child {
	margin-right: 0;
}

input, textarea, selector-app, ng-select, radio-app {
	margin-top: 15px;
	width: 100%;
}

::ng-deep .ng-select-container {
	background: var(--color-secondary-light) !important;
}

::ng-deep .ng-select.ng-select-single .ng-select-container, .ng-select.ng-select-multiple .ng-select-container {
	height: 36px;
	border-radius: var(--border-radius-s);
}

::ng-deep .ng-select .ng-arrow-wrapper {
	display: block;
}
