
<div class="flex flexColumn packaging">
	<div class="flex flexBetween">
		<!-- when the value is undefined, null or 0 we display '-'.
		A package with 0cm makes no sens -->
		<!-- width -->
		<field-cell-app #cell2 [inlineLabel]="false" class="item">
			<label-app>width</label-app>
			<input inputApp
				#inp2
				restrictInput="number"
				autofocus="true"
				[value]="value?.width"
				(input)="accumulateNested('width', +inp2.value)"
				type="number"/>
		</field-cell-app>

		<!-- height -->
		<field-cell-app #cell3 [inlineLabel]="false" class="item">
			<label-app>height</label-app>
			<input inputApp
				#inp3
				restrictInput="number"
				autofocus="true"
				[value]="value?.height"
				(input)="accumulateNested('height', +inp3.value)"
				type="number"/>
		</field-cell-app>

		<!-- length -->
		<field-cell-app #cell1 [inlineLabel]="false" class="item">
			<label-app>depth</label-app>
			<input inputApp
				#inp1
				restrictInput="number"
				autofocus="true"
				[value]="value?.length"
				(input)="accumulateNested('length', +inp1.value)"
				type="number"/>
		</field-cell-app>

		<!-- units -->
		<!-- field-cell-app #cell4 [inlineLabel]="false">
			<label-app>Dimension units</label-app>
			<selector-const-app
				class="rightSelector edit"
				[type]="'lengthUnit'"
				[(ngModel)]="value.unit"></selector-const-app>
		</field-cell-app -->
		<field-cell-app [inlineLabel]="false" class="item">
			<label-app>Unit</label-app>
			<!-- selector-app
				[(ngModel)]="value.unit"
				[choices]="[{id:'cm', name:'Cm'}]"
				itemName="Unit"
				[canSearch]="false"
				[canCreate]="false"
				[multiple]="false"
				bindLabel="name"
				bindValue="id"
				(change)="value.unit = $event">
				<ng-template let-item="item">
					{{ item.name }}
				</ng-template>
			</selector-app -->
			<ng-select [items]="[{id:'cm', name:'Cm'}]"
           bindLabel="name"
           bindValue="id"
					 [(ngModel)]="value.unit"
					 [clearable]="false">
			</ng-select>
		</field-cell-app>
	</div>
	<div class="flex flexBetween">
		<!-- Quantity -->
		<field-cell-app #cell5 [inlineLabel]="false" class="item large">
			<label-app>Quantity</label-app>
			<input inputApp
				#inp5
				restrictInput="number"
				autofocus="true"
				[value]="value?.itemsQuantity"
				(input)="accumulateNested('itemsQuantity', +inp5.value)"
				type="number"/>
		</field-cell-app>

		<!-- weight -->
		<field-cell-app #cell6 [inlineLabel]="false" class="item">
			<label-app>Weight</label-app>
			<input inputApp
				#inp6
				restrictInput="number"
				autofocus="true"
				[value]="value?.weight"
				(input)="accumulateNested('weight', +inp6.value)"
				type="number"/>
		</field-cell-app>

		<!-- weigth units -->
		<field-cell-app [inlineLabel]="false" class="item">
			<label-app>Unit</label-app>
			<!-- selector-app
				[(ngModel)]="value.weightUnit"
				[choices]="[{id:'cm', name:'Cm'}]"
				itemName="Unit"
				[canSearch]="false"
				[canCreate]="false"
				[multiple]="false"
				bindLabel="name"
				bindValue="id">
				<ng-template let-item="item">
					{{ item.name }}
				</ng-template>
			</selector-app -->
			<ng-select [items]="[{id:'cm', name:'Cm'}]"
           bindLabel="name"
           bindValue="id"
					 [(ngModel)]="value.weightUnit"
					 [clearable]="false">
			</ng-select>
		</field-cell-app>
	</div>
</div>
