

<search-bar-animated-app>
	<input inputApp (keydown.enter)="onEnter()" [formControl]="searchControl" placeholder="Type to search"/>
</search-bar-animated-app>


<div *ngIf="smartPanelVisible" class="smartCtnr">
	<ng-container *ngIf="smartSearch$ | async as smartSearch">
		<filter-smart-panel-app
			class="z-3"
			(clickOutside)="closeSmartSearch()"
			[selection]="filterMap$ | async"
			[smartSearch]="smartSearch"
			(filterAdded)="addFromSmart($event)"
			(filterRemoved)="removeFromSmart($event)"></filter-smart-panel-app>
	</ng-container>

</div>
