<!-- <input type="text" placeholder="Search" (keyup)="search($event.target.value)" />
<icon-app  [fa]="true" name="search" color="primary" size="xl"></icon-app> -->

<search-bar-animated-app>
	<input inputApp (keydown.enter)="search()" [formControl]="searchControl" placeholder="Type to search"/>
</search-bar-animated-app>


<div *ngIf="smartSearch$ | async as smartSearch" class="smartCtnr">
	<filter-smart-panel-app
		class="z-3"
		*ngIf="smartPanelVisible"
		(clickOutside)="closeSmartSearch()"
		[selection]="smartSearchSelection$ | async"
		[smartSearch]="smartSearch"
		(itemAdded)="addFromSmart($event)"
		(itemRemoved)="removeFromSmart($event)"></filter-smart-panel-app>
</div>
