<selection-bar-app
	[isShown]="isShown"
	[selection]="selection"
	(close)="close.emit()">
	<div class="flex elements-container">
		<context-menu-app>
			<context-menu-trigger-app>
				<button class="secondary-light flexCenter with-name">
					<icon-app class="color-action" name="heart"></icon-app>
					Like
				</button>
			</context-menu-trigger-app>
			<context-menu-item-app (click)="thumbUp()">
				<icon-app [ngClass]="{'color-primary': like, 'color-txt-secondary': !like}" name="thumbs-up"></icon-app>
				Like
			</context-menu-item-app>
			<context-menu-item-app (click)="thumbDown()">
				<icon-app [ngClass]="{'color-warn': dislike, 'color-txt-secondary': !dislike}" name="thumbs-down"></icon-app>
				Dislike
			</context-menu-item-app>
			<context-menu-item-app>
				<rating-heart-app
					[favorite]="favorite"
					(favorited)="favorited.emit()"
					(unfavorited)="unfavorited.emit()">
				 </rating-heart-app>
				Favorite
			</context-menu-item-app>
		</context-menu-app>

		<!-- <status-selector-app
			toolTip toolTipMessage="Change status" toolTipPosition="above-right"
			#workActionMenu
			selectSize="s"
			[typeEntity]="erm.PRODUCT"
			type="multiple-selection"
			[internalUpdate]="false"
			(statusUpdated)="this.listSrv.updateSelected({status: $event})">
		</status-selector-app> -->
		<button class="secondary-light flexCenter with-name">
			<icon-app class="color-primary" name="project"></icon-app>
			Add to project
		</button>
		<button class="secondary-light flexCenter with-name">
			<icon-app class="color-success" name="feedback"></icon-app>
			Compare products
		</button>
		<button class="secondary-light flexCenter with-name">
			<icon-app name="export"></icon-app>
			Export selection
		</button>
		<context-menu-app>
			<context-menu-trigger-app>
				<button class="icon light">
					<icon-app name="dots-vertical" size="m"></icon-app>
				</button>
			</context-menu-trigger-app>
			<context-menu-item-app (click)="export.emit()">
				Export
			</context-menu-item-app>
			<context-menu-item-app (click)="requestTeamFeedback.emit()">
				Request For Team Feedback
			</context-menu-item-app>
			<context-menu-item-app (click)="compareProducts.emit()">
				Compare Product
			</context-menu-item-app>
		</context-menu-app>
	</div>
</selection-bar-app>