<kanban-app
	[cols]="columns$ | async"
	[width]="354"
	[cardTemplate]="card"
	[selection]="listSrv.selection"
	[amountLoaded]="amountLoaded"
	(drop)="updateSampleStatus($event)"
	(multipleDrop)="updateSamplesStatus($event)"
	(selectColumn)="onColumnSelected($event)"
	(unselectColumn)="onColumnUnselected($event)"
	(loadMore)="loadMore($event)">
</kanban-app>

<ng-template #card let-data="data">
	<sample-card-app
		[sample]="data"
		[checked]="selection?.has(data.id)"
		(select)="listSrv.selectOne($event)"
		(unselect)="listSrv.unselectOne($event)"
		(previewClick)="listSrv.openPreview($event)">
	</sample-card-app>
</ng-template>