<kanban-app
	[cols]="columns$ | async"
	[width]="354"
	[cardTemplate]="card"
	[amountLoaded]="amountLoaded"
  (drop)="onUpdateSampleStatus($event)"
  (multipleDrop)="onUpdateSamplesStatus($event)"
  (loadMore)="loadMore($event)">
</kanban-app>

<ng-template #card
	let-data="data"
	let-column="column"
	let-dragInProgress="dragInProgress"
	let-checked="checked"
	let-selectItem="selectItem"
	let-unselectItem="unselectItem"
	let-previewClick="previewClick">
	<sample-card-app
		[sample]="data"
		[enablePreviewLink]="true"
		[highlightOnChecked]="true"
    [checked]="kanbanSelectionSrv.selection.has(data.id)"
    (clickImage)="preview.emit(data)"
    (select)="onSelectedOne($event, column)"
    (unselect)="onUnselectedOne($event)">
	</sample-card-app>
</ng-template>
