<!-- closed -->
<div
	*ngIf="this.editableValueVisible()"
	class="displayValue flex"
	[ngClass]="{ 'pointer': !readonly }"
	[ngStyle]="{ 'width' : hasDisplayValuePadding ? 'calc(100% - 4px)' : '100%'}">
	<ng-content select="editable-value-app"></ng-content>
</div>

<!-- open -->
<div 
	*ngIf="isOpen" 
	class="flex flexGrow flexVAlign openBlock" 
	(clickOutside)="close(true)">
	<ng-container *ngIf="!isModal">
		<ng-content></ng-content>
		<editable-actions-app 
			*ngIf="hasAction"
			(cancel)="cancel()"
			(save)="save()">
		</editable-actions-app>
	</ng-container>
</div>
