:host {
	display: flex;
	align-items: center;
	max-width: 100%;
	box-sizing: border-box;
	min-width: 10px;
	border-radius: var(--border-radius);
	&.with-overflow {
		margin-left: -8px;
		padding: 4px 8px;
	&.open {
		padding-bottom: 2px;
	}
	}

	&.open {
		.openBlock {
			border-bottom: 1px solid var(--color-primary);
			padding-bottom: 2px;
		}
	}
}

.displayValue {
	margin-bottom: 0;
	width: 100%;
	min-width: inherit;
	border-bottom: 1px solid transparent;
}

.openBlock {
	align-items: center;
}
