<top-panel-details-app
	[title]="supplier.name"
	[links]="['activity', 'public-profile', 'products']">

	<img-app [image]="supplier.logoImage" type="supplier"></img-app>

	<div class="flex tags">
		<status-badge-app [status]="supplier.statuses[0]" [typeEntity]="typeEntity" size="mini"></status-badge-app>
		<info-badge-app *ngFor="let category of supplier.categories" icon="category">{{ category.name }}</info-badge-app>
		<info-badge-app *ngFor="let tag of supplier.tags" icon="tag">{{ tag.name }}</info-badge-app>
	</div>

</top-panel-details-app>


