info-badge-app, status-selector-app {
	margin-bottom: var(--spacing-ms);
}

.subinfo-container {
	margin-bottom: 12px;
	margin-top: 4px;
	font-size: var(--font-size-m);
	.tag {
		display: inline-block;
  	color: var(--color-supplier-tag);
	}
	.adress {
		display: inline-block;
  	color: var(--color-txt-primary);
	}
}

.action-list {
	user-picture-app,
	status-selector-app,
	button {
		display: inline-block;
		margin-left: var(--spacing-ms);
	}
	.rounded {
		min-width: var(--spacing-xl);
    border-radius: var(--spacing-m);
    height: var(--spacing-xl);
    font-size: var(--font-size-s);
    padding: 0;
	}

	.share,
	.like {
		background-color: var(--color-secondary);
		color: var(--color-black);
	}


	user-picture-app {
		display: inline-block;
	}
	context-menu-app,
	user-picture-app {
    vertical-align: middle;
	}
	status-selector-app {
    display: inline-flex;
	}
}
