
[subinfo] {
	font-size: var(--font-size-m);
	.tag {
		display: inline-block;
  	color: var(--color-supplier-tag);
	}
	.adress {
		display: inline-block;
  	color: var(--color-txt-primary);
	}
}

[action] {

	button, status-selector-app  {
		margin-right: var(--spacing-ms);
	}

}
