

<form-field-app>
	<label-app>Length</label-app>
	<input inputApp restritInput="decimal" type="number"/>
</form-field-app>

<form-field-app>
	<label-app>Width</label-app>
	<input inputApp restritInput="decimal" type="number"/>
</form-field-app>

<form-field-app>
	<label-app>Height</label-app>
	<input inputApp restritInput="decimal" type="number"/>
</form-field-app>

<form-field-app>
	<label-app>Units</label-app>
	<input inputApp type="text"/>
</form-field-app>

<form-field-app class="quantity">
	<label-app>Quantity</label-app>
	<input inputApp restritInput="decimal" type="number"/>
</form-field-app>

<form-field-app>
	<label-app>Weight</label-app>
	<input inputApp restritInput="decimal" type="number"/>
</form-field-app> 

<form-field-app>
	<label-app>Units</label-app>
	<input inputApp type="text"/>
</form-field-app> 