.row {
	padding-right: var(--spacing-ms);

	.sample-reference {
		width: 25%;
		img-app {
			margin-right: var(--spacing-ms);
			max-width: 25px;
			max-height: 25px;
		}
	}

	.sample-name {
		width: 35%;
	}

	.sample-user {
		width: 25%;

		user-picture-app {
			margin-right: var(--spacing-s);
		}
	}

	.sample-status {
		width: 15%;
	}
}

// for the ellipsis with centered items to work we have to surround the span with a div with these properties
.display-name {
	display: flex;
	align-items: center;
}
