<div class="flexStart row">
	<!-- reference -->
	<div class="flex sample-reference ellipsis pointer">
		<img-app [image]="sample?.images ? sample.images[0] : null" type="sample" size="s"></img-app>
		<div class="flexCenter" >{{ sample?.reference || 'No reference' }}</div>
	</div>

	<!-- name -->
	<div class="flexStart sample-name ellipsis" (click)="previewClicked.emit(sample)">
		{{ sample?.name || 'Unnamed Sample'}}
	</div>

	<div
		class="flex sample-user"
		cdkOverlayOrigin
		#trigger="cdkOverlayOrigin"
		(click)="toggleMenu()">
		<!-- DONT ERASE THIS IN CASE THE TASK MENU != TASK WORKSPACE -->
		<!-- we call 2 times the selctor method since it has 2 different styling offsets -->
		<user-picture-app [user]="sample?.assignee" [size]="20" [border]="true"></user-picture-app>
		<span>{{ sample?.assignee?.firstName }} {{ sample?.assignee?.lastName }}</span>
		<cdk-overlay-app
			*ngIf="menuOpen"
			[trigger]="trigger"
			[isOpen]="menuOpen"
			[offsetY]="-22"
			(clickOutside)="closeMenu()">
			<selector-entity-app
				#selector
				style="width: 200px;"
				type="user"
				(clickOutside)="closeMenu()"
				(change)="updateAssignee($event)">
			</selector-entity-app>
		</cdk-overlay-app>
	</div>

	<!-- sample status -->
	<div class="sample-status">
		<status-selector-app
			[entity]="sample"
			[typeEntity]="erm.SUPPLIER"
			[offsetX]="-15">
		</status-selector-app>
	</div>
</div>