<div class="flexStart row">
	<!-- reference -->
	<div class="flex col-25 sample-reference display-name pointer">
		<img-app [image]="sample?.images ? sample.images[0] : null" type="sample" size="xs"></img-app>
		<span class="ellipsis">{{ sample?.reference || 'No reference' }}</span>
	</div>

	<!-- name -->
	<div class="col-35 sample-name display-name" (click)="previewClicked.emit(sample)">
		<span class="ellipsis">
			{{ sample?.name || 'Unnamed Sample'}}
		</span>
	</div>

	<div
		class="flex col-25 sample-user display-name"
		cdkOverlayOrigin
		#trigger="cdkOverlayOrigin"
		(click)="toggleMenu()">

		<user-picture-app [user]="sample?.assignee" [size]="20" [border]="true"></user-picture-app>
		<span class="ellipsis capitalize">{{ sample?.assignee?.firstName }} {{ sample?.assignee?.lastName ? sample?.assignee?.lastName[0] + '.' : '' }}</span>
		<cdk-overlay-app
			*ngIf="menuOpen"
			[trigger]="trigger"
			[isOpen]="menuOpen"
			[offsetY]="-27"
			(clickOutside)="closeMenu()">
			<selector-entity-app
				#selector
				style="width: 285px;"
				type="user"
				(clickOutside)="closeMenu()"
				(change)="updateAssignee($event)">
			</selector-entity-app>
		</cdk-overlay-app>
	</div>

	<!-- sample status -->
	<div class="col-15 sample-status">
		<status-selector-app
			[entity]="sample"
			[typeEntity]="erm.SAMPLE"
			[offsetX]="-15">
		</status-selector-app>
	</div>
</div>