<div class="flexStart row">
	<!-- name -->
	<div class="flex task-name ellipsis pointer">
		<!-- <icon-app class="pointer" [ngClass]="{'color-success': task?.done, 'color-secondary': !task?.done}" [name]="task?.done ? 'check-round' : 'check-empty-round'" (click)="toggleDoneStatus()"></icon-app> -->
		<div class="flexCenter" (click)="previewClicked.emit(sample)">{{ sample?.name || 'Unnamed sample' }}</div>
	</div>

	<!-- if product -->
	<!-- <div *ngIf="hasProduct" class="flexStart task-product ellipsis">
		<div *ngIf="task?.product" class="flex ellipsis" (click)="openProduct.emit(task?.product?.id || null)">
			<img-app [size]="'xs'" [image]="task?.product?.images"></img-app>
			{{ task?.product?.name || 'Unnamed product'}}
		</div>
	</div> -->

	<!-- if supplier -->
	<!-- <div *ngIf="hasSupplier" class="flexStart task-supplier ellipsis">
		<div *ngIf="task?.supplier" class="flex ellipsis" (click)="openSupplier.emit(task?.supplier?.id || null)">
			<img-app [size]="'xs'" [image]="task?.supplier?.logoImage"></img-app>
			{{ task?.supplier?.name || 'Unnamed suppler' }}
		</div>
	</div> -->

	<!-- user+name column -->
	<!-- <div *ngIf="fullUser" class="flex task-user"> DONT ERASE THIS IN CASE THE TASK MENU != TASK WORKSPACE
		we call 2 times the selctor method since it has 2 different styling offsets
	</div> -->

	<!-- sample status -->
</div>