<carousel-entity-app></carousel-entity-app>
<ng-container *ngIf="product$ | async as product">
	<basic-info-actions-app [productId]="product.id"></basic-info-actions-app>
	<basic-info-icons-info-app></basic-info-icons-info-app>
	<basic-info-text-info-app [product]="product"></basic-info-text-info-app>

	<ng-container *ngIf="tags$ | async as tags">
		<ng-container *ngIf="!tags.pending; else spinner">
			<input-select-entity-app [multi]="true" [entityRep]="tagsRep"
				(itemAdded)="onTagAdded($event)" (itemRemoved)="onTagRemoved($event)"
				[value]="tags.tags"></input-select-entity-app>
		</ng-container>
	</ng-container>

	<ng-template #spinner>
		<spinner-app size="small"></spinner-app>
	</ng-template>

</ng-container>
