<carousel-entity-app [target]="target"></carousel-entity-app>
<ng-container *ngIf="product$ | async as product">
	<basic-info-actions-app [productId]="product.id"></basic-info-actions-app>
	<basic-info-icons-info-app></basic-info-icons-info-app>
	<basic-info-text-info-app [product]="product"></basic-info-text-info-app>
	<ng-container *ngIf="tags$ | async as tags">
		<input-select-entity-app [multi]="true" [entityRep]="tagsRep"
			(itemAdded)="onTagAdded($event)" (itemRemoved)="onTagRemoved($event)"
			[value]="tags"></input-select-entity-app>
	</ng-container>

</ng-container>
