<input type="search" class="fullWidth" placeholder="Search" [(ngModel)]="search"
	(keyup)="onChange()"/>
<div (clickOutside)="closeSmartSearch()" 
	class="card searchTerms" 
	*ngIf="(searchTerms$ | async)?.length > 0">
	<div *ngFor="let entity of (searchTerms$ | async)" class="flexColumn">
		<div class="title">{{ entity.entityRepr.entityName }}</div>
		<mat-checkbox *ngFor="let value of entity.values" 
			[checked]="value.checked" 
			(change)="onFilterChange($event, entity.entityRepr.entityName, value.name, value.id)">
			{{ value.name }}
		</mat-checkbox>
	</div>	
</div>

