<input type="search" class="fullWidth" placeholder="Search" [(ngModel)]="search"
	(keydown)="onChange()" />

<ng-container *ngIf="(searchTerms$ | async) as searchTerms">
	<div (clickOutside)="closeSmartSearch()" 
		class="card searchTerms" 
		*ngIf="searchTerms.length > 0">
		<div *ngFor="let entity of searchTerms" class="flexColumn">
			<div class="title">{{ entity?.entityRepr?.entityName }}</div>
			<mat-checkbox *ngFor="let value of entity.values" 
				[checked]="value.checked" 
				(change)="onFilterChange($event, entity.entityRepr, value.name, value.id)">
				{{ value.name }}
			</mat-checkbox>
		</div>	
	</div>		
</ng-container>

