:host {
	display: block;
	padding-left: 0px;
}

.row-container {
	padding-left: var(--spacing-s);

	.file-container {
		margin-left: 20px;
		padding: var(--spacing-ms) var(--spacing-s);
		border-bottom: solid 1px var(--color-divider);
	}
	.icon-container {
    margin-top: 20px;
		display: inline-block;
	}
	.info-container {
		display: inline-block;

		.file-name {
			font-size: var(--font-size-m);
			letter-spacing: -0.3px;
			color: var(--color-txt-strong);
		}
		.file-size {
			font-size: var(--font-size-s);
			color: var(--color-txt-primary);
		}
	}
	.left {
		display: inline-block;
		float: left;

		icon-app {
			cursor: default;
			color: var(--color-secondary-dark)
		}
	}

	.space-icon {
		height: var(--spacing-xl);
		width: var(--spacing-xl);
		margin-right: var(--spacing-ms);
	}

	.right {
    margin-top: 10px;
		float: right;
		icon-app {
			font-size: var(--font-size-s);
    	color: var(--color-secondary-dark)
		}
	}

	&:hover {
		background-color: var(--color-list-hover);
	}
}
