<card-app class="mg-l">
	<card-title-app>Colors list</card-title-app>
	<table>
		<thead>
			<td>Name</td>
			<td>Color</td>
			<td>Dark</td>
			<td>Light</td>
			<td>Text</td>
			<td>Text Dark</td>
			<td>Text Light</td>
			<td>Text Hower</td>
			<td>Background</td>
			<td>Background Dark</td>
			<td>Background Light</td>
		</thead>
		<tbody>
			<tr *ngFor="let color of colors">
				<td>{{ color }}</td>
				<td><div class="color-example bg-{{ color }}"></div></td>
				<td><div class="color-example bg-{{ color }}-dark"></div></td>
				<td><div class="color-example bg-{{ color }}-light"></div></td>
				<td><span class="color-{{ color }}">.color-{{ color }}</span></td>
				<td><span class="color-{{ color }}-dark">.color-{{ color }}-dark</span></td>
				<td><span class="color-{{ color }}-light">.color-{{ color }}-light</span></td>
				<td><span class="color-{{ color }}-hover">.color-{{ color }}-hover</span></td>
				<td><div class="bg-{{ color }}">.bg-{{ color }}</div></td>
				<td><div class="bg-{{ color }}-dark">.bg-{{ color }}-dark</div></td>
				<td><div class="bg-{{ color }}-light">.bg-{{ color }}-light</div></td>
			</tr>
		</tbody>
	</table>

	<h3 class="mg-top-l mg-bottom-ms">Usage</h3>
	<p>
		You can use these colors in a class for text
		<br>
		<small>class="color-(color)"</small>
		<br>
		<small>class="color-(color)-dark"</small>
		<br>
		<small>class="color-(color)-light"</small>
	</p>
	<p>
		or for background
		<br>
		<small>class="bg-(color)"</small>
		<br>
		<small>class="bg-(color)-dark"</small>
		<br>
		<small>class="bg-(color)-light"</small>
	</p>
</card-app>

<card-app class="mg-l">

	<card-title-app>Text Colors</card-title-app>

	<table>
		<thead>
			<td>Name</td>
			<td>Color</td>
			<td>Text</td>
			<td>Background</td>
		</thead>
		<tbody>
			<tr *ngFor="let color of textColors">
				<td>{{ color }}</td>
				<td><div class="color-example bg-{{ color }}"></div></td>
				<td><span class="color-{{ color }}">.color-{{ color }}</span></td>
				<td><div class="bg-{{ color }}" [ngStyle]="{ 'color': 'white' }">.bg-{{ color }}</div></td>
			</tr>
		</tbody>
	</table>
</card-app>


<card-app class="mg-l">

	<card-title-app>Utility Colors</card-title-app>

	<table>
		<thead>
			<td>Name</td>
			<td>Color</td>
		</thead>
		<tbody>
			<tr *ngFor="let color of utilityColors">
				<td>{{ color }}</td>
				<td><div class="color-example" 
					style="border: 1px solid grey"
					[ngStyle]="{ 'background': 'var(--color-' + color + ')'}"></div></td>
			</tr>
		</tbody>
	</table>
</card-app>