<div id="content">
  <card-app>
    <h3 class="mg-l">Colors list</h3>
    <b>primary</b><br>
    <b>secondary</b><br>
    <b>warn</b><br>
    <b>success</b><br>
    <b>vibrant</b><br>
    <b>accent</b><br><br>
    <p>
      You can use these colors in a class for text
      <br>
      <small>class="color-(color)"</small>
      <br>
      <small>class="color-(color)-dark"</small>
      <br>
      <small>class="color-(color)-light"</small>
    </p>
    <p>
      or for background
      <br>
      <small>class="bg-(color)"</small>
      <br>
      <small>class="bg-(color)-dark"</small>
      <br>
      <small>class="bg-(color)-light"</small>
    </p>
  </card-app>
  <card-app>
    <h3 class="mg-l">Text colors</h3>
    <b>primary</b><br>
    <p class="color-primary">class="color-primary"</p>
    <p class="color-primary-dark">class="color-primary-dark"</p>
    <p class="color-primary-light">class="color-primary-light"</p>
    <b>secondary</b><br>
    <p class="color-secondary">class="color-secondary"</p>
    <p class="color-secondary-dark">class="color-secondary-dark"</p>
    <p class="color-secondary-light">class="color-secondary-light"</p>
    <b>warn</b><br>
    <p class="color-warn">class="color-warn"</p>
    <p class="color-warn-dark">class="color-warn-dark"</p>
    <p class="color-warn-light">class="color-warn-light"</p>
    <b>success</b><br>
    <p class="color-success">class="color-success"</p>
    <p class="color-success-dark">class="color-success-dark"</p>
    <p class="color-success-light">class="color-success-light"</p>
    <b>vibrant</b><br>
    <p class="color-vibrant">class="color-vibrant"</p>
    <p class="color-vibrant-dark">class="color-vibrant-dark"</p>
    <p class="color-vibrant-light">class="color-vibrant-light"</p>
    <b>accent</b><br>
    <p class="color-accent">class="color-accent"</p>
    <p class="color-accent-dark">class="color-accent-dark"</p>
    <p class="color-accent-light">class="color-accent-light"</p>
  </card-app>
  <card-app>
    <h3 class="mg-l">Background colors</h3>
    <b>primary</b><br>
    <p class="bg-primary">class="bg-primary"</p>
    <p class="bg-primary-dark">class="bg-primary-dark"</p>
    <p class="bg-primary-light">class="bg-primary-light"</p>
    <b>secondary</b><br>
    <p class="bg-secondary">class="bg-secondary"</p>
    <p class="bg-secondary-dark">class="bg-secondary-dark"</p>
    <p class="bg-secondary-light">class="bg-secondary-light"</p>
    <b>warn</b><br>
    <p class="bg-warn">class="bg-warn"</p>
    <p class="bg-warn-dark">class="bg-warn-dark"</p>
    <p class="bg-warn-light">class="bg-warn-light"</p>
    <b>success</b><br>
    <p class="bg-success">class="bg-success"</p>
    <p class="bg-success-dark">class="bg-success-dark"</p>
    <p class="bg-success-light">class="bg-success-light"</p>
    <b>vibrant</b><br>
    <p class="bg-vibrant">class="bg-vibrant"</p>
    <p class="bg-vibrant-dark">class="bg-vibrant-dark"</p>
    <p class="bg-vibrant-light">class="bg-vibrant-light"</p>
    <b>accent</b><br>
    <p class="bg-accent">class="bg-accent"</p>
    <p class="bg-accent-dark">class="bg-accent-dark"</p>
    <p class="bg-accent-light">class="bg-accent-light"</p>
  </card-app>
  <card-app>
    <h3 class="mg-l">Other colors</h3>
    <b>Text</b><br>
    <p class="color-bg-dark">class="color-bg-dark"</p>
    <p class="color-in-progress">class="color-in-progress"</p>
    <p class="color-supplier">class="color-supplier"</p>
    <p class="color-txt-primary">class="color-txt-primary"</p>
    <p class="color-txt-secondary">class="color-txt-secondary"</p>
    <p class="color-txt-third">class="color-txt-third"</p>
    <p class="color-txt-dark">class="color-txt-dark"</p>
    <p class="color-txt-light">class="color-txt-light"</p>
    <p class="color-txt-strong">class="color-txt-strong"</p>
    <b>Background</b><br>
    <p class="bg-new">class="bg-new"</p>
    <p class="bg-validated">class="bg-validated"</p>
    <p class="bg-rejected">class="bg-rejected"</p>
    <p class="bg-in-progress">class="bg-in-progress"</p>
    <p class="bg-inspiration">class="bg-inspiration"</p>
    <p class="bg-white">class="bg-white"</p>
  </card-app>
</div>