
<top-panel-app
	[title]="'title.my-workspace' | translate"
	[hasAction]="false">

	<nav class="flex">
		<span
			routerLink="/workspace/my-workflow"
			routerLinkActive="active"
			translate="nav.my-workflow">
		</span>
		<span
			routerLink="/workspace/my-tasks"
			routerLinkActive="active"
			translate="nav.my-tasks">
		</span>
		<span
			routerLink="/workspace/my-samples"
			routerLinkActive="active"
			translate="nav.my-samples">
		</span>
	</nav>
</top-panel-app>

<router-outlet></router-outlet>
