
<top-panel-app
	title="My Workspace"
	[hasAction]="false">

	<nav class="flex">
		<span 
			routerLink="/workspace/my-workflow" 
			routerLinkActive="active"
			i18n="nav@@my-workflow">
			My Workflow
		</span>
		<span 
			routerLink="/workspace/my-tasks" 
			routerLinkActive="active"
			i18n="nav@@my-tasks">
			My Tasks
		</span>
		<span 
			routerLink="/workspace/my-samples" 
			routerLinkActive="active"
			i18n="nav@@my-samples">
			My Samples
		</span>
	</nav>
</top-panel-app>

<router-outlet></router-outlet>
