context-menu-trigger-app {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
    background-color: var(--color-primary);
	padding-left: 25px;
    padding-right: 10px;
    margin-right: 15px;

	.text {
		color: #fff;
		border-radius: 4px;
		font-size: var(--font-size-m);
	}

	.selector {
        color: #fff;
	}

}

context-menu-item-app {
	width: 200px;

	&.remove-user {
		color: var(--color-warn);
	}
}

nav {
	> * {
		width: 140px;
		font-size: var(--font-size-l);
		display: block;
		height: 28px;
		border-bottom: 2px solid transparent;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		text-align: center;
		cursor: pointer;
		&.active {
			font-weight: bold;
			color: var(--color-primary);
			border-color: var(--color-primary);
		}
	}
}
