<table-app
	[rows]="rows"
	[hasSelection]="false"
	[hasMenu]="false"
	[pending]="pending"
	[selected]="selection"
	placeholder="No requests"
	[total]="total"
	[currentPage]="currentPage"
	(goToPage)="goToPage.emit($event)"
	(sort)="sort.emit($event)">

	<!-- request name -->
	<ng-template
		columnApp="Title"
		sortBy="title"
		let-row="row"
		width="300">
		<div class="mainCell ellipsis">
			<span class="capitalize ellipsis">
				<a class="name txt-btn title" [routerLink]="['/requests', row.id]">
					{{ row?.title }}
				</a>
			</span>
		</div>
	</ng-template>

	<!-- sender -->
	<ng-template
		columnApp="From"
		sortBy="sender.name"
		let-row="row"
		width="220">
		<div class="capitalize ellipsis">
			{{ row?.sender?.name }}
		</div>
	</ng-template>

	<!-- company -->
	<ng-template
		columnApp="Company"
		sortBy="sender.company"
		let-row="row"
		width="250">
		<div class="capitalize ellipsis">
			{{ row?.sender?.company }}
		</div>
	</ng-template>

	<!-- # products -->
	<ng-template
		columnApp="# Products"
		[sortable]="false"
		let-row="row"
		width="90">
		<div class="fs-l color-black bold-s">
			{{ row?.requestElements?.length }}
		</div>
	</ng-template>

	<!-- sent date-->
	<ng-template
		columnApp="Recieved On"
		sortBy="sentDate"
		let-row="row"
		width="220">
		<div>
			{{ 'OBJ.date-at-time' | translate : { date: (row?.sentDate | date: 'dd MMMM yyyy':'':translate.currentLang) , time: (row?.sentDate | date: 'HH:mm':'':translate.currentLang)  } }}
		</div>
	</ng-template>

	<!-- status-->
	<ng-template
		columnApp="Status"
		sortBy="status"
		let-row="row"
		width="200">
		<request-status-badge-app
			[status]="row?.status"
			[creationDate]="row?.sentDate"
			[isTeam]="false">
		</request-status-badge-app>
	</ng-template>

</table-app>