<selector-app
	[(ngModel)]="value"
	[choices]="choices$ | async"
	[itemName]="type"
	[canSearch]="true"
	[canCreate]="canCreate"
	[multiple]="multiple"
	(change)="onChange()"
	(blur)="onBlur()"
	(create)="create($event)"
	[bindLabel]="propertyName">

	<ng-template let-item="item">
		<ng-container *ngTemplateOutlet="template; context: { item: item }"></ng-container>
	</ng-template>

</selector-app>

<ng-template #defaultTemplate let-item="item">

	<div class="flex flexVAlign">
		<img *ngIf="item | logo:type" [src]="item | logo:type"/>
		<span>{{ item[propertyName] }}</span>
	</div>

</ng-template>

<ng-template #userTemplate let-item="item">
	<div class="flex">
		<img *ngIf="item | logo:type" [src]="item | logo:type"/>
		<span>{{ item?.firstName }} {{ item?.lastName }}</span>
	</div>

</ng-template>
