<dialog-app contentOverflow="hidden" [hasBorder]="false">
	<dialog-header-app translate="Select Projects"></dialog-header-app>

<controller-table-app>
		<controller-table-quick-filters-app></controller-table-quick-filters-app>
		<controller-table-quick-actions-app></controller-table-quick-actions-app>
	</controller-table-app>


	<div class="flex table-ctnr">

		<projects-table-app
			[hasShowItemsPerPage]="false"
			[hasMenu]="false"
			[hasPagination]="false"
			[navigation]="false"
			[selection]="selectionSrv.selection$ | async"
			[rows]="listHelper.filteredItems$ | async"
			[pending]="listHelper.pending"
			(select)="select($event)"
			(unselect)="unselect($event)"
			(selectAll)="selectAll($event)"
			(unselectAll)="unselectAll()"
			(delete)="listHelper.delete($event)">
		</projects-table-app>
			<!-- [total]="listSrv.count$ | async" -->
			<!-- [currentSort]="listSrv.currentSort" -->
			<!-- [currentPage]="listSrv.currentPage" -->
			<!-- (goToPage)="listSrv.loadPage($event)" -->
			<!-- (sort)="listSrv.sort($event)" -->

		<filters-app
			*ngIf="viewSrv.filterPanelOpen"
			[filterTypes]="filterTypes"
			[sidePanel]="false"
			(close)="viewSrv.closeFilterPanel()">
		</filters-app>

	</div>


	<dialog-footer-app class="flexVAlign flexBetween pagination-footer">
		<!-- <pagination-app
			[total]="listSrv.count$ | async"
			[currentPage]="listSrv.currentPage"
			[hasPageItemsCount]="false"
			[hasTopPadding]="false"
			(goToPage)="listSrv.loadPage($event)">
		</pagination-app> -->
		<div class="flex flexVAlign">
			<div class="product-action">
				<span class="selected-product-count">{{ selectedProjectsCount }}</span>
				<span class="selected-product">Project Selected</span>
			</div>
			<button class="primary-light cancel secondary capitalize" (click)="cancel()" translate="button.cancel"></button>
			<button class="add-to-project capitalize" (click)="submit()" translate="button.add-to-project"></button>
		</div>
	</dialog-footer-app>

	<ng-template #footer>
		<div class="flexVAlign">

		</div>
	</ng-template>

	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>
</dialog-app>
