<dialog-app contentOverflow="hidden" [hasBorder]="false">

	<dialog-header-app translate="Select Projects"></dialog-header-app> <!-- TODO: translation to be added -->

	<controller-table-app>
		<controller-table-quick-filters-app></controller-table-quick-filters-app>
		<controller-table-quick-actions-app></controller-table-quick-actions-app>
	</controller-table-app>

	<div class="flex table-ctnr">

		<projects-table-app
			[hasShowItemsPerPage]="false"
			[hasMenu]="false"
			[hasPagination]="false"
			[navigation]="false"
			[selection]="selectionSrv.selection$ | async"
			[rows]="listSrv.items$ | async"
			[pending]="listSrv.pending"
			[count]="listSrv.count$ | async"
			[currentSort]="listSrv.currentSort"
			[currentPage]="listSrv.currentPage"
			(goToPage)="listSrv.loadPage($event)"
			(select)="select($event)"
			(unselect)="unselect($event)"
			(selectAll)="selectAll($event)"
			(unselectAll)="unselectAll()"
			(sort)="listSrv.sort($event)"
			(delete)="listSrv.deleteOne($event)">
		</projects-table-app>
	
		<filters-app
			*ngIf="viewSrv.filterPanelOpen"
			[filterTypes]="filterTypes"
			[sidePanel]="false"
			(close)="viewSrv.closeFilterPanel()">
		</filters-app>
		
	</div>

	<dialog-footer-app class="flexVAlign flexBetween pagination-footer">
		<pagination-app
			[count]="listSrv.count$ | async"
			[currentPage]="listSrv.currentPage"
			[hasPageItemsCount]="false"
			[hasTopPadding]="false"
			(goToPage)="listSrv.loadPage($event)">
		</pagination-app>
		<div class="flex flexVAlign">
			<div class="product-action">
				<span class="selected-product-count">{{ selectedProjectsCount }}</span>
				<span class="selected-product">Project Selected</span> <!-- TODO: add translation -->
			</div>
			<button class="primary-light cancel secondary capitalize" (click)="cancel()" translate="button.cancel"></button>
			<button class="add-to-project capitalize" (click)="submit()" translate="button.add-to-project"></button>
		</div>
	</dialog-footer-app>

	<ng-template #footer>
		<div class="flexVAlign">

		</div>
	</ng-template>

	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>
</dialog-app>
