<div class="label">
  <label-app>{{ label }}</label-app>
</div>

<div *ngFor="let value of values; trackBy: trackByFn" class="value ellipsis">
	<ng-container
		*ngTemplateOutlet="template; context: { value: value }">
	</ng-container>
</div>

<div class="checkbox">
	<!-- we do the style like this for the row when it behaves as title that do not have checkbox, but they still need to be aligned with the items -->
	<checkbox-app
		[ngStyle]="{visibility: hasCheckbox ? 'visible' : 'hidden'}"
		[value]="checked"
		boxColor="success"
		(check)="selected.emit()"
		(uncheck)="unselected.emit()">
	</checkbox-app>
</div>
