<div class="label">
  <label-app>{{ label }}</label-app>
</div>

<div *ngFor="let value of values" class="value">
  {{ value }}
</div>

<div class="checkbox">
	<!-- we do the style like this for the row when it behaves as title that do not have checkbox, but they still need to be aligned with the items -->
	<checkbox-app
		[ngStyle]="{visibility: hasCheckbox ? 'visible' : 'hidden'}"
		[checked]="isChecked"
		boxColor="success"
		(check)="selected.emit()"
		(uncheck)="unselected.emit()">
	</checkbox-app>
</div>
