<h3 *ngIf="title" class="ms"> {{ title }} </h3>

<div class="flex" [ngStyle]="subPanelDialog && filtersPanelOpened && {'width': 'calc(100% - 296px)'}">

	<div
		class="search-container flex">
		<ng-content select="search-autocomplete-app"></ng-content>

		<search-bar-app
			*ngIf="hasSearch"
			[formControl]="searchControl"
			[inputFocus]="inputFocus"
			searchType="short"
			[placeHolder]="'placeholder.type-to-search' | translate"
			(focus)="onFocusSearch($event)"
			(search)="search.emit($event)"
			(keydown.enter)="triggerSmartSearch($event)">
		</search-bar-app>

		<button
			*ngIf="hasFilter"
			class="bold-s pointer capitalize filter-button"
			(click)="showFilters.emit()" translate="button.show-filters">
		</button>
		<div class="divider"></div>

		<span class="capitalize entities-count">
			{{count}} {{ entityType }}
		</span>
	</div>

	<div class="right-container flex">
		<ng-content select="[right-sort-elem]" *ngIf="view === 'card'"></ng-content>
		<div *ngIf="hasArchived" class="show-archived-container pointer" (click)="toggleArchived()">
			<div class="flexCenter">
				<checkbox-app
					[checked]="isArchivedShown"
					[size]="15">
				</checkbox-app>
				{{'label.show-archived' | translate}}
			</div>
		</div>
		<div
			*ngIf="hasTaskCreatedByMeOnly"
			class="tasks-created-by-me-container pointer"
			(click)="toggleCreatedTaskOnly()">
			<div class="flexCenter">
				<checkbox-app
					[checked]="isTaskCreatedByMeOnlyChecked"
					[size]="15">
				</checkbox-app>
				{{'label.show-tasks-i-created-only' | translate}}
			</div>
		</div>
		<div
			*ngIf="hasCompletedTask"
			class="show-completed-container pointer"
			(click)="toggleCompletedTask()">
			<div class="flexCenter">
				<checkbox-app
					[checked]="isCompletedTaskChecked"
					[size]="15">
				</checkbox-app>
				{{'label.show-completed' | translate}}
			</div>
		</div>
		<div *ngIf="hasAssigned" class="assigned-to-me-container pointer" (click)="toggleAssigned()">
			<div class="flexCenter">
				<checkbox-app
					[checked]="isAssigned"
					[size]="15">
				</checkbox-app>
				{{'label.assigned-to-me' | translate}}
			</div>
		</div>
		<div *ngIf="hasMyExport" class="my-exports-only-container pointer" (click)="toggleMyExport()">
			<div class="flexCenter">
				<checkbox-app
					[checked]="isMyExport"
					[size]="15">
				</checkbox-app>
				Show my exports only
			</div>
		</div>

		<button *ngIf="hasFilter && !filtersPanelOpened && hasExport" class="flexCenter bold-s pointer capitalize export-button"
			(click)="export.emit()" translate="button.export">
			<icon-app name="close-pane-bottom" size="m"></icon-app>
		</button>

		<button
			*ngIf="buttonName"
			class="create first-uppercase"
			(click)="buttonClick.emit()">
			<span class="first-uppercase">{{ buttonName }}</span>
		</button>

		<view-switcher-app
			*ngIf="hasSwitch"
			[switchContent]="switchContent"
			[hasThumb]="hasThumb"
			[view]="view"
			(viewChange)="viewChange.emit($event)">
		</view-switcher-app>
	</div>

</div>
