<card-app  marginTitle="ms">

	<card-title-app>
		<h2>Lastest Products</h2>
	</card-title-app>

	<card-action-app>
		<button class="primary-light pd-none" (click)="navigateToProducts()">View All</button>
	</card-action-app>

	<ng-container *ngIf="latestProducts | async as products; else spinner">

		<!-- previews -->
		<multiple-product-carousel-app
			[products]="products"
			(update)="updateProduct($event)"
			(open)="viewProduct($event)"
			(previewClick)="openProductPreview($event)"
			(liked)="onThumbUp($event)"
			(disliked)="onThumbDown($event)">
		</multiple-product-carousel-app>

	</ng-container>

	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>
</card-app >