<dialog class="z-3" [open]="true" attr.role="dialog">

	<!-- header -->
	<div class="header flexBetween">
		<div class="spacer">
			<ng-content select="header"></ng-content>
		</div>

		<icon-app name="close" class="pointer" color="txt-secondary" (click)="close()"></icon-app>
	</div>
	<!-- <div class="hr"></div> -->

	<!-- content -->
	<div class="content">
		<div class="subtitle">
			<ng-content select=".subtitle"></ng-content>
		</div>
		<ng-content></ng-content>
	</div>

	<!-- footer -->
	<!-- <div class="hr"></div> -->
	<div class="footer" *ngIf="hasFooter">
		<ng-content select="footer"></ng-content>
	</div>

</dialog>