
:host{
	background: var(--color-bg);
	margin: auto;
	z-index: var(--z-dialog);
	display: inline-block;
  border-radius: var(--border-radius);
	padding: var(--spacing-ms) var(--spacing-l);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
	align-items: center;
	padding-bottom: var(--spacing-ms);
	margin-bottom: var(--spacing-ms);
  justify-content: space-between;
  color: var(--color-button-dark);
	border-bottom: 1px solid var(--color-divider);
	icon-app {
		font-size: var(--font-size-m);
	}
}

.spacer {
	display: flex;
  flex-direction: row;https://gitlab.com/showsourcing/webapps/merge_requests/634
	align-items: flex-start;
	justify-content: space-between;
	margin-top: var(--spacing-xs);
}

.content {
	height: 100%;
	flex-grow: 1;
}

.subtitle {
  padding: var(--spacing-xl);
  font-size: var(--font-size-l);
  font-weight: 600;
  color: var(--color-primary);
  text-transform: uppercase;
}


.footer {
	border-top: 1px solid var(--color-divider);
	margin-top: var(--spacing-ms);
}




