<div (click)="close()" *ngIf="isOpen$ | async as isOpen" class="modal">
  <dialog class="z-3" [open]="isOpen" (click)="$event.stopPropagation()" attr.role="dialog">
    <!-- don't add white-spaces between header and content !! -->
    <div class="header">
      <ng-content select="[header]"></ng-content>
      <div class="icon-close" (click)="close()"></div>
    </div>
    <div class="divider"></div>
    <div class="content">
      <ng-content select="[content]"></ng-content>
    </div>
    <div class="divider"></div>
    <div class="footer">
      <ng-content select="[footer]"></ng-content>
    </div>
    <!-- don't add white-spaces between footer and content !! -->
  </dialog>
  <div>
