
:host{
	background: var(--color-bg);
	margin: auto;
	z-index: var(--z-dialog);
	display: inline-block;
  border-radius: var(--border-radius);
	padding: var(--spacing-l);
	display: flex;
	flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
	align-items: flex-start;
  justify-content: space-between;
  color: var(--color-button-dark);

	icon-app {
		font-size: var(--font-size-m);
	}
}

.spacer {
	display: flex;
  flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: var(--spacing-xs);
}

.content {
	height: 100%;
	flex-grow: 1;
}

.subtitle {
  padding: var(--spacing-xl);
  font-size: var(--font-size-l);
  font-weight: 600;
  color: var(--color-primary);
  text-transform: uppercase;
}





