<h2 class="l flexStart">Quotes</h2>

<!-- list -->
<ng-container *ngIf="(listSrv.items$ | async) as requests; else spinner">
	<ng-container *ngIf="requests?.length; else placeholder">
		<!-- list -->
		<request-list-item-app
			*ngFor="let request of requests; first as first; trackBy:trackById"
			[ngStyle]="first ? { 'padding-top' : 0 } : ''"
			[request]="request"
			[selection]="listSrv.selection$ | async"
			(nameClick)="goToRequest($event)"
			(select)="listSrv.selectOne($event, true)"
			(unselect)="listSrv.unselectOne($event, true)">
		</request-list-item-app>
		<!-- buttons -->
		<div class="flex buttons-container">
			<button class="vibrant icon-with-text capitalize" (click)="openSupplierRequest()">
				<icon-app name="envelope"></icon-app>
				<span translate="button.contact-supplier"></span>
			</button>
			<divider-app *ngIf="(listSrv.selection$ | async).size > 0" [vertical]="true"></divider-app>
			<!-- <button
				*ngIf="(listSrv.selection$ | async).size > 1"
				class="capitalize"
				translate="button.compare">
				compare
			</button> -->
			<button
				*ngIf="(listSrv.selection$ | async).size > 0"
				class="warn-light capitalize mg-left-ms"
				(click)="listSrv.deleteSelected(true)"
				translate="button.delete">
			</button>
		</div>
	</ng-container>
</ng-container>

<ng-template #placeholder>
	<entity-placeholder-app
		[type]="'SUPPLIER_REQUEST' | erm: 'singular'"
		[title]="'No requests on this product'"
		[subtitle]="'Contact a supplier'">
		<button class="vibrant icon-with-text" (click)="openSupplierRequest()">
			<icon-app name="envelope"></icon-app>
			<span translate="button.contact-supplier"></span>
		</button>
	</entity-placeholder-app>
</ng-template>

<ng-template #spinner>
	<dots-app class="flexCenter"></dots-app>
</ng-template>
