
<!-- when the value is undefined, null or 0 we display '-'.
A package with 0cm makes no sens -->
<!-- length -->
<editable-field-app
	#cell1
	[inlineLabel]="true"
	(closed)="onClose($event)"
	(opened)="inp1.select();">
	<label-app>length</label-app>
	<editable-label-app>
		{{ value?.length ? (value?.length + ' ' + value.unit) : '-' }}
	</editable-label-app>
	<form-field-app class="editable edit">
		<input inputApp
			#inp1
			restrictInput="number"
			autofocus="true"
			[value]="value?.length"
			[type]="'number'"
			(input)="accumulateNested('length', +inp1.value)"
			(keyup.enter)="cell1.close();"/>
	</form-field-app>
</editable-field-app>

<!-- width -->
<editable-field-app
	#cell2
	[inlineLabel]="true"
	(closed)="onClose($event)"
	(opened)="inp2.select();">
	<label-app>width</label-app>
	<editable-label-app>
		{{ value?.width ? (value?.width + ' ' + value?.unit) : '-' }}
	</editable-label-app>
	<form-field-app class="editable edit">
		<input inputApp
			#inp2
			restrictInput="number"
			autofocus="true"
			[value]="value?.width"
			(input)="accumulateNested('width', +inp2.value)"
			(keyup.enter)="cell2.close();"
			[type]="'number'"/>
	</form-field-app>
</editable-field-app>

<!-- height -->
<editable-field-app
	#cell3
	[inlineLabel]="true"
	(closed)="onClose($event)"
	(opened)="inp3.select();">
	<label-app>width</label-app>
	<label-app>height</label-app>
		<editable-label-app>
			{{ value?.height ? (value?.height + ' ' + value?.unit) : '-' }}
		</editable-label-app>
		<form-field-app class="editable edit">
			<input inputApp
				#inp3
				restrictInput="number"
				autofocus="true"
				[value]="value?.height"
				(input)="accumulateNested('height', +inp3.value)"
				(keyup.enter)="cell3.close();"
				[type]="'number'"/>
		</form-field-app>
</editable-field-app>

<!-- units -->
<selector2-app
	type="lengthUnit"
	[width]="180"
	[offsetY]="-34"
	[value]="accumulator.unit"
	(update)="updateAcummulator($event, 'unit'); cell4.close();">
	<editable-field-app
		#cell4
		[hasAction]="false"
		[inlineLabel]="true"
		(closed)="onClose($event)">
		<label-app>Dimension units</label-app>
		<editable-label-app>
			{{ value?.unit || '-' }}
		</editable-label-app>
	</editable-field-app>
</selector2-app>

<!-- Quantity -->
<editable-field-app
	#cell5
	[inlineLabel]="true"
	(closed)="onClose($event)"
	(opened)="inp5.select();">
	<label-app>Quantity</label-app>
	<editable-label-app>
		{{ value?.itemsQuantity ? value.itemsQuantity : '-' }}
	</editable-label-app>
	<form-field-app class="editable edit">
		<input inputApp
			#inp5
			restrictInput="number"
			autofocus="true"
			[value]="value?.itemsQuantity"
			[type]="'number'"
			(input)="accumulateNested('itemsQuantity', +inp5.value)"
			(keyup.enter)="cell5.close();"/>
	</form-field-app>
</editable-field-app>

<!-- weight -->
<editable-field-app
	#cell6
	[inlineLabel]="true"
	(closed)="onClose($event)"
	(opened)="inp6.select();">
	<label-app>Weight</label-app>
	<editable-label-app>
		{{ value?.weight ? (value?.weight + ' ' + value?.weightUnit) : '-' }}
	</editable-label-app>
	<form-field-app class="editable edit">
		<input inputApp
			#inp6
			restrictInput="number"
			autofocus="true"
			[value]="value?.weight"
			(input)="accumulateNested('weight', +inp6.value)"
			(keyup.enter)="cell6.close();"
			[type]="'number'"/>
	</form-field-app>
</editable-field-app>

<!-- weigth units -->
<selector2-app
	type="weightUnit"
	[value]="accumulator.weightUnit"
	[width]="180"
	[offsetY]="-34"
	(update)="updateAcummulator($event, 'weightUnit'); cell7.close();">
	<editable-field-app
		#cell7
		[inlineLabel]="true"
		[hasAction]="false"
		(closed)="onClose($event)">
		<label-app>units</label-app>
		<editable-label-app>
			{{ value?.weightUnit || '-' }}
		</editable-label-app>
	</editable-field-app>
</selector2-app>