.flex {
	align-items: baseline;
	justify-content: flex-end
}
.currency {
	color: var(--color-txt-secondary);
	font-weight: bold;
	font-size: var(--font-size-s);
	margin-right: var(--spacing-xs);
}

.amount {
	color: var(--color-txt-strong);
	font-size: var(--font-size-default);
}

.big {
	.currency {
		font-size: var(--font-size-default);
	}
	.amount {
		font-size: var(--font-size-l);
	}
}

:host {
	align-items: baseline;
	justify-content: flex-end;
}