.currency {
	color: var(--color-txt-secondary);
	font-size: var(--font-size-default);
	font-weight: bold;
	margin-right: var(--spacing-smaller);
}

.amount {
	color: var(--color-txt-strong);
	font-size: var(--font-size-big);
}

:host {
	align-items: baseline;
	justify-content: flex-end;
}