<h1>What's the name of your business?</h1>

<search-autocomplete-app
	#searchAutocomplete [xPosition]="0" [yPosition]="110"
	[width]="510" >
	<search-autocomplete-item-app>
		<search-autocomplete-item-content-app
			[selectable]="false"
			[title]="searchBar.inputRef.nativeElement.value"
			subtitle="Create a business with this name"
			[adding]="true"
			image='/assets/icons/add-circle.svg'
			(itemDisplayed)="createSupplier()">
		</search-autocomplete-item-content-app>
	</search-autocomplete-item-app>
	<search-autocomplete-item-app *ngFor="let result of (searchResults$ | async); first as first; trackBy: trackByFn">
		<search-autocomplete-item-content-app
			[selectable]="false"
			[title]="result.name"
			[subtitle]="supplierSubtitle(result)"
			[image]="result?.supplierImage ? result.supplierImage : '/assets/icons/supplier.svg'"
			(itemDisplayed)="itemSelected(result)">
		</search-autocomplete-item-content-app>
	</search-autocomplete-item-app>
</search-autocomplete-app>
<p class="label">Your business name</p>
<search-bar-app
	#searchBar
	[class.focus]="focus"
	[hasIcon]="false"
	[inputFocus]="true"
	placeHolder="Type your business name"
	(search)="triggerSearch($event)"
	(click)="toggleFocus(true)"
	(clickOutside)="toggleFocus(false)">
</search-bar-app>

<input class="boarding" type="submit" value="Next" (click)="nextPage()"/>
<p class="terms">
	By continuing you agree to the following
	<a target="_blank" href="#">Terms of Service</a> and <a href="#" target="_blank">Privacy Policy</a>
</p>
