<div class="ctnr z-4 notification-body-container {{ type }}">
  <div class="left-part ">
      <icon-app fontSet="fa" style="cursor: default;" [name]="iconLeft"></icon-app>
  </div>
  <div class="middle-part">
		<div *ngIf="title?.length" class="title">{{ title }}</div>
		<div *ngIf="message?.length" class="message">{{ message }}</div>
		<div *ngIf="uriMessage?.length" class="uri-message" (click)="goTo()"> {{ uriMessage }}</div>
  </div>
  <div class="right-part">
      <icon-app name="close" (click)="forceClose()"></icon-app>
  </div>
</div>
