.ctnr {
	margin: var(--spacing-m);
	background: rgb(38, 40, 48);
	color: white;
	padding: var(--spacing-m);
}
.success {
	border-left: 4px solid var(--color-success);
}
.error {
	border-left: 4px solid var(--color-warn);
}