
.ctnr {
	margin: var(--spacing-m);
}
.success {
	border-left: 4px solid var(--legacy-color-success);
}
.error {
	border-left: 4px solid var(--legacy-color-warn);
}
.warning {
	border-left: 4px solid var(--legacy-color-accent);
}
.deleted {
	border-left: 4px solid var(--legacy-color-warn);
}
.danger {
	border-left: 4px solid var(--legacy-color-warn);
}

.success {
  .left-part {
    icon-app {
      color: var(--legacy-color-success);
    }
  }
}

.warning {
  .left-part {
    icon-app {
      color: var(--legacy-color-accent);
    }
  }
}

.danger,
.error,
.deleted {
  .left-part {
    icon-app {
      color: var(--legacy-color-warn);
    }
  }
}
.notification-body-container {
  display: table;
	border-right: 1px solid var(--legacy-color-divider);
	border-top: 1px solid var(--legacy-color-divider);
  border-bottom: 1px solid var(--legacy-color-divider);
  background: white;
}

.left-part,
.middle-part,
.right-part {
  display: table-cell;
  vertical-align: middle;
}

.left-part,
.right-part {
  padding: var(--font-size-xl);
  font-size: var(--font-size-l);

}

.middle-part {
  padding: 12px;
  padding-left: 0;
  .title {
    color: var(--legacy-color-txt-strong);
    font-size: var(--font-size-m);
  }
  .message {
    color: var(--legacy-color-txt-primary);
    font-size: var(--font-size-s);
	}
	.uri-message {
		cursor: pointer;
		color: var(--legacy-color-txt-strong);
		font-size: var(--font-size-s);
		&:hover {
			color: var(--legacy-color-primary);
		}
	}
}


.right-part {
	border-left: 1px solid var(--legacy-color-divider);
  icon-app {
    color: var(--legacy-color-secondary);
    &:hover {
      color: var(--legacy-color-secondary-dark);
    }
  }
}
