
<h2 class="title">Company Settings</h2> <!-- TODO: translation to be added -->

<form [formGroup]="form">
	<form-field-app class="borderless">
		<label-app class="team-name capitalize" translate="label.company-name"></label-app>
		<input class="name-input" formControlName="name" inputApp type="text"/>
	</form-field-app>
	<form-field-app class="borderless">
		<label-app class="team-name capitalize" translate="Company Owner"></label-app> <!-- TODO: translation to be added -->
		<input class="name-input" formControlName="companyOwner" inputApp type="text"/>
	</form-field-app>
</form>

<!-- TODO backend: add field -->
<!-- <h2 class="company-created-date">Company created on</h2> -->