	<div class="left">
		<h3 *ngIf="title" class="ms"> {{ title }} </h3>
	</div>
	<div class="flexBetween">
		<div class="left flexCenter">

			<ng-content select="search-autocomplete-app"></ng-content>

			<search-bar-app
				class="mg-right"
				[formControl]="searchControl"
				[inputFocus]="inputFocus"
				(focus)="onFocusSearch($event)"
				(search)="search.emit($event)"
				(keydown.enter)="triggerSmartSearch($event)">
			</search-bar-app>

			<button *ngIf="hasFilter" class="showFilters pointer secondary" (click)="showFilters.emit()">Show Filters</button>

			<span *ngIf="hasFilter" class="filters">{{ filtersAmount }}</span>

			<ng-content select="sub-panel-left-item-app"></ng-content>

		</div>

		<div class="right flexCenter">

			<ng-content select="sub-panel-right-item-app"></ng-content>

			<view-switcher-app
				*ngIf="hasSwitch"
				[switchContent]="switchContent"
				[view]="view"
				(viewChange)="viewChange.emit($event)">
			</view-switcher-app>

			<button *ngIf="hasCreate && buttonName"
							class="create"
							(click)="buttonClick.emit()">
							<!-- TODO check this icon if matches the curfrent ones -->
				<icon-app *ngIf="buttonIcon" class="plusIc fs-s" name="plus" fontSet="fa"></icon-app>
				<span>{{ buttonName }}</span>
			</button>
		</div>
	</div>