:host {
	display: block;
	padding: var(--spacing-xl) var(--spacing-l);
}

h2 {
	color: var(--color-txt-strong);
	font-size: 21px;
}

search-bar-app {
	background: white;
	height: 32px;
	border: 1px solid var(--color-secondary);
	border-radius: var(--border-radius);
	padding-left: var(--spacing-s);
	input {
		background: #fff;
		border: none;
		height: 32px;
		width: 378px;
		padding: 0;
		padding-left: var(--spacing-s);
	}
	&.focus {
		border: 1px solid #45adff;
	}
}
.showFilters {
	font-weight: 600;
}

.filters {
	border-radius: 50%;
	background-color: #f3596c;
	font-size: 9px;
	font-weight: 900;
	color: #fff;
	padding: var(--spacing-xs);
	margin-left: 15px;
	text-align: center;
	width: 15px;
}

.plusIc {
	margin-right: var(--spacing-s);
	margin-top: 1px;
}

.mg-right {
	margin-right: var(--spacing-l);
}

.vert-divider {
	height: 20px;
	border-right: 2px solid var(--color-divider);
}

divider-app {
	margin: var(--spacing-xl) 0;
}

view-switcher-app {
 	margin-right: var(--spacing-m);
}

button {
	margin-left: var(--spacing-m);
}