:host {
	display: block;
	padding: var(--spacing-ms) var(--spacing-l);
}

.showFilters {
	font-weight: 600;
}

.filters {
	border-radius: 50%;
	background-color: #f3596c;
	font-size: var(--font-size-xs);
	font-weight: 900;
	color: #fff;
	padding: var(--spacing-xs);
	margin-left: 15px;
	text-align: center;
	width: 15px;
}

.plusIc {
	margin-right: var(--spacing-s);
	margin-top: 1px;
}

.mg-right {
	margin-right: var(--spacing-l);
}

.vert-divider {
	height: 20px;
	border-right: 2px solid var(--color-divider);
}

divider-app {
	margin: var(--spacing-xl) 0;
}

view-switcher-app {
	margin-left: var(--spacing-l);
 	margin-right: var(--spacing-m);
}

button.create {
	margin-left: var(--spacing-m);
}

search-bar-app {
  background-color: var(--color-secondary-light);
}
