:host {
	display: block;
	padding: var(--spacing-ms) var(--spacing-l);
	border-bottom: 1px solid var(--color-divider);
}

.select-products-count {
	min-width: 80px;
	color: black;
}

.dialog-show-filters {
	background-color: var(--bg);
	color: #5d6d8b;
}

.search-container {
	align-items: center;

	> *:not(:first-child) {
		margin-left: var(--spacing-ms);
	}

	search-bar-app {
		width: 100%;
		background-color: var(--color-secondary-light);
	}
}

.items-container {
	align-items: center;

	> * {
		margin-left: var(--spacing-ms);
	}

	.notification {
		height: 20px;
	}
}
