:host {
	display: block;
	padding: var(--spacing-ms) var(--spacing-l);
}

:host ::ng-deep .export-button icon-app {
	display: inline;
}

.flex {
	justify-content: space-between;
}

.short {
	width: 327px !important;
}

.search-container {
	align-items: center;

	> *:not(:first-child) {
		margin-left: var(--spacing-ms);
	}

	search-bar-app {
		width: 100%;
		background-color: var(--color-secondary-light);
	}
}

.right-container {
	align-items: center;

	> * {
		margin-right: var(--spacing-ms);
	}

	.notification {
		height: 20px;
	}
}

.items-container {
	align-items: center;

	> * {
		margin-left: var(--spacing-ms);
	}

	.notification {
		height: 20px;
	}
}

.filter-button {
	width: 62px;
  height: 32px;
	background-color: var(--color-secondary);
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: var(--color-secondary-contrast);
}

.export-button {
	width: 97px;
  height: 32px;
	background-color: var(--color-secondary);
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: var(--color-secondary-contrast);
}

.clear-filter-button {
	margin-left: 0px !important;
	background: transparent;
	width: 103px;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: var(--color-secondary-contrast);
}

.products-count {
	width: 79px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--color-bg-dark);
}

.show-archived-container, .assigned-to-me-container {
	width: 132px;
	height: 32px;
  line-height: 32px;
	background-color: var(--color-secondary);
	font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
	text-align: center;
	border-radius: 2px;
}

.show-archived, .assigned-to-me {
	width: 14px;
	height: 15px;
	color: var(--color-secondary-contrast);
	vertical-align: middle;
	margin-right: 5px
}

.assigned-to-me-button {
	width: 132px;
  height: 32px;
	background-color: var(--color-secondary);
	font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: var(--color-secondary-contrast);  
}

.divider {
	height: 21px;
	border-top: 0;
	border-right-width: 1px;
	border-right-style: solid;
	border-color: var(--color-secondary);
}

#checky {
  border-radius: 4px;
  border: solid 1px var(--color-secondary);
	color: var(--color-secondary-contrast);
}