<h3 *ngIf="title" class="ms"> {{ title }} </h3>

<div class="flex">

	<div class="search-container flex">

		<ng-content select="search-autocomplete-app"></ng-content>

		<search-bar-app
			*ngIf="hasSearch"
			[formControl]="searchControl"
			[inputFocus]="inputFocus"
			(focus)="onFocusSearch($event)"
			(search)="search.emit($event)"
			(keydown.enter)="triggerSmartSearch($event)">
		</search-bar-app>
	</div>

	<div class="items-container flex">

		<button *ngIf="hasFilter" class="bold-s pointer secondary capitalize" (click)="showFilters.emit()" i18n="text@@show-filters">Show Filters</button>

		<notification-badge-app *ngIf="hasFilter">{{ filtersAmount }}</notification-badge-app>

		<ng-content select="sub-panel-left-item-app"></ng-content>

		<ng-content select="sub-panel-right-item-app"></ng-content>

		<view-switcher-app
			*ngIf="hasSwitch"
			[switchContent]="switchContent"
			[view]="view"
			(viewChange)="viewChange.emit($event)">
		</view-switcher-app>

		<button
			*ngIf="buttonName"
			class="create"
			(click)="buttonClick.emit()">
			<span>{{ buttonName }}</span>
		</button>

	</div>
</div>
