<dialog-app>

	<dialog-header-app *ngIf="!pending">
		Send Request for Quotation (RFQ)
	</dialog-header-app>

	<stage-indicator-app
		[titles]="titles"
		[index]="index">
	</stage-indicator-app>

	<ng-container *ngIf="index == 0">
		<h3>REQUEST DETAIL</h3>
		<label-app class="title">Product</label-app>
		<image-previewer-app
		[hasAdd]="false"
		[showOneLine]="true"
		[images]="product.images"></image-previewer-app>

		<form [formGroup]="detailGroup" *ngIf="!pending">
			<form-field-app>
				<label-app>Request Title</label-app>
				<input inputApp type="text" formControlName="title"/>
			</form-field-app>
			<form-field-app>
				<label-app>Targeted Quantity</label-app>
				<input inputApp type="text" formControlName="quantity"/>
			</form-field-app>
			<form-field-app>
				<label-app>Description</label-app>
				<textarea inputApp type="text" formControlName="description" cols="30" rows="10"></textarea>
				<p>Be as precise as possible regarding your requested message</p>
			</form-field-app>
		</form>
	</ng-container>

	<ng-container *ngIf="index == 1">
		<h3>SELECT RECIPIENT</h3>
		<form [formGroup]="emailGroup" class="flex">
			<form-field-app class="email-field">
				<label-app>Add New Email Address</label-app>
				<input inputApp type="text" formControlName="email"/>
			</form-field-app>
			<button class="add-email" [disabled]="!emailGroup.valid">Add</button>
		</form>
		<email-list-app
		[supplierId]="product.supplier.id"></email-list-app>
		<checkbox-app
			[class.longText]="true"
			#checkbox
			[checked]="copyEmail">Send me a copy to my email address</checkbox-app>
	</ng-container>

	<ng-container *ngIf="index == 2">
		<h3>REQUEST DETAIL</h3>
	</ng-container>

	<divider-app></divider-app>

	<dialog-footer-app *ngIf="!pending">
		<button class="light cancel" (click)="closeDlg()">Cancel</button>
		<button *ngIf="index > 0" class="light" (click)="previous()">Back</button>
		<input [disabled]="!detailGroup.valid" type="submit" value="Next" (click)="onSubmit()">
	</dialog-footer-app>

	<spinner-app *ngIf="pending"></spinner-app>
</dialog-app>