.flex {
	align-items: center;
	color: var(--color-txt-strong);
}

.currency {
	display: block;
	margin-left: 0px;
	margin-right: var(--spacing-xs);
}

.price-desc {
  font-size: 12px;
  color: var(--color-txt-primary);
}