.flex {
	align-items: baseline;
	/* justify-content: flex-end */
}

:host {
	align-items: baseline;
	/* justify-content: flex-end; */
}

.currency {
	font-size: var(--font-size-s);
	font-weight: bold;
	margin-left: 5px;
}

.amount {
	font-weight: bold;
}
