
:host {
	display: block;
}

.colImg {
	width: 64px;
	img {
		width: 48px;
		height: 36px;
	}
}

.col {
	text-align: left;
	width: calc((100% - 64px) / 3);
}

.name {
	color: var(--color-primary);
	font-weight: 600;
}