
:host {
	display: block;
	padding-top: var(--spacing-s);
}

.colImg {
	width: 64px;
	img {
		width: 48px;
		height: 36px;
	}
}

/** col on the right that need to take the remainder space */
.right {
	flex-grow: 1;
	height: 34px;
	padding-bottom: var(--spacing-s);
	&.border {
		border-bottom: 1px solid var(--color-primary-light);
	}
}

.col {
	text-align: left;
	width: calc(100% / 3);
}
.valign {
	display: flex;
	align-items: center;
}

.name {
	color: var(--color-primary);
	font-weight: 600;
}

a:hover, .name:hover{
	text-decoration: underline;
}