<div class="flex">

	<!-- block without border -->
	<div class="colImg pointer" (click)="nameClick.emit()">
		<img [src]="contact?.image?.urls?.url_120x90 || defaultImg"/>
	</div>

	<!-- border block -->
	<div class="flex right {{ border ? 'border' : ''}}">
		<!-- name and job title -->
		<div class="col flexColumn pointer" (click)="nameClick.emit()">

			<div class="name">
				{{ contact.name }}
			</div>

			<div class="jobTitle">
				{{ contact.jobTitle }}
			</div>
		</div>

		<!-- email -->
		<div class="col valign">
			<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
		</div>
		<!-- phone -->
		<div class="col valign">
			<a href="tel:{{ contact.phoneNumber }}">{{ contact.phoneNumber }}</a>
		</div>
	</div>

</div>

