<form [formGroup]="form">
		<form-field-app class="borderless">
			<label-app i18n="@@company-name">Company Name</label-app>
			<input inputApp type="text" formControlName="companyName"/>
		</form-field-app>
		<form-field-app class="borderless">
			<label-app i18n="@@country">Country</label-app>
			<input inputApp type="text" formControlName="country"/>
		</form-field-app>
		<form-field-app class="borderless">
			<label-app i18n="@@address">Address</label-app>
			<input inputApp type="text" formControlName="address"/>
		</form-field-app>
		<form-field-app class="borderless">
			<label-app i18n="@@tax-id">TAX ID</label-app>
			<input inputApp type="text" formControlName="taxId"/>
		</form-field-app>

	</form>