.title {
	color: var(--color-txt-strong);
	font-weight: 600;
	margin-bottom: var(--spacing-l);
	font-style: normal;
  font-stretch: normal;
  line-height: normal;
	letter-spacing: normal;
	font-size: var(--font-size-l);
}

form {
	margin-top: 16px;
}
