<table-app
    [rows]="members"
    [contextualMenu]="contextualMenu"
	[pending]="pending"
	[selected]="selection"
	class="z-2"
	(selectOne)="memberSelect.emit($event)"
	(unselectOne)="memberUnselect.emit($event)"
	(selectAll)="memberSelectAll.emit($event)"
	(unselectAll)="memberUnselectAll.emit($event)"
	(bottomReached)="bottomReached.emit()"
	(sort)="sort.emit($event)">

    <!-- supplier row -->
	<ng-template
		columnApp="Name"
		sortWith="user.firstName"
		let-row="row"
        width="280">
        {{ row.user.firstName }} {{ row.user.lastName }}
	</ng-template>

	<!-- email -->
	<ng-template
		class="capitalize"
		columnApp="Email"
		let-row="row"
		sortWith="user.email"
		[grows]="false"
		width="140">
		<span>
			{{ row.user.email  }}
		</span>
	</ng-template>

	<!-- acccountType -->
	<ng-template
		class="capitalize"
		columnApp="Account type"
		let-row="row"
		sortWith="accessType"
		width="280">
		<context-menu-app xPosition="after" yPosition="30">
			<context-menu-trigger-app class="flex pointer">
				<div class="text">{{ row.accessType }}</div>
				<div class="selector"><icon-app fontSet="fa" name="caret-down"></icon-app></div>
			</context-menu-trigger-app>
			<context-menu-item-app (click)="accessTypeUpdated.emit({ member: row, accessType: 'FullAccess' })">
				Full Access
			</context-menu-item-app>
			<context-menu-item-app (click)="accessTypeUpdated.emit({ member: row, accessType: 'ReadOnly' })">
				Read Only
			</context-menu-item-app>
			<context-menu-divider-app></context-menu-divider-app>
			<context-menu-item-app class="remove-user" (click)="delete.emit(row)">
				<span>Remove User</span>
			</context-menu-item-app>
	   </context-menu-app>
	</ng-template>

	<!-- status -->
	<ng-template
		columnApp="Status"
		let-row="row"
		sortWith="status"
		width="140"
		[grows]="false"
		[currentSort]="'DESC'">
		{{ row.status }}
	</ng-template>

</table-app>

<ng-template #contextualMenu let-row="row">
	<menu class="z-4">
		<menuitem class="pointer flexCenter" (click)="delete.emit(row)" i18n="member menu | export">
			<div class="border">Remove User</div>
		</menuitem>
	</menu>
</ng-template>
