<table-app
    [rows]="rows"
    [contextualMenu]="contextualMenu"
	[pending]="pending"
	[selected]="selection"
	class="z-2"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(bottomReached)="bottomReached.emit()"
	(sort)="sort.emit($event)">

	<!-- name -->
	<ng-template
		columnApp="Name"
		sortBy="user.firstName"
		let-row="row"
		width="140"
		[sortOrder]="'DESC'">
		{{ row.user.firstName }} {{ row.user.lastName }}
	</ng-template>

	<!-- email -->
	<ng-template
		class="capitalize"
		columnApp="Email"
		let-row="row"
		sortBy="user.email"
		width="140">
		<span>
			{{ row.user.email  }}
		</span>
	</ng-template>

	<!-- acccountType -->
	<ng-template
		class="capitalize"
		columnApp="Account type"
		let-row="row"
		sortBy="accessType"
		width="200">
		<context-menu-app xPosition="after" yPosition="30" *ngIf="teamOwner && (row.user.id !== user.id)">
			<context-menu-trigger-app class="flex pointer">
				<div class="text">{{ row.accessType }}</div>
				<div class="selector"><icon-app fontSet="fa" name="caret-down"></icon-app></div>
			</context-menu-trigger-app>
			<context-menu-item-app (click)="accessTypeUpdated.emit({ member: row, accessType: 'FullAccess' })">
				Full Access
			</context-menu-item-app>
			<context-menu-item-app (click)="accessTypeUpdated.emit({ member: row, accessType: 'ReadOnly' })">
				Read Only
			</context-menu-item-app>
			<context-menu-divider-app></context-menu-divider-app>
			<context-menu-item-app class="remove-user" (click)="delete.emit(row)">
				<span>Remove User</span>
			</context-menu-item-app>
	   </context-menu-app>
	   <span *ngIf="!teamOwner">
			{{ row.accessType }}
	   </span>
	</ng-template>

	<!-- status -->
	<ng-template
		columnApp="Status"
		let-row="row"
		sortBy="status"
		width="140">
		{{ row.status }}
	</ng-template>

</table-app>

<ng-template #contextualMenu let-row="row">
	<menu class="z-4" *ngIf="teamOwner && (row.user.id !== user.id)">
		<menuitem class="pointer flexCenter" (click)="delete.emit(row)" i18n="member menu | export">
			<div class="border">Remove User</div>
		</menuitem>
	</menu>
</ng-template>
