
.empty {
	font-style: italic;
	color: var(--color-txt-secondary);
	img {
		margin-bottom: var(--spacing-s);
	}
}
.imgCtnr {
	display: block;
	width: 95px;
	height: 95px;
	overflow: auto;
	margin-right: var(--spacing-s);
	overflow: hidden;
	img {
		max-height: 100%;
	}
}