
<card-app>
	<h2 i18n="header 2|Supplier latest products card@@supplierLatestProducts_products" class="ms">Latest Products</h2>

	<div class="flex" *ngIf="products?.length > 0; else noProduct">
		<a *ngFor="let product of products;trackBy: trackByFn"
			[routerLink]="['/product', 'details', product.id, 'general']"
			class="imgCtnr">
			<img [src]="product | image:'m'"/>
		</a>

	</div>

	<ng-template #noProduct>
		<div class="flexColumn flexCenter empty">
			<img src="assets/img/product.svg"/>
			<span i18n="span|Supplier with no products@@supplierLatestProducts_noProducts">No products for this supplier</span>
		</div>
	</ng-template>

	<card-footer-app>
		<button i18n="button|Add product for a supplier@@supplierLatestProducts_addProduct">Add Product</button>
	</card-footer-app>
</card-app>

