
<card-app>
	<h2>Latest Products</h2>

	<div class="flex" *ngIf="products.length > 0; else noProduct">
		<a *ngFor="let product of products"
			[routerLink]="['/product', 'details', product.id]"
			class="imgCtnr">
			<img [src]="product?.mainImage?.urls?.url_400x300"/>
		</a>

	</div>

	<ng-template #noProduct>
		<div class="flexColumn flexCenter empty">
			<img src="assets/img/product.svg"/>
			<span>No products for this supplier</span>
		</div>
	</ng-template>

	<card-footer-app>
		<button>add product</button>
	</card-footer-app>
</card-app>

