
:host {
	display: flex;
	flex-direction: column;
}

header-details-info-app {
	color: var(--color-txt-secondary);
}

.vertical-dots {
	icon-app {
		color: var(--color-txt-secondary);
	}
}

.project-name {
	font-size: var(--font-size-xxl);
	height: 21px;
}
