<header-details-app
		[headerType]="'details'">

		<header-details-title-app>
			<span class="project-name">
				{{ project?.name }}
			</span>
		</header-details-title-app>

		<logo-app color="primary" typename="Project" size="l" [iconSize]="16"></logo-app>

		<header-details-info-app *ngIf="project">
			{{ 'title.project' | translate }}
			<div class="small-gray-badge-separator"></div>
			<span class="project-type">Collection</span> <!-- TODO: this should be replaced with project type property from the backend later -->
		</header-details-info-app>

		<header-nav-app>
			<header-nav-item-app
				link="./products"
				icon="product"
				[name]="'nav.products' | translate">
			</header-nav-item-app>

			<header-nav-item-app
				link="./settings"
				icon="settings"
				[name]="'nav.settings' | translate">
			</header-nav-item-app>
		</header-nav-app>

		<header-details-actions-app>
			<button
				*ngIf="isTabUrl('products')"
				class="add-product big"
				(click)="openFindProductDlg()"
				translate="button.add-product">
			</button>

			<status-selector-app
				*ngIf="isTabUrl('settings')"
				[typeEntity]="'PROJECT' | erm"
				[entity]="project"
				selectSize="m"
				type="button">
			</status-selector-app>

			<context-menu-app>
				<context-menu-trigger-app>
					<button class="vertical-dots icon light dots pointer">
						<icon-app [size]="16" name="dots-vertical"></icon-app>
					</button>
				</context-menu-trigger-app>
				<context-menu-item-warn-app (click)="delete.emit(project)">
					<div class="icon-box square flexCenter mg-right-s">
						<icon-app name="delete" size="s"></icon-app>
					</div>
					<span translate="button.delete"></span>
				</context-menu-item-warn-app>
			</context-menu-app>
		</header-details-actions-app>

	</header-details-app>