header-details-app {
	padding-left: 250px;
	padding-right: 210px;
}

header-details-actions-app {
  & > * {
    margin-right: var(--spacing-ms);
  }
}

.info-container {
  activities-bar-app {
		display: flex;
		align-items: center;
	}
}
