
<top-panel-app
	[title]="'My Projects'"
	[buttonName]="'Add Project'"
	[subtitles]="['Projects', 'all']"
	(buttonClick)="openCreateDlg()">
</top-panel-app>

<ng-container *ngIf="items$ | async as projects">

	<projects-list-view-app [projects]="projects"></projects-list-view-app>

	<ng-container *ngIf="selected$ | async as selected">
		<selection-bar-app
			(close)="resetSelection()"
			(delete)="deleteSelected()"
			*ngIf="selected.size > 0"
			[selection]="selected"></selection-bar-app>
	</ng-container>

</ng-container>

