:host {
  display: block;
  height: 100%;
}

.ctnr {
	height: 100%;
}

.right {
	flex-grow: 1;
}

.hr {
	margin: var(--spacing-xl);
	// top already has a padding, we don't want to double the space
	margin-top: 0;
}

