:host {
	display: block;
}

card-app {

	card-title-app {
		icon-app {
			margin-right: var(--spacing-ms);
			color: var(--legacy-color-primary);
			cursor: default;
			font-size: var(--font-size-xxl);
		}
	}


	article {
		padding: var(--spacing-ms);
		padding-left: 0px;
		border-radius: var(--border-radius);

		.project-row-info {
			width: calc(100% - 22px); // width - size of the minus icon
		}

		.middle {
			width: calc(100% - 44px); // width - (project icon + margin)
			justify-content: center;

			.name {
				color: var(--legacy-color-txt-strong);
			}
			.description {
				margin-top: 2px;
				height: var(--spacing-m);
				color: var(--legacy-color-txt-primary);
				font-size: var(--font-size-s);
			}
		}
		.minus {
			display: none;
			color: var(--legacy-color-warn);
		}
		&:hover .minus {
			display: block;
		}
	}

	article.last-item {
		padding-bottom: 0px;
	}

	divider-app {
		margin-top: 3px;
		margin-right: var(--spacing-ms);
	}

	.no-projects {
		font-size: var( --font-size-xxxl);
    color: var(--legacy-color-txt-strong);
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: var(--spacing-xl) 0px;
	}

	card-footer-app {
		margin-right: var(--spacing-ms);
		margin-left: var(--spacing-ms);
		padding-bottom: var(--spacing-l);

		button {
			min-width: 120px;
			font-weight: 600;
		}
	}
}


