<table-app
  [rows]="rows"
  [contextualMenu]="contextualMenuTemplate"
	[pending]="pending"
	[selected]="selection"
	[isSelectable]="isSelectableFn"
	[count]="count"
	[currentPage]="currentPage"
	[currentSort]="currentSort"
	[placeholder]="'placeholder.no-invitation' | translate"
	(goToPage)="goToPage.emit($event)"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(bottomReached)="bottomReached.emit()"
	(sort)="sort.emit($event)"
	(showItemsPerPage)="showItemsPerPage.emit($event)"
	i18n-placeholder="@@no-invitation">

	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-app
			class="pointer flexCenter"
			(click)="delete.emit(row)"
			translate="button.delete">
		</context-menu-item-app>
	</ng-template>

	<!-- email -->
	<ng-template
		[columnApp]="'header.email' | translate"
		sortBy="email"
		let-row="row"
		width="250"
		[sortOrder]="'DESC'">
		<span class="email">
			{{ row.email }}
		</span>
	</ng-template>

	<!-- access -->
	<ng-template
		class="capitalize"
		[columnApp]="'header.account-type' | translate"
		let-row="row"
		sortBy="accessType"
		width="200">
		<context-menu-app *ngIf="teamOwner" [closeOnScroll]="true">
			<context-menu-trigger-app class="flex pointer">
				<div class="text" *ngIf="row.accessType === 'TeamMember'" translate="text.team-member"></div>
				<div class="text capitalize" *ngIf="row.accessType === 'Contributor'" translate="text.contributor"></div>
				<div class="selector"><icon-app name="angle-down"></icon-app></div>
			</context-menu-trigger-app>
			<context-menu-item-app
				(click)="accessTypeUpdated.emit({ invitation: row, accessType: 'TeamMember' })"
				translate="text.team-member">
			</context-menu-item-app>
			<context-menu-item-app
				(click)="accessTypeUpdated.emit({ invitation: row, accessType: 'Contributor' })"
				translate="text.contributor">
			</context-menu-item-app>
			<context-menu-divider-app></context-menu-divider-app>
			<context-menu-item-warn-app class="remove-user" (click)="delete.emit(row)">
				<span translate="button.remove-invitation"></span>
			</context-menu-item-warn-app>
		</context-menu-app>
		<span *ngIf="!teamOwner" class="capitalize">
			<ng-container *ngIf="row.accessType === 'TeamMember'" i18n="@@team-member">
				<span class="access">Team Member</span>
			</ng-container>
			<ng-container *ngIf="row.accessType === 'Contributor'" i18n="@@contributor">
				<span class="access">Contributor</span>
			</ng-container>
		</span>
	</ng-template>

	<!-- plan -->
	<ng-template
		[columnApp]="'plan' | const: 'messages'"
		let-row="row"
		width="160">
		<span class="plan">
			{{ row?.plan  }}
		</span>
	</ng-template>

	<!-- status -->
	<ng-template
		[columnApp]="'header.status' | translate"
		let-row="row"
		sortBy="status"
		width="140">
		<span class="status capitalize">
			{{ row.status }}
		</span>
	</ng-template>

</table-app>
