:host{
	align-items: baseline;
	font-size: var(--font-size-s);
}
.spacer {
	margin-right: var(--spacing-default);
}

icon-app {
	margin-right: var(--spacing-s);
}

icon-app[name="checkmark"] {
	margin-top: -1px;
}

.num {
	line-height: 1;
	// fix for wrong alignement, not sure what's happening here.
	color: var(--color-txt-secondary);
}
.big {
	.num {
		font-size: var(--font-size-l);
	}
}