<div class="flex {{ big ? 'big' : '' }}">

	<ng-container *ngIf="score !== undefined">
		<icon-app name="thumbs-up" color="inherit"></icon-app>
		<span class="num">{{ score }}%</span>
		<span class="spacer"></span>
	</ng-container>

	<ng-container *ngIf="numComments !== undefined">
		<icon-app name="comment" size="{{ big ? 'l' : 's'}}" color="inherit"></icon-app>
		<span class="num">{{ numComments }}</span>
		<span class="spacer"></span>
	</ng-container>

	<ng-container *ngIf="numTasks !== undefined">
		<icon-app name="check-square" size="{{ big ? 'l' : 's'}}" color="inherit"></icon-app>
		<span class="num">{{ numTasks }}</span>
	</ng-container>

</div>
