<div class="flex {{ big ? 'big' : '' }}">

	<ng-container *ngIf="score !== undefined">
		<icon-app name="thumbs-up"></icon-app>
		<span class="num">{{ score }}%</span>
		<span class="spacer"></span>
	</ng-container>

	<icon-app name="comment" size="{{ big ? 'l' : 's'}}"></icon-app>
	<span class="num">{{ numComments }}</span>
	<span class="spacer"></span>
	<icon-app name="check-square" size="{{ big ? 'l' : 's'}}"></icon-app>
	<span class="num">{{ numTasks }}</span>
	<icon-app name="sample" *ngIf="sample"></icon-app>
</div>
