<side-panel-app>
	<side-panel-title-app>
		{{ product.name }}
	</side-panel-title-app>

	<side-panel-action-app>
		<icon-app class="close pointer" fontSet="fa" name="times" (click)="close.emit()"></icon-app>
	</side-panel-action-app>

	<ng-container *ngIf="product$ | async as product">
		<carousel-app [images]="product.images"></carousel-app>

		<workflow-action-app
			class="card-flow"
			[entity]="product"
			selectSize="s"
			[xPosition]="-3"
			[typeEntity]="prodERM">
		</workflow-action-app>

		<action-bar-app
			[votes]="product.votes"
			[favorite]="product.favorite"
			(onFavorite)="updateProduct({ favorite: true })"
			(onUnfavorite)="updateProduct({ favorite: false })"
			(vote)="updateProduct({ votes: $event })"
			buttonName="Open"
			(buttonClick)="onViewProduct()">

			<button class="icon light folder" (click)="openAddToProject()">
				<icon-app fontSet="svg" name="folder" size="m" ></icon-app>
			</button>
		</action-bar-app>

		<!-- actions -->
		<!-- <div class="flexColumn actions">
				<ng-container *ngIf="product?.status?.status; else sendWF">
					Request RFQ to supplier?
					<button class="primary" (click)="openRfq()">SEND RFQ</button>
				</ng-container>
				<ng-template #sendWF>
					This product is still a new idea, what should we do next?
					<div class="flexAround">
						<button class="secondary">Keep as reference</button>
						<button class="primary">Send to workflow</button>
					</div>
				</ng-template>
			</div> -->
		<divider-app></divider-app>

		<!-- form -->
		<h3>Product Details</h3>
		<ng-container *ngIf="descriptor$ | async as desc">
			<dynamic-form-app
				[inlineLabel]="true"
				(formCreated)="onFormCreated($event)"
				[descriptor]="desc"
				[editable]="true"
				[colAmount]="1">
			</dynamic-form-app>
		</ng-container>

		<h3 style="margin-top: 22px; margin-bottom: 18px">Trading information</h3>
		<ng-container *ngIf="descriptor2$ | async as desc2">
			<dynamic-form-app
				[inlineLabel]="true"
				(formCreated)="onFormCreated($event)"
				[descriptor]="desc2"
				[editable]="true"
				[colAmount]="1">
			</dynamic-form-app>
		</ng-container>
	</ng-container>



	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>
</side-panel-app>