<side-panel-app>
	<side-panel-title-app>
		{{ product.name }}
	</side-panel-title-app>

	<side-panel-action-app>
		<icon-app class="close pointer color-txt-secondary" name="close" (click)="close.emit()"></icon-app>
	</side-panel-action-app>

	<ng-container *ngIf="product$ | async as productF">
		<carousel-app [images]="product?.images"></carousel-app>

		<workflow-action-app
			class="card-flow"
			[entity]="productF"
			selectSize="s"
			[xPosition]="-3"
			[typeEntity]="prodERM">
		</workflow-action-app>

		<action-bar-app
			buttonName="Open"
			[votes]="product?.votes"
			[favorite]="productF?.favorite"
			(onFavorite)="updateProduct({ favorite: true })"
			(onUnfavorite)="updateProduct({ favorite: false })"
			(liked)="onThumbUp(productF)"
			(disliked)="onThumbDown(productF)"
			(buttonClick)="onViewProduct()">

			<button class="icon light folder" (click)="openAddToProject()">
				<icon-app fontSet="svg" name="folder-light" size="m" ></icon-app>
			</button>
		</action-bar-app>

		<!-- actions -->
		<div *ngIf="productF?.status?.status" class="flexColumn actions">
			<ng-container *ngIf="productF?.status?.status; else sendWF">
				Request RFQ to supplier?
				<button class="primary" (click)="openRfq()">SEND RFQ</button>
			</ng-container>
			<!-- <ng-template #sendWF>
				This productF is still a new idea, what should we do next?
				<div class="flexAround">
					<button class="secondary">Keep as reference</button>
					<button class="primary">Send to workflow</button>
				</div>
			</ng-template> -->
		</div>
		<divider-app></divider-app>

		<!-- form -->
		<h3>Product Details</h3>
		<dynamic-form-app
			[inlineLabel]="true"
			[fields]="customFields"
			[value]="productF"
			[colAmount]="1"
			(update)="updateProduct($event)">
		</dynamic-form-app>

		<h3 style="margin-top: 22px; margin-bottom: 18px">
			Trading information
		</h3>
		<dynamic-form-app
			[inlineLabel]="true"
			[fields]="customFields2"
			[value]="productF"
			[colAmount]="1"
			(update)="updateProduct($event)">
		</dynamic-form-app>
	</ng-container>



	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>
</side-panel-app>