.close {
	color: var(--color-txt-secondary);
}

h3 {
	text-align: left;
	color: var(--color-primary);
	font-family: 'Raleway', sans-serif;
	font-size: var(--font-size-m);
	padding-top: 10px;
	margin-bottom: 10px;
	font-weight: 600;
	text-transform: uppercase;
}

carousel-app {
	height: 300px;
	width: 328px;
}

.actions {
	text-align: center;
	margin-top: var(--spacing-ms);
	padding: var(--spacing-ms);
	color: var(--color-txt-primary);
	background: var(--color-secondary-light);
	border: 1px solid var(--color-secondary);
	button {
		font-weight: 600;
		margin-right: var(--spacing-xs);
		margin-left: var(--spacing-xs);
		margin-top: var(--spacing-s);
		width: 100%;
	}
}

divider-app {
	margin: var(--spacing-ms) 0;
}

rating-heart-app, thumb-buttons-app {
	width: 32px;
	height: 32px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
	&:hover {
		background: var(--color-secondary);
	}
}

rating-heart-app {
	margin-right: var(--spacing-ms);
}

thumb-buttons-app {
	margin-right: 18px;
}

workflow-action-app {
	position: absolute;
	top: 61px;
	left: 21px;
	min-width: 117px;
	text-transform: uppercase;
	overflow: unset;
}

action-bar-app {
	margin-top: var(--spacing-ms);
}
