
<custom-table-app
	class="list"
	[rows]="products"
	[descriptor]="descriptor"
	(bottomReached)="bottomReached.emit()"
	(sort)="onSort($event)"
	[pending]="true">
</custom-table-app>

<ng-template #main let-row="row">
	<div class="mainCell">
		<div class="imgCtnr">
			<img [src]="row?.mainImage?.urls?.url_60x45"/>
		</div>
		<a class="name" [routerLink]="['/product', 'details', row.id, 'general']">{{ row.name }}</a>
	</div>
</ng-template>

<ng-template #supplier let-row="row">
	<ng-container *ngIf="row.supplierId !== undefined">
		{{ row?.supplierId | entityName:'supplier' | async }}
	</ng-container>
	<ng-container *ngIf="row.supplierId === undefined">
		-
	</ng-container>
</ng-template>

<ng-template #category let-row="row">
	<ng-container *ngIf="row.categoryId !== undefined">
		{{ row?.categoryId | entityName:'category' | async }}
	</ng-container>
	<ng-container *ngIf="row.categoryId === undefined">
		-
	</ng-container>


</ng-template>

<ng-template #price let-row="row">
	<price-app
		[amount]="row?.priceAmount"
		[currency]="row?.priceCurrency"
		*ngIf="row.priceCurrency; else noPrice">
	</price-app>

	<ng-template #noPrice>
		<div class="alignRight">-</div>
	</ng-template>

</ng-template>

<ng-template #feedback let-row="row">
	{{ row?.computedValues?.score !== undefined ? row.computedValues.score : '-' }} %
</ng-template>

<ng-template #creationDate let-row="row">
	{{ row?.creationDate | date: 'MMMM y' }}
</ng-template>

<ng-template #rating let-row="row">
	<div class="flexCenter">
		<rating-heart-app
			[rating]="row?.rating"
			(favorited)="productFavorited.emit(row.id)"
			(unfavorited)="productUnfavorited.emit(row.id)"></rating-heart-app>
	</div>
</ng-template>

<ng-template #projects let-row="row">
	<div class="flexCenter">
		<span *ngFor="let projectId of row.projectIds">{{ projectId | entityName: 'project' | async }}</span>
	</div>
</ng-template>

<ng-template #action let-row="row">
	<div class="pointer" (click)="productOpen.emit(row.id)"> Open </div>
</ng-template>

<!-- for some mindblowing reason if this is put last, the viewchild for default template is undefined-->
<ng-template #default let-row="row" let-column="column">
	{{ row[column.propName] }}
</ng-template>

<ng-template #user let-row="row">
	<div class="flexCenter userP">
		<ng-container *ngIf="row.createdByUserId | entity:'teamMember' | async as user">
			<user-picture-app
				[size]="18"
				[border]="true"
				[url]="user?.preferences?.profilePicture?.urls?.url_60x45"></user-picture-app>
			<span>{{ user.firstName + ' ' + user.lastName }} </span>
		</ng-container>

	</div>
<ng-template>

<ng-template #none></ng-template>


