:host {
	display: block;
	margin: 0 var(--spacing-edge);
}

.list {
	height: 600px;
}

.imgCtnr {
	border-radius: var(--border-radius);
	width: 32px;
	height: 32px;
	overflow: hidden;
	img {
		height: 100%;
	}
}

.mainCell {
	display: flex;
	align-items: center;
	a {
		font-weight: 600;
	}
}

.mainCell > *{
	margin-left: var(--spacing-s);
	.name {
		font-weight: 600;
	}
}

user-picture-app {
	margin-right: var(--spacing-s);
}

.alignRight {
	text-align: right;
}
