:host {
	display: block;
	padding: var(--spacing-default) 0;
}

.list {
	height: 600px;
}

img {
	border-radius: var(--border-radius);
	max-width: 44px;
	max-height: 44px;
}

.mainCell {
	display: flex;
	align-items: center;
}

.mainCell > *{
	margin: var(--spacing-s);
	.name {
		font-weight: bold;
	}
}

user-picture-app {
	margin-right: var(--spacing-s);
}

.alignRight {
	text-align: right;
}
