	<icon-app class="heart" name="heart"></icon-app>
	<span class="status">VALIDATED</span>

	<carousel-entity-app class=".header"></carousel-entity-app>

	<main class="flex">
		<div class="col1 flexColumn">
			<h4 class="name">{{ product?.name }}</h4>
			<table class="info">
				<tr>
					<td>
						<icon-app name="cercle-green"></icon-app>
					</td>
					<td>
						<span> {{ product?.supplierId | entityName: 'suppliers' | async }}</span>
					</td>
				</tr>

				<tr>
					<td>
						<icon-app name="label"></icon-app>
					</td>
					<td>
						<span>{{ product?.categoryId | entityName: 'categories' | async }}</span>
					</td>
				</tr>
			</table>
		</div>

		<div class="col2">
			<price-app amount="15.00" currency="USD"></price-app>
			<small class="moq">min {{ product?.minimumOrderQuantity }} pcs</small>
		</div>

	</main>

	<footer class="flexBetween">
		<user-picture-with-name-app [user]="user">
			<small>{{ product?.creationDate | timeAgo}}</small>
		</user-picture-with-name-app>
		<product-icons-app [numComments]="numComments" [numTasks]="numTasks"></product-icons-app>
	</footer>
