:host {
	display: block;
	max-width: 360px;
	position: relative;
}
.heart {
	position: absolute;
	z-index: 104;
	top: var(--spacing-default);
	left: var(--spacing-default);
}
.status {
	padding: var(--spacing-smaller) var(--spacing-small);
	background: var(--color-primary);

	border-radius: 1000px;
	position: absolute;
	top: 256px;
	color: white;
	font-size: var(--font-size-small);
	z-index: 104;
	left: var(--spacing-default);
	font-weight: 500;
	line-height: 1.25;
	letter-spacing: -0.1px;
	color: #ffffff;
}


main{
	padding: var(--spacing-default);
	.col1 {
		flex-grow: 1;
	}
	.col2 > * {
		text-align: right;
	}
}

footer {
	padding: var(--spacing-default);
}

.info > * {
	font-size: var(--font-size-default);
	margin-top: var(--spacing-small);
}

carousel-entity-app {
	height: 270px;
	width: 360px;
}
