<header>
	<icon-app class="heart" name="heart"></icon-app>
	<span class="status">VALIDATED</span>

	<carousel-entity-app class=".header"></carousel-entity-app>
</header>


<main class="flex paddingDefault">
	<div class="col1 flexColumn">
		<h4 class="name">{{ product?.name }}</h4>
		<product-sub-info-app [product]="product"></product-sub-info-app>
	</div>

	<div class="col2">
		<price-app [currency]="product?.priceCurrency?.id" [amount]="product?.priceAmount"></price-app>
		<small class="moq">min {{ product?.minimumOrderQuantity }} pcs</small>
	</div>

</main>

<footer class="flexBetween paddingDefault">
	<user-picture-with-name-app [user]="user">
		<small>{{ product?.creationDate | timeAgo}}</small>
	</user-picture-with-name-app>
	<product-icons-app [numComments]="numComments" [numTasks]="numTasks"></product-icons-app>
</footer>
