
<bottom-panel-app *ngIf="isShown" class="z-6 flexBetween" @selectionBarTrigger>

  <div class="flexCenter">
    <div class="selected">
			<select-checkbox-app 
				[state]="getSelectionState()" 
				[size]="24"
				(check)="selectAll.emit(items)"
				(uncheck)="unselectAll.emit()">
			</select-checkbox-app>
    </div>

    <div class="closeSection pointer">
      <div *ngIf="!entityType" class="entity-selected">
				{{(selection?.size || 0)}} {{ ((selection?.size || 0) > 1 ? 'items' : 'item') + ' selected' }}
			</div>
      <div *ngIf="entityType" class="capitalize entity-selected">
				{{(selection?.size || 0)}} {{(selection?.size || 0) > 1 ? entityType + 's selected' : entityType + ' selected' }}
			</div>
    </div>
  </div>

  <ng-content></ng-content>

	<!-- <icon-app class="icon-close" name="close" (click)="close.emit()"></icon-app> -->
	<!-- if we don't have the close icon we need a spacer since it uses flexBetween -->
	<span class="spacer"></span>

</bottom-panel-app>
