
<bottom-panel-app *ngIf="isShown$ | async" class="z-6 flexBetween" @selectionBarTrigger>

  <div class="flexCenter">
    <div class="selected">
			<select-checkbox-app
				[state]="getSelectionState()"
				[size]="24"
				(check)="selectAllItems()"
				(uncheck)="selectionSrv.unselectAll()">
			</select-checkbox-app>
    </div>

    <div class="closeSection pointer">
      <div *ngIf="!typename" class="entity-selected">
				{{ 'OBJ.n-item-selected.' + (selectionSrv.selection.size === 1 ? 'singular' : 'plural') | translate: { count: selectionSrv.selection.size } }}
			</div>
      <div *ngIf="typename" class="capitalize entity-selected">
				{{ 'OBJ.n-OBJ-selected' | translate: {
					count: selectionSrv.selection.size,
					entity: ('ERM.' + typename + (selectionSrv.selection.size === 1 ? '.singular' : '.plural') | translate) }
				}}
				<!-- TODO change translationKey -->
			</div>
    </div>
  </div>

	<div class="flexVAlign flex">
		<ng-content></ng-content>
	</div>

	<!-- <icon-app class="icon-close" name="close" (click)="close.emit()"></icon-app> -->
	<!-- if we don't have the close icon we need a spacer since it uses flexBetween -->
	<span class="spacer"></span>

</bottom-panel-app>
