<!-- Panel preview -->
<preview-panel-app *ngIf="isPreview && product" cdk-scrollable>
	<!-- Banner -->
	<preview-banner-app>
		<!-- top bar -->
		<preview-top-bar-app
			(closed)="close.emit()"
			(opened)="redirect()">
			<logo-app
				class="mg-right-s"
				size="l"
				[logo]="(product?.images && product?.images[0]) || null"
				typename="Product">
			</logo-app>
			<div class="flexColumn ellipsis">
				<span class="color-txt-primary semi-bold fs-l ellipsis">{{ product?.name }}</span>
				<div class="flexVAlign dot-separator-txt-secondary">
					<div class="flexVAlign">
						<logo-app
							class="mg-right-xs"
							size="xs"
							typename="Product">
						</logo-app>
						<span class="color-txt-secondary">{{ product?.reference }}</span>
					</div>
					<price-app [price]="product?.price"></price-app>
				</div>
			</div>
		</preview-top-bar-app>

		<!-- carousel -->
		<preview-carousel-app
			[entity]="product"
			[entityMD]="'Product' | erm"
			[images]="product?.images"
			objectFit="contain">
		</preview-carousel-app>
	</preview-banner-app>

	<!-- Header -->
	<preview-header-app
		typename="Product"
		[entity]="product"
		(update)="update($event, 'name')"
		(statusUpdated)="statusUpdated.emit($event)">

		<preview-header-buttons-app>
			<button class="icon" (click)="openCreateSample()" toolTip [toolTipMessage]="'tooltip.create-sample' | translate">
				<icon-app class="color-txt-secondary" name="sample"></icon-app>
			</button>
			<button class="icon" (click)="openCreateTask()" toolTip [toolTipMessage]="'tooltip.create-task' | translate">
				<icon-app class="color-txt-secondary" name="check-circle"></icon-app>
			</button>
			<button class="icon" (click)="selectThirdTab()" toolTip [toolTipMessage]="'tooltip.create-comment' | translate">
				<icon-app class="color-txt-secondary" name="comments"></icon-app>
			</button>
			<button class="icon" (click)="dlgCommonSrv.openSupplierRequest([product])" toolTip [toolTipMessage]="'tooltip.contact-supplier' | translate">
				<icon-app class="color-vibrant" name="envelope"></icon-app>
			</button>
		</preview-header-buttons-app>

		<!-- items 3 dots -->
		<context-menu-item-app
			(click)="update(true, 'favorite')"
			translate="button.set-as-favorite">
		</context-menu-item-app>

		<divider-app></divider-app>

		<context-menu-item-app
			(click)="archive()"
			translate="button.archive">
		</context-menu-item-app>
		<context-menu-item-warn-app
			(click)="delete(product)"
			translate="button.delete">
		</context-menu-item-warn-app>

		<preview-header-subtitle-app>
			<rating-badge-app class="pointer"	[score]="product?.score" [hasNumber]="true" (click)="selectSecondTab('rating')"></rating-badge-app>
			<div class="txt-btn capitalize" (click)="selectSecondTab('sample')">{{ ((product?.samplesLinked?.count || 0) === 1 ? 'OBJ.n-sample.singular' : 'OBJ.n-sample.plural') | translate: {count: (product?.samplesLinked?.count || 0)} }}</div>
			<div class="txt-btn capitalize" (click)="selectSecondTab('task')">{{ ((product?.tasksLinked?.count || 0) === 1 ? 'OBJ.n-task.singular' : 'OBJ.n-task.plural') | translate: {count: (product?.tasksLinked?.count || 0)} }}</div>
			<div class="txt-btn capitalize" (click)="selectThirdTab()">{{ ((product?.comments?.length || 0) === 1 ? 'OBJ.n-comment.singular' : 'OBJ.n-comment.plural') | translate: {count: (product?.comments?.length || 0)} }}</div>
		</preview-header-subtitle-app>


		<!-- Price -->
		<price-with-quantity-app
			[price]="product?.propertiesMap?.price"
			(updateField)="update($event.newValue,  $event.field)">
		</price-with-quantity-app>

		<!-- Badge supplier -->
		<badge-selector-app
			[hasOpenAction]="true"
			[badge]="'Supplier' | erm"
			[value]="product?.supplier?.name"
			(openActionClicked)="openSupplier()"
			(update)="update($event, 'supplier')">
		</badge-selector-app>

		<!-- Badge category -->
		<badge-selector-app
			[badge]="'Category' | erm"
			[value]="product?.category"
			(update)="update($event, 'category')">
		</badge-selector-app>

		<!-- Badge event -->
		<badge-selector-app
			*ngIf="product?.event"
			[badge]="'Event' | erm"
			[value]="product?.event"
			(update)="update($event, 'event')">
		</badge-selector-app>

	</preview-header-app>

	<!-- Tabs -->
	<preview-tab-app #tab1 (click)="selectFirstTab()"><span translate="title.product-info"></span></preview-tab-app>
	<preview-tab-app #tab2 (click)="selectSecondTab()"><span translate="title.activity"></span></preview-tab-app>
	<preview-tab-app #tab3 (click)="selectThirdTab()"><span translate="title.comments"></span></preview-tab-app>

	<!-- Description -->
	<preview-section-app #contentTab1 [title]="'title.description' | translate">
		<input-description-app
			[description]="product?.description"
			(update)="update($event, 'description')">
		</input-description-app>
	</preview-section-app>

	<!-- Tags -->
	<preview-section-app #contentTab1 [title]="'title.tags' | translate">
		<input-badge-selector-app
			[value]="product?.tags"
			typename="Tag"
			(change)="update($event, 'tags')">
		</input-badge-selector-app>
	</preview-section-app>

	<!-- Product details -->
	<preview-section-app #contentTab1 [title]="'title.product-details' | translate">
		<dynamic-form2-app
			#form
			[style]="'editable'"
			[descriptor]="descriptor"
			[columnAmount]="1">
		</dynamic-form2-app>
	</preview-section-app>

	<!-- Activity -->
	<!-- Owner -->
	<preview-section-app #contentTab2 [title]="'title.product-owner' | translate">
		<editable-container-app
			[hasAction]="false"
			[readonly]="true"
			(click)="sel.openMenu($event)">
			<editable-value-app>
				<selector-app
					#sel
					typename="User"
					[width]="320"
					[offsetX]="4"
					(update)="updateProduct({ assignee: $event })">
					<div *ngIf="product?.assignee; else none" class="flex">
						<user-picture-app	class="mg-right-ms" [user]="product?.assignee" size="24" fontSize="12" [hasName]="true"></user-picture-app>
					</div>
					<ng-template #none><span class="capitalize" translate="text.none"></span></ng-template>
				</selector-app>
				</editable-value-app>
		</editable-container-app>
	</preview-section-app>

	<!-- Status -->
	<!-- <preview-section-app #contentTab2 [title]="'title.product-status' | translate">
		<status-selector-app
			typename="Product"
			[entity]="product"
			type="button">
		</status-selector-app>
	</preview-section-app> -->

	<!-- Tasks -->
	<preview-section-app #contentTab2 class="action-hover-container-0" [title]="'title.tasks' | translate">
		<preview-section-action-app>
			<div class="mg-left-ms action-hover-item-0 color-primary txt-btn" (click)="openCreateTask()" translate="button.add"></div>
		</preview-section-action-app>
		<task-catalog-app
			[tasks]="product?.tasksLinked?.items"
			(taskClicked)="redirect('tasks')"
			(showMore)="redirect('tasks')">
		</task-catalog-app>
	</preview-section-app>

	<!-- Samples -->
	<preview-section-app #contentTab2 class="action-hover-container-0" [title]="'title.samples' | translate">
		<preview-section-action-app>
			<div class="mg-left-ms action-hover-item-0 color-primary txt-btn" (click)="openCreateSample()" translate="button.add"></div>
		</preview-section-action-app>
		<sample-catalog-app
			[samples]="product?.samplesLinked?.items"
			(sampleClicked)="redirect('samples')"
			(showMore)="redirect('samples')">
		</sample-catalog-app>
	</preview-section-app>

	<!-- Rating -->
	<preview-section-app #contentTab2 [title]="'title.team-rating' | translate">
		<rating-dashboard-app
			[teamVotes]="teamVotes$ | async"
			[userVote]="userVote$ | async"
			[nodeId]="'product:' + product?.id"
			(viewRatings)="dlgCommonSrv.openVoteDetailsDialog($event)"
			(update)="updateVote($event)">
		</rating-dashboard-app>
	</preview-section-app>

	<!-- Projects -->
	<preview-section-app #contentTab2 class="action-hover-container-0" [title]="'title.projects' | translate">
		<preview-section-action-app>
			<selector-app
				class="selector"
				typename="Project"
				[value]="product?.projects"
				[canCreate]="true"
				[multiple]="true"
				[width]="330"
				(update)="updateProduct($event)">
				<span class="mg-left-ms fs-m action-hover-item-0 color-primary txt-btn" translate="button.add"></span>
			</selector-app>
		</preview-section-action-app>
		<project-catalog-app
			[projects]="product?.projects"
			(openProject)="null"
			(deleteProject)="null">
		</project-catalog-app >
	</preview-section-app>

	<!-- About -->
	<preview-section-app #contentTab2 [title]="'title.about-product' | translate">
		<!-- <div class="mg-top-xs">
			{{ 'OBJ.created-by-on' | translate : { name: (product?.createdBy | formatUserName), date: (product?.creationDate | date: 'dd MMMM yyyy':'':translate?.currentLang) } }}
			<br>
			{{ 'OBJ.last-updated-by-on' | translate: { name: (product?.lastUpdatedBy | formatUserName), date: (product?.lastUpdatedDate | date: 'dd MMMM yyyy':'':translate?.currentLang) } }}
			<br>
			<span *ngIf="product?.event">{{ 'OBJ.found-at' | translate: { name: (product?.event?.description?.name) } }}</span>
		</div> -->
	</preview-section-app>

	<!-- Comment -->
	<preview-section-app  #contentTab3>
		<comment-list-app [comments]="product?.comments" (addComment)="selectThirdTab()"></comment-list-app>
	</preview-section-app>

	<preview-comment-app #contentTab3 (added)="addComment($event)"></preview-comment-app>

	<input #inpFile multiple="true" type="file" accept="image/*" (fileSelect)="add($event)" />
</preview-panel-app>




<!-- Static -->
<preview-static-app	*ngIf="!isPreview">

	<!-- Banner -->
	<preview-banner-app>
		<preview-carousel-app
			[entity]="product"
			[entityMD]="'Product' | erm"
			[images]="product?.images"
			[hasPreview]="!isPreview"
			objectFit="cover">
		</preview-carousel-app>
	</preview-banner-app>

		<!-- Header -->
		<preview-header-app
			typename="Product"
			[entity]="product"
			(update)="update($event, 'name')"
			(statusUpdated)="statusUpdated.emit($event)">

		<!-- Price -->
		<price-with-quantity-app
			[price]="product?.propertiesMap?.price"
			(updateField)="update($event.newValue,  $event.field)">
		</price-with-quantity-app>

		<!-- Badge supplier -->
		<badge-selector-app
			[hasOpenAction]="true"
			[badge]="'Supplier' | erm"
			[value]="product?.supplier?.name"
			(openActionClicked)="openSupplier()"
			(update)="update($event, 'supplier')">
		</badge-selector-app>

		<!-- Badge category -->
		<badge-selector-app
			[badge]="'Category' | erm"
			[value]="product?.category"
			(update)="update($event, 'category')">
		</badge-selector-app>

		<!-- Badge event -->
		<badge-selector-app
			*ngIf="product?.event"
			[badge]="'Event' | erm "
			[value]="product?.event"
			(update)="update($event, 'event')">
		</badge-selector-app>

	</preview-header-app>

	<!-- Description -->
	<preview-section-app #contentTab1 [title]="'title.description' | translate">
		<input-description-app
			[description]="product?.description"
			(update)="update($event, 'description')">
		</input-description-app>
	</preview-section-app>

	<!-- Tags -->
	<preview-section-app #contentTab1 [title]="'title.tags' | translate">
		<input-badge-selector-app
			[value]="product?.tags"
			typename="Tag"
			(change)="update($event, 'tags')">
		</input-badge-selector-app>
	</preview-section-app>

	<!-- Projects -->
	<preview-section-app #contentTab1 [title]="'title.projects' | translate">
		<input-badge-selector-app
			[value]="product?.projects"
			typename="Project"
			(change)="update($event, 'projects')">
		</input-badge-selector-app>
	</preview-section-app>

	<!-- Rating -->
	<preview-section-app #contentTab2 [title]="'team rating'">
		<rating-dashboard-app
			[teamVotes]="teamVotes$ | async"
			[userVote]="userVote$ | async"
			[nodeId]="'product:' + product?.id"
			(update)="updateVote($event)"
			(viewRatings)="dlgCommonSrv.openVoteDetailsDialog($event)">
		</rating-dashboard-app>
	</preview-section-app>

</preview-static-app>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>
