:host {
	&.hide-sections preivew-section-app {
		display: none;
	}
}

preview-carousel-app {
	height: 371px;
	border-top-left-radius: var(--border-radius-l);
	border-top-right-radius: var(--border-radius-l);
}

.button-action-list {
	padding-top: var(--spacing-ms);
	padding-bottom: var(--spacing-l);
}

.title {
	font-size: var(--font-size-l);
	font-weight: 600;
}

.info {
	color: var(--color-txt-secondary);
}
