<!-- Panel preview -->
<preview-panel-app *ngIf="isPreview && (product$ | async)" cdk-scrollable>
	<!-- Banner -->
	<preview-banner-app>
		<!-- top bar -->
		<preview-top-bar-app
			(closed)="close.emit()"
			(opened)="openProduct()">
			<div class="fs-l semi-bold ellipsis">
				<span class="color-primary mg-right-xs">{{ product?.reference }}</span>
				<span class="color-txt-primary">{{ product?.name }}</span>
			</div>
			<div class="info dot-separator ellipsis flex">
				<span *ngIf="product?.price" class="ellipsis price">{{ product?.price | appPrice }}</span>
				<span *ngIf="product?.category" class="ellipsis category">{{ product?.category?.name }}</span>
				<rating-number-badge-app *ngIf="product?.votes?.length" class="rating-badge" [votes]="product?.votes" [background]="false"></rating-number-badge-app>
			</div>

			<!-- items 3 dots -->
			<context-menu-item-app
				(click)="update(true, 'favorite')"
				translate="button.set-as-favourite">
			</context-menu-item-app>

			<divider-app></divider-app>

			<context-menu-item-app
				(click)="archive()"
				translate="button.archive">
			</context-menu-item-app>
			<context-menu-item-warn-app
				(click)="delete(product)"
				translate="button.delete">
			</context-menu-item-warn-app>
		</preview-top-bar-app>

		<!-- carousel -->
		<preview-carousel-app
			[entity]="product"
			[entityMD]="erm.PRODUCT"
			[images]="product?.images"
			[hasPreview]="!isPreview"
			objectFit="cover">
		</preview-carousel-app>
	</preview-banner-app>

	<!-- Header -->
	<preview-header-app
		[entityMD]="erm.PRODUCT"
		[entity]="product"
		(update)="update($event, 'name')"
		(statusUpdated)="statusUpdated.emit($event)">

		<!-- Price -->
		<price-with-quantity-app
			*ngIf="product?.price?.value"
			class="custom-padding pd-top-xs"
			[product]="product"
			(updateField)="update($event.newValue,  $event.field)">
		</price-with-quantity-app>

		<!-- Badge supplier -->
		<badge-selector-app
			[hasOpenAction]="true"
			[badge]="erm.SUPPLIER"
			[value]="product?.supplier?.name"
			(openActionClicked)="openSupplier()"
			(update)="update($event, 'supplier')">
		</badge-selector-app>

		<!-- Badge category -->
		<badge-selector-app
			[badge]="erm.CATEGORY"
			[value]="product?.category"
			(update)="update($event, 'category')">
		</badge-selector-app>

		<!-- Badge event -->
		<badge-selector-app
			*ngIf="product?.event"
			[badge]="erm.EVENT"
			[value]="product?.event"
			(update)="update($event, 'event')">
		</badge-selector-app>

		<preview-section-app class="mg-none">

			<!-- blame designer for inconsistency in the design -->
			<divider-app class="mg-top-ms"></divider-app>

			<preview-actions-app
				class="pd-v-ms"
				[actions]="actions"
				(clickOnAction)="clickOnAction($event)">
			</preview-actions-app>

			<divider-app></divider-app>

		</preview-section-app>

	</preview-header-app>

	<!-- Tabs -->
	<preview-tab-app #tab1 (click)="previewSrv.onSelectedTab(1)">Product Info</preview-tab-app>
	<preview-tab-app #tab2 (click)="previewSrv.onSelectedTab(2)">Activity</preview-tab-app>
	<preview-tab-app #tab3 (click)="previewSrv.onSelectedTab(3)">Comments</preview-tab-app>

	<!-- Description -->
	<preview-section-app #contentTab1 [title]="'title.description' | translate">
		<input-description-app
			[description]="product?.description"
			(update)="update($event, 'description')">
		</input-description-app>
	</preview-section-app>

	<!-- Tags -->
	<preview-section-app #contentTab1 [title]="'title.tags' | translate">
		<input-badge-selector-app
			[value]="product?.tags"
			type="tag"
			(change)="update($event, 'tags')">
		</input-badge-selector-app>
	</preview-section-app>

	<!-- Product details -->
	<preview-section-app #contentTab1 [title]="'title.product-details'">
		<dynamic-form-app
			[fields]="productDescriptor1?.descriptor"
			[value]="product"
			[config]="formConfig"
			(update)="updateProduct($event)">
		</dynamic-form-app>

		<!-- Extended Fields -->
		<extended-form-app
			*ngIf="(fieldDefinitions$ | async)?.length"
			[definitions]="fieldDefinitions$ | async"
			[config]="formConfig"
			[fields]="product?.extendedFields"
			(update)="update($event, 'extendedFields')">
		</extended-form-app>
	</preview-section-app>

	<!-- Trading information -->
	<preview-section-app #contentTab1 [title]="'title.trading-information' | translate">
		<dynamic-form-app
			[fields]="productDescriptor2?.descriptor"
			[value]="product"
			[config]="formConfig"
			(update)="updateProduct($event)">
		</dynamic-form-app>
	</preview-section-app>

	<!-- Activity -->
	<!-- Rating -->
	<preview-section-app #contentTab2 [title]="'team rating'">
		<rating-dashboard-app
			[votes]="product?.votes"
			[type]="erm.PRODUCT.singular"
			(update)="update($event, 'votes')"
			(viewRatings)="dialogCommonSrv.openVoteDetailsDialog($event)">
		</rating-dashboard-app>
	</preview-section-app>

	<!-- Tasks -->
	<preview-section-app #contentTab2 *ngIf="(tasks$ | async)?.length" [title]="'Tasks'">
		<task-table-app
			class="no-padding"
			[rows]="tasks$ | async"
			[hasMinHeight]="false"
			[pending]="false"
			tableConfigType="small"
			[columns]="['done', 'name', 'dueDate']"
			[hasMenu]="false"
			[hasHeader]="false"
			[hasSelection]="false"
			[hasPagination]="false"
			(update)="updateTask($event)">
		</task-table-app>
	</preview-section-app>

	<!-- Samples -->
	<preview-section-app #contentTab2 *ngIf="(samples$ | async)?.length" [title]="'Samples'">
		<samples-table-app
			class="no-padding"
			[rows]="samples$ | async"
			[hasMinHeight]="false"
			[columns]="['name', 'status']"
			tableConfigType="small"
			[pending]="false"
			[hasMenu]="false"
			[hasHeader]="false"
			[hasSelection]="false"
			[hasPagination]="false"
			(update)="updateSample($event)">
		</samples-table-app>
	</preview-section-app>

	<!-- Comment -->
	<preview-section-app  #contentTab3 *ngIf="product?.comments?.length" [title]="'title.comments' | translate">
		<comment-list-app [comments]="product?.comments"></comment-list-app>
	</preview-section-app>

	<preview-comment-app #contentTab3 (added)="addComment($event)"></preview-comment-app>

	<input #inpFile multiple="true" type="file" accept="image/*" (fileSelect)="add($event)" />
</preview-panel-app>




<!-- Static -->
<preview-static-app	*ngIf="!isPreview">

	<!-- Banner -->
	<preview-banner-app>
		<preview-carousel-app
			[entity]="product"
			[entityMD]="erm.PRODUCT"
			[images]="product?.images"
			[hasPreview]="!isPreview"
			objectFit="cover">
		</preview-carousel-app>
	</preview-banner-app>

		<!-- Header -->
		<preview-header-app
			[entityMD]="erm.PRODUCT"
			[entity]="product"
			(update)="update($event, 'name')"
			(statusUpdated)="statusUpdated.emit($event)">

		<!-- Price -->
		<price-with-quantity-app
			*ngIf="product?.price?.value"
			[product]="product"
			(updateField)="update($event.newValue,  $event.field)">
		</price-with-quantity-app>

		<!-- Badge supplier -->
		<badge-selector-app
			[hasOpenAction]="true"
			[badge]="erm.SUPPLIER"
			[value]="product?.supplier?.name"
			(openActionClicked)="openSupplier()"
			(update)="update($event, 'supplier')">
		</badge-selector-app>

		<!-- Badge category -->
		<badge-selector-app
			[badge]="erm.CATEGORY"
			[value]="product?.category"
			(update)="update($event, 'category')">
		</badge-selector-app>

		<!-- Badge event -->
		<badge-selector-app
			*ngIf="product?.event"
			[badge]="erm.EVENT"
			[value]="product?.event"
			(update)="update($event, 'event')">
		</badge-selector-app>

	</preview-header-app>

	<!-- buttons -->
	<preview-section-app>

		<divider-app></divider-app>

		<preview-actions-app
			class="pd-v-ms"
			[actions]="actions"
			(clickOnAction)="clickOnAction($event)">
		</preview-actions-app>

		<divider-app></divider-app>

	</preview-section-app>

		<!-- Description -->
		<preview-section-app #contentTab1 [title]="'title.description' | translate">
			<input-description-app
				[description]="product?.description"
				(update)="update($event, 'description')">
			</input-description-app>
		</preview-section-app>

		<!-- Tags -->
		<preview-section-app #contentTab1 [title]="'title.tags' | translate">
			<input-badge-selector-app
				[value]="product?.tags"
				type="tag"
				(change)="update($event, 'tags')">
			</input-badge-selector-app>
		</preview-section-app>

		<!-- Projects -->
		<preview-section-app #contentTab1 [title]="'title.projects' | translate">
			<input-badge-selector-app
				[value]="product?.projects"
				type="project"
				(change)="update($event, 'projects')">
			</input-badge-selector-app>
		</preview-section-app>

		<!-- Rating -->
		<preview-section-app #contentTab2 [title]="'team rating'">
			<rating-dashboard-app
				[votes]="product?.votes"
				[type]="erm.PRODUCT.singular"
				(update)="update($event, 'votes')"
				(viewRatings)="dialogCommonSrv.openVoteDetailsDialog($event)">
			</rating-dashboard-app>
		</preview-section-app>

</preview-static-app>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>
