
	<div class="flexBetween editablePrice">
		<!-- value -->
		<editable-text-app #editable1 (closed)="onSave()" (opened)="onOpen()">
			<editable-label-app>
				<span class="priceValue">{{ value?.currency | const:'currency':'symbol'}} </span>
				<span class="priceValue">{{ value?.value !== undefined ? value.value : '-' }}</span>
			</editable-label-app>
			<!-- currency block goes before input on single line -->
			<span *ngIf="inlineLabel"
				class="currencyLabel1 txtBtn pointer" (click)="showCurrencySelector()">
				{{ value?.currency | const:'currency':'id' }}
			</span>
			<input #inp inputApp
				(keyup.enter)="editable1.close();"
				(input)="accumulatePrice(+inp.value)"
				(blur)="onBlur()"
				type="text"
				restrictInput="decimal"
				[value]="customField?.value?.value"/>
		</editable-text-app>
		<!-- currency goes after after when on double line -->
		<span *ngIf="!inlineLabel" class="currencyLabel2 pointer" (click)="showCurrencySelector()">
			{{ value?.currency | const:'currency':'id' }}
		</span>
		<selector-const-app
			*ngIf="currencySelectorShown"
			(clickOutside)="hideCurrencySelector()"
			class="rightSelector"
			[multiple]="false"
			[(ngModel)]="value.currency"
			[type]="'currency'"
			(change)="onCurrencyChange()"
			(blur)="onBlur()">
		</selector-const-app>
	</div>