:host {
	display: block;
	position: relative;
}
.currencyLabel1 {
	margin-right: 50px;
}
.currencyLabel2 {
	visibility: hidden;
	padding: 4px 11px;
	border: 1px solid var(--color-primary);
	border-radius: var(--border-radius-s);
	color: var(--color-primary);
	font-size: var(--font-size-s);
	font-weight: bold;
}

.rightSelector {
	min-width: 200px;
	position: absolute;
	right: -100px;
	top: 25px;
}

.editablePrice:hover .currencyLabel2 {
	visibility: visible;
}

:host {
	&.oneLine {
		input {
			padding: 2px 1px 2px 6px;
			border: none;
			background: var(--color-bg-third);
			width: 90px;
		}
	}
}