<field-cell-app [hasBottom]="!isOpen" [inlineLabel]=" inlineLabel">
	<label-app>{{ customField.label || customField.name }}</label-app>
	<div class="flexBetween editablePrice">
		<!-- value -->
		<editable-text-app #editable1 (closed)="onSave()" (opened)="onOpen()">
			<editable-label-app>
				<span>{{ value?.currency | const:'currency':'symbol'}} </span>
				<span>{{ value?.value !== undefined ? value.value : '-' }}</span>
			</editable-label-app>
			<input #inp inputApp
				(keyup.enter)="editable1.close();"
				(input)="accumulatePrice(+inp.value)"
				(blur)="onBlur()"
				type="text"
				restrictInput="decimal"
				[value]="customField?.value?.value"/>
		</editable-text-app>
		<!-- currency -->
		<editable-text-app class="editableCurrency" [hasAction]="false" (opened)="onOpen()" #editable2>
			<editable-label-app>
				<span class="currencyLabel">
					{{ value?.currency | const:'currency':'id' }}
				</span>
			</editable-label-app>
			<selector-const-app
				#selector
				class="rightSelector"
				[multiple]="false"
				[(ngModel)]="value.currency"
				[type]="'currency'"
				(change)="onCurrencyChange()"
				(blur)="onBlur()">
			</selector-const-app>

		</editable-text-app>
	</div>
</field-cell-app>