article{
	background: #ccc;
	border-radius: var(--border-radius);
	margin: var(--spacing-default);
	padding: 3px 9px;
}
mat-icon{
	font-size: 18px;
	height: 18px; 
	width: 18px;
	margin-left: var(--spacing-default);
}
.suppliers{
	background: orange;
}

.events{
	background: teal;
}

.categories{
	background: turquoise;
}

.tags{
	background: pink;
}