article{
	background: #ccc;
	border-radius: var(--border-radius);
	margin: var(--spacing-default);
	padding: var(--spacing-smaller);
}

.suppliers{
	background: orange;
}

.events{
	background: teal;
}

.categories{
	background: turquoise;
}

.tags{
	background: pink;
}