<auth-header-app
	[pending]="pending$ | async"
	instruction="text.please-fill-in-this-form-to-register">
</auth-header-app>

<form 
	*ngIf="!(pending$ | async)"
	[formGroup]="form" 
	(ngSubmit)="createAccount()" 
	class="flexColumn">

	<error-app *ngIf="error" [translate]="'error.' + error"></error-app>

	<form-field-app>
		<label-app translate="text.first-name"></label-app>
		<input 
			inputApp
			type="text" 
			autocomplete="given-name"
			formControlName="firstName"
			[placeholder]="'placeholder.your-first-name' | translate" 
			autofocus/>
	</form-field-app>

	<form-field-app>
		<label-app translate="text.last-name"></label-app>
		<input 
			inputApp
			type="text" 
			autocomplete="family-name"
			formControlName="lastName"
			[placeholder]="'placeholder.your-last-name' | translate"/>
	</form-field-app>

	<form-field-app>
		<label-app translate="text.email"></label-app>
		<input 
			inputApp
			type="email" 
			autocomplete="current-email"
			formControlName="username"
			placeholder="example@showsourcing.com"/>
			<hint-app translate="hint.company-tip"></hint-app>
	</form-field-app>

	<form-field-app>
		<label-app translate="text.password"></label-app>
		<input 
			inputApp
			type="password" 
			formControlName="password"
			[placeholder]="'placeholder.your-password' | translate"/>
	</form-field-app>
	
	<div class="btn-ctnr">
		<button 
			class="mg-v-ms" 
			type="submit" 
			(click)="createAccount()" 
			translate="button.sign-up">
		</button>
		<button 
			class="light" 
			type="button"
			(click)="goToSignIn()"
			translate="button.account-already-existed">
		</button>
	</div>

</form>


