<selector-app
	[(ngModel)]="value"
	[disabled]="disabled"
	[multiple]="multiple"
	[definitionReference]="definitionReference"
	[type]="type"
	[canCreate]="canCreate"
	[width]="width"
	(update)="onValueChange($event)">
	<selector-placeholder-app
		tabFocusAction autoFocus
		class="first-uppercase"
		[ngClass]="{ 'disabled': disabled }"
		[canFocus]="autofocus"
		[name]="value"
		[placeholder]="placeholder ? ('placeholder.' + placeholder | translate) : ('text.' + (parentLabel || type) | translate)">
		<div *ngIf="isEntity && value" #content class="flexWrap">
			<ng-container *ngTemplateOutlet="getLabelTemplate()"></ng-container>
		</div>
	</selector-placeholder-app>
</selector-app>

<ng-template #oneValueLabel>
	<!-- with badge -->
	<info-badge-app *ngIf="hasBadge; else noSingleBadge" [type]="type">
		<ng-container *ngTemplateOutlet="switchType; context: { item: value }"></ng-container>
	</info-badge-app>
	<!-- without badge, plain text -->
	<ng-template #noSingleBadge>
		<ng-container *ngTemplateOutlet="switchType; context: { item: value }"></ng-container>
	</ng-template>
</ng-template>

<ng-template #multipleValuesLabel>
	<!-- with badge -->
	<ng-container *ngIf="hasBadge; else noMultipleBadge">
		<info-badge-app *ngFor="let item of value; trackBy: trackByFn" [type]="type" class="multi-badge">
			<ng-container *ngTemplateOutlet="switchType; context: { item: item }"></ng-container>
		</info-badge-app>
	</ng-container>
	<!-- without badge, plain text -->
	<ng-template #noMultipleBadge>
		<span *ngFor="let item of value; last as last; trackBy: trackByFn">
			<ng-container *ngTemplateOutlet="switchType; context: { item: item }"></ng-container>
			<ng-container *ngIf="!last">-&nbsp;</ng-container>
		</span>
	</ng-template>
</ng-template>

<!-- detects the type and display certain property -->
<ng-template #switchType let-item="item">
	<ng-container [ngSwitch]="type">
		<!-- user -->
		<ng-container *ngSwitchCase="erm.USER.singular">
			{{ item | formatUserName: true }}
		</ng-container>
		<!-- event -->
		<ng-container *ngSwitchCase="erm.EVENT.singular">
			{{ item?.description?.name || item?.name }}
		</ng-container>
		<!-- country -->
		<ng-container *ngSwitchCase="erm.COUNTRY.singular">
			<span> {{ value ? (value | const: 'country' ) : '-' }}</span>
		</ng-container>
		<!-- we read these 2 values, since when we are updating it takes a bit to be converted to an array -->
		<!-- this strange behaviour happens since we share same value on extended field -> selectorValue: SelectorElement[] -->
		<!--  we share it as when the value is single and when its multiple -->
		<ng-container *ngSwitchCase="erm.SELECTOR_ELEMENT.singular">
			{{ item?.value || item[0]?.value }}
		</ng-container>
		<ng-container *ngSwitchDefault>
			{{ item?.name || 'none' }}
		</ng-container>
	</ng-container>
</ng-template>