	<header>
		<div class="flexCenter">
			<img src="assets/img/supplier.svg"/>
		</div>
	</header>

	<main class="flexBetween">
		<supplier-main-title-app
			[supplier]="supplier">
		</supplier-main-title-app>

		<supplier-summary-app
			(update)="update.emit($event)"
			[supplier]="supplier"
			[productCount]="productCount"
			[taskCount]="taskCount"
			[contactCount]="contactCount"></supplier-summary-app>
	</main>

	<footer class="flex {{ supplier?.tags?.length === 0 ? 'biggerPadding' : '' }}">
			<span class="tag" *ngFor="let tag of supplier?.tags;trackBy: trackByFn">{{ tag.name }}</span>
	</footer>
