:host {
	display: block;
}


article {
	padding: var(--spacing-s);
	border-radius: var(--border-radius);
	.minus {
		display: none;
	}
	&:hover .minus {
		display: block;
	}
}

.logo {
	margin-right: var(--spacing-ms);
}

.middle {
	flex-grow: 1;
}

.cercle {
	background: var(--color-secondary);
	margin-right: var(--spacing-s);
	width: 32px;
	height: 32px;
}

.name {
	font-weight: 600;
}

.numProducts {
	color: var(--color-txt-secondary);
	font-weight: 600;
}

.hr {
	margin: var(--spacing-m) 0;
}

.bottom {
	text-align: right;
}
