
<card-app paddingBottom="none">
	<h2 i18n="header 2|Project card@@projectCard_projects" class="flex">
		<icon-app fontSet="svg" name="folder-blue" ></icon-app>
		Projects
	</h2>

	<article *ngFor="let project of projects; last as last" class="flex">
		<icon-app fontSet="svg" name="folder" ></icon-app>
		<div class="flexColumn middle">
			<span class="name capitalize bold">{{ project?.name }}</span>
			<span class="description" i18n="span|Project card@@projectCard_description">  {{ project?.description }}  </span>
			<divider-app *ngIf="!last"></divider-app>
		</div>
		<div class="flexCenter">
			<icon-app  fontSet="fa" class="minus pointer fs-xl color-primary-light"
				(click)="removeProject.emit(project)" name="minus"></icon-app>
		</div>
	</article>

	<card-footer-app>
		<button
		(click)="addProjectClick.emit()"
		i18n="button|Add project@@projectCard_addProject">Add to project</button>
	</card-footer-app>
</card-app>

