:host {
	display: block;
}

card-app {
	width: 100%;

	icon-app[name^="folder"] {
		cursor: default;
		margin-right: var(--spacing-ml);
	}

	icon-app[name="folder"] {
		padding-bottom: 15px;
	}

	article {
		padding: var(--spacing-s);
		border-radius: var(--border-radius);

		.middle {
			flex-grow: 1;

			.name {
				font-weight: 600;
			}
			.description {
				margin-top: 5px;
				height: 15px;
				color: var(--color-txt-primary);
				font-size: var(--font-size-s);
			}
			.border-white {
				border-color: white;
			}
			divider-app {
				margin-top: 16px;
			}
		}
		.minus {
			display: none;
			color: var(--color-warn);
		}
		&:hover .minus {
			display: block;
		}
	}

	.no-projects {
		font-size: var( --font-size-xxxl);
    color: var(--color-txt-strong);
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 31px 0px;
	}

	.custom-margin {
		margin-left: 44px;
	}
}

