
<card-app padding="ms">
	<div class="title flex">
		<div class="space-icon flexAround">
			<icon-app fontSet="svg" name="folder-blue" ></icon-app>
		</div>
		<h2 i18n="header 2|Project card@@projectCard_projects">
			Projects
		</h2>
	</div>
	<div *ngFor="let project of projects; last as last">
		<article class="flexBetween" [class.last-item]="last">
			<div class="flex">
				<div class="space-icon flexAround">
					<icon-app fontSet="svg" name="folder" ></icon-app>
				</div>
				<div class="flexColumn middle" >
					<span class="name capitalize">{{ project?.name }}</span>
					<span *ngIf="project?.description" class="description" i18n="span|Project card@@projectCard_description">  {{ project?.description }}  </span>
				</div>
			</div>
			<div class="flexCenter">
				<icon-app  fontSet="fa" class="minus pointer fs-xl color-primary-light"
				(click)="removeProject.emit(project)" name="minus"></icon-app>
			</div>
		</article>
		<divider-app *ngIf="!last"></divider-app>
	</div>
	<span class="no-projects" *ngIf="projects?.length === 0">
		No Projects Added
	</span>

	<card-footer-app [class.custom-margin]="projects?.length > 0">
		<button
		(click)="addProjectClick.emit()"
		i18n="button|Add project@@projectCard_addProject">Add to project</button>
	</card-footer-app>
</card-app>

