h2 {
	margin-bottom: 0;
}

h4 {
	margin-bottom: var(--spacing-ms);
	font-size: var(--font-size-m);
}

.event {
	margin: var(--spacing-l) 0;
	.dateSquare {
		background: var(--color-secondary-light);
		font-size: var(--font-size-xs);
		width: 34px;
		height: 34px;
		margin-right: var(--spacing-s);
		.month {
			color: var(--color-primary);
			font-weight: 600;
		}
	}
	.name {
		color: var(--color-txt-strong);
		font-size: var(--fopnt-size-l);
		font-weight: 600;
	}
	.address {
		color: var(--color-primary);
	}
}
