:host {
	width: 386px;
	display: block;
	margin: auto;
}

form{
	display: block;
	width: 340px;
}

.imgPreview {
	width: 340px;
  height: 255px;
	border-radius: var(--border-radius);
	background: var(--color-secondary-light);
	overflow:hidden;
	.previewImg {
		max-width: 100%;
		max-height: 100%;
	}
}

.secondary {
	margin-top: var(--spacing-s);
	color: var(--color-txt-secondary);
}