<card-app (fileDrop)="onFileAdded($event)" padding="ms">
	<div class="title flex">
		<div class="space-icon flexAround">
			<icon-app class="fs-m color-primary" name="file" ></icon-app>
		</div>
		<h2 i18n="header 2|File section card title@@filesCard_attachedFiles">
			Attached Files
		</h2>
	</div>

	<ng-container *ngIf="files">
		<ng-container *ngIf="files.length > 0; else noFile">

			<!-- file list -->
			<list-app>

				<list-item-app *ngFor="let file of files; let last = last;trackBy: trackByFn" [border]="!last">
					<div class="flex">
						<spinner-app size="51" width="3" *ngIf="file.pending"></spinner-app>

						<div class="space-icon flexAround">
							<icon-app class="fs-m color-txt-secondary" name="file" ></icon-app>
						</div>
						<div class="name pointer">
							<div class="ellipsis">{{ file.fileName }}</div>
							<div class="file-size">{{ file.size | fileSize }}</div>
						</div>
						<div class="flexCenter">
							<icon-app fontSet="fa" (click)="onFileRemoved(file)" name="minus" class="pointer minus fs-xl color-primary-light"></icon-app>
						</div>
					</div>
				</list-item-app>

			</list-app>

		</ng-container>

		<!-- no file -->
		<ng-template #noFile>
			<div class="flexColumn flexCenter empty">
				<img [src]="defaultImg" class="pointer" (click)="inp.click()"/>
				<span i18n="spanFile section with no files@@filesCard_noDocuments">No Documents attached yet</span>
			</div>

		</ng-template>
	</ng-container>

	<card-footer-app>
		<input #inp type="file" class="hidden" (fileSelect)="onFileAdded($event)"/>
		<button (click)="inp.click()" i18n="button|Add file@@filesCard_addFile">Add File</button>
	</card-footer-app>

</card-app>

