:host {
	display: block;
}

.empty {
	font-style: italic;
	color: var(--color-txt-secondary);
	img {
		margin-bottom: var(--spacing-s);
	}
}

list-item-app {
	.minus {
		display: none;
	}
	&:hover .minus {
		display: block;
	}
	.iconFile {
		margin-right: var(--spacing-default);
	}
}
.ellipsis {
	width: 180px;
}

.hr {
	margin: var(--spacing-default) 0;
}

.footer {
	text-align: right;
}

.cercle {
	width: 32px;
	height: 32px;
	background: var(--color-primary-light);
	margin-right: var(--spacing-s);
}

.name {
	display: flex;
	flex-grow: 1;
	align-items: center;
	font-weight: 600;
}

.hidden {
	width: 0;
	visibility: hidden;
}