<card-app (fileDrop)="onFileAdded($event)">
	<h2 i18n>Attached Files</h2>

	<ng-container *ngIf="files$ | async as files">

		<article *ngFor="let file of files" class="flex">

			<spinner-app size="xl" *ngIf="file.pending"></spinner-app>

			<div class="cercle"></div>
			<div class="name pointer">
				<div class="ellipsis">{{ file.fileName }}</div>
			</div>
			<div class="flexCenter">
				<icon-app fontSet="fa" (click)="onFileRemoved(file)" name="minus" class="pointer minus" size="xl" color="primary-light"></icon-app>
			</div>

		</article>
	</ng-container>

	<card-footer-app>
		<input #inp type="file" class="hidden" (fileSelect)="onFileAdded($event)"/>
		<button (click)="inp.click()">Add File</button>
	</card-footer-app>
</card-app>

