:host {
	display: block;
}

.space-icon {
	height: var(--spacing-xl);
	width: var(--spacing-xl);
	margin-right: var(--spacing-ms);
}

.title {
	margin-bottom: var(--spacing-ms);

	icon-app[name="file"] {
		cursor: default;
		font-size: var(--font-size-xxl);
	}
}

card-footer-app {
	padding-bottom: var(--spacing-l);
}

.hidden {
	width: 0;
	visibility: hidden;
}
