<table class="{{ big ? 'big' : '' }}">
	<tr *ngIf="product?.supplierId | entityExist: 'suppliers' | async">
		<td>
			<supplier-status-icon-app [supplierId]="product?.supplierId" size="xs"></supplier-status-icon-app>
		</td>
		<td>
			<span> {{ product?.supplierId | entityName: 'suppliers' | async }}</span>
		</td>
	</tr>

	<tr  *ngIf="product?.categoryId | entityExist: 'categories' | async">
		<td>
			<icon-app  [fa]="true" name="tag" size="xs"></icon-app>
		</td>
		<td>
			<span>{{ product?.categoryId | entityName: 'categories' | async }}</span>
		</td>
	</tr>

	<!-- we don't display this one on the big card -->
	<!-- <tr *ngIf="!big && product?.minimumOrderQuantity !== undefined">
		<td>
			<icon-app  [fa]="true" name="info-circle" size="xs"></icon-app>
		</td>
		<td>
			<span>{{ product?.minimumOrderQuantity }}</span>
		</td>
	</tr> -->
</table>