<table class="{{ big ? 'big' : '' }}">
	<tr *ngIf="product?.supplierId | entityExist: 'supplier' | async">
		<td>
			<supplier-status-icon-app [supplierId]="product?.supplierId" size="xs"></supplier-status-icon-app>
		</td>
		<td>
			<span> {{ product?.supplierId | entityName: 'supplier' | async }}</span>
		</td>
	</tr>

	<tr  *ngIf="product?.categoryId | entityExist: 'category' | async">
		<td>
			<icon-app  fontSet="fa" name="tag" size="xs"></icon-app>
		</td>
		<td>
			<span>{{ product?.categoryId | entityName: 'category' | async }}</span>
		</td>
	</tr>

</table>