<ng-container *ngIf="images.length > 0">
	<div class="img-ctnr flexCenter">
		<img [src]="getUrl(selectedIndex)" (click)="openModal()" class="pointer" [style.transform]="'rotate(' + getRotation() + 'deg)'"/>
	</div>
	<div class="move-btn back flexCenter pointer btn action" (mousedown)="back($event)" *ngIf="selectedIndex > 0">
		&lt; </div>
	<div class="move-btn next flexCenter pointer btn action" (mousedown)="next($event)" *ngIf="selectedIndex < (images.length - 1)">
		&gt; </div>
	<div class="rotate pointer action" (click)="rotate()">rotate</div>

	<mat-icon class="menuIc btn action" (click)="openMenu()">more_vert</mat-icon>
	<!-- menu -->
	<menu class="z-2 flexColumn action" (clickOutside)="closeMenu()" *ngIf="menuOpen">
		<menuitem (click)="download()"> download </menuitem>
		<menuitem (click)="delete()"> delete </menuitem>
	</menu>
	<div class="counter">{{ selectedIndex }} / {{ images.length }}</div>

	<modal-carousel-app [selectedIndex]=[selectedIndex] [images]="images" *ngIf="modalOpen" (close)="closeModal()"></modal-carousel-app>


</ng-container>
