:host {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.action {
	visibility: hidden;
}

:host:hover > .action {
	visibility: visible;
}

.menuIc {
	position: absolute;
	top: var(--spacing-default);
	right: var(--spacing-default);
}

menu {
	position: absolute;
	top: var(--spacing-bigger);
	right: var(--spacing-default);
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius);
	width: var(--spacing-big);
	height: var(--spacing-big);
	color: white;
	background: var(--color-bg-dark);
}

.move-btn {
	position: absolute;
	top: 50%;
}

.back {
	left: var(--spacing-default);
}

.next {
	right: var(--spacing-default);
}

.img-ctnr {
	height: 100%;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.rotate {
	position: absolute;
	background: var(--color-bg-dark);
	padding: 0 var(--spacing-default);
	color: white;
	display: flex;
	align-items: center;
	right: var(--spacing-xl);
	top: var(--spacing-default);
}

.counter {
	position: absolute;
	bottom: var(--spacing-default);
	right: var(--spacing-default);
	border-radius: var(--border-radius);
	background-color: var(--color-bg-dark);
	padding: 0 var(--spacing-smaller);
	color: white;
}