<div class="titleLogo"></div>
<nav>
  <a [routerLink]="['/home']" routerLinkActive="selected">Home</a>

  <a [routerLink]="['/project']" routerLinkActive="selected">Projects</a>

  <a [routerLink]="['/product']" routerLinkActive="selected">Products</a>

  <a [routerLink]="['/supplier']" routerLinkActive="selected">Suppliers</a>

  <a [routerLink]="['/task']" routerLinkActive="selected">Tasks</a>

</nav>

<div class="flexCenter right" *ngIf="(authenticated$ | async)">
  <search-app></search-app>
  <div class="vertDivider"></div>
  <user-info-app></user-info-app>
</div>
