:host {
	display: flex;
	z-index: auto;
	position: relative;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	background: var(--color-txt-strong);
	color: white;
	padding-left: var(--spacing-m);
	border-top: 3px solid var(--color-primary);
}

.logo {
	height: 26px;
	width: 21px;
	margin-right: var(--spacing-l);
	display: block;
	background: url('/assets/icons/logo.svg') no-repeat center;
}

nav {
	font-size: var(--font-size-l);
	display: flex;
	justify-content: flex-start;
	flex-grow: 1;
	a {
		opacity: 0.9;
		display: block;
		padding: var(--spacing-m);
		&.selected {
			background: #071327;
			color: white;
		}
	}
}

.right {
	color: var(--color-primary-dark);
	notif-app, search-bar-animated-app, user-panel-app {
		&:hover {
			background: #071327;
		}
	}

	notif-app {
		cursor: pointer;
		padding: var(--spacing-xs) var(--spacing-s);
		border-radius: var(--border-radius-s);
	}

	search-bar-animated-app {
		font-size: 20px;
		margin-right: 20px;
		cursor: pointer;
		border-radius: var(--border-radius-s);
		&.expanded {
			background: #071327;
		}
		input {
			padding: 0;
			padding-left: 12px;
		}
	}

	notif-app {
		margin-right: 16px;
		font-size: 20px;
	}

	.searchInput {
		background: transparent;
		border: none;
	}

	.divider {
		height: var(--spacing-l);
		width: 1px;
		background-color: rgba(255, 255, 255, 0.1);
	}

}




