:host {
	display: flex;
	z-index: auto;
	position: relative;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	background: var(--color-txt-strong);
	color: white;
	padding: 0 var(--spacing-m);
	border-top: 3px solid var(--color-primary);
}

.titleLogo {
	height: 26px;
	width: 21px;
	margin-right: var(--spacing-l);
	display: block;
	background: url('/assets/icons/logo.svg') no-repeat center;
}



nav {
	font-size: var(--font-size-l);
	display: flex;
	justify-content: flex-start;
	flex-grow: 1;
	a {
		opacity: 0.9;
		display: block;
		padding: var(--spacing-m);
		&.selected {
			background: #071327;
			color: white;
		}
	}
}

.right {
	color: var(--color-primary-dark);
	notif-app, search-animated-app {
		cursor: pointer;
		margin: 0 28px;
		padding: var(--spacing-xs);
		border-radius: var(--border-radius-s);
		&:hover {
			background: #071327;
		}
	}

	.searchInput {
		background: transparent;
		border: none;
	}

	.divider {
		height: var(--spacing-l);
		width: 1px;
		margin: 0 var(--spacing-m);
		background-color: rgba(255, 255, 255, 0.1);
	}

}


