<img src="assets/logo.svg" class="logo"/>
<nav>
  <a [routerLink]="['/home']" routerLinkActive="selected">Home</a>

  <a [routerLink]="['/project']" routerLinkActive="selected">Projects</a>

  <a [routerLink]="['/product']" routerLinkActive="selected">Products</a>

  <a [routerLink]="['/supplier']" routerLinkActive="selected">Suppliers</a>

  <a [routerLink]="['/task']" routerLinkActive="selected">Tasks</a>

</nav>

<div class="flexCenter right">
	<!-- Let's move this in a component... -->
  <search-autocomplete-app #searchAutocomplete [xPosition]="0" [yPosition]="35"
                          [width]="400" [closeOnDisplay]="true"
                          (close)="searchBar.shrinkSearch()">
    <search-autocomplete-item-app *ngFor="let result of (searchResults$ | async)">
      <search-autocomplete-item-content-app
        *ngIf="result.type === 'product'"
        [selectable]="false"
        [status]="result.status?.name" [title]="result.name" [subtitle]="result.supplier?.name"
        [image]="result.images?.length > 0 ? (result | image:'m') : null"
        [link]="'/product/details/' + result.id + '/general'">
      </search-autocomplete-item-content-app>
      <search-autocomplete-item-content-app
        *ngIf="result.type === 'supplier'"
        [selectable]="false"
        [status]="result.status?.name" [title]="result.name" [subtitle]="supplierSubtitle(result)"
        image="/assets/icons/supplier-placeholder.svg"
        [link]="'/supplier/details/' + result.id">
      </search-autocomplete-item-content-app>
    </search-autocomplete-item-app>
  </search-autocomplete-app>
  <search-bar-animated-app #searchBar [disableClickOutside]="true" [hasBorder]="false"
                          [ngClass]="{ expanded: searchBarExpanded }"
                          (searchStateChanged)="onSearchBarStateChanged($event)">
    <input inputApp class="searchInput" restrictSpecial [restrictArrows]="true" type="text" (input)="triggerSearch()" [formControl]="searchControl" placeholder="Search Products, Suppliers..."/>
	</search-bar-animated-app>
  <notif-app></notif-app>
  <div class="divider"></div>
	<user-panel-app [user]="user$ | async" [team]="team$ | async" (logout)="logout()"></user-panel-app>
</div>
