<div class="titleLogo"></div>
Hello
<nav>
  <a [routerLink]="['/home']" routerLinkActive="selected">Home</a>

  <a [routerLink]="['/projects']" routerLinkActive="selected">Projects</a>

  <a [routerLink]="['/products']" routerLinkActive="selected">Products</a>

  <a [routerLink]="['/suppliers']" routerLinkActive="selected">Suppliers</a>

  <a [routerLink]="['/tasks']" routerLinkActive="selected">Tasks</a>

</nav>

<div class="flexCenter right" *ngIf="(authenticated$ | async)">
  <search-app></search-app>
  <div class="vertDivider"></div>
  <user-info-app></user-info-app>
</div>
