:host {
    display: flex;
    z-index: auto;
    position: relative;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 70px;
    padding: var(--spacing-xs);
    width: 100%;
    background: var(--color-bg);
    color: var(--color-txt-primary);
    padding: 0 var(--spacing-edge);
}

.titleLogo {
    height: 26px;
    width: 21px;
    margin-right: var(--spacing-l);
    display: block;
    background: url('/assets/icons/logo.svg') no-repeat center;
}

.vertDivider {
	margin-right: var(--spacing-l);
}

nav {
    font-size: var(--font-size-l);
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    a {
        display: block;
        margin-right: var(--spacing-nav);
        padding: 6px 10px;
        &.selected {
            background: var(--color-primary-dark);
            border-radius: var(--border-radius);
            color: white;
            font-weight: 600;
        }
    }
}

notif-app {
  margin: 0 28px;
}

search-bar-animated-app {
	margin-right: var(--spacing-default);
}
.searchInput {
	background: transparent;
	border: none;
}

