<ng-container *ngIf="project$ | async as project; else spinner">

<controller-table-app [hasExtra]="true">
	<controller-table-quick-filters-app [quickFilters]="['assignee']"></controller-table-quick-filters-app>
	<div class="extra">
		<button (click)="dialogCommonSrv.openAddToProjectDialog([$event])">Add Product</button>
	</div>
	<controller-table-quick-actions-app 
		[columns]="columns" 
		[tableConfig]="tableConfig">
	</controller-table-quick-actions-app>
	<controller-table-view-switcher-app [hasBoard]="false"></controller-table-view-switcher-app>
</controller-table-app>

<ng-container>

		<products-table-app
			*ngIf="listSrv.view === 'table'"
			[columns]="columns"
			[selection]="listSrv.selection$ | async"
			[rows]="listSrv.items$ | async"
			[pending]="listSrv.pending"
			[count]="listSrv.count$ | async"
			[currentSort]="listSrv.currentSort"
			[currentPage]="listSrv.currentPage"
			createEntityBtnName="Add Product"
			(goToPage)="listSrv.loadPage($event)"
			(previewClick)="listSrv.openPreview($event)"
			(select)="listSrv.selectOne($event, true)"
			(unselect)="listSrv.unselectOne($event, true)"
			(selectAll)="listSrv.selectAll($event, true)"
			(unselectAll)="listSrv.unselectAll()"
			(archive)="listSrv.archiveOne($event)"
			(open)="listSrv.goToDetails($event)"
			(createClick)="dialogCommonSrv.openAddToProjectDialog([$event])"
			(openAddToProjectDialog)="dialogCommonSrv.openAddToProjectDialog([$event])"
			(openAddSampleDialog)="dialogCommonSrv.openCreationSampleDialog($event)"
			(unfavorited)="listSrv.onItemUnfavorited($event)"
			(setFavourite)="listSrv.onItemFavorited($event?.id)"
			(favorited)="listSrv.onItemFavorited($event)"
			(openAddTaskDialog)="dialogCommonSrv.openCreationTaskDlg($event)"
			(sort)="listSrv.sort($event)"
			(showItemsPerPage)="showItemsPerPage($event)"
			(delete)="deassociateProductById(($event)?.id)">
		</products-table-app>

		<products-grid-app
			infiniScroll
			cdk-scrollable
			*ngIf="listSrv.view === 'card'"
			[currentSort]="listSrv.currentSort"
			[rows]="listSrv.items$ | async"
			[selection]="listSrv.selection$ | async"
			(addToProject)="dialogCommonSrv.openAddToProjectDialog([$event])"
			(bottomReached)="listSrv.loadMore()"
			(disliked)="listSrv.onThumbDown($event, erm.PRODUCT.singular)"
			(favorited)="listSrv.onItemFavorited($event)"
			(liked)="listSrv.onThumbUp($event, erm.PRODUCT.singular)"
			(open)="listSrv.goToDetails($event)"
			(previewClick)="listSrv.openPreview($event)"
			(select)="listSrv.selectOne($event, true)"
			(unfavorited)="listSrv.onItemUnfavorited($event)"
			(unselect)="listSrv.unselectOne($event, true)"
			(update)="listSrv.update($event)">
		</products-grid-app>

		<products-board-app
			*ngIf="listSrv.view === 'board'"
			(selectOne)="listSrv.selectOne($event, true)"
			(unselectOne)="listSrv.unselectOne($event, true)"
			(preview) = "listSrv.openPreview($event)">
		</products-board-app>

		<product-selection-bar-app
			[isShown]="(listSrv.selection$ | async).size > 0"
			[selection]="listSrv.selection$ | async"
			(addProject)="dialogCommonSrv.openAddToProjectDialog(listSrv.getSelectedValues())"
			(export)="dialogCommonSrv.openExportDialog(erm.PRODUCT.singular, listSrv.getSelectedValues())"
			(createRequest)="dialogCommonSrv.openSupplierRequest(listSrv.getSelectedValues())"
			(requestTeamFeedback)="dialogCommonSrv.openRequestFeedbackDialog(listSrv.getSelectedValues())"
			(archiveProducts)="listSrv.archiveMany(listSrv.getSelectedValues())"
			(compareProducts)="dialogCommonSrv.openCompareProductDialog(listSrv.getSelectedValues())"
			(statusUpdated)="listSrv.updateSelected({status: $event})"
			(massEdit)="dialogCommonSrv.openMassEditDialog(listSrv.getSelectedValues(), erm.PRODUCT)"
			(deleted)="deassociateSelectedProducts()"
			(close)="listSrv.unselectAll()"
			(selectAll)="listSrv.selectAll($event)"
			(unselectAll)="listSrv.unselectAll()">
		</product-selection-bar-app>

		<side-panel-app *ngIf="listSrv.filterPanelOpen">
			<filters-app
				[filterList]="listSrv.filterList"
				[filterTypes]="filterTypes"
				(clickOutside)="listSrv.closeFilterPanel()"
				(close)="listSrv.closeFilterPanel()">
			</filters-app>
		</side-panel-app>

		<product-preview-app
			*ngIf="listSrv.previewOpen"
			[product]="listSrv.previewed"
			[isPreview]="false"
			(close)="listSrv.closePreview()">
		</product-preview-app>
	</ng-container>


</ng-container>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>
