<ng-container *ngIf="project$ | async as project; else spinner">

	<controller-list-app
		class="max-full-table-width"
		[hasSwitch]="true"
		[filtersAmount]="listSrv.getFilterAmount([{ type: filterTypeEnum.ARCHIVED, value: false }, { type: filterTypeEnum.DELETED, value: false }])"
		[hasFilter]="true"
		[entityType]="entityTypeEnum.PRODUCT"
		[searchValue]="listSrv.searchValue"
		[view]="listSrv.view"
		[count]="listSrv.count$ | async"
		(showFilters)="listSrv.openFilterPanel()"
		(clearFilters)="onClearFilters()"
		(showArchived)="listSrv.filterByArchived(true)"
		(hideArchived)="listSrv.filterByArchived(false)"
		(showAssigned)="listSrv.filterByAssignee(true)"
		(hideAssigned)="listSrv.filterByAssignee(false)"
		(search)="listSrv.search($event)"
		(export)="commonModalSrv.openExportDialog(listSrv.getSelectedValues())"
		(viewChange)="listSrv.changeView($event)">

		<controller-list-right-item-app>
			<product-sorting-menu-app
				[currentSort]="listSrv.currentSort"
				(sortFromMenu)="listSrv.sortFromMenu($event)">
			</product-sorting-menu-app>
		</controller-list-right-item-app>

	</controller-list-app>

<ng-container>

		<products-table-app
			*ngIf="listSrv.view === 'list'"
			class="max-full-table-width"
			[selection]="listSrv.selection$ | async"
			[rows]="listSrv.items$ | async"
			[pending]="listSrv.pending"
			[count]="listSrv.count$ | async"
			[currentSort]="listSrv.currentSort"
			[currentPage]="listSrv.currentPage"
			(goToPage)="listSrv.loadPage($event)"
			(previewClick)="listSrv.openPreview($event)"
			(select)="listSrv.selectOne($event, true)"
			(unselect)="listSrv.unselectOne($event, true)"
			(selectAll)="listSrv.selectAll($event, true)"
			(unselectAll)="listSrv.unselectAll()"
			(archive)="onArchive($event)"
			(open)="listSrv.goToDetails($event)"
			(openAddToProjectDialog)="commonModalSrv.openAddToProjectDialog([$event])"
			(openAddSampleDialog)="commonModalSrv.openAddSampleDialog($event)"
			(unfavorited)="listSrv.onItemUnfavorited($event)"
			(setFavourite)="listSrv.onItemFavorited($event?.id)"
			(favorited)="listSrv.onItemFavorited($event)"
			(openAddTaskDialog)="commonModalSrv.openCreationTaskDlg($event)"
			(sort)="listSrv.sort($event)"
			(showItemsPerPage)="showItemsPerPage($event)"
			(delete)="deassociateProductById(($event)?.id)"
			(archiveProduct)="onArchive($event)">
		</products-table-app>

		<products-grid-app
			infiniScroll
			cdk-scrollable
			*ngIf="listSrv.view === 'card'"
			class="max-full-table-width"
			[currentSort]="listSrv.currentSort"
			[rows]="listSrv.items$ | async"
			[selection]="listSrv.selection$ | async"
			(addToProject)="commonModalSrv.openAddToProjectDialog([$event])"
			(bottomReached)="listSrv.loadMore()"
			(disliked)="listSrv.onThumbDown($event)"
			(favorited)="listSrv.onItemFavorited($event)"
			(liked)="listSrv.onThumbUp($event)"
			(open)="listSrv.goToDetails($event)"
			(previewClick)="listSrv.openPreview($event)"
			(select)="listSrv.selectOne($event, true)"
			(unfavorited)="listSrv.onItemUnfavorited($event)"
			(unselect)="listSrv.unselectOne($event, true)"
			(update)="listSrv.update($event)">
		</products-grid-app>

		<products-board-app
			*ngIf="listSrv.view === 'board'"
			[selection]="listSrv.selection$"
			(selectOne)="listSrv.selectOne($event, true)"
			(unselectOne)="listSrv.unselectOne($event, true)"
			(preview) = "listSrv.openPreview($event)">
		</products-board-app>

		<product-selection-bar-app
			[isShown]="(listSrv.selection$ | async).size > 0"
			[selection]="listSrv.selection$ | async"
			[favorite]="listSrv.allSelectedFavorite"
			(disliked)="listSrv.onMultipleThumbDown($event)"
			(liked)="listSrv.onMultipleThumbUp($event)"
			(favorited)="listSrv.onFavoriteAllSelected()"
			(unfavorited)="listSrv.onUnfavoriteAllSelected()"
			(addProject)="commonModalSrv.openAddToProjectDialog(listSrv.getSelectedValues())"
			(export)="commonModalSrv.openExportDialog(listSrv.getSelectedValues())"
			(createRequest)="commonModalSrv.openSupplierRequest(listSrv.getSelectedValues())"
			(requestTeamFeedback)="commonModalSrv.openRequestFeedbackDialog(listSrv.getSelectedValues())"
			(archiveProducts)="onArchive(listSrv.getSelectedValues())"
			(compareProducts)="commonModalSrv.openCompareProductDialog(listSrv.getSelectedValues())"
			(statusUpdated)="listSrv.updateSelected({status: $event})"
			(massEdit)="commonModalSrv.openMassEditDialog(listSrv.getSelectedValues(), erm.PRODUCT)"
			(deleted)="deassociateSelectedProducts()"
			(close)="listSrv.unselectAll()">
		</product-selection-bar-app>

		<filters-app
			*ngIf="listSrv.filterPanelOpen"
			[filterList]="listSrv.filterList"
			[filterTypes]="filterTypes"
			(clickOutside)="listSrv.closeFilterPanel()"
			(close)="listSrv.closeFilterPanel()">
		</filters-app>

		<product-preview-app
			*ngIf="listSrv.previewOpen"
			[product]="listSrv.previewed"
			(close)="listSrv.closePreview()">
		</product-preview-app>
	</ng-container>


</ng-container>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>
