<card-app class="action-hover-container-0">
	<card-title-app size="l">
		<div class="mg-right-ms" translate="title.pictures"></div>
		<spinner-app *ngIf="pending" size="l"></spinner-app>
	</card-title-app>

	<card-action-app *ngIf="images?.length" class="action-hover-item-0" (click)="inpFile?.click()"><div translate="button.add-pictures"></div></card-action-app>

	<ng-container *ngIf="images?.length; else empty">
		<div class="flex flexWrap">
			<!-- we place the height here so we can have a transition when displaying more images or less images -->
			<img-app
				*ngFor="let image of images; index as i; trackBy: trackById"
				class="mg-bottom-xs pointer default-transition"
				[class.mg-right-xs]="i%5 !== 4"
				[style.height]="i > currentShown ? '0px' : '154px'"
				[style.width]="i > currentShown ? '0px' : '154px'"
				[image]="image"
				(click)="selectedIndex = i; modalCarousel.open();">
			</img-app>
		</div>
	</ng-container>

	<!-- we display a button if we have images and if we have more than the minimum -->
	<card-footer-app *ngIf="(images?.length)  && (images?.length > defaultShown)" align="center">
		<button
			*ngIf="currentShown <= images?.length"
			class="primary-light full-width flexCenter"
			(click)="currentShown = currentShown + 20"
			translate="button.view-more-pictures">
		</button>
		<button
		 	*ngIf="currentShown > images?.length"
			class="primary-light full-width flexCenter"
			(click)="currentShown = defaultShown - 1"
			translate="button.view-less-pictures">
		</button>
	</card-footer-app>

</card-app>

<ng-template #empty>
	<div class="flexColumn flexCenter full-width pd-bottom-l">
		<logo-app
			class="mg-bottom-ms"
			[circle]="true"
			size="xxl"
			[type]="'IMAGE' | erm: 'singular'">
		</logo-app>
		<div class="color-txt-primary bold-s mg-bottom-xs" translate="placeholder.no-pictures-found"></div>
		<div class="color-txt-secondary mg-bottom-ms" translate="placeholder.add-new-one"></div>
		<button (click)="inpFile.click()" translate="button.add-pictures"></button>
	</div>
</ng-template>

<!-- input used to input files -->
<input #inpFile [multiple]="isImagePropertyArray" type="file" accept="image/*" (fileSelect)="addImages($event)"/>

<modal-carousel-app
	#modalCarousel
	[selectedIndex]="selectedIndex"
	[images]="images"
	(openFileBrowser)="inpFile.click()"
	(indexChange)="selectedIndex = $event">
</modal-carousel-app>
