<card-app>
	<card-title-app translate="title.pictures"></card-title-app>

	<ng-container *ngIf="images?.length; else empty">
		<div class="flex flexWrap">
			<!-- we place the height here so we can have a transition when displaying more or less -->
			<img-app
				*ngFor="let image of images; index as i; trackBy: trackById"
				class="mg-bottom-xs pointer transition"
				[class.mg-right-xs]="i%5 !== defaultShown"
				[style.height]="i > currentShown ? '0px' : '154px'"
				[style.width]="i > currentShown ? '0px' : '154px'"
				[image]="image"
				(click)="selectedIndex = i; modalCarousel.open();">
			</img-app>
		</div>
	</ng-container>

	<!-- we display a button if we have images and if we have more than the minimum -->
	<card-footer-app *ngIf="(images?.length)  && (images?.length > defaultShown + 1)" align="center">
		<button *ngIf="currentShown <= images?.length" class="primary-light view-all" (click)="currentShown = currentShown + 20">view more pictures</button>
		<button *ngIf="currentShown > images?.length  && (images?.length > defaultShown + 1)" class="primary-light view-all" (click)="currentShown = defaultShown">view less pictures</button>
	</card-footer-app>

</card-app>

<ng-template #empty>
	<div class="flexColumn flexCenter full-width pd-bottom-l">
		<logo-app
			class="mg-bottom-ms"
			[circle]="true"
			size="xxl"
			[type]="'IMAGE' | erm: true">
		</logo-app>
		<div class="color-txt-primary bold-s mg-bottom-xs">No pictures found</div>
		<div class="color-txt-secondary mg-bottom-ms">Add a new one!</div>
		<button (click)="inpFile.click()">add pictures</button>
	</div>
</ng-template>

<!-- input used to input files -->
<input #inpFile [multiple]="isImagePropertyArray" type="file" accept="image/*" (fileSelect)="addImages($event)"/>

<modal-carousel-app
	#modalCarousel
	[selectedIndex]="selectedIndex"
	[images]="images"
	(openFileBrowser)="inpFile.click()"
	(indexChange)="selectedIndex = $event">
</modal-carousel-app>