
.bg-Idea {
	background: var(--color-idea);
}

.bg-NeedReview {
	background: var(--color-need-review);
}

.bg-UnderAssessment {
	background: var(--color-under-assessment);
}

.bg-Complete {
	background: var(--color-complete);
}

.bg-Refused {
	background: var(--color-refused)
}

.bg-CustomStatus {
	background: var(--color-txt-secondary);
}