:host {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background: var(--color-bg-secondary);
	z-index: 4;
	overflow-x: hidden;
	overflow-y: auto;
	width: 280px;
	padding: var(--spacing-default);
}
