<ng-container *ngIf="single; else double">
<button class="icon light" (click)="singleClick()">
	<icon-app
		[size]="size"
		[@thumbAnimation]="state"
		name="thumbs-up"
		fontSet="fa">
	</icon-app>
</button>
</ng-container>

<ng-template #double>
	<button class="icon light first flex" [ngClass]="{'total-width': hasText}" (click)="thumbUp()">
		<icon-app name="thumbs-up{{ like ? '-primary' : ''}}" fontSet="svg" [size]="size" ></icon-app>
		<p *ngIf="hasText">Like</p>
	</button>
	<button class="icon light second flex" [ngClass]="{'total-width': hasText}" (click)="thumbDown()">
		<icon-app name="thumbs-down{{ dislike ? '-warn' : ''}}" fontSet="svg" [size]="size"></icon-app>
		<p *ngIf="hasText">Dislike</p>
	</button>
</ng-template>
