<ng-container *ngIf="single; else double">
<button class="icon light" (click)="singleClick()">
	<icon-app
		[size]="size"
		[@thumbAnimation]="state"
		name="thumbs-up"
		fontSet="fa">
	</icon-app>
</button>
</ng-container>

<ng-template #double class="flex">
	<button class="icon light first" (click)="thumbUp()">
		<icon-app name="thumbs-up" fontSet="fa" [class.color-primary]="like" [size]="size" ></icon-app>
	</button>
	<button class="icon light" (click)="thumbDown()">
		<icon-app name="thumbs-down" fontSet="fa" [class.color-warn]="dislike" [size]="size"></icon-app>
	</button>
</ng-template>
