:host {
	display: flex;
}

.icon-thumb-up, .icon-thumb-down {
  margin-right: var(--spacing-xs);
  font-size:  var(--font-size-s);
  color: var(--color-white);
}

.first {
	margin-right: var(--spacing-ms);
}
