.btn {
	background: var(--color-button-dark);
	// margin: var(--spacing-xs);
	padding: var(--spacing-xs) var(--spacing-s);
	border-radius: 10px;
  font-size:  11px;
}

.icon-thumb-up, .icon-thumb-down {
  margin-right: var(--spacing-xs);
  font-size:  var(--font-size-s);
  color: var(--color-white);
}

.first {
	margin-right: 10px;
}
