

<card-app>
	<card-nav-app>
		<logo-nav-app
			(click)="selected = 0" 
			[selected]="selected === 0"
			title="10 comments" 
			subtitle="assigned to you">
			<logo-app type="comment" size="l"></logo-app>
		</logo-nav-app>
		<logo-nav-app 
			[selected]="selected === 1"
			(click)="selected = 1" 
			title="10 product" 
			subtitle="assigned to you">
			<logo-app type="product" size="l"></logo-app>
		</logo-nav-app>
	</card-nav-app>
	<card-title-app>
		Title
	</card-title-app>
	<card-title-badge-app>78</card-title-badge-app>
	<card-action-app>Action</card-action-app>
</card-app>

