

<card-app>
	<card-nav-app>

	</card-nav-app>
	<card-title-app>
		<logo-nav title="10 product" subtitle="assigned to you">
			<logo-app type="product"></logo-app>
		</logo-nav>
		<logo-nav title="10 suppliers" subtitle="assigned to you">
			<logo-app type="supplier"></logo-app>
		</logo-nav>
	</card-title-app>
	<card-title-badge-app>78</card-title-badge-app>
	<card-action-app>Action</card-action-app>
	
	&lt;card-app&gt;  <br>
	<div class="mg-s">
	  &lt;card-nav-app&gt;Some content&lt;/card-nav-app&gt; <br>
	  &lt;card-title-app&gt;Title&lt;/card-title-app&gt; <br>
	  &lt;card-title-badge-app&gt;78&lt;/card-title-badge-app&gt; <br>
	  &lt;card-action-app&gt;Action&lt;/card-action-app&gt; <br>
	  This is the content of the card <br>
	</div>
	&lt;/card-app&gt;
</card-app>

<card-app>
	<card-title-app>Title</card-title-app>
	
	&lt;card-app&gt;  <br>
	<div class="mg-s">
		&lt;card-title-app&gt;Title&lt;/card-title-app&gt; <br>
	</div>
	&lt;/card-app&gt;
</card-app>