

<card-app>
	<card-header-app>Some header</card-header-app>
	<card-title-app>Title</card-title-app>
	<card-title-badge-app>78</card-title-badge-app>
	<card-action-app>Action</card-action-app>
	
	&lt;card-app&gt;  <br>
	<div class="mg-s">
	  &lt;card-header-app&gt;Some header&lt;/card-header-app&gt; <br>
	  &lt;card-title-app&gt;Title&lt;/card-title-app&gt; <br>
	  &lt;card-title-badge-app&gt;78&lt;/card-title-badge-app&gt; <br>
	  &lt;card-action-app&gt;Action&lt;/card-action-app&gt; <br>
	  This is the content of the card <br>
	</div>
	&lt;/card-app&gt;
</card-app>

<card-app>
	<card-title-app>Title</card-title-app>
	
	&lt;card-app&gt;  <br>
	<div class="mg-s">
		&lt;card-title-app&gt;Title&lt;/card-title-app&gt; <br>
	</div>
	&lt;/card-app&gt;
</card-app>