

<card-app>
	<card-title-app>Accordion</card-title-app>

	<accordion-app>
		<accordion-title-app>Title</accordion-title-app>
		<accordion-content-app>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec congue nibh, quis feugiat dui. Mauris porta elit non ipsum scelerisque dignissim. Aliquam aliquam sit amet risus eget iaculis. Duis eleifend tempor gravida. Nulla porttitor, justo sit amet hendrerit tincidunt, libero enim mollis purus, sit amet posuere sapien arcu vel nunc. Sed vitae libero in eros fringilla mollis. Aenean et consequat erat, eu elementum nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus vehicula sapien non eros porttitor, quis cursus ex eleifend. Nulla elementum, dui et euismod bibendum, ex augue feugiat enim, nec iaculis orci sapien et ante. Nulla in enim ac ipsum molestie malesuada. Vestibulum at erat elementum, tincidunt quam nec, lacinia magna. Fusce ac nibh ligula.
		</accordion-content-app>
	</accordion-app>
</card-app>
