
field-cell-app {
	width: 100%;
	position: relative;
	padding: 8px 0 8px 0;
}

input {
	padding:  1px 1px 1px var(--spacing-m);
	width: 90px;
}

.txtBtn {
	&.currency {
		margin-right: var(--spacing-xl);
	}
}
.label {
	font-weight: bold;
	font-size: var(--font-size-s);
	text-transform: capitalize;
}

.currencySelector {
	position: absolute;
	bottom: 0;
	width: 141px;
	top: 50px;
	z-index: 4;
}