$padding-horizontal: 8px;

:host {
	display: flex;
	justify-content: space-between;
	align-items: center;
	// we always display the border on single line
	border-bottom: 1px solid var(--color-secondary);
	height: 24px;

	.label {
		height: 100%;
		width: 50%;
		display: flex;
		font-size: var(--font-size-m);
		color: var(--color-txt-secondary);
	}

	.value {
		height: 100%;
		width: 50%;
		display: flex;
		editable-value-app {
			justify-content: flex-end;
		}
	}
}
