<!-- hint editable field is used for styling convenience, it doesn't do anything -->
<editable-field-app [openOnClick]="false" [inlineLabel]="true">
	<!-- label -->
	<label-app>
		<editable-text-app #editableLabel (closed)="closed.emit($event)">

			<editable-label-app>
				<ng-container *ngIf="value.label; else placeholder">
					{{ value.label }}
				</ng-container>
				<ng-template #placeholder>
					<span class="placeholder">Add price label</span>
				</ng-template>
			</editable-label-app>

			<!-- label input -->
			<input
				#inp1
				inputApp
				autofocus="true"
				[value]="value.label"
				(input)="accumulate('label', inp1.value)"
				(change)="onChangeFn()"
				(blur)="onTouchedFn()"
				(keyup.enter)="editableLabel.close();"
				[type]="'text'"/>

		</editable-text-app>
	</label-app>


	<!-- price -->
	<editable-label-app>
		<editable-text-app #editableValue (closed)="closed.emit($event)">
			<editable-label-app class="txtBtn">
				<span *ngIf="currency">{{ (currency || 'USD') | const : 'currency' : 'symbol'}} </span>
				<span class="mg-xs spacer"></span>
				<span>{{ amount ? amount  : '-'}}</span>
			</editable-label-app>

			<input-price-app
				#inpPrice
				[price]="value.price"
				(keyup.enter)="editableValue.close();"
				(change)="accumulate('price', inpPrice.price)"></input-price-app>

		</editable-text-app>
	</editable-label-app>
</editable-field-app>
