:host {
	display: block;
	min-height: 84px;
	background: var(--color-bg);
	border-radius: var(--border-radius);
	box-shadow: 0 2px 4px 0 va(--color-secondary);
	border: solid 1px var(--color-secondary);
	padding: 1px;
	cursor: pointer;

	&:hover {
		background-color: var(--color-secondary-light);
		box-shadow: 0px 1px 4px 0 var(--color-secondary-dark);
	}
}

.card-container {
	height: 100%;
	margin: var(--spacing-s);

	.left {
    width: 68px;
		margin-right: var(--spacing-s);
		position: relative;

		checkbox-app {
			position: absolute;
			top: var(--spacing-xs);
			left: var(--spacing-xs);

		}
	}

	.right {
		width: 232px;
		margin: 0px var(--spacing-xs);

		& > * {
			margin-bottom: var(--spacing-xs);
		}

		.center-section {
			.name {
				color: var(--color-primary);
			}
			.supplier::before {
				content: "\00a0 \00a0 \2022 \00a0 \00a0";
				font-weight: bolder;
			}
		}

		.bottom-section {

			.info-user user-picture-app {
				margin-right: var(--spacing-s);
			}

			.number-comments {
				icon-app {
					color: var(--color-secondary);
					margin-right: 6px;
					cursor: default;
				}

				span {
					color: var(--color-secondary-dark);
				}
			}
		}
	}
}

.imgCntr {
	position: relative;
	img-app {
		position: absolute;
		width: 68px;
		height: 68px;
	}
	.preview {
		display: none;
		position: absolute;
		color: white;
		font-weight: 600;
		top: 24px;
    left: 10px;
	}
	&:hover {
		.preview {
			display: block;
		}
	}
}

