<selector-app
	type="erm.PROJECT"
	[canCreate]="true"
	[value]="(product$ | async)?.projects"
	[multiple]="true"
	(update)="update($event, 'projects')">
	<div>OffsetX, OffsetY: Default</div>
	<button class="mg-ms">Projects selector</button>
</selector-app>
<!--  if this is uncommented and since we are not using virtual scroll, on selector2 -> searchTxt = 'light'
			so we just load part of it -->
<selector-app
	type="erm.SUPPLIER"
	[canCreate]="true"
	[offsetX]="300"
	(update)="update($event, 'supplier')">
	<div>OffsetX = 300, OffsetY: Default</div>
	<button class="mg-ms"> Supplier selector </button>
</selector-app>
<selector-app
	type="erm.CURRENCY"
	[offsetX]="300"
	[offsetY]="300">
	<div>OffsetX = 300, OffsetY: 300</div>
	<button class="mg-ms"> Currency selector </button>
</selector-app>
<selector-app
	type="erm.USER"
	[offsetY]="300">
	<div>OffsetX: Default, OffsetY: 300</div>
	<button class="mg-ms"> User Selector </button>
</selector-app>
<selector-app
	type="erm.COUNTRY"
	[offsetY]="-300">
	<div>OffsetX: Default, OffsetY: - 300</div>
	<button class="mg-ms"> Country selector </button>
</selector-app>
<selector-app
	type="erm.SUPPLIER_TYPE">
	<div>OffsetX, OffsetY: Default</div>
	<button class="mg-ms"> SupplierType selector </button>
</selector-app>
<selector-app
	type="erm-WEIGHT_UNIT">
	<div>OffsetX, OffsetY: Default</div>
	<button class="mg-ms"> Weight Unit selector </button>
</selector-app>
