<selector2-app
	type="project"
	[canCreate]="true"
	[value]="(product$ | async)?.projects"
	[multiple]="true"
	(update)="update($event, 'projects')">
	<div>click me pls, Projects</div>
</selector2-app>
<!--  if this is uncommented and since we are not using virtual scroll, on selector2 -> searchTxt = 'light'
			so we just load part of it -->
<selector2-app
	type="supplier"
	[canCreate]="true"
	(update)="update($event, 'supplier')">
	No, click me! Supplier
</selector2-app>
<selector2-app
	type="currency">
	Im best, do itm the currency
</selector2-app>
<selector2-app
	type="user">
	I got the users
</selector2-app>
<selector2-app
	type="country">
	I got the countries
</selector2-app>
<selector2-app
	type="supplierType">
	I got the sTypes
</selector2-app>
<selector2-app
	type="wieghtUnit">
	I got the Weight Units
</selector2-app>
<selector2-app
	type="businessType">
	I got the Business types
</selector2-app>
