<div class="flex top inline">
	<form-field-app>
		<label-app translate="label.length"></label-app>
		<input inputApp name="length" [(ngModel)]="value.length"
			[placeholder]="'placeholder.length' | translate" type="number" restrictInput="number"/>
	</form-field-app>
	<div class="spacer mg-xs"></div>
	<form-field-app>
		<label-app translate="label.width"></label-app>
		<input inputApp name="width" [(ngModel)]="value.width"
		[placeholder]="'placeholder.width' | translate" type="number" restrictInput="number"/>
	</form-field-app>
	<div class="spacer mg-xs"></div>
	<form-field-app>
		<label-app translate="label.height"></label-app>
		<input inputApp name="height" [(ngModel)]="value.height"
		[placeholder]="'placeholder.height' | translate" type="number" restrictInput="number"/>
	</form-field-app>
	<div class="spacer mg-xs"></div>

	<form-field-app>
		<selector-app
			[type]="erm.LENGTH_UNIT"
			[value]="value.unit"
			(update)="update($event, 'unit')">
			<label-app translate="label.unit"></label-app>
		</selector-app>
		<input inputApp name="unit" [(ngModel)]="value.unit"
		[placeholder]="'placeholder.unit' | translate" type="text"/>
	</form-field-app>
</div>

<div class="flex inline">
	<form-field-app class="quantity">
		<label-app translate="label.quantity"></label-app>
		<input inputApp name="quantity" [(ngModel)]="value.itemsQuantity" type="number" restrictInput="number"/>
	</form-field-app>
	<div class="spacer mg-xs"></div>
	<form-field-app>
		<label-app translate="label.weight"></label-app>
		<input inputApp name="weight" [(ngModel)]="value.weight" type="number" restrictInput="number"/>
	</form-field-app>
	<div class="spacer mg-xs"></div>
	<form-field-app>
		<selector-app
			[type]="erm.WEIGHT_UNIT"
			[value]="value.weightUnit"
			(update)="update($event, 'weightUnit')">
			<label-app translate="label.unit"></label-app>
		</selector-app>
		<input inputApp name="weightUnit" [(ngModel)]="value.weightUnit"
		placeholder="Unit" type="text"/>
	</form-field-app>
</div>