<div class="form" [ngClass]="{ multiple: (cols?.length > 0) }">

	<div *ngFor="let col of cols; let last = last; index as colIndex; trackBy: trackByFn" class="col"
		[ngClass]="{ 'last': last }"
		[ngStyle]="{ 'width' : 'calc(100% / ' + colAmount + ')' }">

		<ng-container *ngIf="config.mode === 'form'; else textStyle">
			<extended-form-input-app
				*ngFor="let definition of col; index as indexInput; trackBy: trackByFn"
				[autofocus]="autofocus && !disabled && indexInput === indexFocus && colIndex === 0"
				[disabled]="disabled"
				[definition]="definition"
				[field]="getFieldForDefinition(definition.id)"
				(update)="onUpdate($event)">
			</extended-form-input-app>
		</ng-container>

		<ng-template #textStyle>
			<extended-form-editable-container-app
				*ngFor="let definition of col; trackBy: trackByFn"
				[config]="config"
				[disabled]="disabled"
				[definition]="definition"
				[field]="getFieldForDefinition(definition.id)"
				(update)="onUpdate($event)">
			</extended-form-editable-container-app>
		</ng-template>

	</div>

</div>
