<div class="form" [ngClass]="{ multiple: (cols?.length > 0) }">

	<div *ngFor="let col of cols; let last = last; trackBy: trackByFn" class="col"
		[ngClass]="{ 'last': last }"
		[ngStyle]="{ 'width' : 'calc(100% / ' + colAmount + ')' }">
		
		<extended-form-input-app
			*ngFor="let definition of col; trackBy: trackByFn"
			[disabled]="disabled"
			[definition]="definition"
			[field]="getFieldForDefinition(definition.id)"
			[inlineLabel]="inlineLabel"
			[isFormStyle]="isFormStyle"
			(update)="onUpdate($event)">
		</extended-form-input-app>
	</div>

</div>
