<div class="card-container" infiniScroll (bottomReached)="bottomReached.emit()">
  <div *ngFor="let product of rows; trackBy: trackById"
       class="item">
    <product-card-app class="marginSmall" [title]="product.name"
      [status]="product.status?.name"
      [checked]="isSelected(product)"
      [favorite]="product.favorite"
      [tags]="product.tags"
      [price]="product.price"
      [minimumOrderQuantity]="product.minimumOrderQuantity"
      [category]="'category'"
      [description]="product.description ? product.description : 'No description'"
      [image]="product.images?.length > 0 ? (product | image:'m') : null"
      [person]="product.createdBy"
      [link]="'/product/details/' + product.id + '/general'"
      [product]="product"
      [highlightOnChecked]="true"
      [selectFromCard]="true"
      (select)="select.emit(product, false)"
      (unselect)="unselect.emit(product, false)">
    </product-card-app>
  </div>
</div>
