:host {
	display: flex;
	align-items: center;
	background: #FAFAFA;;
	border-radius: 99px;
	height: 32px;
	width: 240px;
}
i {
	margin-left: 5px;
}
input {
	margin-right: 5px;
	flex-grow: 1;
	border: none;
	background: transparent;
	outline: none;
}