<header-list-app
	[title]="'title.my-suppliers' | translate"
	logoName="supplier"
	info="The supplier database"
	[buttonName]="'button.create-supplier' | translate"
	(buttonClick)="dialogCommonSrv.openCreateDlg(erm.SUPPLIER)">
</header-list-app>

<controller-table-app [hasItems]="listSrv.entityCount > 0">
	<controller-table-quick-filters-app></controller-table-quick-filters-app>
	<controller-table-quick-actions-app
		[columns]="columns"
		[tableConfig]="tableConfig"
		[currentSort]="listSrv.currentSort">
	</controller-table-quick-actions-app>
</controller-table-app>

<suppliers-table-app
	#supplierList
	*ngIf="listSrv.view === 'table'"
	[rows]="listSrv.items$ | async"
	[currentSort]="listSrv.currentSort"
	[selection]="listSrv.selection$ | async"
	[pending]="listSrv.pending"
	[isFiltering]="listSrv.isFiltering"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(archive)="listSrv.archiveOne($event)"
	(sort)="listSrv.sort($event)"
	(select)="listSrv.selectOne($event, true)"
	(unselect)="listSrv.unselectOne($event, true)"
	(selectAll)="listSrv.selectAll($event, true)"
	(unselectAll)="listSrv.unselectAll()"
	(open)="listSrv.goToDetails($event)"
	(favorited)="listSrv.onItemFavorited($event)"
	(unfavorited)="listSrv.onItemUnfavorited($event)"
	(previewClick)="listSrv.openPreview($event)"
	(showItemsPerPage)="showItemsPerPage($event)"
	(createClick)="listSrv.create()"
	(update)="listSrv.update($event)"
	(delete)="listSrv.deleteOne($event)">
</suppliers-table-app>

<suppliers-board-app
	*ngIf="listSrv.view === 'board'"
	[selection]="listSrv.selection$"
	(selectOne)="listSrv.selectOne($event, true)"
	(unselectOne)="listSrv.unselectOne($event, true)"
	(preview) = "listSrv.openPreview($event)">
</suppliers-board-app>

<supplier-selection-bar-app
	entityType="supplier"
	[isShown]="(listSrv.selection$ | async).size > 0"
	[selection]="listSrv.selection$ | async"
	[selectableItems]="listSrv.items$ | async"
	(statusUpdated)="this.listSrv.updateSelected({status: $event})"
	(deleteSelected)="listSrv.deleteSelected()"
	(close)="listSrv.unselectAll()"
	(selectAll)="listSrv.selectAll($event)"
	(unselectAll)="listSrv.unselectAll()">
</supplier-selection-bar-app>

<supplier-preview-app
	*ngIf="listSrv.previewOpen"
	[supplier]="listSrv.previewed"
	(close)="listSrv.closePreview()">
</supplier-preview-app>

<side-panel-app *ngIf="listSrv.filterPanelOpen">
	<filters-app
		[filterList]="listSrv.filterList"
		[filterTypes]="filterTypes"
		(clickOutside)="listSrv.closeFilterPanel()"
		(close)="listSrv.closeFilterPanel()">
	</filters-app>
</side-panel-app>

