<header-list-app
	[title]="'title.my-suppliers' | translate"
	logoName="supplier"
	info="The supplier database"
	[buttonName]="'button.create-supplier' | translate"
	(buttonClick)="dialogCommonSrv.openCreateDlg(erm.SUPPLIER)">
</header-list-app>

<!-- <controller-list-app
	searchType="short"
	[hasSwitch]="true"
	[hasFilter]="true"
	[hasThumb]="false"
	[view]="listSrv.view"
	[entityType]="'SUPPLIER'"
	[count]="listSrv.count$ | async"
	[filtersAmount]="listSrv.getFilterAmount([{ type: filterType.ARCHIVED, value: false }, { type: filterType.DELETED, value: false }])"
	[searchValue]="listSrv.searchValue"
	(showFilters)="listSrv.openFilterPanel()"
	(clearFilters)="listsrv.resetFilters()"
	(viewChange)="onViewChange($event)"
	(search)="listSrv.search($event)">

	<controller-list-actions-app 
		(showArchived)="listSrv.filterByArchived(true)"
		(hideArchived)="listSrv.filterByArchived(false)"
		(showAssigned)="listSrv.filterByAssignee(true)"
		(hideAssigned)="listSrv.filterByAssignee(false)">
	</controller-list-actions-app> -->

</controller-list-app>

<suppliers-table-app
	#supplierList
	*ngIf="listSrv.view === 'list'"
	[rows]="listSrv.items$ | async"
	[currentSort]="listSrv.currentSort"
	[selection]="listSrv.selection$ | async"
	[pending]="listSrv.pending"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(archive)="listSrv.archiveOne()($event)"
	(sort)="listSrv.sort($event)"
	(select)="listSrv.selectOne($event, true)"
	(unselect)="listSrv.unselectOne($event, true)"
	(selectAll)="listSrv.selectAll($event, true)"
	(unselectAll)="listSrv.unselectAll()"
	(open)="listSrv.goToDetails($event)"
	(favorited)="listSrv.onItemFavorited($event)"
	(unfavorited)="listSrv.onItemUnfavorited($event)"
	(previewClick)="listSrv.openPreview($event)"
	(showItemsPerPage)="showItemsPerPage($event)"
	(createClick)="listSrv.create()"
	(update)="listSrv.update($event)"
	(delete)="listSrv.deleteOne($event)">
</suppliers-table-app>

<supplier-selection-bar-app
	entityType="supplier"
	[isShown]="(listSrv.selection$ | async).size > 0"
	[selection]="listSrv.selection$ | async"
	[count]="listSrv.count$ | async"
	[allSelectedFavorite]="listSrv.allSelectedFavorite"
	(onFavorite)="listSrv.onFavoriteAllSelected()"
	(onUnfavorite)="listSrv.onUnfavoriteAllSelected()"
	(statusUpdated)="this.listSrv.updateSelected({status: $event})"
	(deleteSelected)="listSrv.deleteSelected()"
	(close)="listSrv.unselectAll()">
</supplier-selection-bar-app>

<suppliers-board-app
	*ngIf="listSrv.view === 'board'"
	[selection]="listSrv.selection$"
	(selectOne)="listSrv.selectOne($event, true)"
	(unselectOne)="listSrv.unselectOne($event, true)"
	(preview) = "listSrv.openPreview($event)">
</suppliers-board-app>

<supplier-preview-app
	*ngIf="listSrv.previewOpen"
	[supplier]="listSrv.previewed"
	(close)="listSrv.closePreview()">
</supplier-preview-app>

<filters-app
	*ngIf="listSrv.filterPanelOpen"
	[filterList]="listSrv.filterList"
	[filterTypes]="filterTypes"
	(clickOutside)="listSrv.closeFilterPanel()"
	(close)="listSrv.closeFilterPanel()">
</filters-app>

