
<h2 class="title">Company Settings</h2> <!-- TODO: translation to be added -->

<form [formGroup]="form">
	<form-field-app class="borderless">
		<label-app class="team-name capitalize" translate="label.company-name"></label-app>
		<input class="name-input" inputApp type="text"/>
	</form-field-app>
	<form-field-app class="borderless">
		<label-app class="team-name capitalize" translate="Company Owner"></label-app> <!-- TODO: translation to be added -->
		<input class="name-input" inputApp type="text"/>
	</form-field-app>
	<form-field-app class="borderless">
		<label-app class="team-name capitalize" translate="Current Plan"></label-app> <!-- TODO: translation to be added -->
		<input class="name-input"  inputApp type="text"/>
	</form-field-app>
</form>