:host {
	padding: 0 var(--spacing-l);
	padding-bottom: var(--spacing-ms);
	flex-shrink: 0;
	border-bottom: 1px solid var(--color-divider);

	&.smaller-padding {
		margin: var(--spacing-l);
		margin-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
}

	h2 {
		width: 182px;
		height: 36px;
		font-size: var(--font-size-xxxxl);
		font-weight: 600;
		color: var(--color-bg-dark);
	}

	button {
		border-radius: var(--border-radius);
		background-color: var(--color-primary);
	}
}

.ctnr {
	background-color: #fff;
	border: solid 1px var(--color-secondary);
	border-left: 0;
}

.actions {
	text-transform: uppercase;
	font-size: var(--font-size-s);
	color: var(--color-txt-secondary);
	padding-bottom: 10px;
}

.navCtnr {
	margin-top: 36px;
}
