:host {
	height: 36px;
	padding: var(--spacing-ms) var(--spacing-l);
	background: var(--color-bg);
	flex-shrink: 0;
	border-bottom: 1px solid var(--color-divider);

	h2 {
		width: 182px;
		height: 36px;
		font-weight: 600;
		color: var(--color-bg-dark);
		font-size: var(--font-size-xxl)
	}
}

.ctnr {
	background-color: #fff;
	border: solid 1px var(--color-secondary);
	border-left: 0;
}

.actions {
	text-transform: uppercase;
	font-size: var(--font-size-s);
	color: var(--color-txt-secondary);
	padding-bottom: 10px;
}

.navCtnr {
	margin-top: 36px;
}

.info {
	flex-direction: column;

	small {
		color: var(--color-txt-third);
	}

	.info-title {
		font-weight: normal;
	}
}
