:host {
	margin: 24px 114px 0 98px;
	padding: 0 var(--spacing-l);
	padding-bottom: var(--spacing-ms);
	flex-shrink: 0;
	border-bottom: 1px solid var(--color-divider);

	&.max-full-table-width {
		padding-left: 0px;
		padding-right: 0px;
		@media only screen and (max-width:3400px){
			margin: var(--spacing-l) var(--spacing-l) 0 var(--spacing-l);
		}
		@media only screen and (min-width:3400px){
			width: var(--screen-tables-max-width);
			margin: var(--spacing-l) auto 0 auto;
		}
		max-width: var(--screen-tables-max-width);
	}

	&.smaller-padding {
		margin: var(--spacing-l);
		margin-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
}

	h2 {
		width: 182px;
		height: 36px;
		font-size: var(--font-size-xxxxl);
		font-weight: 600;
		color: var(--color-bg-dark);
	}

	button {
		width: 130px;
		height: 40px;
		border-radius: var(--border-radius);
		background-color: var(--color-primary);
	}
}

.ctnr {
	background-color: #fff;
	border: solid 1px var(--color-secondary);
	border-left: 0;
}

.actions {
	text-transform: uppercase;
	font-size: var(--font-size-s);
	color: var(--color-txt-secondary);
	padding-bottom: 10px;
}

.navCtnr {
	margin-top: 36px;
}
