context-menu-trigger-app {
	margin-left: var(--spacing-ms);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-primary);

	.text {
		color: #fff;
		border-radius: 4px;
		font-size: var(--font-size-m);
	}

	.selector {
		color: #fff;
	}
}

context-menu-item-app {
	width: 200px;

	&.remove-user {
		color: var(--color-warn);
	}
}
