:host {
	display: flex;
	flex-direction: column;
}

.header-detail-ctnr {
	background: white;
	width: 100%;
}

.details-container {
	display: flex;
	justify-content: center;

	.left {
		width: 430px;
	}

	.right {
		width: 1000px;

		img-app, img {
			height: 40px;
			width: 40px;
			margin-right: var(--spacing-l);
			border-radius: 50%;
		}

		.message-container {
			.name {
				color: var(--legacy-color-txt-strong);
				margin-bottom: var(--spacing-ms);
				font-weight: 600;
			}
			.message {
				white-space: pre-line;
				word-break: break-all;
				padding-right: var(--spacing-l);
				color: var(--legacy-color-txt-strong);
		 }
		}
	}
}
