<div class="header-detail-ctnr flexCenter z-1">
	<request-header-details-app
		[request]="request">
	</request-header-details-app>
</div>

<div class="details-container full-width full-height">
	<!-- Left side -->
	<div class="left">
		<request-information-app
			class="no-margin-right"
			[request]="request">
		</request-information-app>
	</div>
	<!-- Right side-->
	<div class="right">
		<card-app>
			<h3 class="l" translate="text.message"></h3>
			<div class="flex">
				<img src="/assets/img/user-temp.png"/>
				<div class="message-container">
					<div class="name">{{ request?.sender?.name }}</div>
					<div class="message">{{ request?.message }}</div>
				</div>
			</div>
		</card-app>

		<card-app>
			<h3 class="l" translate="header.request-items"></h3>
				<request-elements-table-app
					class="no-padding"
					[rows]="listSrv.items$ | async"
					[pending]="listSrv.pending"
					[selection]="selectionSrv.selection$ | async"
					(openReviewRequestReply)="openReviewRequestReply($event)"
					(openRefuseReplyDlg)="openRefuseReplyDlg($event)"
					(cancelReply)="cancelReply($event)"
					(bottomReached)="listSrv.loadMore()"
					(select)="selectionSrv.selectOne($event)"
					(selectAll)="selectionSrv.selectAll($event)"
					(unselect)="selectionSrv.unselectOne($event)"
					(unselectAll)="selectionSrv.unselectAll()">
				</request-elements-table-app>
		</card-app>
	</div>
</div>

<selection-bar-app
	[isShown]="(selectionSrv.selection$ | async).size > 0"
	[selection]="selectionSrv.selection$ | async"
	(close)="selectionSrv.unselectAll()">
	<button class="warn" (click)="cancelReplies()" translate="button.cancel-items"></button>
</selection-bar-app>
