/*navbar*/
:host {
	display: flex;
	border: 1px solid var(--color-secondary);
	margin: var(--spacing-ms);
	white-space: nowrap;
	background-color: var(--color-bg);
  margin: var(--spacing-l);
}

.tab-title {
	cursor: pointer;
	text-align: center;
	padding: 10px;
	font-weight: 600;
	font-size: var(--font-size-l);
}

.active {
	border-bottom: 4px solid var(--color-primary);
	color:  var(--color-primary);
	background-color: var(--color-secondary-light);
}

.filters {
	margin-bottom: 1px;
	border-radius: 50%;
	font-size: var(--font-size-xxs);
	background-color: var(--color-primary);
	font-size: var(--font-size-xs);
	font-weight: 900;
	color: #fff;
	padding: var(--spacing-xs);
	margin-left: 15px;
	text-align: center;
	width: 10px;
	height: 10px;
}
