/*navbar*/
:host {
	display: flex;
	border: 1px solid var(--legacy-color-secondary);
	margin: var(--spacing-ms);
	white-space: nowrap;
	background-color: var(--legacy-color-bg);
  margin: var(--spacing-l);
}

.tab-title {
	cursor: pointer;
	text-align: center;
	padding: 10px;
	font-weight: 600;
	font-size: var(--font-size-l);
}

.active {
	border-bottom: 4px solid var(--legacy-color-primary);
	color:  var(--legacy-color-primary);
	background-color: var(--legacy-color-secondary-light);
}

notification-badge-app {
	position: unset;
	background-color: var(--legacy-color-primary);
	margin-left: 15px;
	font-size: var(--font-size-xs);
	width: 11px;
	height: 11px;
}
