:host {
    height: 100%;
    /* margin: 5px; */  
}

.label {
    background-color: var(--color-primary-light);
    width: 146px;
    height: 100%;
}

menu {
	left: 10px;
	border: solid 1px var(--color-bg-third);
	background-color: var(--color-primary-light);
	width: 150px;
	z-index: 1000;
}

menuitem {
	padding: 10px;
}
