:host {
	background: var(--color-txt-strong);
	color: rgba(255, 255, 255, 0.6);
	height: 100%;
	width: 300px;
	display: block;
}

h2 {
	padding: var(--spacing-default);
	color: var(--color-primary-dark-contrast);
}