:host {
	background: var(--legacy-color-txt-strong);
	color: rgba(255, 255, 255, 0.6);
	height: 100%;
	width: 300px;
	display: block;
}

h3 {
	padding: var(--spacing-m);
	color: var(--legacy-color-txt-primary-contrast);
}