<div class="title-container-boarding flex">
		<button class="icon light" (click)="previousPage()">
			<icon-app name="back-arrow"></icon-app>
		</button>
		<h1>Where are you located?</h1>
</div>

<form [formGroup]="form">
	<form-field-app class="boarding">
		<label-app>Country / Region</label-app>
		<context-menu-app class="boarding">
			<context-menu-trigger-app class="flexBetween">
				<div>Big Text</div>
				<icon-app fontSet="fa" name="caret-down"></icon-app>
			</context-menu-trigger-app>
		</context-menu-app>
		<input inputApp [hidden]="true" type="text" fomrControlName="country"/>
	</form-field-app>
	<form-field-app class="boarding">
		<label-app>Street Name</label-app>
		<input inputApp type="text" formControlName="street" placeholder="Street name and number"/>
	</form-field-app>
	<form-field-app class="boarding">
		<label-app>City</label-app>
		<input inputApp type="text" formControlName="city" placeholder="Type your city"/>
	</form-field-app>
	<form-field-app class="boarding">
		<label-app>Postal Code</label-app>
		<input inputApp type="text" formControlName="zipCode" placeholder="Type your city"/>
	</form-field-app>
</form>

<input class="boarding" type="submit" value="Next" (click)="onSubmit()">
