<table-app
	class="borderless"
	[rows]="rows"
	[pending]="pending"
	[selected]="selection"
	placeholder="No requests"
	[contextualMenu]="contextualMenuTemplate"
	[count]="count"
	[skipped]="skipped"
	(next)="next.emit()"
	(previous)="previous.emit()"
	(goToPage)="goToPage.emit($event)"
	(bottomReached)="bottomReached.emit()"
	(selectAll)="selectAll.emit($event)"
	(selectOne)="select.emit($event)"
	(sort)="sort.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(unselectOne)="unselect.emit($event)"
	i18n-placeholder="@@no-requests">

	<!-- contextual menu -->
	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-app
			class="pointer flexCenter"
			(click)="cancelRequest.emit(row)"
			i18n="@@cancel-request">
			Cancel request
		</context-menu-item-app>
	</ng-template>

	<!-- export name -->
	<ng-template
		[columnApp]="'title' | const: 'messages'"
		sortBy="title"
		let-row="row"
		width="315">
		<div class="mainCell ellipsis">
			<img-app
				class="mini imgCtnr"
				[image]="row?.images?.length ? row?.images[0] : null"
				type="request"
				size="s">
			</img-app>
			<span class="capitalize ellipsis">
				<a class="name txt-btn title" [routerLink]="['/request', row.id]">
					{{ row?.title }}
				</a>
			</span>
		</div>
	</ng-template>

	<!-- type -->
	<ng-template
		[columnApp]="'type' | const: 'messages'"
		sortBy="templateName"
		let-row="row"
		width="175">
		<div class="capitalize ellipsis">
			{{ row?.templateName }}
		</div>
	</ng-template>

	<!-- supplier -->
	<ng-template
		[columnApp]="erm.SUPPLIER.singular | const: 'erm'"
		sortBy="recipient.company"
		let-row="row"
		width="220">
		<div class="ellipsis">
		{{ row?.recipient?.company }}
		</div>
	</ng-template>

	<!-- recipient -->
	<ng-template
		[columnApp]="'sent to' | const: 'messages'"
		sortBy="recipient.name"
		let-row="row"
		width="175">
		<div class="capitalize ellipsis">
			{{ row?.recipient?.name }}
		</div>
	</ng-template>

	<!-- # requests -->
	<ng-template
		[columnApp]="'# ' + (erm.SUPPLIER_REQUEST.singular | const: 'erm')"
		[sortable]="false"
		let-row="row"
		width="90">
		<div class="fs-l color-black bold-s">
			{{ row?.requestElements?.length }}
		</div>
	</ng-template>

	<!-- status-->
	<ng-template
		[columnApp]="'status' | const: 'messages'"
		sortBy="status"
		let-row="row"
		width="175">
		<request-status-badge-app
			[status]="row?.status"
			[creationDate]="row?.sentDate">
		</request-status-badge-app>
	</ng-template>

	<!-- sent date-->
	<ng-template
		[columnApp]="'sent on' | const: 'messages'"
		sortBy="sentDate"
		let-row="row"
		width="175">
		<div class="capitalize">
			{{ row?.sentDate | date: 'dd MMM yyyy' }}
		</div>
	</ng-template>

	<!-- sender -->
	<ng-template
		[columnApp]="'sent by' | const: 'messages'"
		sortBy="sender.name"
		let-row="row"
		width="175">
		<div class="capitalize ellipsis">
			{{ row?.sender?.name }}
		</div>
	</ng-template>

</table-app>