<table-app
	class="borderless"
	[rows]="rows"
	[pending]="pending"
	[selected]="selection"
	[placeholder]="'placeholder.no-requests' | translate"
	[contextualMenu]="contextualMenuTemplate"
	[count]="count"
	[currentPage]="currentPage"
	(goToPage)="goToPage.emit($event)"
	(bottomReached)="bottomReached.emit()"
	(selectAll)="selectAll.emit($event)"
	(selectOne)="select.emit($event)"
	(sort)="sort.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(unselectOne)="unselect.emit($event)">

	<!-- contextual menu -->
	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-app
			class="pointer flexCenter"
			(click)="cancelRequest.emit(row)"
			translate="button.cancel-request">
		</context-menu-item-app>
	</ng-template>

	<!-- request title -->
	<ng-template
		[columnApp]="'title.title' | translate"
		sortBy="title"
		let-row="row"
		width="300">
		<div class="mainCell ellipsis">
			<img-app
				class="mini imgCtnr"
				[image]="row?.images?.length ? row?.images[0] : null"
				type="request"
				size="s">
			</img-app>
			<span class="capitalize ellipsis">
				<a class="name txt-btn title" [routerLink]="['/request', row.id]">
					{{ row?.title }}
				</a>
			</span>
		</div>
	</ng-template>

	<!-- type -->
	<ng-template
		[columnApp]="'title.type' | translate"
		sortBy="templateName"
		let-row="row"
		width="175">
		<div class="capitalize ellipsis">
			{{ row?.templateName }}
		</div>
	</ng-template>

	<!-- supplier -->
	<ng-template
		[columnApp]="'ERM.' + erm.SUPPLIER.translationKey + '.singular' | translate"
		sortBy="recipient.company"
		let-row="row"
		width="220">
		<div class="ellipsis">
		{{ row?.recipient?.company }}
		</div>
	</ng-template>

	<!-- recipient -->
	<ng-template
		[columnApp]="'title.sent-to' | translate"
		sortBy="recipient.name"
		let-row="row"
		width="175">
		<div class="capitalize ellipsis">
			{{ row?.recipient?.name }}
		</div>
	</ng-template>

	<!-- # requests -->
	<ng-template
		[columnApp]="'# ' + ('ERM.' + erm.SUPPLIER_REQUEST.translationKey + '.singular' | translate)"
		[sortable]="false"
		let-row="row"
		width="90">
		<div class="fs-l color-black bold-s">
			{{ row?.requestElements?.length }}
		</div>
	</ng-template>

	<!-- status-->
	<ng-template
		[columnApp]="'title.status' | translate"
		sortBy="status"
		let-row="row"
		width="175">
		<request-status-badge-app
			[status]="row?.status"
			[creationDate]="row?.sentDate">
		</request-status-badge-app>
	</ng-template>

	<!-- sent date-->
	<ng-template
		[columnApp]="'title.sent-on' | translate"
		sortBy="sentDate"
		let-row="row"
		width="175">
		<div class="capitalize">
			{{ row?.sentDate | date: 'dd MMM yyyy':'':translate.currentLang }}
		</div>
	</ng-template>

	<!-- sender -->
	<ng-template
		[columnApp]="'title.sent-by' | translate"
		sortBy="sender.name"
		let-row="row"
		width="175">
		<div class="capitalize ellipsis">
			{{ row?.sender?.name }}
		</div>
	</ng-template>

</table-app>