@import 'fontName';

.close {
  color: var(--color-txt-secondary);
}

.status-task {
  width: 136px;
  height: var(--spacing-xl);
  border-radius: var(--border-radius-s);
  display: inline-block;

  .status-task-icon {
    display: inline-block;
    font-size: var(--font-size-l);
    margin: var(--spacing-s) var(--spacing-task-icon) ;
  }
  .status-task-text {
    display: inline-block;
    height: var(--spacing-ml);
    font-family: $ss-font-normal;
    font-size: var(--font-size-m);
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    vertical-align: middle;
    letter-spacing: normal;
    text-align: center;
    height: var(--spacing-xl);
    line-height: var(--spacing-l);
  }
}

.status-done {
  background-color: var(--color-success);
  color: var(--color-primary-contrast);
}

.status-pending {
  background: var(--color-secondary);
  color: var(--color-black);
}

.task-name {
  height: 31px;
  font-family: $ss-font-normal;
  font-size: var(--spacing-l);
  font-weight: 600;
  padding: var(--spacing-task-name-top-bottom) 0px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--color-txt-strong);
}

.section-title {
  height: 18px;
  font-family: $ss-font-normal;
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding: var(--spacing-ml) 0px var(--spacing-task-name-top-bottom) 0px;
  color: var(--color-secondary-dark);
}

.descripton-container {
  .description-text {
    font-family: $ss-font-normal;
    font-size: var(--font-size-l);
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--color-txt-strong);
  }
}

.assigned-container {
  .assigned-list {
    .user-name {
      height: var(--spacing-ml);
      margin: var(--spacing-task-name-top-bottom) var(--spacing-task-name-top-bottom);
      font-family: $ss-font-normal;
      font-size: var(--font-size-l);
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: var(--color-txt-strong);
    }
  }
}

.linked-product-container {
  .linked-product-list {
    kanban-item-card-app {
      border-radius: none;
      box-shadow: none;
      border: none;
      padding: 0px;
      margin: 0px;
    }
  }

  .imgCtnr {
    margin-left: 0px;
  }
}

.comment-container {

  .show-previous-comment-link {
    margin-top: var(--spacing-task-icon);
    padding: var(--spacing-task-icon) 0px;
    border-top: 1px solid var(--color-divider);
    height: var(--height-task-link);
    font-family: $ss-font-normal;
    font-size: var(--font-size-m);
    color: var(--color-primary);
  }

  .comment-list {

  }
}
