<side-panel-app>
  <side-panel-title-app>
    <!-- <div class="status-task " [ngClass]="task?.done ? 'status-done' : 'status-pending'">
      <div class="status-task-icon ">
        <icon-app  fontSet="fa" [name]="task?.done ? 'check' : 'circle'"></icon-app>
      </div>
      <div class="status-task-text">{{task?.done ? 'Mark as done' : 'Pending'}}</div>
    </div> -->
    <div class="status-task status-done clickable" (click)="markAsDone()" *ngIf="!(task$ | async)?.done">
      <div class="status-task-icon ">
        <icon-app  fontSet="fa" name="check"></icon-app>
      </div>
      <div class="status-task-text">Mark as done</div>
    </div>
  </side-panel-title-app>

  <side-panel-action-app>
    <icon-app class="close pointer" fontSet="fa" name="times" (click)="close.emit()"></icon-app>
  </side-panel-action-app>

  <ng-container *ngIf="task$ | async as task">
    <div class="task-name">
      <editable-text-app #editable [closeOnOutsideClick]="true"  (saved)="updateTaskName(txtName.value)" [hasAction]="true">
        <editable-label-app class="task-name">
          {{task?.name ? task?.name : 'Unnamed task'}}
        </editable-label-app>
        <input inputApp class="task-name" #txtName [value]="task?.name || ''">
      </editable-text-app>
    </div>
    <div class="descripton-container">
      <div class="section-title">
        Description
      </div>

      <editable-text-app #editable [closeOnOutsideClick]="true"  (saved)="updateTaskDescription(txtDescription.value)" [hasAction]="true">
        <editable-label-app class="description-text" *ngIf="task?.description; else noDesc">
          {{task?.description}}
        </editable-label-app>
        <textarea inputApp class="description-text" #txtDescription [value]="task?.description || ''"></textarea>
      </editable-text-app>

    </div>

    <div class="descripton-container">
      <div class="section-title">
        Due date
      </div>

      <editable-text-app #editable [closeOnOutsideClick]="true"  (saved)="updateTaskDueDate(txtDuaDate.value)" [hasAction]="true">
        <editable-label-app class="description-text" >
          {{task?.dueDate ? (task?.dueDate | date:'dd-MM-yyyy') : 'Select a due date'}}
        </editable-label-app>
        <input inputApp class="description-text" type="date" placeholder="Select a due date" #txtDuaDate [value]="(task?.dueDate | date:'dd-MM-yyyy')|| ''">
      </editable-text-app>

    </div>

    <div class="assigned-container">
      <div class="section-title">
        Assigned To
      </div>

      <div class="assigned-list">
        <ng-container *ngIf="descriptor$ | async as descriptor">
          <dynamic-form-app
            [inlineLabel]="false"
            (formCreated)="onFormCreated($event)"
            [descriptor]="descriptor"
            [editable]="true"
            [isShowLabel]="false"
            [colAmount]="1">
          </dynamic-form-app>
        </ng-container>
      </div>
    </div>



    <div class="linked-product-container">
      <div class="section-title">
        Linked Product
      </div>

      <div class="linked-product-list" *ngIf="(product$ | async)" >
          <kanban-item-card-app class="marginSmall"
              [title]="(product$ | async).name"
              [showCheckbox]="false"
              [clickable]="true"
							[status]="(product$ | async).status?.name"
							[favorite]="(product$ | async).favorite"
							[tags]="(product$ | async).tags"
							[price]="(product$ | async).price"
							[minimumOrderQuantity]="(product$ | async).minimumOrderQuantity"
							[description]="(product$ | async).description ? (product$ | async).description : 'No description'"
							[image]="(product$ | async).images?.length > 0 ? ((product$ | async) | image:'m') : null"
							[person]="(product$ | async).createdBy"
							[link]="'/product/details/' + (product$ | async).id + '/general'"
							[product]="(product$ | async)">
						</kanban-item-card-app>

      </div>
    </div>
    <!-- <div class="comment-container">

      <div class="show-previous-comment-link clickable">
        Show previous comments
      </div>
      <div class="comment-list">

      </div>
    </div> -->
  </ng-container>
</side-panel-app>
