<side-panel-app>
  <side-panel-title-app>
    <div class="status-task " [ngClass]="task?.done ? 'status-done' : 'status-pending'">
      <div class="status-task-icon "> 
        <icon-app  fontSet="fa" [name]="task?.done ? 'check' : 'circle'"></icon-app>
      </div>
      <div class="status-task-text">{{task?.done ? 'Mark as done' : 'Pending'}}</div>
    </div>
  </side-panel-title-app>

  <side-panel-action-app>
    <icon-app class="close pointer" fontSet="fa" name="times" (click)="close.emit()"></icon-app>
  </side-panel-action-app>

  <ng-container>
    <div class="task-name">
      {{task?.name ? task?.name : 'Unnamed task'}}
    </div>
    <div class="descripton-container">
      <div class="section-title">
        Description
      </div>

      <div class="description-text">
        {{task?.description}}
      </div>
    </div>

    <div class="assigned-container">
      <div class="section-title">
        Assigned To
      </div>

      <div class="assigned-list">
          <div *ngIf="task?.assignee" class="flex task-user ellipsis">
              <user-picture-app [user]="task?.assignee" [size]="30" [border]="true"></user-picture-app>
              <div class="user-name">{{ task?.assignee ? task.assignee.firstName+' '+task.assignee.lastName  : 'Unassigned' }}</div>
            </div>
      </div>
    </div>

    <div class="linked-product-container">
      <div class="section-title">
        Linked Product
      </div>

      <div class="linked-product-list">
          <kanban-item-card-app class="marginSmall" 
              [title]="task?.product.name"
              [showCheckbox]="false"
							[status]="task?.product.status?.name"
							[favorite]="task?.product.favorite"
							[tags]="task?.product.tags"
							[price]="task?.product.price"
							[minimumOrderQuantity]="task?.product.minimumOrderQuantity"
							[description]="task?.product.description ? task?.product.description : 'No description'"
							[image]="task?.product.images?.length > 0 ? (task?.product | image:'m') : null"
							[person]="task?.product.createdBy"
							[link]="'/product/details/' + task?.product.id + '/general'"
							[product]="task?.product">
						</kanban-item-card-app>
        
      </div>
    </div>
    <div class="comment-container">

      <div class="show-previous-comment-link clickable">
        Show previous comments
      </div>
      <div class="comment-list">
        
      </div>
    </div>
  </ng-container>
</side-panel-app>