@import 'variables';

.close {
	color: var(--color-txt-secondary);
}

.status-task {
  width: 136px;
  height: 32px;
  border-radius: 2px;
  display: inline-block;

  .status-task-icon {
    display: inline-block;
    font-size: 16px;
    margin: 8px 10px ;
  }
  .status-task-text {
    display: inline-block;
    height: 20px;
    font-family: $ss-font-normal;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    vertical-align: middle;
    letter-spacing: normal;
    text-align: center;
    height: 32px;
    line-height: 24px;
  }
}

.status-done {
  background-color: #71e591;
  color: #ffffff;
}

.status-pending {
  background: var(--color-secondary);
  color: #000000;
}

.task-name {
  height: 31px;
  font-family: $ss-font-normal;
  font-size: 24px;
  font-weight: 600;
  padding: 5px 0px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #182844;
}

.section-title {
  height: 18px;
  font-family: $ss-font-normal;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  padding: 20px 0px 5px 0px;
  color: #a3afc6;
}

.descripton-container {
  .description-text {
    font-family: $ss-font-normal;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #182844;
  }
}

.assigned-container {
  .assigned-list {
    .user-name {
      height: 20px;
      margin: 5px 5px;
      font-family: $ss-font-normal;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #182844;
    }
  }
}

.linked-product-container {
  .linked-product-list {
    kanban-item-card-app {
      border-radius: none;
      box-shadow: none;
      border: none;
      padding: 0px;
      margin: 0px;
    }
  }

  .imgCtnr {
    margin-left: 0px;
  }
}

.comment-container {

  .show-previous-comment-link {
    margin-top: 10px;
    padding: 10px 0px;
    border-top: 1px solid #e6ebf5;
    height: 18px;
    font-family: $ss-font-normal;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #45adff;
  }

  .comment-list {

  }
}
