<side-panel-app>
  <side-panel-title-app>
    <div class="status-task " [ngClass]="task?.done ? 'status-done' : 'status-pending'">
      <div class="status-task-icon ">
        <icon-app  fontSet="fa" [name]="task?.done ? 'check' : 'circle'"></icon-app>
      </div>
      <div class="status-task-text">{{task?.done ? 'Mark as done' : 'Pending'}}</div>
    </div>
  </side-panel-title-app>

  <side-panel-action-app>
    <icon-app class="close pointer" fontSet="fa" name="times" (click)="close.emit()"></icon-app>
  </side-panel-action-app>

  <ng-container>
    <div class="task-name">
      {{task?.name ? task?.name : 'Unnamed task'}}
    </div>
    <div class="descripton-container">
      <div class="section-title">
        Description
      </div>

      <editable-text-app #editable [closeOnOutsideClick]="true"  (saved)="updateTaskDescription(txt.value)" [hasAction]="true">
        <editable-label-app class="description-text" *ngIf="task?.description; else noDesc">
          {{task?.description}}
        </editable-label-app>
        <textarea inputApp class="description-text" #txt [value]="task?.description || ''"></textarea>
      </editable-text-app>

    </div>


    <div class="assigned-container">
      <div class="section-title">
        Assigned To
      </div>

      <div class="assigned-list">
          <div *ngIf="task?.assignee" class="flex task-user ellipsis">
              <user-picture-app [user]="task?.assignee" [size]="30" [border]="true"></user-picture-app>
              <div class="user-name">{{ task?.assignee ? task.assignee.firstName+' '+ task.assignee.lastName  : 'Unassigned' }}</div>
            </div>
      </div>
    </div>

    <div class="linked-product-container">
      <div class="section-title">
        Linked Product
      </div>

      <div class="linked-product-list" >
          <kanban-item-card-app class="marginSmall"
              [title]="(product$ | async)?.name"
              [showCheckbox]="false"
							[status]="(product$ | async)?.status?.name"
							[favorite]="(product$ | async)?.favorite"
							[tags]="(product$ | async)?.tags"
							[price]="(product$ | async)?.price"
							[minimumOrderQuantity]="(product$ | async)?.minimumOrderQuantity"
							[description]="(product$ | async)?.description ? (product$ | async)?.description : 'No description'"
							[image]="(product$ | async)?.images?.length > 0 ? ((product$ | async)? | image:'m') : null"
							[person]="(product$ | async)?.createdBy"
							[link]="'/product/details/' + (product$ | async)?.id + '/general'"
							[product]="(product$ | async)?">
						</kanban-item-card-app>

      </div>
    </div>
    <!-- <div class="comment-container">

      <div class="show-previous-comment-link clickable">
        Show previous comments
      </div>
      <div class="comment-list">

      </div>
    </div> -->
  </ng-container>
</side-panel-app>
