<dialog-app class="vertical-scroll-content" [hasBorder]="false" [hasFooter]="false">

	<dialog-header-app translate="header.compare-products"></dialog-header-app>

	<div class="flex ctnr">
		<compare-labels-app></compare-labels-app>
		<div *ngFor="let product of products; last as last; trackBy: trackById" class="flex">
			<compare-column-app [product]="product" (update)="updated($event)"></compare-column-app>
			<compare-spacer-app *ngIf="!last"></compare-spacer-app>
		</div>
	</div>

</dialog-app>
