:host{
	text-align: center;
}
mat-icon {
	border: 4px solid #7ed092;
	border-radius: 50%;
	color: #7ed092;
	height: 36px;
	width: 36px;
	font-size: 34px;
	font-weight: bold;
}

registration-app{
	display: block;
	width: 50%;
	text-align: left;
	margin: auto;
}
