:host {
	margin: 0 var(--spacing-l) var(--spacing-l) var(--spacing-l);
}

.supplier a {
	display: flex;
	align-items: center;
	checkbox-app {
		margin-right: var(--spacing-s);
	}
}

.imgCtnr {
	border-radius: var(--border-radius);
	width: 32px;
	height: 32px;
	cursor: pointer;
	float: left;
	overflow: hidden;
	flex-shrink: 0;
}

.preview-imgs {
	float: left;
	position: relative;
	overflow: hidden;
	border-radius: var(--border-radius);
}

.preview-imgs:hover .hover-img {
	display: flex;
	align-items: center;
	justify-content: center;
}

.preview-imgs .hover-img {
	width: 32px;
	background-color: rgb(69, 173, 255, 0.5);
	position: absolute;
	color: var(--color-bg);
	border-radius: var(--border-radius);
	position: absolute;
	cursor: pointer;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: none;
}

.type {
  font-size: var(--font-size-m);
  font-weight: 600;
  color: var(--color-accent-contrast);
}

.supplier-ref {
	width: 160px;
  height: 18px;
  font-size: var(--font-size-m);
	color: var(--color-bg-dark);
}

.supplier-name-ref {
  height: 15px;
	font-size: var(--font-size-s);
  color: var(--color-txt-secondary);	
}

.country {
	height: 18px;
  font-size: var(--font-size-m);
  color: var(--color-bg-dark);
}

.country-loc {
  height: 15px;
  font-size: var(--font-size-s);
  color: var(--color-txt-secondary);
}

.product-type {
  color: var(--color-bg-dark);
	font-size: var(--font-size-m);
}

logo-app {
	margin-right: var(--spacing-s);
	flex-shrink: 0;
}

user-picture-app {
	font-size: var(--font-size-xs);
}

.overflow-hidden {
	max-height: 51px;
	overflow: hidden;
}
