

<table-app
	placeholder="No supplier"
	[rows]="rows"
  [currentSort]="currentSort"
  [pending]="pending"
  [count]="count"
  [currentPage]="currentPage"
	[selected]="selection"
	[hasMenu]="hasMenu"
  [hasHeader]="hasHeader"
	[hasPagination]="hasPagination"
	[hasSelection]="hasSelection"
  [contextualMenu]="contextualMenuTemplate"
  (goToPage)="goToPage.emit($event)"
  (bottomReached)="bottomReached.emit()"
  (sort)="sort.emit($event)"
  (selectOne)="select.emit($event)"
  (unselectOne)="unselect.emit($event)"
  (selectAll)="selectAll.emit($event)"
  (unselectAll)="unselectAll.emit()"
  (showItemsPerPage)="showItemsPerPage.emit($event)">

	<!-- contextual menu -->
	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-app
			class="pointer flexCenter"
			(click)="archive.emit(row)"
			i18n="button@@delete">
			archive
		</context-menu-item-app>
		<context-menu-item-app
			class="pointer flexCenter"
			(click)="delete.emit(row)"
			i18n="button@@delete">
			delete
		</context-menu-item-app>
	</ng-template>

	<!-- dynamic columns -->
	<ng-template
		*ngFor="let column of columnsConfig; trackBy: trackByFn"
		let-row="row"
		[columnApp]="column.title"
		[sortable]="column.sortable !== false"
		[width]="column.width"
		[sortBy]="column.sortProperty">

		<ng-container [ngSwitch]="column.title">

			<!-- reference -->
			<ng-container *ngSwitchCase="'name'">
				<div class="ellipsis name-container contain-strict">
					<div class="ellipsis reference">
						<div class="preview-imgs" (click)="previewClick.emit(row)">
							<logo-app class="imgCtnr" (click)="previewClick.emit(row)" [logo]="row.logoImage"
							 type="supplier" size="m"></logo-app>
							<div class="hover-img" *ngIf="hasPreview">
								<icon-app name="eye" [size]="18" class="preview-hover-img"></icon-app>
							</div>
						</div>

						<div class="flexColumn ref-ctnr">
							<span class="supplier-ref ellipsis">
								<a class="name txt-btn" [routerLink]="['/supplier', row.id]">
									{{ row.reference || '-' }}
								</a>
							</span>

							<div class="supplier-name-ref">
								{{ row.name || '-' }}
							</div>
						</div>
					</div>
				</div>
			</ng-container>

			<!-- country -->
			<ng-container *ngSwitchCase="'country'">
				<span class="country">{{ row.country | const: 'country'}}</span>
				<div class="country-loc">
					{{ row.country | const: 'country'}}
				</div>
			</ng-container>

			<!-- product type -->
			<ng-container *ngSwitchCase="'product type'">
				<div class="product-type overflow-hidden">
					<span *ngFor="let cat of row.categories; let last = last; trackBy: trackByFn">
						{{ cat?.name }}{{ last ? '' : ',&nbsp;'}}
					</span>
				</div>
			</ng-container>

			<!-- type row -->
			<ng-container *ngSwitchCase="'supplier type'">
				<div class="ellipsis pointer txt-btn" class="type">{{ row?.supplierType?.name }}</div>
			</ng-container>

			<!-- created by -->
			<ng-container *ngSwitchCase="'created by'">
				<span class="created-by">{{ row?.createdBy | formatUserName }}</span>
				<div class="created-by-date">
					{{ row?.creationDate | date: 'dd MMMM y' }}
				</div>
			</ng-container>

			<!-- activities -->
			<ng-container *ngSwitchCase="'activities'">
				<activities-bar-app
					[row]="row"
					[favourite]="row?.favorite"
					[hasSamples]="!!row?.samplesLinked.count"
					[hasTasks]="!!row?.tasksLinked.count"
					[hasComments]="!!row?.comments.length">
				</activities-bar-app>
			</ng-container>

			<!-- status -->
      <ng-container *ngSwitchCase="'status'">
				<div class="status-col flexVAlign">
					<user-picture-app
						[user]="row?.createdBy"
						[image]="row.createdBy?.avatar"
						[background]="false"
						[fontSize]="16"
						size="32"></user-picture-app>
					<status-selector-app [entity]="row" [typeEntity]="supplierErm" [canUpdate]="canUpdate" selectSize="s"></status-selector-app>
				</div>
			</ng-container>
		</ng-container>
	</ng-template>

</table-app>
