<sub-panel-app
	[hasSwitch]="true"
	[hasFilter]="true"
	[buttonIcon]="false"
	[filtersAmount]="listSrv.filterList.asFilters()?.length"
	(showFilters)="listSrv.openFilterPanel()"
	(search)="listSrv.search($event)"
	(viewChange)="listSrv.changeView($event)">
</sub-panel-app>

<sample-list-view-app
	*ngIf="listSrv.view === 'list'">

</sample-list-view-app>

<sample-board-view-app
	*ngIf="listSrv.view === 'card'">

</sample-board-view-app>

<selection-bar-app
	[isShown]="(listSrv.selection$ | async).size > 0"
	[selection]="listSrv.selection$ | async"
	[hasDelete]="false"
	(close)="listSrv.unselectAll()"
	(delete)="listSrv.deleteSelected()">
	<button> Change Status </button>
</selection-bar-app>

<filters-app
	*ngIf="listSrv.filterPanelOpen"
	[filterList]="listSrv.filterList"
	[filterTypes]="filterTypes"
	(clickOutside)="listSrv.closeFilterPanel()">
</filters-app>

<preview-sample-app
	*ngIf="listSrv.previewOpen"
	[sample]="listSrv.previewed"
	(close)="listSrv.closePreview()"
	(clickOutside)="listSrv.closePreview()">
</preview-sample-app>