<controller-table-app >
	<controller-table-quick-filters-app></controller-table-quick-filters-app>
	<controller-table-quick-actions-app
		typename="WorkflowStatus"
	></controller-table-quick-actions-app>
	<controller-table-view-switcher-app></controller-table-view-switcher-app>
</controller-table-app>

<workflow-managament-table-app
	[statuses]="listSrv.items$ | async"
	[typeEntity]="viewSrv.entityMetadata"
	(update)="listSrv.updateMany($event)"
	(delete)="listSrv.deleteOne($event, true)">
</workflow-managament-table-app>

<div *ngIf="viewSrv.entityMetadata.singular === 'product status'" class="status-tip" translate="message.products-sent-new-idea"></div>
