<controller-list-app
	[title]="listSrv.entityMetadata.plural"
	[hasFilter]="false"
	[hasSearch]="false"
	[hasSwitch]="false"
	[filtersPanelOpened]="listSrv.filterPanelOpen"
	(buttonClick)="create()">
</controller-list-app>

<workflow-managament-table-app
	[statuses]="listSrv.items$ | async"
	[typeEntity]="listSrv.entityMetadata"
	(update)="listSrv.updateMany($event)"
	(delete)="listSrv.deleteOne($event, true)">
</workflow-managament-table-app>

<div *ngIf="listSrv.entityMetadata.singular === 'product status'" class="status-tip" translate="message.products-sent-new-idea"></div>