:host {
	width: 380px;
	height: 500px;
	display: block;
}

card-app {
	height: 100%;
	width: 100%;
	border-radius: var(--border-radius-s);
	border: 4px solid white;
}

.empty {
	font-style: italic;
	color: var(--color-txt-secondary);
	img {
		margin-bottom: var(--spacing-s);
	}
}

action-bar-app {
	margin-top: var(--spacing-m);
	button {
		margin-right: var(--spacing-ms);
	}
}
carousel-app {
	height: 371px;
	border-radius: var(--border-radius-s);
}