
<card-app padding="none"(fileDrop)="add($event)">
		<!-- images -->
		<ng-container *ngIf="images.length > 0; else noImg">
			<!-- carousel -->
			<carousel-app
				*ngIf="hasInlineCarousel"
				[images]="images"
				[selectedIndex]="selectedIndex"
				(imgClick)="openModal($event)"
				(deleted)="onDelete($event)">
			</carousel-app>

		</ng-container>
		<!-- no image -->
		<ng-template #noImg>
			<div class="flexColumn flexCenter empty">
				<img [src]="defaultImg"/>
				<span>No picture yet</span>
			</div>
		</ng-template>

		<action-bar-app>
			<button class="icon light">
				<icon-app fontSet="svg" name="poll-light-grey" size="m" ></icon-app>
			</button>
			<button class="secondary-light">Add Picture</button>
			<button class="icon light dots">
				<icon-app fontSet="svg" name="3-dots-vertical" size="m"></icon-app>
			</button>
		</action-bar-app>

		<activity-user-app
			[user]="product.createdBy"></activity-user-app>

		<!-- modal carousel that can be seen when clicking on the normal carousel -->
		<modal-carousel-app
			*ngIf="hasModalCarousel && modalOpen"
			[selectedIndex]=[selectedIndex]
			[images]="images"
			(close)="closeModal()"></modal-carousel-app>

		<input #inpFile multiple="true" type="file" accept="image/*" (fileSelect)="add($event)"/>
</card-app>