
<card-app>
	<h3 class="mg-l">Buttons</h3>
	<p>
		<small>default (primary)</small>
		<button>primary</button>
	</p>
	<p>
		<small>primary-light</small>
		<button class="primary-light">primary-light</button>
	</p>
	<p>
		<small>secondary</small>
		<button class="secondary">secondary</button>
	</p>
	<p>
		<small>light</small>
		<button class="light">light</button>
	</p>
	<p>
		<small>success</small>
		<button class="success">success</button>
	</p>
	<p>
		<small>warn</small>
		<button class="warn">warn</button>
	</p>
	<p>
		<small>accent</small>
		<button class="accent">accent</button>
	</p>
	<p>
		<small>vibrant</small>
		<button class="vibrant">vibrant</button>
	</p>

</card-app>
