<table-app [rows]="suppliers" (sort)="onSort($event)">

	<!-- supplier row -->
	<ng-template
		columnApp="Supplier"
		let-row="row"
		width="280">
		<div class="supplier">
			<checkbox-app
				(check)="supplierSelect.emit(row.id)"
				(uncheck)="supplierUnselect.emit(row.id)"
				[checked]="selection.get(row.id)"></checkbox-app>
			<div class="iconPlaceHolder"></div>
			<a class="name capitalize" [routerLink]="['/suppliers', 'details', row.id]">{{ row.name }}</a>
		</div>
	</ng-template>

	<!-- categories -->
	<ng-template
		class="capitalize"
		columnApp="Categories"
		let-row="row"
		[sortable]="false"
		width="280">
		<span *ngFor="let cat of row.categories">
			{{ cat.name }},
		</span>
	</ng-template>

	<!-- country -->
	<ng-template
		class="capitalize"
		columnApp="Country"
		let-row="row"
		width="60">
		<span>
			{{ countries.byId[row?.countryCode]?.fullName  }}
		</span>
	</ng-template>

	<!-- tags -->
	<ng-template
		class="capitalize"
		columnApp="Tags"
		let-row="row"
		[sortable]="false"
		width="140">
		<span *ngFor="let tag of row.tags; let last = last">{{ tag.name }}{{ last ? '' : ', '}}</span>
	</ng-template>

	<!-- date -->
	<ng-template
		columnApp="Created"
		let-row="row"
		[sortable]="false"
		width="140">
		{{ row?.creationDate | date: 'MMMM y' }}
	</ng-template>

	<!-- user -->
	<ng-template
		columnApp="Owner"
		let-row="row"
		[sortable]="false"
		width="140">
		<div class="flex">
			<user-picture-app
				[size]="18"
				[border]="true"
				[url]="teamMembers.byId[row.createdByUserId]?.preferences?.profilePicture?.urls?.url_60x45"></user-picture-app>
			<span>{{ teamMembers.byId[row.createdByUserId]?.name }}</span>
		</div>
	</ng-template>

	<!-- info -->
	<ng-template
		columnApp="Info"
		class="capitalize"
		let-row="row"
		[sortable]="false"
		width="140">
		<span *ngIf="productsCount">{{  productsCount[row.id] > 0 ? productsCount[row.id] + ' Products' : '' }}</span>
	</ng-template>

	<!-- Action -->
	<ng-template
		columnApp="Action"
		let-row="row"
		[sortable]="false"
		width="50">
		<div class="flexCenter">
			<rating-heart-app
				[rating]="row?.rating"
				(favorited)="supplierFavorited.emit(row.id)"
				(unfavorited)="supplierUnfavorited.emit(row.id)"></rating-heart-app>
		</div>

	</ng-template>

</table-app>
