<table-app [rows]="suppliers">
	<ng-template
		columnApp=""
		let-row="row">
		<input type="checkbox" [checked]="selection.get(row.id)" (change)="onSelect($event, row.id)" />
	</ng-template>
	<ng-template
		columnApp="Name"
		let-row="row">
		<span>{{ row?.name }}</span>
	</ng-template>
	<ng-template
		columnApp="Status"
		let-row="row">
		<span>{{ row?.advancedInfos?.status }}</span>
	</ng-template>
	<ng-template
		columnApp="Categories"
		let-row="row">
		<span *ngFor="let cat of row.categories">{{ cat.name }}, </span>
	</ng-template>
	<ng-template
		columnApp="Tags"
		let-row="row">
		<tag-app [tagId]="tag.id" *ngFor="let tag of row.tags"></tag-app>
	</ng-template>
	<ng-template
		columnApp="Pwner"
		let-row="row">
		<user-picture-with-name-app [user]="row.createdByUserId | entity: 'teamMembers' | async">
			<time>{{ row?.creationDate | timeAgo }}</time>
		</user-picture-with-name-app>
	</ng-template>
</table-app>
