:host {
	display: flex;
	margin-top: var(--spacing-xl);
}

.supplier {
	display: flex;
	align-items: center;
	font-weight: 600;
	checkbox-app {
		margin-right: var(--spacing-s);
	}
}

.review {
	font-weight: 600;
	background: var(--color-primary-light);
	color: var(--color-txt);
	padding: var(--spacing-xs) var(--spacing-l);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-txt);
}

user-picture-app {
	margin-right: var(--spacing-s);
}

table-app {
	margin: auto;
}

.iconPlaceHolder {
	border-radius: 50%;
	height: 16px;
	width: 16px;
	background-color: #E6EBF5;
	margin-right: var(--spacing-s);
}