<table-app [rows]="suppliers" (sort)="onSort($event)">

	<!-- supplier row -->
	<ng-template
		columnApp="Supplier"
		let-row="row"
		width="280">
		<div class="supplier">
			<input-checkbox-app
				(update)="onCheck($event, row.id)"
				[checked]="selection.get(row.id)"></input-checkbox-app>
			<div class="iconPlaceHolder"></div>
			<span class="name">{{ row.name }}</span>
		</div>
	</ng-template>

	<!-- categories -->
	<ng-template
		columnApp="Categories"
		let-row="row"
		[sortable]="false"
		width="280">
		<span *ngFor="let cat of row.categories">
			{{ cat.name }},
		</span>
	</ng-template>

	<!-- country -->
	<ng-template
		columnApp="Country"
		let-row="row"
		width="60">
		<span>
			{{ row?.countryCode | entity: 'countries': 'fullName' | async }}
		</span>
	</ng-template>

	<!-- tags -->
	<ng-template
		columnApp="Tags"
		let-row="row"
		[sortable]="false"
		width="140">
		<span *ngFor="let tag of row.tags; let last = last">{{ tag.name }}{{ last ? '' : ', '}}</span>
	</ng-template>

	<!-- date -->
	<ng-template
		columnApp="Created"
		let-row="row"
		[sortable]="false"
		width="140">
		{{ row?.creationDate | date: 'MMMM y' }}
	</ng-template>

	<!-- user -->
	<ng-template
		columnApp="Owner"
		let-row="row"
		[sortable]="false"
		width="140">
		<div class="flex" *ngIf="row.createdByUserId | entity: 'teamMembers' | async as user">
			<user-picture-app
				[size]="18"
				[border]="true"
				[url]="user?.preferences?.profilePicture?.urls?.url_60x45"></user-picture-app>
			<span>{{ user.name }}</span>
		</div>
	</ng-template>

	<!-- info -->
	<ng-template
		columnApp="Info"
		let-row="row"
		[sortable]="false"
		width="140">
		{{  productsCount[row.id] > 0 ? productsCount[row.id] + ' Products' : '' }}
	</ng-template>

	<!-- Action -->
	<ng-template
		columnApp="Action"
		let-row="row"
		[sortable]="false"
		width="50">
		<div class="flexCenter">
			<rating-heart-app
				[rating]="row?.rating"
				(favorited)="supplierFavorited.emit(row.id)"
				(unfavorited)="supplierUnfavorited.emit(row.id)"></rating-heart-app>
		</div>

	</ng-template>

	<!-- Review -->
	<ng-template
		columnApp=""
		let-row="row"
		[sortable]="false"
		width="60">
		<a class="review" [routerLink]="['/suppliers', 'details', row.id, 'activity']">REVIEW</a>
	</ng-template>


</table-app>
