
preview-app {
	all: unset;

	preview-header-app {
		padding-left: 0;
		padding-right: 0;

		preview-badge-app {
			width: 100%;
		}
	}

	preview-section-app {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.noMarginBottom {
	margin-bottom: 0;
}