<ng-container *ngIf="product$ | async">
  <card-app>
    <div class="quotation-title">
      Quotations
    </div>
    <div class="quotation-body">
        <div class="quotation-empty">
          <div class="icon-empty">
            <img src="assets/icons/rfq-no-new.svg">
          </div>
          <div class="text-tempty">
            There's no quotation for this product asked yet
          </div>
          <div class="text-tempty">
            <span class="link clickable">click here</span> to create one
          </div>
        </div>
    </div>
    <div class="quotation-footer">
        <button class="footer-button">Request for new quotation</button>
    </div>
  </card-app>
</ng-container>
