:host {
	display: block;
	margin: 0px 6px;
	&.selected {
		background: var(--legacy-color-secondary-light);
	}
}

.ctnr {
	padding: 6px 0px;
	&:hover {
		background: var(--legacy-color-secondary-light);
	}
}

.border{
	border-bottom: 1px solid var(--legacy-color-secondary);
}