:host {
	display: block;
	padding: var(--spacing-m) var(--spacing-m) 0 var(--spacing-m);
	&:hover {
		background: var(--color-secondary-light);
	}
	&.selected {
		background: var(--color-secondary-light);
	}
}

.ctnr {
	padding-bottom: var(--spacing-m);
}

.border{
	border-bottom: 1px solid var(--color-secondary);
}