:host {
	display: block;
	padding: var(--spacing-default) var(--spacing-default) 0 var(--spacing-default);
	&:hover {
		background: var(--color-bg-third);
	}
	&.selected {
		background: var(--color-bg-third);
	}
}

.ctnr {
	padding-bottom: var(--spacing-default);
}

.border{
	border-bottom: 1px solid var(--color-primary-light);
}