/* modal */
.modal{
	z-index: 999;
	background: rgba(0,0,0,0.3);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
}

dialog{
	margin: auto;
	z-index: 1000;
	display:inline-block;
	border-radius: var(--border-radius);
	position: relative;
}

h5:empty{
	margin: 0;
	padding: 0;
}
h5{ order: 1 }

main{ order: 2 }

footer:not(:empty){
	margin-top: var(--spacing-md);
	order: 3;
}

dialog{
	display:flex;
	flex-direction: column;
}

.closeIc{
	color: #aaa;
	text-align: right;
	cursor: pointer;
	margin: 0.4rem 0.4rem 0 0;
	float: right;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	height: 1.5rem;
	width: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

