<preview-app cdk-scrollable *ngIf="sample$ | async">

	<!-- Banner -->
	<preview-banner-app (closed)="close.emit()">
		<preview-carousel-app
			[entity]="sample"
			[entityMD]="erm.SAMPLE"
			[images]="sample?.images"
			objectFit="cover">
		</preview-carousel-app>
	</preview-banner-app>

	<!-- Header -->
	<preview-header-app
		[entity]="sample"
		[entityMD]="erm.SAMPLE"
		(update)="update($event, 'name')">

		<!-- Product badge -->
		<preview-badge-app
			[hasOpenAction]="true"
			[badge]="erm.PRODUCT"
			[value]="sample?.product?.name"
			(openActionClicked)="openProduct()"
			(update)="update($event, 'product')">
		</preview-badge-app>

		<!-- Supplier badge -->
		<preview-badge-app
			[hasOpenAction]="true"
			[badge]="erm.SUPPLIER"
			[value]="sample?.supplier?.name"
			(openActionClicked)="openSupplier()"
			(update)="update($event, 'supplier')">
			<divider-app></divider-app>
		</preview-badge-app>
	</preview-header-app>

	<!-- Description -->
	<preview-section-app [title]="'Description'">
		<input-description-app
			[description]="sample?.description"
			(update)="update($event, 'description')">
		</input-description-app>
	</preview-section-app>

	<!-- Sample information -->
	<preview-section-app [title]="'Sample Information'">
		<!-- <dynamic-form-app
			[fields]="customFields"
			[inlineLabel]="true"
			[value]="sample"
			[colAmount]="1"
			(update)="updateSample($event)">
		</dynamic-form-app> -->
	</preview-section-app>

	<!-- Activity -->
	<preview-section-app>
		<comment-list-app [comments]="sample.comments"></comment-list-app>
	</preview-section-app>

	<preview-comment-app (added)="addComment($event)"></preview-comment-app>
</preview-app>

