:host {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

ul {
	width: 320px;
}

.border {
	&:after {
		content: "";
		width: 280px;
    position: absolute;
    padding-top: 48px;
    margin-left: var(--spacing-l);
		border-bottom: 1px solid var(--color-divider);
	}
}

.item {
	padding: var(--spacing-m);
	align-items: center;
	font-weight: 600;
	// &.border{
	// 	border-bottom: 1px solid var(--color-divider);
	// }
	&:hover {
		background: var(--color-secondary-light);
		color: var(--color-primary);
	}
}

icon-app {
	margin-right: var(--spacing-m);
}

a {
	width: 340px;
	font-size: var(--font-size-l);
}