<ng-container *ngIf="!(pending$ | async)">
	<auth-form-header-app>
		<auth-header-title-app>Join a team</auth-header-title-app>
		<auth-header-subtitle-app>
			Select the team you wanna connect to or
			<br>
			create a new one
		</auth-header-subtitle-app>
	</auth-form-header-app>
	<ul>
		<div class="flex pointer item border" *ngFor="let team of (teams$ | async); let last = last; trackBy: trackByFn"
		 (click)="pickTeam(team)">
			<icon-app name="team" fontSet="svg" size="m"></icon-app>
			<span>{{ team.name }}</span>
		</div>
	</ul>

	<a class="button light flexCenter" [routerLink]="['../create-a-team']">Create a new team</a>
</ng-container>
