icon-app {
	margin-bottom: var(--spacing-m);
}
h1 {
  font-family: Raleway, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
	color: var(--color-txt-strong);
	margin: 0;
	margin-bottom: var(--spacing-m);
}

h2 {
  font-family: SourceSansPro, sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: var(--color-txt-primary);
	margin: 0;
	margin-bottom: var(--spacing-xxl);
}

input[type="submit"] {
	margin-bottom: var(--spacing-m);
}

form-field-app {
	margin-bottom: 50px;
}