<!-- Project card -->
<card-app class="mg-top-l action-hover-container-0">
	<!-- project list -->
	<section>
		<h3 class="section-title flexVAlign">
			Projects
			<selector-app
				class="selector"
				type="project"
				[value]="projects"
				[canCreate]="true"
				[multiple]="true"
				[width]="330"
				(update)="update.emit($event)">
				<span class="mg-left-ms fs-m action-hover-item-0 color-primary txt-btn" translate="button.add"></span>
			</selector-app>
		</h3>
		<project-catalog-app
			[projects]="projects"
			(openProject)="openProject.emit($event)"
			(deleteProject)="deleteProject.emit($event)"></project-catalog-app>
	</section>
</card-app>
