<div (fileDrop)="onFileAdded($event)">
	<div class="flexBetween">
		<h2>Files &amp; Documents</h2>

		<input #inp type="file" class="hidden" (fileSelect)="onFileAdded($event)"/>
		<button class="small" (click)="inp.click()" i18n="button|add file">Add File</button>
	</div>

	<ng-container *ngIf="files$ | async as files">
		<table class="fullWidth">
			<thead>
				<tr>
					<th></th>
					<th i18n="table column header | Files Name">Name</th>
					<th i18n="table column header | Files Upload date">Upload date</th>
					<th i18n="table column header | Files Uploaded by">Uploaded by</th>
					<th i18n="table column header | File Action">Action</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let file of files" class="pointer">
					<td>
						<ng-container *ngIf="!file.pending; else spinner">
							<i class="fa fa-download pointer" (click)="download(file)" aria-hidden="true"></i>
						</ng-container>
						<ng-template #spinner>
							<spinner-app size="xs"></spinner-app>
						</ng-template>
					</td>
					<td>
							{{ file.fileName }}
					</td>

					<td>
							{{ file.creationDate | date }}
					</td>

					<td>
							{{ file.createdByUserId | entityName: project | async }}
					</td>

					<td (click)="deleteFile(file)" i18n="button| action delete file">
							delete
					</td>
				</tr>
			</tbody>

		</table>

	</ng-container>
</div>

