<div (fileDrop)="onFileAdded($event)">
	<div class="flexBetween">
		<h2>Files &amp; Documents</h2>

		<input #inp type="file" class="hidden" (fileSelect)="onFileAdded($event)"/>
		<button class="small" (click)="inp.click()" i18n="button|Add file@@filesPage_addFile">Add File</button>
	</div>

	<ng-container *ngIf="files$ | async as files">
		<table class="fullWidth">
			<thead>
				<tr>
					<th></th>
					<th i18n="table column header|File section name@@filesPage_name">Name</th>
					<th i18n="table column header|File section upload date@@filesPage_uploadDate">Upload date</th>
					<th i18n="table column header|File section uploaded by@@filesPage_uploadBy">Uploaded by</th>
					<th i18n="table column header|File section action@@filesPage_action">Action</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let file of files;trackBy: trackByFn" class="pointer">
					<td>
						<ng-container *ngIf="!file.pending; else spinner">
							<i class="fa fa-download pointer" (click)="download(file)" aria-hidden="true"></i>
						</ng-container>
						<ng-template #spinner>
							<spinner-app></spinner-app>
						</ng-template>
					</td>
					<td>
							{{ file.fileName }}
					</td>

					<td>
							{{ file.audit.creationDate | date }}
					</td>

					<td>
							{{ file.audit.createdBy.firstName }}
					</td>

					<td (click)="deleteFile(file)" i18n="button|File section delete@@global_delete">
							delete
					</td>
				</tr>
			</tbody>

		</table>

	</ng-container>
</div>

