<preview-app *ngIf="task$ | async as task">
	<!-- Banner -->
	<preview-banner-app (closed)="close.emit()">
		<banner-task-app
			[task]="task"
			(update)="update($event, 'done')">
		</banner-task-app>
	</preview-banner-app>

	<!-- Header -->
	<preview-header-app
		[entity]="task"
		[entityMD]="erm.TASK"
		(update)="update($event, 'name')">

		<!-- Product badge -->
		<preview-badge-app
			[badge]="erm.PRODUCT"
			[value]="task?.product?.name"
			(update)="update($event, 'product')">
		</preview-badge-app>

		<!-- Supplier badge -->
		<preview-badge-app
			[badge]="erm.SUPPLIER"
			[value]="task?.supplier?.name"
			(update)="update($event, 'supplier')">
		</preview-badge-app>
	</preview-header-app>

	<!-- Description -->
	<preview-section-app [title]="'Description'">
		<input-description-app
			[description]="task?.description"
			(update)="update($event, 'description')">
		</input-description-app>
	</preview-section-app>

	<!-- Date & Assignee -->
	<preview-section-app>
		<div class="date-assignee-section flexAround">

			<!-- Date -->
			<div class="left">
				<editable-field-app #editable [hasAction]="false" [inlineLabel]="false"
					(opened)="inpDueDate.select()" [canGrow]="true"
					(closed)="updateDueDate($event, inpDueDate.value)">
					<label-app>Due date</label-app>
					<editable-label-app>{{ task?.dueDate ? (task?.dueDate | date:'dd-MM-yyyy') : 'Select a due date' }}</editable-label-app>
					<form-field-app>
						<input inputApp #inpDueDate autofocus="true" [value]="task?.dueDate" [type]="'date'"
						(keyup.enter)="updateDueDate($event, inpDueDate.value)"/>
					</form-field-app>
				</editable-field-app>
			</div>

			<!-- Assignee -->
			<div class="right">
					<editable-field-app #editable [hasAction]="false" [inlineLabel]="false"
						(opened)="selector.open()" [canGrow]="true">
						<label-app>Assigned to</label-app>
						<editable-label-app class="flex">
							<user-picture-app
								[user]="task?.assignee" [size]="16" [border]="true">
							</user-picture-app>
							{{ task?.assignee ? task.assignee.firstName+' '+task?.assignee?.lastName[0] : 'Unassigned' }}
						</editable-label-app>
						<selector-entity-app
							#selector
							type="user"
							[displayedValue]="task?.assignee?.firstName"
							(clickOutside)="editable.close()"
							(change)="update($event, 'assignee'); editable.close();">
						</selector-entity-app>
					</editable-field-app>
				<!-- <div class="title">Assigned to</div>
				<div class="flex pointer"	(click)="toggleSelector(true)"> -->
					<!-- Selector -->
					<!-- <cdk-overlay-app
						*ngIf="menuOpen"
						[trigger]="trigger"
						[isOpen]="menuOpen"
						[offsetY]="-22"
						(clickOutside)="closeMenu()">
						<selector-entity-app
							#selector
							type="user"
							style="width: 200px"
							(clickOutside)="closeMenu()"
							(change)="update($event, 'assignee'); closeMenu();">
						</selector-entity-app>
					</cdk-overlay-app> -->
					<!-- User info -->
					<!-- <user-picture-app
						cdkOverlayOrigin
						#trigger="cdkOverlayOrigin"
						[user]="task?.assignee" [size]="16" [border]="true">
					</user-picture-app>
					<div class="user-name">
						{{ task?.assignee ? task.assignee.firstName+' '+task?.assignee?.lastName[0] : 'Unassigned' }}
					</div> -->
				<!-- </div> -->
			</div>
		</div>
	</preview-section-app>

	<!-- Activity -->
	<preview-section-app>
		<comment-list-app [comments]="task.comments"></comment-list-app>
	</preview-section-app>

	<preview-comment-app (added)="addComment($event)"></preview-comment-app>
</preview-app>
