<preview-app cdk-scrollable *ngIf="task$ | async">
	<!-- Banner -->
	<preview-banner-app (closed)="close.emit()">
		<banner-task-app
			[task]="task"
			(update)="update($event, 'done')">
		</banner-task-app>
	</preview-banner-app>

	<!-- Header -->
	<preview-header-app
		[entity]="task"
		[entityMD]="erm.TASK"
		(update)="update($event, 'name')">

		<!-- Product badge -->
		<preview-badge-app
			[hasOpenAction]="true"
			[badge]="erm.PRODUCT"
			[value]="task?.product?.name"
			(openActionClicked)="openProduct()"
			(update)="update($event, 'product')">
		</preview-badge-app>

		<!-- Supplier badge -->
		<preview-badge-app
			[hasOpenAction]="true"
			[badge]="erm.SUPPLIER"
			[value]="task?.supplier?.name"
			(openActionClicked)="openSupplier()"
			(update)="update($event, 'supplier')">
		</preview-badge-app>
	</preview-header-app>

	<!-- Description -->
	<preview-section-app [title]="'Description'">
		<input-description-app
			[description]="task?.description"
			(update)="update($event, 'description')">
		</input-description-app>
	</preview-section-app>

	<!-- Date & Assignee -->
	<preview-section-app>
		<div class="date-assignee-section flexAround">

			<!-- Date -->
			<div class="left">
				<editable-field-app #editable [hasAction]="false" [inlineLabel]="false"
					(opened)="inpDueDate.select()" [canGrow]="true">
					<label-app>Due date</label-app>
					<editable-label-app>{{ task?.dueDate ? (task?.dueDate | date:'dd-MM-yyyy') : 'Select a due date' }}</editable-label-app>
					<form-field-app>
						<input inputApp #inpDueDate autofocus="true" [value]="task?.dueDate ? (task?.dueDate | date:'yyyy-MM-dd') : ''" type="date"
						(keyup.enter)="updateDueDate(false, inpDueDate.value)" (change)="updateDueDate(false, $event.target.value)"/>
					</form-field-app>
				</editable-field-app>
			</div>

			<!-- Assignee -->
			<div class="right">
				<selector-app
					type="user"
					[width]="210"
					[offsetY]="-26"
					(update)="update($event, 'assignee')">
					<editable-field-app
						#editable [hasAction]="false" [inlineLabel]="false" [canGrow]="true" [openOnClick]="false">
						<label-app>Assigned to</label-app>
						<editable-label-app class="flex">
							<user-picture-app
								[user]="task?.assignee" [size]="16" [border]="true">
							</user-picture-app>
							{{ task?.assignee?.firstName }} {{ task?.assignee?.lastName ? task?.assignee?.lastName[0] : ''}}
						</editable-label-app>
					</editable-field-app>
				</selector-app>
			</div>
		</div>
	</preview-section-app>

	<!-- Activity -->
	<preview-section-app>
		<comment-list-app [comments]="task.comments"></comment-list-app>
	</preview-section-app>

	<preview-comment-app (added)="addComment($event)"></preview-comment-app>
</preview-app>
