.date-assignee-section {

	editable-field-app {
		min-height: unset;
    padding-top: 0px;
    padding-bottom: 0px;
	}

	.left {
		width: 50%;
	}
	.right {
		width: 50%;

		div.title {
			color: var(--color-txt-secondary);
			font-weight: 600;
			margin-bottom: var(--spacing-s);
		}

		user-picture-app {
			margin-right: var(--spacing-s);
			font-size: 9px;
		}
	}
}