.container {
	position: relative;
	padding-top: var(--spacing-s);
	cursor: pointer;
}
.unread {
	background: var(--color-bg-secondary);
}
.notif-card {
	justify-content: space-between;
	align-items: center;
	
	.logo {
		margin-right: var(--spacing-ms);
	}

	.notif-info {
		justify-content: center;
		font-size: var(--font-size-m);
	}
	
	.notif-datetime {
		height: 15px;
		padding-bottom: 12px;
		font-size: 12px;
		color: var(--color-txt-third);
	}
	
	.notif-message {
		font-size: 14px;
		max-width: 420px;
		color: var(--color-txt-secondary);
		.bold-message {
			color: var(--color-txt-primary);
		}
	}
	
	.mark-read {
		display: none;
		width: 10px;
		height: 10px;
		position: absolute;
		top: 11px;
		right: 11px;
		border-radius: 50%;
	}

	.primary-dot {
		background: var(--color-primary);
	}
	
	&:hover {
		background: var(--color-secondary);
		.mark-read {
			display: block;
		}
		divider-app {
			visibility: hidden;
		}
	}
}

.divider-mg-l {
	margin-left: 44px;
	width: calc(100% - 44px);
}
