<div class="imgCtnr flexCenter" (mouseenter)="setOverlay(true)" (mouseleave)="setOverlay(false)">

  <div class="overlay hide" [class.hide]="!showOverlay">
    <div>
      <div *ngIf="!selected; else selIc" class="selectionIc pointer icon-circle-unchecked" (click)="select.emit()">
      </div>
      <ng-template #selIc>
        <div class="selectionIc pointer icon-circle-checked" name="check" (click)="unselect.emit()"></div>
      </ng-template>
    </div>

    <div class="openCtnr">
      <div class="open pointer" (click)="open.emit()">OPEN</div>
      <thumb-buttons-app class="feedback" color="white" (vote)="vote.emit($event)"></thumb-buttons-app>
    </div>
    <div class="icon-delete" name="trash-alt" (click)="trash.emit()"></div>
  </div>
  <img class="cardImg" [class.blurred]="showOverlay" [src]="url || defaultImg" />
  <div class="imgNumber flexRow" [class.hide]="showOverlay">
    <span>-</span>
    <div class="icon-img"></div>
  </div>
</div>
