dialog-app {
	height: calc(100vh - 100px);
	width: 1149px;
	border-radius: var(--border-radius);

	dialog-header-app {
		font-size: var(--font-size-l);
	}

	controller-table-app {
		margin-top: 0;
	}

	.pagination-footer {
		.cancel {
			margin: 0 var(--spacing-ms);
		}

		.show-my-samples-only {
			font-weight: 600;
			color: var(--color-txt-secondary);
		}

		.selected-product-count {
			margin-right: var(--spacing-xs);
		}
		
		.selected-product {
			font-size: var(--font-size-m);
		}

		.product-action {
			margin-right: var(--spacing-ms);
		}
	}

	sub-panel-left-item-app {
		margin-left: 0;
		padding: var(--spacing-l) 0 var(--spacing-ms) 0;
	}
}

.no-padding-border-bottom {
	padding: unset;
	border-bottom: unset;
}