<!-- <dialog-app [hasBorder]="false" contentOverflow="hidden">

	<dialog-header-app translate="header.select-products"></dialog-header-app>

	<controller-table-app>
		<controller-table-quick-filters-app [quickFilters]="['assignee']"></controller-table-quick-filters-app>
		<controller-table-quick-actions-app 
			[hasExport]="false"
			[columns]="columns" 
			[tableConfig]="tableConfig">
		</controller-table-quick-actions-app>
	</controller-table-app>

	<div class="flex table-ctnr">
		
		<products-table-app
			class="list-view"
			[rows]="listSrv.items$ | async"
			[hasShowItemsPerPage]="false"
			[hasPagination]="false"
			[hasMenu]="false"
			[currentSort]="listSrv.currentSort"
			[pending]="listSrv.pending"
			[selection]="selectionSrv.selection$ | async"
			[total]="listSrv.count$ | async"
			[currentPage]="listSrv.currentPage"
			(goToPage)="loadPage($event)"
			(delete)="listSrv.deleteOne($event)"
			(update)="listSrv.update($event)"
			(open)="viewSrv.goToDetails($event)"
			(showItemsPerPage)="showItemsPerPage($event)"
			(bottomReached)="listSrv.loadMore()"
			(select)="onItemSelected($event, true)"
			(previewClick)="viewSrv.openPreview($event)"
			(selectAll)="onSelectAll($event, true)"
			(sort)="listSrv.sort($event)"
			(unselect)="onItemUnselected($event)"
			(unselectAll)="onUnselectAll()">
		</products-table-app>

		<filters-app
			*ngIf="viewSrv.filterPanelOpen"
			[filterTypes]="filterTypes"
			[sidePanel]="false"
			(close)="viewSrv.closeFilterPanel()">
		</filters-app>
	</div>

	<dialog-footer-app class="flexVAlign flexBetween pagination-footer">
		<pagination-app
			[total]="listSrv.count$ | async"
			[currentPage]="listSrv.currentPage"
			[hasPageItemsCount]="false"
			[hasTopPadding]="false"
			(goToPage)="listSrv.loadPage($event)">
		</pagination-app>
		<div class="flex flexVAlign">
			<div class="product-action">
				<span class="selected-product capitalize">
					{{'OBJ.n-product-selected.singular' | translate: {count: selectedProductsCount || 0} }}
				</span>
			</div>
			<divider-app [vertical]="true"></divider-app>
			<button *ngIf="submitProducts" class="cancel capitalize light" (click)="cancel()" translate="button.cancel"></button>
			<button *ngIf="submitProducts" class="add-to-project capitalize primary" (click)="submit()" translate="button.add-to-project"></button>
			<button *ngIf="!submitProducts" class="capitalize primary" (click)="done()" translate="button.done"></button>
		</div>
	</dialog-footer-app>

	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>
</dialog-app> -->