<card-app>
	<div class="flex flexBetween top">
		<h2 class="color-txt-strong first-uppercase" i18n="@@samples">samples</h2>
		<div class="spacer mg-m"></div>
		<div class="flex show-my-tasks" *ngIf="hasFilters">
			<checkbox-app
				[checked]="filterList.hasFilterType(filterTypeEnum.ASSIGNEE)"
				(check)="toggleMySamples.emit(true)"
				(uncheck)="toggleMySamples.emit(false)">
				<span i18n="@@show-samples-only">
					Show my samples only
				</span>
			</checkbox-app>
		</div>
	</div>

	<list-app infiniScroll cdk-scrollable (bottomReached)="bottomReached.emit()">
		<list-item-app *ngFor="let sample of samples; index as i; first as first; last as last; trackBy: trackById"  class="{{ first ? 'border-top' : '' }}">
			<!-- use hover index if we use selection -->
			<!-- <checkbox-app
				[ngStyle]="{'visibility': (selection.has(task.id) || hoverIndex === i) ? 'visible' : 'hidden'}"
				[checked]="selection.has(task.id)"
				(check)="onItemSelected(task)"
				(uncheck)="onItemUnselected(task)">
			</checkbox-app> -->
			<sample-app [sample]="sample" (previewClicked)="previewClicked.emit(sample)" (updateSample)="updateSample.emit($event)">
			</sample-app>
		</list-item-app>
	</list-app>
	<div class="flexEnd create-sample">
		<button class="primary" (click)="openCreationSampleDlg.emit()" i18n="button@@create">
			Create
		</button>
	</div>
</card-app>