<card-app>
	<h3 class="l">Request Information</h3>

	<editable-field-app class="no-hover" [openOnClick]="false">
		<label-app>Sent To</label-app>
		<editable-label-app>
			{{ request?.recipient?.name }}
		</editable-label-app>
	</editable-field-app>

	<editable-field-app class="no-hover" [openOnClick]="false">
		<label-app>Supplier</label-app>
		<editable-label-app>
			{{ request?.recipient?.company }}
		</editable-label-app>
	</editable-field-app>

	<editable-field-app class="no-hover" [openOnClick]="false">
		<label-app>Sent On</label-app>
		<editable-label-app>
			{{ request?.creationDate | date: 'dd MMMM yyyy' }} at {{ request?.creationDate | date: 'HH:mm' }}
		</editable-label-app>
	</editable-field-app>

	<editable-field-app class="no-hover" [openOnClick]="false">
		<label-app>Sent By</label-app>
		<editable-label-app>
			{{ request?.sender.name }}
		</editable-label-app>
	</editable-field-app>
	<editable-field-app class="no-hover" [openOnClick]="false">
		<label-app>Template</label-app>
		<editable-label-app>
			<!-- {{ request?.requestTemplateName }} -->
		</editable-label-app>
	</editable-field-app>

	<editable-field-app class="no-hover" [openOnClick]="false">
		<label-app>Status</label-app>
		<editable-label-app>
			{{ request?.status | const: 'statusRequestTeam' }}
		</editable-label-app>
	</editable-field-app>
</card-app>