
<div class="top">
	<h1>Sign up</h1>
	<h2 *ngIf="!(pending$ | async)">Just fill this form and get started with power sourcing!</h2>
	<h2 *ngIf="(pending$ | async)">We are now processing your informations</h2>
</div>

<form [formGroup]="form" class="flexColumn" *ngIf="!(pending$ | async); else spinner">
	<error-app *ngIf="error">{{ error }}</error-app>
	<form-field-app>
		<label-app>First Name</label-app>
		<input inputApp required="true"
			autocomplete="given-name" formControlName="firstName" type="text" placeholder="Your first name"/>
	</form-field-app>

	<form-field-app>
		<label-app>Last Name</label-app>
		<input inputApp required="true"
			autocomplete="family-name" formControlName="lastName" type="text" placeholder="Your last name"/>
	</form-field-app>

	<form-field-app>
		<label-app>Email</label-app>
		<input inputApp required="true"
			autocomplete="email" formControlName="email" type="email" placeholder="Your email"/>
		<hint-app>Tip: the app works better with a company email</hint-app>
	</form-field-app>

	<form-field-app>
		<label-app>Password</label-app>
		<input #pw inputApp required="true" autocomplete="new-password" minlength="8" formControlName="password" type="password"
			placeholder="Your password"/>
		<error-app *ngIf="form.get('password').hasError('minlength')">Minimum 8 characters required</error-app>
	</form-field-app>


  <input class="button fullWidth" type="submit" [disabled]="!form.valid" value="Create Account" (click)="createAccount()"/>

	<a class="button light flexCenter fullWidth" [routerLink]="['../login']">Have an account? Sign-In!</a>
</form>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>

<div>{{ error }}</div>