
<form [formGroup]="form" class="flexColumn" *ngIf="!pending; else spinner">
	<form-field-app>
		<label-app>Email</label-app>
		<input inputApp autocomplete="on" formControlName="email" type="email" placeholder="example@showsourcing.com"/>
	</form-field-app>

	<form-field-app>
		<label-app>Password</label-app>
		<input inputApp autocomplete="on" formControlName="password" type="password" placeholder="your password"/>
	</form-field-app>


  <input type="submit" value="Create Account" (click)="createAccount()" class="fullWidth"/>
</form>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>

<div>{{ error }}</div>