<div class="item-compare-row-container">
	<div *ngFor="let comparison of comparisonData; trackBy: trackByFn" class="comparison-row">
		<div [ngSwitch]="comparison.type" [ngClass]="'comparison-row-' + comparison.type">
			<div *ngSwitchCase="'title'">
				<div class="comparison-cell" >
					{{ comparison.title }}
				</div>
			</div>
			<div *ngSwitchCase="'content'">
				<div class="title">{{ comparison.title }}</div>
				<div [ngSwitch]="comparison.dataType" [ngClass]="'comparison-cell-' + comparison.dataType">
					<div *ngSwitchCase="'price'">
						<div class="comparison-cell" *ngFor="let value of comparison.data; trackBy: trackByFn">
							<price-app
								[isShort]="true"
								[amount]="value?.value"
								[currency]="value?.currency">
							</price-app>
						</div>
					</div>
					<div *ngSwitchCase="'text'">
						<div class="comparison-cell" *ngFor="let value of comparison.data; trackBy: trackByFn">
							{{ value }}
						</div>
					</div>
					<div *ngSwitchCase="'tag'">
						<div class="comparison-cell" *ngFor="let value of comparison.data; trackBy: trackByFn">
							<span *ngFor="let tag of value; let fst = first; trackBy: trackByFn">
								{{ tag.name }} {{ fst ? ', ' : '' }}
							</span>
						</div>
					</div>
				</div>
			</div>
			<div *ngSwitchCase="'header'">
				<div class="empty-header-cell">
				</div>
				<div [ngSwitch]="comparison.dataType" [ngClass]="'comparison-cell-' + comparison.dataType">
					<div *ngSwitchCase="'description'" class="description">
						<div class="comparison-cell" *ngFor="let value of comparison.data; trackBy: trackByFn">
							{{ value }}
						</div>
					</div>
					<div *ngSwitchCase="'text'" class="header-title">
						<div class="comparison-cell" *ngFor="let value of comparison.data; trackBy: trackByFn">
							{{ value }}
						</div>
					</div>

					<div *ngSwitchCase="'button'" class="header-title">
							<div class="comparison-cell" *ngFor="let value of comparison.data; trackBy: trackByFn">
								<button>{{ value }}</button>
							</div>
						</div>
	
					<div *ngSwitchCase="'image'">
						<div class="comparison-cell" *ngFor="let value of comparison.data; trackBy: trackByFn">
							<div class="image-container">
								<img-app [customStyle]="{ 'border-radius': '4px' }" [image]="value" type="product" size="s" [objectFit]="'cover'"></img-app>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>