:host {
	display: flex;
	min-height: 37px;
	cursor: pointer;

	&.active, &:hover {
		background-color: var(--color-primary);
		color: #fff;

		.container > * {
			color: white !important;
		}
	}
}

.container {
	height: 100%;
	width: 100%;
	padding: var(--spacing-s) 0;
	.name {
		color: var(--color-txt-strong);
	}
}