card-header-app {
	margin: var(--spacing-xs);
	background-image: url("/assets/img/supplier-bg.jpg");
	height: 158px;
	h1, h2 {
		color: white;
	}
	h1 {
		margin-bottom: var(--spacing-s);
	}
	.alignCenter {
		text-align: center;
	}
}

.noDesc {
	font-style: italic;
	color: var(--color-txt-secondary);
	font-weight: normal;
}

textarea {
	height: 79px;
	resize: none;
}

.cancel {
	margin-right: var(--spacing-m);
}

.desc {
	font-weight: 400;
}

editable-label-app {
	white-space: pre-wrap;
}

.fav {
	margin-right: var(--spacing-ms);
}

.userInfo {
	font-size: var(--font-size-s);
}