.noDesc {
	font-style: italic;
	color: var(--color-txt-secondary);
	font-weight: normal;
}

textarea {
	height: 79px;
	resize: none;
}

.cancel {
	margin-right: var(--spacing-m);
}

.desc {
	font-weight: 400;
}

editable-label-app {
	white-space: pre-wrap;
}