<card-app (clickOutside)="cancel()">
	<card-header-app>
		<img src="/assets/img/supplier-bg.jpg"/>
	</card-header-app>


	<h2 i18n="header 2|Supplier desciption card@@supplierDescription_description">Supplier Description</h2>

	<editable-text-app #editable [closeOnOutsideClick]="false" [hasAction]="false">
		<editable-label-app class="desc" *ngIf="supplier.description; else noDesc">
			{{ supplier.description }}
		</editable-label-app>
		<ng-template #noDesc>
			<editable-label-app class="noDesc"
				i18n="label|Supplier with no description@@supplierDescription_noDescription">
				No description yet
			</editable-label-app>
		</ng-template>
		<textarea inputApp class="fullWidth" #txt [value]="supplier.description || ''"></textarea>
	</editable-text-app>

	<card-footer-app>

		<ng-container *ngIf="!editable.isOpen; else closed">
			<button class="light auto fav" (click)="toggleFavorite()">
				<icon-app name="heart" fontSet="fa" [ngClass]="{ 'color-warn': supplier.favorite }"></icon-app>
				Favorite
			</button>
			<button (click)="edit()" class="auto">
				Edit Description
			</button>
		</ng-container>

		<ng-template #closed>
			<button class="light cancel" (click)="cancel()" >Cancel</button>
			<button (click)="onSave(txt.value)">Save</button>
		</ng-template>

	</card-footer-app>

</card-app>
