:host {
	height: 100vh;
	overflow: hidden;
	display: flex;
}

main {
	height: 100%;
	width: calc(100% - 50px);
	background: var(--legacy-color-bg-secondary);
	overflow-y: auto;
	overflow-x: hidden;
}
