.menu-item {
	display: flex !important;
}

icon-app[name=caret-down] {
	margin-top: 1px;
	margin-left: var(--spacing-ms);
}

context-menu-trigger-app {
	button {
		font-weight: 600;
	}
}

icon-app {
	padding-left: var(--spacing-xs);
}
