<div class="left flexStart">
	<icon-app
		class="pointer mg-right-ms"
		[ngStyle]="{'color': statusUtils.getTaskStatusIconColorVar(task) }"
		name="check-circle"
		[size]="16"
		(click)="iconClick.emit(task)">
	</icon-app>
	<div class="txt-btn" (click)="nameClick.emit(task)">{{ task?.name }}</div>
</div>
<div class="right flexEnd dot-separator">
	<div>{{ task?.assignee | formatUserName: true }}</div>
	<div
		*ngIf="task?.dueDate"
		[class.color-warn]="statusUtils.isOverdue(task) && !task?.done">
		{{ task?.dueDate | date: 'dd MMMM yyyy':'':translate.currentLang }}
	</div>
</div>
