
<entity-page-app [switchable]="false" [pending]="pending$ | async" [repr]="repr" (createClick)="openNewDialog()">
	<supplier-list-view-app
	(supplierSelect)="onItemSelected($event)"
	(supplierUnselect)="onItemUnselected($event)"
	(supplierOpen)="onItemOpened($event)"
	[selection]="selection"
	[suppliers]="suppliers$ | async"></supplier-list-view-app>
	<new-supplier-dlg-app></new-supplier-dlg-app>
</entity-page-app>
<selection-bar-app [repr]="repr" *ngIf="selection.size > 0" [selection]="selection"></selection-bar-app>
