
.description-container {
	margin-bottom: 50px;

	textarea {
		resize: none;
		height: 182px;
		margin-top: var(--spacing-ms);
		padding: var(--spacing-m) !important;
		font-size: var(--font-size-l);

		&::placeholder {
			font-size: var(--font-size-l);
		}
	}
}

@media only screen and (min-width:960px){
	textarea {
		width: 500px;
	}
}