
form-field-app {
	padding-bottom: 0;
	flex-grow: 1;
}


.twoLine input, .twoLine input {
	padding: 3px;
	font-size: var(--font-size-l);
}

.oneLine input, .oneLine input {
	padding: 4px 1px 4px 6px;
	border: none;
}

.twoLine editable-label-app, :host.twoLine editable-label-app {
	min-width: 20px;
	color: var(--color-txt-strong)!important;
	font-size: var(--font-size-l);
	&:not(.mult-tags):hover {
		color: var(--color-primary)!important;
	}
}
