form-field-app {
	padding-bottom: 0;
	flex-grow: 1;
}

.twoLine input, :host.twoLine input {
	padding: 6px
}
.oneLine input, :host.oneLine input {
	padding: 4px 1px 4px 6px;
	border: none;
}



editable-label-app {
	min-width: 20px;
}
