form-field-app {
	padding-bottom: 0;
	flex-grow: 1;
}


input {
	padding: 6px;
}

/** for packaging and price matrix */
label {
	color: var(--color-primary);
  font-size: var(--font-size-l);
  font-weight: bold;
}

.currencyLabel {
	padding: var(--spacing-xs) var(--spacing-s);
	border: 1px solid var(--color-primary);
	border-radius: var(--border-radius-s);
	color: var(--color-primary);
}

.inputCtnr {
	margin-left: 24px;
	margin-bottom: 32px
}


.editableCurrency {
	display: none;
	label-app {
		width: 100%;
    text-align: right;
	}
}

.editablePrice:hover > .editableCurrency {
	display: block;
}

