

/** for packaging and price matrix */
label {
	color: var(--color-primary);
  font-size: var(--font-size-l);
  font-weight: bold;
}



.inputCtnr {
	margin-left: 24px;
	margin-bottom: 32px
}


.editableCurrency {
	display: none;
	label-app {
		width: 100%;
    text-align: right;
	}
}

.editablePrice:hover > .editableCurrency {
	display: block;
}

