
/** for packaging and price matrix */

.strong {
	color: var(--color-txt-strong);
}

.inputCtnr {
	margin-bottom: 32px
}

h4 {
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: var(--spacing-s);
	display: block;
	color: var(--color-txt-strong);
}