<ng-container [ngSwitch]="customField.type">
	<!-- default -->
	<editable-text-app #editable *ngSwitchDefault (saved)="onSave()" (closed)="onSave()" (opened)="onOpen()">
		<label-app>{{ customField.value || '-' }}</label-app>
		<form-field-app>
			<div class="flex">
				<input inputApp
					#inp
					autofocus="true"
					[value]="customField.value"
					(input)="accumulate(inp.value)"
					(keyup.enter)="editable.close(); onSave()"
					[type]="customField.type"/>
			</div>
		</form-field-app>
	</editable-text-app>

	<!-- tel (restricted input)-->
	<editable-text-app #editable *ngSwitchCase="'tel'" (saved)="onSave()" (closed)="onSave()" (opened)="onOpen()">
		<label-app>{{ customField.value || '-' }}</label-app>
		<form-field-app>
			<div class="flex">
				<input inputApp
					#inp
					restrictInput="tel"
					autofocus="true"
					[value]="customField.value"
					(input)="accumulate(inp.value)"
					(keyup.enter)="editable.close(); onSave()"
					[type]="customField.type"/>
			</div>
		</form-field-app>
	</editable-text-app>

	<!-- number -->
	<editable-text-app #editable *ngSwitchCase="'number'" (saved)="onSave()" (closed)="onSave()" (opened)="onOpen()">
		<label-app>{{ customField.value || '-' }}</label-app>
		<form-field-app>
			<div class="flex">
				<input inputApp
					#inp
					restrictInput="number"
					autofocus="true"
					[value]="customField.value"
					(input)="accumulate(+inp.value)"
					(keyup.enter)="editable.close(); onSave()"
					[type]="customField.type"/>
			</div>
		</form-field-app>
	</editable-text-app>

	<!-- decimal -->
	<editable-text-app #editable *ngSwitchCase="'decimal'" (saved)="onSave()" (closed)="onSave()" (opened)="onOpen()">
		<label-app>{{ customField.value || '-' }}</label-app>
		<form-field-app>
			<div class="flex">
				<input inputApp
					#inp
					restrictInput="decimal"
					autofocus="true"
					[value]="customField.value"
					(input)="accumulate(+inp.value)"
					(keyup.enter)="editable.close(); onSave()"
					[type]="customField.type"/>
			</div>
		</form-field-app>
	</editable-text-app>

	<!-- textarea -->
	<editable-text-app #editable *ngSwitchCase="'textarea'" (saved)="onSave()" (closed)="onSave()" (opened)="onOpen()">
		<label-app>{{ customField.value || '-' }}</label-app>
		<form-field-app>
			<div class="flex">
				<textarea inputApp
					#inp
					autofocus="true"
					[value]="customField.value"
					(input)="accumulate(inp.value)"
					(keyup.enter)="editable.close(); onSave()">
				</textarea>
			</div>
		</form-field-app>
	</editable-text-app>

	<!-- selector -->
	<ng-container *ngSwitchCase="'selector'">
		<!-- entity selector -->
		<ng-container *ngIf="customField.metadata.type === 'entity'">
			<!-- multiple -->
			<editable-text-app #editable *ngIf="customField.multiple"
				(saved)="onSave()" [hasAction]="false" (opened)="onOpen()">

				<label-app>
					<tag-list-app  *ngIf="!isEmpty(customField.value); else none" [value]="value"></tag-list-app>
					<ng-template #none>
						-
					</ng-template>
				</label-app>

				<selector-entity-app
					[multiple]="true"
					(select)="onSelect($event)"
					(unselect)="onUnselect($event)"
					[(ngModel)]="value"
					[type]="customField.metadata.target">
				</selector-entity-app>
			</editable-text-app>

			<!-- one -->
			<editable-text-app #editable *ngIf="!customField.multiple"
				(saved)="onSave()" [hasAction]="false" (opened)="onOpen()">

				<label-app>
					{{ value.name || '-'}}
				</label-app>

				<selector-entity-app
					[multiple]="false"
					(select)="onSelect($event)"
					[(ngModel)]="value"
					[type]="customField.metadata.target">
				</selector-entity-app>
			</editable-text-app>

		</ng-container>

		<!-- const selector -->
		<ng-container *ngIf="customField.metadata.type === 'const'">
				<!-- one -->
				<editable-text-app #editable *ngIf="!customField.multiple"
					(saved)="onSave()" [hasAction]="false" (opened)="onOpen()">

					<label-app>
						{{ value || '-'}}
					</label-app>

					<selector-const-app
						[multiple]="false"
						(select)="onSelect($event)"
						[(ngModel)]="value"
						[type]="customField.metadata.target">
					</selector-const-app>
				</editable-text-app>

			</ng-container>
	</ng-container>


	<!-- selector const -->
	<!-- <editable-text-app #editable *ngSwitchCase="'selectorConst'"
		(saved)="onSave()" [hasAction]="false" (opened)="onOpen()">
		<label-app>
			<ng-container *ngIf="isEmpty(customField.value); else notEmpty">
				-
			</ng-container>
			<ng-template #notEmpty>
				<tag-list-app *ngIf="customField.multiple" [value]="customField.value"></tag-list-app>
				<span *ngIf="!customField.multiple"></span>
			</ng-template>
		</label-app>
		<selector-entity-app
			(select)="onSelect($event.id)"
			(unselect)="onUnselect($event.id)"
			[value]="customField.value"
			[type]="customField.metadata.subtype">
		</selector-entity-app>
	</editable-text-app> -->

</ng-container>