<ng-container *ngIf="customField.type">
	<ng-container [ngSwitch]="customField.type">
		<!-- hint: the onTouched and onChanged function must be called when needed (refer to ng doc)
		to avoid very hard to debug ExpressionChangedAfterItWasCheckedError -->
		<!-- text -->
		<editable-field-app
			*ngSwitchCase="'text'"
			#editable
			[class.borderless]="config.borderless"
			[class.no-hover]="customField?.metadata?.disabled"
			[openOnClick]="!(customField?.metadata?.disabled)"
			[hasAction]="config.hasAction"
			[hasLabel]="config.hasLabel"
			[inlineLabel]="config.inlineLabel"
			[align]="config.alignValue"
			(closed)="onClose($event)"
			(opened)="inp.select();">
			<label-app *ngIf="config.hasLabel">{{ 'text.' + (customField.label || customField.name) | translate }}</label-app>
			<!-- hint: editable text is the clickable label that transforms into an input -->
			<editable-display-app [disabled]="customField?.metadata?.disabled">
				{{ value || '-' }}
			</editable-display-app>
			<form-field-app class="editable">
				<!-- hint: couldn't ngModel to accumulator -->
				<input
					#inp
					inputApp
					type="text"
					[disabled]="customField?.metadata?.disabled"
					[value]="accumulator || ''"
					(input)="accumulate(inp.value)"
					(keyup.enter)="editable.close();"/>
			</form-field-app>
		</editable-field-app>

		<!-- tel (restricted input)-->
		<editable-field-app
			*ngSwitchCase="'tel'"
			#editable
			[class.borderless]="config.borderless"
			[class.no-hover]="customField?.metadata?.disabled"
			[openOnClick]="!(customField?.metadata?.disabled)"
			[hasAction]="config.hasAction"
			[hasLabel]="config.hasLabel"
			[inlineLabel]="config.inlineLabel"
			[align]="config.alignValue"
			(closed)="onClose($event)"
			(opened)="inp.select()">
			<label-app *ngIf="config.hasLabel">{{ 'text.' + (customField.label || customField.name) | translate }}</label-app>
			<editable-display-app [disabled]="customField?.metadata?.disabled">
				{{ value || '-' }}
			</editable-display-app>
			<form-field-app class="editable">
				<input inputApp
					#inp
					restrictInput="tel"
					autofocus="true"
					[disabled]="customField?.metadata?.disabled"
					[value]="accumulator"
					[type]="customField.type"
					(input)="accumulate(inp.value)"
					(keyup.enter)="editable.close();"/>
			</form-field-app>
		</editable-field-app>

		<!-- int -->
		<editable-field-app
			*ngSwitchCase="'int'"
			#editable
			[class.borderless]="config.borderless"
			[class.no-hover]="customField?.metadata?.disabled"
			[openOnClick]="!(customField?.metadata?.disabled)"
			[hasAction]="config.hasAction"
			[hasLabel]="config.hasLabel"
			[inlineLabel]="config.inlineLabel"
			[align]="config.alignValue"
			(closed)="onClose($event)"
			(opened)="inp.select()">
			<label-app *ngIf="config.hasLabel">{{ 'text.' + (customField.label || customField.name) | translate }}</label-app>
			<editable-display-app [disabled]="customField?.metadata?.disabled">
				{{ value || '-' }}
			</editable-display-app>
			<form-field-app class="editable">
				<input inputApp
					#inp
					restrictInput="number"
					autofocus="true"
					[disabled]="customField?.metadata?.disabled"
					[value]="accumulator"
					type="number"
					(input)="accumulate(+inp.value)"
					(keyup.enter)="editable.close()"/>
			</form-field-app>
		</editable-field-app>

		<!-- decimal -->
		<editable-field-app
			*ngSwitchCase="'decimal'"
			#editable
			[class.borderless]="config.borderless"
			[class.no-hover]="customField?.metadata?.disabled"
			[openOnClick]="!(customField?.metadata?.disabled)"
			[hasAction]="config.hasAction"
			[hasLabel]="config.hasLabel"
			[inlineLabel]="config.inlineLabel"
			[align]="config.alignValue"
			(closed)="onClose($event)"
			(opened)="inp.select()">
			<label-app *ngIf="config.hasLabel">{{ 'text.' + (customField.label || customField.name) | translate }}</label-app>
			<editable-display-app [disabled]="customField?.metadata?.disabled">
				{{ value || '-' }}
			</editable-display-app>
			<form-field-app class="editable">
				<input inputApp
					#inp
					restrictInput="decimal"
					autofocus="true"
					[disabled]="customField?.metadata?.disabled"
					[value]="accumulator"
					type="number"
					step="any"
					(input)="accumulate(+inp.value)"
					(keyup.enter)="editable.close()"/>
			</form-field-app>
		</editable-field-app>

		<!-- date -->
		<editable-field-app
			*ngSwitchCase="'date'"
			#editable
			[class.borderless]="config.borderless"
			[class.no-hover]="customField?.metadata?.disabled"
			[openOnClick]="!(customField?.metadata?.disabled)"
			[hasAction]="config.hasAction"
			[hasLabel]="config.hasLabel"
			[inlineLabel]="config.inlineLabel"
			[align]="config.alignValue"
			(closed)="onClose($event)"
			(opened)="inp.select()">
			<label-app *ngIf="config.hasLabel">{{ 'text.' + (customField.label || customField.name) | translate }}</label-app>
			<editable-display-app [disabled]="customField?.metadata?.disabled">
				{{ value ? (value | date: 'dd MMMM yyyy':'':translate.currentLang) : '-' }}
			</editable-display-app>
			<form-field-app class="editable">
				<input
					inputApp #inpDueDate
					[disabled]="customField?.metadata?.disabled"
					autofocus="true"
					[value]="value ? (value | date:'yyyy-MM-dd':'':translate.currentLang) : '-'"
					type="date"
					(keyup.enter)="accumulate(inpDueDate.value)"
					(change)="accumulate($event.target.value)"/>
			</form-field-app>
		</editable-field-app>

		<!-- days -->
		<editable-field-app
			*ngSwitchCase="'days'"
			#editable
			[class.borderless]="config.borderless"
			[class.no-hover]="customField?.metadata?.disabled"
			[openOnClick]="!(customField?.metadata?.disabled)"
			[hasAction]="config.hasAction"
			[hasLabel]="config.hasLabel"
			[inlineLabel]="config.inlineLabel"
			[align]="config.alignValue"
			(closed)="onClose($event)"
			(opened)="inp.select()">
			<label-app *ngIf="config.hasLabel">{{ 'text.' + (customField.label || customField.name) | translate }}</label-app>
			<editable-display-app [disabled]="customField?.metadata?.disabled">
				{{ value || '-' }} days
			</editable-display-app>
			<form-field-app class="editable">
				<input inputApp
					#inp
					autofocus="true"
					[disabled]="customField?.metadata?.disabled"
					[value]="accumulator"
					[type]="'number'"
					(input)="accumulate(+inp.value)"
					(keyup.enter)="editable.close();"/>
			</form-field-app>
		</editable-field-app>

		<!-- textarea -->
		<editable-field-app
			*ngSwitchCase="'textarea'"
			#editable
			[class.borderless]="config.borderless"
			[class.no-hover]="customField?.metadata?.disabled"
			[openOnClick]="!(customField?.metadata?.disabled)"
			[hasAction]="config.hasAction"
			[hasLabel]="config.hasLabel"
			[canGrow]="true"
			[inlineLabel]="config.inlineLabel"
			[align]="config.alignValue"
			(closed)="onClose($event)"
			(opened)="inp.select()">
			<label-app *ngIf="config.hasLabel">{{ 'text.' + (customField.label || customField.name) | translate }}</label-app>
			<editable-display-app [disabled]="customField?.metadata?.disabled" style="white-space: pre-line">
				{{ value || '-' }}
			</editable-display-app>
			<form-field-app class="editable">
				<textarea
					inputApp
					#inp
					autofocus="true"
					[disabled]="customField?.metadata?.disabled"
					[value]="accumulator"
					(input)="accumulate(inp.value)">
				</textarea>
			</form-field-app>
		</editable-field-app>

		<!-- price -->
		<editable-field-app
			*ngSwitchCase="'price'"
			#editable
			[class.borderless]="config.borderless"
			[class.no-hover]="customField?.metadata?.disabled"
			[openOnClick]="!(customField?.metadata?.disabled)"
			[hasAction]="config.hasAction"
			[hasLabel]="config.hasLabel"
			[inlineLabel]="config.inlineLabel"
			[align]="config.alignValue"
			(closed)="onClose($event)"
			(opened)="inp.select()">
			<label-app *ngIf="config.hasLabel">{{ 'text.' + (customField.label || customField.name) | translate }}</label-app>
			<editable-display-app [disabled]="customField?.metadata?.disabled" [vAlign]="false">
				<span class="fs-s"
					*ngIf="value && value.currency">{{ value?.currency | const : 'currency' : 'symbol'}}</span>
				<span *ngIf="value && value.currency" class="mg-xs spacer"></span>
				<span>{{ value && (value.value) ? (value.value / 10000) : '-' }}</span>
			</editable-display-app>
			<form-field-app class="editable">
				<input-price-app
					#inp
					inputApp
					[disabled]="customField?.metadata?.disabled"
					[price]="config.objectAsString ? stringToObject() : accumulator"
					(keyup.enter)="editable.close()"
					(change)="config.objectAsString ? accumulateObjectToString(inp.price) : accumulate(inp.price);">
				</input-price-app>
			</form-field-app>
		</editable-field-app>

		<!-- boolean -->
		<editable-field-app
			*ngSwitchCase="'boolean'"
			#editable
			[class.borderless]="config.borderless"
			[class.no-hover]="customField?.metadata?.disabled"
			[openOnClick]="!(customField?.metadata?.disabled)"
			[hasAction]="config.hasAction"
			[hasLabel]="config.hasLabel"
			[inlineLabel]="config.inlineLabel"
			[openOnClick]="false"
			[align]="config.alignValue"
			(click)="toggleValue($event)">
			<label-app *ngIf="config.hasLabel">{{ 'text.' + (customField.label || customField.name) | translate }}</label-app>
			<editable-display-app [disabled]="true">
				<radio-app
					[disabled]="customField?.metadata?.disabled"
					[checked]="accumulator"
					[items]="[{ name: 'Yes', value: true }, { name: 'No', value: false }]">
				</radio-app>
			</editable-display-app>
		</editable-field-app>

		<!-- price matrix -->
		<ng-container *ngSwitchCase="'priceMatrix'">
			<ng-container *ngIf="config.showComplexTypes">
				<h3 class="s color-primary" [ngClass]="{ 'first': indexInCol === 0 }">
					{{ 'text.' + (customField.label || customField.name) | translate }}
				</h3>
				<editable-price-matrix-app
					[(ngModel)]="accumulator"
					[disabled]="customField?.metadata?.disabled"
					(change)="onChange()"
					(rowClosed)="onClose($event)"
					(blur)="onBlur()">
				</editable-price-matrix-app>
			</ng-container>
		</ng-container>

		<!-- packaging -->
		<ng-container *ngSwitchCase="'packaging'">
			<ng-container *ngIf="config.showComplexTypes">
				<h3 class="s color-primary" [ngClass]="{ 'first': indexInCol === 0 }">
					{{ 'text.' + (customField.label || customField.name) | translate }}
				</h3>
				<editable-packaging-app
					[config]="config"
					[customField]="customField"
					[(ngModel)]="accumulator"
					[disabled]="customField?.metadata?.disabled"
					(input)="onChange();"
					(blur)="onBlur()"
					(rowClosed)="onClose($event)">
				</editable-packaging-app>
			</ng-container>
		</ng-container>

		<!-- selector -->
		<editable-selector-app
			*ngSwitchCase="'selector'"
			[(ngModel)]="value"
			[borderless]="config.borderless"
			[hasLabel]="config.hasLabel"
			[type]="getMetadata(customField?.metadata)"
			[disabled]="customField?.metadata?.disabled"
			[width]="customField?.metadata?.width"
			[multiple]="customField?.metadata?.multiple"
			[canCreate]="customField?.metadata?.canCreate"
			[label]="'text.' + (customField.label || customField.name) | translate"
			[hasBadge]="customField?.metadata?.hasBadge"
			[config]="config"
			(change)="onSave(false)"
			(blur)="onBlur()">
		</editable-selector-app>

		<!-- nested -->
		<dynamic-editable-container-app
			*ngSwitchCase="'nested'"
			[(ngModel)]="value[customField?.metadata?.nest?.name]"
			[indexInCol]="indexInCol"
			[customField]="customField?.metadata?.nest"
			[config]="config">
		</dynamic-editable-container-app>

		<!-- title -->
		<h3 *ngSwitchCase="'title'" class="color-primary" [ngClass]="{ 'first': indexInCol === 0 }">
			{{ 'title.' + customField.name | translate }}
		</h3>

	</ng-container>
</ng-container>
