<h3 i18n>Team feedback</h3>

<div class="ctnr" *ngIf="!pending; else spinner">
	<ng-container *ngIf="votes?.length > 0; else noVote">
			<div class="chartCtnr">
				<ngx-charts-pie-chart
					[view]="view"
					[scheme]="colorScheme"
					[results]="result"
					[legend]="false"
					[labels]="false"
					[explodeSlices]="true"
					[doughnut]="true">
				</ngx-charts-pie-chart>

				<div class="recap">
					<div class="percent">{{ positivePercentage}} %</div>
					<div>positives</div>
				</div>
			</div>

	</ng-container>
	<ng-template #noVote>
		<span i18n> There are no votes yet</span>
	</ng-template>
</div>



<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>
