
<input-select-one-app
	label="select one"
	(update)="onUpdate($event)"
	[formControl]="getControl('one')"
	[choices]="choices">
</input-select-one-app>

<br>
Value: {{ getControl('one').value }}
<br/>
Event: {{ event | json }}



<hr/>

<input-select-multi-app
	label="select multiple"
	(itemAdded)="onItemAdded($event)"
	(itemRemoved)="onItemRemoved($event)"
	[formControl]="getControl('multi')"
	[choices]="choices">
</input-select-multi-app>

<br/>
Value: {{ getControl('multi').value }}
<br/>
Event: {{ event | json }}


<hr/>

<input-select-entity-app
	label="select one entities"
	(update)="onUpdate($event)"
	[formControl]="getControl('oneSupplier')"
	[entityRep]="suppliersRepr">
</input-select-entity-app>

<br/>
Value: {{ getControl('oneSupplier').value }}
<br/>
Event: {{ event | json }}

<hr/>

<input-select-entity-app
	[multi]="true"
	label="select one entities"
	(update)="onUpdate($event)"
	[formControl]="getControl('manySuppliers')"
	[entityRep]="suppliersRepr">
</input-select-entity-app>

<br/>
Value: {{ getControl('manySuppliers').value }}
<br/>
Event: {{ event | json }}
