:host {
	display: block;
}

.information {
	width: 530px;
}

.title {
	margin-top: -10px;
	margin-bottom: var(--spacing-l);

	.sub-title {
		margin-top: -4px;
	}

	.title-input {
		height: var(--spacing-xl);
		font-size: var(--font-size-xxxl);
	}
}
