<dialog-app>
  <dialog-header-app i18n="@@add-products-to-project">
    Add Products to project
  </dialog-header-app>

  <div *ngIf="listSrv.items$ | async as products; else spinner">
    <sub-panel-app
      [hasSwitch]="false"
      [hasFilter]="false"
      (search)="listSrv.search($event)"
      (smartSearch)="listSrv.smartSearch($event)">

      <search-autocomplete-app [xPosition]="0" [yPosition]="35" [width]="386">
        <search-autocomplete-item-app *ngFor="let element of (listSrv.smartSearchFilterElements$ | async);trackBy: trackByFn">
          <search-autocomplete-item-content-app
            [selectable]="true" [title]="element.name" [subtitle]="element.type"
            [checked]="element.checked" [icon]="element.type">
          </search-autocomplete-item-content-app>
        </search-autocomplete-item-app>
      </search-autocomplete-app>

    </sub-panel-app>

    <products-card-view-dialog-app
      class="list-view"
      [selection]="listSrv.selection$ | async"
      [rows]="products"
      [pending]="listSrv.pending"
      (previewClick)="listSrv.openPreview($event)"
      (select)="onItemSelected($event, true)"
      (unselect)="onItemUnselected($event)"
      (open)="listSrv.goToDetails($event)"
			(favorited)="listSrv.onItemFavorited($event)"
			(unfavorited)="listSrv.onItemUnfavorited($event)"
      (bottomReached)="listSrv.loadMore()"
      (sort)="listSrv.sort($event)"></products-card-view-dialog-app>

    <divider-app></divider-app>

    <div class="flexBetween footer">
      <div class="left flexCenter">
        <ng-container	*ngIf="(listSrv.selection$ | async) as selected">
					<div *ngIf="(listSrv.selection$ | async).size > 0" style="align-items: center" class="capitalize alignCenter">
						{{selected.size}} <ng-container i18n="@@nested_product">{ selected?.size, plural, =1 { product } other { products } }</ng-container> <ng-container i18n="@@selected">selected</ng-container>
					</div>
        </ng-container>
      </div>
      <div class="right flexCenter">
        <dialog-footer-app>
          <button class="cancel capitalize" (click)="closeDlg()" i18n="@@cancel">cancel</button>
          <button class="save capitalize" (click)="submit()" i18n="@@update-products">Update products</button> <!-- disabled]="!hasSelectedProducts()" -->
        </dialog-footer-app>
      </div>
    </div>
  </div>

  <ng-template #spinner>
    <spinner-app></spinner-app>
  </ng-template>

</dialog-app>
