dialog-app {
  width: 1103px;
  height: 675px;
}

sub-panel-app {
  padding-top: 10px;
  padding-bottom: 0;
  margin-top: 12px;
}

sub-panel-app ::ng-deep search-bar-app {
  background-color: var(--color-secondary-light);
}

dialog-header-app {
  padding-left: 24px;
  font-size: 15px;
  font-weight: 600;
	font-family: var(--font-title);
  color: var(--color-txt-strong);
}

divider-app {
  margin-right: 23px;
  margin-left: 23px;
}

.footer {
  margin-top: 16px;
  margin-right: 23px;
  margin-left: 23px;

  dialog-footer-app {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;

    .cancel {
      margin-right: 10px;
      background-color: transparent;
      color: var(--color-txt-secondary);

      &:hover {
        background-color: transparent;
        color: var(--color-txt-secondary);
      }
    }

    .save {
      background-color: #45adff;
      color: #fff;
    }
  }
}
