<dialog-app>
  <dialog-header-app>
    Add Products to project
  </dialog-header-app>

  <div *ngIf="listSrv.items$ | async as products; else spinner">
    <sub-panel-app
      [hasSwitch]="false"
      [hasFilter]="false"
      [buttonIcon]="false"
      (search)="listSrv.search($event)"
      (smartSearch)="listSrv.smartSearch($event)">

      <search-autocomplete-app [xPosition]="0" [yPosition]="35" [width]="386">
        <search-autocomplete-item-app *ngFor="let element of (listSrv.smartSearchFilterElements$ | async);trackBy: trackByFn">
          <search-autocomplete-item-content-app
            [selectable]="true" [title]="element.name" [subtitle]="element.type"
            [checked]="element.checked" [icon]="element.type">
          </search-autocomplete-item-content-app>
        </search-autocomplete-item-app>
      </search-autocomplete-app>

    </sub-panel-app>

    <products-card-view-dialog-app
      class="list-view"
      [selection]="listSrv.selection$ | async"
      [rows]="products"
      [pending]="listSrv.pending"
      (previewClick)="listSrv.openPreview($event)"
      (select)="listSrv.selectOne($event, true)"
      (unselect)="listSrv.unselectOne($event, true)"
			(selectAll)="listSrv.selectAll($event, true)"
			(unselectAll)="listSrv.unselectAll()"
      (open)="listSrv.goToDetails($event)"
			(favorited)="listSrv.onItemFavorited($event)"
			(unfavorited)="listSrv.onItemUnfavorited($event)"
      (bottomReached)="listSrv.loadMore()"
      (sort)="listSrv.sort($event)"></products-card-view-dialog-app>

    <divider-app></divider-app>

    <div class="flexBetween footer">
      <div class="left flexCenter">
        <ng-container	*ngIf="(listSrv.selection$ | async) as selected">
          <div *ngIf="(listSrv.selection$ | async).size > 0" style="align-items: center">{{selected.size}} Product{{(selected.size > 1) ? 's' : ''}} Selected</div>
        </ng-container>
      </div>
      <div class="right flexCenter">
        <dialog-footer-app>
          <button class="cancel" (click)="closeDlg()">Cancel</button>
          <button class="save" (click)="submit()">Update Products</button> <!-- disabled]="!hasSelectedProducts()" -->
        </dialog-footer-app>
      </div>
    </div>
  </div>

  <ng-template #spinner>
    <spinner-app></spinner-app>
  </ng-template>

</dialog-app>
