button {
	background: var(--legacy-color-secondary-light);
	color: var(--legacy-color-txt-secondary);
}

button:hover {
	background: var(--legacy-color-secondary);
	color: var(--legacy-color-txt-primary);
}

label {
	margin: var(--spacing-m) 0;
}

.edit {
	margin-right: var(--spacing-s);
	&:hover {
		text-decoration: underline;
		color: var(--legacy-color-primary);
	}
}

.clear {
	&:hover{
		text-decoration: underline;
		color: var(--legacy-color-warn);
	}
}