button{
	color: var(--color-txt-secondary);
}

button:hover {
	background: var(--color-secondary);
	color: var(--color-txt-primary);
}

label {
	margin: var(--spacing-m) 0;
}

.edit {
	margin-right: var(--spacing-s);
	&:hover {
		text-decoration: underline;
		color: var(--color-primary);
	}
}

.clear {
	&:hover{
		text-decoration: underline;
		color: var(--color-warn);
	}
}