<ng-container *ngIf="product; else spinner">
	<product-header-details-app
		[product]="product"
		[backButtonIcon]="previewMode ? 'close' : 'arrow-left'"
		[ngStyle]="{ width: previewMode ? 'calc((100% - 64px) * 0.95)' : 'calc(100% - 64px)'}"
		(update)="updateProduct($event)"
		(export)="onExport()"
		(delete)="deleteProduct($event?.id)"
		(archive)="onArchive($event)"
		(back)="goBack()"
		(supplierRequest)="openSupplierRequest($event)">
	</product-header-details-app>

	<product-sub-header-details-app
		[product]="product"
		(updated)="updateProduct($event)"
		(redirect)="goToTable($event)"
		(ratingClicked)="scrollToRating()"
		(openSupplier)="goToSupplier($event)">
	</product-sub-header-details-app>

	<div class="flex ctnr flexWrap details-main">
		<div class="left">
			<!-- docket card -->
			<product-docket-app
				[product]="product"
				[tasks]="tasks$ | async"
				[samples]="samples$ | async"
				(update)="updateProduct($event)"
				(addTask)="listHelper.openCreationDialog({ product: product.id }, 'Task')"
				(addSample)="listHelper.openCreationDialog({ product: product.id }, 'Sample')"
				(previewSample)="openSamplePreview($event)"
				(previewTask)="openTaskPreview($event)"
				(goToSamples)="goToTable('samples')"
				(goToTasks)="goToTable('tasks')">
			</product-docket-app>

			<!-- rating card -->
			<card-app #rating class="mg-top-l">
				<card-title-app size="s">Team Rating</card-title-app>
				<rating-dashboard-app
					[teamVotes]="teamVotes$ | async"
					[userVote]="(userVotes$ | async)[0] || null"
					(viewRatings)="dlgCommonSrv.openVoteDetailsDialog($event)"
					(update)="updateProduct({ id: product?.id, vote: $event })">
				</rating-dashboard-app>
			</card-app>

			<!-- Project card -->
			<project-list-card-app
				[projects]="projects || []"
				(update)="updateProductProjects($event)"
				(openProject)="openProjectDetails($event)"
				(deleteProject)="dissociateProject($event)">
			</project-list-card-app>
		</div>
		<product-main-app 
			#main 
			class="right" 
			[product]="product"
			[samples]="samples$ | async"
			[tasks]="tasks$ | async"
			[section]="productMainSectionFragment"
		></product-main-app>
	</div>
</ng-container>

<ng-template #spinner>
	<div class="spinner-ctnr flexCenter">
		<spinner-app></spinner-app>
	</div>
</ng-template>

<!-- previews -->
<sample-preview-app
	*ngIf="previewOpened && sample"
	[sample]="sample"
	(close)="closePreview()">
</sample-preview-app>

<task-preview-app
	*ngIf="previewOpened && task"
	[task]="task"
	(close)="closePreview()">
</task-preview-app>
