
	<dialog-app [name]="name">

			<!-- when ready -->
			<dialog-header-app *ngIf="!pending " i18n="dialog header|New supplier title@@newSupplier_newSupplier">
				New Supplier
			</dialog-header-app>

			<form [formGroup]="group" *ngIf="!pending">
				<form-field-app>
					<label-app i18n="label|New supplier name title@@supplierSummary_name">Name</label-app>
					<input inputApp type="text" formControlName="name" placeholder="Jhon Doe" (keyup.enter)="onSubmit()"/>
				</form-field-app>
			</form>

			<dialog-footer-app *ngIf="!pending ">
				<input [disabled]="!group.valid" type="submit" value="create" (click)="onSubmit()"/>
			</dialog-footer-app>

			<!-- when pending -->
			<spinner-app *ngIf="pending"></spinner-app>

	</dialog-app>

