<dialog-app class="vertical-scroll-content">

		<dialog-header-app i18n="@@new-task">new task</dialog-header-app>
		<div class="container flex">
				<div class="inner-container">
					<dynamic-form-app
						[colAmount]="1"
						[fields]="dynamicFields"
						[textMode]="false"
						[value]="task"
						(update)="updateTask($event)">
					</dynamic-form-app>
				</div>
			</div>
		<dialog-footer-app>
			<checkbox-app
				[checked]="createAnother"
				(update)="createAnother = !createAnother">
				create another
			</checkbox-app>
			<button tabFocus class="secondary" (click)="cancel()" i18n="@@cancel">cancel</button>
			<button tabFocus [disabled]="!(task?.name)" (click)="save()" i18n="@@save-task">save task</button>
		</dialog-footer-app>
	
	</dialog-app>