<dialog-app [name]="dialogName" (closed)="close($event)">
  <div header>{{header}}</div>
  <div content>
    <div class="contentTitle">{{title}}</div>
    <div *ngIf="dialogType !== 'export'">
      <div *ngFor="let entity of entities | async" class="contentRowBg" [class.selected]="selectedEntities[entity.id]">
        <div class="contentRow">
          <div class="pointer" [class.icon-circle-unchecked]="!selectedEntities[entity.id]" [class.icon-circle-checked]="selectedEntities[entity.id]"
            (click)="toggleSelectEntity(entity.id)"></div>
          <span class="name" *ngIf="dialogType === 'add'">{{entity.name}}</span>
          <span class="name" *ngIf="dialogType === 'feedback'">{{entity.firstName}} {{entity.lastName}}</span>
          <div class="productNumber" *ngIf="dialogType === 'add'">{{productsCount[entity.id] || '-'}}</div>
        </div>
      </div>
    </div>
    <div class="exportRow" *ngIf="dialogType === 'export'">
      <div class="exportCell" (click)="selectExport('excel')" [class.selected]="selectedExport === 'excel'">
        <div class="icon-excel"></div>
        <div class="title">Excel</div>
        <div class="subtitle">Perfect for edition</div>
      </div>
      <div class="exportCell" (click)="selectExport('pdf')" [class.selected]="selectedExport === 'pdf'">
        <div class="icon-pdf"></div>
        <div class="title">PDF</div>
        <div class="subtitle">Perfect for sharing</div>
      </div>
    </div>
  </div>
  <div footer>
    <div class="buttons">
      <button class="small" *ngIf="dialogType !== 'export'" (click)="buttonClicked.emit(selectedEntities)">{{buttonLabel}}</button>
      <button class="small" *ngIf="dialogType === 'export'" (click)="buttonClicked.emit(selectedExport)">{{buttonLabel}}</button>
    </div>
  </div>
</dialog-app>
