<div class="title-container-boarding flex">
	<button class="icon light" (click)="previousPage()">
		<icon-app name="back-arrow"></icon-app>
	</button>
	<h1>Account Creation</h1>
</div>

<form [formGroup]="form">
	<!-- email -->
	<form-field-app class="boarding">
		<label-app>Email (your personal email)</label-app>
		<input inputApp type="email" placeholder="Type your email" formControlName="email" />
	</form-field-app>
	<!-- first name -->
	<form-field-app class="boarding">
		<label-app>First Name</label-app>
		<input inputApp type="text" placeholder="Type your first name" formControlName="firstName" />
	</form-field-app>

	<!-- Family name -->
	<form-field-app class="boarding">
		<label-app>Family Name</label-app>
		<input inputApp type="text" placeholder="Type your family name" formControlName="familyName" />
	</form-field-app>
	<!-- Phone number -->
	<form-field-app class="boarding">
		<label-app>Phone Number</label-app>
		<input inputApp type="tel" placeholder="Type your phone number" formControlName="phoneNumber" />
	</form-field-app>
	<!-- password -->
	<form-field-app class="boarding">
		<label-app>Desired Password</label-app>
		<input inputApp type="password" placeholder="Type your password here" formControlName="password" />
	</form-field-app>

	<div class="left">
		<input class="boarding" type="submit" value="Next" (click)="onSubmit()" />
	</div>
</form>
