<button
	*ngIf="hasTable"
	class="flexCenter icon"
	toolTip
	[toolTipMessage]="'tooltip.table-view' | translate"
	(mousedown)="changeView('table')">
	<icon-app
		[ngStyle]="{color: view === 'table' ? 'var(--color-primary)' : 'inherit'}"
		name="list-menu"
		size="m">
	</icon-app>
</button>

<button
	*ngIf="hasCard"
	class="flexCenter icon"
	toolTip
	[toolTipMessage]="'tooltip.card-view' | translate"
	(mousedown)="changeView('card')">
	<icon-app
		[ngStyle]="{color: view === 'card' ? 'var(--color-primary)' : 'inherit'}"
		name="cards"
		size="m">
	</icon-app>
</button>

