// this is intended to be imported by components that need it
:host {
	display: flex;
	box-sizing: border-box;
	overflow: hidden;
	flex-grow: 1;

	&.no-padding {
		padding: 0 !important;
		// we want to keep always the bottom one cause of the selection
		padding-bottom: var(--spacing-l);
	}

	&.max-full-table-width {
		@media only screen and (max-width:3400px){
			margin: var(--spacing-ms) var(--spacing-l) var(--spacing-ms) var(--spacing-l);
		}
		@media only screen and (min-width:3400px){
			margin: var(--spacing-ms) auto var(--spacing-ms) auto;
			width: var(--screen-tables-max-width);
		}
		max-width: var(--screen-tables-max-width);
	}
}

table-app {
	margin-left: auto;
	margin-right: auto;
}


