<header-list-app
	[title]="'title.my-suppliers' | translate"
	logoTypename="Supplier"
	info="The supplier database"
	[buttonName]="'button.create-supplier' | translate"
	(buttonClick)="listHelper.create()">
</header-list-app>

<controller-table-app>
	<controller-table-quick-filters-app></controller-table-quick-filters-app>
	<controller-table-quick-actions-app
		[columns]="columns"
		[tableConfig]="tableConfig">
	</controller-table-quick-actions-app>
</controller-table-app>

<suppliers-table-app
	[rows]="listHelper.filteredItems$ | async"
	[pending]="listHelper.pending$ | async"
	[selection]="selectionSrv.selection$ | async"
	(open)="viewSrv.goToDetails($event)"
	(previewClick)="viewSrv.openPreview($event)"
	(select)="selectionSrv.selectOne($event)"
	(selectAll)="selectionSrv.selectAll($event)"
	(unselect)="selectionSrv.unselectOne($event)"
	(createClick)="listHelper.create()"
	(update)="listHelper.update($event)"
	(delete)="listHelper.delete($event)">
</suppliers-table-app>

<supplier-selection-bar-app
	typename="Supplier"
	(statusUpdated)="listHelper.updateSelected({status: $event})"
	(deleteSelected)="listHelper.deleteSelected()">
</supplier-selection-bar-app>

<supplier-preview-app
	*ngIf="viewSrv.previewOpen"
	[supplier]="viewSrv.previewed"
	(close)="viewSrv.closePreview()">
</supplier-preview-app>

<side-panel-app *ngIf="viewSrv.filterPanelOpen">
	<filters-app
		[filterTypes]="filterTypes"
		(clickOutside)="viewSrv.closeFilterPanel()"
		(close)="viewSrv.closeFilterPanel()">
	</filters-app>
</side-panel-app>

