<dialog-app [hasHeader]="false">
  <div *ngIf="!pending; else spinner">

    <img [src]="'assets/img/' + currentScreen.picture"/>

    <div class="mg-l">
      <h2>{{ currentScreen.title | translate }}</h2>
      <!-- innerhtml used to keep line breaks -->
      <p [innerHTML]="currentScreen.text | translate"></p>

      <div class="flexBetween actions">
        <button [disabled]="isFirst()" (click)="back()" class="secondary" translate="button.prev"></button>
        <div class="flex">
          <div *ngFor="let screen of onboardingSrv.screens; let i = index; trackBy: trackByFn"
          class="circle"
          [ngClass]="{ 'selected': onboardingSrv.currentIndex === i }"></div>
        </div>
        <button *ngIf="!isLast()" (click)="next()" translate="button.next"></button>
        <button *ngIf="isLast()" class="success" (click)="complete()" translate="button.finish"></button>
      </div>
    </div>
  </div>

  <ng-template #spinner>
    <div class="img flexCenter">
      <spinner-app [size]="128" [width]="2"></spinner-app>
    </div>
    <div class="mg-l">
      <div class="h2"></div>
      <div class="p"></div>
    </div>
  </ng-template>

</dialog-app>

