
<dialog-app [hasHeader]="false">
  <div #transition>
    <img [src]="'assets/img/' + currentScreen.picture"/>
    <div class="mg-l">
      <h2>{{ currentScreen.title }}</h2>
      <p>{{ currentScreen.text }}</p>
  
      <div class="flexBetween actions">
        <button [disabled]="isFirst()" (click)="back()" class="secondary">Previous</button>
        <div class="flex">
          <div class="cercle" [ngClass]="{ 'selected': onboardingSrv.currentIndex === i }" *ngFor="let screens of onboardingSrv.screens; let i = index"></div>
        </div>
        <button *ngIf="!isLast()" (click)="next()">Next</button>
        <button *ngIf="isLast()" class="success" (click)="complete()">Finish</button>
      </div>
    </div>
  </div>
</dialog-app>

