<input #inpFile type="file" hidden="true" (fileSelect)="addFile($event)"/>

<h2 class="l flexStart">Files</h2>

<ng-container *ngIf="(listHelper.items$ | async) as files; else spinner">
	<ng-container *ngIf="files?.length; else placeholder">
		<!-- list -->
		<attachment-list-item-app
			*ngFor="let file of files; first as first; trackBy:trackById"
			[ngStyle]="first ? { 'padding-top' : 0 } : ''"
			[attachment]="file"
			[selection]="selectionSrv.selection$ | async"
			(nameClick)="download($event)"
			(download)="download($event)"
			(select)="selectionSrv.selectOne($event, true)"
			(unselect)="selectionSrv.unselectOne($event, true)">
		</attachment-list-item-app>
		<!-- buttons -->
		<div class="flex buttons-container">
			<button class="capitalize" (click)="inpFile.click()" translate="button.add-file"></button>
			<div class="flexCenter">
				<divider-app *ngIf="(selectionSrv.selection$ | async)?.size" [vertical]="true" [height]="24"></divider-app>
			</div>
			<button
				*ngIf="(selectionSrv.selection$ | async)?.size"
				class="warn-light capitalize"
				(click)="listHelper.deleteSelected(true)"
				translate="button.delete">
			</button>
		</div>
	</ng-container>
</ng-container>

<ng-template #placeholder>
	<entity-placeholder-app
		[type]="'ATTACHMENT' | erm: 'singular'"
		[title]="'No files on this product'"
		[subtitle]="'Add your files'">
		<button class="capitalize" (click)="inpFile.click()" translate="button.add-file"></button>
	</entity-placeholder-app>
</ng-template>

<ng-template #spinner>
	<dots-app class="flexCenter"></dots-app>
</ng-template>
