:host {
	display: flex;
	flex-direction: column;
	margin: 0 var(--spacing-edge);
}

.category-section {
	width: 100%;
	margin: 0 auto;
}

.products-section {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap
}

.sectionTitle {
	font-weight: bold;
	margin: var(--spacing-l) 0px;
	font-size: 20px;
	text-transform: capitalize;
	color: var(--color-txt-strong);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.noTopMargin {
	margin-top: 0;
}

.sectionTag {
  border-radius: 14px;
	background-color: var(--color-secondary);
	color: var(--color-txt-primary);
  font-size: var(--font-size-m);
  display: flex;
  text-transform: capitalize;
	padding: 5px 24px;
	font-weight: initial;
}

.mg-right {
	margin-right: 0px;
}
