:host {
	display: flex;
	flex-direction: column;
	padding: 0 var(--spacing-edge);
	padding-top: 10px;
	height: 100%;
	background: white;
	border-top: 1px solid var(--color-secondary);
}

.category-section {
	width: 100%;
	padding: 0 auto;
	// background: white;
}

.products-section {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.section-title {
	font-weight: bold;
	margin: var(--spacing-l) 0px;
	font-size: 20px;
	text-transform: capitalize;
	color: var(--color-txt-strong);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

product-grid-card-app {
	margin-left: 0;
	margin-right: var(--spacing-ms);
	margin-bottom: var(--spacing-l);
}