
<ng-container *ngIf="product$ | async as product">

	<div class="flex content">
		<div class="left">

			<card-app class="carouselCard">
				<carousel-selection-app></carousel-selection-app>
			</card-app>


			<card-app padding="xl">
				<supplier-card-app [supplier]="product?.supplierId | entity:'suppliers' | async"></supplier-card-app>
			</card-app>


			<card-app>
				<project-card-app [projects]="product.projects"></project-card-app>
			</card-app>


		</div>

		<div class="right">
			<entity-main-card-app></entity-main-card-app>
		</div>

	</div>


</ng-container>