
.carouselCard {
	width: 420px;
	height: 391px;
	display: block;
	.carouselCtnr {
		width: 388px;
		height: 291px;
	}
}
.content {
	padding: 0 var(--spacing-xxl);
}

.right {
	flex-grow: 1;
}

.selected {
	color: var(--color-primary);
}

