<dialog-app class="vertical-scroll-content">
	<dialog-header-app translate="text.new-sample"></dialog-header-app>

	<div class="container flex">
		<div class="inner-container">
			<label-app>Name</label-app>
				<input
					#inputName
					inputApp
					type="text"
					[required]="true"
					[readonly]="false"
					(blur)="sample.name = inputName.value"
				/>

			<dynamic-form2-app
				#form
				[descriptor]="descriptor"
				[columnAmount]="columnAmount"
				[style]="style"
				[updateOn]="updateOn"
				[properties]="descriptorProperties"
				(update)="updateProduct($event)"
			>
			</dynamic-form2-app>
		</div>
	</div>
	<dialog-footer-app>
		<checkbox-app [value]="createAnother" (update)="createAnother = !createAnother">
			{{ 'text.create-another' | translate }}
		</checkbox-app>
		<button tabFocusAction class="secondary" (click)="dlgSrv.cancel()" translate="button.cancel"></button>
		<button tabFocusAction (click)="save()" [disabled]="!form.valid || !sample.name" translate="button.create-sample"></button>
	</dialog-footer-app>
</dialog-app>
