<dialog-app>

	<dialog-header-app>
		Compare Products
	</dialog-header-app>

  <div class="item-container" >
      <item-comapre-row-app [comparisonData]="comparisonData"></item-comapre-row-app>
  </div>

	<!-- <divider-app></divider-app> -->

	<dialog-footer-app>
		<button (click)="closeDlg()" class="">New Product</button>
		<button (click)="closeDlg()">Validate Sample</button>
		<button (click)="closeDlg()">Validate Sample</button>
		<button (click)="closeDlg()">Continue</button>
	</dialog-footer-app>

</dialog-app>
