

input {
	border: none;
	width: 100%;
	font-size: var(--font-size-m);
	font-style: normal;
	background: #fff;
	color: var(--color-primary);
}

input::placeholder {
    color: var(--color-txt-primary);
    font-style: normal;
    font-size: var(--font-size-m);
}