:host {
	display: flex;
	background: white;
	height: var(--spacing-xl);
	border: 1px solid var(--color-secondary);
	border-radius: var(--border-radius);
	&.focus {
		border: 1px solid var(--color-primary);
		box-shadow: 0 0 4px 0 rgba(69, 173, 255, 0.5);
	}

	.search-icon-ctnr {
		width: 32px;
		background: var(--color-secondary-light);
		border-top-left-radius: var(--border-radius);
		border-bottom-left-radius: var(--border-radius);
		flex-shrink: 0;
	}

	.remove-icon-ctnr {
		width: 32px;
		border-top-right-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
		color: var(--color-txt-secondary);
		flex-shrink: 0;
		&:hover {
			color: var(--color-primary);
		}
	}

	@mixin placeholder {
		::-webkit-input-placeholder {@content}
		:-moz-placeholder           {@content}
		::-moz-placeholder          {@content}
		:-ms-input-placeholder      {@content}  
	}

	@include placeholder {
		color: var(--color-txt-third);
		font-size: var(--font-size-m);
	}

	input {
		height: 100%;
		border: none;
		outline: none;
		background: transparent;
	}
}
