<h2 class="l flexStart">Tasks</h2>

<!-- list -->
<ng-container *ngIf="(listHelper.data$ | async) as tasks; else spinner">
	<ng-container *ngIf="tasks?.length; else placeholder">
		<!-- list -->
		<task-list-item-app
			*ngFor="let task of tasks; first as first; trackBy:trackById"
			[ngStyle]="first ? { 'padding-top' : 0 } : ''"
			[task]="task"
			[selection]="selectionSrv.selection$ | async"
			(nameClick)="viewSrv.openPreview($event)"
			(select)="selectionSrv.selectOne($event, true)"
			(unselect)="selectionSrv.unselectOne($event, true)">
		</task-list-item-app>
		<!-- buttons -->
		<div class="flex buttons-container">
			<button
				class="flexVAlign capitalize"
				(click)="listHelper.openCreationDialog({ productId: productId })"
				translate="button.create-task">
			</button>
		</div>
	</ng-container>
</ng-container>

<ng-template #placeholder>
	<entity-placeholder-app
		typename="Sample"
		[title]="'No tasks on this product'"
		[subtitle]="'Create & Track your tasks'">
		<button class="capitalize" 
			translate="button.create-task"
			(click)="listHelper.openCreationDialog({ productId: productId })">
		</button>
	</entity-placeholder-app>
</ng-template>

<ng-template #spinner>
	<dots-app class="flexCenter"></dots-app>
</ng-template>

<!-- preview -->
<task-preview-app
	*ngIf="viewSrv.previewOpen"
	[task]="viewSrv.previewed"
	(close)="viewSrv.closePreview()">
</task-preview-app>
