<controller-table-app>
	<controller-table-quick-filters-app>
	</controller-table-quick-filters-app>
	<controller-table-quick-actions-app>
	</controller-table-quick-actions-app>
	<controller-table-view-switcher-app
		[hasCard]="false"
		[hasBoard]="false">
	</controller-table-view-switcher-app>
</controller-table-app>

<samples-table-app
	[rows]="listSrv.items$ | async"
	[selection]="listSrv.selection$ | async"
	[pending]="listSrv.pending"
	[isSearching]="listSrv.isSearching"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(sort)="listSrv.sort($event)"
	(select)="listSrv.selectOne($event, true)"
	(unselect)="listSrv.unselectOne($event, true)"
	(selectAll)="listSrv.selectAll($event, true)"
	(unselectAll)="listSrv.unselectAll()"
	(open)="listSrv.goToDetails($event)"
	(favorited)="listSrv.onItemFavorited($event)"
	(unfavorited)="listSrv.onItemUnfavorited($event)"
	(previewClick)="listSrv.openPreview($event)"
	(createClick)="dialogCommonSrv.openCreationSampleDialog(undefined, supplier)"
	(delete)="listSrv.deleteOne($event)">
</samples-table-app>


<sample-preview-app
	*ngIf="listSrv.previewOpen"
	[sample]="listSrv.previewed"
	(close)="listSrv.closePreview()"
	(clickOutside)="listSrv.closePreview()">
</sample-preview-app>


<side-panel-app *ngIf="listSrv.filterPanelOpen">
	<filters-app
		[filterList]="listSrv.filterList"
		[filterTypes]="filterTypes"
		(clickOutside)="listSrv.closeFilterPanel()"
		(close)="listSrv.closeFilterPanel()">
	</filters-app>
</side-panel-app>

<sample-selection-bar-app
	[isShown]="(listSrv.selection$ | async).size > 0"
	[selection]="listSrv.selection$ | async"
	[selectableItems]="listSrv.items$ | async"
	(close)="listSrv.unselectAll()"
	(deleteSelected)="listSrv.deleteSelected()"
	(selectAll)="listSrv.selectAll($event)"
	(unselectAll)="listSrv.unselectAll()">
</sample-selection-bar-app>
