<controller-table-app>
	<controller-table-quick-filters-app>
	</controller-table-quick-filters-app>
	<controller-table-quick-actions-app>
	</controller-table-quick-actions-app>
	<controller-table-view-switcher-app
		[hasCard]="false"
		[hasBoard]="false">
	</controller-table-view-switcher-app>
</controller-table-app>

<samples-table-app
	[rows]="listSrv.items$ | async"
	[selection]="selectionSrv.selection$ | async"
	[pending]="listSrv.pending"
	[isFiltering]="filterSrv.isFiltering"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(sort)="listSrv.sort($event)"
	(select)="selectionSrv.selectOne($event, true)"
	(unselect)="selectionSrv.unselectOne($event, true)"
	(selectAll)="selectionSrv.selectAll($event, true)"
	(unselectAll)="selectionSrv.unselectAll()"
	(open)="viewSrv.goToDetails($event)"
	(previewClick)="viewSrv.openPreview($event)"
	(createClick)="dialogCommonSrv.openCreationSampleDialog(undefined, supplier)"
	(delete)="listSrv.deleteOne($event)">
</samples-table-app>


<sample-preview-app
	*ngIf="viewSrv.previewOpen"
	[sample]="viewSrv.previewed"
	(close)="viewSrv.closePreview()"
	(clickOutside)="viewSrv.closePreview()">
</sample-preview-app>


<side-panel-app *ngIf="viewSrv.filterPanelOpen">
	<filters-app
		[filterList]="filterSrv.filterList"
		[filterTypes]="filterTypes"
		(clickOutside)="viewSrv.closeFilterPanel()"
		(close)="viewSrv.closeFilterPanel()">
	</filters-app>
</side-panel-app>

<sample-selection-bar-app
	[isShown]="(selectionSrv.selection$ | async).size > 0"
	[selection]="selectionSrv.selection$ | async"
	[selectableItems]="listSrv.items$ | async"
	(close)="selectionSrv.unselectAll()"
	(deleteSelected)="listSrv.deleteSelected()"
	(selectAll)="selectionSrv.selectAll($event)"
	(unselectAll)="selectionSrv.unselectAll()">
</sample-selection-bar-app>
