
<!-- archived -->
<button
	*ngIf="quickFilters.includes('archived')"
	class="light mg-left-ms"
	toolTip
	[toolTipMessage]="'tooltip.also-show-archived' | translate"
	(click)="toggleArchived()">
	<checkbox-app 
		class="mg-right-xs" 
		[value]="isArchivedChecked">
	</checkbox-app>
	{{ 'text.show-archived' | translate }}
</button>

<!-- assignee -->
<button
	*ngIf="quickFilters.includes('assignee')"
	class="light mg-left-ms"
	toolTip
	[toolTipMessage]="'tooltip.show-only-assigned-to-me' | translate"
	(click)="toggleAssignedToMe()">
	<checkbox-app 
		class="mg-right-xs" 
		[value]="isAssignedToMeChecked">
	</checkbox-app>
	{{ 'text.assigned-to-me' | translate }}
</button>

<!-- completed -->
<button
	*ngIf="quickFilters.includes('completed')"
	class="light mg-left-ms"
	toolTip
	[toolTipMessage]="'tooltip.also-show-completed' | translate"
	(click)="toggleCompleted()">
	<checkbox-app 
		class="mg-right-xs" 
		[value]="isCompletedChecked">
	</checkbox-app>
	{{ 'text.show-completed' | translate }}
</button>

<!-- createdBy -->
<button
	*ngIf="quickFilters.includes('createdBy')"
	class="light mg-left-ms"
	toolTip
	[toolTipMessage]="'tooltip.only-created-by-me' | translate"
	(click)="toggleCreatedByMe()">
	<checkbox-app 
		class="mg-right-xs" 
		[value]="isCreatedByMeChecked">
	</checkbox-app>
	{{ 'text.show-created-by-me' | translate }}
</button>