header-details-actions-app > *:not(:last-child) {
	margin-right: var(--spacing-ms);
}

.info-container {
	font-size: var(--font-size-m);
	margin-left: var(--spacing-xs);

	.reference {
		display: flex;
	}
}

.square {
	width: 18px;
}
