<sub-panel-app
  [hasSwitch]="false"
  [hasFilter]="false"
  [buttonIcon]="false"
  (search)="listSrv.search($event)">

  <products-review-sorting-menu-app
    [currentSort]="listSrv.currentSort"
    (sortFromMenu)="sortFromMenu($event)">
  </products-review-sorting-menu-app>
</sub-panel-app>

<products-review-grid-view-app
  class="card-view"
  [rows]="listSrv.items$ | async"
  [pending]="listSrv.pending"
  [currentSort]="listSrv.currentSort"
  [selection]="listSrv.selection$ | async"
  (previewClick)="listSrv.openPreview($event)"
  (update)="listSrv.update($event)"
  (select)="listSrv.selectOne($event, true)"
  (unselect)="listSrv.unselectOne($event, true)"
  (favorited)="listSrv.onItemFavorited($event)"
  (unfavorited)="listSrv.onItemUnfavorited($event)"
  (sendToWorkflow)="onSentToWorkflow($event)"
  (delete)="listSrv.deleteOne($event)"
  (archive)="onArchive($event)"
  (statusUpdated)="onStatusUpdated($event)"
  (open)="listSrv.goToDetails($event)">
</products-review-grid-view-app>

<selection-bar-app
  [isShown]="(listSrv.selection$ | async).size > 0"
  [selection]="listSrv.selection$ | async"
  (close)="listSrv.unselectAll()">

  <action-bar-app
    [favorite]="listSrv.allSelectedFavorite"
		[multiple]="true"
		(onFavorite)="listSrv.onFavoriteAllSelected()"
		(onUnfavorite)="listSrv.onUnfavoriteAllSelected()"
		(liked)="listSrv.onMultipleThumbUp($event)"
		(disliked)="listSrv.onMultipleThumbDown($event)">

    <button class="icon light" (click)="openAddToProjectDialog()">
      <icon-app name="folder-light" fontSet="svg"></icon-app>
    </button>
    <context-menu-app>
      <context-menu-trigger-app>
        <button class="icon light">
          <icon-app name="dots-vertical"></icon-app>
        </button>
      </context-menu-trigger-app>
      <context-menu-item-app (click)="openExportDialog()">
        Export
      </context-menu-item-app>
      <context-menu-item-app (click)="commonModalSrv.openRequestFeedbackDialog()">
        Request For Team Feedback
      </context-menu-item-app>
    </context-menu-app>

    <button class="icon light" (click)="listSrv.deleteSelected()">
      <icon-app name="trash-bin"></icon-app>
    </button>
  </action-bar-app>
</selection-bar-app>

<product-preview-app
  *ngIf="listSrv.previewOpen"
  [product]="listSrv.previewed"
  (close)="listSrv.closePreview()">
</product-preview-app>

