:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

icon-app {
	color: var(--color-txt-secondary);
	font-size: var(--font-size-xl);
}

icon-app[name="trash-bin"] {
	font-size: var(--font-size-xxl);
}
selection-bar-app {
	right: 0;
}

action-bar-app {
	overflow: visible;
	button.icon {
		margin-right: var(--spacing-ms);
	}
}