<sub-panel-app
  [hasSwitch]="false"
  [hasFilter]="false"
  [buttonIcon]="false"
  (search)="search($event)">

  <products-review-sorting-menu-app
    [currentSort]="currentSort"
    (sortFromMenu)="sortFromMenu($event)">
  </products-review-sorting-menu-app>
</sub-panel-app>

<products-review-card-view-app
  class="card-view"
  [rows]="items$ | async"
  [pending]="pending"
  [currentSort]="currentSort"
  [selection]="selected$ | async"
  (previewClick)="openPreview($event)"
  (update)="update($event)"
  (select)="onItemSelected($event, true)"
  (unselect)="onItemUnselected($event, true)"
  (favorited)="onItemFavorited($event)"
  (unfavorited)="onItemUnfavorited($event)"
  (sentToWorkflow)="onSentToWorkflow($event)"
  (delete)="deleteOne($event)"
  (archive)="onArchive($event)"
  (statusUpdated)="onStatusUpdated($event)"
  (open)="goToDetails($event)">
</products-review-card-view-app>

<selection-bar-app
  *ngIf="(selected$ | async).size > 0"
  [selection]="selected$ | async"
  [hasDelete]="false"
  (close)="resetSelection()"
  (delete)="deleteSelected()">

  <action-bar-app
    [favorite]="allSelectedFavorite"
    [votes]="null"
		[multiple]="true"
		(onFavorite)="onFavoriteAllSelected()"
		(onUnfavorite)="onUnfavoriteAllSelected()"
		(liked)="onMultipleThumbUp()"
		(disliked)="onMultipleThumbDown()">

    <button class="icon light" (click)="openAddToProjectDialog()">
      <icon-app name="folder" size="m" ></icon-app>
    </button>
    <context-menu-app xPosition="-171" yPosition="-101">
      <context-menu-trigger-app>
        <button class="icon light">
          <icon-app name="dots-vertical" size="m"></icon-app>
        </button>
      </context-menu-trigger-app>
      <context-menu-item-app (click)="openExportDialog()">
        Export
      </context-menu-item-app>
      <context-menu-item-app (click)="openRequestFeedbackDialog()">
        Request For Team Feedback
      </context-menu-item-app>
    </context-menu-app>

    <button class="icon light" (click)="deleteSelected()">
      <icon-app name="trash-bin" size="m"></icon-app>
    </button>
  </action-bar-app>
</selection-bar-app>

<product-preview-app
  *ngIf="previewOpen"
  [product]="previewed"
  (close)="closePreview()"
  (clickOutside)="closePreview()">

</product-preview-app>

