<table-app
	[class.no-min-height]="!hasMinHeight"
	[rows]="rows"
	[type]="'PROJECT' | erm: 'singular'"
	[pending]="pending"
	[footerTemplate]="footerTemplate"
	[selected]="selection"
	[width]="width"
	[hasPagination]="hasPagination"
	[hasShowItemsPerPage]="hasShowItemsPerPage"
	[hasMenu]="hasMenu"
	[hasBorder]="hasBorder"
	[contextualMenu]="contextualMenuTemplate"
	[currentSort]="currentSort"
	[count]="count"
	[currentPage]="currentPage"
	[placeholder]="'placeholder.no-project' | translate"
	(goToPage)="goToPage.emit($event)"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit($event)"
	(bottomReached)="bottomReached.emit()"
	(sort)="sort.emit($event)"
	(showItemsPerPage)="showItemsPerPage.emit($event)"
	(createClick)="createClick.emit()">

	<!-- contextual menu -->
	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-warn-app
			(click)="delete.emit(row)">
			<div class="icon-box square flexCenter mg-right-s">
				<icon-app name="delete" size="s"></icon-app>
			</div>
			<span translate="button.delete"></span>
		</context-menu-item-warn-app>
	</ng-template>

  <!-- dynamic columns -->
  <ng-template
    *ngFor="let column of columnsConfig; trackBy: trackByFn"
    let-row="row"
		[columnApp]="column.translationKey ? ('title.' + column.translationKey | translate) : ''"
		[sortable]="column.sortable !== false"
		[width]="column.width"
		[sortBy]="column.sortProperty"
		[grows]="!column.fixedWidth"
		[showOnHover]="column.showOnHover">

    <ng-container [ngSwitch]="column.name">

			<default-columns-app
				*ngSwitchDefault
				[row]="row"
				[column]="column"
				[hovered]="row.id === hovered"
				logoColor="primary"
				[type]="'PROJECT' | erm"
				(update)="update.emit($event)"
				(previewClick)="previewClick.emit($event)"
				(nameClick)="open.emit($event)"
				(previewClick)="previewClick.emit($event)"
				(logoClick)="open.emit($event)">
			</default-columns-app>

			<!-- remove this switch case when property is added (its already on default columns) -->
			<ng-container *ngSwitchCase="'reference'">
				<div class="bold-s color-warn"> Property on backend </div>
			</ng-container>

			<ng-container *ngSwitchCase="'dueDate'">
				<div class="bold-s color-warn"> Property on backend </div>
			</ng-container>

			<ng-container *ngSwitchCase="'status'">
				<div class="bold-s color-warn"> Property on backend </div>
			</ng-container>
	
		</ng-container>


	</ng-template>
</table-app>

