.left{
	flex-grow: 1;
	filter-search-bar-app {
		flex-grow: 1;
	}
}

.topBar > *{
	margin: var(--spacing-small);
}

button{
	margin-top: 0;
	padding-top: 7px;	
	padding-bottom: 7px;		
}

.ctnr{
	height: 100%;
}

filter-panel-app{
	max-width: 0px;
	overflow: hidden;
	transition: 0.4s min-width;
}

filter-panel-app.open{
	max-width: 280px; 
}