.close {
	font-size: 9px;
	color: var(--color-txt-secondary);
}

h3 {
	text-align: left;
	color: var(--color-primary);
	font-family: var(--font-title);
	font-size: var(--font-size-m);
	padding-top: 10px;
	margin-bottom: 10px;
	font-weight: 600;
	text-transform: uppercase;
}

carousel-app {
	height: 300px;
	width: 328px;
}

.actions {
	text-align: center;
	margin-top: var(--spacing-ms);
	padding: var(--spacing-ms);
	color: var(--color-txt-primary);
	background: var(--color-secondary-light);
	border: 1px solid var(--color-secondary);
	button {
		font-weight: 600;
		margin-right: var(--spacing-xs);
		margin-left: var(--spacing-xs);
		margin-top: var(--spacing-s);
		width: 100%;
	}
}

divider-app {
	margin: var(--spacing-ms) 0;
}

rating-heart-app, thumb-buttons-app {
	width: 32px;
	height: 32px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 2px;
	&:hover {
		background: var(--color-secondary);
	}
}

rating-heart-app {
	margin-right: var(--spacing-ms);
}

thumb-buttons-app {
	margin-right: 18px;
}

status-selector-app.card-flow {
	position: absolute;
	top: 61px;
	left: 21px;
	min-width: 117px;
	text-transform: uppercase;
	overflow: unset;
}

action-bar-app {
	margin-top: var(--spacing-ms);
}


.card-hover-block {
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.button-action {
  width: 296px;
  font-size: var(--font-size-m);
  font-weight: 600;

  cursor: pointer;
  height: 32px;
  padding: 0px var(--spacing-ms);
  border-radius: 2px;
  font-size: var(--font-size-m);
  border: none;
  outline: none;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  white-space: nowrap;
  text-align: center;
  transition: background 0.3s;
  padding-right: 5px;

  .button-icon {
    border-left: solid 0.5px rgba(255, 255, 255, 0.3);
    /* padding-left: 10px;
    display: flex;
    align-items: center; */
    height: 100%;
  }

  &.button-archive {
    color: #5d6d8b;
    background-color: var(--color-secondary);
    margin-top: 10px;

		&:hover {
			background-color: var(--color-secondary-dark);
			color: white;

			icon-app {
				color: white;
			}
		}
    .button-icon {
      padding-left: 5px;
      display: flex;
      align-items: center;
    }

    icon-app {
      color: var(--color-secondary-dark);
    }
  }

  &.button-workflow {
    color: #fff;
    background-color: #45adff;
    margin-bottom: 10px;
		padding-right: 5px;
		margin-top: var(--spacing-ms);

		&:hover {
			background: var(--color-primary-dark);
		}
    icon-app {
      color: #fff;
    }
  }

  &.button-archive {
    color: #5d6d8b;
    background-color: var(--color-secondary);
		padding-right: 5px;

    .button-label {
      width: 100%;
      text-align: left;
    }
		&:hover {
			background: var(--color-secondary-dark);
		}
    icon-app {
      color: #5d6d8b;
    }
  }
}

.send-workflow {
	height: 100%;
	width: 100%;
	align-items: center;
	display: flex;
}

.archieve-trigger {
	width: 16px;
	height: 28px;
}