<!-- Panel preview -->
<preview-panel-app *ngIf="isPreview && (product$ | async)" cdk-scrollable>
	<!-- Banner -->
	<preview-banner-app
		[canOpen]="true"
		(closed)="close.emit()"
		(opened)="openProduct()">
		<preview-carousel-app
			[entity]="product"
			[entityMD]="erm.PRODUCT"
			[images]="product?.images"
			objectFit="cover">
		</preview-carousel-app>
	</preview-banner-app>

	<!-- Header -->
	<preview-header-app
		[entityMD]="erm.PRODUCT"
		[entity]="product"
		(update)="update($event, 'name')"
		(statusUpdated)="statusUpdated.emit($event)">

		<!-- Price -->
		<price-with-quantity-app
			*ngIf="product?.price?.value"
			[product]="product"
			(updateField)="update($event.newValue,  $event.field)">
		</price-with-quantity-app>

		<!-- Badge supplier -->
		<preview-badge-app
			[hasOpenAction]="true"
			[badge]="erm.SUPPLIER"
			[value]="product?.supplier?.name"
			(openActionClicked)="openSupplier()"
			(update)="update($event, 'supplier')">
		</preview-badge-app>

		<!-- Badge category -->
		<preview-badge-app
			[badge]="erm.CATEGORY"
			[value]="product?.category"
			(update)="update($event, 'category')">
		</preview-badge-app>

		<!-- Badge event -->
		<preview-badge-app
			*ngIf="product?.event"
			[badge]="erm.EVENT"
			[value]="product?.event"
			(update)="update($event, 'event')">
		</preview-badge-app>

		<preview-section-app class="mg-none">

			<divider-app></divider-app>

			<button-action-list-app
				class="button-action-list"
				[actions]="actions"
				(clickOnAction)="clickOnAction($event)">
			</button-action-list-app>

			<divider-app></divider-app>

		</preview-section-app>

	</preview-header-app>

	<!-- Tabs -->
	<preview-tab-app #tab1 (click)="previewSrv.onSelectedTab(1)">Product Info</preview-tab-app>
	<preview-tab-app #tab2 (click)="previewSrv.onSelectedTab(2)">Activity</preview-tab-app>
	<preview-tab-app #tab3 (click)="previewSrv.onSelectedTab(3)">Comments</preview-tab-app>

	<!-- Description -->
	<preview-section-app #contentTab1 [title]="'title.description' | translate">
		<input-description-app
			[description]="product?.description"
			(update)="update($event, 'description')">
		</input-description-app>
	</preview-section-app>

	<!-- Tags -->
	<preview-section-app #contentTab1 [title]="'title.tags' | translate">
		<input-badge-selector-app
			[value]="product?.tags"
			type="tag"
			(change)="update($event, 'tags')">
		</input-badge-selector-app>
	</preview-section-app>

	<!-- Product details -->
	<preview-section-app #contentTab1 [title]="'title.product-details'">
		<dynamic-form-app
			[inlineLabel]="true"
			[fields]="productDescriptor1?.descriptor"
			[value]="product"
			[colAmount]="1"
			(update)="updateProduct($event)">
		</dynamic-form-app>
	</preview-section-app>

	<!-- Extended Fields -->
	<preview-section-app #contentTab1 *ngIf="(fieldDefinitions$ | async)?.length" [title]="'title.extended-fields' | translate">
		<extended-form-app
			[inlineLabel]="true"
			[definitions]="fieldDefinitions$ | async"
			[fields]="product?.extendedFields"
			(update)="update($event, 'extendedFields')">
		</extended-form-app>
	</preview-section-app>

	<!-- Trading information -->
	<preview-section-app #contentTab1 [title]="'title.trading-information' | translate">
		<dynamic-form-app
			[inlineLabel]="true"
			[fields]="productDescriptor2?.descriptor"
			[value]="product"
			[colAmount]="1"
			(update)="updateProduct($event)">
		</dynamic-form-app>
	</preview-section-app>

	<!-- Activity -->
	<!-- Rating -->
	<preview-section-app #contentTab2 [title]="'team rating'">
		<rating-stars-score-view-app
			class="mg-bottom-l mg-left-l"
			[votes]="product?.votes">
		</rating-stars-score-view-app>
		<divider-app></divider-app>
		<h4 class="flexCenter mg-top-ms ms">Your Rating</h4>
		<rating-stars-action-app
			class="flexCenter"
			[votes]="product?.votes"
			(valueVoted)="onStarVote($event)">
		</rating-stars-action-app>
		<button class="primary-light fullWidth mg-top-ms" (click)="commonModalSrv.openVoteDetailsDialog(product?.votes)">
			View ratings
		</button>
	</preview-section-app>

	<!-- Tasks -->
	<preview-section-app #contentTab2 *ngIf="(tasks$ | async)?.length" [title]="'Tasks'">
		<task-table-app
			class="no-padding"
			[rows]="tasks$ | async"
			[pending]="false"
			tableConfigType="small"
			[columns]="['done', 'name', 'dueDate']"
			[hasMenu]="false"
			[hasHeader]="false"
			[hasSelection]="false"
			[hasPagination]="false"
			(update)="updateTask($event)">
		</task-table-app>
	</preview-section-app>

	<!-- Samples -->
	<preview-section-app #contentTab2 *ngIf="(samples$ | async)?.length" [title]="'Samples'">
		<sample-table-app
			class="no-padding"
			[rows]="samples$ | async"
			[columns]="['name', 'status']"
			tableConfig="small"
			[pending]="false"
			[hasMenu]="false"
			[hasHeader]="false"
			[hasSelection]="false"
			[hasPagination]="false"
			(update)="updateSample($event)">
		</sample-table-app>
	</preview-section-app>

	<!-- Comment -->
	<preview-section-app  #contentTab3 *ngIf="product?.comments?.length" [title]="'title.comments' | translate">
		<comment-list-app [comments]="product?.comments"></comment-list-app>
	</preview-section-app>

	<preview-comment-app #contentTab3 (added)="addComment($event)"></preview-comment-app>

	<input #inpFile multiple="true" type="file" accept="image/*" (fileSelect)="add($event)" />
</preview-panel-app>




<!-- Static -->
<preview-static-app	*ngIf="!isPreview">

	<!-- Banner -->
	<preview-banner-app
		[canOpen]="false"
		[canClose]="false">
		<preview-carousel-app
			[entity]="product"
			[entityMD]="erm.PRODUCT"
			[images]="product?.images"
			objectFit="cover">
		</preview-carousel-app>
	</preview-banner-app>

		<!-- Header -->
		<preview-header-app
			[entityMD]="erm.PRODUCT"
			[entity]="product"
			(update)="update($event, 'name')"
			(statusUpdated)="statusUpdated.emit($event)">

		<!-- Price -->
		<price-with-quantity-app
			*ngIf="product?.price?.value"
			[product]="product"
			(updateField)="update($event.newValue,  $event.field)">
		</price-with-quantity-app>

		<!-- Badge supplier -->
		<preview-badge-app
			[hasOpenAction]="true"
			[badge]="erm.SUPPLIER"
			[value]="product?.supplier?.name"
			(openActionClicked)="openSupplier()"
			(update)="update($event, 'supplier')">
		</preview-badge-app>

		<!-- Badge category -->
		<preview-badge-app
			[badge]="erm.CATEGORY"
			[value]="product?.category"
			(update)="update($event, 'category')">
		</preview-badge-app>

		<!-- Badge event -->
		<preview-badge-app
			*ngIf="product?.event"
			[badge]="erm.EVENT"
			[value]="product?.event"
			(update)="update($event, 'event')">
		</preview-badge-app>

	</preview-header-app>

	<!-- buttons -->
	<preview-section-app>

		<divider-app></divider-app>

		<button-action-list-app
			class="button-action-list"
			[actions]="actions"
			(clickOnAction)="clickOnAction($event)">
		</button-action-list-app>

		<divider-app></divider-app>

	</preview-section-app>

		<!-- Description -->
		<preview-section-app #contentTab1 [title]="'title.description' | translate">
			<input-description-app
				[description]="product?.description"
				(update)="update($event, 'description')">
			</input-description-app>
		</preview-section-app>

		<!-- Tags -->
		<preview-section-app #contentTab1 [title]="'title.tags' | translate">
			<input-badge-selector-app
				[value]="product?.tags"
				type="tag"
				(change)="update($event, 'tags')">
			</input-badge-selector-app>
		</preview-section-app>

		<!-- Projecfts -->
		<preview-section-app #contentTab1 [title]="'title.projects' | translate">
			<input-badge-selector-app
				[value]="product?.projects"
				type="project"
				(change)="update($event, 'projects')">
			</input-badge-selector-app>
		</preview-section-app>

		<!-- Rating -->
		<preview-section-app #contentTab2 [title]="'team rating'">
			<rating-stars-score-view-app
				class="mg-bottom-l mg-left-l"
				[votes]="product?.votes">
			</rating-stars-score-view-app>
			<divider-app></divider-app>
			<h4 class="flexCenter mg-top-ms ms">Your Rating</h4>
			<rating-stars-action-app
				class="flexCenter"
				[votes]="product?.votes"
				(valueVoted)="onStarVote($event)">
			</rating-stars-action-app>
			<button class="primary-light fullWidth mg-top-ms" (click)="commonModalSrv.openVoteDetailsDialog(product?.votes)">
				View ratings
			</button>
		</preview-section-app>


</preview-static-app>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>