<preview-app cdk-scrollable *ngIf="product$ | async">
	<!-- Banner -->
	<preview-banner-app
		[canOpen]="true"
		(closed)="close.emit()"
		(opened)="openProduct()">
		<preview-carousel-app
			[entity]="product"
			[entityMD]="erm.SUPPLIER"
			[images]="product?.images"
			objectFit="cover">
		</preview-carousel-app>
	</preview-banner-app>

	<!-- Header -->
	<preview-header-app
		[entityMD]="erm.PRODUCT"
		[entity]="product"
		(update)="update($event, 'name')"
		(statusUpdated)="statusUpdated.emit($event)">

		<!-- Price -->
		<price-with-quantity-app
			*ngIf="product?.price?.value"
			[product]="product"
			(updateField)="update($event.newValue,  $event.field)">
		</price-with-quantity-app>

		<!-- Badge supplier -->
		<preview-badge-app
			[hasOpenAction]="true"
			[badge]="erm.SUPPLIER"
			[value]="product?.supplier?.name"
			(openActionClicked)="openSupplier()"
			(update)="update($event, 'supplier')">
		</preview-badge-app>

		<!-- Badge category -->
		<preview-badge-app
			[badge]="erm.CATEGORY"
			[value]="product?.category"
			(update)="update($event, 'category')">
		</preview-badge-app>

		<!-- Badge event -->
		<preview-badge-app
			*ngIf="product?.event"
			[badge]="erm.EVENT"
			[value]="product?.event"
			(update)="update($event, 'event')">
		</preview-badge-app>

		<preview-section-app class="mg-none">

			<divider-app></divider-app>

			<button-action-list-app
				class="button-action-list"
				[actions]="actions"
				(clickOnAction)="clickOnAction($event)">
			</button-action-list-app>

			<divider-app></divider-app>

		</preview-section-app>

	</preview-header-app>

	<!-- Tabs -->
	<preview-tab-app #tab1 (click)="previewSrv.onSelectedTab(1)">Product Info</preview-tab-app>
	<preview-tab-app #tab2 (click)="previewSrv.onSelectedTab(2)">Activity</preview-tab-app>
	<preview-tab-app #tab3 (click)="previewSrv.onSelectedTab(3)">Comments</preview-tab-app>

	<!-- Description -->
	<preview-section-app #contentTab1 [title]="'description'" i18n-title="@@description">
		<input-description-app
			[description]="product?.description"
			(update)="update($event, 'description')">
		</input-description-app>
	</preview-section-app>

	<!-- Tags -->
	<preview-section-app #contentTab1 [title]="'tags'" i18n-title="@@tags">
		<input-badge-selector-app
			[value]="product?.tags"
			type="tag"
			(change)="update($event, 'tags')">
		</input-badge-selector-app>
	</preview-section-app>

	<!-- Product details -->
	<preview-section-app #contentTab1 [title]="'product details'" i18n-title="@@product-details">
		<dynamic-form-app
			[inlineLabel]="true"
			[fields]="productDescriptor1?.descriptor"
			[value]="product"
			[colAmount]="1"
			(update)="updateProduct($event)">
		</dynamic-form-app>
	</preview-section-app>

	<!-- Extended Fields -->
	<preview-section-app #contentTab1 *ngIf="(fieldDefinitions$ | async)?.length" [title]="'extended fields'" i18n-title="@@extended-fields">
		<extended-form-app
			[inlineLabel]="true"
			[definitions]="fieldDefinitions$ | async"
			[fields]="product?.extendedFields"
			(update)="update($event, 'extendedFields')">
		</extended-form-app>
	</preview-section-app>

	<!-- Trading information -->
	<preview-section-app #contentTab1 [title]="'trading information'" i18n-title="@@trading-information">
		<dynamic-form-app
			[inlineLabel]="true"
			[fields]="productDescriptor2?.descriptor"
			[value]="product"
			[colAmount]="1"
			(update)="updateProduct($event)">
		</dynamic-form-app>
	</preview-section-app>

	<!-- Activity -->
	<!-- Rating -->
	<preview-section-app #contentTab2 [title]="'team rating'">
		<rating-stars-score-view-app
			class="mg-bottom-l mg-left-l"
			[votes]="product?.votes">
		</rating-stars-score-view-app>
		<divider-app></divider-app>
		<h3 class="flexCenter mg-top-ms ms">Your Rating</h3>
		<rating-stars-action-app
			class="flexCenter"
			[votes]="product?.votes"
			(valueVoted)="onStarVote($event)">
		</rating-stars-action-app>
	</preview-section-app>

	<!-- Tasks -->
	<preview-section-app #contentTab2 *ngIf="tasks$ | async as tasks" [title]="'Tasks'">
		<task-list-view-app
			class="no-padding"
			[rows]="tasks"
			[pending]="false"
			[tableConfig]="taskTableConfig"
			[columns]="['done', 'name', 'dueDate']"
			[hasMenu]="false"
			[hasHeader]="false"
			[hasSelection]="false"
			[hasPagination]="false"
			(update)="updateTask($event)">
		</task-list-view-app>
	</preview-section-app>

	<!-- Samples -->
	<preview-section-app #contentTab2 *ngIf="samples$ | async as samples" [title]="'Samples'">
		<sample-list-view-app
			class="no-padding"
			[rows]="samples"
			[columns]="['name', 'status']"
			[tableConfig]="sampleTableConfig"
			[pending]="false"
			[hasMenu]="false"
			[hasHeader]="false"
			[hasSelection]="false"
			[hasPagination]="false"
			(update)="updateSample($event)">
		</sample-list-view-app>
	</preview-section-app>

	<!-- Comment -->
	<preview-section-app #contentTab3 *ngIf="product?.comments?.length" [title]="'comments'" i18n-title="@@comments">
		<comment-list-app [comments]="product?.comments"></comment-list-app>
	</preview-section-app>

	<preview-comment-app #contentTab3 (added)="addComment($event)"></preview-comment-app>

	<input #inpFile multiple="true" type="file" accept="image/*" (fileSelect)="add($event)" />
</preview-app>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>