<card-app padding="ms">

	<div class="pd-ms">

		<supplier-images-app [supplier]="supplier"></supplier-images-app>
		<div class="general-info block">
			<div class="icon"></div>
			<div class="supplier-name">Fuzhou Camera Factory</div>
			<div>

				<!-- Badge Location -->
				<preview-badge-app [badge]="erm.LOCATION" [value]="supplier?.country" (update)="update.emit($event)">
				</preview-badge-app>
			</div>
		</div>
		<div class="description-container block">
			<div class="title">Description</div>
			<input-description-app
			[description]="supplier?.description"
			(update)="update.emit($event)">
		</input-description-app>
		</div>
		<div class="tag-container block">
			<div class="title">Tags</div>
		</div>
		<div class="block">
			<div class="title">Supplier Details</div>
			<div class="inline-form">
				<dynamic-form-app [inlineLabel]="false" [fields]="customFields" [value]="supplier" [textMode]="textMode" (update)="update.emit($event)">
				</dynamic-form-app>
			</div>
		</div>
	</div>

	<card-footer-app>
		<button (click)="toggle()">{{ textMode ? 'Edit': 'Save' }}</button>
	</card-footer-app>

</card-app>