<div class="flexColumn flexCenter">
	<h2>{{ supplier.name }}</h2>
	<span>subtitle</span>
</div>


<div class="hr"></div>

<h4>ABOUT THIS SUPPLIER</h4>
<!-- name -->
<cell-two-row-app title="name">
	<editable-field-app
		[entity]="supplier"
		[value]="supplier.name"
		type="text"
		(update)="onUpdate($event, 'name')"></editable-field-app>
</cell-two-row-app>

<!-- type -->
<cell-two-row-app title="Type">
	<editable-field-app
		[entity]="supplier"
		[value]="supplier.supplierType"
		type="text"
		(update)="onUpdate($event, 'supplierType')"></editable-field-app>
</cell-two-row-app>

<!-- MOQ -->
<cell-two-row-app title="General MOQ">
	<editable-field-app
		[entity]="supplier"
		[value]="supplier.minimumOrderQuantity"
		type="number"
		(update)="onUpdate($event, 'minimumOrderQuantity')"></editable-field-app>
</cell-two-row-app>

<!-- lead time -->
<cell-two-row-app title="General Lead time">
	<editable-field-app
		[entity]="supplier"
		[value]="supplier.leadTime"
		type="number"
		(update)="onUpdate($event, 'leadTime')"></editable-field-app>
</cell-two-row-app>

<!-- country -->
<cell-two-row-app title="country">
	<editable-field-app
		[entity]="supplier"
		[value]="supplier.countryCode"
		type="country"
		(update)="onUpdate($event, 'countryCode')"></editable-field-app>
</cell-two-row-app>

<!-- address -->
<cell-two-row-app title="address">
	<editable-field-app
		[entity]="supplier"
		[value]="supplier.address"
		type="text"
		(update)="onUpdate($event, 'address')"></editable-field-app>
</cell-two-row-app>

<!-- website -->
<cell-two-row-app title="Web">
	<editable-field-app
		[entity]="supplier"
		[value]="supplier.website"
		type="url"
		(update)="onUpdate($event, 'website')"></editable-field-app>
</cell-two-row-app>

<!-- email -->
<cell-two-row-app title="Office Email">
	<editable-field-app
		[entity]="supplier"
		[value]="supplier.email"
		type="email"
		(update)="onUpdate($event, 'email')"></editable-field-app>
</cell-two-row-app>

<!-- phone -->
<cell-two-row-app title="Office phone">
	<editable-field-app
		[entity]="supplier"
		[value]="supplier.phoneNumber"
		type="tel"
		(update)="onUpdate($event, 'phoneNumber')"></editable-field-app>
</cell-two-row-app>

<!-- inco terms -->
<cell-two-row-app title="Inco Terms">
	<editable-field-app
		[entity]="supplier"
		[value]="supplier.incoTerm"
		type="incoTerms"
		(update)="onUpdate($event, 'incoTerm')"></editable-field-app>
</cell-two-row-app>

<!-- harbour -->
<cell-two-row-app title="Harbour">
	<editable-field-app
		[entity]="supplier"
		[value]="supplier.harbour"
		type="harbours"
		(update)="onUpdate($event, 'harbours')"></editable-field-app>
</cell-two-row-app>

<!-- event / Met at -->
<cell-two-row-app title="Event">
	<editable-field-app
		[entity]="supplier"
		[value]="supplier.eventId"
		type="event"
		(update)="onUpdate($event, 'eventId')"></editable-field-app>
</cell-two-row-app>

<!-- category -->
<cell-two-row-app title="Category">
	<editable-field-app
		[entity]="supplier"
		[value]="supplier.categoryIds"
		type="category"></editable-field-app>
</cell-two-row-app>

<!-- tags -->
<cell-two-row-app title="tags">
	<editable-field-app
		[entity]="supplier"
		[value]="supplier.tagIds"
		type="tags"></editable-field-app>
</cell-two-row-app>

<!-- user / created by -->
<cell-two-row-app title="Created by">
	<editable-field-app
		[entity]="supplier"
		[value]="supplier.createdByUserId"
		type="teamMembers"
		[editable]="false"
		(update)="onUpdate($event, 'createdByUserId')"></editable-field-app>
</cell-two-row-app>

