<card-app>

	<h2>Supplier Information</h2>

	<dynamic-form-app
		[inlineLabel]="false"
		[descriptor]="descriptor"
		[editable]="true"
		(formCreated)="onFormCreated($event)">
	</dynamic-form-app>


	<!-- user / created by -->
	<!-- <cell-two-row-app title="Created By">

		<editable-field-app
			class="user"
			[entity]="supplier"
			[value]="supplier.createdByUserId"
			type="teamMember"
			[editable]="false"
			(update)="onUpdate($event, 'createdByUserId')"></editable-field-app>
	</cell-two-row-app> -->

</card-app>
