.user {
	padding-top: var(--spacing-xs);
}

.title {
	font-size: var(--font-size-l);
  font-weight: 600;
  color: var(--color-txt-strong);
}


.supplier-name {  
	font-size: var(--font-size-xxl);
  font-weight: 600;
  color: var(--color-txt-strong);
	padding-bottom: var(--spacing-m);
}

.general-info {
	border-bottom: 1px solid var(--color-divider);
	padding-bottom: var(--spacing-ms);
}

.block {
	padding: var(--spacing-ms) 0;
}

.title {
	margin-bottom: var(--spacing-ms);
}