<ng-container *ngIf="supplier$ | async as supplier">

	<div class="top flexBetween">
		<bread-crumb-app [title]="'Supplier'" [subtitles]="['My suppliers', supplier.name]"></bread-crumb-app>
	</div>

	<div class="flex">
		<div class="left ctnr">
			<supplier-main-app
				(update)="patch($event)"
				[supplier]="supplier"
				[productsCount]="productsCount$ | async"
				[numTasks]="(tasks$ | async).length"></supplier-main-app>
		</div>
		<div class="right">
			<card-app>
				<supplier-infos-app [supplier]="supplier" (update)="patch($event)"></supplier-infos-app>
			</card-app>
			<card-app>
				<files-card-app></files-card-app>
			</card-app>
		</div>
	</div>
</ng-container>

