.author {
	font-size: 15px;
	font-weight: 600;
	color: var(--color-txt-strong);
	letter-spacing: -0.4px;
}

.actionTaken {
	font-size: 15px;
	color: var(--color-primary);
	font-weight: 600;
	letter-spacing: -0.4px;
}

.time {
	line-height: 1;
}

user-picture-app {
	margin-right: var(--spacing-ms);
}

