.author {
	font-size: 15px;
}

.actionTaken {
	font-size: 15px;
	color: var(--color-primary);
	font-weight: 600;
}

.time {
	line-height: 1;
}

user-picture-app {
	margin-right: var(--spacing-ms);
}

