<h2 class="l flexStart">Tasks</h2>

<!-- list -->
<ng-container *ngIf="(listSrv.items$ | async) as tasks; else spinner">
	<ng-container *ngIf="tasks?.length; else placeholder">
		<!-- list -->
		<task-list-item-app
			*ngFor="let task of tasks; first as first; trackBy:trackById"
			[ngStyle]="first ? { 'padding-top' : 0 } : ''"
			[task]="task"
			[selection]="listSrv.selection$ | async"
			(nameClick)="listSrv.openPreview($event)"
			(iconClick)="toggleUpdateDone($event)"
			(select)="listSrv.selectOne($event, true)"
			(unselect)="listSrv.unselectOne($event, true)">
		</task-list-item-app>
		<!-- buttons -->
		<div class="flex buttons-container">
			<button
				class="flexVAlign capitalize"
				(click)="openCreationTaskDlg(product)"
				translate="button.create-task">
			</button>
		</div>
	</ng-container>
</ng-container>

<ng-template #placeholder>
	<entity-placeholder-app
		[type]="'TASK' | erm: 'singular'"
		[title]="'No task on this product'"
		[subtitle]="'Create & Track your tasks'">
		<button class="capitalize" (click)="openCreationTaskDlg(product)" translate="button.create-task"></button>
	</entity-placeholder-app>
</ng-template>

<ng-template #spinner>
	<dots-app class="flexCenter"></dots-app>
</ng-template>

<!-- preview -->
<task-preview-app
	*ngIf="listSrv.previewOpen"
	[task]="listSrv.previewed"
	(close)="listSrv.closePreview()">
</task-preview-app>
