<h2 class="l flexStart">Tasks</h2>
<!-- table -->
<span class="color-primary">TODO: waiting for dashboard to see what to do with this</span>
<task-table-app
	[rows]="listSrv.items$ | async"
	[columns]="['logo', 'name', 'assignee', 'status', 'dueDate', 'creationDate']"
	[selection]="listSrv.selection$ | async"
	[pending]="listSrv.pending"
	[hasMinHeight]="false"
	[hasHeader]="false"
	[hasMenu]="false"
	[hasPagination]="false"
	[hasSelection]="false"
	[hasBorder]="false"
	[rowHeight]="34"
	(sort)="listSrv.sort($event)"
	(select)="listSrv.selectOne($event, true)"
	(unselect)="listSrv.unselectOne($event, true)"
	(selectAll)="listSrv.selectAll($event, true)"
	(unselectAll)="listSrv.unselectAll()"
	(open)="listSrv.goToDetails($event)"
	(favorited)="listSrv.onItemFavorited($event)"
	(unfavorited)="listSrv.onItemUnfavorited($event)"
	(previewClick)="listSrv.openPreview($event)"
	(createClick)="openCreationTaskDlg(product)"
	(update)="listSrv.update($event)"
	(delete)="listSrv.deleteOne($event, true)"> 
</task-table-app>

<!-- buttons -->
<div *ngIf="(listSrv.items$ | async)?.length" class="flex buttons-container">
	<button
		class="flexVAlign"
		(click)="openCreationTaskDlg(product)">
		Create task
	</button>
</div>

<!-- preview -->
<task-preview-app
	*ngIf="listSrv.previewOpen"
	[task]="listSrv.previewed"
	(close)="listSrv.closePreview()">
</task-preview-app>
