<!-- table -->
<task-table-app
	class="no-padding"
	[rows]="listSrv.items$ | async"
	tableConfigType="medium-small"
	[columns]="['name', 'assigneeDueDate']"
	[selection]="listSrv.selection$ | async"
	[pending]="listSrv.pending"
	[hasMinHeight]="false"
	[hasHeader]="false"
	[hasMenu]="false"
	[hasPagination]="false"
	[hasSelection]="false"
	[rowHeight]="34"
	(sort)="listSrv.sort($event)"
	(select)="listSrv.selectOne($event, true)"
	(unselect)="listSrv.unselectOne($event, true)"
	(selectAll)="listSrv.selectAll($event, true)"
	(unselectAll)="listSrv.unselectAll()"
	(open)="listSrv.goToDetails($event)"
	(favorited)="listSrv.onItemFavorited($event)"
	(unfavorited)="listSrv.onItemUnfavorited($event)"
	(previewClick)="listSrv.openPreview($event)"
	(createClick)="openCreationTaskDlg(product)"
	(update)="listSrv.update($event)"
	(delete)="listSrv.deleteOne($event, true)">
</task-table-app>

<!-- preview -->
<task-preview-app
	*ngIf="listSrv.previewOpen"
	[task]="listSrv.previewed"
	(close)="listSrv.closePreview()">
</task-preview-app>

<!-- buttons -->
<div class="flex buttons-container">
	<button
		class="flexVAlign"
		(click)="openCreationTaskDlg(product)">
		<icon-app class="mg-right-xs" name="plus"></icon-app>
		Create task
	</button>
</div>
