
<table-app
	[placeholder]="'placeholder.no-product' | translate"
	[rows]="rows"
	typename="Product"
  [pending]="pending"
	[isSeaching]="isFiltering"
	[createEntityBtnName]="createEntityBtnName"
	[selected]="selection"
	[listView]="listView"
	[hasMenu]="hasMenu"
  [hasHeader]="hasHeader"
	[hasPagination]="hasPagination"
	[hasSelection]="hasSelection"
	[hasShowItemsPerPage]="hasShowItemsPerPage"
	[hasBorder]="hasBorder"
  [contextualMenu]="contextualMenuTemplate"
  (bottomReached)="bottomReached.emit()"
  (selectOne)="select.emit($event)"
  (unselectOne)="unselect.emit($event)"
  (selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(createClick)="createClick.emit()"
	(hovered)="hovered = $event">

  <!-- dynamic columns -->
  <ng-template
    *ngFor="let column of columnsConfig; trackBy: trackByFn"
    let-row="row"
		[columnApp]="column.translationKey ? ('title.' + column.translationKey | translate) : ''"
		[sortable]="column.sortable !== false"
    [width]="column.width"
		[sortBy]="column.sortProperty"
		[grows]="!column.fixedWidth">
    <ng-container [ngSwitch]="column.name">

			<default-columns-app
				*ngSwitchDefault
				[row]="row"
				[column]="column"
				[hovered]="row.id === hovered"
				typename="Product"
				(update)="update.emit($event)"
				(previewClick)="previewClick.emit($event)"
				(nameClick)="open.emit($event)"
				(logoClick)="previewClick.emit($event)">
			</default-columns-app>

      <!-- category -->
      <ng-container *ngSwitchCase="'category'">
				<editable-container-app
					#eca
					class="full-width"
					[hasAction]="false"
					(click)="sel.openMenu()">
					<editable-value-app>
						<selector-app
							#sel
							typename="Category"
							[hasPicker]="canUpdate"
							[canCreate]="true"
							[width]="370"
							(menuClosed)="eca.close()"
							(update)="this.listHelper.updateProperties(row?.id, 'category', $event.value)">
							<div class="pointer" >
								{{ (row | property: 'category') || '-' }}
							</div>
						</selector-app>
					</editable-value-app>
				</editable-container-app>
			</ng-container>

      <!-- price -->
      <ng-container *ngSwitchCase="'price'">
				<editable-container-app
					#editable
					class="full-width"
					[hasAction]="false"
					(opened)="inp.focus()"
					(closed)="listHelper.updateProperties(row?.id, 'price', { value: inp.value.value, currency: inp.value.currency || 'USD', additionalFields: listHelper.getProperty('price', row?.properties)})">
					<editable-value-app #price>
						<price-app [price]="row | property:'price'"></price-app>
					</editable-value-app>
					<input-price-app
						#inp
						[value]="{currency: price?.currency, value: price?.price}"
						(keyup.enter)="editable.close()">
					</input-price-app>
				</editable-container-app>
      </ng-container>

      <!-- moq -->
      <ng-container *ngSwitchCase="'moq'">
        <editable-container-app
					#editable
					class="full-width"
          [hasAction]="false"
          (opened)="inp.focus()"
          (closed)="listHelper.updateProperties(row?.id, 'price', { minimumOrderQuantity: inp.value, additionalFields: listHelper.getProperty('price', row?.properties)})">
          <editable-value-app>
            <moq-app
							*ngIf="row | property:'price':'minimumOrderQuantity'"
							[moq]="row | property:'price':'minimumOrderQuantity'"
							[moqDescription]="row?.moqDescription">
            </moq-app>
						<div *ngIf="!(row | property:'price':'minimumOrderQuantity')">-</div>
          </editable-value-app>
					<input #inp inputApp type="number"
						[value]="row | property:'price':'minimumOrderQuantity'" (keyup.enter)="editable.close()"/>
        </editable-container-app>
      </ng-container>

      <!-- projects -->
      <ng-container *ngSwitchCase="'projects'">
        <div class="flexCenter">
          <span *ngFor="let project of row.projects; trackBy: trackByFn">
            {{ project.name || '-' }}
          </span>
        </div>
			</ng-container>

    </ng-container>
  </ng-template>

</table-app>

<!-- contextual menu -->
<!-- <ng-template #contextualMenuTemplate let-row="row">
	<context-menu-item-app
		(click)="update.emit({ id: row.id, favorite: true })">
		<div class="icon-box square flexCenter mg-right-s">
			<icon-app name="heart" size="s"></icon-app>
		</div>
		<span translate="button.set-as-favorite"></span>
	</context-menu-item-app>
	<context-menu-item-app
		(click)="openAddToProjectDialog.emit(row)">
		<div class="icon-box square flexCenter mg-right-s">
			<icon-app name="project" size="s"></icon-app>
		</div>
		<span translate="button.add-to-project"></span>
	</context-menu-item-app>
	<context-menu-item-app
		(click)="openAddTaskDialog.emit(row)">
		<div class="icon-box square flexCenter mg-right-s">
			<icon-app name="task" size="s"></icon-app>
		</div>
		<span translate="button.add-task"></span>
	</context-menu-item-app>
	<context-menu-item-app
		(click)="openAddSampleDialog.emit(row)">
		<div class="icon-box square flexCenter mg-right-s">
			<icon-app name="sample" size="s"></icon-app>
		</div>
		<span translate="button.add-sample"></span>
	</context-menu-item-app>
	<divider-app></divider-app>
	<context-menu-item-app
		(click)="archive.emit({ id: row.id, archived: true })">
		<div class="icon-box square flexCenter mg-right-s">
			<icon-app name="archive" size="s"></icon-app>
		</div>
		<span translate="button.archive"></span>
	</context-menu-item-app>
	<context-menu-item-warn-app
		(click)="delete.emit(row)">
		<div class="icon-box square flexCenter mg-right-s">
			<icon-app name="delete" size="s"></icon-app>
		</div>
		<span translate="button.delete"></span>
	</context-menu-item-warn-app>
</ng-template> -->

