
<table-app
	[placeholder]="'placeholder.no-product' | translate"
	[rows]="rows"
	[type]="'PRODUCT' | erm: true"
	[hasVerticalScroll]="hasVerticalScroll"
  [currentSort]="currentSort"
  [pending]="pending"
  [count]="count"
  [currentPage]="currentPage"
	[selected]="selection"
	[hasMenu]="hasMenu"
  [hasHeader]="hasHeader"
	[hasPagination]="hasPagination"
	[hasSelection]="hasSelection"
	[hasShowItemsPerPage]="hasShowItemsPerPage"
  [contextualMenu]="contextualMenuTemplate"
  (goToPage)="goToPage.emit($event)"
  (bottomReached)="bottomReached.emit()"
  (sort)="sort.emit($event)"
  (selectOne)="select.emit($event)"
  (unselectOne)="unselect.emit($event)"
  (selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(createClick)="createClick.emit()"
  (showItemsPerPage)="showItemsPerPage.emit($event)">

  <!-- contextual menu -->
  <ng-template #contextualMenuTemplate let-row="row">
    <context-menu-item-app
      (click)="setFavourite.emit(row)"
      translate="button.set-as-favorite">
    </context-menu-item-app>
    <context-menu-item-app
      (click)="openAddToProjectDialog.emit(row)"
      translate="button.add-to-project">
    </context-menu-item-app>
    <context-menu-item-app
      (click)="openAddTaskDialog.emit(row)"
      translate="button.add-task">
    </context-menu-item-app>
    <context-menu-item-app
      (click)="openAddSampleDialog.emit(row)"
      translate="button.add-sample">
    </context-menu-item-app>
    <divider-app></divider-app>
    <context-menu-item-app
      (click)="archive.emit(row)"
      translate="button.archive">
    </context-menu-item-app>
    <context-menu-item-warn-app
      (click)="delete.emit(row)"
      translate="button.delete">
    </context-menu-item-warn-app>
  </ng-template>

  <!-- dynamic columns -->
  <ng-template
    *ngFor="let column of columnsConfig; trackBy: trackByFn"
    let-row="row"
		[columnApp]="'title.' + column.translationKey | translate"
		[sortable]="column.sortable !== false"
    [width]="column.width"
    [sortBy]="column.sortProperty">
    <ng-container [ngSwitch]="column.name">


			<!-- default columns: Those are the usual suspect columns that are almost always there
				put those at the top for easy copy paste -->
			<default-columns-app [row]="row" [column]="column" [type]="'PRODUCT' | erm"></default-columns-app>

			<!-- end of usual suspects -->



      <!-- supplier -->
      <ng-container *ngSwitchCase="'supplier'">
        <selector-app
					[type]="'SUPPLIER' | erm: true"
					[hasPicker]="canUpdate"
          [canCreate]="true"
          [width]="370"
          (update)="update.emit({ id: row.id, supplier: $event })">
          <div class="ellipsis supplier-col txt-btn" [ngClass]="{ 'empty-field': !row?.supplier }">
						{{ row?.supplier?.name || '-' }}
					</div>
        </selector-app>
      </ng-container>

      <!-- category -->
      <ng-container *ngSwitchCase="'category'">
        <selector-app
          [type]="'CATEGORY' | erm: true"
					[hasPicker]="canUpdate"
          [canCreate]="true"
          [width]="370"
          (update)="update.emit({ id: row.id, category: $event })">
					<div class="ellipsis pointer txt-btn category"  [ngClass]="{ 'empty-field': !row?.category }">
						{{ row?.category?.name || '-' }}
					</div>
        </selector-app>
			</ng-container>

      <!-- price -->
      <ng-container *ngSwitchCase="'price'">
				<editable-container-app
					#editable
					[hasAction]="false"
					(opened)="inp.focus()"
					(closed)="update.emit({ id: row.id, price: inp.price })">
					<editable-display-app [ngClass]="{ 'empty-field': row?.price }">
						<price-app
							class="full-width"
							[price]="row?.price">
						</price-app>
					</editable-display-app>
					<input-price-app
						#inp
						(keyup.enter)="editable.close()"
						[price]="row?.price">
					</input-price-app>
				</editable-container-app>
      </ng-container>

      <!-- moq -->
      <ng-container *ngSwitchCase="'moq'">
        <editable-container-app
					#editable
          [hasAction]="false"
          (opened)="inp.focus()"
          (closed)="update.emit({ id: row.id, minimumOrderQuantity: inp.value })">
          <editable-display-app [ngClass]="{ 'empty-field': row?.price }">
            <moq-app
              *ngIf="row?.minimumOrderQuantity"
							[moq]="row?.minimumOrderQuantity"
							[moqDescription]="row?.moqDescription">
            </moq-app>
						<div *ngIf="!row?.minimumOrderQuantity">-</div>
          </editable-display-app>
          <input #inp inputApp type="number" [value]="row?.minimumOrderQuantity" (keyup.enter)="editable.close()"/>
        </editable-container-app>
      </ng-container>

      <!-- projects -->
      <ng-container *ngSwitchCase="'projects'">
        <div class="flexCenter">
          <span *ngFor="let project of row.projects; trackBy: trackByFn">
            {{ project.name || '-' }}
          </span>
        </div>
      </ng-container>

    </ng-container>
  </ng-template>

</table-app>

