:host {
	position: relative;
}
.trigger {
	display: inline-block;
}

.menu {
	z-index: 10;
	position: absolute;
	background: white;
	color: var(--color-txt-primary);
	display: block;
	flex-direction: column;
	border: solid 1px var(--color-divider);
	border-radius: var(--border-radius);
	box-shadow: 1px 2px 4px 0 rgba(163, 175, 198, 0.5);
	width: 200px;
	padding-top: 8px;
	padding-bottom: 14px;
}

.menu-before {
	right: var(--spacing-m);
}
.menu-after {
	left: var(--spacing-m);
}

.menu-above {
	top: -(var(--spacing-m));
}
.menu-below {
	bottom: -(var(--spacing-m));
}
