<!-- not favorited -->
<div class="flex">
	<input
		type="checkbox"
		id="unf"
		[value]="1"
		[checked]="isSelected(1)"
		(change)="onChange($event, 1)">
	<label for="unf">
		<rating-heart-app [static]="true" [favorite]="true"></rating-heart-app>
	</label>
</div>

<!-- favorited -->
<div class="flex">
	<input
		type="checkbox"
		id="fav"
		[value]="5"
		[checked]="isSelected(5)"
		(change)="onChange($event, 5)">
	<label for="fav">
		<rating-heart-app [static]="true" [favorite]="false"></rating-heart-app>
	</label>
</div>

