	<dialog-app>

		<!-- when ready -->
		<dialog-header-app *ngIf="!pending" class="first-uppercase">
			<ng-container translate="button.new"></ng-container> {{ typename | translate }}
		</dialog-header-app>

		<form *ngIf="!pending" [formGroup]="group">
			<form-field-app>
				<label-app> {{ typename | translate }} <span class="capitalize" translate="text.name"></span> </label-app>
				<input inputApp autoFocus type="text" formControlName="name" placeholder="{{ 'name' | translate }}" (keyup.enter)="onSubmit(canRedirect)"/>
			</form-field-app>
		</form>


		<dialog-footer-app *ngIf="!pending">
			<input [disabled]="!group.valid" type="submit" value="Create" (click)="onSubmit(false)"/>
		</dialog-footer-app>

		<!-- when pending -->
		<spinner-app *ngIf="pending"></spinner-app>

</dialog-app>
