<!-- input -->
<form [formGroup]="group">
	<form-field-app class="search-input" [ngClass]="{ 'field-focused': inp.focussed || !!inp.control.value }">
			<input 
				inputApp 
				formControlName="name" 
				[value]="searchTxt" type="text" 
				[placeholder]="'OBJ.enter-OBJ' | translate: { field: 'ERM.' + typename | translate }" 
				(keyup)="onKeydown($event)" 
				(input)="search(inp.control.value)">
	</form-field-app>
</form>

<!-- if multiple, display badges -->
<div *ngIf="multiple" class="flexWrap current-values-container">
	<ng-container *ngIf="value?.length; else empty">

		<ng-container [ngSwitch]="typename">

			<ng-container *ngSwitchCase="erm.EMAIL">
				<info-badge-app *ngFor="let item of value" [type]="typename" [hasDelete]="true" (delete)="delete(item)">
					{{ item }}
				</info-badge-app>
			</ng-container>

			<ng-container *ngSwitchDefault>
				<info-badge-app *ngFor="let item of value; trackBy: trackById" [type]="typename" [hasDelete]="true" (delete)="delete(item)">
					{{ item.name }}
				</info-badge-app>
			</ng-container>

		</ng-container>
	</ng-container>
	<ng-template #empty>
		<span class="empty-message">{{ 'OBJ.no-item-add-one' | translate: { field: 'ERM.' + typename | translate } }}</span>
	</ng-template>
</div>

<div class="top-divider">
	<divider-app></divider-app>
</div>

<!-- dropdown items -->
<div class="container-items" infiniScroll (bottomReached)="selectorSrv.loadMore()">

	<ng-container *ngIf="(choices$ | async) as choices; else spinner">
		
		<ng-container [ngSwitch]="typename">
			<ng-container *ngSwitchDefault>
				<selector-option-name-app 
					#abstract 
					*ngFor="let item of choices; trackBy: trackById" 
					class="selector-row" 
					[item]="item" 
					(click)="onSelect(item)">
				</selector-option-name-app>
			</ng-container>
			<ng-container *ngSwitchCase="'TeamUser'">
				<selector-option-user-app 
					#abstract 
					*ngFor="let item of choices; 
					trackBy: trackById" 
					class="selector-row" 
					[user]="item.user" 
					(click)="onSelect(item)">
				</selector-option-user-app>
			</ng-container>
	 </ng-container>

		<!-- create button -->
		<selector-option-button-app #abstract *ngIf="canCreate && !(nameExists$ | async) && searchTxt" class="selector-row" [type]="typename.singular" [searchTxt]="searchTxt" (click)="create()"></selector-option-button-app>

	</ng-container>

	<ng-template #spinner>
		<div class="spinner-container flexCenter">
			<spinner-app></spinner-app>
		</div>
	</ng-template>

</div>

<div class="bottom-divider">
	<divider-app></divider-app>
</div>

<div class="flexEnd">
	<button tabFocusAction class="secondary capitalize" (click)="close.emit()" translate="button.done"></button>
</div>
