<div [formGroup]="form" class="form" [ngClass]="{ multiple: (cols?.length > 1) }">
	<div *ngFor="let col of cols; let last = last; trackBy: trackByFn" class="col"
		[ngClass]="{ 'last': last }"
		[ngStyle]="{ 'width' : 'calc(100% / ' + config.colAmount + ')' }">

		<ng-container *ngIf="config.mode === 'form'; else editableText">
			<dynamic-input-app
				*ngFor="let field of col; index as index; trackBy: trackByFn"
				[indexInCol]="index"
				[autofocus]="index === indexFocus"
				[customField]="field"
				[formControlName]="field.name"
				[config]="config"
				(update)="update.emit($event)">
			</dynamic-input-app>
		</ng-container>

		<ng-template #editableText>
			<dynamic-editable-container-app
				*ngFor="let field of col; index as index; trackBy: trackByFn"
				[indexInCol]="index"
				[customField]="field"
				[formControlName]="field?.metadata?.nest ? field?.metadata?.nestTarget : field?.name"
				[config]="config"
				(update)="update.emit($event)">
			</dynamic-editable-container-app>
		</ng-template>

	</div>

</div>
