<div [formGroup]="form" class="form" [ngClass]="{ multiple: (cols.length > 0) }">

	<div *ngFor="let col of cols; let last = last; trackBy: trackByFn" class="col"
		[ngClass]="{ 'last': last }"
		[ngStyle]="{ 'width' : 'calc(100% / ' + colAmount + ')' }">
		<ng-container *ngIf="textMode">
			<dynamic-editable-text-app
				*ngFor="let field of col; trackBy: trackByFn"
				[customField]="field"
				[formControlName]="field.name"
				[inlineLabel]="inlineLabel"
				(update)="update.emit($event)">
			</dynamic-editable-text-app>
		</ng-container>

		<ng-template #inputs>
			<dynamic-input-app
				*ngFor="let field of col;trackBy: trackByFn"
				[customField]="field"
				[formControlName]="field.name"></dynamic-input-app>
		</ng-template>


	</div>

</div>
