
<div *ngFor="let category of getGroupedProducts(currentSort); first as first; index as i; trackBy: trackByFn" class="category-section">
	<div class="sectionTitle">{{ getGroupedValue(category, currentSort) || 'Unnamed' }}
		<div class="sectionTag">{{ category.value.length }} products</div>
	</div>
	<div class="products-section">
		<ng-container *ngFor="let product of category.value; trackBy: trackByFn">
			<product-grid-card-app
				[product]="product"
				[selection]="selection"
				[favorite]="product?.favorite"
				(productFavorite)="favorited.emit(product.id)"
				(productUnfavorite)="unfavorited.emit(product.id)"
				(productSelect)="select.emit(product)"
				(productUnselect)="unselect.emit(product)">
			</product-grid-card-app>
		</ng-container>
	</div>
</div>

