:host {
	display: block;
	white-space: nowrap;
	padding-left: var(--spacing-ms);
	&:hover {
		background: var(--color-secondary-light);
	}
	&.selected {
		background: var(--color-secondary-light);
	}
}

.item {
	padding: 4px 12px;
	padding-left: 0;
}
