<div class="flexCenter pointer" (click)="reqPdf()">
		<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
</div>

<div class="flexCenter pointer">
	<i class="fa fa-share-alt" aria-hidden="true"></i>
</div>

<div class="flexCenter pointer">
	<i class="fa fa-line-chart" aria-hidden="true"></i>
</div>

<div class="flexCenter pointer">
	<i class="fa fa-info" aria-hidden="true"></i>
</div>


<div class="flexCenter pointer">
	<i class="fa fa-info" aria-hidden="true"></i>
</div>

<div class="flexCenter pointer">
	<i class="fa fa-archive" aria-hidden="true"></i>
</div>

