<table-app [rows]="tasks">
	<ng-template
		columnApp=""
		let-row="row">
		<input type="checkbox" [checked]="selection.get(row.id)" (change)="onSelect($event, row.id)" />
	</ng-template>
	<ng-template
		columnApp="Status"
		let-row="row">
		<span>{{ row?.status }}</span>
	</ng-template>
	<ng-template
		columnApp="Type"
		let-row="row">
		<span>{{ row?.taskType }}</span>
	</ng-template>
	<ng-template
		columnApp="Product"
		let-row="row">
		<span>{{ row?.productId | entityName: 'product' | async }}</span>
	</ng-template>
	<ng-template
		columnApp="Created by"
		let-row="row">
		<span>{{ row?.createdByUserId | entityName: 'teamMembers' | async }}</span>
	</ng-template>
</table-app>
