<table-app
	[class.no-min-height]="!hasMinHeight"
	[placeholder]="'placeholder.no-request-items' | translate"
	[rows]="rows"
	[type]="'REQUEST_ELEMENT' | erm: true"
	[currentSort]="currentSort"
	[pending]="pending"
	[count]="count"
	[currentPage]="currentPage"
	[selected]="selection"
	[hasMenu]="hasMenu"
	[hasHeader]="hasHeader"
	[hasPagination]="hasPagination"
	[hasSelection]="hasSelection"
	[contextualMenu]="contextualMenuTemplate"
	(goToPage)="goToPage.emit($event)"
	(bottomReached)="bottomReached.emit()"
	(sort)="sort.emit($event)"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(showItemsPerPage)="showItemsPerPage.emit($event)"
	(createClick)="createClick.emit()">

	<!-- contextual menu -->
	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-warn-app
			class="pointer flexCenter"
			(click)="cancelReply.emit(row.reply.id)"
			translate="title.cancel-request-item">
		</context-menu-item-warn-app>
	</ng-template>

	<!-- dynamic columns -->
	<ng-template
    *ngFor="let column of columnsConfig; trackBy: trackByFn"
    let-row="row"
		[columnApp]="'title.' + column.translationKey | translate"
		[sortable]="column.sortable !== false"
    [width]="column.width"
		[sortBy]="column.sortProperty">

    <ng-container [ngSwitch]="column.name">

			<!-- name -->
			<ng-container *ngSwitchCase="'name'">
				<div class="mainCell ellipsis">
					<span class="ellipsis">
						<a class="name txt-btn title" (click)="openReviewRequestReply.emit(row.id)">{{ row?.name }}</a>
					</span>
				</div>
			</ng-container>

			<!-- status -->
			<ng-container *ngSwitchCase="'status'">

				<request-status-badge-app
					[status]="row?.reply?.status"
					[creationDate]="row?.creationDate">
				</request-status-badge-app>

			</ng-container>

			<!-- fields amount -->
			<ng-container *ngSwitchCase="'fields'">
				{{ row.reply.fields.length }}
			</ng-container>

			<!-- sender -->
			<ng-container *ngSwitchCase="'fields'">
				{{ row.reply.sender }}
			</ng-container>

		</ng-container>
	</ng-template>

	<!-- reply fields -->
	<ng-container *ngIf="showReplyFields">
		<ng-template
			let-row="row"
			let-index="index"
			width="150"
			[sortable]="false"
			*ngFor="let field of fields[0]; index as j; trackBy: trackByFn"
			[columnApp]="field?.definition?.label">
			<ng-container [ngSwitch]="field.definition.type">
				<span *ngSwitchDefault>{{ fields[index][j]?.value }}</span>
				<price-app *ngSwitchCase="'price'" [price]="parseJson(fields[index][j]?.value)"></price-app>
				<packaging-app *ngSwitchCase="'packaging'" [packaging]="parseJson(fields[index][j]?.value)"></packaging-app>
			</ng-container>
		</ng-template>
	</ng-container>

</table-app>