<div class="flexBetween">
	<div>
		<h2>{{ product?.name}}</h2>
		<div>
			<div class="flex supplierCtnr">
				<supplier-status-icon-app
					class="supplierIcon" [supplierId]="product?.supplierId" size="xs"></supplier-status-icon-app>

				<span class="supplier"> {{ product?.supplierId | entityName: 'supplier' | async }}</span>
			</div>

		</div>
	</div>

	<div class="action flex">
		<div class="z-2 z-h cercle pointer">
			<icon-app [fa]="true" name="comment"></icon-app>
		</div>
		<div class="z-2 z-h cercle pointer">
			<icon-app [fa]="true" name="share"></icon-app>
		</div>
		<div class="z-2 z-h cercle pointer">
			<icon-app [fa]="true" name="fire"></icon-app>
		</div>
		<div class="z-2 z-h cercle pointer">
			<icon-app [fa]="true" name="check-square"></icon-app>
		</div>
		<div class="z-2 z-h cercle pointer">
			<icon-app [fa]="true" name="ellipsis-h"></icon-app>
		</div>
	</div>

</div>



<div class="status flexCenter">
	<icon-app
		[fa]="true"
		name="check"
		sizePx="l"
		color="success"
		circleSize="24"
		circleBorderSize="1"
		circleBorderColor="success"
		tooltip="blablable.."></icon-app>
	<div class="spacer success"></div>
	<icon-app
		[fa]="true"
		name="check"
		sizePx="l"
		color="success"
		circleSize="24"
		circleBorderSize="1"
		circleBorderColor="success"
		tooltip="blablable.."></icon-app>
	<div class="spacer success"></div>
	<icon-app
		[fa]="true"
		name="check"
		sizePx="l"
		color="success"
		circleSize="24"
		circleBorderSize="1"
		circleBorderColor="success"
		tooltip="blablable.."></icon-app>
	<div class="spacer success"></div>
	<icon-app
		[fa]="true"
		name="check"
		sizePx="l"
		color="success"
		circleSize="24"
		circleBorderSize="1"
		circleBorderColor="success"
		tooltip="blablable.."></icon-app>
	<div class="spacer"></div>
	<icon-app
		[fa]="true"
		name=""
		sizePx="l"
		color="success"
		circleSize="24"
		circleBorderSize="1"
		circleBorderColor="delimiter"
		tooltip="blablable.."></icon-app>
	<div class="spacer"></div>
	<icon-app
		[fa]="true"
		name=""
		sizePx="l"
		color="success"
		circleSize="24"
		circleBorderSize="1"
		circleBorderColor="delimiter"
		tooltip="blablable.."></icon-app>
</div>

