<auth-form-header-app
	[pending]="pending">
	<auth-header-title-app>Welcome to ShowSourcing</auth-header-title-app>
	<auth-header-subtitle-app>
		Your collaborative sourcing platform for
		<br>
		your team and suppliers.
		<br><br>
		We will send you instructions to recover your password.
	</auth-header-subtitle-app>
</auth-form-header-app>

<auth-form-app
	[error]="error"
	[defaultFocused]="filedFocused"
	[pending]="pending"
	[listForm]="listForm"
	[buttons]="buttons"
	(onSubmit)="onSubmit($event)">
</auth-form-app>
