<div class="card-container">
  <div *ngFor="let category of groupedProducts; first as first; index as i; trackBy: trackByFn" class="category-section">
    <div class="category-header flex" *ngIf="category.label as supplier">
      <div class="imgCtnr">
        <img class="mini image ng-star-inserted" src="assets/icons/supplier.svg"
             (dragstart)="preventDrag($event)">
        <checkbox-app [checked]="category.checked"
          (check)="onChecked(category)"
          (uncheck)="onUnchecked(category)"
          (dragstart)="preventDrag($event)">
        </checkbox-app>
      </div>
      <div class="description flexBetween" (click)="clickTitle()">
        <div class="descriptionTopCtnr">
          <div class="titleCtnr"><h2>{{ category.label || 'Unnamed' }}</h2></div>
          <div class="descriptionCtnr">
            <h3>
              {{ supplier?.supplierType?.name || 'Supplier' }}
              <ng-container *ngIf="supplier.country"> - {{ supplier.country | const:'country' }}</ng-container>
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="products-section flex">
      <div *ngFor="let product of category.values; index as i; trackBy: trackByFn"
      class="item">
        <kanban-item-card-app class="marginSmall" [title]="product.name"
          [status]="product.status?.name"
          [checked]="isSelected(product)"
          [favorite]="product.favorite"
          [tags]="product.tags"
          [price]="product.price"
          [minimumOrderQuantity]="product.minimumOrderQuantity"
          [category]="'category'"
          [description]="product.description ? product.description : 'No description'"
          [image]="product.images?.length > 0 ? (product | image:'m') : null"
          [person]="product.createdBy"
          [link]="'/product/details/' + product.id + '/general'"
          [product]="product"
          [highlightOnChecked]="true"
          [selectFromCard]="true"
          [enabledHoverContent]="true"
          (select)="select.emit(product, false)"
          (unselect)="unselect.emit(product, false)">
          <div class="flexColumn" style="justify-content: space-between">
            <!-- button class="button-action">Archive</button -->
            <context-menu-app xPosition="-54" yPosition="36">
              <context-menu-trigger-app>
                <button class="secondary flex sort-1 button-action"><!-- style="width: 250px;" -->
                  Archive
                  <div><icon-app fontSet="fa" name="caret-down"></icon-app></div>
                </button>
              </context-menu-trigger-app>
              <context-menu-item-app (click)="archive.emit(product)" class="menu-item">
                Archive Product
              </context-menu-item-app>
              <context-menu-item-app (click)="delete.emit(product)" class="menu-item">
                Delete Product
              </context-menu-item-app>
            </context-menu-app>
              
            <!-- button class="button-action">Send to workflow</button -->
          </div>
        </kanban-item-card-app>
      </div>
    </div>
  </div>
</div>
