<div class="card-container" infiniScroll>
  <div *ngFor="let category of groupedProducts; first as first; index as i" class="category-section">
    <div class="category-header flex" *ngIf="category.label as element">
      <div class="imgCtnr">
        <img class="mini image ng-star-inserted" src="assets/icons/supplier.svg"
             *ngIf="currentSort.sortBy === 'supplier.name'"
             (dragstart)="preventDrag($event)">
        <div *ngIf="currentSort.sortBy === 'category.name'" class="imgSubCtnr">
          <img class="mini image category ng-star-inserted" src="assets/icons/category-white.svg"
             (dragstart)="preventDrag($event)">
        </div>
        <user-picture-app [user]="category.label" *ngIf="currentSort.sortBy === 'createdBy.lastName'"
             [image]="category.label?.avatar"></user-picture-app>
        <checkbox-app [checked]="category.checked"
          (check)="onChecked(category)"
          (uncheck)="onUnchecked(category)"
          (dragstart)="preventDrag($event)">
        </checkbox-app>
      </div>
      <div class="description flexBetween">
        <div class="descriptionTopCtnr" *ngIf="currentSort.sortBy === 'supplier.name'">
          <div class="titleCtnr"><h2>{{ category.label.name || 'Unnamed' }}</h2></div>
          <div class="descriptionCtnr">
            <h3>
              {{ supplier?.supplierType?.name || 'Supplier' }}
              <ng-container *ngIf="element.country"> - {{ element.country | const:'country' }}</ng-container>
            </h3>
          </div>
        </div>
        <div class="descriptionTopCtnr" *ngIf="currentSort.sortBy === 'category.name'">
            <div class="titleCtnr"><h2>{{ category.label.name || 'Unnamed' }}</h2></div>
            <div class="descriptionCtnr">
              <h3>{{ category.values.length }} products</h3>
            </div>
          </div>
          <div class="descriptionTopCtnr" *ngIf="currentSort.sortBy === 'createdBy.lastName'">
            <div class="titleCtnr"><h2>{{ category.label.firstName }} {{ category.label.lastName }}</h2></div>
            <div class="descriptionCtnr">
              <h3>{{ category.values.length }} products</h3>
          </div>
          </div>
        </div>
    </div>
    <div class="products-section flex">
      <div *ngFor="let product of category.values; index as i; trackBy: trackByFn"
      class="item">
        <kanban-item-card-app class="marginSmall" [title]="product.name"
          [status]="product.status?.name"
          [checked]="isSelected(product)"
          [favorite]="product.favorite"
          [tags]="product.tags"
          [price]="product.price"
          [minimumOrderQuantity]="product.minimumOrderQuantity"
          [category]="'category'"
          [description]="product.description ? product.description : 'No description'"
          [image]="product.images?.length > 0 ? (product | image:'m') : null"
          [person]="product.createdBy"
          [link]="'/product/details/' + product.id + '/general'"
          [product]="product"
          [highlightOnChecked]="true"
          [selectFromCard]="true"
          [enabledHoverContent]="true"
          (clickImage)="previewClick.emit(product)"
          (select)="select.emit(product, false)"
          (unselect)="unselect.emit(product, false)"
          (cardLeave)="closeContextualMenuIfOpened(archiveMenu, workActionMenu)">
          <div class="flexColumn card-hover-block">
            <context-menu-app xPosition="0" yPosition="42" #archiveMenu>
              <context-menu-trigger-app>
                <button class="secondary flexBetween sort-1 button-action button-archive"><!-- style="width: 250px;" -->
                  Archive
                  <div class="button-icon"><icon-app fontSet="fa" name="caret-down"></icon-app></div>
                </button>
              </context-menu-trigger-app>
              <context-menu-item-app (click)="archive.emit(product)" class="menu-item">
                Archive Product
              </context-menu-item-app>
              <context-menu-item-app (click)="delete.emit(product)" class="menu-item">
                Delete Product
              </context-menu-item-app>
            </context-menu-app>

            <div class="secondary flexBetween sort-1 button-action button-workflow">
              <span (click)="sentToWorkflow.emit(product)">Send to workflow</span>
              <div class="button-icon">
                <workflow-action-app
                  #workActionMenu
                  [entity]="product"
                  selectSize="s"
                  [xPosition]="-168"
                  [yPosition]="25"
                  [typeEntity]="prodERM"
                  [isSendToWorkFlow]="true"
                  [internalUpdate]="false"
                  (statusUpdated)="onStatusUpdated(product, $event)">
                </workflow-action-app>
              </div>
            </div>
          </div>
        </kanban-item-card-app>
      </div>
    </div>
  </div>

  <!-- pending -->
  pending : {{pending}}
	<div class="pendingCtnr flexCenter" *ngIf="pending">
		<spinner-app></spinner-app>
	</div>
</div>
