
<card-app>

	<h2>Contacts</h2>

	<div class="flex" *ngIf="contacts.length > 0; else noContact">
		<supplier-contact-app *ngFor="let contact of contacts" [contact]="contact"></supplier-contact-app>
	</div>

	<ng-template #noContact>
		<div class="flexColumn flexCenter empty">
			<img src="assets/img/user.svg" class="pointer" (click)="newContact.emit()"/>
			<span>No contact for this supplier</span>
		</div>
	</ng-template>

	<card-footer-app>
		<button (click)="newContact.emit()">New Contact</button>
	</card-footer-app>

</card-app>


