
<card-app>

	<h2>Contacts</h2>

	<list-app *ngIf="contacts.length > 0; else noContact">
		<list-item-app
			*ngFor="let contact of contacts; let last = last" [border]="!last">
			<supplier-contact-app [contact]="contact"></supplier-contact-app>
		</list-item-app>
	</list-app>

	<ng-template #noContact>
		<div class="flexColumn flexCenter empty">
			<img [src]="defaultImg" class="pointer" (click)="newContact.emit()"/>
			<span>No contact for this supplier</span>
		</div>
	</ng-template>

	<card-footer-app>
		<button (click)="newContact.emit()">New Contact</button>
	</card-footer-app>

</card-app>


