
<card-app>

	<h2 i18n="header 2|Supplier contacts card">Contacts</h2>

	<ul *ngIf="contacts.length > 0; else noContact">
		<supplier-contact-app
			*ngFor="let contact of contacts; let last = last"
			[border]="!last"
			(nameClick)="openContact.emit(contact)"
			[contact]="contact">
		</supplier-contact-app>
	</ul>

	<ng-template #noContact>
		<div class="flexColumn flexCenter empty">
			<img [src]="defaultImg" class="pointer" (click)="newContact.emit()"/>
			<span i18n="span|Supplier contacts card">No contact for this supplier</span>
		</div>
	</ng-template>

	<card-footer-app>
		<button (click)="newContact.emit()" i18n="button|Supplier contacts card">New Contact</button>
	</card-footer-app>

</card-app>


