<div 
	*ngFor="let price of value; let i = index"
	class="flex ctnr">

	<!-- we might have to not use the editable-container and 
		make something more custom here if further change is required
	 -->
	<!-- label -->
	<editable-container-app #edtLabel class="label-ctnr">
		<editable-value-app>{{ value[i].label || 'Label'}}</editable-value-app>
		<input 
			name="label"
			inputApp
			[(ngModel)]="value[i].label"
			(change)="onChangeFn(value)"
			(blur)="onTouchedFn()"
			(keyup.enter)="edtLabel.close()"/>
	</editable-container-app>
	<!-- amount -->
	<editable-container-app 
		#edtValue
		class="price-ctnr" 
		(opened)="priceInp.focus()">
		<editable-value-app class="amount-display">
			{{ value[i].value | price }}
		</editable-value-app>
		<input-price2-app 
			#priceInp
			name="price"
			[(ngModel)]="value[i]"
			(change)="onChangeFn(value)"
			(blur)="onTouchedFn()"
			(keyup.enter)="edtValue.close()">
		</input-price2-app>
	</editable-container-app>

</div>

<button 
	type="button" 
	class="mg-v-ms small" 
	(click)="addPrice()">
	+
</button>