.title-container {
	color: var(--color-txt-strong);
	margin-bottom: 50px;

	button {
		margin-right: var(--spacing-ms);

		icon-app {
			font-size: var(--font-size-xxl);
		}
	}

	h1 {
		font-size: var(--font-size-xxxl);
		font-weight: 600;
	}
}

form {
	margin-bottom: 46px;

	context-menu-app {
		context-menu-trigger-app {
			background: var(--color-secondary-light);
			color: var(--color-secondary-dark);
			width: 500px;
			height: 50px;
			border: 1px solid var(--color-secondary);
			border-radius: var(--border-radius-s);
			padding: var(--spacing-m);
			font-size: var(--font-size-l);
			box-sizing: border-box;


			icon-app {
				font-size: var(--font-size-xxxl);
			}
		}
	}

}