	<dialog-app>

		<!-- when ready -->
		<dialog-header-app *ngIf="!pending" class="merge-categories first-uppercase">
			{{ 'OBJ.merge-OBJ' | translate: {field: 'ERM.' + type.translationKey + '.plural' | translate} }}
		</dialog-header-app>

		<div class="merge-entities-title">You will merge the following {{type.plural}}:</div>

		<div class="merge-entities">
			<ul><li *ngFor="let entity of entities"><span class="selected-entitiy-name">{{entity?.name}}</span></li></ul>
		</div>

		<h2 class="merge-into">Merge Into</h2>

		<selector-app
			*ngIf="!pending"
			[canCreate]="true"
			[choices]="entities"
			[width]="370"
			(update)="entitySelect($event)">
			<div class="flexVAlign select-entity ellipsis pointer txt-btn type">
				<span class="entity-to-merge">
					{{ selected?.name || 'Select ' + type.singular  }}
				</span>
			</div>
		</selector-app>

		<h2 class="warning-undone">Warning: This action cannot be undone</h2>

		<dialog-footer-app *ngIf="!pending">
			<!-- TODO Check style is the same - Need first-uppercase -->
			<input type="submit" [value]="'text.merge' | translate" (click)="onSubmit()"/>
		</dialog-footer-app>

		<!-- when pending -->
		<spinner-app *ngIf="pending"></spinner-app>

</dialog-app>
