<ng-container *ngIf="!isFormStyle; else otherStyle" [ngSwitch]="definition.type">

	<!-- text -->
	<editable-field-app *ngSwitchCase="'text'" #editable [inlineLabel]="inlineLabel" (closed)="onClose($event)"
		(opened)="inp.select();">

		<label-app>{{ definition.label }}</label-app>
		<!-- hint: editable text is the clickable label that transforms into an input -->
		<editable-label-app>
			{{ field?.value || '-' }}
		</editable-label-app>

		<form-field-app class="editable">
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp [attr.disabled]="disabled" inputApp type="text" [value]="accumulator || ''" (change)="accumulator = inp.value"
				(keyup.enter)="$event.target.blur(); editable.close();" />
		</form-field-app>

	</editable-field-app>

	<!-- string same code as text-->
	<editable-field-app *ngSwitchCase="'string'" #editable [inlineLabel]="inlineLabel" (closed)="onClose($event)"
		(opened)="inp.select();">

		<label-app>{{ definition.label }}</label-app>
		<!-- hint: editable text is the clickable label that transforms into an input -->
		<editable-label-app>
			{{ field?.value || '-' }}
		</editable-label-app>

		<form-field-app class="editable">
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp inputApp [attr.disabled]="disabled" type="text" [value]="accumulator || ''" (change)="accumulator = inp.value"
				(keyup.enter)="$event.target.blur(); editable.close();" />
		</form-field-app>

	</editable-field-app>


	<!-- tel -->
	<editable-field-app *ngSwitchCase="'tel'" #editable [inlineLabel]="inlineLabel" (closed)="onClose($event)"
		(opened)="inp.select();">

		<label-app>{{ definition.label }}</label-app>
		<!-- hint: editable text is the clickable label that transforms into an input -->
		<editable-label-app>
			{{ field?.value || '-' }}
		</editable-label-app>

		<form-field-app class="editable">
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp inputApp [attr.disabled]="disabled" restrictInput="tel" type="text" [value]="accumulator || ''"
				(change)="accumulator = inp.value" (keyup.enter)="$event.target.blur(); editable.close();" />
		</form-field-app>

	</editable-field-app>


	<!-- int -->
	<editable-field-app *ngSwitchCase="'int'" #editable [inlineLabel]="inlineLabel" (closed)="onClose($event)"
		(opened)="inp.select();">

		<label-app>{{ definition.label }}</label-app>
		<!-- hint: editable text is the clickable label that transforms into an input -->
		<editable-label-app>
			{{ field?.value || '-' }}
		</editable-label-app>

		<form-field-app class="editable">
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp inputApp [attr.disabled]="disabled" restrictInput="number" type="text" [value]="accumulator || ''"
				(change)="accumulator = inp.value" (keyup.enter)="$event.target.blur(); editable.close();" />
		</form-field-app>

	</editable-field-app>


	<!-- decimal -->
	<editable-field-app *ngSwitchCase="'decimal'" #editable [inlineLabel]="inlineLabel" (closed)="onClose($event)"
		(opened)="inp.select();">

		<label-app>{{ definition.label }}</label-app>
		<!-- hint: editable text is the clickable label that transforms into an input -->
		<editable-label-app>
			{{ field?.value || '-' }}
		</editable-label-app>

		<form-field-app class="editable">
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp inputApp [attr.disabled]="disabled" restrictInput="decimal" type="text" [value]="accumulator || ''"
				(change)="accumulator = inp.value" (keyup.enter)="$event.target.blur(); editable.close();" />
		</form-field-app>

	</editable-field-app>

	<!-- boolean -->
	<editable-field-app #editable *ngSwitchCase="'boolean'" [inlineLabel]="inlineLabel" [openOnClick]="false"
		(click)="toggleBoolean()">
		<label-app>{{ definition.label }}</label-app>
		<editable-label-app>
			{{ field?.value || '-' }}
		</editable-label-app>
	</editable-field-app>

	<!-- price -->
	<editable-field-app *ngSwitchCase="'price'" #editable [inlineLabel]="inlineLabel" (closed)="onClose($event)"
		(opened)="inp.select()">

		<label-app>{{ definition.label }}</label-app>

		<editable-label-app [vAlign]="false">
			<span class="fs-s" *ngIf="getPrice()">{{ getPrice().currency | const : 'currency' : 'symbol'}}</span>
			<span class="mg-xs spacer" *ngIf="getPrice()"></span>
			<span>{{ getPrice() !== undefined ? (getPrice().value / 10000) : '-' }}</span>
		</editable-label-app>

		<form-field-app class="editable">
			<input-price-app #inp [disabled]="disabled" inputApp [price]="getPrice()" (keyup.enter)="editable.close()"
				(change)="accumulatePrice(inp.price);">
			</input-price-app>
		</form-field-app>

	</editable-field-app>

</ng-container>

<ng-template #otherStyle>
	<ng-container [ngSwitch]="definition.type">

		<!-- text -->
		<form-field-app *ngSwitchCase="'text'" class="modal">
			<label-app>{{ definition.label }}</label-app>
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp [attr.disabled]="disabled" inputApp type="text" [value]="accumulator || ''" (change)="accumulator = inp.value; onClose();"
				(keyup.enter)="$event.target.blur()" [placeholder]="definition.label"/>
		</form-field-app>

		<!-- string -->
		<form-field-app *ngSwitchCase="'string'" class="modal">
			<label-app>{{ definition.label }}</label-app>
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp [attr.disabled]="disabled" inputApp type="text" [value]="accumulator || ''" (change)="accumulator = inp.value; onClose();"
				(keyup.enter)="$event.target.blur()" [placeholder]="definition.label"/>
		</form-field-app>

		<!-- tel -->
		<form-field-app *ngSwitchCase="'tel'" class="modal">
			<label-app>{{ definition.label }}</label-app>
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp [attr.disabled]="disabled" inputApp restrictInput="tel" type="text" [value]="accumulator || ''" (change)="accumulator = inp.value; onClose();"
				(keyup.enter)="$event.target.blur()" [placeholder]="definition.label"/>
		</form-field-app>

		<!-- decimal -->
		<form-field-app *ngSwitchCase="'decimal'" class="modal">
			<label-app>{{ definition.label }}</label-app>
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp inputApp [attr.disabled]="disabled" restrictInput="decimal" type="text" [value]="accumulator || ''"
				(change)="accumulator = inp.value; onClose();" (keyup.enter)="$event.target.blur()" [placeholder]="definition.label"/>
		</form-field-app>

		<!-- number (int) -->
		<form-field-app *ngSwitchCase="'int'" class="modal">
			<label-app>{{ definition.label }}</label-app>
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp inputApp [attr.disabled]="disabled" restrictInput="number" type="text" [value]="accumulator || ''"
				(change)="accumulator = inp.value; onClose();" (keyup.enter)="$event.target.blur()" [placeholder]="definition.label"/>
		</form-field-app>

		<!-- boolean -->
		<form-field-app *ngSwitchCase="'boolean'" class="modal">
			<label-app>{{ definition.label }}</label-app>
			<!-- hint: couldn't ngModel to accumulator -->
			<selector-placeholder-app
				[name]="field?.value"
				[hasArrow]="false"
				[placeholder]="definition.label"
				(click)="toggleBoolean(); onClose()">
			</selector-placeholder-app>
			<input #inp inputApp [attr.disabled]="disabled" [hidden]="true" type="text" />
		</form-field-app>

		<!-- price -->
		<form-field-app *ngSwitchCase="'price'" class="modal">
			<label-app>{{ definition.label }}</label-app>
			<!-- hint: couldn't ngModel to accumulator -->
			<input-price-app #inp inputApp [disabled]="disabled" [price]="getPrice()" (keyup.enter)="onClose()"
				(change)="accumulatePrice(inp.price); onClose();">
			</input-price-app>
		</form-field-app>

	</ng-container>

</ng-template>