<ng-container *ngIf="!isFormStyle; else otherStyle" [ngSwitch]="definition.type">

	<!-- text -->
	<editable-field-app *ngSwitchCase="'text'" #editable [inlineLabel]="inlineLabel" (closed)="onClose($event)"
		(opened)="inp.select();">

		<label-app>{{ definition?.label }}</label-app>
		<!-- hint: editable text is the clickable label that transforms into an input -->
		<editable-label-app>
			{{ field?.value || '-' }}
		</editable-label-app>

		<form-field-app class="editable">
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp [disabled]="disabled" inputApp type="text" [value]="accumulator || ''" (change)="accumulator = inp.value"
				(keyup.enter)="$event.target.blur(); editable.close();" />
		</form-field-app>

	</editable-field-app>

	<!-- string same code as text-->
	<editable-field-app *ngSwitchCase="'string'" #editable [inlineLabel]="inlineLabel" (closed)="onClose($event)"
		(opened)="inp.select();">

		<label-app>{{ definition?.label }}</label-app>
		<!-- hint: editable text is the clickable label that transforms into an input -->
		<editable-label-app>
			{{ field?.value || '-' }}
		</editable-label-app>

		<form-field-app class="editable">
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp inputApp [disabled]="disabled" type="text" [value]="accumulator || ''" (change)="accumulator = inp.value"
				(keyup.enter)="$event.target.blur(); editable.close();" />
		</form-field-app>

	</editable-field-app>


	<!-- tel -->
	<editable-field-app *ngSwitchCase="'tel'" #editable [inlineLabel]="inlineLabel" (closed)="onClose($event)"
		(opened)="inp.select();">

		<label-app>{{ definition?.label }}</label-app>
		<!-- hint: editable text is the clickable label that transforms into an input -->
		<editable-label-app>
			{{ field?.value || '-' }}
		</editable-label-app>

		<form-field-app class="editable">
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp inputApp [disabled]="disabled" restrictInput="tel" type="text" [value]="accumulator || ''"
				(change)="accumulator = inp.value" (keyup.enter)="$event.target.blur(); editable.close();" />
		</form-field-app>

	</editable-field-app>


	<!-- int -->
	<editable-field-app *ngSwitchCase="'int'" #editable [inlineLabel]="inlineLabel" (closed)="onClose($event)"
		(opened)="inp.select();">

		<label-app>{{ definition?.label }}</label-app>
		<!-- hint: editable text is the clickable label that transforms into an input -->
		<editable-label-app>
			{{ field?.value || '-' }}
		</editable-label-app>

		<form-field-app class="editable">
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp inputApp [disabled]="disabled" restrictInput="number" type="text" [value]="accumulator || ''"
				(change)="accumulator = inp.value" (keyup.enter)="$event.target.blur(); editable.close();" />
		</form-field-app>

	</editable-field-app>


	<!-- decimal -->
	<editable-field-app *ngSwitchCase="'decimal'" #editable [inlineLabel]="inlineLabel" (closed)="onClose($event)"
		(opened)="inp.select();">

		<label-app>{{ definition?.label }}</label-app>
		<!-- hint: editable text is the clickable label that transforms into an input -->
		<editable-label-app>
			{{ field?.value || '-' }}
		</editable-label-app>

		<form-field-app class="editable">
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp inputApp [disabled]="disabled" restrictInput="decimal" type="number" step="any" [value]="accumulator || ''"
				(change)="accumulator = inp.value" (keyup.enter)="$event.target.blur(); editable.close();" />
		</form-field-app>

	</editable-field-app>

	<!-- boolean -->
	<editable-field-app #editable *ngSwitchCase="'boolean'" [inlineLabel]="inlineLabel" [openOnClick]="false"
		(click)="toggleBoolean()">
		<label-app>{{ definition?.label }}</label-app>
		<editable-label-app>
			{{ field?.value || '-' }}
		</editable-label-app>
	</editable-field-app>

	<!-- price -->
	<editable-field-app *ngSwitchCase="'price'" #editable [inlineLabel]="inlineLabel" (closed)="onClose($event)"
		(opened)="inp.select()">

		<label-app>{{ definition?.label }}</label-app>

		<editable-label-app [vAlign]="false">
			<span *ngIf="getObject()" class="fs-s">{{ getObject().currency | const : 'currency' : 'symbol'}}</span>
			<span *ngIf="getObject()" class="mg-xs spacer"></span>
			<span>{{ getObject() !== undefined ? (getObject().value / 10000) : '-' }}</span>
		</editable-label-app>

		<form-field-app class="editable">
			<input-price-app
				#inp
				inputApp
				[disabled]="disabled"
				[price]="getObject()"
				(keyup.enter)="editable.close()"
				(change)="accumulateJSON(inp.price)">
			</input-price-app>
		</form-field-app>

	</editable-field-app>

</ng-container>

<ng-template #otherStyle>
	<ng-container [ngSwitch]="definition.type">

		<!-- text -->
		<form-field-app *ngSwitchCase="'text'" class="modal">
			<label-app>{{ definition?.label }}</label-app>
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp [disabled]="disabled" inputApp type="text" [value]="accumulator || ''"
				(input)="onInput(inp.value)"
				(keyup.enter)="$event.target.blur()" [placeholder]="definition.label"/>
		</form-field-app>

		<!-- string -->
		<form-field-app *ngSwitchCase="'string'" class="modal">
			<label-app>{{ definition?.label }}</label-app>
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp [disabled]="disabled" inputApp type="text" [value]="accumulator || ''"
				(input)="onInput(inp.value)"
				(keyup.enter)="$event.target.blur()" [placeholder]="definition.label"/>
		</form-field-app>

		<!-- tel -->
		<form-field-app *ngSwitchCase="'tel'" class="modal">
			<label-app>{{ definition?.label }}</label-app>
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp [disabled]="disabled" inputApp restrictInput="tel" type="text" [value]="accumulator || ''"
				(input)="onInput(inp.value)"
				(keyup.enter)="$event.target.blur()" [placeholder]="definition.label"/>
		</form-field-app>

		<!-- decimal -->
		<form-field-app *ngSwitchCase="'decimal'" class="modal">
			<label-app>{{ definition?.label }}</label-app>
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp inputApp [disabled]="disabled" restrictInput="decimal" type="number" step="any" [value]="accumulator || ''"
				(input)="onInput(inp.value)"
			 	(keyup.enter)="$event.target.blur()" [placeholder]="definition.label"/>
		</form-field-app>

		<!-- number (int) -->
		<form-field-app *ngSwitchCase="'int'" class="modal">
			<label-app>{{ definition?.label }}</label-app>
			<!-- hint: couldn't ngModel to accumulator -->
			<input #inp inputApp [disabled]="disabled" restrictInput="number" type="text" [value]="accumulator || ''"
				(input)="onInput(inp.value)"
			 	(keyup.enter)="$event.target.blur()" [placeholder]="definition.label"/>
		</form-field-app>

		<!-- boolean -->
		<form-field-app *ngSwitchCase="'boolean'" class="modal">
			<label-app>{{ definition?.label }}</label-app>
			<radio-app
				inputApp
				[checked]="field?.value === 'true' ? true : field?.value === 'false' ? false : null"
				[items]="[{ name: 'Yes', value: true }, { name: 'No', value: false }]"
				(update)="toggleBoolean($event)">
			</radio-app>
		</form-field-app>

		<!-- price -->
		<form-field-app *ngSwitchCase="'price'" class="modal">
			<label-app>{{ definition?.label }}</label-app>
			<input-price-app
				#inp
				inputApp
				[disabled]="disabled"
				[price]="getObject()"
				(keyup.enter)="onSave()"
				(change)="onInput(inp.price, true)">
			</input-price-app>
		</form-field-app>

		<!-- packaging -->
		<form-field-app *ngSwitchCase="'packaging'" class="modal">
			<label-app>{{ definition?.label }}</label-app>
			<editable-packaging-app
				inputApp
				[value]="getObject()"
				[isFormStyle]="true"
				[disabled]="disabled"
				(update)="onInput($event, true)">
			</editable-packaging-app>
		</form-field-app>

		<!-- selector -->
		<form-field-app *ngSwitchCase="'selector'" class="modal">
			<label-app>{{ definition?.label }}</label-app>
			<selector-app
				[disabled]="disabled"
				[type]="getERM(metadata?.source)"
				[canCreate]="metadata?.canCreate"
				(update)="onInput($event, metadata?.type !== 'const')">
				<selector-placeholder-app
					tabFocus
					[ngClass]="{ 'disabled': disabled }"
					[placeholder]="definition?.label"
					[name]="metadata?.type === 'const' ? accumulator : getLinkingObject()">
				</selector-placeholder-app>
			</selector-app>
			<input inputApp [hidden]="true" type="text"/>
		</form-field-app>

	</ng-container>

</ng-template>