<ng-container [ngSwitch]="definition.type">
	<!-- default -->
	<editable-field-app
		*ngSwitchDefault
		#editable
		[inlineLabel]="inlineLabel"
		(closed)="onClose($event)"
		(opened)="inp.select();">



		<label-app>{{ definition.label }}</label-app>
		<!-- hint: editable text is the clickable label that transforms into an input -->
		<editable-label-app>
			{{ field?.value || '-' }}
    </editable-label-app>

		<form-field-app class="editable">
			<!-- hint: couldn't ngModel to accumulator -->
			<input
				#inp
				inputApp
				type="text"
				[value]="accumulator || ''"
				(change)="accumulator = inp.value"
				(keyup.enter)="editable.close();"/>
    </form-field-app>

	</editable-field-app>


	<!-- boolean -->
	<editable-field-app
		#editable
		*ngSwitchCase="'boolean'"
		[inlineLabel]="inlineLabel"
		[openOnClick]="false"
		(click)="toggleBoolean()">
		<label-app>{{ definition.label }}</label-app>
		<editable-label-app>
			{{ field?.value || '-' }}
		</editable-label-app>
	</editable-field-app>

</ng-container>