.left {
	width: 420px;
}

product-big-card-app {
	padding: 0;
}

.right {
	flex-grow: 1;
	padding: var(--spacing-big);
}

.links {
	font-size: 14px;
	font-weight: 500;
	display: flex;
	justify-content: flex-start;
	& > * {
		padding: var(--spacing-default);
	}
	.selected {
		border-bottom: 2px solid var(--color-primary);
	}
}

.hr2 {
	margin-top: -1px;
}

.prodCard {
	padding: 0;
}

.selected {
	color: var(--color-primary);
}

