.left {
	width: 334px;
}

.right {
	flex-grow: 1;
	padding: var(--spacing-big);
}

.links {
	justify-content: space-between;
}

.card {
	margin: var(--spacing-big);
}

.selected {
	color: var(--color-primary);
}

.hr {
	margin-top: var(--spacing-default);
	height: 2px;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
}