
<product-top-card-app [product]="product$ | async" class="z-4"></product-top-card-app>

<div class="flex content">
	<div class="left">

		<product-big-card-app class="card noPadding"></product-big-card-app>

		<likes-card-app class="card"></likes-card-app>

		<product-info-card-app class="card" [product]="product$ | async"></product-info-card-app>

	</div>

	<div class="right">

		<product-page-main-card-app class="card noPadding z-3"></product-page-main-card-app>

	</div>
</div>
<new-task-dlg-app [productId]="(product$ | async)?.id"></new-task-dlg-app>

