<product-top-card-app [product]="product$ | async" class="z-6"></product-top-card-app>

<div class="flex content">
	<div class="left">
		<product-big-card-app class="noPadding card z-2"></product-big-card-app>

		<card-app>
			<likes-chart-app></likes-chart-app>
		</card-app>
		<product-info-card-app class="card z-2" [product]="product$ | async"></product-info-card-app>
	</div>

	<div class="right">
		<product-page-main-card-app class="card noPadding z-3"></product-page-main-card-app>
	</div>
</div>
