<div class="flex">
	<div class="left">
		<basic-info-box-app class="card" [target]="target"
			(itemAdded)="onTagAdded($event)" (itemRemoved)="onTagRemoved($event)">
		</basic-info-box-app>
		<div class="card">
			<ng-container *ngIf="product$ | async as product">
				<input-select-entity-app
					[label]="'Projects'"
					(itemAdded)="onProjectAdded($event)" (itemRemoved)="onProjectRemoved($event)"
					[value]="product.projects"
					[entityRep]="projectRep" [multi]="true"></input-select-entity-app>
			</ng-container>
		</div>
		<div class="card">
			<input-file-entity-app  [target]="target"></input-file-entity-app>
		</div>
	</div>
	<div class="right">
			<div class="flex links">
				<a [routerLink]="['activity']">Activity</a>
				<a [routerLink]="['sample']">Sample</a>
				<a [routerLink]="['technical-details']">Technical details</a>
				<a [routerLink]="['tasks']">Tasks</a>
				<a [routerLink]="['shipping']">Shipping</a>
				<a [routerLink]="['files']">Files</a>
			</div>
			<router-outlet></router-outlet>
	</div>
</div>
