

<!-- BTN PANEL -->
<side-panel-app *ngIf="view === 'BTNS'">

  <side-panel-title-app>
    Filters
  </side-panel-title-app>
  <side-panel-action-app class="clear" (click)="resetAll()">
    Clear All Filters
  </side-panel-action-app>

  <filter-btn-list-app></filter-btn-list-app>

  <checkbox-app>Only favorites</checkbox-app>

  <checkbox-app>Show archived</checkbox-app>

</side-panel-app>



<!-- SELECT ENTITY PANEL -->
<side-panel-app *ngIf="view === 'BY_TYPE'">
  <side-panel-title-app (click)="openBtnPanel()">
    <icon-app fontSet="fa" name="angle-left"></icon-app>
    BACK
  </side-panel-title-app>
  <side-panel-action-app class="clear" (click)="resetType()">
    Clear All
  </side-panel-action-app>

  <filter-entity-selection-app></filter-entity-selection-app>

</side-panel-app>