:host {
	display: block;
	height: 37px;
	cursor: pointer;

	&.active, &:hover {
		background-color: var(--color-primary);
		color: #fff;
	}
}

.currency {
	margin-right: var(--spacing-ms);
	font-weight: 600;
	color: var(--color-txt-strong);
}
