<controller-table-app>
	<controller-table-quick-filters-app [quickFilters]="[]"></controller-table-quick-filters-app>
	<controller-table-quick-actions-app></controller-table-quick-actions-app>
	<controller-table-view-switcher-app
		[hasCard]="false"
		[hasBoard]="false">
	</controller-table-view-switcher-app>
</controller-table-app>

<contacts-table-app
	[hasMenu]="false"
	[isFiltering]="filterSrv.isFiltering"
	[rows]="listHelper.getFilteredItems$ | async"
	[selection]="selectionSrv.selection$ | async"
	[total]="listHelper.total$ | async"
	[currentPage]="listHelper.currentPage"
	(goToPage)="listHelper.loadPage($event)"
	(delete)="listHelper.deleteOne($event)"
	(open)="viewSrv.goToDetails($event)"
	(openCreateRequestDlg)="dialogCommonSrv.openSupplierRequest([$event])"
	(select)="selectionSrv.selectOne($event, true)"
	(selectAll)="selectionSrv.selectAll($event, true)"
	(sort)="listHelper.sort($event)"
	(unfavorited)="listHelper.onItemUnfavorited($event)"
	(unselect)="selectionSrv.unselectOne($event, true)"
	(update)="listHelper.update($event)"
	(createClick)="openNewContactDlg({id: supplierId})"
	(unselectAll)="selectionSrv.unselectAll()">
</contacts-table-app>

<contact-selection-bar-app
	[isShown]="(selectionSrv.selection$ | async)?.size > 0"
	[selection]="selectionSrv.selection$ | async"
	[selectableItems]="listHelper.items$ | async"
	(deleteSelected)="listHelper.deleteSelected(true)"
	(close)="selectionSrv.unselectAll()"
	(selectAll)="selectionSrv.selectAll($event)"
	(unselectAll)="selectionSrv.unselectAll()">
</contact-selection-bar-app>
