<controller-table-app>
	<controller-table-quick-filters-app [quickFilters]="[]"></controller-table-quick-filters-app>
	<controller-table-quick-actions-app></controller-table-quick-actions-app>
	<controller-table-view-switcher-app
		[hasCard]="false"
		[hasBoard]="false">
	</controller-table-view-switcher-app>
</controller-table-app>

<contacts-table-app
	[hasMenu]="false"
	[rows]="listHelper.filteredItems$ | async"
	[selection]="selectionSrv.selection$ | async"
	(goToPage)="listHelper.loadPage($event)"
	(open)="viewSrv.goToDetails($event)"
	(openCreateRequestDlg)="dialogCommonSrv.openSupplierRequest([$event])"
	(select)="selectionSrv.selectOne($event, true)"
	(selectAll)="selectionSrv.selectAll($event, true)"
	(sort)="listHelper.sort($event)"
	(unselect)="selectionSrv.unselectOne($event, true)"
	(update)="listHelper.update($event)"
	(createClick)="openNewContactDlg({id: supplierId})"
	(unselectAll)="selectionSrv.unselectAll()">
</contacts-table-app>

<contact-selection-bar-app
	(deleteSelected)="listHelper.deleteSelected(true)">
</contact-selection-bar-app>
