<card-app>
	<card-nav-app>
		<nav-app class="pd-left-l pd-top-m">
			<nav-item-app 
				[active]="!(['activity', 'samples', 'files', 'tasks', 'requests'].includes(section))"
				icon="product" 
				[name]="'nav.product-details' | translate" 
				(click)="onRouteChange('info')"></nav-item-app>
			<nav-item-app 
				[active]="section === 'activity'"
				icon="activity" 
				[name]="'nav.comments' | translate" 
				[badgeContent]="commentCount$ | async"
				(click)="onRouteChange('activity')"></nav-item-app>
			<nav-item-app
				[active]="section === 'samples'"
				icon="sample" 
				[name]="'nav.samples' | translate"
				[badgeContent]="sampleCount$ | async"
				(click)="onRouteChange('samples')"></nav-item-app>
			<nav-item-app
				[active]="section === 'files'"
				(click)="onRouteChange('files')" 
				icon="files" 
				[name]="'nav.files' | translate" 
				[badgeContent]="0"
				(click)="onRouteChange('files')"></nav-item-app>
			<nav-item-app 
				[active]="section === 'tasks'"
				icon="check-circle" 
				[name]="'nav.tasks' | translate" 
				[badgeContent]="taskCount$ | async"
				(click)="onRouteChange('tasks')"></nav-item-app>
			<nav-item-app
				[active]="section === 'requests'"
				icon="envelope" 
				[name]="'nav.quotes' | translate" 
				[badgeContent]="0"
				(click)="onRouteChange('requests')"></nav-item-app>
		</nav-app>
	</card-nav-app>

	<ng-container [ngSwitch]="section">
		<ng-container *ngSwitchCase="'activity'">
			<activity-page-app></activity-page-app>
		</ng-container>
		<ng-container *ngSwitchCase="'samples'">
			<samples-page-app></samples-page-app>
		</ng-container>
		<ng-container *ngSwitchCase="'files'">
			<files-page-app></files-page-app>
		</ng-container>
		<ng-container *ngSwitchCase="'tasks'">
			<tasks-page-app></tasks-page-app>
		</ng-container>
		<ng-container *ngSwitchCase="'requests'">
			<!-- <requests-page-sup></requests-page-sup> -->
		</ng-container>
		<ng-container *ngSwitchDefault>
			<info-page-app></info-page-app>
		</ng-container>
	</ng-container>

</card-app>