:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

header-details-info-app {
	span {
		font-size: var(--font-size-s);
		color: var(--color-txt-third);
	}
}

export-table-app {
	border-radius: var(--border-radius);
	box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.01);
	margin: var(--spacing-ms);
}

.my-export {
	font-size: var(--font-size-xxl);
	font-weight: normal;
}

selection-bar-app {

	button.icon {
		margin-right: var(--spacing-ms);

		&.download{
			font-size: var(--font-size-xl);
		}
		&.delete {
			font-size: var(--font-size-xxl);
		}

		icon-app {
			color: var(--color-txt-secondary);
		}
	}
}
