<header-details-app
	[hasBackArrow]="false"
	[headerType]="'settings'">
	<header-details-title-app>
		<span class="my-export capitalize">
			{{ 'title.my-exports' | translate }}
		</span>
	</header-details-title-app>
	<logo-app color="primary" icon="close-pane-bottom" size="xl"></logo-app>
	<header-details-info-app>{{'header.exports-from-my-team' | translate}}</header-details-info-app>
</header-details-app>

<controller-list-app
	class="max-full-table-width"
	[entityType]="'Export'"
	[hasFilter]="false"
	[count]="listSrv.count$ | async"
	[hasSwitch]="false"
	[hasArchived]="false"
	[hasAssigned]="false"
	[hasMyExport]="true"
	[searchValue]="listSrv.searchValue"
	(search)="listSrv.search($event)"
	(showMyExport)="toggleMyExports(true)"
	(hideMyExport)="toggleMyExports(false)"
	[filtersPanelOpened]="listSrv.filterPanelOpen">
</controller-list-app>

<exports-table-app
	[rows]="listSrv.items$ | async"
	[currentSort]="listSrv.currentSort"
	[pending]="listSrv.pending"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(sort)="listSrv.sort($event)"
	(showItemsPerPage)="showItemsPerPage($event)"
	(download)="downloadOne($event)">
</exports-table-app>

<!-- in case selection comes back -->
<!-- <selection-bar-app
	[isShown]="(listSrv.selection$ | async)?.size > 0"
	[selection]="listSrv.selection$ | async"
	(close)="listSrv.unselectAll()">

	<div class="flex">
		<button class="icon light download" (click)="downloadSelected()">
			<icon-app name="file"></icon-app>
		</button>
		<button class="icon light delete">
			<icon-app name="trash"></icon-app>
		</button>
	</div>

</selection-bar-app> -->
