:host {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--spacing-s) 0;
	border-bottom: 1px solid var(--color-divider);
	width: 100%;
}

.left, .right {
	& > *:not(:last-child) {
		margin-right: var(--spacing-ms);
	}
}
