<div class="flex top">
	<h3>Filter {{ target$ | async }}</h3>
	<button class="small secondary" (click)="closePanel()">done</button>			
</div>

<!-- this is the panels that can be opened when a filter button is clicked from the ng-content
 of the filter panel component-->
<filter-item-list-app 
	*ngIf="isEntityTarget(); else others" 
	[filterGroupName]="filterGroupName"></filter-item-list-app>

<ng-template #others>
	<filter-price-panel-app [filterGroupName]="filterGroupName"
	 *ngIf="target === 'price'"></filter-price-panel-app>
	<filter-rating-panel-app *ngIf="target === 'rating'"></filter-rating-panel-app>		
</ng-template>

