.preview-screen {
	display: block;
	background: white;
	width: 90%;
	height: 100%;
	z-index: var(--z-preview-section);
	top: 0;
	right: 0;
	position: absolute;
	overflow-x: hidden;
	overflow-y: hidden;
}

.header-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}