.preview {
	width: calc(100% - var(--side-bar-width));
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: var(--z-preview-section);
	top: 0;
	right: 0;
	position: absolute;
	overflow-x: hidden;
	overflow-y: hidden;
}

.preview-screen {
	display: block;
	background: white;
	width: 95%;
	height: 100%;
	position: absolute;
	right: -95%;
	top: 0;
}

.end {
	right: 0;
}

.start {
	right: -95%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}