<card-app [hasShadow]="false" padding="none">

	<ng-container *ngIf="products$ | async as products; else spinner">
		<!-- user -->
		<activity-user-app
			[user]="products[0]?.createdBy"
			[time]="time"
			[action]="'OBJ.created-new-products' | translate: { count: products?.length }">
		</activity-user-app>

		<!-- previews -->
		<multiple-product-carousel-app
			[products]="products"
			[hasLeftMargin]="true"
			(update)="update.emit($event)"
			(open)="viewProduct($event)"
			(previewClick)="previewClick.emit($event)"
			(liked)="liked.emit($event)"
			(disliked)="disliked.emit($event)">
		</multiple-product-carousel-app>
	</ng-container>

	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>
</card-app>
