:host {
	display: block;
}

.conent {
	margin-left: 56px;
}

activity-user-app {
	padding-bottom: var(--spacing-ms);
}

.supplier {
	width: 100%;
}

.supplier-img {
	height: 32px;
	width: 32px;
	margin-right: var(--spacing-ms);
}

.supplier-info {
	width: calc(100% - 44px); // .supplier-image width + margin

	.supplier-type {
		margin-top: var(--spacing-xs);
		font-size: var(--font-size-s);
		color: var(--color-txt-secondary);
		letter-spacing: -0.1px;
	}

	.supplier-name {
		line-height: 1;
		font-weight: 600;
		color: var(--color-txt-primary);
		letter-spacing: -0.3px;
	}
}

card-footer-app {
	button {
		min-width: 130px;
		font-weight: 600;
	}
}