<controller-table-app>
	<controller-table-quick-filters-app></controller-table-quick-filters-app>
	<controller-table-quick-actions-app>
	</controller-table-quick-actions-app>
	<controller-table-view-switcher-app
		[hasCard]="false"
		[hasBoard]="false">
	</controller-table-view-switcher-app>
</controller-table-app>

<task-table-app
	[rows]="listSrv.items$ | async"
	[selection]="listSrv.selection$ | async"
	[pending]="listSrv.pending"
	[isFiltering]="listSrv.isFiltering"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(sort)="listSrv.sort($event)"
	(select)="listSrv.selectOne($event, true)"
	(unselect)="listSrv.unselectOne($event, true)"
	(selectAll)="listSrv.selectAll($event, true)"
	(unselectAll)="listSrv.unselectAll()"
	(open)="listSrv.goToDetails($event)"
	(previewClick)="listSrv.openPreview($event)"
	(createClick)="openCreationTaskDlg(undefined, supplier)"
	(delete)="listSrv.deleteOne($event, true)">
</task-table-app>

<task-preview-app
	*ngIf="listSrv.previewOpen"
	[task]="listSrv.previewed"
	(close)="listSrv.closePreview()">
</task-preview-app>

<side-panel-app *ngIf="listSrv.filterPanelOpen">
	<filters-app
		[filterList]="listSrv.filterList"
		[filterTypes]="filterTypes"
		(clickOutside)="listSrv.closeFilterPanel()"
		(close)="listSrv.closeFilterPanel()">
	</filters-app>
</side-panel-app>

<task-selection-bar-app
	[isShown]="(listSrv.selection$ | async)?.size > 0"
	[selection]="listSrv.selection$ | async"
	[selectableItems]="listSrv.items$ | async"
	(close)="listSrv.unselectAll()"
	(deleteSelected)="listSrv.deleteSelected(true)"
	(selectAll)="listSrv.selectAll($event)"
	(unselectAll)="listSrv.unselectAll()">
</task-selection-bar-app>
