<controller-table-app>
	<controller-table-quick-filters-app></controller-table-quick-filters-app>
	<controller-table-quick-actions-app>
	</controller-table-quick-actions-app>
	<controller-table-view-switcher-app
		[hasCard]="false"
		[hasBoard]="false">
	</controller-table-view-switcher-app>
</controller-table-app>

<task-table-app
	[rows]="listSrv.items$ | async"
	[selection]="selectionSrv.selection$ | async"
	[pending]="listSrv.pending"
	[isFiltering]="filterSrv.isFiltering"
	[total]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(sort)="listSrv.sort($event)"
	(select)="selectionSrv.selectOne($event, true)"
	(unselect)="selectionSrv.unselectOne($event, true)"
	(selectAll)="selectionSrv.selectAll($event, true)"
	(unselectAll)="selectionSrv.unselectAll()"
	(open)="viewSrv.goToDetails($event)"
	(previewClick)="viewSrv.openPreview($event)"
	(createClick)="openCreationTaskDlg(undefined, supplier)"
	(delete)="listSrv.deleteOne($event, true)">
</task-table-app>

<task-preview-app
	*ngIf="viewSrv.previewOpen"
	[task]="viewSrv.previewed"
	(close)="viewSrv.closePreview()">
</task-preview-app>

<side-panel-app *ngIf="viewSrv.filterPanelOpen">
	<filters-app
		[filterList]="filterSrv.filterList"
		[filterTypes]="filterTypes"
		(clickOutside)="viewSrv.closeFilterPanel()"
		(close)="viewSrv.closeFilterPanel()">
	</filters-app>
</side-panel-app>

<task-selection-bar-app
	[isShown]="(selectionSrv.selection$ | async)?.size > 0"
	[selection]="selectionSrv.selection$ | async"
	[selectableItems]="listSrv.items$ | async"
	(close)="selectionSrv.unselectAll()"
	(deleteSelected)="listSrv.deleteSelected(true)"
	(selectAll)="selectionSrv.selectAll($event)"
	(unselectAll)="selectionSrv.unselectAll()">
</task-selection-bar-app>
