<!-- <controller-table-app
	[entityType]="erm.TASK.singular"
	[hasFilter]="true"
	[hasSwitch]="false"
	[entityType]="'TASK'"
	[view]="listSrv.view"
	[count]="listSrv.count$ | async"
	(search)="listSrv.search($event)"
	(showFilters)="listSrv.openFilterPanel()"
	(smartSearch)="listSrv.smartSearch($event)"
	(buttonClick)="openCreationTaskDlg(undefined, supplier)">

	<controller-table-actions-app 
		(showArchived)="listSrv.filterByArchived(true)"
		(hideArchived)="listSrv.filterByArchived(false)"
		(showAssigned)="listSrv.filterByAssignee(true)"
		(hideAssigned)="listSrv.filterByAssignee(false)">
	</controller-table-actions-app>

</controller-table-app> -->

<task-table-app
	[rows]="listSrv.items$ | async"
	[selection]="listSrv.selection$ | async"
	[pending]="listSrv.pending"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(sort)="listSrv.sort($event)"
	(select)="listSrv.selectOne($event, true)"
	(unselect)="listSrv.unselectOne($event, true)"
	(selectAll)="listSrv.selectAll($event, true)"
	(unselectAll)="listSrv.unselectAll()"
	(open)="listSrv.goToDetails($event)"
	(favorited)="listSrv.onItemFavorited($event)"
	(unfavorited)="listSrv.onItemUnfavorited($event)"
	(previewClick)="listSrv.openPreview($event)"
	(createClick)="openCreationTaskDlg(undefined, supplier)"
	(delete)="listSrv.deleteOne($event, true)">
</task-table-app>

<task-preview-app
	*ngIf="listSrv.previewOpen"
	[task]="listSrv.previewed"
	(close)="listSrv.closePreview()">
</task-preview-app>

<filters-app
	*ngIf="listSrv.filterPanelOpen"
	[filterList]="listSrv.filterList"
	[filterTypes]="filterTypes"
	(clickOutside)="listSrv.closeFilterPanel()"
	(close)="listSrv.closeFilterPanel()">
</filters-app>


<selection-bar-app
	[isShown]="(listSrv.selection$ | async)?.size > 0"
	[selection]="listSrv.selection$ | async"
	(close)="listSrv.unselectAll()">

	<button class="icon light" (click)="listSrv.deleteSelected(true)">
		<icon-app name="trash" size="m"></icon-app>
	</button>

</selection-bar-app>
