:host {
	display: block;
	height: 112px;
	background: var(--color-bg);
	border-left: solid 1px #45adff;
}

.top {
	align-items: end;
	.name {
		height: 20px;
		font-size: var(--font-size-m);
		max-width: 50%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.imgCtnr {
	width: 64px;
	height: 48px;
	overflow: hidden;
	border-radius: var(--border-radius);
	position: relative;
	.heart {
		position: absolute;
    background: #ffffffa3;
    height: 18px;
    width: 18px;
		top: 2px;
		left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
	}
	img {
		max-height:100%;
		max-width:100%;
	}
}

main, footer{
	padding: var(--spacing-s);
	justify-content: space-between;
	position: relative;
}

.cercleGreen {
	position: absolute;
	bottom: -16px;
	right: -22px;
	opacity: 0.4;
}

product-sub-info-app {
	margin-left: var(--spacing-xs);
}

footer {
	background: var(--color-secondary-light);
	color: var(--color-txt-secondary);
	height: 20px;
	padding: 0 var(--spacing-s);
	display: flex;
	align-items: center;
}

.name {
	font-weight: 600;
	color: var(--color-txt-strong);
}

.author {
	font-size: var(--font-size-s);
	line-height: 1;
}