<card-app class="z-1">
	<main>
		<div class="top flexBetween">
			<h4 class="name">{{ product?.name }}</h4>
			<price-app [currency]="product?.price?.currency" [amount]="product?.price?.value"></price-app>
		</div>
		<div class="flex">
			<div class="imgCtnr">
				<img [src]="product?.images[0]?.fileName || defaultImg "/>
				<icon-app  fontSet="fa" class="heart" name="heart" *ngIf="product.favorite"></icon-app>
			</div>
			<product-sub-info-app [product]="product"></product-sub-info-app>
		</div>

	</main>
	<footer class="flex">
		<div class="author">
			{{ product?.createdBy?.firstName }}
		</div>
		<product-icons-app></product-icons-app>
	</footer>
</card-app>
