.modal{
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
}

.move-btn {
	position: absolute;
	background: white;
	border-radius: 50%;
	top: 50%;
	width: 20px;
	height: 20px;
	padding: var(--spacing-m);
}
.back {
	left: var(--spacing-xl);
}

.next {
	right: var(--spacing-xl);
}

.close-btn {
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	padding: var(--spacing-s) var(--spacing-m);
	color: white;
	right: var(--spacing-xl);
	top: var(--spacing-xl);
}

.img-ctnr{
	margin: auto;
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	max-width: 70%;
}
.title {
	position: absolute;
	bottom: 0;
	color: rgba(255, 255, 255, 0.7);
}