
<table-app 
  placeholder="No product"  
  [rows]="rows"
  [currentSort]="currentSort"
  [pending]="pending"
  [count]="count"
  [currentPage]="currentPage"
  [selected]="selection"
  [hasHeader]="hasHeader"
  [hasPagination]="hasPagination"
  [contextualMenu]="contextualMenuTemplate"
  (goToPage)="goToPage.emit($event)"
  (bottomReached)="bottomReached.emit()"
  (sort)="sort.emit($event)"
  (selectOne)="select.emit($event)"
  (unselectOne)="unselect.emit($event)"
  (selectAll)="selectAll.emit($event)"
  (unselectAll)="unselectAll.emit()"
  (showItemsPerPage)="showItemsPerPage.emit($event)">

  <!-- contextual menu -->
  <ng-template #contextualMenuTemplate let-row="row">
    <context-menu-item-app
      (click)="setFavourite.emit(row)"
      i18n="button@@set-as-favourite">
      Set as Favourite
    </context-menu-item-app>
    <context-menu-item-app
      (click)="openAddToProjectDialog.emit(row)"
      i18n="button@@add-to-project">
      Add to Project
    </context-menu-item-app>
    <context-menu-item-app
      (click)="openAddTaskDialog.emit(row)"
      i18n="button@@add-task">
      Add Task
    </context-menu-item-app>
    <context-menu-item-app
      (click)="openAddSampleDialog.emit(row)"
      i18n="button@@add-sample">
      Add Sample
    </context-menu-item-app>
    <divider-app></divider-app>
    <context-menu-item-app
      (click)="archive.emit(row)"
      i18n="button@@archive">
      Archive
    </context-menu-item-app>
    <context-menu-item-app
      (click)="delete.emit(row)"
      i18n="button@@delete">
      Delete
    </context-menu-item-app>
  </ng-template>

  <!-- dynamic columns -->
  <ng-template 
    *ngFor="let column of columnsConfig; trackBy: trackByFn" 
    let-row="row" 
		[columnApp]="column.title"
		[sortable]="column.sortable !== false"
    [width]="column.width"
    [sortBy]="column.sortProperty">
    <ng-container [ngSwitch]="column.title">
  
      <!-- product reference -->
      <ng-container *ngSwitchCase="'reference'">
        <div class="ellipsis name-container contain-strict">
          <div class="ellipsis flexVAlign">
      
            <div class="preview-imgs" (click)="previewClick.emit(row)">
              <logo-app class="mini imgCtnr"
                [logo]="row.images[0]" size="m" type="product"></logo-app>
              <div class="hover-img">
                <icon-app name="eye" [size]="18" class="preview-hover-img"></icon-app>
              </div>
            </div>
      
            <div class="flexColumn ref-ctnr">
              <span class="product-ref ellipsis">
                <a class="name txt-btn" [routerLink]="['/product', row.id]">
                  {{ row.reference || '-' }}
                </a>
              </span>
        
              <div class="product-name-ref ellipsis">
                {{ row.name || '-' }}
              </div>
            </div>
      
          </div>
        </div>
      </ng-container>
      
      <!-- supplier -->
      <ng-container *ngSwitchCase="'supplier'">
        <selector-app
          type="supplier"
          [canCreate]="true"
          [width]="370"
          (update)="update.emit({ id: row.id, supplier: $event })">
          <div class="ellipsis supplier-col txt-btn"> {{ row?.supplier?.name || '-' }}</div>
        </selector-app>
      </ng-container>
      
      <!-- category -->
      <ng-container *ngSwitchCase="'category'">
        <selector-app
          type="category"
          [canCreate]="true"
          [width]="370"
          (update)="update.emit({ id: row.id, category: $event })">
          <div class="ellipsis pointer txt-btn" class="category"> {{ row?.category?.name || '-' }}</div>
        </selector-app>
      </ng-container>
      
      <!-- activities -->
      <ng-container *ngSwitchCase="'activities'">
        <activities-bar-app
          [row]="row"
          [favourite]="row?.favorite"
          [hasSamples]="!!row?.samplesLinked.count"
          [hasTasks]="!!row?.tasksLinked.count"
          [hasComments]="!!row?.comments.length"
          [votes]="row?.votes">
        </activities-bar-app>
      </ng-container>
      
      <!-- price -->
      <ng-container *ngSwitchCase="'price'">
        <editable-text-app
          #editable
          [hasAction]="false"
          (opened)="inp.focus()"
          (closed)="update.emit({ id: row.id, price: inp.price })">
          <editable-label-app>
            <price-app
              [price]="row?.price"
              [moq]="row?.minimumOrderQuantity"
              [moqDesc]="row?.moqDescription">
            </price-app>
          </editable-label-app>
          <input-price-app
            #inp
            (keyup.enter)="editable.close()"
            [price]="row?.price">
          </input-price-app>
        </editable-text-app>
      </ng-container>
      
      <!-- moq -->
      <ng-container *ngSwitchCase="'moq'">
        <editable-text-app
          #editable
          [hasAction]="false"
          (opened)="inp.focus()"
          (closed)="update.emit({ id: row.id, minimumOrderQuantity: inp.value })">
          <editable-label-app>
            <moq-app
              *ngIf="row?.minimumOrderQuantity; else noMoq"
              [amount]="row?.minimumOrderQuantity">
            </moq-app>
            <ng-template #noMoq> <div>-</div> </ng-template>
          </editable-label-app>
          <input #inp inputApp type="number" [value]="row?.minimumOrderQuantity" (keyup.enter)="editable.close()"/>
        </editable-text-app>
      </ng-container>
      
      <!-- creation date -->
      <ng-container *ngSwitchCase="'creation date'">
        {{ row?.creationDate | date: 'dd MMMM y' }}
      </ng-container>
     
      <!-- created by -->
      <ng-container *ngSwitchCase="'created by'">
        <span class="created-by">{{ row?.createdBy | formatUserName }}</span>
        <div class="created-by-date">
          {{ row?.creationDate | date: 'dd MMMM y' }}
        </div>
      </ng-container>
      
      <!-- favorite -->
      <ng-container *ngSwitchCase="'favorite'">
        <div>
          <rating-heart-app
            [favorite]="row?.favorite"
            (favorited)="favorited.emit(row.id)"
            (unfavorited)="unfavorited.emit(row.id)">
          </rating-heart-app>
        </div>
      </ng-container>
      
      <!-- projects -->
      <ng-container *ngSwitchCase="'projects'">
        <div class="flexCenter">
          <span *ngFor="let project of row.projects; trackBy: trackByFn">
            {{ project.name || '-' }}
          </span>
        </div>
      </ng-container>
      
      <!-- status -->
      <ng-container *ngSwitchCase="'status'">
        <status-selector-app [entity]="row" [typeEntity]="prodErm" selectSize="s"></status-selector-app>
      </ng-container>

      <!-- user -->
      <ng-container *ngSwitchCase="'assignee'">
        <div class="flexCenter userP">{{ row?.createdBy | formatUserName }}</div>
        <ng-template>
          <!-- none -->
          <ng-template #none></ng-template>
        </ng-template>
      </ng-container>

      <!-- default -->
      <ng-container *ngSwitchDefault>
        {{ row[column.title] }}
      </ng-container>

    </ng-container>
  </ng-template>

</table-app>

