
<custom-table-app
	class="list"
	[rows]="rows"
	[descriptor]="descriptor"
	[contextualMenu]="contextualMenuTemplate"
	[selected]="selection"
	[currentSort]="currentSort"
	placeholder="No product"
	(bottomReached)="bottomReached.emit()"
	(sort)="sort.emit($event)"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit()"
	[pending]="pending"
	i18n-placeholder="@@no-product">
</custom-table-app>

<!-- contextual menu -->
<ng-template #contextualMenu let-row="row">
	<context-menu-item-app
		class="pointer flexCenter"
		(click)="openAddToProjectDialog.emit(row)"
		i18n="button@@add-to-project">
		Add to project
	</context-menu-item-app>
	<context-menu-item-app
		class="pointer flexCenter"
		(click)="openCreateRequestDlg.emit(row)"
		i18n="button@@send-request-supplier">
		Send request to supplier
	</context-menu-item-app>
	<context-menu-item-app
		class="pointer flexCenter"
		(click)="openRequestFeedbackDialog.emit(row)"
		i18n="button@@request-feedback">
		Request feedback
	</context-menu-item-app>
	<context-menu-item-app
		class="pointer flexCenter"
		(click)="openExportDialog.emit(row)"
		i18n="button@@export">
		Export
	</context-menu-item-app>
	<context-menu-item-app
		class="pointer flexCenter"
		(click)="delete.emit(row.id)"
		i18n="button@@delete">
		Delete
	</context-menu-item-app>
</ng-template>

<!-- product preview -->
<ng-template #main let-row="row">
	<div class="mainCellWrapper ellipsis name-container contain-strict">
		<div class="mainCell ellipsis">
			<img class="mini imgCtnr"
				[src]="row | image: 's' : 'product-list'" />
			<span class="ellipsis">
				<a class="name txt-btn" [routerLink]="['/product', row.id]">
					{{ row.name || '-' }}
				</a>
			</span>

			<button class="small secondary-dark preview" (click)="previewClick.emit(row)" i18n="@@preview">Preview</button>
		</div>
	</div>
</ng-template>

<!-- supplier -->
<ng-template #supplier let-row="row">
	<div class="ellipsis">
		{{ row?.supplier?.name || '-' }}
	</div>
</ng-template>

<!-- category -->
<ng-template #category let-row="row">
	{{ row?.category?.name || '-'}}
</ng-template>

<!-- price -->
<ng-template #price let-row="row">
	<price-app
		class="semi-bold"
		[price]="row?.price">
	</price-app>
</ng-template>

<!-- moq -->
<ng-template #moq let-row="row">
	<moq-app
		*ngIf="row?.minimumOrderQuantity; else noMoq"
		[amount]="row?.minimumOrderQuantity">
	</moq-app>

	<ng-template #noMoq> <div>-</div> </ng-template>
</ng-template>

<!-- creation date -->
<ng-template #creationDate let-row="row">
	{{ row?.creationDate | date: 'dd MMMM y' }}
</ng-template>

<!-- favorite -->
<ng-template #rating let-row="row">
	<div>
		<rating-heart-app
			[favorite]="row?.favorite"
			(favorited)="favorited.emit(row.id)"
			(unfavorited)="unfavorited.emit(row.id)">
		</rating-heart-app>
	</div>
</ng-template>

<!-- projects -->
<ng-template #projects let-row="row">
	<div class="flexCenter">
		<span *ngFor="let project of row.projects; trackBy: trackByFn">
			{{ project.name || '-' }}
		</span>
	</div>
</ng-template>

<!-- status -->
<ng-template #status let-row="row">
	<status-selector-app
		[entity]="row"
		[typeEntity]="prodErm">
	</status-selector-app>
</ng-template>


<!-- for some mindblowing reason if this is put last,
	the viewchild for default template is undefined -->
<ng-template #default let-row="row" let-column="column">
	{{ row[column.propName] }}
</ng-template>

<!-- user -->
<ng-template #user let-row="row">
	<div class="flexCenter userP">{{ row?.createdBy | formatUserName }}</div>
	<ng-template>
		<!-- none -->
		<ng-template #none></ng-template> </ng-template
></ng-template>
