<div *ngFor="let target of (filters$ | async).targets">
	<ng-container *ngIf="target !== 'rating' && target !== 'pricing'; else other">
		<filter-app [target]="target" filterGroupName="filterGroupName"
			(itemClicked)="openList(target)">
		</filter-app>		
	</ng-container>
	<ng-template #other>

		<filter-app *ngIf="target === 'rating'" [target]="target" filterGroupName="filterGroupName"
			(itemClicked)="openRatingPanel"></filter-app>
		<filter-app *ngIf="target === 'pricing'" [target]="target" filterGroupName="filterGroupName" 
			(itemClicked)="openPricingPanel"></filter-app>		
	</ng-template>
</div>

<filter-item-list-app *ngIf="isListOpen"  filterGroupName="filterGroupName">
</filter-item-list-app>
