

<input
	*ngIf="hasLabel"
	inputApp
	class="label mg-right-ms"
	type="text"
	placeholder="Label"
	[readonly]="readonly"
	[(ngModel)]="value.label"
	(blur)="onTouchedFn()"
	(input)="onChangeFn(value)"/>

<input 
	#amountInp
	inputApp
	class="amount"
	type="number" 
	restrictInput="number"
	placeholder="100"
	[readonly]="readonly"
	[(ngModel)]="value.value"
	(blur)="onTouchedFn()"
	(input)="onChangeFn(value)"/>

<!-- TODO replace with selectors	 -->
<input 	
	inputApp
	class="currency"
	type="text"
	placeholder="USD"
	[readonly]="readonly"
	[(ngModel)]="value.currency"
	(blur)="onTouchedFn()"
	(input)="onChangeFn(value)"/>