<form (ngSubmit)="onSubmit()" *ngIf="!pending; else spinner" [formGroup]="creds">

	<input-app label="Email" type="text" placeholder="example@showsourcing.com"
		formControlName="identifier"></input-app>
	<input-app label="Password" type="password" placeholder="your password"
		formControlName="password"></input-app>

	<div class="forgotCtnr">
		<small class="pointer" (click)="forgotPw()">Forgot Password ?</small>
	</div>

	<input type="submit" value="LOGIN"/>
</form>

<ng-template #spinner>
  <spinner-app></spinner-app>
</ng-template>

<div>{{ error }}</div>
