<form (ngSubmit)="onSubmit()" *ngIf="!(pending$ | async); else spinner" [formGroup]="creds">

	<input-app label="Email" type="text" placeholder="example@showsourcing.com"
		formControlName="identifier"></input-app>
	<input-app label="Password" type="password" placeholder="your password"
		formControlName="password"></input-app>

	<small class="pointer" (click)="forgotPw()">Forgot Password ?</small>

	<input type="submit" value="LOGIN"/>
</form>

<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>

<div>{{ error$ | async }}</div>
