:host {
	display: block;
	padding: var(--spacing-default);
}

.activity {
	margin-top: var(--spacing-big);
}

.top {
	display: flex;
	justify-content: space-between;
}

.author{
	color: var(--color-primary);
}

.action{
	margin-left: var(--spacing-smaller);
}

.activity {
	padding: var(--spacing-default);
	flex-grow: 1;
}

.cercleAuthor {
	border-radius: 50%;
	color: white;
	background: var(--color-primary-light);
	display: flex;
	justify-content: center;
	text-align: center;
	height: 25px;
	width: 25px;
}

.cercleAction {
	z-index: 2;
	border-radius: 50%;
	color: var(--color-txt-secondary);
	background-color: #EBEBEB;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 42px;
	width: 42px;
}

.iconCtnr{
	position: relative;
	margin-right: var(--spacing-big);
	width: 30px;
}

.fa {
	line-height: 25px;
}

.vbar{
	width: 2px;
	background: #EBEBEB;
	height: 73px;
	position: absolute;
	top: 42px;
	left: 19px;
}

.right {
	flex-grow: 1;
}

.left {
	margin-right: var(--spacing-default);
}

.msg {
	margin-top: var(--spacing-small);
}

small{
	color: rgba(0, 0, 0, 0.54);
}