<div *ngFor="let c of comments$ | async; let last = last" class="flexCenter">
	<div class="iconCtnr">
		<div class="cercleAction">
			<i class="fa fa-comment-o" aria-hidden="true"></i>
		</div>
		<div class="vbar" *ngIf="!last"></div>
	</div>


	<div class="flex activity card">
		<div class="left">
			<div class="cercleAuthor">
					{{ (c.createdByUserId | entityName: 'teamMembers' | async)?.substr(0, 1) }}
			</div>
		</div>
		<div class="right">
			<div class="top">
				<div>
					<span class="author">{{ c.createdByUserId | entityName: 'teamMembers' | async }}</span>
					<small class="action"> commented </small>
				</div>

				<small class="date">{{ c.creationDate | date }} </small>
			</div>
			<div class="msg"> {{ c.text }} </div>
		</div>
	</div>
</div>