field-cell-app {
  margin-top: 24px;

  ::ng-deep .labelCtnr {
    color: var(--color-txt-primary) !important;
    font-weight: bold;
  }
}

input, textarea {
  margin-top: 15px;
}

.packaging {
  color: #182844;
  font-weight: bold;
}
