<ng-container [ngSwitch]="customField.type">

  <form-field-app *ngSwitchDefault >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
      #inp
      autofocus="true"
      [value]="customField.value"
      (input)="accumulate(inp.value)"
      (keyup.enter)="editable.close();"
      [type]="customField.type"/>
  </form-field-app>

  <form-field-app *ngSwitchCase="'tel'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
			#inp
			restrictInput="tel"
			autofocus="true"
			[value]="customField.value"
			(input)="accumulate(inp.value)"
      [type]="customField.type"/>
  </form-field-app>

  <form-field-app *ngSwitchCase="'number'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
      #inp
      restrictInput="number"
      autofocus="true"
      [value]="customField.value"
      (input)="accumulate(+inp.value)"
      [type]="customField.type"/>
  </form-field-app>

  <form-field-app *ngSwitchCase="'decimal'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
      #inp
      restrictInput="decimal"
      autofocus="true"
      [value]="customField.value"
      (input)="accumulate(+inp.value)"
      [type]="customField.type"/>
  </form-field-app>

  <form-field-app *ngSwitchCase="'days'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
      #inp
      autofocus="true"
      [value]="customField.value"
      (input)="accumulate(+inp.value)"
      [type]="'number'"/>
  </form-field-app>

  <form-field-app *ngSwitchCase="'textarea'">
    <label-app>{{ customField.label || customField.name }}</label-app>
    <textarea inputApp
      #inp
      [rows]="customField.metadata?.rows ? customField.metadata?.rows : null"
      autofocus="true"
      [value]="customField.value"
      (input)="accumulate(inp.value)">
    </textarea>
  </form-field-app>

  <form-field-app *ngSwitchCase="'yesNo'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <!-- span class="txtBtn" (click)="toggleValue()">{{ value ? 'Yes' : 'No' }}</span -->
    <radio-app [items]="[{ name: 'Yes', value: true }, { name: 'No', value: false }]" [(ngModel)]="value"></radio-app>
  </form-field-app>

        <!-- div class="inputCtnr" *ngSwitchCase="'price'">
			<editable-price-app
				[(ngModel)]="value"
				(change)="onChange()"
				(open)="onOpen()"
				(close)="onClose()"
				[inlineLabel]="inlineLabel"
        [customField]="customField"></editable-price-app>
    </div -->

  <form-field-app *ngSwitchCase="'price'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
      #inp
      restrictInput="decimal"
      autofocus="true"
      [value]="customField.value"
      (input)="accumulate(+inp.value)"
      type="number"/>
  </form-field-app>

  <form-field-app *ngSwitchCase="'priceMatrix'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <div class="inputCtnr">
			<editable-price-matrix-app
				[(ngModel)]="value"
				(change)="onChange()"></editable-price-matrix-app>
    </div>
  </form-field-app>

  <form-field-app *ngSwitchCase="'packaging'" [class="flexColumn flexStart">
    <label-app class="packaging">{{ customField.label || customField.name }}</label-app>
    <!-- div class="inputCtnr" -->
      <input-packaging-app></input-packaging-app>
    <!-- /div -->
  </form-field-app>
</ng-container>
