<top-panel-app
	title="My Suppliers"
	[subtitles]="['Suppliers', 'all']"
	buttonName="Add Suppliers"
	(buttonClick)="listSrv.create()">
</top-panel-app>

<sub-panel-app
	[hasSwitch]="false"
	[hasFilter]="true"
	[buttonIcon]="false"
	[filtersAmount]="listSrv.filterList.asFilters().length"
	(showFilters)="listSrv.openFilterPanel()"
	(search)="listSrv.search($event)"
	(smartSearch)="listSrv.smartSearch($event)">
</sub-panel-app>

<ng-container *ngIf="(listSrv.items$ | async) as suppliers; else spinner">
	<supplier-list-view-app
		[rows]="suppliers"
		[selection]="listSrv.selection$ | async"
		[pending]="listSrv.pending"
		(bottomReached)="listSrv.loadMore()"
		(sort)="listSrv.sort($event)"
		(select)="listSrv.selectOne($event, true)"
		(unselect)="listSrv.unselectOne($event, true)"
		(selectAll)="listSrv.selectAll($event, true)"
		(unselectAll)="listSrv.unselectAll()"
		(open)="listSrv.goToDetails()"
		(favorited)="listSrv.onItemFavorited($event)"
		(unfavorited)="listSrv.onItemUnfavorited($event)"
		(previewClick)="listSrv.openPreview($event)"
		(delete)="listSrv.deleteOne($event)">
	</supplier-list-view-app>
	<selection-bar-app
		[isShown]="(listSrv.selection$ | async).size > 0"
		[selection]="listSrv.selection$ | async"
		(close)="listSrv.unselectAll()">
		<action-bar-app
			[favorite]="listSrv.allSelectedFavorite"
			[hasLikes]="false"
			[multiple]="true"
			(onFavorite)="listSrv.onFavoriteAllSelected()"
			(onUnfavorite)="listSrv.onUnfavoriteAllSelected()"	>
			<button class="icon light" (click)="listSrv.deleteSelected()">
				<icon-app name="trash-bin"></icon-app>
			</button>
		</action-bar-app>
	</selection-bar-app>

	<supplier-preview-app
		*ngIf="listSrv.previewOpen"
		[supplier]="listSrv.previewed"
		(close)="listSrv.closePreview()">
	</supplier-preview-app>

	<filters-app
		[filterList]="listSrv.filterList"
		[filterTypes]="filterTypes"
		(clickOutside)="listSrv.closeFilterPanel()"
		*ngIf="listSrv.filterPanelOpen">
	</filters-app>
</ng-container>

<ng-template #spinner> <spinner-app></spinner-app> </ng-template>
