:host {
	display: block;
	height: 100%;
}

action-bar-app {
	overflow: visible;

	icon-app {
		color: var(--color-txt-secondary);
	}

	icon-app[name='trash-bin'] {
		font-size: var(--font-size-xxl);
	}

	context-menu-trigger-app {
		width: 160px;
	}

	button.icon {
		margin-right: var(--spacing-ms);
	}
}
