:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

supplier-list-view-app {
	margin: 13px 114px 32px 98px;
	padding: var(--spacing-l) var(--spacing-l) 34px var(--spacing-l);
}

selection-bar-app {
	status-selector-app {
		margin-right: var(--spacing-ms);
	}
}

action-bar-app {
	overflow: visible;

	icon-app {
		color: var(--legacy-color-txt-secondary);
	}

	icon-app[name='trash-bin'] {
		font-size: var(--font-size-xxl);
	}

	context-menu-trigger-app {
		width: 160px;
	}

	button.icon {
		margin-right: var(--spacing-ms);
	}
}
