
<top-panel-app
	[title]="'My Suppliers'"
	[buttonName]="'Add Supplier'"
	[subtitles]="['Suppliers', 'all']"
	[hasSwitch]="false"
	[hasFilter]="false"
	(buttonClick)="openNewDialog()">
</top-panel-app>

<supplier-list-view-app
	[suppliers]="suppliers$ | async"
	[selection]="selected$ | async"
	[pending]="pending"
	(bottomReached)="loadMore()"
	(sort)="onSort($event)"
	(supplierSelect)="selectItem($event)"
	(supplierUnselect)="unselectItem($event)"
	(supplierSelectAll)="selectAll($event)"
	(supplierUnselectAll)="resetSelection()"
	(supplierOpen)="onItemOpened($event)"
	(supplierFavorited)="onItemFavorited($event)"
	(supplierUnfavorited)="onItemUnfavorited($event)"></supplier-list-view-app>

	<ng-container *ngIf="selected$ | async as selected">
		<selection-bar-app
			(close)="resetSelection()"
			(delete)="deleteSelection()"
			*ngIf="selected.size > 0"
			[selection]="selected"></selection-bar-app>
	</ng-container>

