
<top-panel-app
	[title]="'My Suppliers'"
	[hasAction]="false">
</top-panel-app>

<sub-panel-app
	buttonName="Add Supplier"
	[hasSwitch]="false"
	[hasFilter]="false"
	[buttonIcon]="false"
	(buttonClick)="openCreateDlg()">
</sub-panel-app>

<ng-container *ngIf="items$ | async as suppliers">
	<supplier-list-view-app
	[suppliers]="suppliers"
	[selection]="selected$ | async"
	[pending]="pending"
	(bottomReached)="loadMore()"
	(sort)="sort($event)"
	(supplierSelect)="onItemSelected($event)"
	(supplierUnselect)="onItemUnselected($event)"
	(supplierSelectAll)="selectAll($event)"
	(supplierUnselectAll)="resetSelection()"
	(supplierOpen)="openPreview($event)"
	(supplierFavorited)="onItemFavorited($event)"
	(supplierUnfavorited)="onItemUnfavorited($event)"></supplier-list-view-app>

	<ng-container *ngIf="selected$ | async as selected">
		<selection-bar-app
			(close)="resetSelection()"
			(delete)="deleteSelected()"
			*ngIf="selected.size > 0"
			[selection]="selected"></selection-bar-app>
	</ng-container>

</ng-container>

