:host{
	display: block;
	padding: var(--spacing-small);
	background: #eee;
	overflow-y: auto;
	min-width: 240px;
	padding: var(--spacing-default);
	padding-right: 0;	
	min-height: 100%;
}
.paddingRight{
	padding-right: var(--spacing-default);
}

input-app{
	flex-grow: 1;
}

.top{
	justify-content: space-between;
}