<div *ngIf="!editMode" class="{{ editable ? 'pointer': '' }}" (click)="openEditMode()">
  <div class="flex editable" [class.flexBetween]="!isRightAligned && !isCompactInline" [class.isCompactInline]="isCompactInline" [class.rightAligned]="isRightAligned">
		<div class="editButton leftButton" *ngIf="isRightAligned && editable" (click)="openEditMode()">Edit </div>

		<ng-container *ngIf="!value">
			-
		</ng-container>
    <!-- if we get an id as value, we should display the name of the entity -->
		<!-- else we just display said value -->
    <ng-container [ngSwitch]="true" *ngIf="value">

			<!-- entities -->
      <ng-container *ngSwitchCase="['supplier', 'event', 'category', 'productStatus', 'harbours', 'incoTerms'].indexOf(type) > -1">
        <span>
          {{ value | entityName: type | async }}
        </span>
			</ng-container>

			<!-- country -->
      <ng-container *ngSwitchCase="type === 'country'">
        <span>
          {{ value | entity: 'country': 'fullName' | async }}
        </span>
			</ng-container>

			<!-- price -->
      <ng-container *ngSwitchCase="type === 'price'">
        <span>
          {{ value }}
        </span>
        <span class="currencyTag" *ngIf="entity?.priceCurrency">
          {{ entity?.priceCurrency?.symbol || entity?.priceCurrency?.id }}
        </span>
			</ng-container>

			<!-- user -->
      <ng-container *ngSwitchCase="type === 'teamMembers'">
        <span class="userOpt">
          <user-picture-app [size]="24" [border]="false" [url]="(value | entity: 'teamMembers' | async)?.preferences?.profilePicture?.urls?.url_60x45"></user-picture-app>
          {{ value | entityName: 'teamMembers' | async }}
        </span>
			</ng-container>

			<!-- tags -->
      <ng-container *ngSwitchCase="['tags', 'projects'].indexOf(type) > -1">
        <span class="tags">
          <span class="tag" *ngFor="let tagid of value">
            {{ tagid | entityName: type | async }}
          </span>
        </span>
			</ng-container>

			<!-- currency -->
      <ng-container *ngSwitchCase="type === 'currencies'">
        <span>
					{{ value?.name }}
        </span>
			</ng-container>

			<!-- default -->
      <ng-container *ngSwitchDefault>
        <span class="flex valueContent">
          {{ value }}
        </span>
      </ng-container>
		</ng-container>

    <div class="editButton pointer" *ngIf="!isRightAligned && editable">Edit </div>
  </div>
</div>

<!-- when edit mode is on -->
<div class="flexRow" *ngIf="editMode" (clickOutside)="closeEditMode()">
	<ng-container [ngSwitch]="true">

		<!-- default text  -->
		<ng-container *ngSwitchDefault>
			<form-field-app>
				<label-app>{{ label }}</label-app>
				<input inputApp  [value]="value || ''" [type]="type" (change)="updateValue($event.target.value)"/>
			</form-field-app>
		</ng-container>

		<!-- number -->
		<ng-container *ngSwitchCase="type === 'number'">
			<form-field-app>
				<label-app>{{ label }}</label-app>
				<input inputApp restrictInput="number" [value]="value" type="number" (change)="updateValue(+$event.target.value)"/>
			</form-field-app>
		</ng-container>

		<!-- tel  -->
		<ng-container *ngSwitchCase="type === 'tel'">
			<form-field-app>
				<label-app>{{ label }}</label-app>
				<input inputApp restrictInput="tel" [value]="value" type="text" (change)="updateValue($event.target.value)"/>
			</form-field-app>
		</ng-container>

		<!-- price -->
		<ng-container *ngSwitchCase="type === 'price'">
			<form-field-app>
				<label-app>{{ label }}</label-app>
				<input inputApp restrictInput="decimal" [value]="value" type="number" (change)="updateValue(+$event.target.value)"/>
			</form-field-app>
		</ng-container>

		<!-- Textarea editor -->
		<ng-container *ngSwitchCase="type === 'textarea'">
			<form-field-app>
				<label-app>{{ label }}</label-app>
				<textarea inputApp (change)="updateValue($event.target.value)">{{ value }}</textarea>
			</form-field-app>
		</ng-container>


		<!-- Entity selector -->
		<ng-container *ngSwitchCase="['supplier', 'category', 'event', 'incoTerms', 'harbours', 'teamMembers'].indexOf(type) > -1">
			<selector-app
				[value]="value"
				[choices]="type | entityList | async"
				[itemName]="getSingular(type)"
				(select)="updateValue($event?.id); onSave()"
				[canSearch]="true">
				<ng-template let-item="item">
					{{ item.name }}
				</ng-template>
			</selector-app>
		</ng-container>

		<!-- Entity selector -->
		<ng-container *ngSwitchCase="type === 'country'">
			<selector-app
				[value]="value"
				[choices]="'country' | entityList | async"
				[itemName]="getSingular(type)"
				(select)="updateValue($event?.id);onSave()"
				[canSearch]="true"
				propName="fullName">
				<ng-template let-item="item">
					{{ item.fullName }}
				</ng-template>
			</selector-app>
		</ng-container>

		<!-- currency selector -->
		<ng-container *ngSwitchCase="type === 'currencies'">
			<!-- different than other selectors because of value and returned values -->
			<selector-app [choices]="'currencies' | entityList | async"
				[itemName]="'currency'"
				[value]="value?.id"
				(select)="updateValue($event);onSave()"
				[canSearch]="true">
				<ng-template let-item="item">
					{{ item.name }}
				</ng-template>
			</selector-app>
		</ng-container>

		<!-- Tags selector -->
		<ng-container *ngSwitchCase="type === 'tags'">
			<selector-app
				[choices]="'tags' | entityList | async"
				[multiple]="true"
				[value]="value"
				(select)="tagAdded.emit($event)"
				(unselect)="tagRemoved.emit($event)"
				(create)="tagCreate.emit($event)"
				[canSearch]="true"
				[canCreate]="true">
				<ng-template let-item="item">
					{{ item.name }}
				</ng-template>
			</selector-app>
		</ng-container>

		<!-- Project selector -->
		<!-- Tags selector -->
		<ng-container *ngSwitchCase="type === 'projects'">
				<selector-app
					[choices]="'projects' | entityList | async"
					[multiple]="true"
					[value]="value"
					(select)="projectAdded.emit($event)"
					(unselect)="projectRemoved.emit($event)"
					(create)="projectCreate.emit($event)"
					[canSearch]="true"
					[canCreate]="true">
					<ng-template let-item="item">
						{{ item.name }}
					</ng-template>
				</selector-app>
			</ng-container>


		<!-- Status selector -->
		<ng-container *ngSwitchCase="type === 'productStatus'">
			<selector-app
				[choices]="'productStatus' | entityList | async"
				[value]="value?.id"
				[canSearch]="false"
				(select)="updateValue($event?.id);onSave()">
				<ng-template let-item="item">
					<badge-app color="{{ item.id }}">{{ item.name }}</badge-app>
				</ng-template>
			</selector-app>
		</ng-container>

	</ng-container>


  <div class="confirmBlock" *ngIf="['text', 'number', 'textarea', 'price', 'decimal', 'url', 'tel', 'email', 'dimensions'].indexOf(type) > -1">
		<span class="confirmIcon icon-close" fs-s color-white bg-txt-secondary (click)="closeEditMode()"></span>
		<span class="confirmIcon icon-thumb-up" fs-s color-white bg-primary (click)="onSave()"></span>
  </div>

</div>
