<div *ngIf="!editMode">
  <div class="flex editable" [class.flexBetween]="!isRightAligned && !isCompactInline" [class.isCompactInline]="isCompactInline" [class.rightAligned]="isRightAligned">
    <div class="editButton leftButton" *ngIf="isRightAligned" (click)="openEditMode()">Edit </div>
    <!-- if we get an id as value, we should display the name of the entity -->
		<!-- else we just display said value -->
    <ng-container [ngSwitch]="true">
			<!-- entities -->
      <ng-container *ngSwitchCase="['suppliers', 'events', 'categories', 'productStatus', 'harbours', 'incoTerms', 'currencies'].indexOf(type) > -1">
        <span>
          {{ value | entityName: type | async }}
        </span>
			</ng-container>
			<!-- price -->
      <ng-container *ngSwitchCase="type === 'price'">
        <span>
          {{ value }}
        </span>
        <span class="currencyTag" *ngIf="entity?.priceCurrency">
          {{ entity?.priceCurrency?.id }}
        </span>
			</ng-container>
			<!-- user -->
      <ng-container *ngSwitchCase="type === 'teamMembers'">
        <span class="userOpt">
          <user-picture-app [size]="24" [border]="false" [url]="(value | entity: 'teamMembers' | async).preferences.profilePicture.urls.url_60x45"></user-picture-app>
          {{ value | entityName: 'teamMembers' | async }}
        </span>
			</ng-container>
			<!-- tags -->
      <ng-container *ngSwitchCase="['tags', 'projects'].indexOf(type) > -1">
        <span class="tags">
          <span class="tag" *ngFor="let tagid of value">
            {{ tagid | entityName: type | async }}
          </span>
        </span>
      </ng-container>
      <!-- <ng-container *ngSwitchCase="type === 'currency'">
        <span>
          {{ value?.priceCurrency?.id }}
        </span>
      </ng-container> -->
      <ng-container *ngSwitchDefault>
        <span class="flex valueContent">
          {{ value || '-'}}
        </span>
      </ng-container>

    </ng-container>
    <div class="editButton pointer" *ngIf="!isRightAligned" (click)="openEditMode()">Edit </div>
  </div>
</div>


<div class="flexRow" *ngIf="editMode" (clickOutside)="closeEditMode()">
  <!-- Text/Inline/Number editor -->
  <input-app [value]="value || ''" *ngIf="['text', 'number','text-inline'].indexOf(type) > -1" [type]="type" (update)="updateValue($event)"></input-app>
  <input-app [value]="value?.priceAmount || ''" *ngIf="type === 'price'" type="number" (update)="updateValue($event)"></input-app>


  <!-- Text Area editor -->
  <div class="textAreaEditor">
    <input-textarea-app [value]="value" *ngIf="['textarea'].indexOf(type) > -1" [type]="type" (update)="updateValue($event)"></input-textarea-app>
    <div class="confirmBlock" *ngIf="type === 'textarea'">
      <span class="confirmIcon icon-close" fs-s color-white bg-txt-secondary (click)="closeEditMode()"></span>
      <span class="confirmIcon confirmIconSave" fs-s color-white bg-primary (click)="update.emit(textValue); closeEditMode()">Save</span>
    </div>
	</div>

	<!-- Entity selector -->
	<ng-select #entitySelector class="entitySelector" [virtualScroll]="true" [items]="entities | async" bindLabel="name"
		bindValue="id"
		*ngIf="['suppliers', 'categories', 'events', 'currencies', 'incoTerms', 'harbours'].indexOf(type) > -1"
			(change)="update.emit($event?.id)" [ngModel]="value">
    <ng-template ng-header-tmp>
      <div class="selectCustomInput">
        <input style="width: 100%" type="text" (input)="entitySelector.filter($event.target.value)" />
      </div>
    </ng-template>
  </ng-select>


  <!-- Tags selector -->
  <ng-select #tagsSelector class="entitySelector" [virtualScroll]="true" multiple="true" [items]="entities | async" bindLabel="name"
    bindValue="id" *ngIf="type === 'tags'" (change)="updateTags($event)" [ngModel]="value" [addTag]="addTagCallback">
    <ng-template ng-header-tmp>
      <div class="selectCustomInput">
        <input #tagSearch style="width: 100%" type="text" (input)="tagsSelector.filter($event.target.value)" />
      </div>
    </ng-template>
  </ng-select>

  <!-- Project selector -->
  <ng-select #projectsSelector class="entitySelector" [virtualScroll]="true" multiple="true" [items]="entities | async" bindLabel="name"
    bindValue="id" *ngIf="type === 'projects'" (change)="updateProjects($event)" [ngModel]="value" [addTag]="addProjectCallback">
    <ng-template ng-header-tmp>
      <div class="selectCustomInput">
        <input style="width: 100%" type="text" (input)="projectsSelector.filter($event.target.value)" />
      </div>
    </ng-template>
  </ng-select>

  <!-- User selector -->
  <ng-select #userSelector class="entitySelector" [virtualScroll]="true" [items]="entities | async" bindLabel="name" bindValue="id"
    *ngIf="type === 'teamMembers'" (change)="update.emit($event?.id)" [ngModel]="value">
    <ng-template ng-header-tmp>
      <div class="selectCustomInput">
        <input style="width: 100%" type="text" (input)="userSelector.filter($event.target.value)" />
      </div>
    </ng-template>
    <ng-template ng-label-tmp let-item="item">
      <span class="userOpt">
        <user-picture-app [size]="24" [border]="false" [url]="item?.preferences?.profilePicture?.urls?.url_60x45"></user-picture-app>
        {{item.name}}
      </span>
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
      <span class="userOpt">
        <user-picture-app [size]="24" [border]="false" [url]="item?.preferences?.profilePicture?.urls?.url_60x45"></user-picture-app>
        {{item.name}}
      </span>
    </ng-template>
  </ng-select>


  <!-- Status selector -->

  <ng-select #statusSelector class="entitySelector" [virtualScroll]="true" [items]="entities | async" bindLabel="name" bindValue="id"
    *ngIf="type === 'productStatus'" (change)="update.emit($event?.id)" [ngModel]="value">
    <ng-template ng-header-tmp>
      <div class="selectCustomInput">
        <input style="width: 100%" type="text" (input)="statusSelector.filter($event.target.value)" />
      </div>
    </ng-template>
    <ng-template ng-label-tmp let-item="item">
      <span class="userOpt">
        <user-picture-app [size]="24" [border]="false" [url]="item?.preferences?.profilePicture?.urls?.url_60x45"></user-picture-app>
        {{item.name}}
      </span>
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
      <span class="userOpt">
        <user-picture-app [size]="24" [border]="false" [url]="item?.preferences?.profilePicture?.urls?.url_60x45"></user-picture-app>
        {{item.name}}
      </span>
    </ng-template>
  </ng-select>

  <div class="confirmBlock" *ngIf="['suppliers', 'categories','events', 'tags', 'projects', 'productStatus', 'textarea', 'currencies', 'harbours','incoTerms'].indexOf(type) === -1">
      <span class="confirmIcon icon-close" fs-s color-white bg-txt-secondary (click)="closeEditMode()"></span>
      <span class="confirmIcon icon-thumb-up" fs-s color-white bg-primary (click)="update.emit(accumulator); closeEditMode()"></span>
  </div>

</div>
