:host {
    width: 100%;
}

.editable {
    position: relative;
    align-items: baseline;
    flex: 1 1 100%;
    &.rightAligned {
        justify-content: flex-end;
    }
}

.editable:hover {
    .editButton {
        visibility: visible;
    }
    .currencyTag {
        visibility: hidden;
    }
}

.currencyTag {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    font-size: 11px;
    font-weight: 600;
    right: 0;
    width: 44px;
    height: 22px;
    border: 1px solid var(--color-primary);
    border-radius: 2px;
}

.fieldValue {
    justify-content: flex-start;
}

.editButton {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    background: var(--color-bg-grey);
    border: 1px solid var(--color-primary-light);
    border-radius: var(--border-radius);
    color: var(--color-txt-secondary);
    padding: 4px 12px;
    font-weight: 600;
    height: 22px;
    box-sizing: border-box;
}

.leftButton {
    margin-right: 12px;
}

.confirmBlock {
    width: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .confirmIcon {
        border-radius: 2px;
        margin-left: var(--spacing-s);
        height: 22px;
        width: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.ng-select.entitySelector {
    margin: 0 0 0 -5px;
    border: 0px;
    min-height: 0px;
    border-radius: 0;
    height: 30px;
    flex: 1 1 100%;
    &.filtered {
         ::ng-deep.ng-control .ng-input {
            display: block;
        }
    }
    &.opened {
         ::ng-deep.ng-control {
            border-bottom: none;
        }
    }
     ::ng-deep.ng-control {
        border: 1px solid var(--color-primary-light);
        height: 30px;
        min-height: 30px;
        border-radius: 0;
        .ng-arrow-zone {
            display: none;
        }
        .ng-value {
            font-size: 15px;
            font-weight: 600;
            color: var(--color-primary-dark);
        }
        .ng-input {
            display: none; // background: #F9FAFC;
            // border: 1px solid var(--color-primary-light);
            border-radius: 0;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: inherit !important;
            input {
                height: 33px;
                padding: 0;
                border: none;
                display: flex;
                align-items: center;
                font-size: 15px;
                font-weight: 600;
                color: var(--color-primary-dark);
                pointer-events: none;
            }
        }
    }
     ::ng-deep.ng-dropdown-header {
        padding: 0;
        border: none;
        border-top: 1px solid var(--color-primary-light);
        .selectCustomInput {
            margin: var(--spacing-s);
            background: #F9FAFC;
            border: 1px solid var(--color-primary-light);
            border-radius: 2px;
            height: 30px;
            padding: 0;
            input {
                height: 28px;
                padding: 0 10px;
                font-size: var(--font-size-default);
                color: var(--color-primary-dark);
                border: none;
            }
        }
    }
     ::ng-deep.ng-dropdown-panel {
        border: 1px solid var(--color-primary-light);
        border-radius: 0;
        .ng-option {
            font-size: var(--font-size-default);
            color: var(--color-primary-dark);
            .highlighted {
                font-weight: 500;
                text-decoration: none;
            }
        }
        .ng-option.marked {
            background-color: #45ADFF;
            color: var(--color-white);
        }
        .ng-dropdown-panel-items {
            border-top: 1px solid var(--color-primary-light);
        }
    }
}

.userOpt {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-picture-app {
        margin-right: 10px;
    }
}
