.assignee-container {
	align-items: center;
}

.number {
	color: var(--legacy-color-txt-strong);
	font-weight: 600;
}

user-picture-app {
	margin-right: 0 !important;
}

.status-col {
	status-selector-app {
		margin-left: var(--spacing-ms);
	}
}

.name-container {
	align-items: center;

	img-app {
		max-width: 28px;
		min-width: 28px;
		margin-right: var(--spacing-xs);
	}
}