<table-app
	[rows]="rows"
	[selected]="selected"
  [contextualMenu]="contextualMenu"
	(bottomReached)="bottomReached.emit()"
	(selectOne)="selectOne.emit($event)"
	(unselectOne)="unselectOne.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit($event)"
	[pending]="pending"
	(sort)="sort.emit($event)">
		<ng-template
			*ngFor="let column of descriptor"
			[columnApp]="column.title"
			[type]="column.type"
			[sortable]="column.sortable !== undefined ? column.sortable : true"
			[width]="column.width"
			[sortBy]="column.sortBy"
			let-row="row">
			<ng-container
				*ngTemplateOutlet="column.template; context: { column: column, row: row }">
			</ng-container>
		</ng-template>
</table-app>
