<preview-app
	*ngIf="supplier$ | async"
	[ngClass]="isRelative ? 'relative' : ''"
	cdk-scrollable
	[align]="isRelative ? 'left' : 'right'"
	[isFixed]="isFixed">

		<!-- Banner -->
		<preview-banner-app
			[canClose]="canClose"
			(closed)="close.emit()" >
			<preview-carousel-app
				[entity]="supplier"
				[entityMD]="erm.SUPPLIER"
				[images]="supplier?.images"
				objectFit="cover">
			</preview-carousel-app>
		</preview-banner-app>

		<!-- Header -->
		<preview-header-app
			[entity]="supplier"
			[entityMD]="erm.SUPPLIER"
			[logoImage]="supplier?.logoImage"
			[hasTop]="!isRelative"
			(update)="update($event, 'name')">

			<!-- Supplier type badge -->
			<preview-badge-app
				[badge]="erm.SUPPLIER_TYPE"
				[value]="supplier?.supplierType?.name | const: 'supplierType'"
				(update)="update($event, 'supplierType')">
			</preview-badge-app>

			<!-- Location badge -->
			<preview-badge-app
				[badge]="erm.LOCATION"
				[value]="getLocationName(supplier)"
				(update)="update($event, 'country')">
			</preview-badge-app>

			<!-- Categories badge -->
			<preview-badge-app
				[badge]="erm.CATEGORY"
				[multiple]="true"
				[value]="supplier?.categories"
				(update)="update($event, 'categories')">
				<divider-app></divider-app>
			</preview-badge-app>
		</preview-header-app>

		<!-- Description -->
		<preview-section-app [title]="'Description'">
			<input-description-app
				[description]="supplier?.description"
				(update)="update($event, 'description')">
			</input-description-app>
		</preview-section-app>

		<!-- Tags -->
		<preview-section-app [title]="'Tags'">
			<input-badge-selector-app
				[value]="supplier?.tags"
				type="tag"
				(change)="update($event, 'tags')">
			</input-badge-selector-app>
		</preview-section-app>

		<!-- Supplier Details -->
		<preview-section-app [title]="'Supplier Details'">
			<dynamic-form-app
				[fields]="customFields"
				[inlineLabel]="true"
				[value]="supplier"
				[colAmount]="1"
				(update)="updateSupplier($event)">
			</dynamic-form-app>
		</preview-section-app>

		<!-- Activity -->
		<preview-section-app *ngIf="!isRelative">
			<comment-list-app [comments]="supplier.comments"></comment-list-app>
		</preview-section-app>

		<preview-comment-app *ngIf="!isRelative" (added)="addComment($event)"></preview-comment-app>

	</preview-app>
