preview-carousel-app {
	height: 258px;
	border-top-left-radius: var(--border-radius-l);
	border-top-right-radius: var(--border-radius-l);
}

divider-app {
	margin-top: var(--spacing-m);
}

.relative {
	position: relative;
	margin: var(--spacing-l) var(--spacing-m);
	height: unset;
	box-shadow: unset;
	border: 1px solid var(--color-secondary);
	border-radius: var(--border-radius-s);
	z-index: var(--z-base);

	preview-banner-app {
		padding: var(--spacing-xs);
		padding-bottom: 0px;
	}
}