<div class="flexBetween">
	<div>
		<h2>{{ product?.name}}</h2>
		<div>
			<div class="flex supplierCtnr">
				<supplier-status-icon-app
					class="supplierIcon" [supplierId]="product?.supplierId" size="xs"></supplier-status-icon-app>

				<span class="supplier"> {{ product?.supplierId | entityName: 'suppliers' | async }}</span>
			</div>

		</div>
	</div>

	<div class="action flex">
		<div class="z-2 z-h cercle pointer">
			<icon-app name="comment"></icon-app>
		</div>
		<div class="z-2 z-h cercle pointer">
			<icon-app name="share"></icon-app>
		</div>
		<div class="z-2 z-h cercle pointer">
			<icon-app name="fire"></icon-app>
		</div>
		<div class="z-2 z-h cercle pointer">
			<icon-app name="check-square"></icon-app>
		</div>
		<div class="z-2 z-h cercle pointer">
			<icon-app name="ellipsis-h"></icon-app>
		</div>
	</div>

</div>



<div class="status flexCenter">
	<icon-app
		name="check-circle"
		sizePx="24"
		color="success"
		ngx-tooltip
		[tooltipType]="'tooltip'"
		tooltipTitle="basic info"
		tooltipPlacement="top"></icon-app>
	<div class="spacer success"></div>
	<icon-app
		name="check-circle"
		sizePx="24"
		color="success"
		ngx-tooltip
		[tooltipType]="'tooltip'"
		tooltipTitle="whatever"
		tooltipPlacement="top"></icon-app>
	<div class="spacer success"></div>
	<icon-app
		name="check-circle"
		sizePx="24"
		color="success"
		ngx-tooltip
		[tooltipType]="'tooltip'"
		tooltipTitle="blabla"
		tooltipPlacement="top"></icon-app>
	<div class="spacer success"></div>
	<icon-app
		name="check-circle"
		sizePx="24"
		color="success"
		ngx-tooltip
		[tooltipType]="'tooltip'"
		tooltipTitle="thing"
		tooltipPlacement="top"></icon-app>
	<div class="spacer"></div>
	<icon-app
		name="circle"
		color="delimiter"
		sizePx="24"
		ngx-tooltip
		[tooltipType]="'tooltip'"
		tooltipTitle="thing"
		tooltipPlacement="top"></icon-app>
	<div class="spacer"></div>
	<icon-app
		name="circle"
		color="delimiter"
		sizePx="24"
		ngx-tooltip
		[tooltipType]="'tooltip'"
		tooltipTitle="thing"
		tooltipPlacement="top"></icon-app>
</div>

