:host {
	padding: var(--spacing-l) calc(var(--spacing-xl) * 3 );
	background: var(--color-bg);
	// to go 1px below the shadow of the header
	z-index: 5;
	position: relative;
	margin-top: 1px;
	display: block;
}

.supplierIcon {
	margin-right: var(--spacing-s);
}

.supplierCtnr {
	align-items: flex-end;
	line-height: 1;
}

.status {
	align-items: center;
	margin-top: 50px;
	.cercle {
		margin: 8px;
	}

	.spacer {
		&.success {
			background: var(--color-success);
		}
		background: var(--color-delimiter);
		margin: var(--spacing-xs);
		width: 73px;
		height: 2px;
		border-radius: var(--border-radius);
	}
}

.action {
	.cercle {
		width: 36px;
		height: 36px;
		margin: var(--spacing-s);
	}
}
