<div>
	<h3>{{ product?.name}}</h3>
	<div>
		<div class="flex">
			<icon-app class="supplierIcon" name="check-circle" size="xs" color="success"></icon-app>
			<span class="supplier"> {{ product?.supplierId | entityName: 'suppliers' | async }}</span>
		</div>

	</div>
</div>
<div class="status flex">
	<icon-app
		name="check-circle"
		sizePx="24"
		color="success"
		ngx-tooltip
		tooltipTitle="basic info"
		tooltipPlacement="top"></icon-app>
	<div class="spacer success"></div>
	<icon-app
		name="check-circle"
		sizePx="24"
		color="success"
		ngx-tooltip
		tooltipTitle="whatever"
		tooltipPlacement="top"></icon-app>
	<div class="spacer success"></div>
	<icon-app
		name="check-circle"
		sizePx="24"
		color="success"
		ngx-tooltip
		tooltipTitle="blabla"
		tooltipPlacement="top"></icon-app>
	<div class="spacer success"></div>
	<icon-app
		name="check-circle"
		sizePx="24"
		color="success"
		ngx-tooltip
		tooltipTitle="thing"
		tooltipPlacement="top"></icon-app>
	<div class="spacer"></div>
	<icon-app
		name="circle"
		sizePx="24"
		color="delimiter"
		ngx-tooltip
		tooltipTitle="thing"
		tooltipPlacement="top"></icon-app>
	<div class="spacer"></div>
	<icon-app
		name="circle"
		color="delimiter"
		sizePx="24"
		ngx-tooltip
		tooltipTitle="thing"
		tooltipPlacement="top"></icon-app>
</div>

<div class="action flex">
	<div class="z-h cercle pointer">
		<icon-app name="comment"></icon-app>
	</div>
	<div class="z-h cercle pointer">
		<icon-app name="share"></icon-app>
	</div>
	<div class="z-h cercle pointer">
		<icon-app name="check-square"></icon-app>
	</div>
	<div class="z-h cercle pointer">
		<icon-app name="ellipsis-h"></icon-app>
	</div>
</div>