:host {
	padding: var(--spacing-big) calc(var(--spacing-bigger) * 3 );
	display: flex;
	justify-content: space-between;
	background: var(--color-bg);
	// to go 1px below the shadow of the header
	z-index: 5;
	position: relative;
	margin-top: 1px;
}

.manufacturerIcon {
	margin-right: var(--spacing-small);
}

.status {
	align-items: center;
	margin-top: 50px;
	.cercle {
		margin: 8px;
	}

	.spacer {
		background: var(--color-success);
		width: 73px;
		height: 2px;
		border-radius: var(--border-radius);
	}
}

.action {
	.cercle {
		width: 36px;
		height: 36px;
		margin: var(--spacing-small);
	}
}
