<div>
	<h3>{{ product?.name}}</h3>
	<div>
		<div class="flex">
			<icon-app class="manufacturerIcon" name="cercle-green"></icon-app>
			<span class="supplier"> {{ product?.supplierId | entityName: 'suppliers' | async }}</span>
		</div>

	</div>
</div>
<div class="status flex">
	<icon-app class="cercle"
		name="checkmark-cercle-green"
		ngx-tooltip
		tooltipTitle="basic info"
		tooltipPlacement="top"></icon-app>
	<div class="spacer"></div>
	<icon-app class="cercle" name="checkmark-cercle-green"
		ngx-tooltip
		tooltipTitle="whatever"
		tooltipPlacement="top"></icon-app>
	<div class="spacer"></div>
	<icon-app class="cercle" name="checkmark-cercle-green"
		ngx-tooltip
		tooltipTitle="blabla"
		tooltipPlacement="top"></icon-app>
	<div class="spacer"></div>
	<icon-app class="cercle" name="checkmark-cercle-green"
		ngx-tooltip
		tooltipTitle="thing"
		tooltipPlacement="top"></icon-app>
</div>

<div class="action flex">
	<div class="z-h cercle pointer">
		<icon-app name="comment"></icon-app>
	</div>
	<div class="z-h cercle pointer">
		<icon-app name="checkmark"></icon-app>
	</div>
	<div class="z-h cercle pointer">
		<icon-app name="comment"></icon-app>
	</div>
	<div class="z-h cercle pointer">
		<icon-app name="checkmark"></icon-app>
	</div>
</div>