input {
	border-radius: var(--border-radius);
	border: none;
	width: 328px;
	font-size: var(--font-size-big);
	background: #fff;
	color: var(--color-primary);
	padding: var(--spacing-small) var(--spacing-default);
}