<table-app
	[class.no-min-height]="!hasMinHeight"
	[rows]="rows"
	[type]="'CONTACT' | erm: 'singular'"
	[pending]="pending"
	[selected]="selection"
	[hasPagination]="hasPagination"
	[hasMenu]="hasMenu"
	[hasBorder]="hasBorder"
	[currentSort]="currentSort"
	[count]="count"
	[currentPage]="currentPage"
	[placeholder]="'placeholder.no-contact' | translate"
	(goToPage)="goToPage.emit($event)"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit($event)"
	(bottomReached)="bottomReached.emit()"
	(sort)="sort.emit($event)"
	(showItemsPerPage)="showItemsPerPage.emit($event)"
	(createClick)="createClick.emit()">

  <!-- dynamic columns -->
  <ng-template
    *ngFor="let column of columnsConfig; trackBy: trackByFn"
    let-row="row"
		[columnApp]="column.translationKey ? ('title.' + column.translationKey | translate) : ''"
		[sortable]="column.sortable !== false"
		[width]="column.width"
		[sortBy]="column.sortProperty"
		[grows]="!column.fixedWidth"
		[showOnHover]="column.showOnHover">

    <ng-container [ngSwitch]="column.name">

			<default-columns-app
				*ngSwitchDefault
				[row]="row"
				[column]="column"
				[hovered]="row.id === hovered"
				[type]="'CONTACT' | erm"
				(update)="update.emit($event)"
				(previewClick)="previewClick.emit($event)"
				(nameClick)="open.emit($event)"
				(previewClick)="previewClick.emit($event)"
				(logoClick)="open.emit($event)">
			</default-columns-app>

			<ng-container *ngSwitchCase="'jobTitle'">
				Need Property on backend
			</ng-container>

			<ng-container *ngSwitchCase="'phone'">
				Need Property on backend
			</ng-container>

			<ng-container *ngSwitchCase="'email'">
				Need Property on backend
			</ng-container>

		</ng-container>

	</ng-template>
</table-app>
