<h2>Basic Information</h2>

<table>
	<tr>
		<td> <label> Name </label> </td>
		<td> {{ product.name }} </td>
	</tr>

	<tr>
			<td> <label> Supplier </label> </td>
			<td> {{ product.supplierId | entityName: 'suppliers' | async }}  </td>
	</tr>

	<tr>
			<td> <label> Category </label> </td>
			<td> {{ product.category.name }} </td>
	</tr>

	<tr>
			<td> <label> Price </label> </td>
			<td> {{ product.priceAmount }}  {{ this.product.priceCurrency.id }}</td>
	</tr>

	<tr>
			<td> <label> MOQ </label> </td>
			<td> {{ product.minimumOrderQuantity}}  </td>
	</tr>

	<tr>
			<td> <label> Source </label> </td>
			<td>  </td>
	</tr>

	<tr>
			<td> <label> Owner </label> </td>
			<td> </td>
	</tr>
</table>
