:host {
	display: block;
	padding: var(--spacing-default);
}

h2{
	font-size: 14px;
	text-align: center;
}

h3 {
	color: var(--color-primary);
	font-size: 15px;
	font-weight: normal;
	margin-bottom: 10px;
}

label {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-weight: 700;
}

li {
	list-style-type: none;
	label {
		flex-grow: 1;
	}
	display: flex;
	border-bottom: 1px solid #e2e2e2;
	padding: var(--spacing-small);
	padding-left: 0;
}