.icons-container {
	height: 22px;
	width: calc(100% - var(--spacing-l));
	display: flex;
	position: absolute;
	align-items: center;
	margin-left: var(--spacing-l);
	bottom: var(--spacing-s);
}

:host icon-app:first-child {
	margin-left: var(--spacing-xs);
}

:host icon-app {
	display: inline-block;
	margin-right: 17px;
}

:host icon-app.star {
	display: inline;
	margin: 0 2px 0 0;
}

:host .icons-container > icon-app:not(.favorite) {
	color: var(--color-third);
}

:host .icons-container > icon-app.favorite {
	color: var(--color-warn);
}

.vote-star-container {
	position: absolute;
	cursor: pointer;
	border-radius: var(--border-radius);
	right: var(--spacing-ms);
	padding: var(--spacing-xs);
}

.vote-star-value {
	width: 19px;
  height: 18px;
  font-size: 14px;
	font-weight: 600;
	margin: 0 0 0 2px;
}

.warn-circle {
	color: var(--color-warn) !important;
}

.with-badge {
	position: relative;
}

.red-badge { // this will be replaced in future with the notif-badge-component
	position: absolute;
	top: 0;
	right: 6px;
  height: 4px;
  width: 4px;
  background-color: var(--color-warn);
  border-radius: 50%;
  display: inline-block;
}