<div class="flex container">
	<carousel-app
		[entity]="product"
		[images]="product?.images"
		[hasPreview]="true">
	</carousel-app>

	<div class="flexColumn product-info">
		<!-- title -->
		<div class="title">
			<editable-container-app
				#edt
				[hoverable]="true"
				(opened)="inpName.select()"
				(closed)="update(inpName.value, 'name')">
				<editable-display-app class="ellipsis bold-s color-txt-primary fs-xxxxl">
					{{ product?.name || '-' }}
				</editable-display-app>
				<input
					inputApp
					#inpName
					type="text"
					[value]="product?.name"
					(keyup.enter)="edt.close()"/>
			</editable-container-app>
			<!-- info title -->
			<div class="flex dot-separator">
				<rating-badge-app class="pointer"	[votes]="product?.votes" [hasNumber]="true" (click)="ratingClicked.emit()"></rating-badge-app>
				<div class="txt-btn" (click)="redirect.emit('samples')">{{ product?.samplesLinked.count || 0 }} {{ product?.samplesLinked?.count === 1 ? 'Sample' : 'Samples' }}</div>
				<div class="txt-btn" (click)="redirect.emit('tasks')">{{ product?.tasksLinked.count || 0 }} {{ product?.samplesLinked?.count === 1 ? 'Task' : 'Tasks' }}</div>
				<div class="txt-btn" (click)="redirect.emit('activity')">{{ product?.comments?.length || 0  }} {{ product?.comments?.length === 1 ? 'Comment' : 'Comments' }}</div>
			</div>
		</div>

		<!-- price -->
		<div class="section">
			<price-with-quantity-app
				[product]="product"
				(updateField)="update($event.newValue, $event.field)">
			</price-with-quantity-app>
		</div>

		<!-- supplier -->
		<div class="section">
			<h3>supplier</h3>
			<editable-container-app
				class="action-hover-container"
				[hasAction]="false"
				[openOnClick]="false"
				(click)="supplierSelector?.openMenu()">
				<editable-display-app>
					<!-- Put this inside a component has a unique style tho -->
					<selector-app
						#supplierSelector
						type="supplier"
						[canCreate]="true"
						[width]="370"
						(update)="update($event, 'supplier')">
						<editable-display-app>
							<div *ngIf="product?.supplier as supplier" class="supplier-container flex">
								<logo-app
									class="mg-right-s"
									[type]="'SUPPLIER' | erm: 'singular'" 
									[logo]="supplier?.logoImage">
								</logo-app>
								<div class="supplier-info mg-right-xxl">
									<span class="supplier-name fs-l color-txt-primary bold-s flex mg-bottom-xs">{{ supplier?.name }}</span>
									<div class="flex dot-separator">
										<div *ngIf="supplier?.supplierType">{{ supplier?.supplierType }}</div>
										<div *ngIf="supplier?.country">{{ supplier?.country }}</div>
										<rating-badge-app	[votes]="supplier?.votes" [activeColor]="'primary'"></rating-badge-app>
									</div>
								</div>
								<button class="eye-icon icon light action-hover-item">
									<icon-app
										size="20"
										name="eye"
										toolTip [toolTipMessage]="'text.open-supplier' | translate" toolTipPosition="above-left" [offsetX]="-15" [offsetY]="-7"
										(click)="onOpenSupplier(supplier, $event)">
									</icon-app>
								</button>
							</div>
						</editable-display-app>
					</selector-app>
				</editable-display-app>
			</editable-container-app>
		</div>

		<!-- category -->
		<div class="section">
			<h3>category</h3>
			<editable-container-app
				[hasAction]="false"
				[openOnClick]="false"
				(click)="categorySelector?.selector?.openMenu()">
				<editable-display-app>
					<badge-selector-app
						#categorySelector
						[badge]="'CATEGORY' | erm"
						[value]="product?.category"
						(update)="update($event, 'category')">
					</badge-selector-app>
				</editable-display-app>
			</editable-container-app>
		</div>

		<!-- description -->
		<div class="section">
			<h3>description</h3>
			<input-description-app
				[description]="product?.description"
				(update)="update($event, 'description')">
			</input-description-app>
	</div>

	<!-- tags -->
	<div class="section">
		<h3>tags</h3>
		<input-badge-selector-app
			[value]="product?.tags"
			type="tag"
			(change)="update($event, 'tags')">
		</input-badge-selector-app>
	</div>

	</div>
</div>
