:host {
	background: white;
	display: flex;
	border-bottom: 1px solid var(--color-divider);
}

.container {
	display: flex;
	align-items: center;
	background: white;
	width: 1000px;
	// margin: 0 auto;
	margin-left: 300px;
	padding-top: var(--spacing-ms);
	padding-bottom: var(--spacing-l);

	carousel-app {
		margin-right: var(--spacing-l);
	}
}

.title {
	margin-bottom: var(--spacing-ms);
}

.section {
	&:not(.mg-none), h3 {
		margin-bottom: var(--spacing-ms);
	}
}

.supplier-name {
	line-height: 1;
}
