:host {
	background: white;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid var(--color-divider);
}

.container {
	background: white;
	padding-top: var(--spacing-ms);
	padding-bottom: var(--spacing-l);

	carousel-app {
		height: 482px;
		margin-right: var(--spacing-xxl);
	}

	.product-info {
		width: 765px;
	}
}

.title {
	// we cannot use 12px since the editable-container uses a 6px top
	margin-bottom: 6px;
}

.section {
	&:not(.mg-none), h3 {
		margin-bottom: var(--spacing-ms);
	}
}

.supplier-container {
	position: relative;
	.supplier-name {
		line-height: 1;
	}

	button.eye-icon {
		position: absolute;
		right: 0;
		top: 0;
		icon-app {
			transition: 0.3s;
			color: white;
		}

		&:hover icon-app {
			color: var(--color-vibrant);
		}
	}
}

