<div class="flex container">
	<carousel-app
		[entity]="product"
		[images]="product?.images"
		[hasPreview]="true">
	</carousel-app>

	<div class="flexColumn product-info">
		<!-- title -->
		<div class="title">
			<editable-container-app
				#edt
				[defaultStyle]="false"
				[hoverable]="true"
				(opened)="inpName.select()">
				<editable-display-app class="ellipsis bold-s color-txt-primary fs-xxxxl">
					{{ product?.name || '-' }}
				</editable-display-app>
				<input
					inputApp
					#inpName
					type="text"
					[value]="product?.name"
					(keyup.enter)="edt.close()"/>
			</editable-container-app>
			<!-- info title -->
			<div class="flex dot-separator">
				<rating-badge-app	[votes]="product?.votes" [hasNumber]="true"></rating-badge-app>
				<div>{{ product?.samplesLinked.count || 0 }} {{ product?.samplesLinked?.count === 1 ? 'Sample' : 'Samples' }}</div>
				<div>{{ product?.tasksLinked.count || 0 }} {{ product?.samplesLinked?.count === 1 ? 'Task' : 'Tasks' }}</div>
				<div>{{ product?.comments?.length || 0  }} {{ product?.comments?.length === 1 ? 'Comment' : 'Comments' }}</div>
			</div>
		</div>

		<!-- price -->
		<div class="section">
			<price-with-quantity-app
				[product]="product">
			</price-with-quantity-app>
		</div>

		<!-- supplier -->
		<div class="section">
			<h3>supplier</h3>
			<selector-app
				type="supplier"
				[canCreate]="true"
				[width]="370">
				<editable-display-app>
					<div *ngIf="product?.supplier as supplier" class="flex">
						<logo-app
							class="mg-right-s"
							[type]="erm.SUPPLIER.singular"
							[logo]="supplier?.logoImage">
						</logo-app>
						<div class="supplier-info mg-right-xxl">
							<span class="fs-l color-txt-primary bold-s">{{ supplier?.name }}</span>
							<div class="flex dot-separator">
								<div *ngIf="supplier?.supplierType">{{ supplier?.supplierType }}</div>
								<div *ngIf="supplier?.country">{{ supplier?.country }}</div>
								<rating-badge-app	[votes]="supplier?.votes" [activeColor]="'primary'"></rating-badge-app>
							</div>
						</div>
					</div>
				</editable-display-app>
			</selector-app>
		</div>

		<!-- category -->
		<div class="section">
			<h3>category</h3>
			<badge-selector-app
				[badge]="erm.CATEGORY"
				[value]="product?.category">
			</badge-selector-app>
		</div>

		<!-- description -->
		<div class="section">
			<h3>description</h3>
			<input-description-app
				[description]="product?.description">
			</input-description-app>
	</div>

	<!-- tags -->
	<div class="section">
		<h3>tags</h3>
		<input-badge-selector-app
			[value]="product?.tags"
			type="tag">
		</input-badge-selector-app>
	</div>

	</div>
</div>
<divider-app></divider-app>
