<ng-container *ngIf="typename === 'PropertyOption'; else regularType">
	<ng-container [ngSwitch]="customType">
		<ng-container *ngSwitchCase="'CURRENCY'">
			{{ item?.code }} - {{ item?.name }}
		</ng-container>
		<ng-container *ngSwitchCase="'INCOTERM'">
			{{ item?.code }} - {{ item?.name}}
		</ng-container>
		<ng-container *ngSwitchCase="'HARBOUR'">
			{{ item?.code }} - {{ item?.name}}
		</ng-container>
		<ng-container *ngSwitchCase="'weightUnit'">
			{{ item?.name }}
		</ng-container>
		<ng-container *ngSwitchCase="'lengthUnit'">
			{{ item?.name }}
		</ng-container>
		<ng-container *ngSwitchDefault>
			{{ item?.value }}
		</ng-container>
	</ng-container>
</ng-container>

<ng-template #regularType>
	{{ item?.name || item?.value || '-' }}
</ng-template>
