<!-- since the supplier is the only one with logo if we want the hasTop = false, we still have to display the logo -->
<div *ngIf="hasTop || entityMD === erm.SUPPLIER" class="top-section flexBetween">
	<div class="left flex">
		<preview-logo-app
			*ngIf="entityMD === erm.SUPPLIER"
			[image]="logoImage">
		</preview-logo-app>
		<ng-container *ngIf="hasTop">
			<icon-app [name]="entityMD?.singular || 'product'"></icon-app>
			<span>{{ entityMD?.singular }}</span>
		</ng-container>
	</div>
	<div class="right">
		<status-selector-app
			*ngIf="entityMD && hasTop"
			[entity]="entity"
			[typeEntity]="entityMD"
			[offsetX]="-15">
		</status-selector-app>
	</div>
</div>

<!-- Title name -->
<editable-text-app #edt
	(closed)="updateEntity($event, inpName.value)"
	(opened)="inpName.select()">
	<editable-label-app>
		{{ entity?.name || 'Unnamed ' + entityMD?.singular }}
	</editable-label-app>
	<input inputApp type="text" #inpName [value]="entity?.name"
		(keyup.enter)="edt.close()">
</editable-text-app>

<div class="deep-class">
	<ng-content></ng-content>
</div>

<div class="deep-class">
	<ng-content select="preview-badge-app"></ng-content>
</div>