:host {
	display: block;
	position: relative;
	padding: 0 var(--spacing-l);

	& > * {
		padding-top: var(--spacing-ms);
		&:empty {
			display: none;
		}
	}
	.noPaddingTop {
		padding-top: 0;
	}
}

.top-section {

	.left {
		align-items: center;
		position: relative;

		preview-logo-app {
			margin-top: -34px;
			margin-right: var(--spacing-ms);
			&.mg-bottom {
				margin-bottom: var(--spacing-ms);
			}
		}

		icon-app {
			margin-right: var(--spacing-s);
			font-size: var(--font-size-s);
		}

		span {
			text-transform: capitalize;
		}
	}
}

editable-text-app {
	width: auto;
}
editable-label-app {
	font-size: var(--font-size-xxl);
	font-weight: 600;
	color: var(--color-txt-strong);
}