<div class="flexBetween custom-padding pd-top-xs">
	<div class="left flex">
		<ng-content select="preview-header-buttons-app"></ng-content>

		<!-- 3 dots -->
		<context-menu-app>
			<context-menu-trigger-app>
				<button class="icon">
					<icon-app class="color-txt-secondary" name="dots-vertical"></icon-app>
				</button>
			</context-menu-trigger-app>
			<!-- context menu/divider-app ng-content -->
			<ng-content select="context-menu-item-app, divider-app"></ng-content>
			<ng-content select="context-menu-item-warn-app"></ng-content>
		</context-menu-app>
	</div>
	<div class="right">
		<status-selector-app
			[entity]="entity"
			[typeEntity]="entityMD"
			selectSize="l"
			[offsetX]="-15"
			[displayStep]="true"
			(statusUpdated)="statusUpdated.emit({ id: entity.id, status: $event})">
		</status-selector-app>
	</div>
</div>

<!-- title name -->
<div>
	<editable-container-app
		#edt
		(opened)="inpName.select()"
		(closed)="updateEntity(inpName.value, 'name')">
		<editable-display-app class="ellipsis bold-s color-txt-primary fs-xxxxl">
			{{ entity[titleProp] || '-' }}
		</editable-display-app>
		<input
			inputApp
			#inpName
			type="text"
			style="height: 23px"
			[value]="entity[titleProp]"
			(keyup.enter)="edt.close()"/>
	</editable-container-app>

	<!-- subtitle -->
	<ng-content select="preview-header-subtitle-app"></ng-content>
</div>

<div class="custom-padding">
	<ng-content select=".custom-padding"></ng-content>
</div>

<div>
	<ng-content></ng-content>
</div>

<div>
	<ng-content select="badge-selector-app"></ng-content>
</div>

<div>
	<ng-content select="preview-section-app"></ng-content>
</div>