:host {
	display: block;
	position: relative;
	margin-top: -6px;
	background: white;
	border-top-left-radius: var(--border-radius-l);
	border-top-right-radius: var(--border-radius-l);
	padding: 0 var(--spacing-l);

	& > * {
		padding-top: var(--spacing-ms);
	}
}

.top-section {
	.left {
		icon-app {
			margin-right: var(--spacing-s);
		}
	}
}

editable-text-app {
	width: auto;
}
editable-label-app {
	font-size: var(--font-size-xxl);
	font-weight: 600;
	color: var(--color-txt-strong);
}