
<form [formGroup]="formGroup">

	<ng-container *ngIf="style === 'form'; else editable">
	
		<ng-container
			*ngFor="let section of sections">
	
			<h3 class="mg-v-m">{{ section.name }}</h3>
			<div class="flex">
				<div 
					*ngFor="let fields of section.columns; let isLast = last"
					[ngClass]="{ 'mg-right-m': !isLast }">
		
					<dynamic-field-app
						*ngFor="let field of fields" 
						class="mg-bottom-s"
						[field]="field"
						[formControlName]="field.definition.name">
					</dynamic-field-app>
		
				</div>
			</div>
	
		</ng-container>
	</ng-container>
	
	<ng-template #editable>
		<fieldset 
			*ngFor="let section of sections" 
			[name]="section.name">
	
			<div *ngFor="let column of section.columns">
	
				<dynamic-editable-field-app
					*ngFor="let field of column" 
					[field]="field">
				</dynamic-editable-field-app>
	
			</div>
		</fieldset>
	</ng-template>
</form>