<form #formElem [formGroup]="formGroup">

	<ng-container>
		<div class="flex">
			<div 
				*ngFor="let propertyDescriptors of section?.columns; let isLast = last"
				[ngClass]="{ 'mg-right-m': !isLast }"
				[ngStyle]="{ 'flex-basis': 100 / section.columns.length + '%' }">
				<ng-container *ngIf="style === 'form'; else editable">
					<dynamic-field-app
						*ngFor="let descriptor of propertyDescriptors" 
						[descriptor]="descriptor"
						[control]="formGroup.controls[descriptor.definition.name]"
						[showRequiredMarker]="showRequiredMarker">
					</dynamic-field-app>
				</ng-container>
				<ng-template #editable>
					<dynamic-editable-field-app
						*ngFor="let descriptor of propertyDescriptors" 
						[descriptor]="descriptor"
						[control]="formGroup?.controls[descriptor?.definition?.name]"
						(save)="onFormUpdate()">
					</dynamic-editable-field-app>
				</ng-template>
			</div>
		</div>

	</ng-container>
	
</form>
