<dialog-app>
	<dialog-header-app translate="header.team-votes"></dialog-header-app>

	<ng-container *ngFor="let vote of votes; last as last; trackBy: trackByFn">
		<div class="user-info-container flexBetween" [ngClass]="{ 'row': !last }">
			<div class="flex user-info">
				<user-picture-app [user]="vote.createdBy" [image]="vote?.createdBy?.avatar" [size]="24" [border]="true"></user-picture-app>
				<span class="name flexCenter">{{ vote?.createdBy?.firstName || '' }} {{ vote?.createdBy?.lastName || '' }}</span>
			</div>
			<rating-badge-app [score]="[vote.rating]"></rating-badge-app>
		</div>
	</ng-container>

	<dialog-footer-app>
		<button tabFocusAction autoFocus class="primary capitalize" (click)="closeDlg()" translate="button.close"></button>
	</dialog-footer-app>
</dialog-app>
