<card-app padding="ms">
	<ng-container *ngIf="product$ | async; else spinner">
		<!-- user -->
		<activity-user-app
			[user]="product.createdBy"
			[time]="product.creationDate"
			[action]="title">
		</activity-user-app>

		<!-- preview  -->
		<one-activity-carousel-app
			[images]="product?.images">
		</one-activity-carousel-app>

		<!-- actions on buttons -->
		<div class="action-section flexBetween">
			<action-bar-app
					[favorite]="product?.favorite"
					[votes]="product?.votes"
					(vote)="onVote($event)"
					(onFavorite)="onFavorite()"
					(onUnfavorite)="onUnfavorite()">
					<button class="icon light" (click)="openAddToProject()">
						<icon-app fontSet="svg" name="folder-light"></icon-app>
					</button>
			</action-bar-app>
			<div class="right flex">
				<button class="light" (click)="onViewProduct()">Open Product</button>
				<!-- <button class="icon light">
					<icon-app name="dots-vertical" class="color-txt-secondary"></icon-app>
				</button> -->
			</div>
		</div>

		<!-- information of the product -->
		<div class="flexColumn prodInfo">
			<span class="name">{{ product?.name }}</span>
			<div class="flex status-info flexWrap">
				<span *ngIf="product?.price?.value" class="price">
					{{ product.price.value | ssPrice | currency: product?.price?.currency:'symbol':'1.2-2' }}
				</span>
				<span *ngIf="product?.category?.name">{{ product.category.name }}</span>
				<span *ngIf="product?.supplier?.name" class="supplier">{{ product.supplier.name }}</span>
				<icons-status-app
					*ngIf="product?.score !== null"
					class="flex"
					[onlyLike]="true"
					[product]="product">
				</icons-status-app>
				<span *ngIf="product?.comments?.length > 0">
					{{ product.comments.length }} comment{{product.comments.length > 1 ? 's' : '' }}
				</span>
			</div>
			<div class="badges flex flexWrap">
				<status-badge-app
					size="mini"
					[round]="true"
					[typeEntity]="typeEntity"
					[status]="product?.status?.status">
				</status-badge-app>
				<info-badge-app *ngIf="product?.category?.name" type="category">{{ product.category.name }}</info-badge-app>
				<info-badge-app *ngFor="let tag of product?.tags;trackBy: trackByFn" type="tag">{{ tag.name }}</info-badge-app>
				<info-badge-app *ngFor="let project of product?.projects;trackBy: trackByFn" type="project">{{ project.name }}</info-badge-app>
			</div>
		</div>

	</ng-container>
	<card-footer-app *ngIf="product$ | async" align="left" class="flexColumn">
		<!-- here the comment component with previosu commennts loaded -->
		<comment-list-app [comments]="product?.comments"></comment-list-app>
		<div class="flexBetween">
			<textarea inputApp type="text" [formControl]="commentCtrl"
			placeholder="Leave a comment" (keydown.enter)="onEnter($event)"></textarea>
			<button *ngIf="inp?.focussed || commentCtrl.value" class="secondary-light" (click)="onSubmit()">Send</button>
		</div>
	</card-footer-app>

	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>

</card-app>
