

/////// theming ////////

@import '~@angular/material/theming';
@include mat-core();

// define a custom palette
// $app-accent:  mat-palette($mat-grey, A200, A100, A400);

$app-primary-palette: (
	50: #ffffff,
	100: $color-primary-light,
	200: $color-primary-light,
	300: $color-primary-light,
	400: $color-primary,
	500: $color-primary,
	600: $color-primary,
	700: $color-primary-dark,
	800: $color-primary-dark,
	900: $color-primary-dark,
	A100: #ffffff,
	A200: $color-primary-light,
	A400: $color-primary,
	A700: $color-primary-dark,
	contrast: (
			50: $black-87-opacity,
			100: $black-87-opacity,
			200: $black-87-opacity,
			300: $black-87-opacity,
			400: white,
			500: white,
			600: white,
			700: white,
			800: white,
			900: white,
			A100: $black-87-opacity,
			A200: $black-87-opacity,
			A400: $black-87-opacity,
			A700: white
	)
);


// mandatory stuff for theming
$app-primary: mat-palette($app-primary-palette);
$app-accent:  mat-palette($mat-grey);

// include the custom theme components into a theme object
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$candy-app-primary: mat-palette($mat-indigo);

$app-theme: mat-light-theme($app-primary, $app-accent);

// include the custom theme object into the angular material theme
@include angular-material-theme($app-theme);


////////// fixes /////////

mat-horizontal-stepper{
	background: transparent!important;
}

// change the styling of the header / icons in the stepper
mat-step-header{
	margin: 2rem 1rem;
}

.mat-step-header .mat-step-icon{
	background-color: var(--color-primary)!important;
	color:  var(--color-primary-contrast)!important;
}

.mat-step-header .mat-step-icon-not-touched {
	background: transparent!important;
	color: rgba(155,155,155,0.5)!important;
	border: 2px solid rgba(155,155,155,0.5)!important;
	font-weight: 600;
}

// makes the step icons smaller
.mat-step-icon, .mat-step-icon-not-touched{
	height: 44px!important;
	width: 44px!important;
}

// allow shardows in the stepper content
.mat-horizontal-stepper-content{
	padding: 0 10px!important;
}

// centers the spinner
mat-spinner{
	margin: auto;
}

// removes grey bottom border
.mat-tab-nav-bar, .mat-tab-header{
	border-bottom: 0!important;
}

// remove orange background on tab click
.mat-tab-group.mat-primary .mat-tab-label:focus, .mat-tab-group.mat-primary .mat-tab-link:focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:focus{
	background: transparent!important;
}

// icons are most likely to be have a pointer cursor
mat-icon{
	cursor: pointer;
}

// in dialogs controls are sometimes placed under the dialog. This resolve that issue.
.mat-select-panel{
	z-index: 9999;
}