
@import url('https://fonts.googleapis.com/css?family=Lato');


body{
    margin: 0;
    padding: 0;
		min-height: 100vh;
		background: var(--color-bg-secondary);
		font-family: Lato;
}

a{
	text-decoration: none;
	color: inherit;
}

i{
	font-style: normal;
}

i, button, menu, .button{
	cursor: pointer;
}

dialog{
	border: none;
}

::selection{
	background: var(--color-primary);
	color: var(--color-primary-contrast);
}

ul{
	margin:0;
	padding: 0;
}

strong{
	font-weight: 400;
	color: var(--color-warn);
}

section{
	margin-top: var(--spacing-big);
}

h2{
	margin-bottom: 32px;
}

menu {
	position: absolute;
	top: var(--spacing-bigger);
	right: var(--spacing-default);
	padding: 0;
	menuitem {
		cursor: pointer;
		background: var(--color-bg);
		padding: var(--spacing-default);
	}
	menuitem:hover {
		background: var(--color-bg-secondary);
	}
}

table.withBorder {
	border-spacing: 0;
	border-collapse: collapse;
	thead {
		text-align: left;
	}

	td, th {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding: var(--spacing-small);
	}
}



::-webkit-input-placeholder {
	font-style: italic;
}

:-moz-placeholder {
	font-style: italic;
}

::-moz-placeholder {
	font-style: italic;
}

:-ms-input-placeholder {
	font-style: italic;
}