
body{
    margin: 0;
    padding: 0;
		min-height: 100vh;
		background: var(--color-bg-secondary);
}

*:focus {
	outline: none;
}

a{
	text-decoration: none;
	color: inherit;
}

// used for icons
i{
	font-style: normal;
}

i, menu{
	cursor: pointer;
}

dialog{
	border: none;
}

::selection{
	background: var(--color-primary);
	color: var(--color-primary-contrast);
}

ul{
	margin:0;
	padding: 0;
}

section{
	margin-top: var(--spacing-xl);
}

menu {
	position: absolute;
	top: var(--spacing-xl);
	right: var(--spacing-default);
	padding: 0;
	menuitem {
		cursor: pointer;
		background: var(--color-bg);
		padding: var(--spacing-xs) var(--spacing-default);
	}
	menuitem:hover {
		background: var(--color-bg-secondary);
	}
}

table.withBorder {
	border-spacing: 0;
	border-collapse: collapse;
	thead {
		text-align: left;
	}

	td, th {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding: var(--spacing-s);
	}
}

::-webkit-input-placeholder {
	font-style: italic;
}

:-moz-placeholder {
	font-style: italic;
}

::-moz-placeholder {
	font-style: italic;
}

:-ms-input-placeholder {
	font-style: italic;
}

// scrollbar

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	height: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	background-color: var(--color-primary-dark);
}