
$colors: (
	'primary',
	'secondary',
	'warn',
	'success',
	'vibrant',
	'accent',
);


button, input[type="submit"], .button {
	@extend .ripple;
	display: inline-flex;
	align-items: center;
	padding: 0 var(--spacing-ms);
	cursor: pointer;
	font-weight: 600;
	line-height: 1.43;
	border-radius: var(--border-radius);
	font-size: var(--font-size-m);
	border: none;
	outline: none;
	margin: 0;
  box-sizing: border-box;
	font-family: inherit;
	white-space: nowrap;
	text-align: center;
	transition: background 0.3s;


	height: 32px;

	&::first-letter {
		text-transform: capitalize;
	}
	// size
	height: 32px;
	&.big {
		height: 36px;
	}
	&.small {
		height: 24px;
	}

	// defaults colors
	background: var(--color-primary);
	color: var(--color-primary-contrast);
	&:hover {
		background: var(--color-primary-dark);
	}

	&:disabled {
		background: transparent;
		color: var(--color-secondary);
	}

	&.light {
		background: transparent;
		color: var(--color-txt-secondary);
		&:hover, &.cdk-keyboard-focused {
			background: var(--color-secondary);
		}
	}

	&.icon {
		background: transparent;
		color: var(--color-txt-secondary);
		&:hover, &.cdk-keyboard-focused {
			background: var(--color-secondary);
		}
	}

	// colors
	@each $var in $colors {
		&.#{$var} {
			background: var(--color-#{$var});
			color: var(--color-#{$var}-contrast);
			&:hover, &:active, &.cdk-keyboard-focused {
				background: var(--color-#{$var}-dark);
			}
		}
		&.#{$var}-light {
			background: transparent;
			color: var(--color-#{$var});
			&:hover, &.cdk-keyboard-focused {
				background: var(--color-#{$var}-light);
			}
		}
	}


	// icons
	&.icon-with-text {
		display: inline-flex;
		align-items: center;
		icon-app {
			cursor: pointer;
			margin-right: var(--spacing-s);
		}
	}

	&.icon {
		width: 32px;
		height: 32px;
		font-size: inherit;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		min-width: unset;
		padding: 0;
		icon-app {
			cursor: pointer;
		}
	}

	&.icon.big {
		width: 36px;
		height: 36px;
		icon-app {
			font-size: var(--font-size-l);
		}
	}

}

// disabled buttons
button:disabled, input[type="submit"]:disabled {
	background: var(--color-secondary-light);
	color: var(--color-secondary);
	border: none;
	cursor: default;
}

.txt-btn {
	transition: 0.3s;
	&:hover {
		// we always want to replace the color when hovering, no matter what
		color: var(--color-primary) !important;
		text-decoration: underline;
		cursor: pointer;
	}
}

.clickable, .hoverable {
	transition: 0.3s;
	cursor: pointer;
	&:hover {
		background: var(--color-bg-third);
	}
}
