/*
Below is the snippet for creating elevation for angular material.

However they do create 24, elevation levels !!
I feel like this is way too much, ( https://en.wikipedia.org/wiki/The_Paradox_of_Choice ),

I picked 7 of those.

You can check for yourself the 24 level in actions here:

https://jsfiddle.net/jxbwqyo2/

to use elevation just add the class .z1 to .z6.; .z-h is for
hover elevation while z-a is for active elevation.

*/

$picked: (1, 2, 3, 4, 5, 6, 7);


// Colors for umbra, penumbra, and ambient shadows. As described in the design doc, each elevation
// level is created using a set of 3 shadow values, one for umbra (the shadow representing the
// space completely obscured by an object relative to its light source), one for penumbra (the
// space partially obscured by an object), and one for ambient (the space which contains the object
// itself). For a further explanation of these terms and their meanings, see
// https://en.wikipedia.org/wiki/Umbra,_penumbra_and_antumbra.


:root {
	--umbra-color: rgba(40, 110, 202, 0.09);
	--penumbra-color: rgba(44, 115, 169, 0.047);
	--ambient-color: rgba(48, 133, 214, 0.04);
}

// Maps for the different shadow sets and their values within each z-space. These values were
// created by taking a few reference shadow sets created by Google's Designers and interpolating
// all of the values between them.


$_umbra-elevation-map: (
  0: '0px 0px 0px 0px var(--umbra-color)',
  1: '0px 2px 1px -1px var(--umbra-color)',
  2: '0px 3px 1px -2px var(--umbra-color)',
  3: '0px 3px 3px -2px var(--umbra-color)',
  4: '0px 2px 4px -1px var(--umbra-color)',
  5: '0px 3px 5px -1px var(--umbra-color)',
  6: '0px 3px 5px -1px var(--umbra-color)',
  7: '0px 4px 5px -2px var(--umbra-color)',
  8: '0px 5px 5px -3px var(--umbra-color)',
  9: '0px 5px 6px -3px var(--umbra-color)',
  10: '0px 6px 6px -3px var(--umbra-color)',
  11: '0px 6px 7px -4px var(var(--umbra-color))',
  12: '0px 7px 8px -4px var(var(--umbra-color))',
  13: '0px 7px 8px -4px var(var(--umbra-color))',
  14: '0px 7px 9px -4px var(var(--umbra-color))',
  15: '0px 8px 9px -5px var(var(--umbra-color))',
  16: '0px 8px 10px -5px var(var(--umbra-color))',
  17: '0px 8px 11px -5px var(var(--umbra-color))',
  18: '0px 9px 11px -5px var(var(--umbra-color))',
  19: '0px 9px 12px -6px var(var(--umbra-color))',
  20: '0px 10px 13px -6px var(var(--umbra-color))',
  21: '0px 10px 13px -6px var(var(--umbra-color))',
  22: '0px 10px 14px -6px var(var(--umbra-color))',
  23: '0px 11px 14px -7px var(var(--umbra-color))',
  24: '0px 11px 15px -7px var(var(--umbra-color))'
);

$_penumbra-elevation-map: (
  0: '0px 0px 0px 0px var(--penumbra-color)',
  1: '0px 1px 1px 0px var(--penumbra-color)',
  2: '0px 2px 2px 0px var(--penumbra-color)',
  3: '0px 3px 4px 0px var(--penumbra-color)',
  4: '0px 4px 5px 0px var(--penumbra-color)',
  5: '0px 5px 8px 0px var(--penumbra-color)',
  6: '0px 6px 10px 0px var(--penumbra-color)',
  7: '0px 7px 10px 1px var(--penumbra-color)',
  8: '0px 8px 10px 1px var(--penumbra-color)',
  9: '0px 9px 12px 1px var(--penumbra-color)',
  10: '0px 10px 14px 1px var(--penumbra-color)',
  11: '0px 11px 15px 1px var(--penumbra-color)',
  12: '0px 12px 17px 2px var(--penumbra-color)',
  13: '0px 13px 19px 2px var(--penumbra-color)',
  14: '0px 14px 21px 2px var(--penumbra-color)',
  15: '0px 15px 22px 2px var(--penumbra-color)',
  16: '0px 16px 24px 2px var(--penumbra-color)',
  17: '0px 17px 26px 2px var(--penumbra-color)',
  18: '0px 18px 28px 2px var(--penumbra-color)',
  19: '0px 19px 29px 2px var(--penumbra-color)',
  20: '0px 20px 31px 3px var(--penumbra-color)',
  21: '0px 21px 33px 3px var(--penumbra-color)',
  22: '0px 22px 35px 3px var(--penumbra-color)',
  23: '0px 23px 36px 3px var(--penumbra-color)',
  24: '0px 24px 38px 3px var(--penumbra-color)'
);

$_ambient-elevation-map: (
  0: '0px 0px 0px 0px var(--ambient-color)',
  1: '0px 1px 3px 0px var(--ambient-color)',
  2: '0px 1px 5px 0px var(--ambient-color)',
  3: '0px 1px 8px 0px var(--ambient-color)',
  4: '0px 1px 10px 0px var(--ambient-color)',
  5: '0px 1px 14px 0px var(--ambient-color)',
  6: '0px 1px 18px 0px var(--ambient-color)',
  7: '0px 2px 16px 1px var(--ambient-color)',
  8: '0px 3px 14px 2px var(--ambient-color)',
  9: '0px 3px 16px 2px var(--ambient-color)',
  10: '0px 4px 18px 3px var(--ambient-color)',
  11: '0px 4px 20px 3px var(--ambient-color)',
  12: '0px 5px 22px 4px var(--ambient-color)',
  13: '0px 5px 24px 4px var(--ambient-color)',
  14: '0px 5px 26px 4px var(--ambient-color)',
  15: '0px 6px 28px 5px var(--ambient-color)',
  16: '0px 6px 30px 5px var(--ambient-color)',
  17: '0px 6px 32px 5px var(--ambient-color)',
  18: '0px 7px 34px 6px var(--ambient-color)',
  19: '0px 7px 36px 6px var(--ambient-color)',
  20: '0px 8px 38px 7px var(--ambient-color)',
  21: '0px 8px 40px 7px var(--ambient-color)',
  22: '0px 8px 42px 7px var(--ambient-color)',
  23: '0px 9px 44px 8px var(--ambient-color)',
  24: '0px 9px 46px 8px var(--ambient-color)'
);

// Applies the correct css rules to an element to give it the elevation specified by $zValue.
// The $zValue must be between 0 and 24.
@mixin mat-elevation($zValue) {
  @if type-of($zValue) != number or not unitless($zValue) {
    @error '$zValue must be a unitless number'$zValue;
  }
  @if $zValue < 0 or $zValue > 24 {
    @error '$zValue must be between 0 and 24';
  }

  box-shadow: #{map-get($_umbra-elevation-map, $zValue)},
              #{map-get($_penumbra-elevation-map, $zValue)},
              #{map-get($_ambient-elevation-map, $zValue)};
}

/* back to my picks */

@for $i from 1 through length($picked){
  $current: nth($picked, $i);

  .#{z}-#{$i}{
    @include mat-elevation($current);
  }
}


.z-h, .z-a{
	transition: all 0.28s cubic-bezier(.25, .8, .25, 1);
}

.z-h:hover, .z-a:active {
  @extend .z-5;
}
