.clickable {
  cursor: pointer;
}

.nonclickable {
  cursor: default;
}

.col {
  display: inline-block;
}

.col-5 {
  width: 5%;
}

.col-15 {
  width: 15%;
}

.col-20 {
  width: 20%;
}

.col-25 {
  width: 25%;
}

.col-30 {
	width: 30%;
}

.col-35 {
	width: 35%;
}

.col-40 {
	width: 40%;
}

.col-50 {
  width: 50%;
}

.col-90 {
  width: 90%;
}

.col-100 {
  width: 100%;
}

.centered-text {
  text-align: center;
}

.name-container {
	display: flex;

	icon-app,
	img-app,
	.icon-container,
	.text {
		display: inline-block;
		vertical-align: middle;
	}
}
