
// spacing
.noPadding {
	padding: 0;
}

.noMargin {
	margin: 0;
}

.paddingDefault {
	padding: var(--spacing-m);
}

.marginDefault {
	margin: var(--spacing-m);
}

.paddingSmall {
	padding: var(--spacing-s);
}

.marginSmall {
	margin: var(--spacing-s);
}

.marginExtraSmall {
	margin: var(--spacing-xs);
}

.borderRadius {
	border-radius: var(--border-radius);
}

/////// flex (used everywhere) /////////

.flex {
  display: flex;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexVAlign {
	display: flex;
	align-items: center;
}

.flexWrap {
	display: flex;
	flex-wrap: wrap;
}

.flexStart {
	display: flex;
	justify-content: flex-start;
}

.flexEnd {
	display: flex;
	justify-content: flex-end;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.flexGrow {
	flex-grow: 1;
}

.flexGrowDouble {
	flex-grow: 2;
}

.flexBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flexAround {
	display: flex;
	justify-content: space-around;
	align-items: center;
}


// align

.center {
	text-align: center;
}

// width and form

.fullWidth{
	// using important here for quick fix, running low on time
  width: 100%!important;
}

// pointer

.pointer {
	user-select: none;
  cursor: pointer;
}

.draggable {
	user-select: none;
	cursor: move;
}

.noselect {
	user-select: none;
}

.noPointer {
	cursor: default;
}
// colors

.selected {
	color: var(--color-primary);
}

// hr
.hr {
	height: 1px;
	background: var(--color-divider);
	width: 100%;
}

.hr2 {
	height: 2px;
	background: var(--color-divider);
	width: 100%;
}

.circle {
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
// txt

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// misc

.hidden {
	visibility: hidden;
	width: 0;
	height: 0;
}

.scrollable {
	overflow-x: hidden;
	overflow-y: auto;
}