// spacing

.noPadding {
	padding: 0;
}

.noMargin {
	margin: 0;
}

.paddingDefault {
	padding: var(--spacing-default);
}

.marginDefault {
	margin: var(--spacing-default);
}

.paddingSmall {
	padding: var(--spacing-s);
}

.marginSmall {
	margin: var(--spacing-s);
}

.borderRadius {
	border-radius: var(--border-radius);
}

/////// flex (used everywhere) /////////

.flex{
  display: flex;
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexWrap {
	display: flex;
	flex-wrap: wrap;
}

.flexStart {
	display: flex;
	justify-content: flex-start;
}

.flexEnd {
	display: flex;
	justify-content: flex-end;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.flexGrow {
	flex-grow: 1;
}

.flexBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


// align

.center {
	text-align: center;
}

// width and form

.fullWidth{
  width: 100%;
}

// pointer

.pointer{
	user-select: none;
  cursor: pointer;
}

.draggable {
	user-select: none;
	cursor: move;
}

.noselect {
	user-select: none;
}

// colors

.selected {
	color: var(--color-primary);
}

// hr
.hr {
	height: 1px;
	background: var(--color-delimiter);
	width: 100%;
}

.hr2 {
	height: 2px;
	background: var(--color-delimiter);
	width: 100%;
}

.cercle {
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
// txt

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}