@import './ripple';

// default style for inputs
input, textarea {
	background: var(--color-secondary-light);
	padding: var(--spacing-s);
	width: 100%;
	font-size: var(--font-size-m);
	box-sizing: border-box;
	font-family: inherit;
	color: var(--color-txt-primary);
	border: 1px solid var(--color-secondary);
	border-radius: var(--border-radius);
	&:not(.borderless).ng-invalid.ng-dirty {
		border: 1px solid var(--color-warn);
	}
	&:focus {
		border: 1px solid var(--color-primary);
	}
	&.small {
		padding: 3px;
	}
}

form-field-app.editable {
	padding-bottom: 0;
	flex-grow: 1;
	input {
		padding: 3px;
	}
}

form-field-app.borderless {
	padding-bottom: 0px;
	padding-top: 16px;
	box-sizing: border-box;
	label-app {
		font-size: var(--font-size-s);
		height: 14px;
		margin-bottom: 3px;
	}
	input, textarea {
		height: 25px;
		box-sizing: border-box;
		padding: 0;
		background: transparent;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid #e6ebf5;
		padding-bottom: 7px;
		&:not(.ng-pristine).ng-invalid {
			border-bottom: 1px solid var(--color-warn);
		}
		&:focus {
			border-bottom: 1px solid var(--color-primary);
		}
	}
}

form-field-app.boarding {

	label-app {
		font-size: var(--font-size-l);
		font-weight: 600;
	}
	input {
		margin-top: var(--spacing-m);
		font-size: var(--font-size-l);
		height: 50px;
		padding: var(--spacing-m);
	}
}



// buttons and submit
button, input[type="submit"], .button {
	@extend .ripple;
	display: inline-block;
	cursor: pointer;
	font-weight: 400;
	box-sizing: border-box;
	height: 32px;
	min-width: 100px;
	padding: 0px var(--spacing-ms);
	width: auto;
	border-radius: 2px;
	font-size: var(--font-size-m);
	background: var(--color-primary);
	border: none;
	outline: none;
	color: var(--color-primary-contrast);
	margin: 0;
  box-sizing: border-box;
	font-family: inherit;
	white-space: nowrap;
	text-align: center;
	transition: background 0.3s;
	&.small {
		min-width: 60px;
		height: 24px;
	}
	&:hover {
		background: var(--color-primary-dark);
	}
	&.secondary {
		background: var(--color-secondary);
		color: var(--color-txt-primary);
		&:hover {
			background: var(--color-secondary-dark);
			color: white;
		}
	}
	&.secondary-light {
		background: var(--color-secondary-light);
		color: var(--color-txt-primary);
		&:hover {
			background: var(--color-secondary-dark);
			color: white;
		}
	}
	&.secondary-dark {
		background: var(--color-txt-primary);
		color: white;
		&:hover {
			background: var(--color-secondary-dark);
			color: white;
		}
	}
	&.light {
		background: transparent;
		color: var(--color-txt);
		&:hover {
			background: var(--color-secondary);
		}
	}

	&.warn {
		background: var(--color-warn);
		&:hover {
			background: var(--color-warn-light);
		}
		&:active {
			background: var(--color-warn-dark);
		}
	}
	&.transparent {
		background: transparent;
		&:hover {
			background: var(--color-secondary);
		}
		color: inherit;
	}

	&.icon {
		width: 32px;
		height: 32px;
		padding: 6px;
		min-width: 0;
		font-size: inherit;
	}
	&.boarding {
		height: 40px;
    min-width: 120px;
	}
}

// disabled buttons
button:disabled, input[type="submit"]:disabled {
	background: var(--color-secondary);
	color: var(--color-secondary-dark);
	border: none;
	cursor: default;
}

.txtBtn:hover{
	color: var(--color-primary);
	text-decoration: underline;
	cursor: pointer;
}

textarea::placeholder, input::placeholder {
	color: var(--color-txt-secondary);
}

input[type="file"] {
	display: none;
}
