@import './ripple';

// default style for inputs
input {
	height: 32px;
}

// input date, we hide arrows display, since it generates weird UI when resizing input height
input[type=date]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	display: none;
}

// date caret arrow size (normalized)
input[type=date]::-webkit-calendar-picker-indicator {
	font-size: 8px;
}

input, textarea {
	&::placeholder {
		color: var(--color-txt-third);
	}
}

// when cdk focuses with a11y module they use this classes to tell the user the focus/selection/hover...
// buttons have already a style for it
// :not(button)
.cdk-focused.cdk-keyboard-focused {
	border: 1px solid var(--color-primary);
	border-radius: var(--border-radius);
}

input, textarea {
	padding: 0 var(--spacing-s);
	width: 100%;
	font-size: var(--font-size-m);
	box-sizing: border-box;
	font-family: inherit;
	color: var(--color-txt-primary);
	border: 1px solid var(--color-secondary);
	border-radius: var(--border-radius);

	// putting ng-invalid before focus because on focus we want it blue
	&.ng-invalid:not(.ng-untouched) {
		border-color: var(--color-warn);
	}
	&:focus {
		border-color: var(--color-primary);
	}
	&.small {
		height: 24px;
	}
	&:read-only, &:disabled {
		background: var(--color-secondary-light);
    cursor: default;
    border-color: var(--color-secondary);
	}
}

// override the color of the textarea
textarea {
	color: var(--color-txt-primary);
	padding-top: var(--spacing-s);
	resize: none;
}

editable-container-app input, 
editable-container-app input:focus, 
editable-field-app input,
input.inline {
	padding: 0;
	border: none;
	border-radius: 0;
	background: transparent;
	height: unset;
}

editable-field-app input {
	text-align: right;
}

input[type="file"] {
	display: none;
}



