
button, input[type="submit"]{
	cursor: pointer;
	box-sizing: border-box;
	margin-top: var(--spacing-big);
	border-radius: 4px;
	background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-primary-light) 100%);
	border: none;
	outline: none;
	color: var(--color-primary-contrast);
	padding: var(--spacing-default) var(--spacing-xl);
}

button.small{
		padding: var(--spacing-smaller) var(--spacing-default);
		margin: 0;
}

button.secondary{
	background: var(--color-secondary);
	color: var(--color-secondary-contrast);
}

// input{
// 	box-sizing: border-box;
// 	border-radius: var(--border-radius);
// 	font-size: 14px;
// 	border: var(--border-width) solid #cccccc;
// 	padding: 7px;
// 	outline: 0;
// }

.inp-box{
	margin-bottom: 16px;
	.error{
		margin-top: 8px;
	}
}

// input:focus{
// 	border-color: var(--color-primary);
// 	box-shadow: 0 0 4px 1px var(--color-primary-dark);
// }

label{
	color: #2B303B;
	font-size: 14px;
	font-weight: bold;
	line-height: 17px;
	margin-bottom: 10px;
	display: block;
}

fieldset{
	border: none;
	margin-top: var(--spacing-big);
}

fieldset legend{
	color: var(--color-primary);
	border-bottom: none;
	margin-bottom: 16px;
	padding: 0;
}


.inp-error{
	border-color: #D0021B;
}

.error{
	margin-top: 10px;
	color: var(--color-warn);
	font-size: 0.875rem;
	font-style: italic;
}

.twoColsForm .fields{
	display: flex;
}
.twoColsForm .fields > *{
	width: 50%;
}
