input {
	background: transparent;
}

button, input[type="submit"]{
	cursor: pointer;
	box-sizing: border-box;
	margin-top: var(--spacing-bigger);
	border-radius: 4px;
	background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-primary-light) 100%);
	border: none;
	outline: none;
	color: var(--color-primary-contrast);
	padding: var(--spacing-default) var(--spacing-xl);
}

button.small{
		padding: var(--spacing-smaller) var(--spacing-default);
		margin: 0;
}

button.secondary{
	background: var(--color-secondary);
	color: var(--color-secondary-contrast);
}

.inp-box{
	margin-bottom: 16px;
	.error{
		margin-top: 8px;
	}
}

fieldset{
	border: none;
	margin-top: var(--spacing-bigger);
}

fieldset legend{
	color: var(--color-primary);
	border-bottom: none;
	margin-bottom: 16px;
	padding: 0;
}


.inp-error{
	border-color: #D0021B;
}

.error{
	margin-top: 10px;
	color: var(--color-warn);
	font-size: 0.875rem;
	font-style: italic;
}

.twoColsForm .fields{
	display: flex;
}
.twoColsForm .fields > *{
	width: 50%;
}
