@import './ripple';

// default style for inputs
input {
	height: 32px;
}

input, textarea {
	&::placeholder {
		color: var(--legacy-color-secondary-dark);
	}
}

// when cdk focuses with a11y module they use this classes to tell the user the focus/selection/hover...
// buttons have already a style for it
// :not(button)
.cdk-focused.cdk-keyboard-focused {
	border: 1px solid var(--legacy-color-primary);
	border-radius: var(--border-radius);
	&.focus-left-border {
		border-left: 4px solid var(--legacy-color-primary);
	}
}

input, textarea {
	padding: 0 var(--spacing-s);
	width: 100%;
	font-size: var(--font-size-m);
	box-sizing: border-box;
	font-family: inherit;
	color: var(--legacy-color-txt-primary);
	border: 1px solid var(--legacy-color-secondary);
	border-radius: var(--border-radius);
	&:not(.borderless).ng-invalid.ng-dirty:not(:focus) {
		border: 1px solid var(--legacy-color-warn);
		border-left: 4px solid var(--legacy-color-warn);
	}
	&:focus:not(textarea) {
		border: 1px solid var(--legacy-color-primary);
		border-left: 4px solid var(--legacy-color-primary);
		padding-left: 5px;
	}
	&:focus:not(input) {
		border: 1px solid var(--legacy-color-primary);
	}
	&.small {
		padding: 3px;
	}
	&:not([type="submit"]):disabled {
		background: var(--legacy-color-secondary-light);
		color: var(--legacy-color-txt-strong);
	}
}

// override the color of the textarea
textarea {
	color: var(--legacy-color-txt-strong);
	padding-top: var(--spacing-s);
	resize: none;
}

form-field-app.editable {
	padding-bottom: 0;
	flex-grow: 1;
	input {
		padding: 3px;
	}
}

form-field-app.borderless {
	padding-bottom: 0px;
	padding-top: 16px;
	box-sizing: border-box;

	input, textarea {
		height: 25px;
		box-sizing: border-box;
		padding: 0;
		background: transparent;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid #e6ebf5;
		padding-bottom: 7px;
		&:not(.ng-pristine).ng-invalid {
			border-bottom: 1px solid var(--legacy-color-warn);
		}
		&:focus {
			border-bottom: 1px solid var(--legacy-color-primary);
		}
	}
}

form-field-app.boarding {

	label-app {
		font-size: var(--font-size-l);
		font-weight: 600;
	}

	input {
		margin-top: var(--spacing-m);
		font-size: var(--font-size-l);
		height: 50px;
		padding: var(--spacing-m);
	}
}

form-field-app.field-focused {
	label-app {
		color: var(--legacy-color-primary);
	}
	input {
		border-left: 4px solid var(--legacy-color-primary)
	}
}

form-field-app.modal {
	label-app {
		color: var(--legacy-color-txt-strong);
		font-weight: normal;
		text-transform: none;
	}
	input, textarea {
		background: white;
	}
}

form-field-app.field-error {
	&:not(.field-focused) {
		label-app {
			color: var(--legacy-color-warn);
		}
	}
}

$colors: (
	'primary',
	'secondary',
	'warn',
	'success',
	'vibrant',
	'accent',
);

// buttons and submit
button, input[type="submit"], .button {
	@extend .ripple;
	display: inline-block;
	cursor: pointer;
	box-sizing: border-box;
	font-weight: 600;
	height: 32px;
	padding: 0px var(--spacing-ms);
	width: auto;
	border-radius: 2px;
	font-size: var(--font-size-m);
	background: var(--legacy-color-primary);
	border: none;
	outline: none;
	color: var(--legacy-color-primary-contrast);
	margin: 0;
  box-sizing: border-box;
	font-family: inherit;
	white-space: nowrap;
	text-align: center;
	transition: background 0.3s;

	@each $var in $colors {
		&.#{$var} {
			background: var(--color-#{$var});
			color: var(--color-#{$var}-contrast);
			&:hover, &:active, &.cdk-keyboard-focused {
				background: var(--color-#{$var}-dark);
			}
		}
	}

	&.light {
		background: transparent;
		color: var(--color-txt);
		&:hover, &.cdk-keyboard-focused {
			background: var(--color-secondary-light);
		}
	}

	&.primary-light {
		background: transparent;
		color: var(--color-primary);
		&:hover, &.cdk-keyboard-focused {
			background: var(--color-bg-secondary);
		}
	}


	&::first-letter {
		text-transform: capitalize;
	}

	&.small {
		min-width: 60px;
		height: 24px;
	}

	&.boarding, &.big {
		height: 40px;
    min-width: 120px;
	}

	&:hover, &.cdk-keyboard-focused {
		background: var(--color-primary-dark);
	}

	// when the button is just an icon
	&.icon {
		width: 32px;
		height: 32px;
		padding: 6px;
		min-width: 0;
		font-size: inherit;
	}

	// when there is an icon + text
	&.icon-with-text {
		icon-app {
			margin-right: 6px;
		}
	}

}

// disabled buttons
button:disabled, input[type="submit"]:disabled {
	background: var(--legacy-color-secondary);
	color: var(--legacy-color-secondary-dark);
	border: none;
	cursor: default;
	&:hover {
		background: var(--legacy-color-secondary);
		color: var(--legacy-color-secondary-dark);
		border: none;
		cursor: default;
	}
}

.txt-btn:hover{
	color: var(--legacy-color-primary);
	text-decoration: underline;
	cursor: pointer;
}

input[type="file"] {
	display: none;
}



.clickable, .hoverable {
	cursor: pointer;
	&:hover {
		background: var(--color-bg-secondary);
	}
}

