:root{
	--color-primary: #F46B45;
	--color-primary-contrast: #fff;
	--color-primary-light: #EEA849;
	--color-primary-light-contrast: #4A4A4A;
	--color-primary-dark: rgba(244,107,69,0.5);
	--color-primary-dark-contrast: #fff;

	--color-txt-primary: #4A4A4A;
	--color-txt-secondary: #555;
	--color-bg: #fff;
	--color-bg-secondary: #FAFAFA;


	--color-secondary: rgba(205,205,205,0.5);
	--color-secondary-contrast: #4A4A4A;
	// --color-secondary-light: ;
	// --color-secondary-dark: ;

	--color-warn: #D0021B;

	--color-success: #7ed092;

}
