
:root{
	--color-primary: #41AFFF;
	--color-primary-contrast: white;
	--color-primary-light: #6bbeff;;
	--color-primary-dark: #2e88cf;

	--color-secondary-light: #f9fafc;
	--color-secondary: #e6ebf5;
	--color-secondary-dark: #a3afc6;


	--color-txt-primary: #5D6D8B;
	--color-txt-secondary: #A3AFC6;
	--color-txt-third: #e0e0e0;
	--color-txt-strong: #182844;
	--color-divider:  #e6ebf5;

	--color-bg: #fff;
	--color-bg-secondary: #f3f5f8;

	--color-warn: #ec495d;
	--color-warn-light: #f94259;
	--color-warn-dark: #ca263a;

	--color-success: #71e591;
	--color-success-dark: #48d26f;
}


/* Color classes */

.color-success {
  color: var(--color-success);
}

.color-primary {
	color: var(--color-primary);
}

.color-primary-light{
	color: var(--color-primary-light);
}

.color-primary-dark {
	color: var(--color-primary-dark);
}

.color-warn {
	color: var(--color-warn);
}
.color-txt-dark {
	color: var(--color-txt-primary);
}

.color-txt-light {
	color: white;
}

.color-txt-secondary {
	color: var(--color-secondary-dark);
}

/* Background */

.bg-primary, .bg-inProgress {
	background: var(--color-primary);
}

.bg-secondary {
	background: var(--color-secondary);
}

.bg-success, .bg-validated {
	background-color: var(--color-success);
}

.bg-warn, .bg-rejected {
	background-color: var(--color-warn);
}

.bg-inspiration {
	background-color: var(--color-secondary-dark);
}
