
:root{
	--spacing-none: 0px;
	--spacing-xs: 4px;
	--spacing-s: 8px;
	--spacing-ms: 12px;
	--spacing-m: 16px;
	--spacing-l: 24px;
	--spacing-xl: 32px;
	--spacing-xxl: 64px;

	--border-radius: 4px;
	--border-radius-s: 2px;
	--spacing-edge: 50px;
	--spacing-nav: 10px;
}

.mg-none {
	margin: var(--spacing-none);
}

.mg-xs {
	margin: var(--spacing-xs);
}

.mg-s {
	margin: var(--spacing-s);
}

.mg-m {
	margin: var(--spacing-m);
}

.mg-l {
	margin: var(--spacing-l);
}

.mg-xl {
	margin: var(--spacing-xl);
}

.pd-none {
	padding: var(--spacing-none);
}

.pd-xs {
	padding: var(--spacing-xs);
}

.pd-s {
	padding: var(--spacing-s);
}

.pd-m {
	padding: var(--spacing-m);
}

.pd-l {
	padding: var(--spacing-l);
}

.pd-xl {
	padding: var(--spacing-xl);
}

.border-radius {
	border-radius: var(--border-radius);
}
