
:root{
  --spacing-smaller: 8px;
  --spacing-small: 10px;
  --spacing-default: 16px;
  --spacing-big: 32px;
	--spacing-bigger: 50px;
	--spacing-xl: 77px;

	--border-radius: 4px;
	--border-width: 1px;
}