
.table-page {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100%;

	controller-table-app {
		margin: var(--spacing-ms) var(--spacing-l) 0 var(--spacing-l);
	}

	.entity-table {
		flex-grow: 1;
		margin: var(--spacing-ms) var(--spacing-l);
		display: flex;
		box-sizing: border-box;
		overflow: hidden;
	}

	.card-view {
		overflow-y: auto;
	}

	.spacing-ms {
		margin: var(--spacing-ms);
	}
}

.table-dialog {
	display: flex;
	flex-direction: column;
	overflow: hidden;

	controller-table-app {
		margin-top: var(--spacing-ms);
	}

	.entity-table {
		flex-grow: 1;
		margin-top: var(--spacing-ms);
		display: flex;
		box-sizing: border-box;
		overflow: hidden;
	}
}

.details-page {
	display: flex;
	flex-direction: column;
	height: 100%;
}


