/* */

@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

:root {
	--font-size-xxs: 8px;
	--font-size-xs: 10px;
	--font-size-s: 12px;
	--font-size-m: 14px;
	--font-size-l: 16px;
	--font-size-xl: 18px;
  --font-size-xxl: 20px;
	--font-size-xxxl: 24px;
	--font-size-huge: 30px;
	--font-normal: 'Source Sans Pro', Roboto, sans-serif;
	--font-title: 'Raleway', sans-serif;

}

.fs-xxs {
	font-size: var(--font-size-xxs);
}

.fs-xs {
	font-size: var(--font-size-xs);
}

.fs-s {
  font-size: var(--font-size-s);
}

.fs-m {
  font-size: var(--font-size-m);
}

.fs-l {
  font-size: var(--font-size-l);
}

.fs-xl {
  font-size: var(--font-size-xl);
}

.fs-xxl {
  font-size: var(--font-size-xxl);
}

.fs-xxxl {
  font-size: var(--font-size-xxxl);
}

.fs-huge {
  font-size: var(--font-size-huge);
}

.capitalize, [capitalize] {
	text-transform: capitalize;
}

.bold {
	font-weight: bold;
}

.bold-s {
	font-weight: 600;
}

/* body 1 */
body, .body, .body1 {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	color: var(--color-txt-primary);
	font-size: var(--font-size-m);
	// seems like the commented line below might do some weird stuff
	// text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-family: 'Raleway';
	font-size: var(--font-size-xxl);
}

h2, h3 {
	font-weight: 500;
	margin: 0;
}

h2 {
  margin-bottom: var(--spacing-ms);
	font-size: var(--font-size-l);
  font-size: var(--font-size-l);
  font-weight: 600;
	color: var(--color-txt-strong);
	text-transform: capitalize;
}

// used on top of cards
h3 {
	text-align: center;
  margin-bottom: var(--spacing-l);
  font-size: var(--font-size-xxl);
}

h4 {
	font-size: var(--font-size-l);
	font-weight: 500;
	color: var(--color-txt-strong);
	margin: 0;
	margin-bottom: var(--spacing-s);
}

h5 {
	font-size: var(--font-size-l);
	color: var(--color-primary);
	font-weight: normal;
	margin: 0;
	margin-bottom: var(--spacing-s);
}

label {
	font-weight: 600;
	display: block;
	font-weight: 600;
	color: var(--color-txt-primary);
	margin-bottom: var(--spacing-s);
	text-transform: capitalize;
}

strong {
	color: var(--color-txt-strong);
	font-weight: 500;
}

small {
	font-size: var(--font-size-s);
	color: var(--color-txt-secondary);
}


time {
	line-height: 1.4;
	font-size: var(--font-size-s);
	color: var(--color-txt-secondary);
}

.txt-secondary {
	color: var(--color-txt-secondary);
}

b {
	font-weight: bold;
}

b.semi {
	font-weight: 600;
}

.italic {
	font-style: italic;
}