/* This file changes the different typography value
 for some html tags to be more in line with material
 design specs. */

/* Look here to know where values come from
https://material.io/guidelines/style/typography.html#typography-styles
summary there:
https://getmdl.io/styles/index.html */


/* body 1 */
body, .body, .body1 {
	/* perf optimisation : Default font is the one from OS,
	huge drawback is that it's not displaying font-weight: 500
	correctly on ubuntu. Not sure about other OS's.
	If it's only ubuntu it's no big deal but if other OS's
	don't display it either we might want to revert to Roboto font only */
	font-family: -apple-system,system-ui,"Segoe UI",Roboto,
	Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	color: var(--color-txt-primary);
	// seems like the commented line below might do some weird stuff
	// text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

strong {
	color: var(--color-txt-strong);
	font-weight: 500;
}

small {
	font-size: 11;
	color: var(--color-txt-secondary);
}