/* This file changes the different typography value
 for some html tags to be more in line with material
 design specs. */

/* Look here to know where values come from
https://material.io/guidelines/style/typography.html#typography-styles
summary there:
https://getmdl.io/styles/index.html */

@import url('https://fonts.googleapis.com/css?family=Raleway');


:root {
	--font-size-xs: 9px;
	--font-size-s: 11px;
	--font-size-default: 13px;
	--font-size-l: 15px;
	--font-size-xl: 17px;
  --font-size-xxl: 19px;
  --font-size-xxxl: 24px;
}



[fs-xs] {
  font-size: var(--font-size-xs);
}
[fs-s] {
  font-size: var(--font-size-s);
}
[fs-default] {
  font-size: var(--font-size-default);
}
[fs-l] {
  font-size: var(--font-size-l);
}
[fs-xl] {
  font-size: var(--font-size-xl);
}
[fs-xxl] {
  font-size: var(--font-size-xxl);
}
[fs-xxxl] {
  font-size: var(--font-size-xxxl);
}

.capitalize, [capitalize] {
	text-transform: capitalize;
}

.bold {
	font-weight: bold;
}

.bold-s {
	font-weight: 600;
}

/* body 1 */
body, .body, .body1 {
	/*  Default font is the one from OS */
  font-family: SourceSansPro-Regular, -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	color: var(--color-txt-primary);
	font-size: var(--font-size-default);
	// seems like the commented line below might do some weird stuff
	// text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


h2, h3 {
	font-weight: 500;
	margin: 0;
}

h2 {
  margin-bottom: var(--spacing-l);
	font-size: var(--font-size-l);
	font-family: Raleway, 'sans-serif';
  font-size: 15px;
  font-weight: 600;
	color: var(--color-txt-strong);
	text-transform: capitalize;
}

// used on top of cards
h3 {
	text-align: center;
  margin-bottom: var(--spacing-l);
  font-size: var(--font-size-xxl);
}

h4 {
	font-size: var(--font-size-l);
	font-weight: 500;
	color: var(--color-txt-strong);
	margin: 0;
	margin-bottom: var(--spacing-s);
}

h5 {
	font-size: var(--font-size-l);
	color: var(--color-primary);
	font-weight: normal;
	margin: 0;
	margin-bottom: var(--spacing-s);
}

label {
  font-weight: 600;
}

strong {
	color: var(--color-txt-strong);
	font-weight: 500;
}

small {
	font-size: var(--font-size-s);
	color: var(--color-txt-secondary);
}

label {
	font-size: var(--font-size-s);
	font-weight: 500;
}

time {
	line-height: 1.4;
	font-size: var(--font-size-s);
	color: var(--color-txt-secondary);
}

.txt-secondary {
	color: var(--color-txt-secondary);
}
