:root {
  --z-max:                  9999;
  --z-base:                 1;
  --z-button:               2;
  --z-notification:         10;
  --z-cardContainer:        4;
  --z-selection-bar:        5;
  --z-selector:             6;
  --z-dialog:               7;
  --z-dialog-container:     8;
  --z-draganddrop-progress: 9;
}
