:host {
	display: block;
	cursor: pointer;
	padding: var(--spacing-s);
  border: 1px solid var(--color-divider);
	border-radius: var(--border-radius);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.place-holder {
	color: var(--color-txt-secondary);
	font-style: italic;
}

icon-app {
	font-size: 4px;
	color: var(--color-secondary-dark);
}
