:host {
	display: block;
	background: white;
	width: 424px;
	border-radius: var(--border-radius-s);
	overflow: overlay;
	border: 1px solid var(--legacy-color-secondary);

	position: relative;
	z-index: var(--z-base);
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	height: unset;

}

.logo-transparent {
	height: 50px
}
