:host {
	display: block;
	padding: var(--spacing-xs);
	background: white;
	width: 100%;
	border-radius: var(--border-radius);
	overflow: overlay;
	position: relative;
	z-index: var(--z-base);
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	height: unset;
}

.logo-transparent {
	height: 50px
}
