dialog-app {
	width: 700px;
	min-height: 187px;

	&.pending {
		width: 528px;
		padding-bottom: var(--spacing-ms);
	}
	.settings-image {
		height: 87px;
    width: 92px;
		margin-right: var(--spacing-l);
		font-size: 92px;
	}
	.generating-message {
		width: 100%;
		color: var(--color-txt-strong);
		white-space: nowrap;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
	}

	.status-container {
		height: 40px;
		padding: var(--spacing-m) 0px;

		.status-info {
			font-size: var(--font-size-s);
			color: var(--color-txt-primary);
			margin-top: var(--spacing-xs);
		}
	}

	.loading {

		.bar-container {
			height: 20px;
			background: var(--color-secondary);

			.moving-bar {
				height: 100%;
				background: var(--color-primary);
				width: 120px;
				transition: transform .2s ease-in-out;
				animation: horizontal-motion 2.5s linear 0.1s infinite normal;
			}
		}
	}

	.export-ready {
		font-size: var(--font-size-l);

		.file {
			color: var(--color-txt-primary);
			font-size: 30px;
			margin-right: var(--spacing-m);
			margin-left: var(--spacing-s);
		}
	}

	.open-export {
		margin-right: var(--spacing-ms);
	}

	dialog-footer-app {
		margin-top: 0px;
		border-top: 1px solid var(--color-divider);
    padding-top: var(--spacing-s);
	}
}



@keyframes horizontal-motion {
	0% {
		transform: translateX(0px);
	}
	50% {
		transform: translateX(292px);
	}
	100% {
		transform: translateX(0px);
	}
}



.exportRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 var(--spacing-xxxl);
  .exportCell {
		width: 220px;
		height: 180px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 2px solid transparent;
		border-radius: 4px;
		&:first-child {
				margin-right: var(--spacing-m);
		}
		&:last-child {
				margin-left: var(--spacing-m);
		}
		cursor: pointer;
		icon-app {
			font-size: 48px;
			color: var(--color-txt-secondary);
			margin-bottom: var(--spacing-m);
		}
		&.image {
			margin-top: 8px;

			icon-app {
				font-size: 40px;
			}
		}
		.title {
				font-weight: 600;
				color: var(--color-button-dark);
		}
		.subtitle {
				color: var(--color-txt-secondary);
		}
		&.selected {
				border: 2px solid var(--color-primary);
				icon-app {
						color: var(--color-primary);
				}
		}
		&:hover {
			background: rgba(93, 109, 139, 0.05);
		}
  }
}