<top-panel-details-app
	[title]="request?.title"
	[elevated]="false">
	<img-app
		[image]="request?.requestElements[0]?.images"
		type="request"
		size="s">
	</img-app>

	<div subinfo class="flex dot-separator">
		<div>{{ request?.creationDate | date: 'dd MMMM yy \'at\' HH:mm' }}</div>
		<div *ngIf="request?.sender?.name">{{ request.sender.name }}</div>
		<div *ngIf="request?.sender?.company">{{ request.sender.company }}</div>
		<div>
			{{ ((request?.requestElements?.length || 0) > 1 ? 'OBJ.n-element.plural' : 'OBJ.n-element.singular') | translate: {count: request?.requestElements?.length || 0} }}
		</div>
	</div>
</top-panel-details-app>