<top-panel-details-app
	[title]="request?.title">
	<img-app [image]="request?.requestElements[0]?.image" type="product" size="s"></img-app>

	<div subinfo class="flex dot-separator">
		<div>{{request?.creationDate | date: 'dd MMMM yy \'at\' HH:mm'}}</div>
		<div *ngIf="request?.sender?.name">{{ request?.sender?.name }}</div>
		<!-- <div *ngIf="request?.sender?.company">{{ request?.sender?.company }}</div> -->
		<div>{{ request?.requestElements?.length }} {{ request?.requestElements?.length === 1 ? 'Element' : 'Elements' }} </div>
	</div>
</top-panel-details-app>