:host {
	display: block;
  // width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	width: calc(100vw - 72px);
	// TODO
	height: calc(100vh - 161px);
	// height: calc(100vh - 178px);

	&.full-width {
		width: 100vw;
	}
}

article{
	overflow: hidden;
	padding: 0;
}

.ctnr {
	padding-left: var(--spacing-m);
	// overflow: auto;
	// TODO
	height: calc(100vh - 190px);
	// height: calc(100vh - 214px);

	&.without-sidenav {
		padding-left: 0;
		justify-content: space-around;
	}
}

kanban-col-app {
	min-width: 340px;
	margin-top: var(--spacing-m);
	// TODO
	// min-height: calc(100vh - 212px);
	min-height: calc(100vh - 227px);
}

.card-container {
	position: relative;
	height: 100%;
  min-height: 100%;

	&:hover .contextual-menu {
		display: block;

		&.drag-in-progress {
			display: none;
		}
	}
}

.contextual-menu {
	position: absolute;
	bottom: 13px;
	right: 13px;
	display: none;

	&.drag-in-progress {
		display: none;
	}
}
