
<ng-container *ngIf="statuses">
	<div class="flex ctnr" [ngClass]="{ 'without-sidenav': withoutSidenav }" [ngStyle]="{ height: 'calc(100vh - ' + ((heightOffset ? heightOffset - 3 : 0) + 190) + 'px)' }">

		<kanban-col-app
		  [ngStyle]="{ height: 'calc(100vh - ' + (heightOffset + 194) + 'px)' }"
			[dropzoneApp]="status"
			[data]="status"
			[disabled]="status.name === '_NoStatus'"
			[checked]="hasAllItemsSelected(selectedItems, status)"
			(itemDropped)="onItemDropped($event)"
			(itemEntered)="onItemEntered(status.id)"
			(itemLeft)="onItemLeft(status.id)"
			(checkChange)="onCheckItemsChange(status, $event)"
			[label]="status.name | const:'status':'name'"
			borderColor="{{ status.id }}"
			[namespace]="status.id"
			*ngFor="let status of statuses; let i = index">
				<div class="card-container" *ngFor="let product of status.products; let j = index; trackBy:trackByFn">
					<kanban-item-app
							class="item"
							[namespace]="getCurrentStatusTypeId(product)"
							[data]="product"
							(dragStart)="dragStart()"
							(dragEnd)="dragEnd()">
						<kanban-item-card-app class="marginSmall" [title]="product.name"
							[status]="product.status?.name"
							[favorite]="product.favorite"
							[tags]="product.tags"
							[price]="product.price"
							[minimumOrderQuantity]="product.minimumOrderQuantity"
							[category]="status.category"
							[description]="product.description ? product.description : 'No description'"
							[image]="product.images?.length > 0 ? (product | image:'m') : null"
							[person]="product.createdBy"
							[link]="'/product/details/' + product.id + '/general'"
							[checked]="isSelected(selectedItems, product.id)"
							[product]="product"
							[dragInProgress]="dragInProgress"
							(select)="selectItem.emit(product)"
							(unselect)="unselectItem.emit(product)">
						</kanban-item-card-app>
					</kanban-item-app>
					<div class="contextual-menu" [ngClass]="{ 'drag-in-progress':	dragInProgress }">
						<ng-container
							*ngTemplateOutlet="contextualMenu; context: { column: column, row: row }">
						</ng-container>
					</div>
				</div>
		</kanban-col-app>

	</div>

</ng-container>
