article{
	overflow: hidden;
	padding: 0;
}

.ctnr {
	padding-left: var(--spacing-m);
	overflow: auto;
}

kanban-col-app {
	min-width: 340px;
	margin-top: var(--spacing-m);
}

.card-container {
	position: relative;
}

.contextual-menu {
	position: absolute;
	bottom: 2px;
	right: 9px;
}
