
<ng-container *ngIf="statuses">
	<div class="flex ctnr">

		<kanban-col-app
			[dropzoneApp]="status"
			[disabled]="status.name === '_NoStatus'"
			(itemDropped)="onItemDropped($event)"
			(itemEntered)="onItemEntered(status.id)"
			(itemLeft)="onItemLeft(status.id)"
			[label]="status.name | const:'status':'name'"
			borderColor="{{ status.id }}"
			[namespace]="status.id"
			*ngFor="let status of statuses; let i = index">
				<kanban-item-app
						class="item"
						[namespace]="getCurrentStatusId(product)"
						[data]="product"
						*ngFor="let product of status.products; let j = index; trackBy:trackByFn">
					<kanban-item-card-app class="marginSmall" [title]="product.name"
						[status]="product.status?.name" [subtitle1]="product.description ? product.description : 'No description'"
						[category]="status.category"
						[subtitle2]="product.category?.name"
						[image]="product.images?.length > 0 ? (product | image:'m') : null"
						[person]="product.createdBy"
						[link]="'/product/details/' + product.id + '/general'"
						[contextualMenu]="contextualMenu"
						(select)="selectItem.emit(product)"
						(unselect)="unselectItem.emit(product)">
					</kanban-item-card-app>
				</kanban-item-app>
		</kanban-col-app>

	</div>

</ng-container>
