:host {
	position: relative;
	display: block;
}

.articles {
	flex-wrap: wrap;
}


article, .plus {
	margin: var(--spacing-xs) var(--spacing-xs) var(--spacing-xs) 0;
	padding: 2px 4px;
	border: 1px solid grey;
	border-radius: var(--border-radius);
	font-size: 0.8rem;
}
