:host {
	position: relative;
	display: block;
}

.articles {
	flex-wrap: wrap;
}

article, .plus {
	margin: var(--spacing-smaller);
	padding: var(--spacing-small) var(--spacing-default);
	border: 1px solid grey;
	border-radius: var(--border-radius);
}