<ng-container [ngSwitch]="field.definition.type">

	<!-- STRING -->
	<ng-container *ngSwitchDefault>
		<form-field-app [showRequiredMarker]="true">
			<label-app>{{ field.definition.label }}</label-app>
			<input 
				#inp
				inputApp
				type="text"
				[value]="control.value"
				[readonly]="field.readonly"
				[required]="field.required"
				[formControl]="control"/>
			<hint-app>{{ field.hint }}</hint-app>
		</form-field-app>
	</ng-container>

	<!-- INT -->
	<ng-container *ngSwitchCase="'INT'">
		<form-field-app [showRequiredMarker]="true">
			<label-app>{{ field.definition.label }}</label-app>
			<input 
				#inp
				inputApp
				type="number"
				[value]="control.value"
				[readonly]="field.readonly"
				[required]="field.required"
				[formControl]="control"/>
			<hint-app>{{ field.hint }}</hint-app>
		</form-field-app>
	</ng-container>

	<!-- TEL -->
	<ng-container *ngSwitchCase="'TEL'">
		<form-field-app [showRequiredMarker]="true">
			<label-app>{{ field.definition.label }}</label-app>
			<input 
				#inp
				inputApp
				restrictInput="tel"
				[value]="control.value"
				[readonly]="field.readonly"
				[required]="field.required"
				[formControl]="control"/>
			<hint-app>{{ field.hint }}</hint-app>
		</form-field-app>
	</ng-container>

	<!-- EMAIL -->
	<ng-container *ngSwitchCase="'EMAIL'">
		<form-field-app [showRequiredMarker]="true">
			<label-app>{{ field.definition.label }}</label-app>
			<input 
				#inp
				inputApp
				type="email"
				restrictInput="email"
				[value]="control.value"
				[readonly]="field.readonly"
				[required]="field.required"
				[formControl]="control"/>
				<hint-app>{{ field.hint }}</hint-app>
			</form-field-app>
	</ng-container>

	<!-- FLOAT -->
	<ng-container *ngSwitchCase="'FLOAT'">
		<form-field-app [showRequiredMarker]="true">
			<label-app>{{ field.definition.label }}</label-app>
			<input 
				#inp
				inputApp
				restrictInput="decimal"
				type="number"
				step="any"
				[value]="control.value"
				[readonly]="field.readonly"
				[required]="field.required"
				[formControl]="control"/>
				<hint-app>{{ field.hint }}</hint-app>
			</form-field-app>
	</ng-container>

	<!-- BOOLEAN -->
	<!-- <ng-container *ngSwitchCase="'BOOLEAN'">
		<form-field-app>
			<label-app>{{ field.definition.label }}</label-app>
			<checkbox-app #checkbox inputApp>
				{{ checkbox.value ? 'Yes' : 'No' }}
			</checkbox-app>
		</form-field-app>
	</ng-container> -->
	

	
	<!-- PACKAGING -->
	<!-- <ng-container *ngSwitchCase="'INT'">
		<input-packaging-app [(ngModel)]="fieldValue.value"></input-packaging-app>
	</ng-container> -->
</ng-container>