
<ng-container [ngSwitch]="field.definition.type">

	<!-- STRING -->
	<ng-container *ngSwitchDefault>
		<form-field-app [showRequiredMarker]="true">
			<label-app>{{ field.definition.label }}</label-app>
			<input 
				#inp
				inputApp
				[value]="value || field.defaultValue || ''"
				type="text"
				(blur)="blurEvent.emit(inp.value)"
				(input)="inputEvent.emit(inp.value)"/>
			<hint-app>{{ field.hint }}</hint-app>
		</form-field-app>
	</ng-container>

	<!-- INT -->
	<ng-container *ngSwitchCase="'INT'">
		<form-field-app [showRequiredMarker]="true">
			<label-app>{{ field.definition.label }}</label-app>
			<input 
				#inp
				inputApp
				[value]="value || field.defaultValue || 0"
				type="number"
				(blur)="blurEvent.emit(inp.value)"
				(input)="inputEvent.emit(inp.value)"/>
			<hint-app>{{ field.hint }}</hint-app>
		</form-field-app>
	</ng-container>

	<!-- TEL -->
	<ng-container *ngSwitchCase="'TEL'">
		<form-field-app [showRequiredMarker]="true">
			<label-app>{{ field.definition.label }}</label-app>
			<input 
				#inp
				inputApp
				[value]="field.defaultValue || ''"
				restrictInput="tel"
				(blur)="blurEvent.emit(inp.value)"
				(input)="inputEvent.emit(inp.value)"/>
			<hint-app>{{ field.hint }}</hint-app>
		</form-field-app>
	</ng-container>

	<!-- EMAIL -->
	<ng-container *ngSwitchCase="'EMAIL'">
		<form-field-app [showRequiredMarker]="true">
			<label-app>{{ field.definition.label }}</label-app>
			<input 
				#inp
				inputApp
				[value]="value || field.defaultValue || ''"
				restrictInput="email"
				type="email"
				(blur)="blurEvent.emit(inp.value)"
				(input)="inputEvent.emit(inp.value)"/>
				<hint-app>{{ field.hint }}</hint-app>
			</form-field-app>
	</ng-container>

	<!-- FLOAT -->
	<ng-container *ngSwitchCase="'FLOAT'">
		<form-field-app [showRequiredMarker]="true">
			<label-app>{{ field.definition.label }}</label-app>
			<input 
				#inp
				inputApp
				[value]="value || field.defaultValue || ''"
				restrictInput="decimal"
				type="number"
				step="any"
				(blur)="blurEvent.emit(inp.value)"
				(input)="inputEvent.emit(inp.value)"/>
				<hint-app>{{ field.hint }}</hint-app>
			</form-field-app>
	</ng-container>
	

	
	<!-- PACKAGING -->
	<!-- <ng-container *ngSwitchCase="'INT'">
		<input-packaging-app [(ngModel)]="fieldValue.value"></input-packaging-app>
	</ng-container> -->
</ng-container>