<ng-container *ngIf="!(hasAccepted$ | async)">

	<div class="invite" *ngIf="!(authenticated$ | async)">
		<div class="title" i18n="header@@congratz">Congratulations!</div>
		<div class="subtitle" i18n="text@@you-r-invited">You are invited to join ShowSourcing</div>
		<div class="subtitle" i18n="text@@do-you-have-acc">Do you have an account</div>
		<div class="flexColumn buttons">
			<button class="secondary"
				routerLink="/auth/login"
				[queryParams]="{ returnUrl: returnUrl }"
				i18n="button@@yes-log-me-in">
				Yes - Let me log-in
			</button>
			<button class="secondary"
				routerLink="/auth/register"
				[queryParams]="{ returnUrl: returnUrl }"
				i18n="button@@no-create-account">
				No - Create an account
			</button>
		</div>
	</div>

	<div *ngIf="authenticated$ | async" class="invite large">

		<ng-container *ngIf="invitation$ | async as invitation; else spinner">

			<div class="title" i18n="header@@congratz">Congratulations!</div>

			<div class="subtitle">
				<span class="name">
					{{invitation?.inviterFirstName}} {{invitation?.inviterLastName}}
				</span>
				<ng-container i18n="@@invites-you-join">invites you to join</ng-container>
				<span class="name">
					{{invitation?.teamName}}.
				</span>
			</div>

			<div class="flexColumn buttons">
				<button (click)="accept(invitation)" i18n="button@@yes-join-team">
					Yes - Join the team
				</button>
				<button class="secondary" (click)="refuse(invitation)" i18n="button@@no-no-join-team">
					No - I don't wish to join this team
				</button>
			</div>

		</ng-container>

		<ng-template #spinner>
			<div class="loading-ctnr">
				<spinner-app
					[isHaveLogo]="true"
					[size]="150">
				</spinner-app>
				<h3 i18n="header@@loading-info-please-wait">We are loading your information, please wait...</h3>
			</div>
		</ng-template>

	</div>

</ng-container>
