<div class="invite" *ngIf="!connected">
  <h1 class="title">Congratulation!</h1>
  <div class="subtitle">You are invited to join ShowSourcing</div>
  <div class="subtitle">Do you have an account</div>
  <div class="flexColumn buttons">
    <button class="secondary" routerLink="/guest/login" [queryParams]="{ returnUrl: getCurrentPath() }">Yes - Let me log-in</button>
    <button class="secondary" routerLink="/guest/register" [queryParams]="{ returnUrl: getCurrentPath() }">No - Create an account</button>
  </div>
</div>

<div class="invite large" *ngIf="connected">
  <ng-container *ngIf="invitation; else spinner">
    <h1 class="title">Congratulation!</h1>
    <div class="subtitle"><span class="name">{{invitation?.inviterFirstName}} {{invitation?.inviterLastName}}</span> invites you to join <span class="name">{{invitation?.teamName}}.</span></div>
    <div class="flexColumn buttons">
      <button (click)="joinTeam()">Yes - Join the team</button>
      <button class="secondary" (click)="refuseInvitation()">No - I don't wish to join this team</button>
    </div>
  </ng-container>
</div>

<ng-template #spinner>
    <spinner-app></spinner-app>
  </ng-template>
  