<img-app
	[image]="product?.images"
	size="m">
</img-app>

<!-- Floating Elements -->

<checkbox-app
	*ngIf="hasCheckbox"
	class="overlay"
	[ngClass]="{'opacity-on': selected}"
	[checked]="selected"
	(check)="select.emit()"
	(uncheck)="unselect.emit()">
</checkbox-app>

<button class="preview secondary overlay" (click)="preview.emit()">Preview</button>

<!-- Content (Non Floating) -->
<div class="content">
	<div class="title"> {{ product?.name || 'Unnamed product'}} </div>
	<div class="description"> {{ product?.category?.name }}</div>
	<div class="flex status-info">
		<icon-app class="circle color-{{product?.status?.category}}" name="circle" fontSet="fa"></icon-app>
		{{ product?.status?.step }}.  {{ product?.status?.name | const:'status' }}
	</div>
</div>
