:host {
	display: block;
}

icon-app {
	cursor: default;
	margin-right: var(--spacing-xs);
	font-size: 11px;
}
badge-app {
	margin-right: var(--spacing-s);
}

icon-app.close {
	cursor: pointer;
	padding-top: 2px;
	font-size: var(--font-size-s);
	margin-left: var(--spacing-xs);
}