dialog-app {
	height: 80vh;
	min-width: 520px;
	max-width: 890px;
	padding-bottom: var(--spacing-ms);

	dialog-header-app {
		font-size: var(--font-size-l);

		.beta {
			margin-left: var(--spacing-ms);
		}
	}

	.left {
		box-sizing: border-box;
		// this way the growth of the selectos when selected does not surpass the dialog width
		width: 49%;
		padding-right: var(--spacing-l);
		.browse {
			margin-top: var(--spacing-s);
			margin-bottom: var(--spacing-xs);
		}
	}

	.right {
		box-sizing: border-box;
		width: 50%;
		padding-left: var(--spacing-l);
	}

	.request-container {
		overflow-x: hidden;

		.pdng-btm-l {
			padding-bottom: var(--spacing-l);
		}

		label-app.title {
			font-size: var(--font-size-m);
			color: var(--color-txt-strong);
			font-weight: normal;
			text-transform: none;
		}

		.left {
			border-right: 1px solid var(--color-divider);
		}

		selector-placeholder-app {
			width: 400px;
		}

		checkbox-app {
			margin-top: 1px;
			display: flex;
			align-items: flex-start;
		}
	}

	.checkbox-label {
		font-weight: 400;
		text-transform: none;
	}

	.share-info {
		margin-left: 2px;
	}

	dialog-footer-app {
		align-items: center;

		spinner-app {
			margin-right: var(--spacing-ms);
		}
	}
}