<dialog-app>
	<dialog-header-app>Send Request to Supplier</dialog-header-app>

	<div class="request-container flex">
		<div class="left">
			<h2 class="color-txt-strong l">Request Settings</h2>

			<form [formGroup]="form">
				<form-field-app class="modal">
					<label-app>Send me a copy</label-app>
					<product-request-list-app
						[products]="products"
						(remove)="removeProduct($event)">
					</product-request-list-app>
					<input inputApp [hidden]="true" type="text"/>
				</form-field-app>
				<form-field-app class="modal">
					<label-app>Request Templates</label-app>
					<selector-app>
							<selector-placeholder-app
								name=""
								placeHolder="Quick ">
							</selector-placeholder-app>
						</selector-app>
					<input [hidden]="true" inputApp type="text"/>
				</form-field-app>
				<form-field-app class="modal">
					<label-app>Share my product information</label-app>
					<div class="flex">
						<checkbox-app>
						</checkbox-app>
						Share product information you arleady have with the supplier such as price, moq, etc.
					</div>
					<input inputApp [hidden]="true" type="text"/>
				</form-field-app>
			</form>
		</div>


		<div class="right">
			<h2 class="color-txt-strong l">Recipients</h2>

			<form [formGroup]="form">
				<form-field-app class="modal">
					<label-app>Send to</label-app>
					<selector-app>
						<selector-placeholder-app
							name=""
							placeHolder="Email or Contact">
						</selector-placeholder-app>
					</selector-app>
					<input [hidden]="true" inputApp type="text"/>
				</form-field-app>
				<form-field-app class="modal">
					<label-app>Send Copy to</label-app>
					<selector-app>
						<selector-placeholder-app
							name=""
							placeHolder="Send copy to">
						</selector-placeholder-app>
					</selector-app>
					<input [hidden]="true" inputApp type="text"/>
				</form-field-app>
				<form-field-app class="modal">
					<label-app>Request Title</label-app>
					<input inputApp type="text" formControlName="requestTitle" placeholder="Quote Request"/>
				</form-field-app>
				<form-field-app class="modal">
					<label-app>Message for the supplier</label-app>
					<textarea inputApp type="text" formControlName="message" cols="30" rows="10" placeholder="Quick RFQ"></textarea>
				</form-field-app>
				<form-field-app class="modal">
					<label-app>Send me a copy</label-app>
					<div class="flex">
						<checkbox-app>
						</checkbox-app>
						Send a copy of the request to your email address.
					</div>
					<input inputApp [hidden]="true" type="text"/>
				</form-field-app>
			</form>
		</div>
	</div>

	<dialog-footer-app>
		<button>Send Request</button>
	</dialog-footer-app>
</dialog-app>