$padding-horizontal: 8px;
$padding-vertical: 4px;

:host {
	display: flex;
	align-items: center;
	max-width: 100%;
	width: fit-content;
	box-sizing: border-box;
	min-width: 10px;
	// in case we apply a full-width class
	&.full-width {
		width: 100%;
	}
	&.default {
		border-radius: var(--border-radius);
		margin-left: -$padding-horizontal;
		padding: $padding-vertical $padding-horizontal;
		transition-property: background; // this way we avoid weird animation when closing the editable container
		&.open {
			.openBlock {
				border-bottom: 1px solid var(--color-primary);
				padding-bottom: 2px;
			}
			// minus the rest added on the open block (border padding etc)
			padding-bottom: $padding-vertical - 3px;
		}
	}
}

.labelCtnr {
	margin-bottom: 0;
	width: 100%;
	min-width: inherit;
}

.openBlock {
	align-items: center;
}


.confirmBlock {
	display: flex;
	align-items: center;

	.confirmIcon {
		border-radius: var(--border-radius-s);
		margin-left: var(--spacing-s);
		height: 16px;
		width: 16px;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		&.save{
			background: var(--color-primary);
		}
		&.cancel {
			background: var(--color-secondary);
		}
	}
	.confirmIconSave {
		color: white;
		width: 44px;
		text-transform: uppercase;
		font-weight: bold;
	}
}