<div class="flex">
	<card-app class="mg-l col-50">
		<card-title-app>Status Selectors</card-title-app>

		<p>this "dropdown" is different from the other selectors.</p>


		<!-- Setup the demo to use status-selector -->
		<ul>
			<!-- Typename Selector -->
			<li class="mg-bottom-s">
				<context-menu-app [closeOnScroll]="true" [offsetY]="5">
					<context-menu-trigger-app class="flex">
						<button class="">Select a Typename</button>
					</context-menu-trigger-app>
					<context-menu-item-app
						*ngFor="let typename of statusTypenames"
						(click)="selectTypename(typename)"
						>{{ typename }}</context-menu-item-app
					>
				</context-menu-app>
				Typename selected: {{ typenameSelected || '--' }}
			</li>
			<!-- End -- Typename Selector -->

			<!-- Entity Selector -->
			<li *ngIf="typenameSelected" class="mg-bottom-s">
				<selector-app [typename]="typenameSelected" (update)="selectEntity($event)">
					<button>Select a {{ typenameSelected }}</button>
				</selector-app>
				{{ typenameSelected }} selected: {{ entitySelected?.name || '--' }}
			</li>
			<!-- End -- Entity Selector -->
		</ul>
		<!-- End -- Setup the demo -->


		<!-- Demo : Display and update status of Entity Selected -->
		<ul>
			<li *ngIf="typenameSelected">
				pick a status:
				<status-selector-app
					class="inline"
					[entity]="entitySelected"
					[typename]="typenameSelected"
					[displayStep]="true"
					selectSize="l"
					type="badge"
				></status-selector-app>
			</li>
		</ul>
		<!-- End -- Demo -->
	</card-app>
</div>
