<div class="flexStart row">
	<!-- name -->
	<div class="flex task-name ellipsis">
		<icon-app [name]="task?.done ? 'check-green-round' : 'check-empty-round'" fontSet="svg" (click)="toggleDoneStatus()"></icon-app>
		<div class="flexCenter" [ngStyle]="{'text-decoration': task?.done ? 'line-through' : 'none'}" (click)="previewClicked.emit(task)">{{ task?.name || 'Unnamed task' }}</div>
	</div>

	<!-- if product -->
	<div *ngIf="hasProduct" class="flexStart task-product ellipsis">
		<div *ngIf="task?.product" class="flex ellipsis" (click)="openProduct.emit(task?.product?.id || null)">
			<img-app [size]="xs" [image]="task?.product?.images"></img-app>
			{{ task?.product?.name || 'Unnamed product'}}
		</div>
	</div>

	<!-- if supplier -->
	<div *ngIf="hasSupplier" class="flexStart task-supplier ellipsis">
		<div *ngIf="task?.supplier" class="flex ellipsis" (click)="openSupplier.emit(task?.product?.id || null)">
			<img-app [size]="xs" [image]="task?.supplier?.logoImage"></img-app>
			{{ task?.supplier?.name || 'Unnamed suppler' }}
		</div>
	</div>

	<!-- user+name column -->
	<div *ngIf="fullUser" class="flex task-user" (click)="toggleSelector(true)"> <!-- DONT ERASE THIS IN CASE THE TASK MENU != TASK WORKSPACE -->
		<selector-entity-app #selector *ngIf="selectorVisible" type="user" (clickOutside)="toggleSelector(false)" (change)="updateAssignee($event)"></selector-entity-app>
		<user-picture-app *ngIf="!selectorVisible" [user]="task?.assignee" [size]="20" [border]="true"></user-picture-app>
		<p *ngIf="!selectorVisible">{{ task?.assignee ? task.assignee.firstName+' '+task.assignee.lastName  : 'Unassigned' }}</p>
	</div>

	<!-- task status -->
	<div class="flexEnd task-user-status">
		<selector-entity-app #selector *ngIf="!fullUser && selectorVisible" type="user" (clickOutside)="toggleSelector(false)" (change)="updateAssignee($event)"></selector-entity-app>
		<user-picture-app *ngIf="!fullUser && !selectorVisible" [user]="task?.assignee" [size]="20" [border]="true" (click)="toggleSelector(true)"></user-picture-app>
		<div *ngIf="!selectorVisible" class="flex task-status"
		[ngClass]="{'task-done': getStatus === 'done', 'task-overdue': getStatus === 'overdue', 'task-pending': getStatus === 'pending'}">
			<icon-app name="circle" fontSet="fa" color="red"></icon-app>
			<p>{{ getStatus }}</p>
		</div>
	</div>
</div>