:host {
	display: block;
}

.previewCtnr {
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	min-width: 656px;
	height: 240px;
	border-radius: var(--border-radius-l);

	.empty {
		width: 100%;
		font-style: italic;
		color: var(--color-txt-secondary);
		font-size: var(--font-size-xxl);

		img {
			width: 140px;
			height: 140px;
		}
		span {
			margin-top: var(--spacing-ms);
		}
	}

	.carousel-img {
		width: 240px;
	}

	.mg-left {
		margin-left: var(--spacing-ms);
	}

	img-app {
		cursor: pointer;
		border-radius: var(--border-radius-l);
	}

	.action {
		visibility: hidden;
		transition: 0.2s;
    opacity: 0.2;
	}

	&:hover > .action {
		visibility: visible;
		opacity: 1;
	}

	.move-btn {
		position: absolute;
		background: rgba(236, 236, 236, 0.6);
		width: 30px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		icon-app {
			color: var(--color-third-contrast);
		}
	}
	
	.next {
		right: 0;
	}

	.back {
		left: 0;
	}

	icon-app {
		font-size: 36px;
		color: white;
	}
}
