:host {
	display: block;
}

.previewCtnr {
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: 246px;
	border-radius: var(--border-radius-l);

	.empty {
		width: 100%;
		font-style: italic;
		color: var(--color-txt-secondary);
		font-size: var(--font-size-xxl);

		img {
			width: 140px;
			height: 140px;
		}
		span {
			margin-top: var(--spacing-ms);
		}
	}

	.carousel-img {
		width: 240px;
	}

	.mg-left {
		margin-left: var(--spacing-ms);
	}

	img-app {
		cursor: pointer;
		border-radius: var(--border-radius-l);
	}

	.action {
		visibility: hidden;
		transition: 0.2s;
    opacity: 0.2;
	}

	&:hover > .action {
		visibility: visible;
		opacity: 1;
	}

	.move-btn {
		position: absolute;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.8);
		width: 64px;
		height: 64px;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}

		icon-app {
			color: var(--color-txt-secondary);
		}
	}

	.next {
		right: var(--spacing-ms);
	}

	.back {
		left: var(--spacing-ms);
	}

	icon-app {
		font-size: 36px;
		color: white;
	}

	.grid-section {
		overflow: hidden;
		height: 100%;
		width: 100%;
		align-items: flex-start;
		white-space: nowrap;
	
		.card {
			padding-top: var(--spacing-ms);
			display: inline-block;
			height: 100%;
		}
	
		.card:not(:first-child) {
			margin-left: var(--spacing-ms);
		}
	}
	
	.grid-section::-webkit-scrollbar { width: 0 !important }
	.grid-section { -ms-overflow-style: none; }
}
