<header>
	<icon-app  [fa]="true" sizePx="24" *ngIf="product?.rating === 5" class="heart flexCenter" name="heart" color="warn"></icon-app>
	<product-status-badge-app class="status" [status]="product?.status"></product-status-badge-app>
	<carousel-selection-app class="carousel cc" (fileDrop)="onFileDrop($event)" class=".header"></carousel-selection-app>
</header>


<main class="flex paddingDefault">
	<div class="col1 flexColumn">
		<h4 class="name">{{ product?.name }}</h4>
		<product-sub-info-app [big]="true" [product]="product"></product-sub-info-app>
	</div>

	<div class="col2">
		<price-app [big]="true" [currency]="product?.priceCurrency" [amount]="product?.priceAmount"></price-app>
		<small *ngIf="product && product?.minimumOrderQuantity !== undefined" class="moq">min {{ product?.minimumOrderQuantity }} pcs</small>
	</div>
</main>

<footer class="flexBetween paddingDefault">
	<user-picture-with-name-app [user]="user">
		<small>{{ product?.creationDate | timeAgo }}</small>
	</user-picture-with-name-app>
	<product-icons-app [big]="true" [numComments]="numComments" [numTasks]="numTasks"></product-icons-app>
</footer>
