<controller-list-app
	[hasFilter]="false"
	[hasSwitch]="false"
	[searchValue]="filterSrv.searchValue"
	(search)="listSrv.search($event)">
	<controller-list-right-item-app>

		<div class="flexCenter show-my-tasks">
			<checkbox-app
				[checked]="filterSrv.filterList.hasFilterType(assigneeFilterType)"
				(check)="toggleMyTasks(true)"
				(uncheck)="toggleMyTasks(false)">
			</checkbox-app>
			<ng-container translate="text.assigned-to-me"></ng-container>
		</div>

		<div class="flexCenter show-tasks-done">
			<checkbox-app
				(check)="toggleDoneTasks(true)"
				(uncheck)="toggleDoneTasks(false)">
			</checkbox-app>
			<ng-container translate="text.completed-tasks"></ng-container>
		</div>

	</controller-list-right-item-app>
</controller-list-app>

<task-table-app
	[hasHeader]="false"
	[hasPagination]="false"
	[rows]="listSrv.items$ | async"
	[selection]="listSrv.selection$ | async"
	[pending]="listSrv.pending"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(sort)="listSrv.sort($event)"
	(select)="listSrv.selectOne($event, true)"
	(unselect)="listSrv.unselectOne($event, true)"
	(selectAll)="listSrv.selectAll($event, true)"
	(unselectAll)="listSrv.unselectAll()"
	(open)="viewSrv.goToDetails($event)"
	(favorited)="listSrv.onItemFavorited($event)"
	(unfavorited)="listSrv.onItemUnfavorited($event)"
	(previewClick)="viewSrv.openPreview($event)"
	(delete)="listSrv.deleteOne($event)">
</task-table-app>

<task-preview-app
	*ngIf="viewSrv.previewOpen"
	[task]="viewSrv.previewed"
	(close)="viewSrv.closePreview()">
</task-preview-app>
