<h1 *ngIf="!isModifiable" class="s">{{ title }}</h1>
<editable-text-app
	#edt
	*ngIf="isModifiable"
	(closed)="updateText($event, inpName.value)"
	(opened)="inpName.select()"
>
	<editable-label-app>
		<h1 class="s">{{ title }}</h1>
	</editable-label-app>
	<input
		inputApp
		type="text"
		#inpName
		[value]="title"
		(keyup.enter)="edt.close()"
	/>
</editable-text-app>
<!-- subtitles -->
<div>
	<span
		*ngFor="let sub of subtitles;	let first = first; let last = last;	trackBy: trackByFn"
		class="{{ first ? 'bold': '' }}">
		{{ sub }} {{ !last ? '&gt; ' : '' }}
	</span>
</div>
