:host {
	font-family: var(--font-title);
	color: var(--color-txt-primary);
	display: block;
}

// TODO change to or xxl or xxxxl this is xxl (not used barely)
h2 {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 10px;
}

.bold {
	font-weight: 600;
}