<header-list-app
	logoTypename="Sample"
	info="The sample database"
	[title]="'title.my-samples' | translate"
	[buttonName]="'button.create-sample' | translate"
	(buttonClick)="create()">
</header-list-app>

<controller-table-app>
	<!-- filters -->
	<controller-table-quick-filters-app></controller-table-quick-filters-app>
	<!-- actions -->
	<controller-table-quick-actions-app></controller-table-quick-actions-app>
	<!-- switcher -->
	<controller-table-view-switcher-app></controller-table-view-switcher-app>
</controller-table-app>


<samples-table-app
	[rows]="items$ | async"
	[selection]="selectionSrv.selection$ | async"
	[pending]="listHelper.pending"
	[total]="listHelper.total$ | async"
	(select)="selectionSrv.selectOne($event, true)"
	(unselect)="selectionSrv.unselectOne($event, true)"
	(selectAll)="selectionSrv.selectAll($event, true)"
	(unselectAll)="selectionSrv.unselectAll()"
	(open)="viewSrv.goToDetails($event)"
	(previewClick)="viewSrv.openPreview($event)"
	(createClick)="create()"
	(update)="listHelper.update($event)"
	(delete)="listHelper.delete($event)">
</samples-table-app>

<selection-bar-app
	[isShown]="(selectionSrv.selection$ | async).size > 0"
	[selection]="selectionSrv.selection$ | async"
	[selectableItems]="items$ | async"
	(close)="selectionSrv.unselectAll()">

	<div class="flex">
		<!-- <selector-app
			typename="SampleStatus"
			[canCreate]="true"
			(update)="update($event, entity)">
			<button class="mg-ms">{{entity}} selector</button>
		</selector-app> -->
		<!-- <status-selector-app
			toolTip [toolTipMessage]="'message.change-status' | translate" toolTipPosition="above-right"
			#workActionMenu
			selectSize="m"
			typename="Supplier"
			type="multiple-selection"
			[internalUpdate]="false"
			(statusUpdated)="listHelper.updateSelected({status: $event})">
		</status-selector-app> -->
		<action-bar-app
			[hasLikes]="false"
			[hasHeart]="false"
			[multiple]="true">
			<button class="icon light" (click)="listHelper.deleteSelected()">
				<icon-app name="trash"></icon-app>
			</button>
		</action-bar-app>
	</div>
</selection-bar-app>

<!-- 
<samples-board-app
	*ngIf="viewSrv.view === 'board'"
	(selectOne)="selectionSrv.selectOne($event, true)"
	(unselectOne)="selectionSrv.unselectOne($event, true)"
	(preview) = "viewSrv.openPreview($event)">
</samples-board-app>

<side-panel-app *ngIf="viewSrv.filterPanelOpen">
	<filters-app
		[filterList]="filterSrv.filterList"
		[filterTypes]="filterTypes"
		(clickOutside)="viewSrv.closeFilterPanel()"
		(close)="viewSrv.closeFilterPanel()">
	</filters-app>
</side-panel-app>

<sample-preview-app
	*ngIf="viewSrv.previewOpen"
	[sample]="viewSrv.previewed"
	(close)="viewSrv.closePreview()">
</sample-preview-app>


 -->
