<input
	#inp
	id="inp-{{inputId}}"
	[type]="type"
	[placeholder]="placeholder"
	[value]="value"
	(keydown)="onKeyDown($event)"
	(change)="onChange(inp.value)"
  (blur)="onBlur()"
  [class.inline]="type === 'text-inline'"
	[readonly]="readonly"/>
	<!-- we have to pass a formControl as input for this to work -->
  <div class="error" *ngIf="formControl?.hasError('required') && !formControl?.pristine">This field is required</div>
  <div class="error" *ngIf="formControl?.hasError('email') && !formControl?.pristine" >This field should be a valid email</div>
  <div class="error" *ngIf="formControl?.hasError('number') && !formControl?.pristine">This field should be a valid number</div>
  <div class="error" *ngIf="formControl?.hasError('url') && !formControl?.pristine">This field isn't a correct url</div>
  <div class="error" *ngIf="formControl?.hasError('tel') && !formControl?.pristine">This field isn't a correct phone numer</div>
