
:host {
	display: block;
	height: 100%;
}

product-header-details-app {
	position: fixed;
	z-index: var(--z-max);
	width: calc(100% - #{var(--side-bar-width)});
}

product-sub-header-details-app {
	// product header details app height
	padding-top: 62px;
}

.ctnr {
	margin: auto;
	margin-top: var(--spacing-l);
	justify-content: center;
	padding-bottom: 160px;
}

.left {
	width: 340px;
	margin-right: var(--spacing-l);
}

.right {
	width: 835px;
}

@media only screen and (max-width:1300px){
	.right {
		width: 735px;
	}
}

.spinner-ctnr {
	height: 100%;
}
