
<ng-container *ngIf="product$ | async as product; else spinner">
	<product-header-details-app
		[product]="product"
		(update)="updateProduct($event)"
		(export)="dlgCommonSrv.openExportDialog([$event])"
		(delete)="deleteProduct($event)"
		(archive)="onArchive($event)"
		(supplierRequest)="openSupplierRequest($event)">
	</product-header-details-app>

	<product-sub-header-details-app
		[product]="product"
		(updated)="updateProduct($event)"
		(redirect)="goToTable($event)"
		(ratingClicked)="scrollToRating()"
		(openSupplier)="goToSupplier($event)">
	</product-sub-header-details-app>

	<div class="flex ctnr">
		<div class="left">
			<!-- docket card -->
			<product-docket-app
				[product]="product"
				(update)="updateProduct($event)"
				(addTask)="dlgCommonSrv.openCreationTaskDlg(product)"
				(addSample)="dlgCommonSrv.openCreationSampleDialog(product)"
				(previewSample)="openSamplePreview($event)"
				(previewTask)="openTaskPreview($event)">
			</product-docket-app>

			<!-- rating card -->
			<card-app #rating class="mg-top-l">
				<h3 class="l">Team Rating</h3>
				<rating-dashboard-app
					[votes]="product?.votes"
					[type]="erm.PRODUCT.singular"
					(viewRatings)="dlgCommonSrv.openVoteDetailsDialog($event)"
					(update)="updateProduct({ id: product?.id, votes: $event })">
				</rating-dashboard-app>
			</card-app>

			<!-- Project card -->
			<project-list-card-app
				[projects]="product?.projects"
				(update)="updateProduct({ id: product?.id, projects: $event })"
				(openProject)="openProjectDetails($event)"
				(deleteProject)="dissociateProject(product?.projects, $event)">
			</project-list-card-app>

		</div>
		<product-main-app #main class="right" [product]="product"></product-main-app>
	</div>
</ng-container>

<ng-template #spinner>
	<div class="spinner-ctnr flexCenter">
		<spinner-app></spinner-app>
	</div>
</ng-template>

<!-- previews -->
<sample-preview-app
	*ngIf="previewOpened && sample"
	[sample]="sample"
	(close)="closePreview()">
</sample-preview-app>

<task-preview-app
	*ngIf="previewOpened && task"
	[task]="task"
	(close)="closePreview()">
</task-preview-app>
