:host {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	// width: calc(100vw - 72px);
	min-height: 100%;

	&.full-width {
		width: 100vw;
	}
}

article{
	overflow: hidden;
	padding: 0;
}

.ctnr {
	padding-left: var(--spacing-m);

	&.without-sidenav {
		padding-left: 20px;
	}
}

kanban-col-app {
	min-width: 340px;
	margin-top: var(--spacing-m);
}

.card-container {
	position: relative;
	height: 100%;
  min-height: 100%;

	&:hover .contextual-menu {
		display: block;

		&.drag-in-progress {
			display: none;
		}
	}
}

.contextual-menu {
	position: absolute;
	bottom: 13px;
	right: 13px;
	display: none;

	&.drag-in-progress {
		display: none;
	}
}
