
<ng-container *ngIf="columns">
	<div class="flex ctnr"
		[ngClass]="{ 'without-sidenav': withoutSidenav }"
		[ngStyle]="{ 'padding-top': kanbanVerticalPadding + 'px', 'padding-bottom': (kanbanVerticalPadding + 10) + 'px', 'padding-left': kanbanHorizontalPadding + 'px', 'padding-right': kanbanHorizontalPadding + 'px' }">

		<kanban-col2-app
			*ngFor="let column of columns; let i = index;trackBy: trackById"
			[dropzoneApp]="column"
			[data]="column"
			[disabled]="column.disabled"
			[checked]="hasAllItemsSelected(selectedItems, column)"
			[label]="column.name | const:'status':'name'"
			[getCurrentColumnFct]="getCurrentColumnFct"
			borderColor="{{ column.id }}"
			[namespace]="column.id"
			(itemDropped)="onItemDropped($event)"
			(itemEntered)="onItemEntered(column)"
			(itemLeft)="onItemLeft(column)"
			(checkChange)="onCheckItemsChange(column, $event)">
				<div class="card-container" *ngFor="let item of column.items; let j = index; trackBy:trackById">
					<kanban-item2-app
							class="item"
							[namespace]="getCurrentColumn(item)"
							[data]="item"
							[dragDropEnable$]="dragDropEnable$"
							(dragStart)="dragStart(item)"
							(dragEnd)="dragEnd(item)">
						<ng-container
							*ngTemplateOutlet="card; context: { column: column, row: item, checked: isSelected(selectedItems, item.id), column: column, dragInProgress: dragInProgress, selectItem: selectItem, unselectItem: unselectItem, previewClick: previewClick, dragDropEnable$: dragDropEnable$ }">
						</ng-container>
					</kanban-item2-app>
					<div class="contextual-menu" [ngClass]="{ 'drag-in-progress':	dragInProgress }">
						<ng-container
							*ngTemplateOutlet="contextualMenu; context: { column: column, row: item }">
						</ng-container>
					</div>
				</div>
		</kanban-col2-app>

	</div>

</ng-container>
