
<div class="top flexBetween">
	<button class="secondary small" (click)="reset()">Reset</button>
	<icon-app  [fa]="true" class="pointer" name="times" (click)="close()"></icon-app>
</div>

<ng-container *ngIf="filterMap$ | async as filterMap">
	<!-- panel with button -->
	<filter-btns-panel-app *ngIf="selectedPanel === 'btns'"
		(filterBtnClicked)="onFilterBtnClick($event)"
		(filterRemove)="onFilterRemoved($event)"
		[filterMap]="filterMap" [filterClasses]="filterClasses">
	</filter-btns-panel-app>
	<!-- panel displayed when a filter-btn with that is linked to the store is clicked -->
	<ng-container *ngIf="selectedValues$ | async as selectedValues">


		<filter-rating-panel-app *ngIf="selectedPanel === 'rating'"
			(addFilter)="onFilterAdded($event)"
			(removeFilter)="onFilterRemoved($event)"></filter-rating-panel-app>

		<filter-price-panel-app *ngIf="selectedPanel === 'price'" (addFilter)="onFilterAdded($event)" (removeFilterClass)="onFilterClassRemove($event)">
		</filter-price-panel-app>
		<ng-container
			*ngIf="selectedPanel === 'entity'">
			<filter-entity-panel-app
				*ngIf="choices$ | async as choices"
				[choices]="choices"
				[selected]="selectedValues"
				[filterClass]="selectedFilterClass"
				(filterAdded)="onFilterAdded($event)"
				(filterRemoved)="onFilterRemoved($event)"
				(entitySearch)="onEntitySearch($event)"></filter-entity-panel-app>
		</ng-container>
	</ng-container>
</ng-container>
