<dialog-app>

	<dialog-header-app>
		Compare quotation
	</dialog-header-app>

  <div class="item-container">
    <item-comapre-column-app [priceMatrixLabels]="priceMatrixLabels" [type]="'title'"></item-comapre-column-app>
  </div>
  <div class="item-container" [style.width]="100/(quotes.length + 1) + '%'" *ngFor="let quote of quotes;trackBy: trackByFn" >
      <item-comapre-column-app [priceMatrixLabels]="priceMatrixLabels" [quote]="quote"></item-comapre-column-app>
  </div>

	<!-- <divider-app></divider-app> -->

	<dialog-footer-app>
		<button (click)="closeDlg()">Continue</button>
	</dialog-footer-app>

</dialog-app>
