:host {
	display: block;
}

small {
	font-size: var(--font-size-m);
}

card-app:not(:first-child) {
	margin: var(--spacing-l) 0;
}

.section {
	&:not(:last-child) {
		margin-bottom: var(--spacing-ms);
	}

	.title {
		margin-bottom: var(--spacing-ms);
	}
}