:host {
	display: block;
}

small {
	font-size: var(--font-size-m);
}

.show-action-on-hover {
	.action {
		display: none;
	}
	&:hover .action {
		display: block;
	}
}

.project-card {
	margin: var(--spacing-l) 0;
}