<!-- product info card -->
<card-app>
	<!-- owner -->
	<div class="section">
		<h3 class="title">Product Owner</h3>

		<editable-container-app
			[hasAction]="false"
			[openOnClick]="false"
			(click)="sel?.selector?.openMenu()">
			<editable-display-app>
				<selector-app
					#sel
					[type]="'USER' | erm: true"
					[width]="320"
					[offsetX]="4"
					(update)="update.emit({ assignee: $event })">
					<div *ngIf="product?.assignee" class="flex">
						<user-picture-app	class="mg-right-ms" [user]="product?.assignee" size="24" fontSize="12" [hasName]="true"></user-picture-app>
					</div>
				</selector-app>
			</editable-display-app>
		</editable-container-app>
	</div>

	<!-- status -->
	<div class="section">
		<h3 class="title">Product Status</h3>
		<span>
			<status-selector-app
				[typeEntity]="'PRODUCT' | erm"
				[entity]="product"
				selectSize="m"
				type="button">
			</status-selector-app>
		</span>
	</div>

	<!-- task list -->
	<div class="section action-hover-container">
		<div class="title flexVAlign">
			<h3>Tasks</h3>
			<div class="mg-left-ms action-hover-item color-primary txt-btn" (click)="addTask.emit()">Add</div>
		</div>
		<task-list-app [tasks]="product?.tasksLinked" (taskClicked)="previewTask.emit($event)"></task-list-app>
	</div>

	<!-- sample list -->
	<div class="section action-hover-container">
		<div class="title flexVAlign">
			<h3>Samples</h3>
			<div class="mg-left-ms action-hover-item color-primary txt-btn" (click)="addSample.emit()">Add</div>
		</div>
		<sample-list-app [samples]="product?.samplesLinked" (sampleClicked)="previewSample.emit($event)"></sample-list-app>
	</div>

	<!-- about -->
	<div class="section">
		<h3 class="title">About this product</h3>
		<small>Created by {{ product.createdBy | formatUserName }} on  {{ product.creationDate | date: 'dd MMMM yyyy' }}</small> <br>
		<small>Last updated by {{ product.lastUpdatedBy | formatUserName }} on {{ product.lastUpdatedDate | date: 'dd MMMM yyyy' }}</small><br>
		<small *ngIf="product.event">Found at {{ product?.event?.description?.name }}</small>
	</div>
</card-app>
