<!-- product info card -->
<card-app>
	<!-- owner -->
	<div class="section">
		<h3 class="title">Product Owner</h3>

		<selector-app
			#sel
			[type]="erm.USER.singular"
			[width]="320"
			[offsetX]="4"
			(update)="update.emit({ assignee: $event })">
			<editable-display-app>
				<div *ngIf="product?.assignee" class="flex">
					<user-picture-app	class="mg-right-ms" [user]="product?.assignee" size="24" fontSize="12" [hasName]="true"></user-picture-app>
				</div>
			</editable-display-app>
		</selector-app>
	</div>

	<!-- status -->
	<div class="section">
		<h3 class="title">Product Status</h3>
		<span>
			<status-selector-app
				[typeEntity]="erm.PRODUCT"
				[entity]="product"
				selectSize="m"
				type="button">
			</status-selector-app>
		</span>
	</div>

	<!-- task list -->
	<div class="section action-hover-container">
		<div class="title flexVAlign">
			<h3>Tasks</h3>
			<icon-app
				class="mg-left-ms action-hover-item color-primary"
				name="plus"
				(click)="addTask.emit()">
			</icon-app>
		</div>
		<task-list-app [tasks]="product?.tasksLinked" (taskClicked)="previewTask.emit($event)"></task-list-app>
	</div>

	<!-- sample list -->
	<div class="section action-hover-container">
		<div class="title flexVAlign">
			<h3>Samples</h3>
			<icon-app
				class="mg-left-ms action-hover-item color-primary"
				name="plus"
				(click)="addSample.emit()">
			</icon-app>
		</div>
		<sample-list-app [samples]="product?.samplesLinked" (sampleClicked)="previewSample.emit($event)"></sample-list-app>
	</div>

	<!-- about -->
	<div class="section">
		<h3 class="title">About this product</h3>
		<small>Created by {{ product.createdBy | formatUserName }} on  {{ product.creationDate | date: 'dd MMMM yyyy' }}</small> <br>
		<small>Last updated by {{ product.lastUpdatedBy | formatUserName }} on {{ product.lastUpdatedDate | date: 'dd MMMM yyyy' }}</small><br>
		<small *ngIf="product.event">Found at {{ product?.event?.description?.name }}</small>
	</div>
</card-app>

<!-- Project card -->
<card-app class="project-card">
	<!-- project list -->
	<div class="section action-hover-container">
		<div class="title flexVAlign">
			<h3>Projects</h3>
			<selector-app
				class="selector"
				type="project"
				[value]="product?.projects"
				[canCreate]="true"
				[offsetY]="8"
				[offsetX]="316"
				[multiple]="true"
				[width]="330"
				(update)="update.emit({id: product?.id, projects: $event})">
				<icon-app
					class="mg-left-ms action-hover-item color-primary"
					name="plus">
				</icon-app>
			</selector-app>
		</div>
		<project-list-app [projects]="product?.projects" (projectClicked)="openProject.emit($event)"></project-list-app>
	</div>
</card-app>
