<card-app>

	<h3 class="mg-bottom-ms">Owner</h3>

	<editable-container-app (opened)="sel.openMenu()" [hasAction]="false">
		<editable-display-app>{{ product.assignee | formatUserName }}</editable-display-app>
		<selector-app
			#sel
			[type]="erm.USER.singular"
			[width]="320"
			[offsetX]="4"
			(update)="update.emit({ assignee: $event })">
			{{ product?.assignee ? (product?.assignee | formatUserName) : 'None' }}
		</selector-app>
	</editable-container-app>
	
	<h3 class="mg-top-ms mg-bottom-ms">Product Status</h3>
	<span>
		<status-selector-app 
			[typeEntity]="erm.PRODUCT" 
			[entity]="product" 
			selectSize="m" 
			type="button">
		</status-selector-app>
	</span>


	<div class="show-action-on-hover">
		<div class="flexBetween">
			<h3 class="mg-top-ms mg-bottom-ms">Tasks</h3> 
			<icon-app 
				class="action color-primary" 
				name="plus"
				(click)="addTask.emit()"></icon-app>
		</div>
		<!-- <task-list-app [rows]="product.tasksLinked"></task-list-app> -->
		<span>Need Merge request</span>
	</div>

	<div class="show-action-on-hover">
		<div class="flexBetween">
			<h3 class="mg-top-ms mg-bottom-ms">Samples</h3> 
			<icon-app 
				class="action color-primary" 
				name="plus"
				(click)="addSample.emit()"></icon-app>
		</div>
		<!-- <sample-list-app [rows]="product.samplesLinked"></sample-list-app> -->
		<span>Need Merge request</span>
	</div>

	<h3 class="mg-top-ms mg-bottom-ms">About this product</h3>
	<small>Created by {{ product.createdBy | formatUserName }} on  {{ product.creationDate | date: 'dd MMMM yyyy' }}</small> <br>
	<small>Last updated by {{ product.lastUpdatedBy | formatUserName }} on {{ product.lastUpdatedDate | date: 'dd MMMM yyyy' }}</small><br>
	<small *ngIf="product.event">Found at {{ product?.event?.description?.name }}</small>
</card-app>