<div class="addressFields">
	<input-app [(ngModel)]="address.fullAddress" name="fullAddress"
		type="text" label="Full Address" placeholder="Sunan Plaza, Heifel, Ahui, China"></input-app>
	<input-app [(ngModel)]="address.city" name="city"
		type="text" label="City" placeholder="Heifel"></input-app>
	<input-app [(ngModel)]="address.zip" name="zip"
		type="number" label="Zip" placeholder="21000"></input-app>
	<input-app [(ngModel)]="address.state" name="state"
		type="text" label="State" placeholder="Ahui"></input-app>
	<input-app [(ngModel)]="address.country" name="country"
		type="text" label="Country" placeholder="China"></input-app>
</div>
