.addressFields{
  display: flex;
  flex-wrap: wrap;
}

.addressFields > *{
  width: 50%;
}

.addressFields :first-child{
  width: 100%;
}


.addressFields :nth-child(2n){
  width: 44%;
  padding-right: 2rem;
}



