<header-details-app [headerType]="'details'">

	<header-details-title-app *ngIf="product">
		<editable-container-app #edt (closed)="updateProductName($event, inpName.value, 'name')" (opened)="inpName.select()">
			<editable-value-app style="line-height: normal;" [resizable]="false">
				{{ product?.name || ('message.unnamed-product' | translate) }}
			</editable-value-app>
			<input inputApp type="text" #inpName [value]="product?.name" (keyup.enter)="edt.close()">
		</editable-container-app>
		<!-- {{ product?.name || ('message.unnamed-product' | translate) }} -->
	</header-details-title-app>


	<logo-app [logo]="product?.images[0]" size="l" typename="Product"></logo-app>

	<header-details-info-app>
		<div class="flex flexVAlign color-txt-secondary">
			<logo-app typename="Product" name="product" size="xs"></logo-app>
			<div class="flex flexVAlign info-container dot-separator">
				<span *ngIf="product?.reference" class="reference">
					{{ product?.reference }}
				</span>
				<span *ngIf="product && product.propertiesMap.price && product.propertiesMap.price.value">
					<price-app class="color-txt-secondary" [price]="product?.propertiesMap.price"></price-app>
				</span>
				<span *ngIf="product?.category" class="category">
					{{ product?.category?.name }}
				</span>
				<span *ngIf="product?.supplier" class="hyphen-separator">
					{{ product?.supplier?.name }}
				</span>
				<rating-badge-app [score]="product?.score"></rating-badge-app>
			</div>
		</div>
	</header-details-info-app>


	<header-details-actions-app>

		<button class="icon medium txt-secondary" (click)="export.emit(product)">
			<icon-app name="export" size="m"></icon-app>
		</button>

		<button class="light big icon-with-text flexVAlign flexAround">
			<icon-app name="share" size="m"></icon-app><div class="capitalize" translate="button.share"></div>
		</button>

		<button class="vibrant big icon-with-text flexVAlign" (click)="supplierRequest.emit(product)">
			<icon-app name="envelope"></icon-app><div class="capitalize" translate="button.contact-supplier"></div>
		</button>

		<status-selector-app typename="Product" [entity]="product" selectSize="l" type="button"></status-selector-app>

		<context-menu-app>

			<context-menu-trigger-app>
				<button class="icon light dots pointer">
					<icon-app [size]="16" name="dots-vertical"></icon-app>
				</button>
			</context-menu-trigger-app>

			<context-menu-item-app (click)="archive.emit(product)">
				<div class="icon-box square flexCenter mg-right-s">
					<icon-app name="archive" size="s"></icon-app>
				</div>
				<span translate="button.archive"></span>
			</context-menu-item-app>

			<context-menu-item-warn-app (click)="delete.emit(product)">
				<div class="icon-box square flexCenter mg-right-s">
					<icon-app name="delete" size="s"></icon-app>
				</div>
				<span translate="button.delete"></span>
			</context-menu-item-warn-app>

		</context-menu-app>

	</header-details-actions-app>

</header-details-app>