:host {
	display: block;
	width: 180px;
}

.dnd{
	background: rgb(255, 196, 0);
	height: 100px;
}

.imgPreview {
	width: 60px;
	height: 45px;
	display: inline-block;	
	img {
		width: 100%;
	}
}

.pending{
	opacity: 0.3;
}