:host {
	display: block;
}

label {
	margin-bottom: 0;
}

.openBlock {
	align-items: center;
}

.confirmBlock {
	display: flex;
	align-items: center;

	.confirmIcon {
		border-radius: var(--border-radius-s);
		margin-left: var(--spacing-s);
		height: 22px;
		width: 22px;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		&.save{
			background: var(--color-primary);
		}
		&.cancel {
			background: var(--color-txt-secondary);
		}
	}
	.confirmIconSave {
		color: white;
		width: 44px;
		text-transform: uppercase;
		font-weight: bold;
	}
}