<!-- closed -->
<!-- TODO: this shouldn't be a label but something else.
	Else we have a ton of labels in dynamic forms and it's getting confusing when reading the source -->
<label class="flex pointer" *ngIf="!isOpen" (click)="open()">
	<ng-content select="label-app"></ng-content>
</label>

	<!-- open -->
	<div *ngIf="isOpen" class="flex openBlock" (clickOutside)="close(true)">

		<ng-content></ng-content>

		<div class="confirmBlock" *ngIf="hasAction">
			<div class="confirmIcon cancel pointer" (mousedown)="cancel()">
				<icon-app name="times" fontSet="fa"></icon-app>
			</div>
			<div class="confirmIcon save pointer" (mousedown)="save()">
				<icon-app name="check" fontSet="fa"></icon-app>
			</div>
		</div>

</div>

