<!-- closed -->
<div class="labelCtnr flex fullWidth" *ngIf="!isOpen" (click)="open(true)">
	<ng-content select="editable-label-app"></ng-content>
</div>

<!-- open -->
<div *ngIf="isOpen" class="flex openBlock" (clickOutside)="close(true)">

	<ng-content></ng-content>

	<div class="confirmBlock" *ngIf="hasAction">
		<div class="confirmIcon cancel pointer" (click)="cancel()">
			<icon-app name="times" fontSet="fa"></icon-app>
		</div>
		<div class="confirmIcon save pointer" (click)="save()">
			<icon-app name="check" fontSet="fa"></icon-app>
		</div>
	</div>

</div>

