

<!-- BTN PANEL -->
<side-panel-app *ngIf="view === 'BTNS'">

  <side-panel-title-app>
    Filters
  </side-panel-title-app>
  <side-panel-action-app class="clear" (click)="resetAll()">
    Clear All Filters
  </side-panel-action-app>

  <filter-btn-list-app
    [filterBtns]="filterTypes"
    (editClicked)="openEditPanel($event)"
    (resetClicked)="resetType($event)">
  </filter-btn-list-app>


</side-panel-app>



<!-- SELECT ENTITY PANEL -->
<side-panel-app *ngIf="view === 'SELECTION'">
  <side-panel-title-app (click)="openBtnPanel()">
    <div class="flex pointer">
      <icon-app fontSet="fa" name="angle-left"></icon-app>
      <span>BACK</span>
    </div>
  </side-panel-title-app>
  <side-panel-action-app class="clear" (click)="resetType()">
    Clear All
  </side-panel-action-app>

  <filter-selection-entity-panel-app
    [type]="typeSelected"
    *ngIf="view === 'SELECTION'"></filter-selection-entity-panel-app>
</side-panel-app>