
<!-- BTN PANEL -->
<ng-container *ngIf="view === 'BTNS' && sidePanel">
	<div class="flexBetween flexVAlign mg-bottom-ms">
		<h3 class="flexVAlign">
			<icon-app name="filter" class="fs-s mg-right-ms color-txt-secondary"></icon-app>
			Filters
		</h3>

		<button class="icon" (click)="close.emit()">
			<icon-app name="close" class="fs-s"></icon-app>
		</button>
	</div>
  <filter-btn-list-app
    [filterTypes]="filterTypes"
    (editClicked)="openEditPanel($event)">
  </filter-btn-list-app>
</ng-container>


<!-- SELECT ENTITY PANEL -->
<ng-container *ngIf="view === 'SELECTION' && sidePanel">
	<div class="flexBetween flexVAlign mg-bottom-l">
		<button class="icon-with-text primary-light" (click)="openBtnPanel()">
			<icon-app class="mg-right-s" name="angle-left fs-s"></icon-app>
      <span class="capitalize " translate="button.back"></span>
		</button>
		<button class="warn-light" (click)="resetType(typeSelected)"> Clear All </button>
	</div>

	<filter-selection-entity-panel-app
		*ngIf="view === 'SELECTION'"
    [type]="typeSelected"
    [selected]="filterSrv.valuesByType.get(typeSelected)"
    (filterAdded)="addFilter($event)"
    (filterRemoved)="removeFilter($event)">
  </filter-selection-entity-panel-app>
</ng-container>


<!-- DIALOG PANEL -->
<ng-container *ngIf="view === 'BTNS' && !sidePanel">
	<div class="dialog-panel flexBetween flexVAlign mg-bottom-ms">
		<h3>Filters</h3>
		<button class="icon" (click)="close.emit()">
			<icon-app name="close" class="pointer color-third fs-l"></icon-app>
		</button>
	</div>
	<filter-btn-list-app
		[filterTypes]="filterTypes"
		[filterMap]="filterSrv.filtersByType"
		(filterAdded)="addFilter($event)"
		(filterRemoved)="removeFilter($event)"
		(editClicked)="openEditPanel($event)"
		(resetClicked)="resetType($event)">
	</filter-btn-list-app>
</ng-container>


<!-- SELECT ENTITY DIALOG PANEL -->
<ng-container *ngIf="view === 'SELECTION' && !sidePanel">
	<div class="dialog-panel flexBetween flexVAlign mg-bottom-l">
		<button class="icon-with-text primary-light" (click)="openBtnPanel()">
			<icon-app class="mg-right-s" name="angle-left fs-s"></icon-app>
			<span class="capitalize " translate="button.back"></span>
		</button>
		<button class="warn-light" (click)="resetType(typeSelected)"> Clear All </button>
	</div>

	<filter-selection-entity-panel-app
		*ngIf="view === 'SELECTION'"
		[type]="typeSelected"
		[selected]="filterSrv.valuesByType.get(typeSelected)"
		(filterAdded)="addFilter($event)"
		(filterRemoved)="removeFilter($event)">
	</filter-selection-entity-panel-app>
</ng-container>