

<!-- BTN PANEL -->
<side-panel-app *ngIf="view === 'BTNS'">

	<div class="filters-title-section">
		<side-panel-title-app class="capitalize filters-title" i18n="text@@filters">
			filters
		</side-panel-title-app>
		<div class="clear-filters-container">
			<side-panel-action-app class="clear" (click)="resetAll()" i18n="text@@clear-all-filters">
				<span class="clear-filters">Clear All Filters</span>
			</side-panel-action-app>
			<icon-app name="close-pane-right" size="24" color="txt-third" (click)="close.emit()"></icon-app>
		</div>
	</div>
	<divider-app></divider-app>


  <filter-btn-list-app
    [filterTypes]="filterTypes"
    [filterMap]="filterList.asByType()"
    (filterAdded)="addFilter($event)"
    (filterRemoved)="removeFilter($event)"
    (editClicked)="openEditPanel($event)"
    (resetClicked)="resetType($event)">
  </filter-btn-list-app>

</side-panel-app>



<!-- SELECT ENTITY PANEL -->
<side-panel-app *ngIf="view === 'SELECTION'">
  <side-panel-title-app (click)="openBtnPanel()">
    <div class="flex pointer">
      <icon-app name="angle-left"></icon-app>
      <span class="capitalize" i18n="button@@back">back</span>
    </div>
  </side-panel-title-app>
  <side-panel-action-app class="clear" (click)="resetType(typeSelected)" i18n="button@@clear-all">
    Clear All
  </side-panel-action-app>

	<filter-selection-entity-panel-app
		*ngIf="view === 'SELECTION'"
    [type]="typeSelected"
    [selected]="filterList.asByType().get(typeSelected)"
    (filterAdded)="addFilter($event)"
    (filterRemoved)="removeFilter($event)">
  </filter-selection-entity-panel-app>
</side-panel-app>