<dialog-app>

	<dialog-header-app>Mass edit of X items</dialog-header-app>

	<div class="container">
		<h5 class="ms">Property to update</h5>
		<selector-app
			[type]="erm.PICKER_FIELD"
			[width]="500"
			[pickerFields]="pickerFields"
			(update)="updateChoice($event)">
			<!-- TODO change when merged with supplier connect to selector-placeholder-app -->
			<div class="property-picker capitalize selector-placeholder ellipsis" [ngClass]="{ placeholder: !(choice$ | async)?.name }">
				{{ (choice$ | async)?.name || 'choose something dammit' }}
				<icon-app name="caret-down"></icon-app>
			</div>
		</selector-app>
	</div>

	<ng-container [ngSwitch]="(choice$ | async)?.type">
		<ng-container *ngIf="choice$ | async as choice">
			<h5 class="ms">{{ choice?.name }}</h5>

			<!-- text -->
			<ng-container *ngSwitchCase="'text'">
				<input #inp type="text" (input)="statusUpdated(inp.value)"/>
			</ng-container>

			<!-- number -->
			<ng-container *ngSwitchCase="'number'">
				<input #inp type="number" (input)="statusUpdated(inp.value)"/>
			</ng-container>

			<!-- boolean -->
			<ng-container *ngSwitchCase="'boolean'">
				<div class="flex">
					<checkbox-app>
						Yes
					</checkbox-app>
					<checkbox-app>
						No
					</checkbox-app>
				</div>
			</ng-container>

			<!-- decimal -->
			<ng-container *ngSwitchCase="'decimal'">
				<input #inp type="number" step="0.01" (input)="statusUpdated(inp.value)">
			</ng-container>

			<!-- price -->
			<ng-container *ngSwitchCase="'price'">
				<input-price-app (change)="statusUpdated($event)">
				</input-price-app>
			</ng-container>

			<!-- status -->
			<ng-container *ngSwitchCase="'status'">
				<status-selector-app
					[typeEntity]="erm.PRODUCT"
					type="multiple-selection"
					[internalUpdate]="false"
					(statusUpdated)="statusUpdated($event)">
				</status-selector-app>
			</ng-container>

			<!-- selector -->
			<ng-container *ngSwitchCase="'selector'">
				<selector-app
					[width]="500"
					[type]="erm.getEntityMetadata(choice?.metadata?.ermName || choice?.name)"
					(update)="statusUpdated($event)">
					<!-- TODO change when merged with supplier connect to selector-placeholder-app -->
					<div class="capitalize selector-placeholder ellipsis" [ngClass]="{ placeholder: value === null || value === undefined }">
						{{ value ? value?.name : 'Choose ' + choice?.name }}
						<!-- not all the time is the property name to display so maybe a switch case idk -->
						<icon-app name="caret-down"></icon-app>
					</div>
				</selector-app>
			</ng-container>
			<!-- <ng-container *ngSwitchCase="'packaging'">
				PACKAGING
			</ng-container> -->
		</ng-container>
		<ng-container *ngSwitchDefault>
		</ng-container>
	</ng-container>

	<dialog-footer-app>
		<button class="capitalize secondary ">cancel</button>
		<button class="capitalize">update</button>
	</dialog-footer-app>
</dialog-app>