<dialog-app>
	<dialog-header-app i18n="@@send-reply">Send Reply</dialog-header-app>
	<div class="container" [ngStyle]="{ opacity: pending ? 0.5 : 1 }">
		<span class="color-txt-strong" i18n="@@about-send-back-info">You are about to send back the infomration you have filled.</span>
		<div class="flex contact-container">
			<img src="/assets/img/user-temp.png"/>
			<div class="name">{{ senderName }}</div>
		</div>
		<h4 class="s bold-s color-txt-strong" i18n="@@your-message">Your Message</h4>
		<textarea inputApp #inp type="text" [value]="message"></textarea>
	</div>

	<dialog-footer-app>
		<spinner-app *ngIf="pending" size="18"></spinner-app>
		<button tabFocusAction autoFocus class="secondary capitalize" [disabled]="pending" (click)="close()" i18n="@@cancel">Cancel</button>
		<button tabFocusAction class="warn capitalize" [disabled]="pending" (click)="refuse(inp.value)" i18n="@@send">Send</button>
	</dialog-footer-app>
</dialog-app>