:host {
	display: block;
	width: 1180px;
	margin: auto;
	padding: var(--spacing-xl);
}
.top {
	margin: var(--spacing-xl);
}
.ctnr {
	width: 1240px;
	margin: auto;
}

.left {
	flex-grow: 1;
}
.right {
	width: 350px;
}