
<!-- page content -->
<ng-container *ngIf="supplier$ | async as supplier">

	<!-- main card -->
	<supplier-main-app
		(update)="patch($event)"
		[supplier]="supplier"
		[productCount]="productCount$ | async"
		[taskCount]="(tasks$ | async).length"
		[contactCount]="0"></supplier-main-app>
	<!-- supplier view -->
	<div class="flex ctnr">
		<div class="left">

			<!-- description -->
			<supplier-description-app
				(update)="patch($event)"
				[supplier]="supplier"></supplier-description-app>

			<!-- latest products -->
			<supplier-latest-products-app [products]="products$ | async"></supplier-latest-products-app>

			<!-- contacts -->
			<supplier-contact-card-app (newContact)="openNewContactDlg()"></supplier-contact-card-app>
		</div>

		<div class="right">

			<!-- editable infos -->
			<supplier-infos-app
				[supplier]="supplier"
				(tagAdded)="onTagAdded($event)"
				(tagRemoved)="onTagRemoved($event)"
				(tagCreated)="onTagCreated($event)"
				(update)="patch($event)"></supplier-infos-app>

			<!-- files -->
			<files-card-app></files-card-app>

			<!-- images -->
			<carousel-card-app title="Supplier Pictures"></carousel-card-app>
		</div>
	</div>
</ng-container>

