<dialog-app class="vertical-scroll-content">

	<dialog-header-app translate="header.request-templates"></dialog-header-app>

	<div class="flex">

		<div class="left">

			<h2 class="ms" translate="header.my-request-templates"></h2>

			<div class="info" translate="text.new-template"></div>

			<div class="input-box flexVAlign">
				<input #inp inputApp [formControl]="createCtrl" type="text" [placeholder]="'placeholder.template-name' | translate" (keyup.enter)="btn.click()"/>
				<button #btn (click)="createTemplate()" translate="button.new"></button>
			</div>

			<h3 class="ms" translate="header.templates"></h3>

			<list-app>
				<list-item-app
					*ngFor="let template of templates$ | async"
					[selected]="isSelected(template)"
					(click)="templateSelected = template">
					<div class="item flexBetween full-width">
						<span class="name">{{ template.name }}</span>
						<context-menu-app>
							<context-menu-trigger-app>
								<span class="delete txt-button color-primary" translate="button.delete"></span>
							</context-menu-trigger-app>
							<context-menu-item-warn-app (click)="deleteTemplate($event, template)" translate="button.delete">
							</context-menu-item-warn-app>
						</context-menu-app>
					</div>
				</list-item-app>
			</list-app>
		</div>

		<div class="right flexGrow">

			<ng-container *ngIf="!pending; else spinner">
				<h2 class="ms">{{ templateSelected?.name }}</h2>

				<h3 class="ms" translate="header.template-elements"></h3>

				<div class="info" translate="text.select-info-template-supplier"></div>

				<template-fields-table-app
					class="no-padding unset-height"
					[pending]="pending"
					[rows]="allFields"
					[inTemplate]="inTemplate"
					(update)="onUpdate()">
				</template-fields-table-app>

				<div *ngIf="allFields" class="actions flexEnd">
					<button *ngIf="hasChanged()" [disabled]="!hasChanged()" class="secondary" (click)="reset()" translate="button.reset"></button>
					<button [disabled]="!hasChanged()" (click)="save()" translate="button.save-changes"></button>
				</div>
			</ng-container>

			<ng-template #spinner>
				<spinner-app size="xxxxl"></spinner-app>
			</ng-template>

		</div>


	</div>

	<dialog-footer-app>
		<button class="secondary" (click)="close($event)" translate="button.close"></button>
	</dialog-footer-app>

</dialog-app>