.selected{
	background: var(--color-bg);
}

:host {
	border-radius: var(--border-radius);
}

.ctnr {
	// to suppress the shadow from the btn
	overflow: hidden;
}

button {
	background: var(--color-bg-secondary);
	color: var(--color-txt-secondary);
	padding: var(--spacing-s) var(--spacing-xxl);
}