<h2 i18n>Attached Files</h2>
<article *ngFor="let file of files" class="flex">
	<spinner-app size="xs" *ngIf="file.pending"></spinner-app>
	<div class="cercle"></div>
	<div class="name pointer">{{ file.fileName }}</div>
	<div class="flexCenter">
		<icon-app [fa]="true" (click)="fileRemoved.emit(file)" name="minus" class="pointer minus" size="xl" color="primary-light"></icon-app>
	</div>

</article>

	<div class="hr"></div>
	<div class="footer">
		<input #inp type="file" class="hidden" (fileSelect)="fileAdded.emit($event)"/>
		<button (click)="inp.click()">Add File</button>
	</div>