
<div class="left">

	<sidenav-app menuIcon="folder" menuTitle="Project">
		<sidenav-item-app link="./workflow">
			<icon-app name="kanban-project-menu-light" fontSet="svg"></icon-app>
			<span sidenavLabelApp>workflow</span>
		</sidenav-item-app>
		<sidenav-item-app link="./products">
				<icon-app name="list-project-menu-light" fontSet="svg"></icon-app>
				<span sidenavLabelApp>Product List</span>
		</sidenav-item-app>
		<sidenav-item-app link="./settings">
			<icon-app name="settings-project-menu-light" fontSet="svg"></icon-app>
			<span sidenavLabelApp>settings</span>
		</sidenav-item-app>
	</sidenav-app>

</div>
<div class="right">
	<router-outlet></router-outlet>
</div>
