
:host {
	display: flex;
	height: 100%;
}

.right {
	flex-grow: 1;
	/** 100% minus menu width */
	width: calc(100% - 79px);
}

icon-app {
	font-size: var(--font-size-xxxl);
	color: var(--color-txt-primary);
}