
<div class="left">

	<sidenav-app menuIcon="folder" menuTitle="{{'title.project' | translate}}">
		<sidenav-item-app link="./workflow">
			<icon-app name="kanban-project-menu-light" fontSet="svg"></icon-app>
			<span sidenavLabelApp translate="text.workflow"></span>
		</sidenav-item-app>
		<sidenav-item-app link="./products">
				<icon-app name="list-project-menu-light" fontSet="svg"></icon-app>
				<span sidenavLabelApp translate="text.product-list"></span>
		</sidenav-item-app>
		<sidenav-item-app link="./settings">
			<icon-app name="settings-project-menu-light" fontSet="svg"></icon-app>
			<span sidenavLabelApp translate="text.settings"></span>
		</sidenav-item-app>
	</sidenav-app>

</div>
<div class="right">
	<router-outlet></router-outlet>
</div>
