
		<div class="left">

			<sidenav-app menuIcon="project-menu" menuTitle="Project">
				<sidenav-item-app link="./workflow">
					<icon-app fontSet="svg" name="kanban-project-menu-light"></icon-app>
					<span sidenavLabelApp>workflow</span>
				</sidenav-item-app>
				<sidenav-item-app link="./products">
						<icon-app fontSet="svg" name="list-project-menu-light"></icon-app>
						<span sidenavLabelApp>Product List</span>
				</sidenav-item-app>
				<sidenav-item-app link="./settings">
					<icon-app fontSet="svg" name="settings-project-menu-light"></icon-app>
					<span sidenavLabelApp>settings</span>
				</sidenav-item-app>
			</sidenav-app>

		</div>
		<div class="right">
			<router-outlet></router-outlet>
		</div>
