:host {
	display: block;
}

.ctnr {
	background: var(--color-bg);
	display: block;
	border-radius: var(--border-radius);
	height: 100%;
}

.border{
	height: 3px;
	border-radius: var(--border-radius)  var(--border-radius) 0 0;
}

.border-bottom {
	border-radius: 0 0 var(--border-radius)  var(--border-radius);
}
// border colors class are defined in theming/entities/:entity