<dialog-app (close)="close()" (clickOutside)="close()">

	<dialog-header-app class="capitalize" translate="text.contact"></dialog-header-app>

	<ng-container *ngIf="contactCreated$ | async; else spinner">

		<form class="container" [formGroup]="form" (ngSubmit)="createContact()">

			<form-field-app>
				<label-app class="capitalize" translate="text.name"></label-app>
				<input inputApp
					autoFocus
					(blur)="updateContact()"
					formControlName="name"
					type="text"
					autocomplete="new-name"
					[placeholder]="'placeholder.contact-name' | translate"/>
			</form-field-app>

			<!-- if we ever need the supplier on the dialog -->
			<!-- <form-field-app>
				<label-app>Supplier</label-app>
				<selector-app
					typename="Supplier"
					(update)="updateSupplier($event)">
					<selector-placeholder-app
						class="bg-secondary-light"
						[name]="form.get('supplier').value.name || supplier?.name"
						placeholder="Select a supplier">
					</selector-placeholder-app>
				</selector-app>
				<input inputApp [hidden]="true" formControlName="supplier" type="text"/>
			</form-field-app> -->

			<form-field-app>
				<label-app class="capitalize" translate="text.function"></label-app>
				<input inputApp
					(blur)="updateContact()"
					formControlName="jobTitle"
					type="text"
					autocomplete="new-job"
					[placeholder]="'placeholder.contact-function' | translate"/>
			</form-field-app>

			<form-field-app>
				<label-app class="capitalize" translate="text.email"></label-app>
				<input inputApp
					(blur)="updateContact()"
					formControlName="email"
					type="email"
					autocomplete="new-email"
					[placeholder]="'placeholder.contact-email-address' | translate"/>
			</form-field-app>

			<form-field-app>
				<label-app translate="text.phone-number"></label-app>
				<input inputApp
					(blur)="updateContact()"
					formControlName="phoneNumber"
					restrictInput="tel"
					type="tel"
					autocomplete="new-tel"
					[placeholder]="'placeholder.contact-phone-number' | translate"/>
			</form-field-app>

			<label translate="text.business-card"></label>
			<carousel-app
				*ngIf="contact$ | async as contact"
				[imageProperty]="'businessCardImage'"
				[isImagePropertyArray]="false"
				[entity]="contact"
				[size]="340"
				[images]="[contact?.businessCardImage]">
			</carousel-app>

		</form>

	</ng-container>

	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>
</dialog-app>



