:host {
	display: flex;
	margin: var(--spacing-xl) var(--spacing-edge);
	height: calc(100% - 228px);
}

.supplier {
	display: flex;
	align-items: center;
	font-weight: 600;
	checkbox-app {
		margin-right: var(--spacing-s);
	}
}

.review {
	font-weight: 600;
	background: var(--color-primary-light);
	color: var(--color-txt);
	padding: var(--spacing-xs) var(--spacing-l);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-txt);
}

user-picture-app {
	margin-right: var(--spacing-s);
}

table-app {
	margin-left: auto;
	margin-right: auto;
}

.supplierIcon {
	height: 24px;
	width: 24px;
	margin-right: var(--spacing-s);
	flex-shrink: 0;
}

a:hover {
	text-decoration: underline;
	color: var(--color-primary);
}