<table-app
	[rows]="rows"
	[pending]="pending"
	[selected]="selection"
	class="z-2"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit($event)"
	(bottomReached)="bottomReached.emit()"
	(sort)="sort.emit($event)">


	<!-- supplier row -->
	<ng-template
		columnApp="Supplier"
		sortBy="name"
		let-row="row"
		width="280">
		<div class="supplier">
			<a class="capitalize ellipsis txtBtn" [routerLink]="['/supplier', 'details', row.id]">
				<img src="assets/icons/supplier.svg" class="supplierIcon"/>
				<span>{{ row.name }}</span>
			</a>
		</div>
	</ng-template>

	<!-- category -->
	<ng-template
		class="capitalize"
		columnApp="Categories"
		let-row="row"
		sortBy="categories"
		width="280">
		<span *ngFor="let cat of row.categories; let last = last">
			{{ cat.name }} {{ last ? '' : ', '}}
		</span>
	</ng-template>

	<!-- country -->
	<ng-template
		class="capitalize"
		columnApp="Country"
		let-row="row"
		sortBy="countryName"
		[grows]="false"
		width="140">
		<span>
			{{ row.countryName  }}
		</span>
	</ng-template>

	<!-- tags -->
	<ng-template
		class="capitalize"
		columnApp="Tags"
		let-row="row"
		sortBy="tags"
		width="280">
		<span *ngFor="let tag of row.tags; let last = last">{{ tag.name }} {{ last ? '' : ', '}}</span>
	</ng-template>

	<!-- date -->
	<ng-template
		columnApp="Created"
		let-row="row"
		sortBy="creationDate"
		width="140"
		[grows]="false"
		[sortOrder]="'DESC'">
		{{ row?.creationDate | date: 'MMMM y' }}
	</ng-template>

	<!-- user -->
	<ng-template
		columnApp="Owner"
		let-row="row"
		sortBy="createdBy.name"
		width="140"
		[grows]="false">
		<div class="flex flexCenter">
			<user-picture-app
				[size]="18"
				[border]="true"
				[url]="row.createdBy?.preferences?.profilePicture?.urls?.url_60x45">
			</user-picture-app>
			<span class="ellipsis">{{ row?.createdBy?.name }}</span>
		</div>
	</ng-template>

	<!-- info -->
	<ng-template
		columnApp="Products"
		class="capitalize"
		let-row="row"
		sortBy="productCount"
		width="140"
		[grows]="false">
		{{ row.productCount }}
	</ng-template>

	<!-- Action -->
	<ng-template
		columnApp="Fav"
		let-row="row"
		sortBy="rating"
		width="60"
		[grows]="false">
		<div class="flexCenter">
			<rating-heart-app
				[favorite]="row?.favorite"
				(favorited)="favorited.emit(row.id)"
				(unfavorited)="unfavorited.emit(row.id)"></rating-heart-app>
		</div>

	</ng-template>

</table-app>
