<table-app
	[rows]="rows"
	[pending]="pending"
	[selected]="selection"
	[contextualMenu]="contextualMenuTemplate"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit($event)"
	(sort)="sort.emit($event)"
	(bottomReached)="bottomReached.emit()">

	<!-- contextual menu -->
	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-app
			class="pointer flexCenter"
			(click)="delete.emit(row.id)"
			i18n="supplier menu | delete">
			Delete
		</context-menu-item-app>
	</ng-template>

	<!-- supplier row -->
	<ng-template
		columnApp="Supplier"
		sortBy="name"
		let-row="row"
		width="280">
		<div class="supplier flexBetween"
			(mouseenter)="preview.style.display = 'block'"
			(mouseleave)="preview.style.display = 'none'">
			<a class="capitalize ellipsis txtBtn" [routerLink]="['/supplier', 'details', row.id]">
				<img src="assets/icons/supplier.svg" class="supplierIcon"/>
				<span>{{ row.name }}</span>
			</a>
			<button #preview class="ugly" (click)="previewClick.emit(row)">preview</button>
		</div>
	</ng-template>

	<!-- category -->
	<ng-template
		class="capitalize"
		columnApp="Categories"
		let-row="row"
		[sortable]="false"
		width="280">
		<span *ngFor="let cat of row.categories; let last = last">
			{{ cat.name }} {{ last ? '' : ', '}}
		</span>
	</ng-template>

	<!-- country -->
	<ng-template
		class="capitalize"
		columnApp="Country"
		let-row="row"
		sortBy="country"
		[grows]="false"
		width="140">
		<span>
			{{ row.country | const: 'country'  }}
		</span>
	</ng-template>

	<!-- tags -->
	<ng-template
		class="capitalize"
		columnApp="Tags"
		let-row="row"
		[sortable]="false"
		width="280">
		<span *ngFor="let tag of row.tags; let last = last">{{ tag.name }} {{ last ? '' : ', '}}</span>
	</ng-template>

	<!-- date -->
	<ng-template
		columnApp="Created"
		let-row="row"
		sortBy="creationDate"
		width="140"
		[grows]="false"
		[sortOrder]="'DESC'">
		{{ row?.creationDate | date: 'MMMM y' }}
	</ng-template>

	<!-- user -->
	<ng-template
		columnApp="Owner"
		let-row="row"
		sortBy="createdBy.firstName"
		width="140"
		[grows]="false">
		<div class="flex flexCenter">
			<!-- <user-picture-app
				[size]="18"
				[image]="row.createdBy?.avatar"
				[user]="row?.createdBy">
			</user-picture-app> -->
			<span class="ellipsis">{{ row?.createdBy?.firstName }} {{row?.createdBy?.lastName}}</span>
		</div>
	</ng-template>

	<!-- info -->
	<ng-template
		columnApp="Products"
		class="capitalize"
		let-row="row"
		[sortable]="false"
		width="140"
		[grows]="false">
		<b class="semi">{{ row.productsCount }}</b>
	</ng-template>

	<!-- Action -->
	<ng-template
		columnApp="Fav"
		let-row="row"
		sortBy="favorite"
		width="60"
		[grows]="false">
		<div class="flexCenter">
			<rating-heart-app
				[favorite]="row?.favorite"
				(favorited)="favorited.emit(row.id)"
				(unfavorited)="unfavorited.emit(row.id)"></rating-heart-app>
		</div>

	</ng-template>

</table-app>
