
.supplier a {
	display: flex;
	align-items: center;
	font-weight: 600;
	checkbox-app {
		margin-right: var(--spacing-s);
	}
}

.ugly {
	display: none;
}

.review {
	font-weight: 600;
	background: var(--color-primary-light);
	color: var(--color-txt);
	padding: var(--spacing-xs) var(--spacing-l);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-txt);
}

.supplierIcon {
	height: 24px;
	width: 24px;
	margin-right: var(--spacing-s);
	flex-shrink: 0;
}
