<table-app
	[rows]="rows$ | async"
	class="z-2"
	(selectOne)="supplierSelect.emit($event)"
	(unselectOne)="supplierUnselect.emit($event)"
	(selectAll)="supplierSelectAll.emit($event)"
	(unselectAll)="supplierUnselectAll.emit($event)"
	[pending]="true">


	<!-- supplier row -->
	<ng-template
		columnApp="Supplier"
		sortWith="name"
		let-row="row"
		width="280">
		<div class="supplier">
			<img src="assets/icons/supplier.svg" class="supplierIcon"/>
			<a class="name capitalize ellipsis" [routerLink]="['/supplier', 'details', row.id]">{{ row.name }}</a>
		</div>
	</ng-template>

	<!-- category -->
	<ng-template
		class="capitalize"
		columnApp="Categories"
		let-row="row"
		sortWith="categories"
		[comparator]="arrayComparator"
		width="280">
		<span *ngFor="let cat of row.categories">
			{{ cat.name }},
		</span>
	</ng-template>

	<!-- country -->
	<ng-template
		class="capitalize"
		columnApp="Country"
		let-row="row"
		sortWith="countryName"
		[grows]="false"
		width="140">
		<span>
			{{ row.countryName  }}
		</span>
	</ng-template>

	<!-- tags -->
	<ng-template
		class="capitalize"
		columnApp="Tags"
		let-row="row"
		sortWith="tags"
		[comparator]="arrayComparator"
		width="280">
		<span *ngFor="let tag of row.tags; let last = last">{{ tag.name }}{{ last ? '' : ', '}}</span>
	</ng-template>

	<!-- date -->
	<ng-template
		columnApp="Created"
		let-row="row"
		sortWith="creationDate"
		width="140"
		[grows]="false">
		{{ row?.creationDate | date: 'MMMM y' }}
	</ng-template>

	<!-- user -->
	<ng-template
		columnApp="Owner"
		let-row="row"
		sortWith="createdBy.name"
		width="140"
		[grows]="false">
		<div class="flex">
			<user-picture-app
				[size]="18"
				[border]="true"
				[url]="row.createdBy?.preferences?.profilePicture?.urls?.url_60x45">
			</user-picture-app>
			<span class="ellipsis">{{ row?.createdBy?.name }}</span>
		</div>
	</ng-template>

	<!-- info -->
	<ng-template
		columnApp="Info"
		class="capitalize"
		let-row="row"
		sortWith="productCount"
		width="140"
		[grows]="false">
		{{ row.productCount }} Products
	</ng-template>

	<!-- Action -->
	<ng-template
		columnApp="Fav"
		let-row="row"
		sortWith="rating"
		width="60"
		[grows]="false">
		<div class="flexCenter">
			<rating-heart-app
				[rating]="row?.rating"
				(favorited)="supplierFavorited.emit(row.id)"
				(unfavorited)="supplierUnfavorited.emit(row.id)"></rating-heart-app>
		</div>

	</ng-template>

</table-app>
