
.supplier a {
	display: flex;
	align-items: center;
	font-weight: 600;
	checkbox-app {
		margin-right: var(--spacing-s);
	}
}

logo-app {
	margin-right: var(--spacing-s);
	flex-shrink: 0;
}

user-picture-app {
	font-size: var(--font-size-xs);
}

.overflow-hidden {
	max-height: 51px;
	overflow: hidden;
}