<header-details-app
	[hasBackArrow]="false"
	[elevated]="false"
	[headerType]="'settings'">

	<header-details-title-app>
		<span class="my-company capitalize">
			{{ 'title.my-company' | translate }}
		</span>
	</header-details-title-app>

	<logo-app color="primary" icon="company" size="xl"></logo-app>

	<header-details-info-app>
		<ng-container subinfo *ngIf="companyName">{{companyName}}</ng-container>
		<div class="small-gray-badge-separator"></div>
		<ng-container subinfo *ngIf="companyName">Managed by {{ owner | formatUserName: true }}</ng-container>
	</header-details-info-app>

	<header-nav-app>
		<header-nav-item-app
			link="/settings/company/settings"
			icon="company"
			[name]="'nav.company-info' | translate">
		</header-nav-item-app>

		<header-nav-item-app
			link="/settings/company/teams"
			icon="team"
			[name]="'nav.teams' | translate">
		</header-nav-item-app>

		<header-nav-item-app
			link="/settings/company/users"
			icon="team"
			[name]="'nav.company-users' | translate">
		</header-nav-item-app>
	</header-nav-app>

	<header-details-actions-app>
		<button action class="create-team capitalize" 
			(click)="redirectNewTeamScreen()"
			translate="button.create-team"></button>
		<button action class="purchase-license capitalize"
			translate="button.purchase-license"></button>
	</header-details-actions-app>

</header-details-app>

<router-outlet></router-outlet>
