:host {
	background: var(--color-bg);
	display: block;
	overflow: hidden;
	border-radius: var(--border-radius);
}

.border{
	height: 3px;
	border-radius: var(--border-radius)  var(--border-radius) 0 0;
	&.default {
		background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-primary-light) 100%);
	}
}
// border colors class are defined in theming/entities/:entity