<div class="top">
	<div class="logo">
		<img src="/assets/img/logo.svg">
	</div>
	<h1>
		Welcome to ShowSourcing
	</h1>
	<h2>
		Your Collaborative Sourcing Platform for
		<br />
		your team and suppliers
	</h2>
	<h2>
		Please login to your account.
	</h2>
</div>

<form (ngSubmit)="onSubmit()" *ngIf="!(pending$ | async); else spinner" [formGroup]="form">
	<error-app *ngIf="error">{{ error }}</error-app>

	<form-field-app [ngClass]="{'field-focused': filedFocused === 'email'}">
		<label-app>Email</label-app>
		<input (focus)="filedFocused = 'email'" inputApp autoFocus autocomplete="current-email" type="text" placeholder="example@showsourcing.com"
		 formControlName="identifier" />
	</form-field-app>

	<form-field-app [ngClass]="{'field-focused': filedFocused === 'password'}">
		<label-app>Password</label-app>
		<input (focus)="filedFocused = 'password'" inputApp autocomplete="current-password" type="password" placeholder="your password"
		 formControlName="password" />
	</form-field-app>

	<div class="options">
		<!-- <div class="checkbox-container">
			<checkbox-app [size]="16" [labelClass]="'label-rememberme'">
				Remember me
			</checkbox-app>
		</div> -->
		<div class="clickable forgot-password" (click)="forgotPw()">Forgotten password?</div>
	</div>

	<div class="centered-text">
		<input class="button" type="submit" value="Login" [disabled]="!form.valid" />
		<a class="button light" [routerLink]="['../register']" [queryParams]="queryParams">Don't have an account ?</a>
	</div>

</form>

<ng-template #spinner>
	<spinner-app size="xxl"></spinner-app>
</ng-template>
