<auth-form-header-app
	[pending]="(pending$ | async)">
	<auth-header-content-app i18n="text@@please-login-to-your-account">
		Please login to your account.
	</auth-header-content-app>
</auth-form-header-app>

<auth-form-app
	[error]="error"
	[defaultFocused]="filedFocused"
	[pending]="(pending$ | async)"
	[listForm]="listForm"
	[buttons]="buttons"
	(onSubmit)="onSubmit($event)">
	<div class="options">
		<div class="pointer forgot-password" (click)="forgotPw()">Forgotten password?</div>
	</div>

</auth-form-app>
