<div class="flex noselect small-icons">
	<icon-app *ngIf="favorite" name="heart"></icon-app>
	<icon-app [name]="name" [ngStyle]="successStyle" [size]="size" fontSet="svg"></icon-app>
	<p class="numbers" [ngClass]="{'color-warn': dislike, 'color-success': like, 'color-txt-secondary fs-s': !(like || dislike)}">{{product?.score || '-'}}%</p>
	<ng-container *ngIf="product?.projects?.length">
		<icon-app fontSet="svg" name="folder"></icon-app>
		<p class="numbers color-txt-secondary">{{product?.projects?.length || 0}}</p>
	</ng-container>
</div>