<ng-container [ngSwitch]="customField?.type">

  <form-field-app *ngSwitchDefault class="modal">
    <label-app inputApp>{{ customField?.label || customField?.name }}</label-app>
	</form-field-app>

	<!-- text -->
  <form-field-app *ngSwitchCase="'text'" class="modal">
    <label-app>{{ customField?.label || customField?.name }}</label-app>
		<input inputApp
			autoFocus
			[canFocus]="autofocus"
			type="text"
			[(ngModel)]="accumulator"
			[placeholder]="customField?.metadata?.placeholder || customField?.label || customField?.name"
      (input)="onChange()"/>
	</form-field-app>

	<!-- tel -->
  <form-field-app *ngSwitchCase="'tel'"  class="modal">
    <label-app>{{ customField?.label || customField?.name }}</label-app>
    <input inputApp
			autoFocus
			[canFocus]="autofocus"
			restrictInput="tel"
      type="tel"
			[placeholder]="customField?.metadata?.placeholder || customField?.label || customField?.name"
      [(ngModel)]="accumulator"
      (input)="onChange()"/>
  </form-field-app>

	<!-- number -->
  <form-field-app *ngSwitchCase="'int'"  class="modal">
    <label-app>{{ customField?.label || customField?.name }}</label-app>
    <input inputApp
			autoFocus
			[canFocus]="autofocus"
      restrictInput="number"
      type="number"
			[placeholder]="customField?.metadata?.placeholder || customField?.label || customField?.name"
      [(ngModel)]="accumulator"
      (input)="onChange()"/>
	</form-field-app>

	<!-- date -->
	<form-field-app *ngSwitchCase="'date'"  class="modal">
			<label-app>{{ customField?.label || customField?.name }}</label-app>
			<input
				inputApp
				#dateInput
				type="text"
				(focus)="(dateInput.type='date')"
				(blur)="(dateInput.type='text')"
				[placeholder]="customField?.metadata?.placeholder || customField?.label || customField?.name"
				[(ngModel)]="accumulator"
				(input)="onChange()"/>
		</form-field-app>

	<!-- decimal -->
  <form-field-app *ngSwitchCase="'decimal'"  class="modal">
    <label-app>{{ customField?.label || customField?.name }}</label-app>
		<input inputApp
			autoFocus
			[canFocus]="autofocus"
      restrictInput="decimal"
			type="number"
			step="any"
			[placeholder]="customField?.metadata?.placeholder || customField?.label || customField?.name"
      [(ngModel)]="accumulator"
      (input)="onChange()"/>
  </form-field-app>

	<!-- days -->
  <form-field-app *ngSwitchCase="'days'"  class="modal">
    <label-app>{{ customField?.label || customField?.name }}</label-app>
    <input inputApp
			autoFocus
			[canFocus]="autofocus"
			type="number"
			[placeholder]="customField?.metadata?.placeholder || customField?.label || customField?.name"
      [(ngModel)]="accumulator"
      (input)="onChange()"/>
  </form-field-app>

	<!-- textarea -->
  <form-field-app *ngSwitchCase="'textarea'" class="modal">
    <label-app>{{ customField?.label || customField?.name }}</label-app>
		<textarea inputApp
			autoFocus
			[canFocus]="autofocus"
      type="text"
			[placeholder]="customField?.metadata?.placeholder || customField?.label || customField?.name"
			[rows]="customField?.metadata?.rows"
      [(ngModel)]="accumulator"
      (input)="onChange()">
    </textarea>
  </form-field-app>

	<!-- selector -->
  <ng-container *ngSwitchCase="'selector'">
		<form-field-app  class="modal">
			<label-app inputApp>{{ customField?.label || customField?.name }}</label-app>
			<input-selector-app
				[(ngModel)]="accumulator"
				[multiple]="customField?.metadata?.multiple"
				[type]="customField?.metadata?.target"
				[canCreate]="customField?.metadata?.canCreate"
				[hasBadge]="customField?.metadata?.hasBadge"
				[width]="customField?.metadata?.width || 390"
				[placeholder]="customField?.metadata?.placeholder"
				[autofocus]="autofocus"
				(update)="onChange()">
			</input-selector-app>
		</form-field-app>
  </ng-container>

	<!-- boolean -->
  <ng-container *ngSwitchCase="'boolean'">
    <form-field-app class="modal">
      <label-app>{{ customField?.label || customField?.name }}</label-app>
			<radio-app
			 	autoFocus inputApp
				[(ngModel)]="accumulator"
				[checked]="accumulator !== undefined ? accumulator : null"
				[canFocus]="autofocus"
				[items]="[{ name: 'Yes', value: true }, { name: 'No', value: false }]"
				(update)="onChange()">
			</radio-app>
    </form-field-app>
  </ng-container>

	<!-- packaging -->
	<ng-container *ngSwitchCase="'packaging'">
		<h4 class="ms capitalize bold-s">{{ customField?.label || customField?.name }}</h4>
		<editable-packaging-app
			[config]="config"
			[autofocus]="autofocus"
			name="packaging"
			[(ngModel)]="accumulator"
			(update)="onChange()">
		</editable-packaging-app>
	</ng-container>

	<!-- price -->
  <form-field-app *ngSwitchCase="'price'" class="modal">
		<label-app>{{ customField?.label || customField?.name }}</label-app>
    <input-price-app inputApp [(ngModel)]="accumulator" (input)="onChange()"></input-price-app>
	</form-field-app>

	<!-- extended fields -->
	<ng-container	*ngSwitchCase="'extendedField'">
		<ng-container *ngIf="definitions$ | async as definitions">
			<h3 *ngIf="definitions?.length" class="ms" translate="text.extended-fields"></h3>
			<extended-form-app
				[fields]="accumulator || []"
				[config]="config"
				[definitions]="definitions"
				(update)="accumulator = $event; onChange();">
			</extended-form-app>
		</ng-container>
	</ng-container>

	<!-- title -->
	<ng-container *ngSwitchCase="'title'">
		<h3 *ngSwitchCase="'title'" class="ms">
			{{ 'title.' + (customField?.label || customField?.name) | translate }}
		</h3>
	</ng-container>

</ng-container>
