<ng-container [ngSwitch]="customField.type">

  <form-field-app *ngSwitchCase="'text'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
      [type]="customField.type"
      [(ngModel)]="accumulator"
      (blur)="onChange()"/>
  </form-field-app>

  <form-field-app *ngSwitchCase="'tel'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
			restrictInput="tel"
      [type]="customField.type"
      [(ngModel)]="accumulator"
      (blur)="onChange()"/>
  </form-field-app>

  <form-field-app *ngSwitchCase="'number'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
      restrictInput="number"
      [type]="customField.type"
      [(ngModel)]="accumulator"
      (blur)="onChange()"/>
  </form-field-app>

  <form-field-app *ngSwitchCase="'decimal'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
      restrictInput="decimal"
      [type]="customField.type"
      [(ngModel)]="accumulator"
      (blur)="onChange()"/>
  </form-field-app>

  <form-field-app *ngSwitchCase="'days'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
      [type]="'number'"
      [(ngModel)]="accumulator"
      (blur)="onChange()"/>
  </form-field-app>

  <form-field-app *ngSwitchCase="'textarea'">
    <label-app>{{ customField.label || customField.name }}</label-app>
    <textarea inputApp
      [(ngModel)]="accumulator"
      (blur)="onChange()">
    </textarea>
  </form-field-app>


  <ng-container *ngSwitchCase="'selector'">

    <form-field-app *ngIf="customField.metadata.type === 'entity'; else const" >
      <label-app>{{ customField.label || customField.name }}</label-app>
      <selector-entity-app formFieldCtrl
        itemName="sdkfjd fskfj"
        [multiple]="customField.multiple"
        [type]="customField.metadata.target"
        [canCreate]="customField.metadata.canCreate"
        [propertyName]="labelName"
        [(ngModel)]="accumulator"
        (change)="onChange()"></selector-entity-app>
    </form-field-app>

    <ng-template #const>
      <form-field-app>
        <label-app>{{ customField.label || customField.name }}</label-app>
        <selector-const-app formFieldCtrl
          [multiple]="customField.multiple"
          [type]="customField.metadata.target"
          [canCreate]="customField.metadata.canCreate"
          [(ngModel)]="accumulator"
          (change)="onChange()"></selector-const-app>
      </form-field-app>
    </ng-template>
  </ng-container>


  <ng-container *ngSwitchDefault>

  </ng-container>

        <!-- div class="inputCtnr" *ngSwitchCase="'price'">
			<editable-price-app
				[(ngModel)]="accumulator"
				(change)="onChange()"
				(open)="onOpen()"
				(close)="onClose()"
				[inlineLabel]="inlineLabel"
        [customField]="customField"></editable-price-app>
    </div -->

  <!-- <form-field-app *ngSwitchCase="'price'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
      #inp
      restrictInput="decimal"
      autofocus="true"
      [(ngModel)]="accumulator"
      type="number"/>
  </form-field-app> -->

  <!-- <form-field-app *ngSwitchCase="'priceMatrix'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <div class="inputCtnr">
			<editable-price-matrix-app
				[(ngModel)]="accumulator"
				(change)="onChange()"></editable-price-matrix-app>
    </div>
  </form-field-app> -->

  <!-- <form-field-app *ngSwitchCase="'packaging'" [class="flexColumn flexStart">
    <label-app class="packaging">{{ customField.label || customField.name }}</label-app>
      <input-packaging-app
        [(ngModel)]="accumulator"
        (change)="onChange()"
        [customField]="customField"></input-packaging-app>
  </form-field-app> -->
</ng-container>
