<ng-container [ngSwitch]="customField.type">

  <form-field-app *ngSwitchDefault>
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
      [type]="customField.type"
      [(ngModel)]="accumulator"
      (blur)="onChange()"/>
  </form-field-app>


  <form-field-app *ngSwitchCase="'tel'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
			restrictInput="tel"
      [type]="customField.type"
      [(ngModel)]="accumulator"
      (blur)="onChange()"/>
  </form-field-app>

  <form-field-app *ngSwitchCase="'number'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
      restrictInput="number"
      [type]="customField.type"
      [(ngModel)]="accumulator"
      (blur)="onChange()"/>
  </form-field-app>

  <form-field-app *ngSwitchCase="'decimal'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
      restrictInput="decimal"
      [type]="customField.type"
      [(ngModel)]="accumulator"
      (blur)="onChange()"/>
  </form-field-app>

  <form-field-app *ngSwitchCase="'days'" >
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input inputApp
      [type]="'number'"
      [(ngModel)]="accumulator"
      (blur)="onChange()"/>
  </form-field-app>

  <form-field-app *ngSwitchCase="'textarea'">
    <label-app>{{ customField.label || customField.name }}</label-app>
    <textarea inputApp
      [(ngModel)]="accumulator"
      (blur)="onChange()">
    </textarea>
  </form-field-app>


  <ng-container *ngSwitchCase="'selector'">

    <form-field-app *ngIf="customField.metadata.type === 'entity'; else const" >
      <label-app>{{ customField.label || customField.name }}</label-app>
      <selector-entity-app
        formFieldCtrl
        itemName="customField.metadata.target"
        [displayedValue]="accumulator?.name | const: customField.metadata.target"
        [multiple]="customField.multiple"
        [type]="customField.metadata.target"
        [canCreate]="customField.metadata.canCreate"
        [propertyName]="labelName"
        [(ngModel)]="accumulator"
        (change)="onChange()"></selector-entity-app>
    </form-field-app>

    <ng-template #const>
      <form-field-app>
        <label-app>{{ customField.label || customField.name }}</label-app>
        <selector-const-app formFieldCtrl
          [multiple]="customField.multiple"
          [type]="customField.metadata.target"
          [canCreate]="customField.metadata.canCreate"
          [(ngModel)]="accumulator"
          (change)="onChange()"></selector-const-app>
      </form-field-app>
    </ng-template>
  </ng-container>

  <ng-container *ngSwitchCase="'yesNo'">
    <form-field-app>
      <label-app>{{ customField.label || customField.name }}</label-app>
      <radio-app formFieldCtrl [items]="[{ name: 'Yes', value: true }, { name: 'No', value: false }]" [(ngModel)]="value"></radio-app>
    </form-field-app>
  </ng-container>

  <input-packaging-app
    *ngSwitchCase="'packaging'"
    name="packaging"
    [value]="accumulator"></input-packaging-app>

  <form-field-app *ngSwitchCase="'price'">
    <label-app>{{ customField.label || customField.name }}</label-app>
    <input-price-inline-app formFieldCtrl></input-price-inline-app>
  </form-field-app>

  <ng-container *ngSwitchCase="'priceMatrix'">

  </ng-container>

</ng-container>
