:host {
	display: block;
	border: 1px solid var(--color-secondary);
	border-radius: var(--border-radius);

	& > *:not(.container-items){
		margin: var(--spacing-ms);
	}
}

.current-values-container {
	min-height: 42px;
	max-height: 94px;
	width: 395px;
	overflow-y: auto;

	.empty-message {
		color: var(--color-txt-secondary);
		font-style: italic;
	}
}

.container-viewport {
  height: 210px;
  width: 395px;
}

.container-items {
	height: 210px;
	overflow-y: auto;

	& > * {
		padding-left: var(--spacing-ms);
		display: flex;
		align-items: center;
	}

	.create-container {
		height: 37px;

		&:hover {
			background-color: var(--color-primary);

			button.create {
				background: white;
			}
		}

		button.create {
			font-weight: 600;
			font-size: var(--font-size-s);

			icon-app {
				margin-right: var(--spacing-xs);
				font-size: var(--font-size-xs);
			}
		}
	}
}

.top-divider {
	margin-bottom: 0px !important;
}

.bottom-divider {
	margin-top: 0px !important;
}
