
<!-- contextual menu -->
<ng-template #contextualMenuTemplate let-row="row">
	<context-menu-item-app
		class="pointer flexCenter"
		(click)="delete.emit(row.id)"
		i18n="supplier menu | delete">
		Delete
	</context-menu-item-app>
</ng-template>

<table-app
	[rows]="rows"
	[pending]="pending"
	[selected]="selection"
	[contextualMenu]="contextualMenuTemplate"
	class="z-2"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit($event)"
	(bottomReached)="bottomReached.emit()"
	(sort)="sort.emit($event)">



	<!-- name -->
	<ng-template
		columnApp="Project Name"
		sortBy="name"
		let-row="row"
		width="300"
		sortBy="name">
		<div class="project">
			<a class="flexVAlign txtBtn capitalize ellipsis"
				[routerLink]="['/project', 'details', row.id]">
				<img [src]="row.logoImage | logo:'project'" class="icon"/>
				<b class="semi">{{ row.name }}</b>
			</a>
		</div>
	</ng-template>

	<!-- owner -->
	<ng-template
		class="capitalize"
		columnApp="Owner"
		let-row="row"
		sortBy="createdBy.lastName"
		width="200"
		[grows]="false">
		{{ row.createdBy.firstName }} {{ row.createdBy.lastName }}
	</ng-template>

	<!-- last updated date -->
	<ng-template
		class="capitalize"
		columnApp="Last Upadted Date"
		let-row="row"
		sortBy="lastUpdatedDate"
		width="200"
		[grows]="false">
		<span>
			{{ row.lastUpdatedDate | date: 'dd MMMM y' }}
		</span>
	</ng-template>

	<!-- product count -->
	<ng-template
		class="capitalize"
		columnApp="Product Count"
		let-row="row"
		[sortable]="false"
		[grows]="false"
		width="200">
		<span>
			<b>{{ row.productsCount }}</b>
		</span>
	</ng-template>

	<!-- date -->
	<ng-template
		columnApp="Created on"
		let-row="row"
		sortBy="creationDate"
		width="200"
		[grows]="false"
		[sortOrder]="'DESC'">
		{{ row?.creationDate | date: 'dd MMMM y' }}
	</ng-template>

	<!-- description -->
	<ng-template
		columnApp="Description"
		let-row="row"
		width="240">
		<div class="description">
			{{ row?.description }}
		</div>
	</ng-template>


</table-app>

