<table-app
	[rows]="rows"
	[pending]="pending"
	[selected]="selection"
	class="z-2"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit($event)"
	(bottomReached)="bottomReached.emit()"
	(sort)="sort.emit($event)">


	<!-- name -->
	<ng-template
		columnApp="ProjectName"
		sortWith="name"
		let-row="row"
		width="300">
		<div class="project">
			<a class="flexVAlign txtBtn capitalize ellipsis"
				[routerLink]="['/project', 'details', row.id]">
				<img [src]="row.logoImage | logo:'supplier'" class="icon"/>
				<b class="semi">{{ row.name }}</b>
			</a>
		</div>
	</ng-template>

	<!-- owner -->
	<ng-template
		class="capitalize"
		columnApp="Owner"
		let-row="row"
		sortWith="createdBy.lastName"
		width="200"
		[grows]="false">
		{{ row.createdBy.firstName }} {{ row.createdBy.lastName }}
	</ng-template>

	<!-- last updated date -->
	<ng-template
		class="capitalize"
		columnApp="Last Upadted Date"
		let-row="row"
		sortWith="lastUpdatedDate"
		width="200"
		[grows]="false">
		<span>
			{{ row.lastUpdatedDate | date: 'dd MMMM y' }}
		</span>
	</ng-template>

	<!-- product count -->
	<ng-template
		class="capitalize"
		columnApp="Product Count"
		let-row="row"
		sortWith="productCount"
		[grows]="false"
		width="200">
		<span>
			<b>{{ row.productCount }}</b>
		</span>
	</ng-template>

	<!-- date -->
	<ng-template
		columnApp="Created on"
		let-row="row"
		sortWith="creationDate"
		width="200"
		[grows]="false"
		[sortOrder]="'DESC'">
		{{ row?.creationDate | date: 'dd MMMM y' }}
	</ng-template>

	<!-- description -->
	<ng-template
		columnApp="Description"
		let-row="row"
		sortWith="description"
		width="240">
		{{ row?.description }}
	</ng-template>


</table-app>

