<div
	class="flex container notif-card"
	[ngClass]="{ unread: !activity.is_read }"
	(click)="detail()"
>
	<div class="flex left">
		<logo-app class="logo" size="m" type="task" [circle]="true"></logo-app>

		<div class="flexColumn notif-info">
			<p class="notif-message">
				<span class="bold-message">{{ actorName }}</span>
				{{ multipleActorMessage }}
				{{ activityMessage }}
				<span class="bold-message">
					<name-query-app
						[obj]="target$ | async"
					></name-query-app>
				</span>
			</p>
			<p class="notif-datetime">
				{{ activity.updated_at | timeAgo }} -
				{{ activity.updated_at | date: "d MMM H:mm" }}
			</p>
		</div>
	</div>
	<div class="mark-read"></div>
</div>
<divider-app></divider-app>
