<div class="flex container notif-card">
	<div class="flex left container">
		<user-picture-app
			size="32"
			[image]=""
			[border]="true"
			class="notif-avatar"
		></user-picture-app>
		<div class="flexColumn notif-info">
			<p><span class="bold-s">Christian</span>has commented on the product</p>
			<p>P-00133 Garden Chairs Lovel Flower</p>
			<p class="notif-datetime">2h - 11 June 12:33</p>
		</div>
	</div>
	<div class="flex right container">
		<div class="circle"></div>
	</div>
</div>
<divider-app></divider-app>

