<div class="flexBetween">
	<div class="title" i18n="header|Tasks">Tasks</div>
	<button (click)="openDialog()" class="small action" i18n="button | add task">Add task</button>
</div>

<!-- product-tasks is going to be its own container under ~tasks. Like commentCtnr is. Don't worry about this component -->
<!-- <tasks-list-view-app [tasks]="tasks$ | async" [removedCols]="['product']"> </tasks-list-view-app>
<new-task-dlg-app (newTask)="onNewTask($event)" [productId]="(product$ | async)?.id"></new-task-dlg-app> -->
