<div class="left flexColumn">
	<!-- so 1.1-2 means {minIntegerDigits}.{minFractionDigits}-{maxFractionDigits} -->
	<!-- if we take max fraction digits 1, when number is 3.96, instead of rounding 3.9, it round to 4 (read docs why) -->
	<!-- since we know that our score will always have 3 characters what we do is round for 2 numbers and then slice -->
	<!-- 3.9689 | number: '1.1-2' -> 3.97 | slice:0:3 -> 3.9 -->
	<div class="number-score">
		{{ (score / 20 | number: '1.1-2' | slice:0:3 ) || '-'}}
	</div>
	<div class="number-votes flexCenter">
		{{ totalVotes }} <ng-container i18n="@@votes">votes</ng-container>
	</div>
</div>

<div class="right">
	<div *ngFor="let item of votesMap | keyvalue: compareFn" class="flexCenter number-cylinder">
		<span class="number-star">{{ item.key }}</span>
		<rating-cylinder-app class="cylinder" [score]="(item.value / totalVotes) * 100" likeColor="accent" [height]="8"></rating-cylinder-app>
	</div>
</div>
