<p>
	Selector default. This selector use a default selector style. we don't have to pass templates, the
	content is customisable with props
</p>
<selector-default-app
	[items]="[{ label: 'laqsmdlf- 1' }, { label: 'label - 2' }]"
	itemKey="label"
	(selected)="showSelectedItem($event)"
	(searched)="logSearchedText($event)"
></selector-default-app>
<hr />

<p>
	selector overlay. A container that is completely customisable. It accept templates for items,
	search, footer
</p>
<selector-overlay-app
	[items]="['test', 'autre']"
	scrollOption="reposition"
	[itemTemplate]="itemTemplate"
>
	<button trigger>trigger</button>

	<div search>
		<input type="text" />
		<hr />
	</div>

	<div footer>
		text or button in footer
	</div>
</selector-overlay-app>

<ng-template #itemTemplate let-item>
	<p>item : {{ item }}</p>
</ng-template>
<hr />

<ng-container *ngFor="let entity of entityNames">
	<ng-container *ngIf="entity === 'PropertyOption'; else regularEntity">
		<selector-app
			[typename]="entity"
			customType="Color"
			[canCreate]="true"
			(update)="update($event, entity)"
		>
			<div>OffsetX, OffsetY: Default</div>
			<button class="mg-ms">{{ entity }} selector</button>
		</selector-app>
	</ng-container>

	<ng-template #regularEntity>
		<selector-app [typename]="entity" [canCreate]="true" (update)="update($event, entity)">
			<div>OffsetX, OffsetY: Default</div>
			<button class="mg-ms">{{ entity }} selector</button>
		</selector-app>
	</ng-template>
</ng-container>

<!-- STATUS SELECTOR CARD -->
<div class="flex">
	<card-app class="mg-l col-50">
		<card-title-app>Status Selectors</card-title-app>
		<p>
			This "dropdown" is different from the other selectors:
		</p>
		<p class="mg-bottom-s">
			It take a single entity and display his status through a button or a badge. <br />
			This entity should correspond to a typename 'Product' | 'Task' | 'Supplier' | 'sample'. <br />
			This way, the status-selector can get the correct 'WorkflowStatus' to display statuses
			disponibles for this typename. <br />
			When picking up a status, the component update the entity's status with the query "update[Typename]Status"
		</p>

		<!-- Setup the demo to use status-selector -->
		<ul>
			<!-- Typename Selector -->
			<li class="mg-bottom-s">
				<context-menu-app [closeOnScroll]="true" [offsetY]="5">
					<context-menu-trigger-app class="flex">
						<button class="">Select a Typename</button>
					</context-menu-trigger-app>
					<context-menu-item-app
						*ngFor="let typename of statusTypenames"
						(click)="selectTypename(typename)"
						>{{ typename }}</context-menu-item-app
					>
				</context-menu-app>
				Typename selected: {{ typenameSelected || '--' }}
			</li>
			<!-- End -- Typename Selector -->

			<!-- Entity Selector -->
			<li *ngIf="typenameSelected" class="mg-bottom-s">
				<selector-app [typename]="typenameSelected" (update)="selectEntity($event)">
					<button>Select a {{ typenameSelected }}</button>
				</selector-app>
				{{ typenameSelected }} selected: {{ entitySelected?.name || '--' }}
			</li>
			<!-- End -- Entity Selector -->

			<!-- Select trigger type -->
			<li *ngIf="entitySelected">
				select a trigger type
				<div class="flex">
					<input
						type="radio"
						style="width: 0.8rem; height: 1rem;"
						id="badge"
						name="triggertype"
						(change)="selectTrigger($event)"
						value="badge"
						checked
					/>
					<label for="badge">badge</label>
				</div>
				<div class="flex">
					<input
						type="radio"
						style="width: 0.8rem; height: 1rem;"
						id="button"
						name="triggertype"
						(change)="selectTrigger($event)"
						value="button"
					/>
					<label for="button">button</label>
				</div>
			</li>
			<!-- End -- Select trigger type -->
		</ul>
		<!-- End -- Setup the demo -->

		<!-- Demo : Display and update status of Entity Selected -->
		<ul>
			<li class="mg-bottom-s" *ngIf="entitySelected">
				{{triggerType}} status selector of {{typenameSelected}} "{{entitySelected.name}}":
				<status-selector-app
					class="flex"
					[entity]="entitySelected"
					[typename]="typenameSelected"
					[displayStep]="true"
					selectSize="m"
					[type]="triggerType"
				></status-selector-app>
			</li>
		</ul>
		<!-- End -- Demo -->
	</card-app>
</div>
