<ng-container *ngFor="let entity of entityNames">
	<ng-container *ngIf="entity === 'PropertyOption'; else regularEntity">
		<selector-app
			[typename]="entity"
			customType="Color"
			[canCreate]="true"
			(update)="update($event, entity)"
		>
			<div>OffsetX, OffsetY: Default</div>
			<button class="mg-ms">{{ entity }} selector</button>
		</selector-app>
	</ng-container>

	<ng-template #regularEntity>
		<selector-app [typename]="entity" [canCreate]="true" (update)="update($event, entity)">
			<div>OffsetX, OffsetY: Default</div>
			<button class="mg-ms">{{ entity }} selector</button>
		</selector-app>
	</ng-template>
</ng-container>
<status-app></status-app>
