<div class="item-compare-row-container">
	<div *ngFor="let data of comparisonData; trackBy: trackByFn">
		<ng-container [ngSwitch]="data.type">
			<div *ngSwitchCase="'title'">{{ data?.value }}</div>
			<div *ngSwitchCase="'content'">
				{{ data?.value | currency: quote?.price.currency:'symbol':'1.2-2' }}
			</div>
			<div *ngSwitchCase="'header'">
				<ng-container [ngSwitch]="data.dataType">
					<div *ngSwitchCase="'description'">
						{{ data?.value | currency: quote?.price.currency:'symbol':'1.2-2' }}
					</div>
					<div *ngSwitchCase="'text'">
						{{ data?.value | currency: quote?.price.currency:'symbol':'1.2-2' }}
					</div>
				</ng-container>
			</div>
			<div *ngSwitchCase="'image'"></div>
		</ng-container>
	</div>

	<div class="item-compare-row_header-container">
		<div class="image-container" *ngIf="type === 'content'">
			<img-app
				[customStyle]="{ 'border-radius': '5px' }"
				[image]="quote?.product?.images"
				type="product"
				size="s"
				[objectFit]="'cover'"
			></img-app>
		</div>
		<div class="item-compare-row_supplier" *ngIf="type === 'content'">
			{{ quote?.supplier?.name }}
		</div>
	</div>
	<div class="item-compare-row_body">
		<div class="comparison-row">
			<div *ngIf="type === 'title'" class="title">Reference</div>
			<div *ngIf="type === 'content'" class="content">
				{{ quote?.reference }}
			</div>
		</div>
	</div>
</div>
