<div class="item-compare-row-container">
	<div
		*ngFor="let comparison of comparisonData; trackBy: trackByFn"
		class="comparison-row"
	>
		<div [ngSwitch]="comparison.type">
			<div *ngSwitchCase="'title'">
				<div *ngFor="let value of comparison.data; trackBy: trackByFn">
					{{ value }}
				</div>
			</div>
			<div *ngSwitchCase="'content'">
				<div class="title">{{ comparison.title }}</div>
				<div [ngSwitch]="data.dataType">
					<div *ngSwitchCase="'price'">
						<div *ngFor="let value of comparison.data; trackBy: trackByFn">
							{{ value | currency: value.currency:'symbol':'1.2-2' }}
						</div>
					</div>
					<div *ngSwitchCase="'text'">
						<div *ngFor="let value of comparison.data; trackBy: trackByFn">
							{{ value }}
						</div>
					</div>
					<div *ngSwitchCase="'tag'">
						<div *ngFor="let value of comparison.data; trackBy: trackByFn">
							<span
								*ngFor="let tag of value; let fst = first; trackBy: trackByFn"
							>
								{{ tag.name }} {{ fst ? ', ' : '' }}
							</span>
						</div>
					</div>
				</div>
			</div>
			<div *ngSwitchCase="'header'">
				<div [ngSwitch]="data.dataType">
					<div *ngSwitchCase="'description'" class="description">
						<div *ngFor="let value of comparison.data; trackBy: trackByFn">
							{{ value }}
						</div>
					</div>
					<div *ngSwitchCase="'text'" class="header-title">
						<div *ngFor="let value of comparison.data; trackBy: trackByFn">
							{{ value }}
						</div>
					</div>
				</div>
				<div *ngSwitchCase="'image'">
					<div *ngFor="let value of comparison.data; trackBy: trackByFn">
						<div class="image-container" *ngIf="type === 'content'">
							<img-app
								[customStyle]="{ 'border-radius': '5px' }"
								[image]="value"
								type="product"
								size="s"
								[objectFit]="'cover'"
							></img-app>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
