<div class="action-container flexBetween">
	<div class="flexVAlign icons-container no-select">
		<icon-app *ngIf="favourite" name="heart" size="ms" class="favourite" toolTip toolTipMessage="Favorite"></icon-app>
		<!-- TODO ngx -->
		<icon-app *ngIf="hasSamples" name="sample" size="ms"
			toolTip [toolTipMessage]="(samplesCount$ | async) + ((samplesCount$ | async) === 1 ? ' sample' : ' samples')">
		</icon-app>
		<!-- TODO ngx -->
		<icon-app *ngIf="hasTasks" name="check-circle" [ngClass]="{'warn-circle': hasTaskOverdue}" size="ms"
			toolTip [toolTipMessage]="(tasksCount$ | async) + ((tasksCount$ | async) === 1 ? ' task' : ' tasks')">
		</icon-app>
		<icon-app *ngIf="hasComments" name="comments" size="ms"
			toolTip [toolTipMessage]="(commentsCount$ | async) + ((commentsCount$ | async) === 1 ? ' comment' : ' comments')">
		</icon-app>
		<icon-app *ngIf="(requestsCount$ | async) && !(openRequestsCount$ | async)" name="envelope" size="ms"></icon-app>
		<div *ngIf="openRequestsCount$ | async as numRequests" class="with-badge">
			<span class="red-badge"></span>
			<icon-app name="envelope" size="ms" notifBadge toolTip [toolTipMessage]="numRequests + numRequests === 1 ? 'request' : 'requests'"></icon-app>
		</div>
		<span
			*ngIf="thumbService.computeScoreVotes(votes) !== null"
			class="vote-star-container"
			[ngClass]="{
				'bg-accent-light color-accent-dark': thumbService.computeScoreVotes(votes) >= 3.5,
				'bg-secondary-light color-txt-third': thumbService.computeScoreVotes(votes) < 3.5 }"
			toolTip toolTipMessage="Team rating">
			<icon-app class="star" name="star" size="ms"></icon-app>
			<span class="vote-star-value">{{ thumbService.computeScoreVotes(votes) | number: '1.1-2' }}</span>
		</span>
	</div>
</div>
