icon-app {
	margin: 0 var(--spacing-s);
	cursor: default;

	&:first-child {
    margin-left: var(--spacing-xs);
	}
}

icon-app.star {
	display: inline;
	margin: 0 var(--spacing-xs) 0 0;
}

.icons-container > icon-app:not(.favorite) {
	color: var(--color-txt-third);
}

.icons-container > icon-app.favorite {
	color: var(--color-warn);
}

.vote-star-container {
	border-radius: var(--border-radius);
	margin-left: var(--spacing-xs);
	padding: var(--spacing-xs);
}

.vote-star-value {
	width: 19px;
  height: 18px;
  font-size: 14px;
  font-weight: 600;
	margin: 0 0 0 2px;
}

.warn-circle {
	color: var(--color-warn) !important;
}

.with-badge {
	position: relative;
}

.red-badge { // this will be replaced in future with the notif-badge-component
	position: absolute;
	top: 0;
	right: 6px;
  height: 4px;
  width: 4px;
  background-color: var(--color-warn);
  border-radius: 50%;
  display: inline-block;
}
