:host {
	display: flex;
	justify-content: space-between;
	background: var(--color-bg);
	box-sizing: border-box;
	height: 75px;
}


.left {
	.backArrow, .logo {
		margin-left: var(--spacing-l);
	}
	.info {
		margin-left: var(--spacing-ms);
	}
}

.left {
	max-width: 50%;
	white-space: nowrap;
	align-items: center;
}

.right {
	max-width: 50%;
	white-space: nowrap;
	align-items: center;
	margin-right: var(--spacing-xl);
}


.info {
	height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	h1 {
		font-family: var(--font-normal);
		font-size: 20px;
		font-weight: 600;
		color: var(--color-txt-strong);
		line-height: 1;
		margin-right: var(--spacing-ms);
	}
}

.backArrow {
	align-items: flex-start;
	font-size: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 2px;
}


.action-list {
	user-picture-app,
	status-selector-app,
	button {
		display: inline-block;
		margin-right: var(--spacing-ms);
	}
	.rounded {
		min-width: var(--spacing-xl);
    border-radius: var(--spacing-m);
    height: var(--spacing-xl);
    font-size: var(--font-size-s);
    padding: 0;
	}

	.share,
	.like {
		background-color: var(--color-secondary);
		color: var(--color-black);
	}


	user-picture-app {
		display: inline-block;
	}
	context-menu-app,
	user-picture-app {
    vertical-align: middle;
	}
}
