	<div class="flex left container" [ngClass]="{'align-center': hasLogo}">

		<icon-app name="back-arrow" (click)="goBack()" class="backArrow flexStart color-txt-primary"></icon-app>

		<div *ngIf="hasLogo" class="logo">
			<ng-content select="img-app"></ng-content>
		</div>

		<div class="info">
			<div class="flex title-container">
				<h2 class="color-txt-strong">{{ title }}</h2>
				<ng-content selecto="[titleExtra]"></ng-content>
			</div>
			<ng-content select="[subinfo]"></ng-content>
		</div>

	</div>

	<div class="flex right container action-list">
		<ng-content select="[action]"></ng-content>
	</div>

