:host {
	display: block;
	background: var(--color-bg);
	box-sizing: border-box;
	border-bottom: 1px solid var(--color-secondary);
}

.top {
	// padding-top: var(--spacing-l);
	// padding-bottom: var(--spacing-ml);
	height: 75px;
	.title {
		h1 {
			margin-top: var(--spacing-ms);
			font-family: var(--font-normal);
			font-size: 20px;
			font-weight: 600;
			color: var(--color-txt-strong);
			line-height: 1;
			margin-right: var(--spacing-ms);
		}
	}
}

.left > * {
	margin-left: var(--spacing-l);
}

.left {
	max-width: 50%;
	white-space: nowrap;
	align-items: center;
}

.right {
	max-width: 50%;
	white-space: nowrap;
	align-items: center;
	margin-right: var(--spacing-xl);

	button {
		margin-left: var(--spacing-ms);
	}
}

icon-app {
	align-items: flex-start;
	font-size: 20px;
}

:host nav {
	margin-left: 156px;
	> * {
		width: 120px;
		padding: 2px 0px;
		margin-right: var(--font-size-l);
		font-size: var(--font-size-l);
		display: block;
		height: 28px;
		border-bottom: 2px solid transparent;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		&.active {
			font-weight: bold;
			color: var(--color-primary);
			border-color: var(--color-primary);
		}
		&:hover {
			background: var(--color-secondary-light);
		}
	}
}


.logo {
  width: 50px;
  height: 50px;
  border-radius: 2px;
}

.container {
	height: 75px;
}

.action-list {
	user-picture-app,
	status-selector-app,
	button {
		display: inline-block;
		margin-left: var(--spacing-ms);
	}
	.rounded {
		min-width: var(--spacing-xl);
    border-radius: var(--spacing-m);
    height: var(--spacing-xl);
    font-size: var(--font-size-s);
    padding: 0;
	}

	.share,
	.like {
		background-color: var(--color-secondary);
		color: var(--color-black);
	}


	user-picture-app {
		display: inline-block;
	}
	context-menu-app,
	user-picture-app {
    vertical-align: middle;
	}
}
