:host {
	display: block;
	background: var(--color-bg);
	box-sizing: border-box;
	border-bottom: 1px solid var(--color-secondary);
}

.top {
	padding-top: var(--spacing-l);
	padding-bottom: var(--spacing-ml);
	.title {
		margin-bottom: var(--spacing-s);

		h1 {
			font-family: var(--font-normal);
			font-size: 20px;
			font-weight: 600;
			color: var(--color-txt-strong);
			line-height: 1;
			margin-right: var(--spacing-ms);
		}
	}
}

.left > * {
	margin-left: var(--spacing-l);
}

.right {
	margin-right: var(--spacing-xl);

	button {
		margin-left: var(--spacing-ms);
	}
}

icon-app {
	align-items: flex-start;
	font-size: 20px;
}

:host nav {
	margin-left: 156px;
	> * {
		width: 120px;
		margin-right: var(--font-size-l);
		font-size: var(--font-size-l);
		display: block;
		height: 28px;
		border-bottom: 2px solid transparent;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		&.active {
			font-weight: bold;
			color: var(--color-primary);
			border-color: var(--color-primary);
		}
	}
}


.logo {
  width: 64px;
  height: 64px;
  border-radius: 2px;
}