
	<div class="flex left container">

		<icon-app name="back-arrow" (click)="goBack()" class="backArrow flexStart color-txt-primary"></icon-app>

		<div class="logo">
			<ng-content select="img-app"></ng-content>
		</div>

		<div class="info">
			<h2 class="color-txt-strong">{{ title }}</h2>
			<ng-content select="[subinfo]"></ng-content>
		</div>

	</div>


	<div class="flex right container action-list">

		<button class="rounded like" toolTip toolTipMessage="Favorite item" [offsetX]="5">
			<rating-heart-app
				[customClassFavorited]="'header-favorited'"
				[colorNormal]="'color-black'"
				[colorFavorite]="''"
				[favorite]="data?.favorite"
				size="14"
				(favorited)="favorited.emit(data)"
				(unfavorited)="unfavorited.emit(data)">
			</rating-heart-app>
		</button>

		<button
			toolTip toolTipMessage="Export" [offsetX]="8"
			class="rounded secondary share"
			(click)="export.emit(data)">
			<icon-app name="export" size="14"></icon-app>
		</button>

		<selector2-app
			*ngIf="hasAssignee"
			type="user"
			toolTip
			toolTipMessage="Change assignee"
			[offsetX]="4"
			(update)="changeUser.emit($event)">
			<user-picture-app class="pointer" [user]="user" [border]="true"></user-picture-app>
		</selector2-app>
		<ng-content select="[action]"></ng-content>
	</div>

