<dialog-app [name]="name">

	<form [formGroup]="group" (ngSubmit)="onSubmit()">
		<input-textarea-app label="Description" formControlName="description"></input-textarea-app>
		<input-select-entity-app label="Status" formControlName="status" [entityRep]="statusRep"></input-select-entity-app>
		<input-select-entity-app label="Type" formControlName="type" [entityRep]="typeRep"></input-select-entity-app>
		<input-select-entity-app label="Product" formControlName="productId" [entityRep]="productRep"></input-select-entity-app>
		<input type="submit" value="Ok"/>
	</form>

</dialog-app>
