<button class="icon light mg-left-ms" (click)="export.emit()">
	<icon-app name="export" size="m" toolTip toolTipMessage="Export"></icon-app>
</button>

<context-menu-app>
	<context-menu-trigger-app>
		<button class="icon light mg-left-ms mg-right-ms">
			<icon-app name="sort" size="m" toolTip toolTipMessage="Sort"></icon-app>
		</button>
	</context-menu-trigger-app>
	<context-menu-item-app 
		*ngFor="let column of sortableColumns"
		(click)="onSortClick(column)"
		[ngClass]="{ 'color-primary': currentSort.sortBy === column.sortProperty }">
		{{ 'title.' + column.translationKey | translate }}
		<ng-container *ngIf="currentSort.sortBy === column.sortProperty">
			<icon-app 
				class="mg-left-s"
				[name]="currentSort.descending ? 'angle-down' : 'angle-up'"
				size="xs">
			</icon-app>
		</ng-container>
	</context-menu-item-app>
</context-menu-app>