<dialog-app class="vertical-scroll-content">

  <dialog-header-app>
		<div class="flex">
			<div class="flex move">
				<icon-app name="arrow-left-thin" (click)="back()"></icon-app>
				<span class="spacer"></span>
				<icon-app name="arrow-right-thin" (click)="next()"></icon-app>
			</div>

			<div class="title">
				<h2>{{ element?.name }}</h2>
				<span class="color-primary fs-m">{{ selectedIndex + 1 }} / {{ elements.length }} <ng-container i18n="@@products">products</ng-container></span>
			</div>
		</div>
	</dialog-header-app>

	<div *ngIf="!isPending(); else pending" class="info-banner flexCenter" i18n="@@reply-from-supplier">
		This is the reply from your supplier
	</div>

	<ng-template #pending>
		<div  class="info-banner flexCenter" i18n="@@no-reply-from-supplier">
			The supplier hasn't answered yet.
		</div>
	</ng-template>

	<ng-container *ngIf="element">
		<ng-container *ngIf="element?.reply as reply">

			<article>
				<h3 class="ms" i18n="product-details">product details</h3>

				<list-app>
					<comparison-row-app class="title-row" label="" [values]="['Current Values', 'Supplier\'s Answer']" [hasCheckbox]="false">
						<ng-template comparisonRowTemplateApp let-value="value">
							{{ value }}
						</ng-template>
					</comparison-row-app>
					<list-item-app *ngFor="let field of element.reply.fields; trackBy: trackByFn">
						<comparison-row-app
							[checked]="selectionSrv.selection.has(field.id)"
							[label]="field?.definition?.label"
							[values]="getValues( field )"
							[hasCheckbox]="!isDisabled()"
							(selected)="selectionSrv.selectOne(field)"
							(unselected)="selectionSrv.unselectOne(field)">
							<ng-template comparisonRowTemplateApp let-value="value">
								<ng-container [ngSwitch]="field.definition.type">
									<span *ngSwitchDefault>{{ value }}</span>
									<price-app *ngSwitchCase="'price'" [price]="value"></price-app>
									<packaging-app *ngSwitchCase="'packaging'" [packaging]="value"></packaging-app>
								</ng-container>
							</ng-template>
						</comparison-row-app>
					</list-item-app>
				</list-app>

				<footer *ngIf="!isDisabled()" class="flex">
					<button class="primary accept" (click)="acceptAll(erm.EXTENDED_FIELD)" i18n="button@@accept-all">Accept All</button>
					<button class="secondary" (click)="refuseAll(erm.EXTENDED_FIELD)" i18n="button@@refuse-all">Refuse All</button>
				</footer>
			</article>

			<article *ngIf="reply?.message">
				<h3 class="ms" i18n="@@supplier-message">Supplier Message</h3>
				<div class="reply-message">{{ reply?.message }}</div>
			</article>

			<article *ngIf="reply?.images?.length > 0">
				<h3 class="l" i18n="additional-pictures">additional pictures</h3>

				<image-reviewer-app
					[images]="reply?.images"
					[selection]="selectionSrv.selection$ | async"
					(selected)="selectionSrv.selectOne($event)"
					(unselected)="selectionSrv.unselectOne($event)">
				</image-reviewer-app>

				<footer *ngIf="!isDisabled()" class="flex">
					<button class="primary accept" (click)="acceptAll(erm.IMAGE)" i18n="button@@accept-all">Accept All</button>
					<button class="secondary" (click)="refuseAll(erm.IMAGE)" i18n="button@@refuse-all">Refuse All</button>
				</footer>
			</article>


			<article *ngIf="reply?.attachments?.length > 0">
				<h3 class="l" i18n="additional-attachments">additional attachments</h3>

				<file-reviewer-app
					[files]="reply?.attachments"
					[selection]="selectionSrv.selection$ | async"
					(selected)="selectionSrv.selectOne($event)"
					(unselected)="selectionSrv.unselectOne($event)">
				</file-reviewer-app>

				<footer *ngIf="!isDisabled()" class="flex">
					<button class="primary accept" (click)="acceptAll(erm.ATTACHMENT)" i18n="button@@accept-all">Accept All</button>
					<button class="secondary" (click)="refuseAll(erm.ATTACHMENT)" i18n="button@@refuse-all">Refuse All</button>
				</footer>
			</article>

		</ng-container>
	</ng-container>

	<dialog-footer-app>
		<ng-container *ngIf="!isDisabled(); else notReplied">
			<button class="secondary" (click)="close()" i18n="button@@close-request">Close Request</button>
			<button class="secondary" (click)="resend()" i18n="button@@send-back">Send Back</button>
			<button (click)="acceptRequest()" i18n="button@@accept-request">Accept Request</button>
		</ng-container>
		<ng-template #notReplied>
			<span class="bold-s" i18n="@@product-not-yet-replied">This product has not been replied yet by the supplier</span>
		</ng-template>
	</dialog-footer-app>

</dialog-app>