dialog-app {
	height: 80vh;
	extended-form-app {
		margin-bottom: var(--spacing-ms);
	}
}

list-item-app {
	height: 33px;
}

dialog-header-app {
	.move {
		font-size: var(--font-size-xxl);
		.spacer {
			width: var(--spacing-ms);
		}
	}
	.title {
		margin-left: var(--spacing-ms);
	}
}

.info-banner {
	background: var(--color-secondary-light);
	font-size: var(--font-size-xxl);
	color: var(--color-txt-strong);
	font-weight: 600;
	height: 62px;
	width: 100%;
}

article {
	margin: var(--spacing-m) 0;

	.title-row {
		margin-bottom: var(--spacing-ms);
	}

	list-app {
		margin-bottom: var(--spacing-l);
	}
}

.accept {
	margin-right: var(--spacing-ms);
}
