
<filtered-list-page-app [filterGroupName]="filterGroupName" [pending]="pending">

	<div class="filters">
		<h3>Tasks Filters</h3>
		<filter-list-app
			[filterGroupName]="filterGroupName"
			[targets]="targetsTask"></filter-list-app>		
	</div>


	<div class="filters">
		<h3>Products Filters</h3>
		<filter-list-app 
			[filterGroupName]="filterGroupName"
			[targets]="targets"></filter-list-app>		
	</div>


	<tasks-list-view [tasksEntities]="tasksEntities" class="list-view"></tasks-list-view>

	
	<div class="card-view">
		cards
		<div class="card" *ngFor="let id of tasksEntities.ids">
			<div>{{ tasksEntities.byId[id]?.taskType  | json }}</div>
			<div>{{ tasksEntities.byId[id]?.description  | json }}</div>
			<div>{{ tasksEntities.byId[id]?.status  | json }}</div>
		</div>
	</div>
</filtered-list-page-app>


