	<dialog-app>

		<!-- when ready -->
		<dialog-header-app class="merge-title first-uppercase">
			{{ 'OBJ.merge-OBJ' | translate: {field: 'ERM.' + type.translationKey + '.plural' | translate} }}
		</dialog-header-app>

		<div [class.opacity]="pending">

			<h2 class="merge-into">MERGE INTO</h2> <!-- TODO: translation to be added -->

			<selector-app
				[type]="type.singular"
				[disabled]="pending"
				[canCreate]="false"
				[filterList]="filterList"
				[width]="370"
				(update)="entitySelect($event)">
				<div class="flexVAlign select-entity ellipsis pointer txt-btn type">
					<span class="entity-to-merge">
						{{ selected?.name || 'Select ' + type.singular  }}
					</span>
				</div>
			</selector-app>

			<div class="merge-entities-title">The following {{type.plural}} will be merged</div>

			<div class="merge-entities">
				<ul>
					<li *ngFor="let entity of entities">
						<div class="selected-entitiy-name ellipsis">{{entity?.name}}</div>
					</li>
				</ul>
			</div>

			<h2 class="warning-undone">Warning: This action cannot be undone</h2>
		</div>

		<dialog-footer-app>
			<button class="cancel secondary" [disabled]="pending" (click)="dlgSrv.close()">Cancel</button> <!-- TODO: add translation -->
			<div *ngIf="pending" class="flexVAlign load-spinner">
				<spinner-app size="m"></spinner-app>
			</div>
			<button
				class="capitalize"
				[disabled]="pending || !selected"
				(click)="onSubmit()">
				{{'text.merge' | translate}}
			</button>
		</dialog-footer-app>

</dialog-app>
