<!-- <card-app>
	<card-title-app>Config ts file</card-title-app>

	<p>
		Here is a stackblitz with a smaller version of the tables to understand it more easily

		https://stackblitz.com/edit/angular-vtluff?file=src/app/app.component.ts
	</p>

	<p>Your component must extends <b>EntityTableComponent</b> with an <b>Entity</b><br>
		<small>export class YourComponent extends EntityTableComponent&lt;Entity&gt;</small>
	</p>

	<p>And assign <b>ListPageService</b> in constructor<br>
		<small>public listSrv: ListPageService&lt;Entity, Service of the entity&gt;</small>
	</p>
	<p>
		Setup config ListPageService in ngOnInit<br>
		You can see interface of the config in list-page-config.interface.ts<br>
		<small>listSrv.setup(&#123; your config &#125;)</small>
	</p>
	<p>We have 2 templates below:</p>
	<p class="mg-s">The 1st template (contextualMenuTemplate) which will appear when you hover a row in the table and
		click dots</p>
	<p class="mg-s">The 2nd template is name of the column</p>
</card-app>

<card-app>
	<card-title-app>Config html file</card-title-app>
	<b>&lt;table-app</b>
	<div class="mg-horizontal">
		<div class="mg-horizontal">
			[rows]="listSrv.items$ | async"<br>
			[pending]="listSrv.pending"<br>
			[selected]="selectionSrv.selection$ | async"<br>
			[contextualMenu]="contextualMenuTemplate"<br>
			placeholder="this is placeholder"<br>
			(goToPage)="listSrv.loadPage($event)"<br>
			(selectOne)="selectionSrv.selectOne($event, true)"<br>
			(unselectOne)="selectionSrv.unselectOne($event, true)"<br>
			(selectAll)="selectionSrv.selectAll($event, true)"<br>
			(unselectAll)="selectionSrv.unselectAll()"<br>
			(sort)="listSrv.sort($event)"<br>
			(bottomReached)="bottomReached.emit()"<b>&gt;</b>
		</div>
		<br>
		<b>&lt;ng-template</b> #contextualMenuTemplate let-row="row"<b>&gt;</b><br>
		<div class="mg-horizontal">
			<b>&lt;context-menu-item-app&gt;</b><br>
			&nbsp;&nbsp;Action<br>
			<b>&lt;/context-menu-item-app&gt;</b>
		</div>
		<b>&lt;/ng-template&gt;</b><br>

		<b>&lt;ng-template</b>
		<div class="mg-horizontal">
			[columnApp]="'Supplier'"<br>
			sortBy="name"<br>
			let-row="row"<br>
			width="300"<b>&gt;</b><br>
			{{ row?.name }}
		</div>
		<b>&lt;/ng-template&gt;</b><br>
	</div>
	<b>&lt;/table-app&gt;</b><br>
</card-app>

<card-app>
	<card-title-app>Example with Supplier</card-title-app>
	<table-app
		[rows]="listSrv.items$ | async"
		[pending]="listSrv.pending"
		[contextualMenu]="contextualMenuTemplate"
		placeholder="'No suppliers'"
		(bottomReached)="bottomReached.emit()">

		<ng-template #contextualMenuTemplate let-row="row">
			<context-menu-item-app>
				Action
			</context-menu-item-app>
		</ng-template>

		<ng-template [columnApp]="'Supplier'" sortBy="name" let-row="row" width="300">
			{{ row?.name }}
		</ng-template>
	</table-app>
</card-app> -->
