<div
	class="icon flexCenter bg-{{ boxColor }}"
	[ngClass]="{ 'mg-right': hasContent, 'pointer': !disabled }"
	[ngStyle]="iconSize()"
	(click)="onClick($event)">
	<!-- we need this to wrap both items, we cannot use the container above cause of the styling that has -->
	<div class="select-container flexCenter" tabFocusAction>
		<ng-container [ngSwitch]="state">
			<icon-app *ngSwitchCase="'selectedAll'" class="check-icon" name="check"></icon-app>
			<icon-app *ngSwitchCase="'selectedPartial'" class="check-icon" name="minus"></icon-app> 
			<ng-container *ngSwitchDefault>
				<div [ngStyle]="uncheckedStyle()"></div>
			</ng-container>
		</ng-container>
	</div>
</div>

<input #input
	type="checkbox"
	class="hidden"
	[hidden]="true"/>

<label class="label" [ngClass]="{ 'pointer': !disabled }" #label (click)="onClick()" class="flexVAlign">
	<ng-content></ng-content>
</label>
