<selector-content-app
	[searchText]="selectorSrv.searchText"
	[type]="erm.SELECTOR_ELEMENT"
	(onInput)="selectorSrv.search($event)"
	(onKeydown)="onKeydown($event)"
	(close)="close.emit()">
	<selector-content-stored-app *ngIf="multiple">
		<ng-container *ngIf="value?.length; else empty">
			<info-badge-app *ngFor="let item of value; trackBy: trackById" class="mg-bottom-xs" [type]="erm.SELECTOR_ELEMENT.singular" [hasDelete]="true" (delete)="deleteStoredItem(item)">{{ item.value }}</info-badge-app>
		</ng-container>
		<ng-template #empty>
			<span class="italic color-txt-third">{{ 'OBJ.no-item-add-one' | translate: { field: 'ERM.' + erm.SELECTOR_ELEMENT.translationKey + '.singular' | translate } }}</span>
		</ng-template>
	</selector-content-stored-app>

	<selector-content-items-app infiniScroll [pending]="!(selectorSrv.items$ | async)" (bottomReached)="selectorSrv.loadMore()">
		<selector-option-value-app #abstract *ngFor="let item of selectorSrv.items$ | async; trackBy: trackById" [item]="item" (click)="onSelect(item)"></selector-option-value-app>
	</selector-content-items-app>
</selector-content-app>
