:host {
	width: 380px;
	height: 500px;
	display: block;
}

card-app {
	height: 99%;
	width: 100%;
	border-radius: var(--border-radius-s);
	border: var(--spacing-xs) solid white;
	outline: 1px solid var(--color-secondary);
}

.empty {
	font-style: italic;
	color: var(--color-txt-secondary);
	background: var(--color-secondary-light);
	img {
		margin-bottom: var(--spacing-s);
	}
	button.secondary {
		margin-top: var(--spacing-s);
		font-weight: 600;
	}
}

.info-creation {
	margin-left: 20px;
	margin-top: var(--spacing-l);
	.text-creation {
		color: var(--color-txt-primary);
		font-size: var(--font-size-s);
		margin-left: var(--spacing-s);
	}
}

action-bar-app {
	margin-top: var(--spacing-m);
	padding-left: var(--spacing-s);
	overflow: visible;

	button {
		margin-right: var(--spacing-ms);
	}
	button.secondary-light {
		font-weight: 600;
	}
}

icon-app {
	font-size: 20px;
}

carousel-app, .empty {
	height: 371px;
	border-radius: var(--border-radius-s);
}