
<card-app padding="none"(fileDrop)="add($event)">
		<!-- images -->
		<ng-container *ngIf="images.length > 0; else noImg">
			<!-- carousel -->
			<carousel-app
				[images]="images"
				[selectedIndex]="selectedIndex"
				(imgClick)="openModal($event)"
				(deleted)="onDelete($event)">
			</carousel-app>

		</ng-container>
		<!-- no image -->
		<ng-template #noImg>
			<div class="flexColumn flexCenter empty">
				<img [src]="defaultImg"/>
				<span>No picture yet</span>
				<button class="secondary" (click)="openFileBrowser()">Add Picture</button>
			</div>
		</ng-template>

		<action-bar-app
			[favorite]="product.favorite"
			(onFavorite)="productFavorite.emit()"
			(onUnfavorite)="productUnfavorite.emit()"
			[hasLikes]="false">
			<button class="icon light" (click)="requestFeedback.emit()">
				<icon-app name="poll"></icon-app>
			</button>
			<button class="icon light" (click)="openAddProject.emit()">
				<icon-app class="fs-xl" fontSet="svg" name="folder-light"></icon-app>
			</button>
			<button class="secondary-light" (click)="openFileBrowser()">Add Picture</button>
			<context-menu-app [xPosition]="3" [yPosition]="35" [width]="150">
				<context-menu-trigger-app>
					<button class="icon light dots">
						<icon-app name="dots-vertical"></icon-app>
					</button>
				</context-menu-trigger-app>
				<context-menu-item-app (click)="export.emit()">
					Export
				</context-menu-item-app>
				<context-menu-item-app *ngIf="product?.status?.status" (click)="openRequestQuotationDialog.emit()">
					Request for quotation
				</context-menu-item-app>
			</context-menu-app>
		</action-bar-app>

		<div class="flex info-creation">
			<user-picture-app [user]="product?.createdBy" [image]="product.createdBy?.avatar" border="true"></user-picture-app>
			<div class="text-creation">
				<p>created by {{product?.createdBy?.firstName || ''}} {{product?.createdBy?.lastName || ''}}</p>
				<span>{{ product.creationDate | timeAgo }}{{ product?.event?.name ? ', at'+product.event.name : ''}}</span>
			</div>
		</div>

		<!-- modal carousel that can be seen when clicking on the normal carousel -->
		<modal-carousel-app
			*ngIf="modalOpen"
			[selectedIndex]=[selectedIndex]
			[images]="images"
			(close)="closeModal()"></modal-carousel-app>

		<input #inpFile multiple="true" type="file" accept="image/*" (fileSelect)="add($event)"/>
</card-app>