
<card-app class="mg-m">
	<card-title-app>
		HTML input
	</card-title-app>

	<p class="mg-v-ms">
		This is the styling for a generic html input
	</p>

	<input class="mg-v-ms" type="text" placeholder="normal input"/>
	<input class="ng-invalid mg-v-ms" type="text" placeholder="invalid input"/>
	<input class="mg-v-ms" type="text" readonly placeholder="readonly input"/>
	<input class="mg-v-ms" type="text" disabled placeholder="disabled input"/>
	<input class="small mg-v-ms" type="text" placeholder="small input"/>
	
</card-app>
