<div class="flex settings">
  <sidenav-app menuIcon="shape" menuTitle="Settings" (expanded)="onMenuExpanded($event)">

		<sidenav-item-app link="/settings/profile">
			<icon-app name="user" fontSet="svg"></icon-app> <span sidenavLabelApp>Profile</span>
		</sidenav-item-app>
		<!-- TODO Uncomment when these tabs are needed -->
		<!-- <sidenav-item-app link="/settings/workflows">
			<icon-app name="workflow"></icon-app> <span sidenavLabelApp>Workflows</span>
		</sidenav-item-app>
		<sidenav-item-app link="/settings/fields">
			<icon-app name="fields"></icon-app> <span sidenavLabelApp>Fields Setup</span>
		</sidenav-item-app> -->
		<sidenav-item-app link="/settings/team/members">
			<icon-app name="team" fontSet="svg"></icon-app> <span sidenavLabelApp>Team Members</span>
		</sidenav-item-app>

		<sidenav-item-app link="/settings/workflow" [hasChildren]="true">
			<icon-app name="fields"> <span sidenavLabelApp> Status Workflow </span> </icon-app>

			<sidenav-item-app link="/settings/workflow/product">
				<span sidenavLabelApp>Product</span>
			</sidenav-item-app>
			<sidenav-item-app link="/settings/workflow/supplier">
				<span sidenavLabelApp>Supplier</span>
			</sidenav-item-app>
			<sidenav-item-app link="/settings/workflow/sample">
				<span sidenavLabelApp>Sample</span>
			</sidenav-item-app>
		</sidenav-item-app>

		<sidenav-item-app [hasChildren]="true">
			<icon-app name="data-cleansing" fontSet="svg"></icon-app> <span sidenavLabelApp>Data Cleansing</span>

			<sidenav-item-app link="/settings/data/category">
				<span sidenavLabelApp>Category</span>
			</sidenav-item-app>
			<sidenav-item-app link="/settings/data/tag">
				<span sidenavLabelApp>Tag</span>
			</sidenav-item-app>
			<sidenav-item-app link="/settings/data/event">
				<span sidenavLabelApp>Event</span>
			</sidenav-item-app>
		</sidenav-item-app>
  </sidenav-app>

  <div class="settings-page">
	<router-outlet></router-outlet>
  </div>
</div>
