<div class="flex settings">
  <sidenav-app menuIcon="settings" [menuTitle]="'text.settings' | translate" (expanded)="onMenuExpanded($event)">

		<sidenav-item-app link="/settings/profile">
			<icon-app name="user"></icon-app>
			<span sidenavLabelApp translate="title.profile"></span>
		</sidenav-item-app>
		<!-- TODO Uncomment when these tabs are needed -->
		<!-- <sidenav-item-app link="/settings/workflows">
			<icon-app name="workflow"></icon-app> <span sidenavLabelApp>Workflows</span>
		</sidenav-item-app>
		<sidenav-item-app link="/settings/fields">
			<icon-app name="fields"></icon-app> <span sidenavLabelApp>Fields Setup</span>
		</sidenav-item-app> -->
		<sidenav-item-app [hasChildren]="true">
			<icon-app name="team"></icon-app>
			<span sidenavLabelApp i18n="@@data-cleansing">Team Members</span>
			<sidenav-item-app link="/settings/team/members">
				<span sidenavLabelApp i18n="@@team-members">Team Members</span>
			</sidenav-item-app>
			<sidenav-item-app link="/settings/team/settings">
				<span sidenavLabelApp i18n="@@team-settings">Settings</span>
			</sidenav-item-app>
		</sidenav-item-app>

		<!-- Data cleansing -->
		<sidenav-item-app [hasChildren]="true">
			<icon-app name="cleansing"></icon-app>
			<span sidenavLabelApp translate="text.data-cleansing"></span>

			<sidenav-item-app link="/settings/data/category">
				<span sidenavLabelApp translate="text.category"></span>
			</sidenav-item-app>
			<sidenav-item-app link="/settings/data/tag">
				<span sidenavLabelApp translate="text.tag"></span>
			</sidenav-item-app>
			<sidenav-item-app link="/settings/data/supplier">
				<span sidenavLabelApp i18n="@@supplier">supplier</span>
			</sidenav-item-app>
			<sidenav-item-app link="/settings/data/event">
				<span sidenavLabelApp translate="text.event"></span>
			</sidenav-item-app>
		</sidenav-item-app>

		<!-- Export -->
		<sidenav-item-app link="/settings/exports">
			<icon-app name="export"></icon-app> <span sidenavLabelApp translate="button.exports"></span>
		</sidenav-item-app>

	</sidenav-app>

  <div class="settings-page">
		<router-outlet></router-outlet>
  </div>
</div>
