<div class="flex">
	<div class="cercle"></div>
	<div class="flexColumn info">
		<h2>{{ supplier?.name }}</h2>
		<div>
			Supplier
			<ng-container *ngIf="supplier.countryCode">
				- {{ supplier.countryCode | entity: 'countries': 'fullName' | async }}
			</ng-container>
		</div>
	</div>

</div>
<div>
	<status-selector-badge-app
		class="badge"
		(update)="onStatusChange($event)"
		[status]="supplier?.advancedInfos?.status"
		[choices]="'supplierStatus' | entityList | async">
	</status-selector-badge-app>
	<rating-heart-app
		[rating]="supplier?.rating"
		(favorited)="onFavorited()"
		(unfavorited)="onUnfavorited()"></rating-heart-app>
</div>
