<editable-container-app
	[class.hover-light]="hoverLight"
	[hasAction]="false"
	[isFullWidth]="isFullWidth"
	[isOpen]="selector?.menuOpen"
	(click)="selector.openMenu($event)">
	<editable-value-app>
		<ng-container [ngSwitch]="badge">

			<!-- Product -->
			<div *ngSwitchCase="erm.PRODUCT" class="flexStart icon-container">
				<selector-app
					#selector
					typename="Product"
					[customType]="customType"
					[canCreate]="true"
					[leftSideOrientation]="leftSideOrientation"
					[width]="370"
					(update)="update.emit($event)">
					<div class="flexVAlign">
						<logo-app *ngIf="hasLogo" class="pointer" typename="Product" size="xs"></logo-app>
						<span *ngIf="value; else empty" class="ellipsis flexVAlign">{{ value }}</span>
						<ng-template #empty>
							<span class="ellipsis flexVAlign" translate="text.set-product"></span>
						</ng-template>
					</div>
				</selector-app>
				<icon-app
					*ngIf="hasOpenAction && value"
					class="icon-preview"
					toolTip [toolTipMessage]="toolTipMessage" toolTipPosition="above-left" [offsetX]="-15" [offsetY]="-7"
					name="eye"
					(click)="onOpenActionClick($event)">
				</icon-app>
			</div>

			<!-- Supplier -->
			<div *ngSwitchCase="erm.SUPPLIER" class="flexStart icon-container">
				<selector-app
					#selector
					typename="Supplier"
					[customType]="customType"
					[canCreate]="true"
					[width]="370"
					[leftSideOrientation]="leftSideOrientation"
					(update)="update.emit($event)">
					<div class="flexVAlign">
						<logo-app *ngIf="hasLogo" class="pointer" typename="Supplier" size="xs"></logo-app>
						<span *ngIf="value; else empty" class="ellipsis flexVAlign">{{ value }}</span>
						<ng-template #empty>
							<span class="ellipsis flexVAlign" translate="text.set-supplier"></span>
						</ng-template>
					</div>
				</selector-app>
				<icon-app
					*ngIf="hasOpenAction && value"
					class="icon-preview supplier"
					toolTip [toolTipMessage]="toolTipMessage" toolTipPosition="above-left" [offsetX]="-15" [offsetY]="-7"
					name="eye"
					(click)="onOpenActionClick($event)">
				</icon-app>
			</div>

			<!-- Supplier Type -->
			<div *ngSwitchCase="erm.SUPPLIER_TYPE" class="flexStart icon-container">
				<selector-app
					#selector
					typename="SupplierType"
					[customType]="customType"
					[canCreate]="true"
					[width]="370"
					[leftSideOrientation]="leftSideOrientation"
					(update)="update.emit($event)">
					<div class="flexVAlign">
						<logo-app *ngIf="hasLogo" class="pointer" typename="Supplier" size="xs"></logo-app>
						<span *ngIf="value; else empty" class="ellipsis flexVAlign">{{ value }}</span>
						<ng-template #empty>
							<span class="ellipsis flexVAlign" translate="text.set-supplier-type"></span>
						</ng-template>
					</div>
				</selector-app>
			</div>

			<!-- Location -->
			<div *ngSwitchCase="erm.LOCATION" class="flexStart icon-container">
				<selector-app
					#selector
					typename="Country"
					[customType]="customType"
					[width]="370"
					[leftSideOrientation]="leftSideOrientation"
					(update)="update.emit($event)">
					<div class="flexVAlign">
						<logo-app *ngIf="hasLogo" class="pointer" typename="Location" size="xs"></logo-app>
						<span *ngIf="value; else empty" class="ellipsis flexVAlign">{{ value }}</span>
						<ng-template #empty>
							<span class="ellipsis flexVAlign" translate="text.set-location"></span>
						</ng-template>
					</div>
				</selector-app>
			</div>

			<!-- PropertyOption -->
			<div *ngSwitchCase="'PropertyOption'" class="flexStart icon-container">
				<selector-app
					#selector
					typename="PropertyOption"
					[customType]="customType"
					[value]="value"
					[canCreate]="true"
					[multiple]="multiple"
					[width]="370"
					[leftSideOrientation]="leftSideOrientation"
					(update)="update.emit($event)">
					<div class="flexVAlign">
						<logo-app *ngIf="hasLogo" class="pointer" [typename]="customType | capitalize" size="xs"></logo-app>
						<div *ngIf="value?.value as value; else noVal"  class="category-wrap flex flexWrap">
							<div class="ellipsis category-info dot-separator color-txt-primary">
								<span class="ellipsis"> {{ value }}  </span>
							</div>
						</div>
						<ng-template #noVal>
							<span class="ellipsis flexVAlign">
								{{ (multiple ? 'OBJ.set-category.plural' : 'OBJ.set-category.singular') | translate }}
							</span>
						</ng-template>
					</div>
				</selector-app>
			</div>

			<!-- Event -->
			<div *ngSwitchCase="erm.EVENT" class="flexStart icon-container">
				<selector-app
					#selector
					typename="Event"
					[value]="value"
					[canCreate]="true"
					[width]="370"
					[leftSideOrientation]="leftSideOrientation"
					(update)="update.emit($event)">
					<div class="flexVAlign">
						<logo-app *ngIf="hasLogo" class="pointer" typename="Event" size="xs"></logo-app>
						<span *ngIf="(value?.name || value?.description?.name); else empty" class="ellipsis flexVAlign">
							{{ value?.name || value?.description?.name }}
						</span>
						<ng-template #empty>
							<span class="ellipsis flexVAlign" translate="text.set-event"></span>
						</ng-template>
					</div>
				</selector-app>
			</div>
		</ng-container>

		<ng-content></ng-content>

	</editable-value-app>
</editable-container-app>

