:host {
  display: block;
}

.ctnr {
	padding: var(--spacing-top-panel) 0;
}

.right > * {
	margin-left: var(--spacing-l);
}

.hr {
	margin: 0;
}


button {
  height: 40px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
