<div class="ctnr flexBetween">
	<h2>My {{ repr.entityName }}</h2>
	<div class="flexCenter right">

		<filter-search-bar-app [filterGroupName]="filterGroupName"></filter-search-bar-app>

		<div class="vertDivider"></div>

		<icon-app
			name="filter"
			(click)="filterClick.emit()"
			class="icon-filter pointer"
			color="primary-dark">
		</icon-app>

		<view-switcher-app
			*ngIf="switchable"
			(viewChange)="viewChange.emit($event)"
			[view]="view"></view-switcher-app>

		<button (click)="onClick()" class="small">
			<span class="icon-add"></span>
			create {{ repr.displayName }}
		</button>

	</div>
</div>
<filter-cloud-app [filters]="filters"></filter-cloud-app>
<div class="hr"></div>
