:host {
	display: block;
	padding: 0 var(--spacing-edge);
	padding-left: 0;
	padding-right: 0;
}

.ctnr {
	padding: var(--spacing-l) var(--spacing-xl) var(--spacing-l) var(--spacing-l);
	background-color: #fff;
	border: solid 1px var(--color-secondary);
	border-left: 0;

	&.has-nav {
		padding-bottom: 0;
	}
}

.plusIc {
	margin-top: var(--spacing-xs);
}

.mg-right {
	margin-right: var(--spacing-xl);
}

.vert-divider {
	height: 20px;
	border-right: 2px solid var(--color-divider);
}

divider-app {
	margin: var(--spacing-xl) 0;
}

.actions {
	text-transform: uppercase;
	font-size: var(--font-size-s);
	color: var(--color-txt-secondary);
	padding-bottom: 10px;
}

.spacing {
	margin-right: 10px;
    margin-left: 10px;
}

.navCtnr.has-nav {
	padding-top: 30px;

	&.centered {
		margin-left: auto;
		margin-right: auto;
	}
}
