<div class="flexColumn ctnr" [ngClass]="{ 'has-nav': withNav }">
	<div [ngClass]="{ flexAround: center, flexBetween: !center }">
		<div class="left">
			<bread-crumb-app [isModifiable]="isModifiable" (update)="update.emit($event)" [title]="title" [subtitles]="subtitles"></bread-crumb-app>
		</div>
		<div class="right flexCenter" *ngIf="buttonName">

			<button (click)="buttonClick.emit()" class="flex button auto small" *ngIf="hasAction">
				<span class="spacing"> {{ buttonName }} </span>
			</button>

		</div>

	</div>
	<div class="navCtnr" [ngClass]="{ 'has-nav': withNav, centered: center }">
		<ng-content select="nav"></ng-content>
	</div>
</div>
