:host {
	padding: 0 var(--spacing-l);
	height: 65px;
	background: white;
}

.ctnr {
	background-color: #fff;
	border: solid 1px var(--color-secondary);
	border-left: 0;
}

.actions {
	text-transform: uppercase;
	font-size: var(--font-size-s);
	color: var(--color-txt-secondary);
	padding-bottom: 10px;
}

h1 {
	font-weight:  600;
}
.navCtnr {
	margin-top: 36px;
}
