<div
	class="card-container action-hover-container-0"
	[ngClass]="{
		'disable-action-hover-0 disable-pointers': !hasHoverEffect,
		'card-hover-style': hasHoverEffect,
		'selected-card': selected
	}">

	<!-- picture -->
	<ng-container *ngIf="product?.images && product?.images.length > 0; else noImg">
		<img-app
			[ngClass]="{'small-img': size === 's'}"
			[image]="product?.images"
			objectFit="cover"
			size="xl">
		</img-app>
	</ng-container>

	<ng-template #noImg>
		<ng-container *ngIf="size === 's'; else imgM">
			<div class="flexVAlign mg-bottom-xs">
				<logo-app
					class="pointer no-img"
					icon="camera"
					size="xxxl"
					color="third"
					backgroundColor="bg-secondary">
				</logo-app>
			</div>
		</ng-container>
		<ng-template #imgM>
			<img-app
				[ngClass]="{'small-img': size === 's'}"
				[image]="product?.images"
				objectFit="cover"
				size="xl">
			</img-app>
		</ng-template>
	</ng-template>

	<!-- price floating -->
	<div *ngIf="product?.price" [ngClass]="size === 'm' ? 'product-price' : 'product-price-s'" class="flexVAlign">
		<div class="bold-s color-white">
			<!-- black backgorund on hover -->
			<price-app [price]="product?.price" color="bg" size="s" type="primary"></price-app>
		</div>
	</div>

	<div *ngIf="size !== 's'" class="black-container action-hover-item-0"></div>

	<!-- top icons floating on hover -->
	<checkbox-app
		*ngIf="hasCheckbox"
		class="action-hover-item-0"
		[size]="17"
		[ngClass]="{ 'full-opacity': selected }"
		[checked]="selected"
		(check)="select.emit()"
		(uncheck)="unselect.emit()">
	</checkbox-app>

	<div class="flex icons-container" *ngIf="size !== 's'">
		<selector-app
			class="selector"
			type="project"
			[value]="product?.projects"
			[canCreate]="true"
			[offsetY]="8"
			[offsetX]="316"
			[multiple]="true"
			[width]="330"
			(update)="update.emit({ id: product?.id, projects: $event })">
			<icon-app 
				class="folder action-hover-item-0 pointer color-third" 
				size="ms" 
				name="folder-light">
			</icon-app>
		</selector-app>
		<thumb-buttons-app
			class="thumb-up action-hover-item-0"
			size="ms"
			[lineStyle]="true"
			[votes]="product?.votes"
			(liked)="thumbUp()"
			(disliked)="thumbDown()">
		</thumb-buttons-app>
		<rating-heart-app
			class="heart action-hover-item-0"
			[hasButton]="false"
			[lightStyle]="true"
			size="ms"
			[favorite]="product?.favorite"
			(favorited)="update.emit({ id: product?.id, favorite: true })"
			(unfavorited)="update.emit({ id: product?.id, favorite: false })">
		</rating-heart-app>
	</div>

	<ng-container *ngIf="size !== 's'">
		<!-- buttons floating on hover-->
		<button [ngClass]="size === 'm' ? 'preview' : 'preview-s'" class="preview action-hover-item-0 capitalize icon-with-text" (click)="preview.emit()">
			<icon-app class="eye-icon" name="eye"></icon-app> {{ 'button.preview-product' | translate }}
		</button>
		<button [ngClass]="size === 'm' ? 'open' : 'open-s'" class="secondary action-hover-item-0 capitalize icon-with-text" (click)="open.emit()">
			<icon-app class="export-icon" name="exit"></icon-app> {{ 'button.open-product' | translate }}
		</button>
	</ng-container>

	<!-- info content -->
	<div class="info-container flex">
		<badge-app class="badge mg-h-s" [ngStyle]="{ 'background': 'var(--color-' + statusUtils?.getStatusColor(product?.status) + ')' }" [circle]="true"></badge-app>
		<!-- if we don't explicitly set the min-width, ellipsis wont work -->
		<div style="min-width: 0;">
			<div class="flexVAlign">
				<div class="bold-s color-txt-primary ellipsis" [ngClass]="{'title-s': size === 's'}">{{ product?.name || ('message.unnamed-product' | translate) }}</div>
			</div>
			<div class="color-txt-secondary fs-s mg-bottom-xs ellipsis dot-separator" [ngClass]="{'sub-title-s': size === 's'}">
				<span *ngIf="product?.category?.name">{{ product?.category?.name }}</span>
				<span *ngIf="product?.supplier?.name">{{ product?.supplier?.name }}</span>
			</div>
			<rating-number-badge-app
				*ngIf="ratingSrv.computeScoreVotes(product?.votes) >= 3.5"
				[votes]="product?.votes">
			</rating-number-badge-app>
		</div>
	</div>

</div>

