<div class="logo-content">
	<a [routerLink]="['/dashboard']">
		<img src="assets/img/favicon.svg" class="logo" />
	</a>
</div>

<nav>

	<ng-container *ngIf="navItems?.length">
		<ng-container *ngFor="let navItem of navItems; let i = index; trackBy: trackByFn">

			<div class="sidebar-item-content" (mouseenter)="hoverItem(i)" (mouseleave)="hoverItem(-1)">
				<a [routerLink]="navItem?.link" routerLinkActive="selected">
					<icon-app [size]="'l'" [name]="navItem?.icon"></icon-app>

					<ng-container *ngIf="navItem?.notifBadge">
						<div class="first-uppercase" notifBadge
							[badge]="(requestCount$ | async) > 0 ? (requestCount$ | async) : null"></div>
					</ng-container>

					<div class="selected-nav"></div>
				</a>

				<ng-container *ngIf="hoverIndex === i && navItem?.children?.length">

					<div class="child-content">
						<ng-container *ngFor="let child of navItem.children; trackBy: trackByFn">
							<a class="first-uppercase" [routerLink]="child?.link">
								<icon-app [size]="'m'" [name]="child?.icon"></icon-app>
								{{child.label}}
							</a>
						</ng-container>
					</div>

				</ng-container>
			</div>

		</ng-container>
	</ng-container>

</nav>

<div class="flexCenter bottom">
	<!-- Let's move this in a component, for the love of god Thierry... -->
	<div class="sidebar-item-content">
		<header-search-app></header-search-app>
	</div>

	<div class="sidebar-item-content">
		<notif-app></notif-app>
	</div>

	<div class="sidebar-item-content">
		<user-panel-app [user]="user$ | async" [team]="team$ | async" (logout)="logout()"></user-panel-app>
	</div>
</div>
