<a [routerLink]="['/dashboard']" class="logo flexCenter">
	<icon-app name="showsourcing" size="25"></icon-app>
</a>

<nav>
	<sidebar-item-app [icon]="'product'" [link]="['/product']" [subItems]="sideNavItems.get('product')"></sidebar-item-app>
	<sidebar-item-app [icon]="'supplier'" [link]="['/supplier']"></sidebar-item-app>
	<sidebar-item-app [icon]="'project'" [link]="['/project']"></sidebar-item-app>
	<sidebar-item-app [icon]="'check-circle'" [link]="['/tasks']"></sidebar-item-app>
	<sidebar-item-app [icon]="'envelope'" [link]="['/request']" [badge]="(requestCount$ | async) > 0 ? (requestCount$ | async) : null"></sidebar-item-app>
	<sidebar-item-app [icon]="'development'" [link]="['/component-library']" *ngIf="!isProd"></sidebar-item-app>
</nav>

<div class="flexCenter bottom">
	<!-- Let's move this in a component, for the love of god Thierry... -->
	<div class="sidebar-item-content">
		<header-search-app></header-search-app>
	</div>

	<div
		class="sidebar-item-content possition-static pointer"
		(click)="openNotifPanel()">
		<notif-app
			[notifications]="notifications$ | async">
		</notif-app>
	</div>

	<div class="sidebar-item-content">
		<user-panel-app [user]="user$ | async" [team]="team$ | async" (logout)="logout()"></user-panel-app>
	</div>
</div>
