:host {
	display: block;
}

.supplierIcon {
	background: var(--color-primary-light);
	height: 48px;
	width: 48px;
}

h2 {
	margin-bottom: var(--spacing-m);
}

.right {
	margin-left: var(--spacing-m);

	& > * {
		margin-bottom: var(--spacing-s);
	}

	.name {
		font-size: var(--font-size-l);
		color: var(--color-txt-strong);
		font-weight: 600;
	}

	.from {
		font-weight: 600;
	}

	badge-app {
		color: var(--color-txt-secondary);
		font-weight: 600;
	}
}

.hr {
	margin: var(--spacing-m) 0;
}

