:host {
	display: block;
}

icon-app[name="heart"] {
	color: var(--color-warn);
}




card-app {
	width: 100%;

	.title {
		margin-bottom: var(--spacing-ms);
		h2 {
			align-items: center;
			display: flex;
			margin-bottom: 0px;
		}
		.space-icon {
			height: 32px;
			width: 32px;
			margin-right: var(--spacing-ms);
		}
		img:not(.hasImg) {
			height: 16px;
			width: 16px;
			cursor: default;
		}
		img.hasImg {
			height: 32px;
			width: 32px;
			cursor: default;
		}
	}

	.supplier-info {
		margin-left: var(--spacing-ms);
		margin-top: 28px;

		image-previewer-app {
			opacity: 0.2;
		}

		.from {
			color: var(--color-txt-strong);
		}

		.categories {
			margin-top: 5px;
			span {
				color: var(--color-txt-primary);
				margin-right: 10px;
			}
		}
	}

	.no-supplier {
		font-size: var( --font-size-xxxl);
		color: var(--color-txt-strong);
		font-weight: 600;
		display: flex;
		justify-content: center;
		margin: 31px 0px;
	}
}

button.secondary-light {
	font-weight: 600;
	min-width: 120px;
}

card-footer-app.empty {
	display: flex;
	justify-content: space-between;

	button {
		width: 160px;
		font-weight: 600;
	}

}
card-footer-app {
	padding-bottom: 0px;
	margin-left: var(--spacing-ms);
	margin-right: var(--spacing-ms);
}