<card-app>

<h2 i18n>Supplier</h2>

<div class="flex ">
	<div class="left flexCenter">
		<icon-app fontSet="svg" name="supplier"></icon-app>
	</div>

	<div class="right flexColumn">
		<span class="name">{{ supplier?.name }}</span>
		<span class="from" i18n *ngIf="supplier?.country; else noCode">
			Manufacturer from {{ supplier?.country }}
		</span>
		<ng-template #noCode>
			<span class="from" i18n>No address</span>
		</ng-template>
		<badge-app [color]="supplier?.status">
			{{ supplier?.status }}
		</badge-app>

	</div>

</div>

<card-footer-app>
	<button *ngIf="supplier" (click)="goToSupplier()" i18n class="light">view supplier</button>
	<!-- <button i18n>contact supplier</button> -->
</card-footer-app>

</card-app>