<h2 i18n>Supplier</h2>

<div class="flex ">
	<div class="left flexCenter">
		<div class="cercle supplierIcon"></div>
	</div>

	<div class="right flexColumn">
		<span class="name">{{ supplier?.name }}</span>
		<span class="from" i18n *ngIf="supplier?.countryCode; else noCode">
			Manufacturer from {{ supplier?.countryCode | entity: 'country': 'fullName' | async }}
		</span>
		<ng-template #noCode>
			<span class="from" i18n>No address</span>
		</ng-template>
		<badge-app [color]="supplier?.status" [title]="supplier?.status"></badge-app>
	</div>

</div>

<div class="hr"></div>

<div class="flexBetween">
	<button (click)="goToSupplier()" i18n class="light">view supplier</button>
	<button i18n>contact supplier</button>
</div>