:host {
	display: block;
}

icon-app {
	cursor: default;
	margin-top: 2px;
	font-size: var(--font-size-s);
}

icon-app[name="heart"] {
	color: var(--color-warn);
}

card-app {
	width: 100%;

	.title > * {
		margin-right: var(--spacing-ms);
	}

	.title {
		margin-bottom: var(--spacing-ms);
		h2 {
			align-items: center;
			display: flex;
			margin-bottom: 0px;
			padding-top: 2px;
		}
		.space-icon {
			height: var(--spacing-xl);
			width: var(--spacing-xl);
			// margin-right: var(--spacing-ms);
		}
		img:not(.hasImg) {
			height: var(--spacing-m);
			width: var(--spacing-m);
			cursor: default;
		}
		img.hasImg {
			height: var(--spacing-xl);
			width: var(--spacing-xl);
			cursor: default;
		}
	}

	.supplier-info {
		margin-left: var(--spacing-ms);
		margin-top: var(--spacing-l);

		image-previewer-app {
			margin-top: var(--spacing-l);
			opacity: 0.2;
		}

		.from {
			color: var(--color-txt-strong);
		}

		.categories {
			margin-top: var(--spacing-xs);
			.single {
				color: var(--color-txt-primary);
				margin-right: 6px;
			}
		}
	}

	.no-supplier {
		font-size: var( --font-size-xxxl);
		color: var(--color-txt-strong);
		font-weight: 600;
		display: flex;
		justify-content: center;
		margin: var(--spacing-xl) 0px;
	}
}

button.secondary-light {
	font-weight: 600;
	min-width: 120px;
}

card-footer-app.empty {
	display: flex;
	justify-content: space-between;

	button {
		width: 160px;
		font-weight: 600;
	}

}

card-footer-app:not(.empty) {
	margin-top: var(--spacing-ml);
}

card-footer-app {
	padding-bottom: 0px;
	margin-left: var(--spacing-ms);
	margin-right: var(--spacing-ms);
}