<card-app padding="ms">
	<div class="title flex">
		<div class="space-icon flexAround">
			<img [class.hasImg]="supplier?.logoImage" [src]="supplier | logo:'supplier-product'"/>
		</div>
		<h2 i18n="header 2|Supplier card@@supplierCard_product" class="flex">
				{{ supplier?.name || 'Supplier'}}
		</h2>
		<icon-app *ngIf="supplier?.status?.status?.category === 'validated'" name="check-round" class="color-success"></icon-app>
		<icon-app *ngIf="supplier?.favorite" name="heart" class="color-warn"></icon-app>
	</div>

	<ng-container *ngIf="supplier; else noSupplier">
		<div class="flexColumn supplier-info">
			<span class="from" *ngIf="supplier?.country">
				Manufacturer from {{ supplier?.country | const:'country' }}
			</span>
			<div *ngIf="supplier?.categories?.length > 0" class="flexWrap categories">
				<div *ngFor="let category of supplier?.categories; last as last;trackBy: trackByFn" class="single">
					{{ category?.name }}{{ last ? '' : ','}}
				</div>
			</div>
			<!-- image previewer -->
			<image-previewer-app
				*ngIf="supplier?.images?.length > 0"
				size="76"
				[hasAdd]="false"
				[images]="supplier?.images">
			</image-previewer-app>
		</div>

		<card-footer-app>
			<button
				(click)="goToSupplier()"
				class="secondary-light"
				i18n="button|View supplier information on product page@@supplierCard_viewSupplier">
				View Supplier
			</button>
		</card-footer-app>
	</ng-container>

	<ng-template #noSupplier>
		<span class="no-supplier">No Supplier Yet</span>

		<card-footer-app class="empty">
			<button class="primary">Quote Supplier</button>
			<button class="primary">Find Supplier</button>
		</card-footer-app>
	</ng-template>

</card-app>
