<ng-container [ngSwitch]="column.name">

	<!-- logo -->
	<ng-container *ngSwitchCase="'logo'">
		<logo-app
			class="pointer"
			size="s"
			[logo]="row.images && row.images[0]"
			[color]="logoColor"
			[type]="type.singular"
			(click)="onLogoClick(row)">
		</logo-app>
	</ng-container>

	<!-- name -->
	<ng-container *ngSwitchCase="'name'">
		<a class="txt-btn ellipsis" (click)="onNameClick(row)">
			{{ row.name || '-' }}
		</a>
	</ng-container>

	<!-- reference -->
	<ng-container *ngSwitchCase="'reference'">
		<span (click)="onNameClick(row)" class="txt-btn ellipsis">{{ row.reference || '-' }}</span>
	</ng-container>

	<!-- preview -->
	<ng-container *ngSwitchCase="'preview'">
		<button *ngIf="hovered" class="secondary small" (click)="previewClick.emit(row)">
			Preview
		</button>
	</ng-container>

	<!-- favorite -->
	<ng-container *ngSwitchCase="'favorite'">
		<rating-heart-app
			[favorite]="row?.favorite"
			(favorited)="update.emit({ id: row.id, favorite: true })"
			(unfavorited)="update.emit({ id: row.id, favorite: false })">
		</rating-heart-app>
	</ng-container>

	<!-- rating -->
	<ng-container *ngSwitchCase="'rating'">
		<rating-badge-app [votes]="row?.votes"></rating-badge-app>
	</ng-container>

	<!-- status -->
	<ng-container *ngSwitchCase="'status'">
		<editable-container-app
			class="full-width"
			[hasAction]="false"
			[openOnClick]="false"
			(click)="sel.openMenu()">
			<editable-display-app>
				<status-selector-app
					#sel
					selectSize="m"
					[displayStep]="type === erm.PRODUCT"
					[entity]="row"
					[typeEntity]="type">
				</status-selector-app>
			</editable-display-app>
		</editable-container-app>
	</ng-container>

	<!-- assignee -->
	<ng-container *ngSwitchCase="'assignee'">
		<editable-container-app
			class="full-width"
			[hasAction]="false"
			[openOnClick]="false"
			(click)="sel.openMenu()">
			<editable-display-app>
				<selector-app
					#sel
					[type]="'USER' | erm"
					[width]="320"
					[offsetX]="4"
					(update)="update.emit({ id: row?.id, assignee: $event })">
					<div class="flex pointer">
						<user-picture-app
							*ngIf="row?.assignee"
							class="mg-right-s"
							[user]="row?.assignee">
						</user-picture-app>
						<div class="flexVAlign ellipsis pointer">
							{{ row?.assignee ? (row?.assignee | formatUserName: true) : '-' }}
						</div>
					</div>
				</selector-app>
				</editable-display-app>
		</editable-container-app>

	</ng-container>

	<!-- creation date -->
	<ng-container *ngSwitchCase="'creationDate'">
		{{ row?.creationDate | date: 'dd MMM y':'':translate.currentLang  }}
	</ng-container>

	<!-- created by -->
	<ng-container *ngSwitchCase="'createdBy'">
		<span class="ellipsis">{{ row?.createdBy | formatUserName: true }}</span>
	</ng-container>


	<!-- due date -->
	<ng-container *ngSwitchCase="'dueDate'">
		<editable-container-app #edt
			class="full-width"
			(closed)="update.emit({ id: row.id, dueDate: inp.value })">
			<editable-display-app class="ellipsis">
				{{ row?.dueDate ? (row?.dueDate | date: 'dd MMM y':'':translate.currentLang) : '-' }}
			</editable-display-app>
			<input #inp inputApp type="date" (keyup.enter)="edt.close()">
		</editable-container-app>
	</ng-container>

	<!-- product count -->
	<ng-container *ngSwitchCase="'productCount'">
		{{ row.productsLinked.count }}
	</ng-container>

	<!-- task count -->
	<ng-container *ngSwitchCase="'taskCount'">
		{{ row.tasksLinked.count }}
	</ng-container>

	<!-- sample count -->
	<ng-container *ngSwitchCase="'sampleCount'">
		{{ row.samplesLinked.count }}
	</ng-container>

	<!-- product -->
	<ng-container *ngSwitchCase="'product'">
		<editable-container-app
			class="full-width"
			[hasAction]="false"
			[openOnClick]="false"
			(click)="sel.openMenu()">
			<editable-display-app>
				<selector-app
					#sel
					type="product"
					[offsetX]="4"
					[width]="350"
					(update)="update.emit({ id: row?.id, product: $event })">
					<span>{{ row?.product?.name || '-'}}</span>
				</selector-app>
			</editable-display-app>
		</editable-container-app>
	</ng-container>

	<!-- supplier -->
	<ng-container *ngSwitchCase="'supplier'">
		<div class="flex action-hover-container">
			<editable-container-app
				class="edit-with-icon"
				[hasAction]="false"
				[openOnClick]="false"
				(click)="sel.openMenu()">
				<editable-display-app class="full-width">
					<selector-app
						#sel
						type="supplier"
						class="full-width"
						[width]="350"
						[offsetX]="4"
						(update)="update.emit({ id: row?.id, supplier: $event })">
						<span>{{ row?.supplier?.name || '-'}}</span>
					</selector-app>
				</editable-display-app>
			</editable-container-app>
			<icon-app 
				*ngIf="row.supplier"
				class="mg-left-xs action-hover-item color-primary"
				name="eye"
				[routerLink]="['/suppliers', row.supplier.id]">
			</icon-app>
		</div>
	</ng-container>

</ng-container>