<ng-container [ngSwitch]="column.name">

	<!-- logo -->
	<ng-container *ngSwitchCase="'logo'">
		<logo-app class="mini imgCtnr"
			[logo]="row.images[0]" [type]="type.singular" size="m"></logo-app>
	</ng-container>

	<!-- name -->
	<ng-container *ngSwitchCase="'name'">
		<a class="txt-btn" [routerLink]="['/', type.destUrl, row.id]"> 
			{{ row.name || '-' }}
		</a>
	</ng-container>
	
	<!-- reference -->
	<ng-container *ngSwitchCase="'reference'">
		<span>{{ row.reference || '-' }}</span>
	</ng-container>

	<!-- preview -->
	<ng-container *ngSwitchCase="'preview'">
		<button *ngIf="hovered" class="secondary" (click)="previewClick.emit()">
			preview
		</button>
	</ng-container>

	<!-- favorite -->
	<ng-container *ngSwitchCase="'favorite'">
		<rating-heart-app
			[favorite]="row?.favorite"
			(favorited)="update.emit({ id: row.id, favorite: true })"
			(unfavorited)="update.emit({ id: row.id, favorite: false })">
		</rating-heart-app>
	</ng-container>

	<!-- rating -->
	<ng-container *ngSwitchCase="'rating'">
		<rating-badge-app [votes]="row?.votes"></rating-badge-app>
	</ng-container>

	<!-- status -->
	<ng-container *ngSwitchCase="'status'">
		<status-selector-app 
			[entity]="row" 
			[typeEntity]="type" 
			selectSize="m" 
			(statusUpdated)="update.emit($event)">
		</status-selector-app>
	</ng-container>

	<!-- assignee -->
	<ng-container *ngSwitchCase="'assignee'">
		<selector-app
			[type]="type"
			[width]="320"
			[offsetX]="4"
			(update)="update.emit({ id: row?.id, assignee: $event })">
			<div class="flex pointer">
				<user-picture-app
					*ngIf="row?.assignee"
					class="mg-right-xs"
					[user]="row?.assignee">
				</user-picture-app>
				<div class="flexVAlign ellipsis pointer txt-btn" [ngClass]="{ 'empty-field': !row?.assignee }">
					{{ row?.assignee ? (row?.assignee | formatUserName: true) : '-' }}
				</div>
			</div>
		</selector-app>
	</ng-container>

	<!-- creation date -->
	<ng-container *ngSwitchCase="'created on'">
		{{ row?.creationDate | date: 'dd MMMM y':'':translate.currentLang  }}
	</ng-container>

	<!-- created by -->
	<ng-container *ngSwitchCase="'created by'">
		{{ row?.createdBy | formatUserName: true }}
	</ng-container>

	<!-- product count -->
	<ng-container *ngSwitchCase="'productCount'">
		{{ row.productsLinked.count }}
	</ng-container>

	<!-- task count -->
	<ng-container *ngSwitchCase="'taskCount'">
		{{ row.tasksLinked.count }}
	</ng-container>

	<!-- sample count -->
	<ng-container *ngSwitchCase="'sampleCount'">
		{{ row.samplesLinked.count }}
	</ng-container>

	<!-- product -->
	<ng-container *ngSwitchCase="'product'">
		<selector-app
			[type]="type.singular"
			[offsetX]="4"
			[width]="350"
			(update)="update.emit({ id: row?.id, product: $event })">
				{{ row?.product?.name || '-' }}
		</selector-app>
	</ng-container>

	<!-- supplier -->
	<ng-container *ngSwitchCase="'product'">
		<selector-app
			[type]="type.singular"
			[width]="350"
			[offsetX]="4"
			(update)="update.emit({ id: row?.id, supplier: $event })">
			{{ row?.supplier?.name || '-'}}
		</selector-app>
	</ng-container>

</ng-container>