:host {
	display: block;
	height: 100%;
}

header-list-app {
	padding-bottom: var(--spacing-s);
}

controller-list-app {
	padding: var(--spacing-m) var(--spacing-l) var(--spacing-ms) var(--spacing-l) !important;
}