:host {
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

selection-bar-app {
	right: 0;
}

action-bar-app {

	icon-app {
		color: var(--color-txt-secondary);
		font-size: var(--font-size-xl);
	}

	icon-app[name="trash-bin"] {
		font-size: var(--font-size-xxl);
	}

	button.icon {
		margin-right: var(--spacing-ms);
	}
}
