<ng-container *ngIf="project$ | async as project; else spinner">
	<top-panel-app
		[title]="project.name"
		[hasAction]="false">
	</top-panel-app>

	<sub-panel-app
		buttonName="Add Products"
		[hasSwitch]="false"
		[hasFilter]="false"
		[buttonIcon]="false"
		[searchValue]="listSrv.searchValue"
		(buttonClick)="openFindProductDlg()"
		(search)="listSrv.search($event)">
	</sub-panel-app>

	<project-product-list-app
		*ngIf="listSrv.view === 'list'"
		class="list-view"
		[selection]="listSrv.selection$ | async"
		[rows]="listSrv.items$ | async"
		[pending]="listSrv.pending"
		(previewClick)="listSrv.openPreview($event)"
		(select)="listSrv.selectOne($event, true)"
		(unselect)="listSrv.unselectOne($event, true)"
		(selectAll)="listSrv.selectAll($event, true)"
		(unselectAll)="listSrv.unselectAll()"
		(open)="listSrv.goToDetails($event)"
		(favorited)="listSrv.onItemFavorited($event)"
		(unfavorited)="listSrv.onItemUnfavorited($event)"
		(bottomReached)="listSrv.loadMore()"
		(sort)="listSrv.sort($event)"
		(openRequestQuotationDialog)="commonModalSrv.openRequestQuotationDialog($event)"
		(delete)="deassociateProductById($event)">
	</project-product-list-app>

	<selection-bar-app
		[isShown]="(listSrv.selection$ | async).size > 0"
		[selection]="(listSrv.selection$ | async)"
		(close)="listSrv.unselectAll()">

		<div class="flex">
			<status-selector-app
				toolTip toolTipMessage="Change status" toolTipPosition="above-right"
				#workActionMenu
				selectSize="s"
				[typeEntity]="erm.PRODUCT"
				type="multiple-selection"
				[internalUpdate]="false"
				(statusUpdated)="this.listSrv.updateSelected({status: $event})">
			</status-selector-app>
			<action-bar-app
				[favorite]="listSrv.allSelectedFavorite"
				[multiple]="true"
				(onFavorite)="listSrv.onFavoriteAllSelected()"
				(onUnfavorite)="listSrv.onUnfavoriteAllSelected()"
				(liked)="listSrv.onMultipleThumbUp($event)"
				(disliked)="listSrv.onMultipleThumbDown($event)">

				<!-- <button class="icon light" (click)="openAddToProjectDialog()">
					<icon-app name="folder-light" fontSet="svg"></icon-app>
				</button> -->

				<context-menu-app>
					<context-menu-trigger-app>
						<button class="icon light">
							<icon-app name="dots-vertical" size="m"></icon-app>
						</button>
					</context-menu-trigger-app>
					<context-menu-item-app (click)="commonModalSrv.openExportDialog(listSrv.getSelectedValues())">
						Export
					</context-menu-item-app>
					<context-menu-item-app (click)="commonModalSrv.openRequestFeedbackDialog(listSrv.getSelectedValues())">
						Request For Team Feedback
					</context-menu-item-app>
					<context-menu-item-app (click)="commonModalSrv.openCompareProductDialog(listSrv.getSelectedValues())">
						Compare Product
					</context-menu-item-app>
				</context-menu-app>
				<button class="icon light" (click)="deassociateSelectedProducts()">
					<icon-app name="trash-bin"></icon-app>
				</button>
			</action-bar-app>
		</div>
	</selection-bar-app>

  <product-preview-app
		*ngIf="listSrv.previewOpen"
		[product]="listSrv.previewed"
		(close)="listSrv.closePreview()">
	</product-preview-app>
</ng-container>


<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>

