<ng-container *ngIf="project$ | async as project; else spinner">
	<top-panel-app
		[title]="project.name"
		[subtitles]="['Projects', project.name, 'Products']"
		[hasAction]="false">
	</top-panel-app>

	<sub-panel-app
		buttonName="Add Products"
		[hasSwitch]="false"
		[hasFilter]="false"
		[buttonIcon]="false"
		(buttonClick)="openFindProductDlg()"
		(search)="search($event)">
	</sub-panel-app>

	<project-product-list-app
		*ngIf="view === 'list'"
		class="list-view"
		[selection]="selected$ | async"
		[rows]="items$ | async"
		[pending]="pending"
		(previewClick)="openPreview($event)"
		(select)="onItemSelected($event, true)"
		(unselect)="onItemUnselected($event, true)"
		(selectAll)="selectAll($event, true)"
		(unselectAll)="resetSelection()"
		(open)="goToDetails($event)"
		(favorited)="onItemFavorited($event)"
		(unfavorited)="onItemUnfavorited($event)"
		(bottomReached)="loadMore()"
		(sort)="sort($event)"
		(openRequestQuotationDialog)="openRequestQuotationDialog($event)"
		(delete)="deassociateProductById($event)">
	</project-product-list-app>

	<selection-bar-app
		[isShown]="(selected$ | async).size > 0"
		[selection]="selected$ | async"
		[hasDelete]="false"
		(close)="resetSelection()"
		(delete)="deleteSelected()">

		<action-bar-app
			[favorite]="allSelectedFavorite"
			[multiple]="true"
			(onFavorite)="onFavoriteAllSelected()"
			(onUnfavorite)="onUnfavoriteAllSelected()"
			(liked)="onMultipleThumbUp($event)"
			(disliked)="onMultipleThumbDown($event)">

			<!-- <button class="icon light" (click)="openAddToProjectDialog()">
				<icon-app name="folder-light" fontSet="svg"></icon-app>
			</button> -->
			<!-- <button class="icon light">
				<icon-app name="dots-vertical"></icon-app>
			</button> -->
			<button class="icon light" (click)="deassociateSelectedProducts()">
				<icon-app name="trash-bin"></icon-app>
			</button>
		</action-bar-app>
	</selection-bar-app>

  <product-preview-app
		*ngIf="previewOpen"
		[product]="previewed"
		(close)="closePreview()"
		(clickOutside)="closePreview()">
	</product-preview-app>
</ng-container>


<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>

