<nav class="flexColumn">
	<a routerLink="./guidelines" routerLinkActive="selected">guidelines</a>
	<h2 class="color-white">Components</h2>
	<a routerLink="./loader" routerLinkActive="selected">Loaders</a>
	<a routerLink="./button" routerLinkActive="selected">Buttons</a>
	<a routerLink="./icon" routerLinkActive="selected">Icons</a>
	<a routerLink="./badge" routerLinkActive="selected">Badges</a>
	<a routerLink="./card" routerLinkActive="selected">Cards</a>
	<!--
	<a routerLink="./preview" routerLinkActive="selected">Preview</a>
	<a routerLink="./selector" routerLinkActive="selected">Selector</a>
	<a routerLink="./sample-card" routerLinkActive="selected">Sample card</a>
	<a routerLink="./product-card" routerLinkActive="selected">Product card</a>
	<a routerLink="./kanban" routerLinkActive="selected">Kanban</a>
	<a routerLink="./workflow-table" routerLinkActive="selected">Workflow table</a> -->
	<a routerLink="./list" routerLinkActive="selected">List</a>
	<a routerLink="./rating-star" routerLinkActive="selected">Rating</a>
	<a routerLink="./table" routerLinkActive="selected">Table</a>
	<a routerLink="./common-list" routerLinkActive="selected">Common Lists</a>
	<a routerLink="./accordion" routerLinkActive="selected">Accordion</a>
	<a routerLink="./editable-container" routerLinkActive="selected">Editable Container</a>
	<h2 class="color-white">Pipes</h2>
	<a routerLink="./pipes" routerLinkActive="selected">pipes</a>
	<h2 class="color-white">Classes</h2>
	<a routerLink="./colors" routerLinkActive="selected">Colors</a>
	<a routerLink="./spacing" routerLinkActive="selected">Spacing</a>
</nav>
<main>
	<router-outlet></router-outlet>
</main>