<nav class="flexColumn">
	<a routerLink="./guidelines" routerLinkActive="selected">guidelines</a>
	<h2 class="color-white">Styles</h2>
	<a routerLink="./colors" routerLinkActive="selected">Colors</a>
	<a routerLink="./spacing" routerLinkActive="selected">Spacing</a>
	<a routerLink="./button" routerLinkActive="selected">Buttons</a>
	<a routerLink="./input" routerLinkActive="selected">Input</a>
	<a routerLink="./typography" routerLinkActive="selected">Typography</a>
	
	<!-- <h2 class="color-white">Tables Pages</h2> -->
	<!-- <a routerLink="./controller-table" routerLinkActive="selected">Controller Table</a> -->
	<!-- <a routerLink="./list" routerLinkActive="selected">List</a> -->
	
	<h2 class="color-white">Inputs</h2>
	<a routerLink="./form-field" routerLinkActive="selected">FormField</a>
	<a routerLink="./inputs" routerLinkActive="selected">Inputs</a>
	<a routerLink="./selector" routerLinkActive="selected">Selecors</a>
	<a routerLink="./editable-container" routerLinkActive="selected">Editable Container</a>
	<a routerLink="./custom-inputs" routerLinkActive="selected">Custom Inputs</a>


	<h2 class="color-white">Components</h2>
	<a routerLink="./loader" routerLinkActive="selected">Loaders</a>
	<a routerLink="./icon" routerLinkActive="selected">Icons</a>
	<a routerLink="./card" routerLinkActive="selected">Cards</a>
	<a routerLink="./dialog" routerLinkActive="selected">Dialogs</a>
	<a routerLink="./descriptor" routerLinkActive="selected">Descriptor</a>
	<a routerLink="./badge" routerLinkActive="selected">Badges</a>
	<a routerLink="./rating-star" routerLinkActive="selected">Rating</a>
	<a routerLink="./accordion" routerLinkActive="selected">Accordion</a>
	<a routerLink="./packaging" routerLinkActive="selected">Packaging</a>
	<a routerLink="./price" routerLinkActive="selected">Price</a>

	<!--
	<a routerLink="./preview" routerLinkActive="selected">Preview</a>
	<a routerLink="./selector" routerLinkActive="selected">Selector</a>
	<a routerLink="./sample-card" routerLinkActive="selected">Sample card</a>
	<a routerLink="./product-card" routerLinkActive="selected">Product card</a>
	<a routerLink="./kanban" routerLinkActive="selected">Kanban</a>
	<a routerLink="./workflow-table" routerLinkActive="selected">Workflow table</a> -->
	<!-- <a routerLink="./table" routerLinkActive="selected">Table</a>
	<a routerLink="./common-list" routerLinkActive="selected">Common Lists</a> -->
	<h2 class="color-white">Pipes</h2>
	<a routerLink="./pipes" routerLinkActive="selected">pipes</a>

</nav>
<main>
	<router-outlet></router-outlet>
</main>
