:host{
  display: block;
  flex-direction: row;
  min-height: 32px;
  border-bottom: 1px solid var(--color-primary-light);
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
  padding: var(--spacing-nav) 0;
  font-weight: bold;
  font-size: var(--font-size-default);
  color: var(--color-primary-dark);
  flex: 1 1 100%;
  text-transform: capitalize;
}

.content {
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-default);
  color: var(--color-txt-secondary);
  font-weight: 600;
  flex: 1 1 100%;
  justify-content: flex-end;
}
