<card-app>

	<div class="title flex">
		<div class="space-icon flexAround">
			<icon-app name="product"></icon-app>
		</div>
		<h3 class="flex" i18n="header@@product-info">
			product information
		</h3>
	</div>

	<dynamic-form-app
		[fields]="productDescriptor?.descriptor"
		[value]="product"
		[colAmount]="1"
		(update)="update.emit($event)">
	</dynamic-form-app>

	<extended-form-app
		*ngIf="fieldDefinitions$ | async as definitions; else spinner"
		[definitions]="definitions"
		[fields]="product?.extendedFields"
		(update)="updateProduct({extendedFields: $event})">
	</extended-form-app>

</card-app>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>

