<top-panel-app
	[title]="'ShowSourcing'"
	[subtitles]="['Settings', 'Data Cleansing']"
	[hasAction]="false">
</top-panel-app>

<sub-panel-app
	[title]="entityMetadata.plural"
	buttonName="New {{entityMetadata.singular}}"
	[hasFilter]="false"
	[hasSwitch]="false"
	[buttonIcon]="false"
	(search)="search($event)"
	(buttonClick)="openCreateDlg()">
	<div class="flex" *ngIf="(selected$ | async).size > 0">
		<button class="button warn" (click)="deleteSelected()"> Delete Selected </button>
		<span class="marginSmall"></span>
		<button (click)="mergeSelected()"> Merge Selected </button>
	</div>
</sub-panel-app>

<data-management-table-app
	[rows]="items$ | async"
	[selection]="selected$ | async"
	[pending]="pending"
	[entityMetadata]="entityMetadata"
	(bottomReached)="loadMore()"
	(sort)="sort($event)"
	(select)="onItemSelected($event)"
	(unselect)="onItemUnselected($event)"
	(selectAll)="selectAll($event)"
	(unselectAll)="resetSelection()"
	(renameEntity)="openEditDlg($event)"
	(removeEntity)="deleteOne($event)">
</data-management-table-app>
