
<header-details-app
	[title]="'title.data-cleansing' | translate"
	[hasBackArrow]="false"
	[elevated]="false">

	<header-details-title-app>
		<span class="my-team capitalize">
			{{ 'title.data-cleansing' | translate }}
		</span>
	</header-details-title-app>

	<logo-app color="primary" icon="smile" size="xl"></logo-app>
	<header-details-info-app>{{ 'text.manage-your-categories' | translate }}</header-details-info-app>

	<!-- navigation tabs of panel -->
	<header-nav-app>
		<header-nav-item-app
			link="/settings/data/category"
			icon="category"
			[name]="'nav.categories' | translate">
		</header-nav-item-app>
	
		<header-nav-item-app
			link="/settings/data/tag"
			icon="tag"
			[name]="'nav.tags' | translate">
		</header-nav-item-app>
	
		<!-- <header-nav-item-app
			link="/settings/data/supplier"
			icon="supplier"
			[name]="'nav.suppliers' | translate">
		</header-nav-item-app> -->
	
		<header-nav-item-app
			link="/settings/data/event"
			icon="event"
			[name]="'nav.event' | translate">
		</header-nav-item-app>
	</header-nav-app>

</header-details-app>

<header-list-app
	class="smaller-padding"
	[title]="listSrv.entityMetadata.plural"
	[buttonName]="'Add ' + listSrv.entityMetadata.singular"
	[buttonWidth]="addButtonWidth"
	[buttonHeight]="addButtonHeight"
	(buttonClick)="listSrv.create(false)">
</header-list-app>

<controller-list-app
	class="smaller-padding"
	[count]="listSrv.count$ | async"
	[hasFilter]="false"
	[hasSwitch]="false"
	[hasAssigned]="false"
	[hasArchived]="false"
	[entityType]="erm.singular"
	(search)="listSrv.search($event)">
	<controller-list-right-item-app>
		<div class="flex" *ngIf="(listSrv.selection$ | async).size > 0">
			<button class="delete-selected button warn capitalize" (click)="listSrv.deleteSelected(true)">Delete Selected</button> <!-- TODO: translation to be added-->
			<span class="mg-s"></span>
			<button class="merge-selected" (click)="mergeSelected()">Merge Selected</button> <!-- TODO: translation to be added-->
		</div>
	</controller-list-right-item-app>
</controller-list-app>

<data-management-table-app
	[rows]="listSrv.items$ | async"
	[selection]="listSrv.selection$ | async"
	[pending]="listSrv.pending"
	[entityMetadata]="listSrv.entityMetadata"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(sort)="listSrv.sort($event)"
	(delete)="listSrv.deleteOne($event, true)"
	(select)="listSrv.selectOne($event, false)"
	(unselect)="listSrv.unselectOne($event, false)"
	(selectAll)="listSrv.selectAll($event, false)"
	(showItemsPerPage)="showItemsPerPage($event)"
	(unselectAll)="listSrv.unselectAll()"
	(renameEntity)="listSrv.update($event)">
</data-management-table-app>
