
<header-details-app
	[title]="'title.data-cleansing' | translate"
	[hasBackArrow]="false"
	[elevated]="false">

	<header-details-title-app> {{ 'title.data-cleansing' | translate }} </header-details-title-app>

	<logo-app color="primary" icon="smile" size="xl"></logo-app>
	<header-details-info-app>{{ 'text.manage-your-categories' | translate }}</header-details-info-app>

	<!-- navigation tabs of panel -->
	<header-list-nav-app>
		<header-list-nav-item-app
			link="/settings/data/category"
			icon="category"
			[name]="'nav.categories' | translate">
		</header-list-nav-item-app>
	
		<header-list-nav-item-app
			link="/settings/data/tag"
			icon="tag"
			[name]="'nav.tags' | translate">
		</header-list-nav-item-app>
	
		<!-- <header-list-nav-item-app
			link="/settings/data/supplier"
			icon="supplier"
			[name]="'nav.suppliers' | translate">
		</header-list-nav-item-app> -->
	
		<header-list-nav-item-app
			link="/settings/data/event"
			icon="event"
			[name]="'nav.event' | translate">
		</header-list-nav-item-app>
	</header-list-nav-app>

</header-details-app>

<header-list-app
	class="smaller-padding"
	[title]="'ERM.' + listSrv.entityMetadata.translationKey + '.plural' | translate"
	[buttonName]="'OBJ.add-OBJ' | translate: {type: 'ERM.' + listSrv.entityMetadata.translationKey + '.singular' | translate}"
	(buttonClick)="listSrv.create(false)">
</header-list-app>

<controller-list-app
	class="smaller-padding"
	[hasFilter]="false"
	[hasSwitch]="false"
	[entityType]="erm.translationKey"
	(search)="listSrv.search($event)">
	<controller-list-right-item-app>
		<div class="flex" *ngIf="(listSrv.selection$ | async).size > 0">
			<button class="button warn capitalize" (click)="listSrv.deleteSelected(true)" translate="delete-selected"></button>
			<!-- <span class="mg-s"></span>
			<button (click)="mergeSelected()"> Merge Selected </button> -->
		</div>
	</controller-list-right-item-app>
</controller-list-app>

<data-management-table-app
	[rows]="listSrv.items$ | async"
	[selection]="listSrv.selection$ | async"
	[pending]="listSrv.pending"
	[entityMetadata]="listSrv.entityMetadata"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(sort)="listSrv.sort($event)"
	(delete)="listSrv.deleteOne($event, true)"
	(select)="listSrv.selectOne($event, false)"
	(unselect)="listSrv.unselectOne($event, false)"
	(selectAll)="listSrv.selectAll($event, false)"
	(unselectAll)="listSrv.unselectAll()"
	(renameEntity)="listSrv.update($event)">
</data-management-table-app>
