<!-- TODO: translation to be added for TEAM_MEMBER-->

<controller-table-app
	class="spacing-ms"
	[hasFilters]="false">
	<controller-table-content-app>
		<div toolTip [toolTipMessage]="getTooltipMsg()" toolTipPosition="above-right">
			<button (click)="openInviteDialog()" i18n="@@invite-team-member">Invite Team Member</button>
		</div>

		<context-menu-app *ngIf="teamOwner && hasSelected" [closeOnScroll]="true">
			<context-menu-trigger-app class="button flex pointer">
				<div class="text capitalize" i18n="@@selection">selection</div>
				<div class="selector"><icon-app name="angle-down"></icon-app></div>
			</context-menu-trigger-app>
			<context-menu-item-app
				(click)="updateAccessTypeSelected({ accessType: 'TeamMember' })"
				i18n="@@team-member">
				Team Member
			</context-menu-item-app>
			<context-menu-item-app
				(click)="updateAccessTypeSelected({ accessType: 'Contributor' })"
				i18n="@@contributor">
				contributor
			</context-menu-item-app>
			<context-menu-divider-app></context-menu-divider-app>
			<context-menu-item-warn-app class="remove-user" (click)="listHelper.deleteSelected()">
				<span i18n="@@remove-user">Remove User</span>
			</context-menu-item-warn-app>
		</context-menu-app>
	</controller-table-content-app>
</controller-table-app>

<team-members-table-app
	class="spacing-ms"
	[rows]="listHelper.paginedItems$ | async"
	[user]="user"
	[pending]="false"
	[selection]="selectionSrv.selection$ | async"
	(bottomReached)="listHelper.loadMore()"
	(select)="selectionSrv.selectOne($event, false)"
	(unselect)="selectionSrv.unselectOne($event, false)"
	(selectAll)="selectionSrv.selectAll($event, false)"
	(unselectAll)="selectionSrv.unselectAll()"
	(accessTypeUpdated)="updateAccessType($event)"
	(delete)="listHelper.delete($event)">
</team-members-table-app>

	<!-- ng-container *ngIf="selected$ | async as selected">
		<selection-bar-app
			[ngClass]="{ 'collapsed-menu': !(menuCollapsed$ | async), 'expanded-menu': (menuCollapsed$ | async) }"
			(close)="resetSelection()"
			(delete)="deleteSelection()"
			[isShown]="selected.size > 0"
			[selection]="selected"></selection-bar-app>
	</ng-container -->
