<header-list-app
	class="smaller-padding"
	[hasAction]="false"
	title="Team Members">
</header-list-app>

<controller-list-app
	[entityType]="entityTypeEnum.USER"
	[count]="listSrv.count$ | async"
	[hasArchived]="false"
	[hasAssigned]="false"
	[hasSwitch]="false"
	[hasFilter]="false"
	(search)="listSrv.search($event)"
	i18n-title="@@team-members">

</controller-list-app>

<ng-container *ngIf="listSrv.items$ | async as members">
	<team-members-table-app
		[rows]="members"
		[teamOwner]="teamOwner"
		[user]="user"
		[selection]="listSrv.selection$ | async"
		[pending]="listSrv.pending"
		[count]="listSrv.count$ | async"
		[currentSort]="listSrv.currentSort"
		[currentPage]="listSrv.currentPage"
		(bottomReached)="listSrv.loadMore()"
		(sort)="listSrv.sort($event)"
		(select)="listSrv.selectOne($event, false)"
		(unselect)="listSrv.unselectOne($event, false)"
		(selectAll)="listSrv.selectAll($event, false)"
    (unselectAll)="listSrv.unselectAll()"
		(accessTypeUpdated)="updateAccessType($event)"
		(showItemsPerPage)="showItemsPerPage($event)"
		(delete)="listSrv.deleteOne($event, true)">
	</team-members-table-app>

	<!-- ng-container *ngIf="selected$ | async as selected">
		<selection-bar-app
			[ngClass]="{ 'collapsed-menu': !(menuCollapsed$ | async), 'expanded-menu': (menuCollapsed$ | async) }"
			(close)="resetSelection()"
			(delete)="deleteSelection()"
			[isShown]="selected.size > 0"
			[selection]="selected"></selection-bar-app>
	</ng-container -->
</ng-container>
