:host {
	display: block;
}

.descripton-container {

  .description-text {
    font-family: var(--font-normal);
    font-size: var(--font-size-l);
    color: var(--color-txt-strong);
	}

}

editable-label-app {
	white-space: pre-line;
}

