:host {
	display: block;
	width: 100%;
}

.descripton-container {
	margin-left: -8px;
	padding-left: var(--spacing-s);
	overflow: hidden;

  .description-text {
    font-family: var(--font-normal);
    font-size: var(--font-size-m);
    color: var(--color-txt-primary);
	}

}

editable-container-app {
	// since the container hover effects has to work the same when it reaches max-width
	// we have to set a min-width and a max-width along with the borderbox
	max-width: 100%;
	min-width: 10px;
	box-sizing: border-box;
}

editable-display-app {
	white-space: pre-line;
	width: inherit;
	min-width: inherit;

	icon-app.edit {
		margin-right: var(--spacing-xs);
	}

	button.edit-description {
		width: 100%;
		font-weight: 600;
	}
}

.description {
	overflow-wrap: break-word;
}

textarea {
	resize: none;
}

button.view-more {
	width: 100%;
	margin-top: var(--spacing-s);
}
