<div #container class="descripton-container">
	<editable-field-app
		[openOnClick]="!asModal"
		[ngStyle]="{'padding-top': hasLabel ? 'inherit' : '0px'}"
		[hasLabel]="hasLabel"
		[inlineLabel]="false"
		(closed)="updateDescription($event, inpDescription.value)"
		(clickOutside)="adaptSize()"
		(opened)="inpDescription.select()"
		[canGrow]="true"
		(click)="openDescModal()">
		<label-app class="capitalize" translate="text.description"></label-app>
		<editable-display-app
			[disabled]="true"
			class="fs-m">
			<!-- we need an ng-container, so editable-display knows when its empty to place the default placeholder -->
			<ng-container *ngIf="description?.length">{{ description }}</ng-container>
		</editable-display-app>
		<textarea inputApp #inpDescription autofocus="true"
			class="fullWidth"
			[value]="description || ''"
			(keyup.enter)="updateDescription(false, inpDescription.value)">
		</textarea>
	</editable-field-app>
</div>
<!-- show more button -->
<button
	*ngIf="showMore"
	tabFocusAction
	class="secondary-light flexCenter view-more"
	(click)="showAll()"
	translate="button.view-more">
</button>
