<div #container class="descripton-container">
	<editable-field-app
		[openOnClick]="!asModal"
		[ngStyle]="{'padding-top': hasLabel ? 'inherit' : '0px'}"
		[hasLabel]="hasLabel"
		[inlineLabel]="false"
		(closed)="updateDescription($event, inpDescription.value)"
		(clickOutside)="adaptSize()"
		(opened)="inpDescription.select()"
		[canGrow]="true"
		(click)="openDescModal()">
		<label-app class="capitalize" translate="text.description"></label-app>
		<editable-container-display-app
			*ngIf="description?.length && description"
			[disabled]="true"
			class="fs-m">
			{{ (description?.length && description)  }}
		</editable-container-display-app>
		<editable-container-display-app
			*ngIf="!(description?.length && description)"
			[disabled]="true"
			class="fullWidth fs-m">
			<button
				class="primary-light flexCenter edit-description capitalize"
				[ngStyle]="{'width': isSmall ? '30%' : '100%'}"
				translate="text.add-description">
			</button>
		</editable-container-display-app>
		<textarea inputApp #inpDescription autofocus="true"
			class="fullWidth"
			[value]="description || ''"
			(keyup.enter)="updateDescription(false, inpDescription.value)">
		</textarea>
	</editable-field-app>
</div>
<button
	*ngIf="showMore && !isSmall"
	tabFocusAction
	class="secondary-light flexCenter view-more"
	(click)="showAll()"
	translate="button.view-more">
</button>
<span
	*ngIf="showMore && isSmall"
	tabFocusAction
	class="text-more"
	(click)="showAll()"
	translate="button.view-more">
</span>
