<div class="descripton-container">
	<editable-field-app
		[ngStyle]="{'padding-top': hasLabel ? 'inherit' : '0px'}"
		[hasLabel]="hasLabel"
		[inlineLabel]="false"
		(closed)="updateDescription($event, inpDescription.value)"
		(opened)="inpDescription.select();"
		[canGrow]="true">
		<label-app>Description</label-app>
		<editable-label-app>
			{{ (description.length && description) || '-' }}
		</editable-label-app>
		<textarea inputApp #inpDescription autofocus="true"
			class="fullWidth"
			[value]="description || '-'"
			(keyup.enter)="updateDescription(false, inpDescription.value)">
		</textarea>
	</editable-field-app>
</div>
