<div 
	*ngFor="let price of value; let i = index"
	class="flex ctnr">

	<!-- we might have to not use the editable-container and 
		make something more custom here if further change is required
	 -->
	 <!-- label -->
	<editable-container-app 
		#edtLabel 
		class="label-ctnr" 
		[hasOverflow]="false"
		[readonly]="readonly"
		(saved)="saved.emit()"
		(opened)="inpLabel.focus()">
		<editable-value-app>{{ value[i].label || 'Label'}}</editable-value-app>
			<input
				#inpLabel
				class="inline" 
				name="label"
				inputApp
				[(ngModel)]="value[i].label"
				(change)="onChangeFn(value)"
				(blur)="onTouchedFn()"
				(keyup.enter)="edtLabel.close()"/>
	</editable-container-app>
	<!-- amount -->
	<editable-container-app 
		#edtPrice 
		class="price-ctnr" 
		[hasOverflow]="false"
		[readonly]="readonly"
		(saved)="saved.emit()"
		(opened)="inpPrice.focus()">
		<editable-value-app class="amount-display fullWidth">
			{{ 
				value[i] && value[i].value ? 
				value[i].value + ' ' + value[i].currency :
				'Price'	
			}}	
		</editable-value-app>
			<input-price-app 
				#inpPrice
				name="price"
				[inline]="true"
				[(ngModel)]="value[i]"
				(change)="onChangeFn(value)"
				(blur)="onTouchedFn()"
				(keyup.enter)="edtPrice.close()">
			</input-price-app>
		</editable-container-app>

</div>

<button 
	type="button" 
	class="mg-v-ms mg-right-s small"
	(click)="addPrice()">
	+
</button>
<button 
	*ngIf="value.length > 1"
	type="button" 
	class="mg-v-ms small warn"
	(click)="removePrice()">
	-
</button>