<div class="content flex mg-top-l">
	<div class="left">
		<!-- supplier-resume -->
		<!-- <supplier-resume-app
			[supplier]="supplier"
			(updated)="update($event)">
		</supplier-resume-app> -->
		<!-- products card -->
		<!-- <products-card-app
			[products]="products$ | async"
			(addProducts)="addProducts"
			(viewAll)="goToProducts()">
		</products-card-app> -->
		<!-- picutres card -->
		<!-- <pictures-card-app
			[images]="suplier?.images"
			[entity]="supplier">
		</pictures-card-app> -->
		<!-- comments -->
		<card-app>
			<card-title-app size="l" translate="title.comments"></card-title-app>
			<add-comment-app #comment (added)="sendComment($event)"></add-comment-app>
			<divider-app *ngIf="(comments$ | async).length"></divider-app>
			<comment-list-app [amountViewMore]="8" [comments]="comments$ | async" sizeLogo="xxl" (addComment)="comment?.focus()"></comment-list-app>
		</card-app>
	</div>

	<div class="right">
		<!-- supplier docket -->
		<!-- <supplier-docket-app
			[supplier]="supplier"
			(update)="update($event)"
			(addTask)="dlgCommonSrv.openCreationTaskDlg(null, supplier)"
			(addSample)="dlgCommonSrv.openCreationSampleDialog(null, supplier)"
			(previewSample)="openSamplePreview($event)"
			(previewTask)="openTaskPreview($event)">
		</supplier-docket-app> -->
		<!-- supplier info -->
		<!-- <card-app>
			<card-title-app size="s">Supplier Information</card-title-app>
			<dynamic-form2-app
				#form
				[style]="'editable'"
				[descriptor]="descriptor"
				[columnAmount]="1">
			</dynamic-form2-app>
		</card-app>
		<!-- supplier rating -->
		<!-- <card-app>
			<card-title-app size="s">Team Rating</card-title-app>
			<rating-dashboard-app
				[votes]="supplier?.votes"
				[type]="erm.SUPPLIER.singular"
				(viewRatings)="dlgCommonSrv.openVoteDetailsDialog($event)"
				(update)="update({ id: supplier?.id, votes: $event })">
			</rating-dashboard-app>
		</card-app> -->
	</div>
</div>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>

<!-- previews -->
<!-- <sample-preview-app
	*ngIf="previewOpened && sample"
	[sample]="sample"
	(close)="closePreview()">
</sample-preview-app> -->
<!-- 
<task-preview-app
	*ngIf="previewOpened && task"
	[task]="task"
	(close)="closePreview()">
</task-preview-app> -->
