:host {
	display: block;
	width: 364px;
}

.ctnr  {
	position: relative;
	margin: var(--spacing-s);
}

header {
	text-align: center;
	font-weight: 600;
	color: var(--color-txt-strong);
	font-size: 14px;
	padding: var(--spacing-m);
	background-color: #fff;
	border: solid 1px var(--color-divider);
	margin-left: 5px;
	margin-right: 5px;
	border-top-width: 2px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 28px;

	&.in-progress {
		border-top-color: var(--color-in-progress);
	}

	&.validated {
		border-top-color: var(--color-success);
	}

	&.refused {
		border-top-color: var(--color-warn);
	}

	&.inspiration {
		border-top-color: var(--color-secondary);
	}

	.number {
		color: var(--color-txt-primary);
	}
}

main {
	background: var(--color-secondary-light);
	padding-top: 12px;
	height: calc(100% - 53px);
	min-height: calc(100% - 53px);
	border: solid 1px var(--color-divider);
	border-top: 0;
	margin: 5px;
	margin-top: 0;
	overflow-y: auto;
	overflow-x: hidden;
}

.overlay {
	border:  2px solid var(--color-in-progress);
	margin: var(--spacing-s);
	padding: var(--spacing-l);
	height: 112px;
	text-align: center;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	background-color: var(--color-bg);
	.overlayTitle {
		font-size: var(--font-size-xxl);
		font-weight: 600;
	}
}

.bolt {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: var(--color-secondary-light);
	transform: rotate(26deg);
	line-height: 1;
}

.source-area-overlay {
	background-color: var(--color-secondary-light);
	margin: 5px;
	margin-top: 0;
	border: dashed 1px var(--color-secondary);
}

.droppable-area-overlay {
  background-color: var(--color-secondary-light);
	border: dashed 1px #45adff;

	&.droppable-area-overlay-disabled {
		border: solid 1px var(--color-divider);
	}
}

.entered-area-overlay {
	border: dashed 1px orange !important;
}

.hide-items {
	display: none;
}
