<card-app marginTitle="ms">
	<card-title-app translate="title.lastest-noti"></card-title-app>
	
	<card-action-app>
		<button class="primary-light" (click)="openPanel()">View All</button>
	</card-action-app>

	<ng-container *ngIf="notifications$ | async as notifications; else emptyNotif">
		<notif-list-app
			[isDashboardBox]="true"
			[activities]="notifications?.results.slice(0, 4)"
		>
		</notif-list-app>
	</ng-container>
	<ng-template #emptyNotif>
		<notif-empty-app
			class="empty-notification">
		</notif-empty-app>
	</ng-template>
</card-app>
