.editable {
	a: hover {
		color: var(--color-primary);
	}
}

.editable icon-app {
	visibility: hidden;
	margin-right: var(--spacing-small);
}

.editable:hover {
	icon-app {
		visibility: visible;
	}
}