<div class="flex editable" *ngIf="!editMode">
	<!-- if we get an id as value, we should display the name of the entity -->
	<!-- else we just display said value -->
	<ng-container [ngSwitch]="type">
		<ng-container *ngSwitchCase="'select-entity'">
			{{ value | entityName: entityRep.entityName | async }}
		</ng-container>
		<ng-container *ngSwitchCase="'price'">
			{{ value?.priceAmount }} {{ value?.priceCurrency?.id }}
		</ng-container>
		<ng-container *ngSwitchCase="'currency'">
				{{ value?.priceCurrency?.id }}
		</ng-container>
		<ng-container *ngSwitchDefault>
			{{ value }}
		</ng-container>

	</ng-container>

	<i (click)="openEditMode()" class="fa fa-pencil" aria-hidden="true"></i>
</div>

<div *ngIf="editMode" (clickOutside)="closeEditMode()">
	<input-app [value]="value" *ngIf="type === 'text'" (update)="update.emit($event)"></input-app>
	<input-app [value]="value" *ngIf="type === 'number'" type="number" (update)="update.emit($event)"></input-app>
	<input-select-entity-app  *ngIf="type === 'select-entity'"
		[panelVisible]="true"
		[entityRep]="entityRep" [value]="value" (update)="update.emit($event)"></input-select-entity-app>
	<input-price-app *ngIf="type === 'price'" [value]="value" (update)="update.emit($event)"></input-price-app>
	<input-currency-app *ngIf="type === 'currency'" [value]="value" (update)="update.emit($event)"></input-currency-app>
</div>
