:host {
	width: 100%;
}

label {
	flex-grow: 1;
}

.editable {
	align-items: baseline;
	a:hover {
		color: var(--color-primary);
	}
}

.editable icon-app {
	visibility: hidden;
	margin-right: var(--spacing-s);
}

.editable:hover {
	icon-app {
		visibility: visible;
	}
}