.editable {
	a: hover {
		color: var(--color-primary);
	}
}

.editable i {
	visibility: hidden;
	margin-left: var(--spacing-small);
}

.editable:hover {
	background: var(--color-bg-secondary);
	i {
		visibility: visible;
	}
}