
<dialog-app>
  <dialog-header-app>Customer Request</dialog-header-app>
  <div class="flex">

    <div class="left">
      <carousel-app [hasPreview]="true" [static]="true" [images]="element.images"></carousel-app>
      <file-list-app [files]="element.attachments"></file-list-app>
    </div>

    <div class="right">
      <h3>Images</h3>
      <image-previewer-2-app [images]="images"></image-previewer-2-app>
      <button class="secondary" (click)="inpFile.click()">Add Image</button>
      <input #inpFile multiple="true" type="file" accept="image/*" (fileSelect)="addImage($event)"/>
    
      <div>
        <h3>Product details</h3>
    
        <extended-form-app
          (update)="update($event)"
          [definitions]="definitions" 
          [fields]="fields">
        </extended-form-app>
    
        <h3>Attachments</h3>
        
        <file-list-app [files]="files" [linkedItem]="reply"></file-list-app>
    
        <div class="flexEnd">
          <button (click)="save(false)">Save</button>
          <button (click)="save(true)" *ngIf="hasNext()">Save & Next</button>
        </div>
      </div>
    </div>

  </div>

</dialog-app>


