
dialog-app {
	extended-form-app {
		margin-bottom: var(--spacing-ms);
	}
}

dialog-header-app {
	.move {
		font-size: var(--font-size-xxl);
		.spacer {
			width: var(--spacing-ms);
		}
	}
	.title {
		margin-left: var(--spacing-ms);
	}
}

.save {
	margin-right: var(--spacing-ms);
}
.left {
	width: 456px;
}
.right {
	width: 500px;
}

.left, .right {
	padding: var(--spacing-m);
}