
dialog-app {

	extended-form-app {
		margin-bottom: var(--spacing-ms);
	}
}

.save {
	margin-right: var(--spacing-ms);
}
.left {
	border-right: 1px solid var(--color-divider);
	width: 400px;
}
.right {
	width: 500px;
}

.left, .right {
	padding: var(--spacing-m);
}