
dialog-app {

	extended-form-app {
		margin-bottom: var(--spacing-ms);
	}

	dialog-footer-app {
		border-top: 1px solid var(--color-divider);
		margin-top: var(--spacing-l);
		padding-top: var(--spacing-ms);
	}
}

.save {
	margin-right: var(--spacing-ms);
}

.left {
	width: 400px;
	padding-right: var(--spacing-l);
}

.right {
	width: 700px;

	.info-banner {
		background: var(--color-secondary-light);
		color: var(--color-primary);
		font-weight: 600;
		height: 62px;
		font-size: var(--font-size-l);
	}

	.add-image, .info-banner {
		margin-bottom: var(--spacing-l);
	}
}

