
side-menu-item.unselected .productCount {
	color: var(--color-txt-secondary);
}

side-menu-item:hover, side-menu-item.selected {
	color: var(--color-primary-contrast);
}

.name {
	font-weight: 600;
}
