<filtered-list-page-app [filterGroupName]="filterGroupName" [pending]="pending">

	<div class="filters">
		<filter-list-app class="filters" 
			[filterGroupName]="filterGroupName"
			[targets]="targets"></filter-list-app>
	</div>

	<div class="list-view">
		<ng-container *ngIf="(supplier$ | async) as suppliers">
					
			list
			<div *ngFor="let id of suppliers.ids">
				{{ suppliers.byId[id] | json }}
			</div>
		</ng-container>
	</div>

	<div class="card-view">
		<ng-container *ngIf="(supplier$ | async) as suppliers">								
			cards
			<div class="card" *ngFor="let id of suppliers.ids">
					{{ suppliers.byId[id] | json }}
			</div>
		</ng-container>
	</div>

</filtered-list-page-app>
	