<!-- <filtered-list-page-app [filterGroupName]="filterGroupName" [pending]="pending">

	<div class="filters">
		<filter-list-app class="filters"
			[filterGroupName]="filterGroupName"
			[filterReps]="filterReprs"></filter-list-app>
	</div>

	<supplier-list-view-app class="list-view"></supplier-list-view-app>

	<div class="card-view">
		<ng-container *ngIf="(supplier$ | async) as suppliers">
			cards
			<div class="card" *ngFor="let id of suppliers.ids">
					{{ suppliers.byId[id]?.name | json }}
			</div>
		</ng-container>
	</div>

</filtered-list-page-app> -->
