<div class="color-primary">TODO when we have the new field 'supplierId' on the backend</div>

<controller-table-app>
	<controller-table-quick-filters-app
		[quickFilters]="[]">
	</controller-table-quick-filters-app>
	<controller-table-quick-actions-app
		typename="Request"
	>
	</controller-table-quick-actions-app>
	<controller-table-view-switcher-app
		[hasCard]="false"
		[hasBoard]="false">
	</controller-table-view-switcher-app>
</controller-table-app>

<requests-table-app
	[rows]="listSrv.items$ | async"
	[selection]="selectionSrv.selection$ | async"
	[pending]="listSrv.pending"
	[isFiltering]="filterSrv.isFiltering"
	(goToPage)="listSrv.loadPage($event)"
	(sort)="listSrv.sort($event)"
	(select)="selectionSrv.selectOne($event, true)"
	(unselect)="selectionSrv.unselectOne($event, true)"
	(selectAll)="selectionSrv.selectAll($event, true)"
	(unselectAll)="selectionSrv.unselectAll()"
	(open)="viewSrv.goToDetails($event)"
	(previewClick)="viewSrv.openPreview($event)"
	(createClick)="openSupplierRequest()"
	(delete)="listSrv.deleteOne($event, true)">
</requests-table-app> -->
