
<side-menu-app [title]="'projects'" i18n-title="@@projects">

	<side-menu-item-app
		*ngFor="let project of projects;trackBy: trackByFn"
		[selected]="isSelected(project)"
		(click)="select.emit(project)">

		<span class="name">{{ project.name }}</span>
		<span class="productCount" i18n="text@@nested_product-count">
			{ productCount[project.id] || 0, plural, =0 { No Products } =1 { 1 Product} other { {{ productCount[project.id] }} Products } }
		</span>

	</side-menu-item-app>

</side-menu-app>
