card-title-app {
	h2 {
		font-size: var(--font-size-xl);
		font-weight: 600;
		color: var(--color-bg-dark);
	}
}

.logo {
	display: flex;
	justify-content: center;
}

.content {
	margin-top: var(--spacing-ms);
	margin-bottom: var(--spacing-xxl);

	h1 {
		font-size: var(--font-size-m);
		font-weight: 600;
		color: var(--color-bg-dark);
	}

	span {
		font-size: var(--font-size-m);
		color: var(--color-txt-secondary);
	}

	.secondary {
		margin-top: var(--spacing-xs);
		color: var(--color-txt-secondary);
	}
}