card-title-app {
	h2 {
		font-size: var(--font-size-xl);
		font-weight: 600;
		color: var(--color-bg-dark);
	}
}

.logo {
	display: flex;
	justify-content: center;
}

// placeholder
.placeholderCtnr {
	height: 100%;
	
	.placeholder-logo {
		margin-bottom: var(--spacing-ms);
	}
	
	.placeholder-title {
		color: var(--color-txt-primary);
		font-weight: 600;
		margin-bottom: var(--spacing-xs);
	}
	
	.placeholder-description {
		color: var(--color-txt-secondary);
		margin-bottom: var(--spacing-ms);
	}
}