<table-app
	[rows]="rows"
	[contextualMenu]="contextualMenuTemplate"
	[pending]="pending"
	[selected]="selection"
	[count]="count"
	[currentPage]="currentPage"
  [currentSort]="currentSort"
	[placeholder]="'placeholder.no-team-member' | translate"
	(goToPage)="goToPage.emit($event)"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(bottomReached)="bottomReached.emit()"
	(showItemsPerPage)="showItemsPerPage.emit($event)"
	(sort)="sort.emit($event)">

	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-app
				class="pointer flexCenter"
				(click)="delete.emit(row)"
				translate="button.delete">
		</context-menu-item-app>
	</ng-template>

	<!-- user name -->
	<ng-template
		[columnApp]="'header.name' | translate"
		sortBy="user.firstName"
		let-row="row"
		width="200"
		[sortOrder]="'DESC'">
		<div class="flexVAlign">
			<user-picture-app
				[user]="row?.createdBy"
				[image]="row.createdBy?.avatar"
				[background]="false"
				[fontSize]="16"
				size="32"></user-picture-app>
			<span class="user-name">
				{{ row.user.firstName }} {{ row.user.lastName }}
			</span>
		</div>
	</ng-template>

	<!-- email -->
	<ng-template
		class="capitalize"
		[columnApp]="'header.email' | translate"
		let-row="row"
		sortBy="user.email"
		width="200">
		<span class="email">
			{{ row.user.email  }}
		</span>
	</ng-template>

	<!-- access type -->
	<ng-template
		class="capitalize"
		[columnApp]="'header.account-type' | translate"
		let-row="row"
		sortBy="accessType"
		width="200">

		<context-menu-app [closeOnScroll]="true">
			<context-menu-trigger-app class="flex pointer">
				<div class="text capitalize" *ngIf="row.accessType === 'TeamMember'" translate="text.team-member"></div>
				<div class="text capitalize" *ngIf="row.accessType === 'Contributor'" translate="text.contributor"></div>
				<div class="selector"><icon-app name="angle-down"></icon-app></div>
			</context-menu-trigger-app>
			<context-menu-item-app
				(click)="accessTypeUpdated.emit({ member: row, accessType: 'TeamMember' })"
				i18n="button@@team-member">
				<span i18n="@@team-member" class="access">Team Member</span>
			</context-menu-item-app>
			<context-menu-item-app
				(click)="accessTypeUpdated.emit({ member: row, accessType: 'Contributor' })"
				i18n="@@contributor">
				<span i18n="@@contributor" class="access">Contributor</span>
			</context-menu-item-app>
			<context-menu-divider-app></context-menu-divider-app>
			<context-menu-item-warn-app class="remove-user" (click)="delete.emit(row)">
				<span i18n="@@remove-user" class="access">Remove User</span>
			</context-menu-item-warn-app>
		 </context-menu-app>

		 <ng-template #noSelector>
			<ng-container *ngIf="!teamOwner && (($teamOwner | async)?.id !== row.user.id); else displayOwner">
			 	<ng-container *ngIf="row.accessType === 'TeamMember'" i18n="@@team-member">
					<span class="access">Team Member</span>
				</ng-container>
				<ng-container *ngIf="row.accessType === 'Contributor'" i18n="@@contributor">
					<span class="access">Contributor</span>
				</ng-container>
			 	</ng-container>
				<ng-template #displayOwner>
					<span i18n="@@team-owner" class="access">Team Owner</span>
				</ng-template>
		 </ng-template>
	</ng-template>

	<!-- plan -->
	<ng-template
		[columnApp]="'plan' | const: 'messages'"
		let-row="row"
		width="160">
		<span class="plan">
			{{ row?.plan  }}
		</span>
	</ng-template>

	<!-- status -->
	<ng-template
		[columnApp]="'header.status' | translate"
		let-row="row"
		sortBy="status"
		width="80">
		<span class="status capitalize">
			{{ row.status }}
		</span>
	</ng-template>

</table-app>
