img-app {
	width: 121px;
	height: 121px;
	&:not(.last) {
		margin-right: var(--spacing-xs);
	}
}
card-header-app {
	padding: var(--spacing-ms) var(--spacing-s) var(--spacing-s) var(--spacing-s);
	display: block;
}
