
<card-app padding="ms">


		<h3 class="ms">Supplier Pictures</h3>

		<div class="flex imgCtnr">
			<img-app
			class="pointer"
			*ngFor="let image of images; let last = last; let i = index;trackBy: trackByFn"
			[ngClass]="{ 'last': last }"
			size="m"
			[image]="image"
			(click)="openModal(i)"></img-app>
		</div>

		<!-- modal carousel that can be seen when clicking on the normal carousel -->
		<modal-carousel-app
			*ngIf="modalOpen"
			[images]="images"
			(close)="closeModal()"
			[selectedIndex]="selectedIndex"></modal-carousel-app>


</card-app>

