:host {
	position: absolute;
	top: 1px;
	bottom: 0;
	background: white;
	z-index: 4;
	overflow-x: hidden;
	overflow-y: auto;
	width: 352px;
	padding: var(--spacing-ms);
	height: 100vh;
	&.alignRight {
		right: 0;
	}
	&.alignLeft {
		left: 0;
	}

}

divider-app {
	margin: var(--spacing-ms) 0;
}

.top {
	line-height: 1;
	side-panel-title-app{
		margin-bottom: 0;
	}
}