:host {
	display: inline-block;
	cursor: default;
}

icon-app {
	margin-right: var(--spacing-xs);
	font-size: 10px;
	cursor: default;
}

.tag {
	background: var(--color-secondary);
}

.category {
	background: #f5bc24;
	color: white;
}