// rest of the style in global theming/inputs
textarea {
	// for before the length Tip arrive the margin needs to be set so
	// we don't displace the content under when the length tip finally arrives
	margin-bottom: 17px;
}

.lengthTip {
	text-align: right;
	color: var(--color-txt-secondary);
	display: none;
}

textarea:focus {
	margin-bottom: 0;
	& ~ .lengthTip {
		display: block;
	}
}
