<card-app padding="ms">

	<ng-container *ngIf="products$ | async as products; else spinner">
		<!-- user -->
		<activity-user-app
			[user]="products[0]?.createdBy"
			[time]="time"
			action="added {{ products?.length }} products"></activity-user-app>

		<!-- previews -->
		<multiple-product-carousel-app
			[products]="products"
			(update)="update.emit($event)">
		</multiple-product-carousel-app>

		<!-- supplier -->
		<card-footer-app>
			<div class="flexBetween" *ngIf="products[0]?.supplier as supplier">

				<div class="flex supplier pointer" (click)="viewSupplier(supplier)">
					<img-app class="supplierImg" [image]="supplier?.logoImage" type="supplier"></img-app>

					<div class="flexColumn">
						<span class="supplierName flexStart">{{ supplier.name }}</span>
						<span class="supplierType flexStart">
							{{ supplier.supplierType || 'Supplier' }}
							<ng-container *ngIf="supplier.country">
								{{ supplier.country | const: 'country'  }}
							</ng-container>
						</span>
					</div>
				</div>

				<!-- <button class="light">View Products</button> -->
			</div>
		</card-footer-app>
	</ng-container>

	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>
</card-app>