.circle {
	width: 14px;
	height: 14px;
	border: 1px solid var(--color-secondary);
	border-radius: 50%;
	&.readonly {
		background: var(--color-secondary-light);
	}
}
.check-circle {
	background: var(--color-primary);
	width: 8px;
	height: 8px;
	border-radius: 50%;
}