:host {
  /* display: flex;
  flex-direction: row;
  margin-top: 15px; */
  display: flex;
}

.container {
	display: flex;
	justify-content: center;
  align-items: center;
}

.items {
  display: flex;
  flex-direction: row;
}

.item {
  margin-right: var(--spacing-ms);
  position: relative;
}

.label {
	display: flex;
  align-items: center;
	cursor: pointer;
  transition: all 0.25s linear;
	position: relative;
	margin-bottom: 0;
}

.dot {
	position: relative;
	display: flex;
  height: 16px;
  width: 16px;
  border: 1px solid var(--color-secondary);
  background: var(--color-secondary-light);
	border-radius: 50%;
	cursor: pointer;

	&:first-child {
		margin-right: var(--spacing-s);
	}
}

input[type=radio] {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	margin: 0;


	&:checked + label .dot {
		border: 1px solid var(--color-primary);
	}
}

.overlay {
	position: absolute;
	height: 11px;
	width: 11px;
	background: var(--color-primary-light);
	border-radius: 50%;
}
