<div class="scroller" infiniScroll (bottomReached)="loadMore()">
  <top-panel-app
    title="Shows & Events"
    [hasAction]="false">
  </top-panel-app>

  <div class="ctnr">

    <div class="top flexBetween">
      <search-bar-app (search)="search($event)"></search-bar-app>
      <div class="flexBetween">
        <checkbox-app [checked]="checkboxes.myShows" (update)="toggleMyEvents()">
          Only display my Shows
        </checkbox-app>
        <checkbox-app [checked]="!checkboxes.futureShowOnly" (update)="togglePastEvents()">
          Show past Events
        </checkbox-app>
      </div>
    </div>


    <show-list-app
      (saveShow)="saveShow($event)"
      *ngIf="!checkboxes.myShows"
      [pending]="pending"
      [items]="allShows$ | async"></show-list-app>

    <show-list-app
      *ngIf="checkboxes.myShows"
      [pending]="pending"
      [items]="myShows$ | async"></show-list-app>
  </div>

</div>

