<header-details-app [headerType]="'details'">

	<header-details-title-app class="mg-top-xxs">{{ supplier?.name }}</header-details-title-app>

	<logo-app [logo]="supplier?.logoImage" size="xl" type="supplier"></logo-app>

	<header-details-info-app >
		<div class="flex flexVAlign info-container dot-separator mg-bottom-xxs">
			<span class="color-primary" *ngIf="supplier?.reference">
				{{ supplier?.reference }}
			</span>
			<span *ngIf="supplier?.__typename">
				{{ supplier?.__typename ? supplier?.__typename + '&nbsp;' : ''}}
			</span>
			<!-- TODO: uncomment when votes added on backend -->
			<!-- <activities-bar-app *ngIf="supplier?.votes?.length > 0"
				[votes]="supplier?.votes">
			</activities-bar-app> -->
		</div>
	</header-details-info-app>

	<header-nav-app>
		<header-nav-item-app
			link="./activity"
			icon="activity"
			[name]="'nav.activity' | translate">
		</header-nav-item-app>

		<header-nav-item-app
			link="./products"
			icon="product"
			[name]="'nav.products' | translate">
		</header-nav-item-app>

		<header-nav-item-app
			link="./samples"
			icon="sample"
			[name]="'nav.samples' | translate">
		</header-nav-item-app>

		<header-nav-item-app
			link="./files"
			icon="files"
			[name]="'nav.files' | translate">
		</header-nav-item-app>

		<header-nav-item-app
			link="./tasks"
			icon="check-circle" 
			[name]="'nav.tasks' | translate">
		</header-nav-item-app>
	</header-nav-app>

	<header-details-actions-app>
		<button (click)="contact.emit(supplier)" class="contact" translate="button.contact-supplier"></button>

		<context-menu-app>
			<context-menu-trigger-app>
				<button class="icon light dots">
					<icon-app [size]="20" name="dots-vertical"></icon-app>
				</button>
			</context-menu-trigger-app>
			<context-menu-item-app (click)="archive.emit(supplier)" translate="button.archive"></context-menu-item-app>
			<context-menu-item-app (click)="export.emit(supplier)" translate="button.export"></context-menu-item-app>
			<context-menu-item-warn-app (click)="delete.emit(supplier)" translate="button.delete"></context-menu-item-warn-app>
		</context-menu-app>

	</header-details-actions-app>

</header-details-app>
