:host {
	display: flex;
	// if we put a margin here, the style will look wrong
	// margin: 0 var(--spacing-l);
	box-sizing: border-box;
	margin: 0 var(--spacing-l) var(--spacing-l) var(--spacing-l);
	background: var(--color-bg);

	&.no-padding {
		padding: 0;
		// we want to keep always the bottom one cause of the selection
		padding-bottom: var(--spacing-l);
	}
}

.sample-ref {
	margin-left: var(--spacing-ms);
	width: 160px;
  height: 18px;
  font-size: var(--font-size-m);
	color: var(--color-bg-dark);
}

.sample-name-ref {
	margin-left: 44px;
  height: 15px;
	font-size: var(--font-size-s);
  color: var(--color-txt-secondary);	
}

.product-ref {
	width: 120px;
  height: 18px;
  font-size: var(--font-size-m);
	color: var(--color-bg-dark);
}

.product-name-ref {
  height: 15px;
	font-size: var(--font-size-s);
  color: var(--color-txt-secondary);	
}

.supplier-name {
  height: 37px;
  font-size: var(--font-size-m);
  color: var(--color-bg-dark);
}

.type {
	height: 37px;
  font-size: var(--font-size-m);;
  font-weight: 600;
  color: var(--color-accent-contrast);
}

user-picture-app {
	margin-right: 0 !important;
}

.status-col {
	status-selector-app {
		margin-left: var(--spacing-ms);
	}
}

.created-by {
  height: 18px;
  font-size: var(--font-size-m);
  color: var(--txt-primary);
}

.created-by-date {
  height: 15px;
  font-size: var(--font-size-s);
  color: var(--txt-primary);
}