:host {
	display: inline-block;
	cursor: default;

	&.pointer {
		cursor: pointer;
	}
}

badge-app {
	icon-app[name="circle"] {
		cursor: default;
		padding: var(--spacing-xs);
		padding-top: 5px;
		padding-left: 0;
		font-size: 6px;
	}
}
