<div class="search__item cell ng-star-inserted main" (click)="displayItem()">
  <div class="mainCellWrapper ellipsis ng-star-inserted">
    <div class="mainCell">
      <div class="checkboxCtnr" *ngIf="selectable">
        <checkbox-app class="ng-star-inserted" (check)="onCheck()" (uncheck)="onUncheck()" [checked]="checked">
          <div class="icon pointer flexCenter mg-right">
            <div class="unChecked ng-star-inserted"></div>
          </div>
          <input class="hidden" type="checkbox" id="checkbox-1" [checked]="checked">
        </checkbox-app>
      </div>
      <div class="imgCtnr">
        <img class="mini image ng-star-inserted" [src]="image | image : 'm' : type">
      </div>
      <div class="description">
        <div class="titleCtnr mg-bottom-xxs">
          <div class="title capitalize">{{title}}</div>
        </div>
        <div class="sub-content flexWrap dot-separator">
          <ng-container *ngIf="type === 'product'">
            <div class="flexVAlign">
              <logo-app
                class="mg-right-xs"
                size="xs"
                [type]="erm.PRODUCT.singular">
              </logo-app>
              <span class="subtitle">{{subtitle}}</span>
            </div>
            <price-app [price]="price" class="flexVAlign" size="l"></price-app>
            <span *ngIf="category" class="category ellipsis flexVAlign">{{category}}</span>
            <rating-badge-app [votes]="votes.length && votes.flat()"></rating-badge-app>
          </ng-container>

          <ng-container *ngIf="type === 'supplier'">
            <rating-badge-app [votes]="votes.length && votes.flat()" activeColor="primary"></rating-badge-app>
            <status-badge-app *ngIf="status" class="flexVAlign" [status]="status"></status-badge-app>
            <span *ngIf="category" class="category ellipsis flexVAlign">{{category}}</span>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
