.search {
	&__item {
    height: 48px;
    display: flex;
		align-items: center;

		.mainCell {
			display: flex;
			align-items: center;

      .imgCtnr {
				border-radius: var(--border-radius);
    		width: 36px;
				height: 36px;
				margin-right: var(--spacing-ms);
        overflow: hidden;
        display: flex;
        align-items: center;
				justify-content: center;

				.mini.image {
					width: 48px;
					height: 48px;
				}

				.mini.image.adding {
					width: 22px;
					height: 22px;
					padding: 2px var(--spacing-ms);
				}
			}

			.description {
				display: flex;
				flex-direction: column;
				/* justify-content: space-between; */

				.titleCtnr {
					display: flex;
					align-items: center;

					.title {
						max-width: 400px;
						font-weight: 600;
						color: var(--color-txt-primary);
					}
				}

				status-button-app {
					margin-left: var(--spacing-ms);
				}
				
				.sub-content {
					color: var(--color-txt-secondary);
					font-size: var(--font-size-l);
				}
			}
		}

		.category {
			max-width: 350px;
			display: block;
		}

	}
}
