<preview-panel-app cdk-scrollable *ngIf="task$ | async">
	<!-- Banner -->
	<preview-banner-app>
		<banner-task-app
			[task]="task"
			(closed)="close.emit()"
			(update)="update($event, 'done')">
		</banner-task-app>
	</preview-banner-app>

	<!-- Header -->
	<preview-header-app
		[entity]="task"
		[entityMD]="erm.TASK"
		(update)="update($event, 'name')">

		<!-- Product badge -->
		<preview-badge-app
			[hasOpenAction]="true"
			[badge]="erm.PRODUCT"
			[value]="task?.product?.name"
			(openActionClicked)="openProduct()"
			(update)="update($event, 'product')">
		</preview-badge-app>

		<!-- Supplier badge -->
		<preview-badge-app
			[hasOpenAction]="true"
			[badge]="erm.SUPPLIER"
			[value]="task?.supplier?.name"
			(openActionClicked)="openSupplier()"
			(update)="update($event, 'supplier')">
		</preview-badge-app>
	</preview-header-app>

	<!-- Date & Assignee -->
	<preview-section-app>
		<div class="date-assignee-section flexAround mg-bottom-l">

			<!-- Date -->
			<div class="left">
				<editable-field-app #editable [hasAction]="false" [inlineLabel]="false"
					(opened)="inpDueDate.select()" [canGrow]="true">
					<label-app translate="label.due-date"></label-app>
					<editable-display-app>
						<ng-container *ngIf="task?.dueDate; else selectDue">{{ (task?.dueDate | date:'dd-MM-yyyy':'':translate.currentLang) }}</ng-container>
						<ng-template #selectDue>
							{{'label.select-due-date' | translate}}
						</ng-template>
					</editable-display-app>
					<form-field-app>
						<input inputApp #inpDueDate autofocus="true" [value]="task?.dueDate ? (task?.dueDate | date:'yyyy-MM-dd':'':translate.currentLang) : ''" type="date"
						(keyup.enter)="updateDueDate(false, inpDueDate.value)" (change)="updateDueDate(false, $event.target.value)"/>
					</form-field-app>
				</editable-field-app>
			</div>

			<!-- Assignee -->
			<div class="right">
				<selector-app
					type="user"
					[width]="210"
					[offsetY]="-26"
					(update)="update($event, 'assignee')">
					<editable-field-app
						#editable [hasAction]="false" [inlineLabel]="false" [canGrow]="true" [openOnClick]="false">
						<label-app translate="label.assigned-to"></label-app>
						<editable-display-app class="flex">
							<user-picture-app
								[user]="task?.assignee" [size]="16" [border]="true">
							</user-picture-app>
							{{ task?.assignee?.firstName }} {{ task?.assignee?.lastName ? task?.assignee?.lastName[0] : ''}}
						</editable-display-app>
					</editable-field-app>
				</selector-app>
			</div>
		</div>

		<divider-app></divider-app>

	</preview-section-app>

	<!-- Description -->
	<preview-section-app [title]="'title.description' | translate">
		<input-description-app
			[description]="task?.description"
			(update)="update($event, 'description')">
		</input-description-app>
	</preview-section-app>

	<!-- Task details form -->
	<preview-section-app>
		<dynamic-form-app
			[fields]="taskDescriptor?.descriptor"
			[value]="task"
			[config]="formConfig"
			(update)="updateTask($event)">
		</dynamic-form-app>
	</preview-section-app>

	<!-- Extended Fields -->
	<preview-section-app *ngIf="(fieldDefinitions$ | async)?.length" [title]="'title.extended-fields' | translate">
		<extended-form-app
			[definitions]="fieldDefinitions$ | async"
			[fields]="task?.extendedFields"
			[config]="formConfig"
			(update)="updateTask({extendedFields: $event})">
		</extended-form-app>
	</preview-section-app>

	<!-- Activity -->
	<preview-section-app *ngIf="task?.comments?.length" [title]="'title.comments' | translate">
		<comment-list-app [comments]="task.comments"></comment-list-app>
	</preview-section-app>

	<preview-comment-app (added)="addComment($event)"></preview-comment-app>
</preview-panel-app>
