<div class="container" infiniScroll (bottomReached)="bottomReached.emit()">
	<div *ngFor="let quote of quotes; index as i; first as first; last as last; trackBy: trackById"
		[ngClass]="{'hovered': hoverIndex === i}" class="flex quote-container"
		(mouseenter)="hoverRow(i)" (mouseleave)="hoverRow(-1)">
		<checkbox-app
			[hidden]="!(selection?.has(quote.id) || hoverIndex === i)"
			[checked]="selection?.has(quote.id)"
			(check)="quoteSelect?.emit(quote)"
			(uncheck)="quoteUnselect?.emit(quote)">
		</checkbox-app>
		<quote-row-app
			(previewClicked)="previewClicked.emit(quote)"
			[quote]="quote"
			[ngClass]="{'border-top': first, 'no-border': last}"
			(openSupplier)="openSupplier($event)">
		</quote-row-app>
	</div>
	<divider-app></divider-app>
</div>
