:host {
	display: block;
}

.title {
	color: var(--color-txt-strong);
	font-size: var(--font-size-xxxl);
	padding-bottom: var(--spacing-l);
}

list-app {
	max-height: 507px;
}

.quotation-empty {
	border-top: 1px solid var(--color-secondary);
	padding-top: 40px;
	padding-bottom: var(--spacing-m);
	text-align: center;

	icon-app {
		font-size: var(--font-size-xl);
		margin-bottom: var(--spacing-ml);
	}

	.text-tempty {
		font-size: 13px;
		font-style: italic;
		text-align: center;
		color: var(--color-secondary-dark);
		.link {
			color: var(--color-primary);
		}
	}
}
