
<workflow-kanban2-app [columns]="columns"
                      [selectedItems]="selected$ | async"
                      [card]="card"
                      [getCurrentColumnFct]="getCurrentColumnFct"
                      (itemDropped)="onItemDropped($event)"
                      (selectItem)="onItemSelected($event, true)"
                      (unselectItem)="onItemUnselected($event, true)"
                      (selectAllItems)="selectAll($event, true)"
                      (unselectAllItems)="resetSelection($event)">
</workflow-kanban2-app>

<ng-template #card let-row="row" let-column="column" let-dragInProgress="dragInProgress" let-checked="checked" let-selectItem="selectItem" let-unselectItem="unselectItem" let-dragDropEnable$="dragDropEnable$">
  test: {{row.name}}
  checked: {{checked}}
  dragInProgress: {{dragInProgress}}
  <div (mouseenter)="dragDropEnable$.next(false)" (mouseleave)="dragDropEnable$.next(true)">
    <div (click)="selectItem.emit(row)">select item</div>
    <div (click)="unselectItem.emit(row)">unselect item</div>
  </div>
</ng-template>
