<card-app>
  <h1>Guidelines</h1>

  When adding a new component to the app we want to put it here with some documentation. <br/>
  By putting it here we will enforce more reusable components by avoiding context aware components.

  <h1>Template</h1>

  The basic template to add a component here is:

  <ul>
    <li>Create specific route for component</li>
    <li>Add component to test page</li>
    <li>Add documentation card</li>
  </ul>

  <h1>Documentation</h1>

  <ul>
    <li>Explain what the components does</li>
    <li>@Input() & @Output() descriptions</li>
  </ul>
</card-app>