:host {
	display: block;
	background: white;
	width: 400px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: var(--z-card-container);
}

.container {
	height: 66px;
	padding: var(--spacing-ms);
	box-sizing: border-box;
}

.left {
	max-width: 65%;
}

.right {
	> *:not(:last-child) {
		margin-right: var(--spacing-ms);
	}
}
