<div class="container">
	<sample-list-app
		[samples]="dataSrv.items$ | async"
		[selection]="selectionSrv.selection$ | async"
		[hasProduct]="true"
		(bottomReached)="dataSrv.loadMore()"
		(createSample)="createSample($event)"
		(previewClicked)="viewSrv.openPreview($event)"
		(updateSample)="dataSrv.update($event)">
	</sample-list-app>
</div>

<preview-sample-app
	*ngIf="viewSrv.previewOpen"
	[sample]="viewSrv.previewed"
	(close)="viewSrv.closePreview()"
	(clickOutside)="viewSrv.closePreview()">
</preview-sample-app>
