.selected {
	// background: var(--color-txt-primary);
	color: white;
	>[class^="icon-"],
	[class*=" icon-"] {
		&:before {
			color: white;
		}
	}
}

:host {
	border-radius: 2px;
	background: var(--color-secondary);
	position: relative;
}

.ctnr {
	// to suppress the shadow from the btn
	overflow: hidden;
}

button {
	height: 32px;
	width: 100px;
	border-radius: var(--border-radius-s);
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: var(--font-size-m);
	background: transparent;
	color:  var(--color-txt-primary);
	padding: 0 15px;
	z-index: var(--z-button);
	text-transform: none;
}

icon-app {
	padding: 0 7px;
	padding-left: 0;
	font-size: var(--font-size-s);
	&:before {
		color: var(--color-txt-primary);
	}
}

.slider {
	background: var(--color-txt-primary);
	height: 32px;
	border-radius: 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: var(--z-base);
	transition: all 0.35s ease-out;
	&.left {
		left: 0;
		width: calc(100% / 2);
	}
	&.right {
		left: calc(100% / 2);
		width: calc(100% / 2);
	}
}
