<header-details-app
	[hasBackArrow]="false"
	[headerType]="'settings'">

	<header-details-title-app>
		<span class="my-team capitalize">
			{{ 'title.my-team' | translate }}
		</span>
	</header-details-title-app>

	<logo-app color="primary" icon="team"></logo-app>

	<header-details-info-app>
		<div class="dot-separator info">
			<span *ngIf="team">{{team.name}}</span>
			<span *ngIf="companyName">{{companyName}}</span>
		</div>
	</header-details-info-app>

	<header-nav-app>
		<header-nav-item-app
			link="/settings/team/members"
			icon="team"
			[name]="'nav.team-members' | translate">
		</header-nav-item-app>

		<!-- TODO create route for settings tab -->
		<header-nav-item-app
			link="/settings/team/settings"
			icon="settings"
			[name]="'nav.settings' | translate">
		</header-nav-item-app>
	</header-nav-app>

</header-details-app>

<router-outlet></router-outlet>
