<div class="previewCtnr flexCenter">
	<div class="grid-section flexCenter">
		<product-grid-card-app
			[hasCheckbox]="false"
			[product]="products[selectedIndex]"
			(productFavorite)="updateProduct(products[selectedIndex], {favorite: true})"
			(productUnfavorite)="updateProduct(products[selectedIndex], {favorite: false})">
		</product-grid-card-app>
		<product-grid-card-app
			[hasCheckbox]="false"
			[product]="products[selectedIndex + 1]"
			(productFavorite)="updateProduct(products[selectedIndex + 1], {favorite: true})"
			(productUnfavorite)="updateProduct(products[selectedIndex + 1], {favorite: false})">
		</product-grid-card-app>
	</div>

	<!-- move back -->
	<div class="move-btn back flexCenter pointer action"
		(mousedown)="back($event)" *ngIf="selectedIndex > 0  && products.length > 2">
		<icon-app name="arrow-left-rectangle"></icon-app>
	</div>

	<!-- move next -->
	<div class="move-btn next flexCenter pointer action"
		(mousedown)="next($event)" *ngIf="selectedIndex < (products.length - 2)  && products.length > 2">
		<icon-app name="arrow-right-rectangle"></icon-app>
	</div>
</div>