<div class="previewCtnr flexCenter">
	<div class="grid-section flexCenter">
		<product-grid-card-app
		[product]="products[selectedIndex]"
		[hasActions]="false"
		(click)="onViewProduct.emit(products[selectedIndex])">
		</product-grid-card-app>
		<product-grid-card-app
			[product]="products[selectedIndex + 1]"
			[hasActions]="false"
			(click)="onViewProduct.emit(products[selectedIndex + 1])">
		</product-grid-card-app>
	</div>

	<!-- move back -->
	<div class="move-btn back flexCenter pointer action"
		(mousedown)="back($event)" *ngIf="selectedIndex > 0  && products.length > 2">
		<icon-app name="arrow-left-rectangle"></icon-app>
	</div>

	<!-- move next -->
	<div class="move-btn next flexCenter pointer action"
		(mousedown)="next($event)" *ngIf="selectedIndex < (products.length - 2)  && products.length > 2">
		<icon-app name="arrow-right-rectangle"></icon-app>
	</div>
</div>