<div class="flexStart row">
	<!-- name -->
	<div class="flex quote-name ellipsis pointer">
		<div class="flexCenter" [ngStyle]="{'text-decoration': quote?.done ? 'line-through' : 'none'}" (click)="previewClicked.emit(externalReq)">
			{{ externalReq?.name || 'Unnamed quote' }}
		</div>
	</div>

	<!-- supplier -->
	<div class="flexStart quote-supplier ellipsis">
		<div *ngIf="externalReq?.supplier" class="flex ellipsis" (click)="openSupplier.emit(externalReq?.supplier?.id || null)">
			<img-app [size]="xs" [image]="externalReq?.supplier?.logoImage"></img-app>
			{{ externalReq?.supplier?.name || 'Unnamed suppler' }}
		</div>
	</div>

	<!-- date -->
	<div class="flexStart quote-supplier ellipsis">
		<div class="flex ellipsis">
			{{ externalReq?.creationDate || date: 'dd-mm-yyyy' }}
		</div>
	</div>

	<!-- quote status -->
	<div class="flexEnd quote-user-status">
		<div class="flex quote-status quote-{{ getStatus() }}">
			<icon-app name="circle" fontSet="fa" color="red"></icon-app>
			<p>{{ externalReq?.status }}</p>
		</div>
	</div>
</div>
