<table-app
	[rows]="rows"
	[type]="'SAMPLE' | erm: true"
	[pending]="pending"
	[selected]="selection"
	[contextualMenu]="contextualMenuTemplate"
	[currentSort]="currentSort"
	[count]="count"
	[currentPage]="currentPage"
	[hasPagination]="hasPagination"
	[hasSelection]="hasSelection"
	[hasMenu]="hasMenu"
	[hasHeader]="hasHeader"
	[placeholder]="'placeholder.no-sample' | translate"
	[rowHeight]="rowHeight"
	(goToPage)="goToPage.emit($event)"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit($event)"
	(sort)="sort.emit($event)"
	(bottomReached)="bottomReached.emit()"
	(createClick)="createClick.emit()">



	<!-- dynamic columns -->
	<ng-template
    *ngFor="let column of columnsConfig; trackBy: trackByFn"
    let-row="row"
    [columnApp]="'title.' + column.translationKey | translate"
    [width]="column.width"
		[sortBy]="column.sortProperty">

    <ng-container [ngSwitch]="column.name">

			<default-columns-app 
				*ngSwitchDefault
				[row]="row" 
				[column]="column" 
				[hovered]="row.id === hovered"
				[type]="'SAMPLE' | erm">
			</default-columns-app>

		</ng-container>

	</ng-template>

</table-app>

<!-- contextual menu -->
<ng-template #contextualMenuTemplate let-row="row">
	<context-menu-item-app
		class="pointer flexCenter"
		(click)="archive.emit(row)"
		translate="button.archive">
	</context-menu-item-app>
	<context-menu-item-warn-app
		class="pointer flexCenter"
		(click)="delete.emit(row)"
		translate="button.delete">
	</context-menu-item-warn-app>
</ng-template>
