<table-app
	[rows]="rows"
	typename="Sample"
	[pending]="pending"
	[isSeaching]="isFiltering"
	[selected]="selection"
	[contextualMenu]="contextualMenuTemplate"
	[total]="total"
	[currentPage]="currentPage"
	[hasPagination]="hasPagination"
	[hasSelection]="hasSelection"
	[hasMenu]="hasMenu"
	[hasHeader]="hasHeader"
	[hasBorder]="hasBorder"
	[placeholder]="'placeholder.no-sample' | translate"
	[rowHeight]="rowHeight"
	(goToPage)="goToPage.emit($event)"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit($event)"
	(sort)="sort.emit($event)"
	(bottomReached)="bottomReached.emit()"
	(createClick)="createClick.emit()">

	<!-- dynamic columns -->
	<ng-template
    *ngFor="let column of columnsConfig; trackBy: trackByFn"
    let-row="row"
		[columnApp]="column.translationKey ? ('title.' + column.translationKey | translate) : ''"
		[sortable]="column.sortable !== false"
		[width]="column.width"
		[sortBy]="column.sortProperty"
		[grows]="!column.fixedWidth"
		[showOnHover]="column.showOnHover">

    <ng-container [ngSwitch]="column.name">

			<default-columns-app
				*ngSwitchDefault
				[row]="row"
				[column]="column"
				[hovered]="row.id === hovered"
				typename="Sample"
				[redirectOnNameClick]="false"
				(update)="update.emit($event)"
				(nameClick)="previewClick.emit($event)"
				(previewClick)="previewClick.emit($event)"
				(logoClick)="previewClick.emit($event)">
			</default-columns-app>

		</ng-container>

	</ng-template>

</table-app>

<!-- contextual menu -->
<ng-template #contextualMenuTemplate let-row="row">
	<context-menu-item-app
		(click)="archive.emit(row)">
		<div class="icon-box square flexCenter mg-right-s">
			<icon-app name="archive" size="s"></icon-app>
		</div>
		<span translate="button.archive"></span>
	</context-menu-item-app>
	<context-menu-item-warn-app
		(click)="delete.emit(row)">
		<div class="icon-box square flexCenter mg-right-s">
			<icon-app name="delete" size="s"></icon-app>
		</div>
		<span translate="button.delete"></span>
	</context-menu-item-warn-app>
</ng-template>
