:host {
	display: block;
}

.content {
	justify-content: center;
	.right {
		margin: var(--spacing-l);
	}
	.left {
		width: 420px;
	}
	.right {
		width: 772px;
	}
}

divider-app {
	margin: var(--spacing-l) 0;
}

.show-my-tasks {
	justify-content: flex-end;
	margin: -40px 0 24px 0;
}