<div class="flex">
	<icon-app fontSet="svg" name="supplier"></icon-app>
	<div class="flexColumn info">
		<h2>{{ supplier?.name }}</h2>
		<div>
			{{ supplier.supplierType || 'Supplier'}}
			<ng-container *ngIf="supplier.countryCode">
				- {{ supplier.countryCode | entity: 'country': 'fullName' | async }}
			</ng-container>
		</div>
	</div>

</div>
<div class="flex right">
	<rating-heart-app
		[rating]="supplier?.rating"
		(favorited)="onFavorited()"
		(unfavorited)="onUnfavorited()"></rating-heart-app>
	<status-selector-badge-app
		class="badge"
		(update)="onStatusChange($event)"
		[status]="supplier?.status"
		[choices]="'supplierStatus' | entityList | async">
	</status-selector-badge-app>
</div>
