<button
	*ngIf="quickFilters.includes('assignee')"
	class="light mg-left-ms"
	(click)="toggleAssignedToMe()">
	<checkbox-app class="mg-right-xs" [checked]="isAssignedToMeChecked" [size]="15"></checkbox-app>
	{{ 'label.assigned-to-me' | translate }}
</button>

	<button
	*ngIf="quickFilters.includes('archived')"
	class="light mg-left-ms"
	(click)="toggleArchived()">
	<checkbox-app class="mg-right-xs" [checked]="isArchivedChecked" [size]="15"></checkbox-app>
	{{ 'label.show-archived' | translate }}
</button>

<button
	*ngIf="quickFilters.includes('completed')"
	class=" light mg-left-ms"
	(click)="toggleCompleted()">
	<checkbox-app class="mg-right-xs" [checked]="isCompletedChecked" [size]="15"></checkbox-app>
	{{ 'label.show-completed' | translate }}
</button>

<button
	*ngIf="quickFilters.includes('createdBy')"
	class="light mg-left-ms"
	(click)="toggleCreatedByMe()">
	<checkbox-app class="mg-right-xs" [checked]="isCreatedByMeChecked" [size]="15"></checkbox-app>
	{{ 'label.show-created-by-me' | translate }}
</button>