<bread-crumb-app title="My settings" [subtitles]="['Home', 'My Settings']"></bread-crumb-app>

<div class="ctnr" *ngIf="user$ | async as user">
	<user-picture-app class="pointer" (click)="fileInp.click()" size="80" [url]="user?.preferences?.profilePicture?.urls?.url_60x45"></user-picture-app>
	<input #fileInp type="file" [hidden]="true"/>
	<form [formGroup]="form">
		<h2>Basic Details</h2>
		<!-- first name -->
		<form-field-app>
			<label-app>First name</label-app>
			<input inputApp type="text" [value]="user.firstName" (blur)="update('firstName', $event.target.value)" formControlName="firstName"/>
		</form-field-app>

		<!-- last name -->
		<form-field-app>
			<label-app>last name</label-app>
			<input inputApp type="text" [value]="user.lastName" (blur)="update('lastName', $event.target.value)" formControlName="lastName"/>
		</form-field-app>

		<h2>Log in details</h2>

		<form-field-app>
			<label-app>Email</label-app>
			<input inputApp type="email" class="email" [value]="user.email" (blur)="update('email', $event.target.value)"
				restrictInput="email" formControlName="email" readonly/>
		</form-field-app>
	</form>

</div>
