:host {
	box-sizing: border-box;
	display: block;
	.content {
		font-size: var(--font-size-m);
		color: var(--color-primary-dark);
		align-items: center;
	}

	.labelCtnr {
		font-weight: bold;
		font-size: var(--font-size-s);
		color: var(--color-primary-dark);
		text-transform: capitalize;
		display: block;
	}
	/**
	there are 4 padding cases:
	 1. field cell double line with bottom
	 2. field cell double line without bottom
	 3. field cell one line with bottom
	 4. field cell one line without bottom
	*/
	&.doubleLine {
		padding-top: 16px;
		// label is always the same size
		.labelCtnr {
			height: 14px;
		}
		.content {
			width: 100%;
		}

		&.hasBottom {
			border-bottom: 1px solid var(--color-primary-light);
		}
		&.hasNoBottom {
			.content {
				align-items: flex-end;
			}
		}
		// when the input has a fixed size
		&.cannotGrow {
			height: 67px;
			.content {
				height: 37px;
			}
		}

		&.canGrow {
			min-height: 67px;
			.content {
				min-height: 37px;
			}
		}

	}
	&.oneLine {
		height: 20px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid var(--color-primary-light);
		input {
			padding: 2px 1px 2px 6px;
			border: none;
		}
		.content {
			color: var(--color-txt-secondary);
		}
		.content.hasBottom {
			font-weight: 600;
			color: var(--color-txt-secondary);
			&:hover {
				color: var(--color-primary);
				text-decoration: underline;
			}
		}

		&.hasBottom {
			padding: 8px 0 8px 0;
		}
		&.hasNoBottom {
			padding: 6px 0 5px 0;
		}
	}

}





