:host {
	box-sizing: border-box;
	display: block;
	.content {
		font-size: var(--font-size-m);
		color: var(--color-txt-primary);
		align-items: center;
	}

	.labelCtnr {
		font-weight: bold;
		font-size: var(--font-size-s);
		color: var(--color-txt-primary);
		text-transform: capitalize;
		display: block;
	}
	/**
	there are 4 padding cases:
	 1. field cell double line with bottom
	 2. field cell double line without bottom
	 3. field cell one line with bottom
	 4. field cell one line without bottom
	*/
	&.doubleLine {
		margin-bottom: 16px;
		// label is always the same size
		.labelCtnr {
			height: 14px;
			font-size: var(--font-size-m);
			color: var(--color-txt-secondary);
			font-weight: normal;
		}
		.content {
			width: 100%;
		}

		&.isOpen {
			// border-bottom: 1px solid var(--color-secondary);
		}

		&.isClosed {
			.content {
				align-items: flex-end;
			}
		}
		// when the input has a fixed size
		&.cannotGrow {
			height: 51px;
			.content {
				height: 37px;
			}
		}

		&.canGrow {
			min-height: 51px;
			.content {
				min-height: 37px;
			}
		}

	}
	&.oneLine {
		display: flex;
		justify-content: space-between;
		// we always display the border on single line
		border-bottom: 1px solid var(--color-secondary);

		&.cannotGrow {
			height: 33px;
		}
		&.canGrow {
			min-height: 33px;
		}
		.labelCtnr {
			font-size: var(--font-size-m);
			font-weight: 600;
		}
		.content {
			color: var(--color-txt-secondary);
			font-weight: 600;
		}
	}
}





