:host {
	height: 100% !important;
}

.assignee-container {
	align-items: center;
}

.number {
	color: var(--color-txt-strong);
	font-weight: 600;
}

.name-container {
	align-items: center;

	img-app {
		max-width: 28px;
		min-width: 28px;
		margin-right: var(--spacing-xs);
	}
}