<div id="content">
  <card-app>
    <h3 class="mg-l">Font sizes list</h3>
    <b>
      xxs: <small>8px</small>
    </b>
    <br>
    <b>
      xs: <small>10px</small>
    </b>
    <br>
    <b>
      s: <small>12px</small>
    </b>
    <br>
    <b>
      m: <small>14px</small>
    </b>
    <br>
    <b>
      l: <small>16px</small>
    </b>
    <br>
    <b>
      xl: <small>18px</small>
    </b>
    <br>
    <b>
      xxl: <small>20px</small>
    </b>
    <br>
    <b>
      xxxl: <small>24px</small>
    </b>
    <br>
    <b>
      xxxxl: <small>28px</small>
    </b>
    <br><br>
    <p>
      You can use these font sizes in a class for text
      <br>
      <small>class="fs-(font size)"</small>
    </p>
    <br>
    <p class="fs-xxs">class="fs-xxs"</p>
    <p class="fs-xs">class="fs-xs"</p>
    <p class="fs-s">class="fs-s"</p>
    <p class="fs-m">class="fs-m"</p>
    <p class="fs-l">class="fs-l"</p>
    <p class="fs-xl">class="fs-xl"</p>
    <p class="fs-xxl">class="fs-xxl"</p>
    <p class="fs-xxxl">class="fs-xxxl"</p>
    <p class="fs-xxxxl">class="fs-xxxxl"</p>
  </card-app>
  <card-app>
    <h3 class="mg-l">Header typographies</h3>
    <p>&lt;h1&gt; tag: </p>
    <h1>h1</h1><br>
    <p>&lt;h2&gt; tag: </p>
    <h2>h2</h2><br>
    <p>&lt;h3&gt; tag: </p>
    <h3>h3</h3><br>
    <p>&lt;h4&gt; tag: </p>
    <h4>h4</h4><br>
    <p>&lt;h5&gt; tag: </p>
    <h5>h5</h5><br>
    <p>You can add <small>class="(spacing)"</small> to any header tag to set bottom margin for headers</p>
    <br>
    <h3 class="ms">Spacings list</h3>
    <b>
      xs: <small>4px</small>
    </b>
    <br>
    <b>
      s: <small>8px</small>
    </b>
    <br>
    <b>
      ms: <small>12px</small>
    </b>
    <br>
    <b>
      m: <small>16px</small>
    </b>
    <br>
    <b>
      l: <small>24px</small>
    </b>
    <br>
    <b>
      xl: <small>32px</small>
    </b>
  </card-app>
  <card-app>
    <h3 class="mg-l">Other typographies</h3>
    <p>"this is capitalize" change to <span class="capitalize">"i am capitalize"</span> when using
      <br>
      <small>class="capitalize"</small>
    </p>
    <br>
    <p>"this is first-uppercase" change to "This is first-uppercase" when using
      <br>
      <small>class="first-uppercase"</small>
      <br>
      <b>*Note: cannot be used with &lt;span&gt; tag</b>
    </p>
    <br>
    <p>&lt;b&gt; tag: <b>b</b></p>
    <p>class="italic": <span class="italic">italic</span></p>
    <p>&lt;label&gt; tag: <label>label</label></p>
    <p>&lt;strong&gt; tag: <strong>strong</strong></p>
    <p>&lt;small&gt; tag: <small>small</small></p>
    <p>&lt;time&gt; tag: <time>time</time></p>
  </card-app>
</div>