:host {
	display: flex;
	flex-direction: column;
	overflow-x: auto;
	overflow-y: auto;
	height: 100%;
}

kanban-app {
	flex-grow: 1;
	padding: 0 20px 20px 20px;
	box-sizing: border-box;
}

sub-panel-left-item-app {
	margin-left: var(--spacing-l);

	.show-my-samples span {
		font-weight: 600;
		line-height: 1.43;
	}
}

selection-bar-app {

	status-selector-app {
		margin-right: 45px;
	}

	icon-app.trash-bin {
		font-size: var(--font-size-xxxl);
		color: var(--color-txt-secondary);
	}
}
