<h1 class="title">Task</h1>
<div class="container" infiniScroll (bottomReached)="bottomReached.emit()">
	<div *ngFor="let task of tasks; index as i; first as first; last as last; trackBy: trackByFn"
		[ngClass]="{'hovered': hoverIndex === i}" class="flex task-container"
		(mouseenter)="hoverRow(i)" (mouseleave)="hoverRow(-1)">
		<checkbox-app
			[ngStyle]="{'visibility': (selection.has(task.id) || hoverIndex === i) ? 'visible' : 'hidden'}"
			[checked]="selection.has(task.id)"
			(check)="taskSelect.emit(task)"
			(uncheck)="taskUnselect.emit(task)">
		</checkbox-app>
		<task-app
			[hasProduct]="hasProduct"
			[hasSupplier]="hasSupplier"
			[task]="task"
			[fullUser]="fullUser"
			[ngClass]="{'border-top': first, 'no-border': last}"
			(openProduct)="openProduct($event)"
			(openSupplier)="openSupplier($event)"
			(updateTask)="updateTask.emit($event)">
		</task-app>
	</div>
	<divider-app></divider-app>
</div>
<div class="flexBetween create-task">
	<textarea inputApp type="text" [formControl]="taskCtrl"
		placeholder="+ Create a new task" (keydown.enter)="onEnter($event)"></textarea>
	<button *ngIf="inp?.focussed || taskCtrl.value"class="secondary-light" (click)="onSubmit()">Create</button>
</div>
<!-- <button class="light" (click)="openCreateDlg.emit()">+ Create a new task</button> -->
