:host {
	display: block;
	background: white;
	margin-right: var(--spacing-l);
	margin-left: var(--spacing-l);
}

.title {
	background: white;
	color: var(--color-txt-strong);
	font-size: var(--font-size-xxxl);
	padding: var(--spacing-l);
}

list-app {
	max-height: 505px;
	margin: 0 var(--spacing-l);
}

.create-task {
	background: white;
	padding: var(--spacing-l);

	input, textarea {
		height: 36px;
		resize: none;
		border: none;
		background: none;
		border: 1px solid transparent; // this way we avoid movement on the input when focusing

		&:focus {
			border-radius: 500px;
			border: 1px solid var(--color-secondary);
			background: var(--color-secondary-light);
		}
	}

	button {
		margin-left: var(--spacing-ms);
	}
}