:host {
	display: block;
	background: white;
	padding: var(--spacing-l);
	padding-left: var(--spacing-ms);
	border-radius: var(--border-radius-s);
}

.title {
	color: var(--color-txt-strong);
	font-size: var(--font-size-xxxl);
	margin-bottom: var(--spacing-l);
	margin-left: var(--spacing-ms);
}

.container {
	height: 505px;

	.task-container {
		margin-left: var(--spacing-m);

		&.hovered {
			cursor: pointer;
			background-color: var(--color-secondary-light);
		}

		task-app {
			width: 100%;
			border-bottom: 1px solid var(--color-secondary);

			&.border-top {
				border-top: 1px solid var(--color-secondary);
			}

			&.no-border {
				border: none;
			}
		}
	}
}

.create-task {
	margin-top: var(--spacing-l);
	margin-left: var(--spacing-ms);

	input, textarea {
		height: 36px;
		resize: none;
		border: none;
		background: none;
		border: 1px solid transparent; // this way we avoid movement on the input when focusing

		&:focus {
			border-radius: 500px;
			border: 1px solid var(--color-secondary);
			background: var(--color-secondary-light);
		}
	}

	button {
		margin-left: var(--spacing-ms);
	}
}

button.light {
	margin-top: var(--spacing-ms);
	color: var(--color-txt-secondary);
	font-style: italic;
}