:host {
	margin: 0px;
	margin-right: var(--spacing-xl);
	margin-top: 44px;
	display: block;
}

.card-container {
	margin: 0px;
	width: 330px;
	height: 346px;
	background: white;
	overflow: hidden;
	border: 4px solid white;
	box-shadow: 0px 0px 1px 1px var(--color-secondary);
	border-radius: var(--border-radius-s);
	&.actions:hover {
		.information, action-bar-app, .imgNumber, .imgPrice {
			transform: translateY(-35px);
		}
	}

	&.selectedCard {
		box-shadow: 0px 0px 0px 2px var(--color-primary);
	}

	.card-content {
		height: 395px;
		position: relative;

		.information, .imgNumber, .imgPrice {
			transition: transform 0.2s linear;
		}

		img-app {
			height: 285px;
			margin-bottom: 2px;
			border-radius: var(--border-radius-s);
		}

		.imgPrice {
			position: absolute;
			top: 259px;
			left: 7px;
			font-size: var(--font-size-ms);
			font-weight: 600;
			color: white;
			background: rgba(93, 109, 139, 0.85);
			padding: 0px 6px;
			border-radius: var(--border-radius);
		}

		.imgNumber {
			position: absolute;
			top: 255px;
			left: 288px;
			font-size: var(--font-size-s);
			font-weight: 600;
			padding: 3px 7px;
			border-radius: var(--border-radius);
			background: rgba(93, 109, 139, 0.6);
			color: white;
			span {
				margin-right: var(--spacing-xs);
			}
			div.icon-img {
				font-size: var(--font-size-xxs);
				margin-top: 2px;
    	}
		}

		.information {
			height: 46px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background: white;
			margin-top: 2px;

			.text-bar {
				margin-left: var(--spacing-xs);
				margin-top: var(--spacing-xs);

				.name-product {
					margin-bottom: var(--spacing-xs);
					font-weight: 600;
					letter-spacing: -0.3px;
					color: var(--color-txt-strong);
				}

				.supplier-product {
					font-size: var(--font-size-s);
				}
			}

			icons-status-app {
				padding-bottom: 18px;
			}
		}


		action-bar-app {
			margin-top: 6px;
			padding-right: var(--spacing-s);
			padding-left: var(--spacing-s);

			icon-app {
				font-size: var(--font-size-xxl);
			}
		}

		button.icon {
			margin-right: 9px;
		}
	}
}

checkbox-app {
	position: absolute;
	top: 8px;
	left: 304px;
}

status-badge-app {
	position: absolute;
	top: 6px;
	left: 6px;
	min-width: 117px;
	text-transform: uppercase;
}

