	<context-menu-app *ngIf="entity?.status; else noStatus" [xPosition]="xPosition" [yPosition]="yPosition" class="menu-status {{selectSize}}">

		<context-menu-trigger-app class="flex {{selectSize}}">
			<status-badge-app *ngIf="!isSendToWorkFlow" [hasArrow]="selectSize !== 's'" [status]="entity.status.status" [size]="selectSize"></status-badge-app>
			<div class="caretCtnr" *ngIf="isSendToWorkFlow"><icon-app fontSet="fa" name="caret-down"></icon-app></div>
		</context-menu-trigger-app>

		<context-menu-item-app *ngFor="let stat of (status$ | async);trackBy: trackByFn" class="{{selectSize}}">
			<status-badge-app [status]="stat" [size]="selectSize" (click)="updateStatus(stat)"></status-badge-app>
		</context-menu-item-app>

		<context-menu-divider-app></context-menu-divider-app>

		<context-menu-item-app class="remove-workflow">
			<span>Remove from Workflow</span>
		</context-menu-item-app>

	</context-menu-app>

	<ng-template #noStatus>
		<context-menu-app [xPosition]="xPosition" [yPosition]="yPosition" class="menu-status {{selectSize}}" (menuClosed)="statusUpdated.emit()">

			<context-menu-trigger-app class="flex {{selectSize}}">
				<status-badge-app  *ngIf="!isSendToWorkFlow" [hasArrow]="selectSize !== 's'" [size]="selectSize" [typeEntity]="typeEntity"></status-badge-app>
				<div class="caretCtnr" *ngIf="isSendToWorkFlow"><icon-app fontSet="fa" name="caret-down"></icon-app></div>
			</context-menu-trigger-app>

			<context-menu-item-app *ngFor="let stat of (status$ | async);trackBy: trackByFn" class="{{selectSize}}">
				<status-badge-app [status]="stat" [size]="selectSize" (click)="setStatus(stat)"></status-badge-app>
			</context-menu-item-app>

		</context-menu-app>
	</ng-template>

	<ng-content></ng-content>
