context-menu-app {

	status-badge-app {
		cursor: pointer;
	}

	.remove-workflow {
		color: var(--color-warn);
	}

	.caretCtnr {
		display: flex;
    align-items: center;
		height: 30px;
    width: 100%;
		padding-left: 5px;
	}
}
