<card-app [hasShadow]="false" padding="ms">
	<ng-container *ngIf="supplier$ | async; else spinner">
		<!-- user -->
		<activity-user-app
			[user]="supplier.createdBy"
			[time]="supplier.creationDate"
			[action]="title">
		</activity-user-app>

		<div class="content">
			<!-- preview  -->
			<one-activity-carousel-app
				*ngIf="supplier?.images?.length > 0"
				[images]="supplier?.images">
			</one-activity-carousel-app>
	
	
			<!-- information of the supplier -->
			<div class="flexColumn suppInfo">
				<div class="flexVAlign">
					<logo-app [logo]="supplier?.images[0]" size="l" type="supplier"></logo-app>
					<div class="supp-info-content">
						<span class="name">{{ supplier?.name }}</span>
						<header-details-info-app>
							<div class="flex flexVAlign color-txt-secondary">
								<logo-app type="supplier" name="supplier" size="xs"></logo-app>
								<span *ngIf="supplier?.description">
									{{ supplier?.description }}
								</span>
								<span *ngIf="supplier?.country && supplier?.city">
									{{ supplier?.country + ', ' + supplier?.city }}
								</span>
								<span *ngIf="supplier?.country && !supplier?.city">
									{{ supplier?.country }}
								</span>
								<span *ngIf="!supplier?.country && supplier?.city">
									{{ supplier?.city }}
								</span>
								<span *ngIf="supplier?.comments?.length > 0">
									{{'OBJ.n-comment.' + (supplier?.comments?.length === 1 ? 'singular' : 'plural') | translate: { count: (supplier?.comments?.length || 0) } }}
								</span>
							</div>
						</header-details-info-app>
					</div>
				</div>
			</div>
		</div>


	</ng-container>

	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>

</card-app>
