:host {
	display: flex;
	align-items: center;
	border-radius: 99px;
	height: 32px;
	width: 240px;
}
icon-app {
	margin-left: 5px;
	margin-right: var(--spacing-s);
}
input {
	margin-right: 5px;
	flex-grow: 1;
	border: none;
	background: transparent;
	outline: none;
	color: var(--color-txt-secondary);
}

input::placeholder {
	color: var(--color-txt-secondary);
}

