<nav role="navigation" class="{{ open ? 'open' : '' }} flexColumn z-3">
	<div class="items">

		<a [routerLink]="['']" class="sideNavItem flex">
			<mat-icon>home</mat-icon>
			<span class="itemTxt">home</span>
		</a>

		<a [routerLink]="['/products']" class="sideNavItem flex">
			<!-- parking icon is used for products... -->
			<mat-icon>local_parking</mat-icon>
			<span class="itemTxt">products</span>
		</a>

		<a [routerLink]="['/tasks']" class="sideNavItem flex">
			<mat-icon>watch</mat-icon>
			<span class="itemTxt">tasks</span>
		</a>
	</div>


	<button class="sideNavItem" (click)="toggle()"><mat-icon>{{ menuIcon }}</mat-icon></button>
</nav>
