nav, .nav{
	z-index: 2;
	width: 0;
	transition: min-width 0.4s;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	text-transform: capitalize;
	min-width: 4rem;
	height: 100%;
	background: var(--color-bg);
	.sideNavItem{
		color: var(--color-txt-primary);
	}
	.sideNavItem .itemTxt{
		// so the text doesn't display when the sidenav is closed
		display: none;
		padding-left: 8px;
    line-height: 24px;
	}
}

nav.open, .nav.open{
	min-width: 17rem;
	// so the text does display when sidenav is open
	.sideNavItem .itemTxt{
		display: block;
	}
}

.items{
	// so the close button gets pushed at the bottom
	flex-grow: 1;
}

.sideNavItem{
	border-radius: 0;
	padding: var(--spacing-default);
	background: transparent;
}

.sideNavItem:hover{
	background: var(--color-bg-secondary);
}
