<ng-container [ngSwitch]="badge">

	<!-- Product -->
	<div *ngSwitchCase="erm.PRODUCT" class="flexStart icon-container pointer">
		<selector-app
			type="product"
			[offsetY]="offsetY"
			[offsetX]="offsetX"
			[canCreate]="true"
			[width]="370"
			(update)="update.emit($event)">
			<div class="flex">
				<icon-app name="product" backgroundColor="primary"></icon-app>
				<span>{{ value || 'Set product' }}</span>
			</div>
		</selector-app>
	</div>

	<!-- Supplier -->
	<div *ngSwitchCase="erm.SUPPLIER" class="flexStart icon-container pointer">
		<selector-app
			type="supplier"
			[offsetY]="offsetY"
			[offsetX]="offsetX"
			[canCreate]="true"
			[width]="370"
			(update)="update.emit($event)">
			<div class="flex">
				<icon-app name="supplier" backgroundColor="supplier"></icon-app>
				<span> {{ value || 'Set supplier' }}</span>
			</div>
		</selector-app>
	</div>

	<!-- Supplier Type -->
	<div *ngSwitchCase="erm.SUPPLIER_TYPE" class="flexStart icon-container pointer">
		<selector-app
			type="supplierType"
			[offsetY]="offsetY"
			[offsetX]="offsetX"
			[width]="370"
			(update)="update.emit($event)">
			<div class="flex">
				<icon-app name="supplier" backgroundColor="supplier"></icon-app>
				<span> {{ value || 'Set supplier type'}}</span>
			</div>
		</selector-app>
	</div>

	<!-- Location -->
	<div *ngSwitchCase="erm.LOCATION" class="flexStart icon-container pointer">
		<selector-app
			type="country"
			[offsetY]="offsetY"
			[offsetX]="offsetX"
			[width]="370"
			(update)="update.emit($event)">
			<div class="flex">
				<icon-app name="location" backgroundColor="secondary-dark"></icon-app>
				<span> {{ value || 'Set location'}}</span>
			</div>
		</selector-app>
	</div>

	<!-- Category -->
	<div *ngSwitchCase="erm.CATEGORY" class="flexStart icon-container pointer">
		<selector-app
			type="category"
			[value]="value"
			[canCreate]="true"
			[multiple]="multiple"
			[offsetY]="offsetY"
			[offsetX]="offsetX"
			[width]="370"
			(update)="update.emit($event)">
			<div class="flex category-label">
				<icon-app name="category" backgroundColor="accent"></icon-app>
				<div class="flex flexWrap">
					<div *ngIf="value?.length; else noArray" class="ellipsis category-info dot-separator">
						<span *ngFor="let category of value"> {{ category?.name }}  </span>
					</div>
					<ng-template #noArray>
							<span *ngIf="!value?.name"> {{ multiple ? 'Set categories' : 'Set Category'}} </span>
							<span *ngIf="value?.name"> {{ value?.name }} </span>
					</ng-template>
				</div>
			</div>
		</selector-app>
	</div>
</ng-container>

<ng-content></ng-content>
