:host {
	display: block;
	text-align: left;
}

selector-app {
	width: 100%;
}

.icon-container {
	margin-bottom: var(--spacing-xs);
	position: relative;

	icon-app {
		margin-right: var(--spacing-s);
		font-size: 9px;
	}

	.category-label {
		display: flex;
		align-items: flex-start;
		icon-app {
			margin-top: 2px;
		}
	}

	.category-info {
		display: flex;
		flex-wrap: wrap;
	}
}
