:host {
	display: block;
	text-align: left;
}

selector-app {
	cursor: pointer;
}

.icon-container {
	margin-bottom: var(--spacing-xs);
	position: relative;

	&:hover .icon-preview {
			visibility: visible;
	}

	icon-app {
		margin-right: var(--spacing-s);
		font-size: 9px;
	}

	.icon-preview {
		visibility: hidden;
		font-size: 10px !important;
		margin-right: 0px;
		margin-left: var(--spacing-s);

		&:hover {
			color: var(--color-primary);
		}
	}

	.category-label {
		display: flex;
		align-items: flex-start;
		icon-app {
			margin-top: 2px;
		}
	}

	.category-info {
		display: flex;
		flex-wrap: wrap;
	}
}