:host {
	display: block;
	text-align: left;
}

selector-app {
	cursor: pointer;
	max-width: 100%;
}

.icon-container {
	margin-bottom: var(--spacing-xs);
	position: relative;

	&:hover .icon-preview {
			visibility: visible;
	}

	logo-app {
		margin-right: var(--spacing-s);
	}

	.icon-preview {
		visibility: hidden;
		font-size: 10px !important;
		margin-right: 0px;
		margin-left: var(--spacing-s);

		&:hover {
			color: var(--legacy-color-primary);
		}
	}

	.category-info {
		display: flex;
		flex-wrap: wrap;
	}
}