<ng-container [ngSwitch]="badge">

	<!-- Product -->
	<div *ngSwitchCase="erm.PRODUCT" class="flexStart icon-container pointer">
		<icon-app (click)="open()" name="product" backgroundColor="primary"></icon-app>
		<span (click)="open()">{{ value }}</span>
		<selector-entity-app
			#select
			[ngStyle]="{visibility: visible ? 'visible' : 'hidden'}"
			type="product"
			[displayedValue]="value"
			(change)="update.emit($event); close();"
			(closed)="close()">
		</selector-entity-app>
	</div>

	<!-- Supplier -->
	<div *ngSwitchCase="erm.SUPPLIER" class="flexStart icon-container pointer">
		<icon-app (click)="open()" name="supplier"></icon-app>
		<span (click)="open()"> {{ value }}</span>
		<selector-entity-app
			#select
			[ngStyle]="{visibility: visible ? 'visible' : 'hidden'}"
			type="supplier"
			[displayedValue]="value"
			(change)="update.emit($event); close();"
			(closed)="close()">
		</selector-entity-app>
	</div>

	<!-- Supplier Type -->
	<div *ngSwitchCase="erm.SUPPLIER_TYPE" class="flexStart icon-container pointer">
		<icon-app (click)="open()" name="supplier"></icon-app>
		<span (click)="open()"> {{ value }}</span>
		<selector-entity-app
			#select
			[ngStyle]="{visibility: visible ? 'visible' : 'hidden'}"
			type="supplierType"
			[displayedValue]="value"
			(change)="update.emit($event); close();"
			(closed)="close()">
		</selector-entity-app>
	</div>

	<!-- Location -->
	<div *ngSwitchCase="erm.LOCATION" class="flexStart icon-container">
		<icon-app class="noPointer" name="location" backgroundColor="secondary-dark"></icon-app>
		<span> {{ value }}</span>
	</div>

	<!-- Category -->
	<div *ngSwitchCase="erm.CATEGORY" class="flexStart icon-container pointer">
		<icon-app (click)="open()" name="category" backgroundColor="accent"></icon-app>
		<div (click)="open()" class="flex category-info flexWrap">
			<span *ngIf="!value"> - </span>
			<span *ngFor="let category of value"> {{ category.name }}  </span>
		</div>
		<selector-entity-app
			#select
			[ngStyle]="{visibility: visible ? 'visible' : 'hidden'}"
			type="category"
			[(ngModel)]="value"
			[multiple]="multiple"
			(change)="update.emit($event); visible = multiple;"
			(closed)="close()">
		</selector-entity-app>
	</div>
</ng-container>

<ng-content></ng-content>
