<table-app
	[rows]="rows"
	[pending]="pending"
	[selected]="selection"
	[contextualMenu]="contextualMenuTemplate"
	[count]="count"
	[currentPage]="currentPage"
	placeholder="{{'placeholder.no-supplier' | translate}}"
	(goToPage)="goToPage.emit($event)"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(showItemsPerPage)="showItemsPerPage.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit($event)"
	(sort)="sort.emit($event)"
	(bottomReached)="bottomReached.emit()">

	<!-- contextual menu -->
	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-app
			class="pointer flexCenter"
			(click)="archive.emit(row)"
			i18n="button@@delete">
			archive
		</context-menu-item-app>
		<context-menu-item-app
			class="pointer flexCenter"
			(click)="delete.emit(row)"
			translate="button.delete">
		</context-menu-item-app>
	</ng-template>

	<!-- title row -->
	<ng-template
		[columnApp]="erm.SAMPLE.singular | const: 'erm'"
		sortBy="name"
		let-row="row"
		width="280">
		<div class="supplier mainCellWrapper flexBetween">
			<a class="capitalize ellipsis txt-btn" [routerLink]="['/supplier', row.id]">
				<logo-app [logo]="row.logoImage" type="supplier" size="m"></logo-app>
				<span class="ellipsis">{{ row.name }}</span>
			</a>
			<button class="preview small secondary-dark" (click)="previewClick.emit(row)" translate="button.preview"></button>
		</div>
	</ng-template>

	<!-- product row -->
	<ng-template
		class="capitalize"
		[columnApp]="erm.PRODUCT.singular | const: 'erm'"
		let-row="row"
		sortBy="product.name"
		[grows]="false"
		width="140">
		<span>
			{{ row?.product?.name | const: 'erm'  }}
		</span>
	</ng-template>

	<!-- supplier row -->
	<ng-template
		[columnApp]="erm.SUPPLIER.singular | const: 'erm'"
		sortBy="supplier.name"
		let-row="row"
		width="220">
		<div class="ellipsis">
		{{ row?.supplier?.name }}
		</div>
	</ng-template>

	<!-- type row -->
	<ng-template
		[columnApp]="'type' | const: 'erm'"
		let-row="row"
		width="220">
		<div class="ellipsis">
		{{ row?.__typename }}
		</div>
	</ng-template>

	<!-- created by -->
	<ng-template
		class="capitalize"
		[columnApp]="'created by' | const: 'erm'"
		[sortable]="false"
		let-row="row"
		width="250">
		<span class="created-by">{{ row?.createdBy | formatUserName }}</span>
		<div class="created-by-date">
			{{ row?.creationDate | date: 'dd MMMM y' }}
		</div>
	</ng-template>

	<!-- activities -->
	<ng-template
		class="capitalize"
		[columnApp]="'activity' | const: 'erm'"
		[sortable]="false"
		let-row="row"
		width="250">
	</ng-template>

	<!-- status -->
	<ng-template
		class="capitalize"
		[columnApp]="'status' | const: 'erm'"
		[sortable]="false"
		let-row="row">
		<status-selector-app [entity]="row" [typeEntity]="erm.SUPPLIER" selectSize="s"></status-selector-app>
	</ng-template>

</table-app>
