<h1 class="title">User Profile </h1>
<label-app>Profile Picture</label-app>

<div class="photoContainer flex">
	<user-picture-app class="z-3 z-h pointer" [size]="48" [url]="user.logoImage" (click)="openFileBrowser()"></user-picture-app>
	<p class="color-primary pointer" (click)="openFileBrowser()">Select Image</p>
</div>

<input #inpFile type="file" accept="image/*" (fileSelect)="addFile.emit($event)" class="hidden"/>

<form [formGroup]="form">
	<form-field-app [paddingBottom]="true">
		<label-app>First Name</label-app>
		<input class="borderless" inputApp type="text" formControlName="firstName" autocomplete='given-name'/>
	</form-field-app>
	<form-field-app [paddingBottom]="true">
		<label-app>Last Name</label-app>
		<input class="borderless" inputApp type="text"  formControlName="lastName"/>
	</form-field-app>
	<form-field-app [paddingBottom]="true">
		<label-app>Email</label-app>
		<input class="borderless" inputApp type="text" formControlName="email"/>
	</form-field-app>
	<form-field-app [paddingBottom]="true">
		<label-app>Phone Number</label-app>
		<input class="borderless" restrictInput="tel" inputApp type="text"  formControlName="phoneNumber"/>
	</form-field-app>
</form>

<button class="auto" (click)="changePswd.emit()">Change Password</button>