
.title {
	color: var(--color-txt-strong);
	font-weight: 600;
	margin-bottom: var(--spacing-l);
	font-size: var(--font-size-l);
}

button.auto {
	margin-top: var(--spacing-l);
}

.photoContainer {
	margin-top: 8px;
	width: 180px;
	height: 48px;
	p {
		margin: 14px;
		font-weight: 600;
	}
}

user-picture-app {
	margin: 0;
	z-index: var(--z-button);
	border-radius: 20px;
	font-size: var(--font-size-xl);
}

label-app {
	font-weight: 600;
}
