
<h2>User Profile </h2>
<label-app>Profile Picture</label-app>

<div class="photoContainer flex">
	<user-picture-app class="z-3 z-h pointer" [user]="user" [size]="48" [image]="user.avatar" (click)="openFileBrowser()"></user-picture-app>
	<p class="color-primary pointer" (click)="openFileBrowser()" i18n="@@select-image">Select Image</p>
</div>

<input #inpFile type="file" accept="image/*" (fileSelect)="addFile.emit($event)" class="hidden"/>

<form [formGroup]="form">
	<form-field-app class="borderless">
		<label-app class="capitalize" i18n="@@first-name">First name</label-app>
		<input inputApp type="text" formControlName="firstName" autocomplete='given-name'/>
	</form-field-app>
	<form-field-app class="borderless">
		<label-app class="capitalize" i18n="@@last-name">Last name</label-app>
		<input inputApp type="text"  formControlName="lastName"/>
	</form-field-app>
	<form-field-app class="borderless">
		<label-app class="capitalize" i18n="@@email">email</label-app>
		<input inputApp type="text" formControlName="email"/>
	</form-field-app>
	<form-field-app class="borderless">
		<label-app class="capitalize" i18n="@@phone-number">Phone number</label-app>
		<input restrictInput="tel" inputApp type="text"  formControlName="phoneNumber"/>
	</form-field-app>
</form>

<button class="auto" (click)="changePswd.emit()" i18n="@@change-pwd">Change Password</button>
