:host {
	display: flex;
	align-items: center;
}

.icon-ctnr {
	border-radius: 3px;
	border: 1px solid transparent;
	flex-shrink: 0;
	
	&.readonly {
		background: var(--color-secondary-light);
		cursor: default;
	}
	
	&.unchecked {
		border: 1px solid var(--color-secondary);
	}

	&.checked {
		background: var(--color-primary);
	}

	// &.cdk-focused {
	// 	border-color: var(--color-primary);
	// }
}

label {
	width: 100%;
	margin-bottom: 0;
	color: var(--color-text-primary);
	font-weight: normal;
}

.check-icon {
	color: white;
	font-size: 12px;
}
