<!-- we need this to wrap both items, we cannot use the container above cause of the styling that has -->
	<div
		class="icon-ctnr flexCenter"
		#ctnr
		[ngClass]="getClassList()"
		[ngStyle]="iconSize()"
		(click)="onClick($event)"
		tabFocusAction
		(keyEnter)="ctnr.click()">
			<icon-app *ngIf="value;" class="check-icon" name="check"></icon-app>
	</div>

	<label class="label"
		(click)="onClick()"
		[ngClass]="{ 'pointer': !disabled && !readonly }"
		#label
		[attr.for]="id"
		class="flexVAlign">
		<ng-content></ng-content>
	</label>
