	<div class="icon pointer {{ hasContent ? 'mg-right' : '' }}">
		<icon-app
			class="jello-horizontal color-primary"
			fontSet="fa"
			*ngIf="checked; else unchecked"
			name="check-square" (click)="onClick()"></icon-app>
		<ng-template #unchecked>
			<div class="unChecked" (click)="onClick()"></div>
		</ng-template>
	</div>

	<input #input
		type="checkbox"
		class="hidden"
		[hidden]="true"
		[id]="id"
		[required]="required"
		[checked]="checked"
		[attr.value]="value"
		[disabled]="disabled">
	<label #label [attr.for]="id" (click)="onClick()">
		<ng-content></ng-content>
	</label>
