	<div
		class="icon flexCenter"
		[ngClass]="{ 'mg-right': hasContent, 'pointer': !disabled }"
		[ngStyle]="iconSize()"
		(click)="onClick($event)">
		<!-- we need this to wrap both items, we cannot use the container above cause of the styling that has -->
		<div tabFocusAction autoFocus [canFocus]="autoFocus" (keyEnter)="focusClick()">
			<icon-app *ngIf="checked; else unchecked" class="check-icon" name="check"></icon-app>
			<ng-template #unchecked>
				<div class="unChecked" [ngStyle]="iconSize()"></div>
			</ng-template>
		</div>
	</div>

	<input #input
		type="checkbox"
		class="hidden"
		[hidden]="true"
		[id]="id"
		[required]="required"
		[checked]="checked"
		[attr.value]="value"
		[disabled]="disabled">
	<label class="label" [ngClass]="{ 'pointer': !disabled }" #label [attr.for]="id" (click)="onClick()" class="flexVAlign">
		<ng-content></ng-content>
	</label>
