:host {
	display: flex;
	align-items: center;
	&.longText .label {
		width: 100%;
		color:var(--legacy-color-text-primary);
		font-weight: normal;
	}
}

.icon {
	border-radius: 3px;
	flex-shrink: 0;
}

label {
	width: 100%;
	margin-bottom: 0;
}

.check-icon {
	color: white;
	font-size: 12px;
}


.unChecked {
	border: 1px solid var(--legacy-color-secondary);
	background: var(--legacy-color-secondary-light);
	border-radius: 2px;
}

.mg-right {
	margin-right: var(--spacing-xs);
}
