:host{
	height: 100vh;
}

.spinner {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

notification-container-app {
	position:fixed;
	z-index: var(--z-notification);
	bottom: 0;
	right: 0;
}
