<dialog-app (fileDrop)="onFilesAdded($event)">

	<dialog-header-app>Contact</dialog-header-app>

	<form [formGroup]="form" (ngSubmit)="createContact()">
		<form-field-app>
			<label-app>Name</label-app>
			<input inputApp
				(blur)="updateContact()"
				formControlName="name"
				type="text"
				autocomplete="new-name"
				placeholder="Contact name"/>
		</form-field-app>

		<form-field-app>
			<label-app>Function</label-app>
			<input inputApp
				(blur)="updateContact()"
				formControlName="jobTitle"
				type="text"
				autocomplete="new-job"
				placeholder="Contact Function"/>
		</form-field-app>

		<form-field-app>
			<label-app>Email</label-app>
			<input inputApp
				(blur)="updateContact()"
				formControlName="email"
				type="email"
				autocomplete="new-email"
				placeholder="Contact email address"/>
		</form-field-app>

		<form-field-app>
			<label-app>Phone number</label-app>
			<input inputApp
				(blur)="updateContact()"
				formControlName="phoneNumber"
				restrictInput="tel"
				type="tel"
				autocomplete="new-tel"
				placeholder="Contact phone number"/>
		</form-field-app>

		<label>Business card</label>
		<carousel-app [size]="340" [images]="images"></carousel-app>

	</form>
		<!-- no button to save when it's an existing contact -->
		<dialog-footer-app *ngIf="isNewContact">
			<input type="submit" [disabled]="!form.valid" value="Save" (click)="createContact()"/>
		</dialog-footer-app>
</dialog-app>



