<dialog-app>

	<dialog-header-app class="capitalize" i18n="@@contact">contact</dialog-header-app>

	<ng-container *ngIf="contactCreated$ | async; else spinner">

		<form [formGroup]="form" (ngSubmit)="createContact()">

			<form-field-app>
				<label-app class="capitalize" i18n="@@name">name</label-app>
				<input inputApp
					(blur)="updateContact()"
					formControlName="name"
					type="text"
					autocomplete="new-name"
					placeholder="Contact name"
					i18n-placeholder="@@contact-name"/>
			</form-field-app>

			<!-- if we ever need the supplier on the dialog -->
			<!-- <form-field-app>
				<label-app>Supplier</label-app>
				<selector-app
					type="supplier"
					(update)="updateSupplier($event)">
					<selector-placeholder-app
						class="bg-secondary-light"
						[name]="form.get('supplier').value.name || supplier?.name"
						placeholder="Select a supplier">
					</selector-placeholder-app>
				</selector-app>
				<input inputApp [hidden]="true" formControlName="supplier" type="text"/>
			</form-field-app> -->

			<form-field-app>
				<label-app class="capitalize" i18n="@@function">function</label-app>
				<input inputApp
					(blur)="updateContact()"
					formControlName="jobTitle"
					type="text"
					autocomplete="new-job"
					placeholder="Contact Function"
					i18n-placeholder="@@contact-function"/>
			</form-field-app>

			<form-field-app>
				<label-app class="capitalize" i18n="@@email">email</label-app>
				<input inputApp
					(blur)="updateContact()"
					formControlName="email"
					type="email"
					autocomplete="new-email"
					placeholder="Contact email address"
					i18n-placeholder="@@contact-email-address"/>
			</form-field-app>

			<form-field-app>
				<label-app i18n="@@phone-number">Phone number</label-app>
				<input inputApp
					(blur)="updateContact()"
					formControlName="phoneNumber"
					restrictInput="tel"
					type="tel"
					autocomplete="new-tel"
					placeholder="Contact phone number"
					i18n="@@contact-phone-number"/>
			</form-field-app>

			<label i18n="@@business-card">Business card</label>
			<carousel-app *ngIf="contact$ | async as contact"
				[imageProperty]="'businessCardImage'"
				[isImagePropertyArray]="false"
				[entity]="contact"
				[size]="340"
				[images]="[contact.businessCardImage]">
			</carousel-app>

		</form>

	</ng-container>

	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>
</dialog-app>



