
div {
	border-radius: var(--border-radius);
	background: var(--color-bg-fourth);
	border: 1px solid var(--color-primary-light);
	color: var(--color-primary-dark);
	padding: 2px var(--spacing-s);
	margin: 2px 0;
}