
div {
	border-radius: var(--border-radius);
	background: var(--color-bg-fourth);
	border: 1px solid var(--color-secondary);
	color: var(--color-txt-primary);
	padding: 2px var(--spacing-s);
	margin: 2px 0;
}