:host {
	display: block;
}

.content {
	justify-content: center;
	.left {
		width: 772px;
	}
	.right {
		width: 420px;
	}
}

add-comment-app {
	margin-bottom: var(--spacing-l);
}

comment-list-app {
	margin-top: var(--spacing-l);
}