h2 {
	margin-bottom: var(--spacing-xl);
}

supplier-contact-app {
	border-bottom: 1px solid var(--color-primary-light);
}

button {
	margin-top: var(--spacing-default);
}

.footer {
	text-align: right;
}