:host{
	font-size: 0.89rem;
}

.top{
	display: flex;
	justify-content: space-between;
}

.keyPair{
	display: flex;
	margin: var(--spacing-big) 0;
}

.keyPair .key{
	width: 150px;
	color: grey;
}

.keyPair .value{
	font-weight: bold;
}

.subfield{
	margin-bottom: var(--spacing-default);
}

