.download {
	color: var(--legacy-color-primary);

	&.disabled {
		cursor: default;
		color: var(--legacy-color-txt-secondary);
	}
}

.tool-tip {
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}