
<card-app (fileDrop)="add($event)">
	<card-header-app>
		<rating-heart-app
			*ngIf="hasHeart"
			class="flexCenter"
			[favorite]="favorite"
			(favorited)="favorited.emit()"
			(unfavorited)="unfavorited.emit()">
		</rating-heart-app>

		<h3 *ngIf="title" class="ms"> {{ title }}</h3>

		<!-- images -->
		<ng-container *ngIf="images?.length > 0; else noImg">
			<!-- carousel -->
			<carousel-app
				*ngIf="hasInlineCarousel"
				[images]="images"
				[selectedIndex]="selectedIndex"
				(imgClick)="openModal($event)"
				(deleted)="onDelete($event)">
			</carousel-app>
			<!-- previews under the carousel -->
			<image-previewer-app
				*ngIf="hasPreview"
				(imageClick)="setSelectedIndex($event)"
				(plusClick)="openFileBrowser()"
				[images]="images">
			</image-previewer-app>

		</ng-container>
		<!-- no image -->
		<ng-template #noImg>
			<div class="flexColumn flexCenter empty">
				<img [src]="defaultImg"/>
				<span>No picture yet</span>
			</div>
		</ng-template>

		<!-- modal carousel that can be seen when clicking on the normal carousel -->
		<modal-carousel-app
			*ngIf="hasModalCarousel && modalOpen"
			[selectedIndex]=[selectedIndex]
			[images]="images"
			(close)="closeModal()"></modal-carousel-app>

		<input #inpFile multiple="true" type="file" accept="image/*" (fileSelect)="add($event)"/>
	</card-header-app>


	<card-footer-app *ngIf="hasFooter">
		<button (click)="openFileBrowser()">Add picture</button>
	</card-footer-app>
</card-app>
