<entity-page-app
	[filterGroupName]="filterGroupName"
	[filters]="filters$ | async"
	[pending]="pending$ | async"
	[repr]="repr"
  (filterClick)="openFilterPanel()"
  [view]="view"
	(viewChange)="onViewChange($event)">
		<!-- views: either one will be displayed when the correct view is selected -->
    <product-list-view-app
      *ngIf="view === 'list'"
      [class.hidden] = "view !== 'list'"
			class="list-view"
			[selection]="selection"
			[products]="products$ | async"
			(productSelect)="onItemSelected($event)"
			(productUnselect)="onItemUnselected($event)"
			(productOpen)="onItemOpened($event)"
			(productFavorited)="onItemFavorited($event)"
			(productUnfavorited)="onItemUnfavorited($event)"></product-list-view-app>
		<product-card-view-app
      class="card-view"
      *ngIf="view === 'card'"
      [class.hidden] = "view !== 'card'"
			[products]="products$ | async"
			[selection]="selection"
			(productSelect)="onItemSelected($event)"
			(productUnselect)="onItemUnselected($event)"
			(productVote)="onItemVoted($event)"
			(productFavorited)="onItemFavorited($event)"
			(productUnfavorited)="onItemUnfavorited($event)"
			(productOpen)="onItemOpened($event)"></product-card-view-app>

</entity-page-app>

<selection-bar-app
	[repr]="repr"
	*ngIf="selection.size > 0"
	[selection]="selection"
	(close)="unselectAll()">
	<selection-actions></selection-actions>
</selection-bar-app>

<product-side-preview-app
	(clickOutside)="closeDialog()"
	*ngIf="previewDialogOpen">
</product-side-preview-app>

<ng-container *ngIf="filterPanelOpen$ | async">
	<filter-panel-app
		[filterGroupName]="filterGroupName"
		[filterClasses]="filterClasses"
		(clickOutside)="closeFilterPanel()">
	</filter-panel-app>
</ng-container>


