:host {
	display: flex;
	height: 100%;
}

products-list-view-app {
	padding: 24px;
}

sub-panel-app {
	overflow: hidden;
}

product-sorting-menu-app {
	margin-right: var(--spacing-ms);
}

checkbox-app {
	width: 130px;
}