<dialog-app [name]="dialogName" (closed)="close()">
	<header> Team Feedback </header>

	<div class="contentTitle">Team members</div>

	<main>
		<ng-container *ngIf="teamMembers$ | async as teamMembers">
			<div *ngFor="let user of teamMembers" class="contentRowBg" [class.selected]="selectedEntities[entity.id]">
				<div class="contentRow flexBetween">
					<checkbox-app
						(check)="selectEntity(user.id, user)"
						(uncheck)="unselectEntity(user.id, user)"
						[checked]="selectedEntities[user.id]">
						<span class="name">{{ user.firstName }} {{ user.lastName }}</span>
					</checkbox-app>
					<div class="productNumber" *ngIf="dialogType === 'add'">{{ productsCount[user.id] || '-'}}</div>
				</div>
			</div>
		</ng-container>
	</main>

	<footer>
		<button class="small">
			{{buttonLabel}}
		</button>
	</footer>

</dialog-app>
