<dialog-app [name]="dialogName">
	<header> Team Feedback </header>

	<div class="subtitle">Team members</div>

	<main>
		<list-app *ngIf="teamMembers$ | async as teamMembers">
			<list-item-app *ngFor="let user of teamMembers" [selected]="selectedMembers[user.id]">
					<checkbox-app
						(check)="select(user.id, user)"
						(uncheck)="unselect(user.id, user)"
						[checked]="selectedMembers[user.id]">
						<span class="name">{{ user.firstName }} {{ user.lastName }}</span>
					</checkbox-app>
				</list-item-app>
		</list-app>
	</main>

  <footer class="fullWidth flexCenter flexBetween">
		<span class="txt-secondary">{{ products.length }} products selected</span>
		<button class="small" (click)="submit()">
			Request Feedback
		</button>
	</footer>

</dialog-app>
