<div class="action-hover-container-0">
	<div class="flexBetween mg-bottom-ms">
		<h2>Product Details</h2>
		<button class="action-hover-item-0 vibrant icon-with-text mg-left-ms flexVAlign" (click)="dlgCommonSrv.openSupplierRequest([product])">
			<icon-app name="envelope"></icon-app>
			Contact Supplier
		</button>
	</div>

	<ng-container *ngIf="descriptor.sections as sections">
		<ng-container *ngFor="let section of sections">
			<accordion-app>
				<accordion-title-app>{{section?.name}}</accordion-title-app>
				<accordion-content-app *ngIf="product$ | async as product; else loader">
					<dynamic-form2-app
						#form
						[style]="'editable'"
						[typename]="'Product'"
						[entityId]="product.id"
						[section]="section"
						[properties]="properties"
						[columnAmount]="2"
						(update)="update($event)">
					</dynamic-form2-app>
				</accordion-content-app>
			</accordion-app>
		</ng-container>
	</ng-container>
</div>

<ng-template #loader>
	<dots-app></dots-app>
</ng-template>
