:host {
	position: absolute;
	border-radius: 50%;
	background-color: var(--color-warn);
	font-weight: 600;
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	&.notification {
		// position
		&.above-right {
			top: 0;
			right: 0;
		}
		&.above-left {
			top: 0;
			left: 0;
		}
		&.below-right {
			bottom: 0;
			right: 0;
		}
		&.below-left {
			bottom: 0;
			left: 0;
		}
		&.right {
			right: 0;
		}
		&.left {
			left: 0;
		}
		// size
		&.s {
			width: 10px;
			height: 10px;
			font-size: var(--font-size-xs);
			padding: 2px;
		}
		&.m {
			width: 13px;
			height: 13px;
			font-size: var(--font-size-s);
			padding: var(--spacing-xs);
		}
		&.l {
			width: 16px;
			height: 16px;
			font-size: var(--font-size-m);
			padding: var(--spacing-s);
		}
		&.overlap {
			position: absolute;
		}
		&.hidden {
			display: none;
		}
	}
}