<card-app padding="ms">

	<!-- user -->
	<activity-user-app
		[user]="products[0]?.createdBy"
		[time]="time"
		action="added {{ products?.length }} products"></activity-user-app>

	<!-- previews -->
	<multiple-product-carousel-app
		[products]="products"
		(onViewProduct)="viewProduct($event)">
	</multiple-product-carousel-app>

	<!-- supplier -->

	<div class="flex supplier" *ngIf="products[0]?.supplier as supplier">
		<img-app class="supplierImg" [image]="supplier?.logoImage" type="supplier"></img-app>

		<div class="flexColumn">
			<span class="supplierName">{{ supplier.name }}</span>
			<span class="supplierType">
				{{ supplier.supplierType || 'Supplier' }}
				<ng-container *ngIf="supplier.country">
					{{ supplier.country | const: 'country' }}
				</ng-container>
			</span>
		</div>
	</div>


	<card-footer-app>
		<button>View Products</button>
	</card-footer-app>

</card-app>