:host {
	width: 712px;
	display: block;
}

activity-user-app {
	padding-bottom: var(--spacing-ms);
}
// previews

.previewCtnr {
	overflow-x: auto;
	height: 174px;
	.preview {
		margin-right: var(--spacing-s);
		width: 140px;
		img-app {
			width: 140px;
			height: 140px;
			border-radius: var(--border-radius-s);
			margin-bottom: var(--spacing-xs);
		}
		.productName {
			font-size: var(--font-size-s);
			color: var(--color-txt-strong);
			font-weight: 600;
		}

		.priceMoq {
			color: var(--color-txt-secondary);
			font-size: var(--font-size-s);
		}

		.fav {
			font-size: 10px;
			color: var(--color-warn);
		}
	}
}

// supplier
.supplier {
	margin-top: var(--spacing-ms);
}

.supplierImg {
	height: 32px;
	width: 32px;
	margin-right: var(--spacing-ms);
}

.supplierName {
	line-height: 1;
	font-weight: 600;
	color: var(--color-txt-strong);
}

.supplierType {
	font-size: var(--font-size-s);
	color: var(--color-txt-secondary);
}
