
<div class="g">
	<ul>
		<li><a [routerLink]="['inputs-vanilla']">Vanilla inputs</a></li>
		<li><a [routerLink]="['inputs-selector']">Selector inputs</a></li>
		<li><a [routerLink]="['inputs-file-image']">File & image inputs</a></li>
		<li><a [routerLink]="['carousel']">Carousel</a></li>
		<li><a [routerLink]="['comments']">Comments</a></li>
		<li><a [routerLink]="['feedback']">Feedback</a></li>
		<li><a [routerLink]="['kanban']">kanban</a></li>
		<li><a [routerLink]="['loaders']">loaders</a></li>
		<li><a [routerLink]="['tabs']">tabs</a></li>
		<li><a [routerLink]="['product']">product</a></li>
	</ul>
	<hr/>
	<hr/>
		<router-outlet></router-outlet>
</div>

