:host {
	display: block;
	width: 100%;
	box-sizing: border-box;
}


.add-new-comment {
	border-bottom: 1px solid var(--color-divider);

	.title {
		font-size: var(--font-size-l);
		font-weight: 600;
		color: var(--color-txt-strong);

	}

	.text-input-new-comment {
		margin-top: var(--spacing-ms);
		textarea {
			resize: none;
		 }
	}

	.button-container {
		margin: var(--spacing-ms) 0;
		text-align: right;
	}

}

comment-list-app {
	margin-top: var(--spacing-l);
}
