:host {
	display: block;
	width: 100%;
}

$circle-size: 32px;

.container {
	padding-left: $circle-size;

	.left {
		padding-top: var(--spacing-xl);
		padding-bottom: var(--spacing-xl);

		.circle {
			width: $circle-size;
			height: $circle-size;
			background: var(--color-secondary);
			border-radius: 50%;
		}

		.border-middle {
			border-right: 2px dashed var(--color-secondary);
			margin-right: ($circle-size/2)-1;
			height: 100%;
		}
	}

	.right {
		width: 100%;
	}
}
