<card-app>
	<h3 class="ms" *ngIf="(team$ | async)?.name as name; else unnamed">{{ name }}</h3>
	<ng-template #unnamed>
		<h3 class="ms" translate="header.unnamed-team"></h3>
	</ng-template>
	<h4 class="ms color-txt-strong">{{ (team$ | async)?.ownerUser?.firstName }} {{ (team$ | async)?.ownerUser?.lastName }}</h4>
  <divider-app></divider-app>

  <ng-container *ngIf="(team$ | async) && (members$ | async)?.length > 0; else empty">
		<div *ngFor="let member of members$ | async; trackBy: trackByFn" class="flex member">
			<user-picture-app [user]="member.user" [border]="true"></user-picture-app>
			<div class="flexColumn ellipsis">
				<div class="name flex ellipsis">
					{{ member?.user?.firstName }} {{ member?.user?.lastName}}
					<div *ngIf="(team$ | async)?.ownerUser && member.user?.id === (team$ | async)?.ownerUser?.id"
						class="team-leader" translate="team-leader">
					</div>
				</div>
				<div class="ellipsis">{{ member.user.email }}</div>
			</div>
		</div>

		<card-footer-app>
			<button (click)="inviteTeam.emit()" translate="button.invite-team-members"></button>
		</card-footer-app>
	</ng-container>


	<ng-template #empty>
		<span class="no-team" translate="no-team-members"></span>

		<card-footer-app>
			<button (click)="inviteTeam.emit()" translate="button.invite-team-members"></button>
		</card-footer-app>
	</ng-template>

</card-app>
