user-picture-app {
	margin-right: var(--spacing-ms);
}

.name {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 600;
	color: var(--color-txt-strong);
}

.member {
	margin: var(--spacing-l) 0;
}

h2 {
	margin-bottom: 0;
}

h4 {
	margin-bottom: var(--spacing-ms);
	font-size: var(--font-size-m);
}

