user-picture-app {
	margin-right: var(--spacing-ms);
}

.name {
	font-family: var(--font-normal);
	font-weight: 600;
	color: var(--color-txt-strong);
}

.member {
	margin: var(--spacing-l) 0px;
}

h4 {
	font-weight: 500;
}

.team-leader {
	padding: 0px var(--spacing-xs);
	margin-left: var(--spacing-s);
	background: var(--color-success);
	color: white;
	border-radius: var(--border-radius-s);
}

card-footer-app {
	button {
		width: 100%;
		font-weight: 600;
		line-height: 1.43;
	}
}

.no-team {
	font-size: var( --font-size-xxxl);
	color: var(--color-txt-strong);
	font-weight: 600;
	display: flex;
	justify-content: center;
	margin: var(--spacing-xl) 0px;
}
