:host {
	display: inline-block;
	cursor: default;
	user-select: none;
}

div.selector {
	margin-left: 4px;
}

badge-app.no-status {
	text-transform: capitalize;
	color: var(--color-txt-strong);
}

icon-app[name="circle"] {
	padding: var(--spacing-xs);
	padding-top: 5px;
	padding-left: 0;
	font-size: 6px;
}