:host {
	display: inline-block;
	cursor: default;

	&.pointer {
		cursor: pointer;
	}
}

div.selector {
	margin-left: var(--spacing-xs);
}

badge-app.no-status {
	text-transform: capitalize;
	color: var(--color-txt-strong);
}

icon-app[name="circle"] {
	cursor: default;
	padding: var(--spacing-xs);
	padding-top: 5px;
	padding-left: 0;
	font-size: 6px;
}