.my-drop-zone { border: dotted 3px lightgray; height: 300px;}
:host {
	display: block;
	width: 180px;
}
.imgPreview {
	width: 60px;
	height: 45px;
	display: inline-block;	
	img {
		width: 100%;
	}
}

.pending{
	opacity: 0.3;
}