:host {
	position: relative;
}
.ctnr {
	padding: var(--spacing-xs) var(--spacing-s);
	border-radius: 15px;
	font-size: 10px;
	font-weight: 600;
	line-height: 1.25;
	letter-spacing: 0.44px;
	background: var(--color-primary);
	color: var(--color-white);
	text-transform: uppercase;
}
.selectorIcon {
	border-left: 1px solid rgba(255, 255, 255, 0.7);
	padding-left: var(--spacing-xs);
	margin-left: var(--spacing-s);
}
.selector {
	position: absolute;
	background: white;
}
.choice{
	font-size: var(--font-size-m);
	padding: var(--spacing-s) var(--spacing-m);
	display: flex;
	align-items: center;
	white-space: nowrap;
	&:hover {
		background: var(--color-primary-light);
	}
	.cercle {
		width: 8px;
		height: 8px;
		margin-top: 2px;
		margin-right: var(--spacing-s);
	}
}

.name {
	white-space: nowrap;
}
