<preview-panel-app cdk-scrollable *ngIf="sample$ | async">

	<!-- Banner -->
	<preview-banner-app>
		<!-- Top bar -->
		<preview-top-bar-app
			[canOpen]="false"
			(closed)="close.emit()">
			<logo-app
				class="mg-right-s"
				size="l"
				[logo]="sample?.images[0] || null"
				[type]="erm.SAMPLE.singular">
			</logo-app>
			<div class="flexColumn ellipsis">
				<span class="color-txt-primary semi-bold fs-l ellipsis">{{ sample?.name }}</span>
				<div class="flexVAlign dot-separator-txt-secondary">
					<div class="flexVAlign">
						<logo-app
							class="mg-right-xs"
							size="xs"
							[type]="erm.SAMPLE.singular">
						</logo-app>
						<span class="color-txt-secondary">{{ sample?.reference }}</span>
					</div>
				</div>
			</div>
		</preview-top-bar-app>

		<!-- Carousel -->
		<preview-carousel-app
			[entity]="sample"
			[entityMD]="erm.SAMPLE"
			[images]="sample?.images"
			objectFit="contain">
		</preview-carousel-app>
	</preview-banner-app>

	<!-- Header -->
	<preview-header-app
		[entity]="sample"
		[entityMD]="erm.SAMPLE"
		titleProp="reference"
		(update)="update($event, 'name')">

		<preview-header-buttons-app>
			<button class="icon" (click)="null" toolTip [toolTipMessage]="'tooltip.share-sample' | translate">
				<icon-app class="color-txt-secondary" name="share"></icon-app>
			</button>
			<button class="icon" (click)="selectSecondTab()" toolTip [toolTipMessage]="'tooltip.create-comment' | translate">
				<icon-app class="color-txt-secondary" name="comments"></icon-app>
			</button>
		</preview-header-buttons-app>

		<context-menu-item-app
			(click)="archive()"
			translate="button.archive">
		</context-menu-item-app>
		<context-menu-item-warn-app
			(click)="delete(sample)"
			translate="button.delete">
		</context-menu-item-warn-app>

		<preview-header-subtitle-app>
			<div *ngIf="sample?.name">{{ sample?.name }}</div>
			<div class="txt-btn capitalize" (click)="selectSecondTab()">
				{{ (sample?.comments?.length === 1 ? 'OBJ.n-sample.singular' : 'OBJ.n-sample.plural') | translate: { count: (sample?.comments?.length || 0) } }}
			</div>
		</preview-header-subtitle-app>


		<!-- Supplier badge -->
		<badge-selector-app
			[hasOpenAction]="true"
			[badge]="erm.SUPPLIER"
			[value]="sample?.supplier?.name"
			(openActionClicked)="openSupplier()"
			(update)="update($event, 'supplier')">
		</badge-selector-app>

		<!-- Product badge -->
		<badge-selector-app
			[hasOpenAction]="true"
			[badge]="erm.PRODUCT"
			[value]="getProductFormatedName(sample?.product)"
			(openActionClicked)="openProduct()"
			(update)="update($event, 'product')">
		</badge-selector-app>

	</preview-header-app>

	<!-- Tabs -->
	<preview-tab-app #tab1 (click)="selectFirstTab()"><span translate="title.sample-info"></span></preview-tab-app>
	<preview-tab-app #tab2 (click)="selectSecondTab()"><span translate="title.comments"></span></preview-tab-app>


	<!-- Description -->
	<preview-section-app #contentTab1 [title]="'title.description' | translate">
		<input-description-app
			[description]="sample?.description"
			(update)="update($event, 'description')">
		</input-description-app>
	</preview-section-app>

	<!-- Sample information -->
	<preview-section-app #contentTab1 [title]="'title.sample-details' | translate">
		<dynamic-form-app
			[config]="formConfig"
			[fields]="sampleDescriptor?.descriptor"
			[value]="sample"
			(update)="updateSample($event)">
		</dynamic-form-app>
	</preview-section-app>

	<!-- Extended Fields -->
	<preview-section-app #contentTab1 *ngIf="(fieldDefinitions$ | async)?.length" [title]="'title.extended-fields' | translate">
		<extended-form-app
			[definitions]="fieldDefinitions$ | async"
			[fields]="sample?.extendedFields"
			[config]="formConfig"
			(update)="updateSample({extendedFields: $event})">
		</extended-form-app>
	</preview-section-app>

	<!-- About -->
	<preview-section-app #contentTab1 [title]="'title.about-sample' | translate">
		<div class="mg-top-xs">
			{{ 'OBJ.created-by-on' | translate : { name: (sample?.createdBy | formatUserName), date: (sample?.creationDate | date: 'dd MMMM yyyy':'':translate?.currentLang) } }}
			<br>
			{{ 'OBJ.last-updated-by-on' | translate: { name: (sample?.lastUpdatedBy | formatUserName), date: (sample?.lastUpdatedDate | date: 'dd MMMM yyyy':'':translate?.currentLang) } }}
		</div>
	</preview-section-app>

	<!-- Activity -->
	<preview-section-app #contentTab2 *ngIf="sample?.comments?.length">
		<comment-list-app [comments]="sample.comments"></comment-list-app>
	</preview-section-app>

	<preview-comment-app #contentTab2 (added)="addComment($event)"></preview-comment-app>
</preview-panel-app>
