:host {
	display: block;
	padding: var(--spacing-m) 0 0 0;
	// border-top: 1px solid var(--color-divider);
	margin: var(--spacing-ml);

	.deep-class {
		padding-top: var(--spacing-ms);
	}
}

h2 {
	margin-bottom: 0px;
}