:host {
	display: block;
	padding: 0;
	margin: var(--spacing-l) var(--spacing-ms);

	.deep-class:not(:empty):not(.no-padding) {
		padding-top: var(--spacing-s);
	}

	&.mg-bottom-none {
		margin-bottom: 0px;
	}

	&.mg-none {
		margin: 0px;
	}
}
