<dialog-app>
	<dialog-header-app i18n="dialog header|Add products to project@@productAddToProject_addProject"> Add to project </dialog-header-app>

	<dialog-subtitle-app i18n="dialog subtitle|Select project to add product@@productAddToProject_selectProject">Select projects</dialog-subtitle-app>

	<main *ngIf="projects$ | async as projects" class="scrollable">
		<list-app>
			<list-item-app *ngFor="let project of projects">
				<div class="flex">
					<checkbox-app
						#checkbox
						(check)="select(project.id, project)"
						(uncheck)="unselect(project.id)"
						[checked]="selected[project.id]">
					</checkbox-app>
					<div class="flexCenter flexBetween flexGrow" (click)="checkbox.toggle()">
						<span class="name">{{ project.name }}</span>
						<div class="productNumber" >{{ project.productCount }}</div>
					</div>
				</div>

			</list-item-app>
		</list-app>
	</main>

	<dialog-footer-app class="fullWidth flexCenter flexBetween">
		<span class="txt-secondary">{{ products.length }} product{{ selectedProducts?.length > 1 ? 's' : '' }} selected</span>
		<button class="small" (click)="submit()" i18n="button|Adding product to projects@@productAddToProject_addNow">ADD NOW</button>
	</dialog-footer-app>
</dialog-app>
