<dialog-app [name]="dlgName">
		<header>Add to project</header>
		<div class="subtitle">Select projects</div>

		<main *ngIf="projects$ | async as projects">
			<list-app *ngIf="productsCount$ | async as productsCount">
				<list-item-app *ngFor="let project of projects" class="flex">
					<checkbox-app
						(check)="select(project.id, project)"
						(uncheck)="unselect(project.id)"
						[checked]="selected[project.id]">
						<div class="flexCenter flexBetween ">
							<span class="name">{{ project.name }}</span>
							<div class="productNumber" >{{ productsCount[project.id] || '-' }}</div>
						</div>
					</checkbox-app>
				</list-item-app>
			</list-app>
		</main>

		<footer>
			<button class="small">ADD NOW</button>
		</footer>
	</dialog-app>
