:host {
	display: block;
	width: 364px;
}

.ctnr  {
	position: relative;
	margin: var(--spacing-s);
}

header {
	text-align: center;
	font-weight: 600;
	color: var(--color-txt-strong);
	font-size: 16px;
	padding: var(--spacing-m);
	background-color: #fff;
	border: solid 1px var(--color-divider);
	margin-left: 5px;
	margin-right: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;

	.number {
		color: var(--color-txt-primary);
	}

	.separator {
		margin-top: 5px;
		border-top: solid 2px #45d8ff;
		width: 53px;
		height: 2px;

		&.in-progress {
			border-top-color: var(--color-primary);
		}
		
		&.validated {
			border-top-color: var(--color-success);
		}
		
		&.refused {
			border-top-color: var(--color-warn);
		}
		
		&.inspiration {
			border-top-color: var(--color-secondary);
		}
	}
}

main {
	background: var(--color-secondary-light);
	padding-top: var(--spacing-m);
	height: 100%;
	min-height: 136px;
	border: solid 1px var(--color-divider);
	border-top: 0;
	margin: 5px;
	margin-top: 0;
}

.overlay {
	border:  2px solid var(--color-primary);
	margin: var(--spacing-s);
	padding: var(--spacing-l);
	height: 112px;
	text-align: center;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	background-color: var(--color-bg);
	.overlayTitle {
		font-size: var(--font-size-xxl);
		font-weight: 600;
	}
}

.bolt {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: var(--color-secondary-light);
	transform: rotate(26deg);
	line-height: 1;
}

.source-area-overlay {
	background-color: var(--color-secondary-light);
	margin: 5px;
	margin-top: 0;
	border: dashed 1px var(--color-secondary);
}

.droppable-area-overlay {
  background-color: var(--color-secondary-light);
	border: dashed 1px #45adff;
}

.entered-area-overlay {
	border: dashed 1px orange !important;
}

.hide-items {
	display: none;
}
