:host {
	display: block;
}

.ctnr  {
	position: relative;
	margin: var(--spacing-s);
}

header {
	text-align: left;
	font-weight: 600;
	color: var(--color-txt-strong);
	font-size: 17px;
	padding: var(--spacing-m);
}

main {
	background: var(--color-secondary-light);
	padding-top: var(--spacing-m);
	height: 100%;
	min-height: 136px;
	border: solid 1px transparent;
	margin: 5px;
}

.overlay {
	border:  2px solid var(--color-primary);
	margin: var(--spacing-s);
	padding: var(--spacing-l);
	height: 112px;
	text-align: center;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	background-color: var(--color-bg);
	.overlayTitle {
		font-size: var(--font-size-xxl);
		font-weight: 600;
	}
}

.bolt {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: var(--color-secondary-light);
	transform: rotate(26deg);
	line-height: 1;
}

.source-area-overlay {
	background-color: var(--color-secondary-light);
	margin: 5px;
	border: dashed 1px var(--color-secondary);
}

.droppable-area-overlay {
  background-color: var(--color-secondary-light);
	border: dashed 1px #45adff;
}

.entered-area-overlay {
	border: dashed 1px orange !important;
}

.hide-items {
	display: none;
}
