// this is intended to be imported by components that need it

:host {
	display: flex;
	margin: 0 var(--spacing-l);
	height: calc(100% - 207px);
}

.list {
	width: 100%;
}

table-app {
	margin-left: auto;
	margin-right: auto;
}

rating-heart-app {
	color: var(--color-txt-secondary);
}

.imgCtnr {
	border-radius: var(--border-radius);
	width: 32px;
	height: 32px;
	overflow: hidden;
	img.mini {
		height: 100%;
		z-index: 10;
	}
}

// TODO: this should be a component
.imgOverViewCtnrWrapper {
	display: none;
}

.imgOverViewCtnr {
	z-index: 10;
	width: 128px;
	height: 128px;
	position: absolute;
	top: 20px;
	left: 36px;
}

.ellipsis {
	width: 100%;
}

.mainCellWrapper {
	display: flex;
	justify-content: space-between;

	&:hover {
		.preview {
			display: flex;
			align-items: center;
		}
	}
}

.mainCell {
	display: flex;
	align-items: center;
	a {
		font-weight: 600;
	}
}

.mainCell > *{
	margin-left: var(--spacing-s);
	.name {
		font-weight: 600;
	}
}

user-picture-app {
	margin-right: var(--spacing-s);
}

.alignRight {
	text-align: right;
}

.preview {
	display: none;
}

// TODO: this should use the contextual menu
menu {
	left: 10px;
	border: solid 1px var(--color-secondary-light);
	background-color: var(--color-secondary);
	width: 150px;
	z-index: 10;
}

menuitem {
	padding: 10px;
}
