// this is intended to be imported by components that need it

:host {
	display: flex;
	// if we put a margin here, the style will look wrong
	// margin: 0 var(--spacing-l);
	box-sizing: border-box;
	padding: var(--spacing-l);
	background: white;

	&.no-padding {
		padding: 0;
		// we want to keep always the bottom one cause of the selection
		padding-bottom: var(--spacing-l);
	}

	&.max-full-table-width {
		@media only screen and (max-width:3400px){
			margin: var(--spacing-l) 0 32px 0;
		}
		@media only screen and (min-width:3400px){
			margin: var(--spacing-l) auto 32px auto;
			width: var(--screen-tables-max-width);
		}
		max-width: var(--screen-tables-max-width);
	}
}

a.title {
	color: var(--legacy-color-txt-strong);
	&:hover {
		color: var(--legacy-color-primary);
	}
}

.list {
	width: 100%;
}

table-app {
	margin-left: auto;
	margin-right: auto;
}

rating-heart-app {
	color: var(--legacy-color-txt-secondary);
}

.imgCtnr {
	border-radius: var(--border-radius);
	overflow: hidden;
	flex-shrink: 0;
}

.ellipsis {
	width: 100%;
}

.mainCellWrapper {
	display: flex;
	justify-content: space-between;

	&:hover {
		.preview {
			opacity: 1;
		}
	}
}

.mainCell {
	display: flex;
	align-items: center;
}

.mainCell > * {
	&:not(:first-child) {
		margin-left: var(--spacing-s);
	}
}

user-picture-app {
	margin-right: var(--spacing-s);
}

.alignRight {
	text-align: right;
}

.preview {
	opacity: 0;
	transition: opacity 0.3s;
	min-width: 70px;
}

