:host {
    width: 100%;
    cursor: pointer;
}

a {
    height: 51px;
    font-size: 13px;
    font-weight: 600;
    color: var(--color-txt-primary);

    &.has-children.opened {
        color: var(--color-txt-strong);
    }

    &.sub-item.selected {
        color: #fff;
        background-color: var(--color-secondary-dark);
    }
}

a:hover {
    background-color: var(--color-secondary);
}

.selected {
		color: var(--color-txt-strong);
    background-color: var(--color-secondary);

    &.has-children.expanded {
        border-left: solid 4px var(--color-txt-primary);
    }
}

.flexStart {
    align-items: center;
}

.expanded {
    align-items: center;
}

.iconCtnr {
    font-size: 24px;
    flex-basis: 72px;
    justify-content: center;
    align-items: center;
    display: flex;
}


