
<div *ngFor="let category of rows | groupBy: 'categoryId'; let first = first">
    <!-- <div class="sectionTitle">{{ category?.key | entityName: 'category' | async }}
      <div class="sectionTag">{{ category.value.length }} products</div>
    </div> -->
    <div  class="section" >
      <ng-container *ngFor="let product of category.value; trackBy: trackByFn">
				<product-selectable-card-app
					[statuses]="statuses"
          [selected]="selection.get(product.id)"
          (productSelect)="select.emit($event)"
          (productUnselect)="unselect.emit($event)"
          (productFavorited)="favorited.emit($event)"
          (productUnfavorited)="unfavorited.emit($event)"
          (productDelete)="delete.emit($event)"
          (productOpen)="open.emit($event)"
          (addToProject)="addToProject.emit($event)"
          (productVote)="productVote.emit($event)"
					[product]="product"
					(update)="update.emit($event)">
				</product-selectable-card-app>
      </ng-container>
    </div>
  </div>

