<div class="container">
	<sub-panel-app
		[hasFilter]="false"
		[hasSwitch]="false"
		(search)="dataSrv.search($event)"
		(smartSearch)="dataSrv.smartSearch($event)">
		<div class="flex show-my-tasks">
			<checkbox-app
				(check)="toggleMyTasks(true)"
				(uncheck)="toggleMyTasks(false)">
			</checkbox-app>
			Show my tasks only
		</div>
		<div class="flex show-tasks-done">
			<checkbox-app
				(check)="toggleDoneTasks(true)"
				(uncheck)="toggleDoneTasks(false)">
			</checkbox-app>
			Completed tasks
		</div>
	</sub-panel-app>

	<task-list-app
		[tasks]="dataSrv.items$ | async"
		[selection]="selectionSrv.selection$ | async"
		[hasProduct]="true"
		[hasSupplier]="true"
		(previewClicked)="viewSrv.openPreview($event)"
		(taskSelect)="selectionSrv.selectOne($event, false)"
		(taskUnselect)="selectionSrv.unselectOne($event, false)"
		(bottomReached)="dataSrv.loadMore()"
		(updateTask)="dataSrv.update($event)"
		(createTask)="createTask($event)">
	</task-list-app>

	<preview-task-app
		*ngIf="viewSrv.previewOpen"
		[task]="viewSrv.previewed"
		(close)="viewSrv.closePreview()"
		(clickOutside)="viewSrv.closePreview()">
	</preview-task-app>
</div>
