:host {
	display: flex;
	flex-direction: column;
	width: 980px;
	height: calc(100% - 70px);
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

.show-my-tasks, .show-tasks-done {
	font-weight: 600;
	line-height: 1.43;

	&:not(.show-tasks-done) {
		margin-right: var(--spacing-ms);
	}
}

sub-panel-right-item-app {
	display: flex;
}