<user-picture-app
	[user]="comment?.createdBy"
	[image]="comment?.createdBy?.avatar"
	[border]="true"
	[fontSize]="16"
	[size]="44">
</user-picture-app>

<div class="comment-content flexColumn">
	<!-- comment header -->
	<div class="comment-header flexBetween">
		<!-- title -->
		<div class="title flexColumn">
			<span class="name flex">{{ comment?.createdBy?.firstName }} {{ comment?.createdBy?.lastName }}</span>
			<span class="color-txt-secondary">{{ comment?.createdAt | date: 'dd MMM y' }}</span>
		</div>
		<!-- buttons -->
		<div *ngIf="isMine && !isEditing" class="buttons flex hover-buttons">
			<button 
				class="light" 
				(click)="onDelete()" 
				translate="button.delete">
			</button>
			<button 
				class="light" 
				(click)="enableEdit()" 
				translate="button.edit">
			</button>
		</div>
	</div>

	<!-- comment content -->
	<!-- editing -->
	<ng-container *ngIf="isEditing; else notEditing">
		<!-- DON'T put the comment text on a new line, since it has property 'white-space: pre-line' it will modify the view -->
		<textarea #textArea autoFocus>{{ comment?.message }}</textarea>
		<div class="buttons flexEnd">
			<button class="light" (click)="isEditing = false" translate="button.cancel"></button>
			<button (click)="onSave(textArea?.value)" translate="button.save"></button>
		</div>
	</ng-container>

	<!-- not editing -->
	<ng-template #notEditing>
		<div class="text" [innerHtml]="urlify(comment?.message)"></div>
	</ng-template>
</div>
