:host {
	display: flex;
	min-height: 37px;
	max-height: 63px;
	cursor: pointer;

	&.active, &:hover {
		background-color: var(--color-primary);
		color: #fff;

		.container > *:not(icon-app), .name-container .name {
			color: white !important;
		}
	}
}

icon-app.circle {
	border: 1px solid white;
	border-radius: 500px;
	height: 8px;
	font-size: var(--font-size-xxs);
	margin-right: var(--spacing-s);
}

.container {
	height: 100%;
	width: 100%;
	border-bottom: 1px solid var(--color-divider);
	margin-right: var(--spacing-xs);

	.name-container {
		align-items: center;
		margin-top: 10px;

		.name {
			font-size: var(--font-size-l);
			color: var(--color-txt-strong);
		}
	}

	.categories {
		color: var(--color-txt-secondary);
		margin-bottom: 10px;

		// just for the title and descrption have the same align
		icon-app.circle {
			visibility: hidden;
		}
		.categories-container {

			& > span {
				//for each children that is not the first one we add some spaces and bullet dots on the content
				&:not(:last-child)::after {
					content: "\00a0 \00a0 \2022 \00a0 \00a0";
					font-weight: bolder;
				}
			}
		}
	}
}