


<controller-table-app>
	<controller-table-quick-filters-app
		[quickFilters]="[]">
	</controller-table-quick-filters-app>
	<controller-table-quick-actions-app>
	</controller-table-quick-actions-app>
	<controller-table-view-switcher-app
		[hasCard]="false"
		[hasBoard]="false">
	</controller-table-view-switcher-app>
</controller-table-app>

<attachments-table-app
	#table
	[hasPagination]="false"
	[currentSort]="listSrv.currentSort"
	[pending]="listSrv.pending"
	[isFiltering]="listSrv.isFiltering"
	[rows]="listSrv.items$ | async"
	[selection]="listSrv.selection$ | async"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	[linkedEntity]="supplier"
	(delete)="listSrv.deleteOne($event, true)"
	(update)="listSrv.update($event)"
	(open)="listSrv.goToDetails($event)"
	(openAddToProjectDialog)="dialogCommonSrv.openAddToProjectDialog([$event])"
	(openAddSampleDialog)="dialogCommonSrv.openCreationSampleDialog($event)"
	(openAddTaskDialog)="dialogCommonSrv.openCreationTaskDlg($event)"
	(setFavourite)="listSrv.onItemFavorited($event?.id)"
	(openRequestFeedbackDialog)="dialogCommonSrv.openRequestFeedbackDialog([$event])"
	(openCreateRequestDlg)="dialogCommonSrv.openSupplierRequest([$event])"
	(previewClick)="listSrv.openPreview($event)"
	(select)="listSrv.selectOne($event, true)"
	(selectAll)="listSrv.selectAll($event, true)"
	(sort)="listSrv.sort($event)"
	(unfavorited)="listSrv.onItemUnfavorited($event)"
	(unselect)="listSrv.unselectOne($event, true)"
	(update)="listSrv.update($event)"
	(createClick)="dialogCommonSrv.openCreationProductDlg()"
	(unselectAll)="listSrv.unselectAll()"
	(upload)="listSrv.refetch().subscribe()">
</attachments-table-app>


<selection-bar-app
	[isShown]="(listSrv.selection$ | async).size > 0"
	[selection]="listSrv.selection$ | async"
	(close)="listSrv.unselectAll()">

	<button class="icon light" (click)="listSrv.deleteSelected()">
		<icon-app name="trash"></icon-app>
	</button>

</selection-bar-app>
