<div class="ctnr" infiniScroll (bottomReached)="bottomReached.emit()" [bottomDistance]="100">
	<div class="contentCtnr">
		<!-- empty column for space between border bottom and side -->
		<div class="col emptyBorder">
			<div class="header"></div>
			<div class="cell" *ngFor="let row of rows; index as i; trackBy: trackByFn"
				[ngClass]="{ selected: (i === hoverIndex) || isSelected(row, i) }"
				(mouseenter)="hoverRow(i)" (mouseleave)="hoverRow(-1)"></div>
		</div>

		<!-- selection column -->
		<div class="col selectionCol" *ngIf="hasSelection">
			<div class="header">
				<checkbox-app [checked]="isAllSelected()" (check)="onSelectAll(rows)" (uncheck)="onUnselectAll()"></checkbox-app>
			</div>
			<div class="cell" *ngFor="let row of rows; index as i; trackBy: trackByFn"
				[ngClass]="{ selected: (i === hoverIndex) || isSelected(row, i) }"
				(mouseenter)="hoverRow(i)" (mouseleave)="hoverRow(-1)">
				<checkbox-app [checked]="selected.has(row[idName])"
					*ngIf="isSelectable(row)"
					(check)="onSelectOne(row[idName])"
					(uncheck)="onUnselectOne(row[idName])"></checkbox-app>
			</div>
		</div>

		<div class="col dotCol" *ngIf="dotsOption">
			<div class="header">
			</div>
			<div class="cell" *ngFor="let row of rows; index as i; trackBy: trackByFn"
				[ngClass]="{ selected: (i === hoverIndex) || isSelected(row, i) }"
				(mouseenter)="hoverRow(i)" (mouseleave)="hoverRow(-1)">
				<div class="dotSeparator pointer"
					[ngClass]="{ hover: (i === hoverIndex) }"
					[ngStyle]="{ display: ((i === hoverIndex) || isSelected(row, i)) ? 'block' : 'none' }"
					(click)="onToggleContextualMenu($event, i)"></div>
				<div *ngIf="contextualMenuOpened[i]" (click)="onToggleContextualMenu($event, i, false)">
					<ng-container
						*ngTemplateOutlet="contextualMenu; context: { column: column, row: row }">
					</ng-container>
				</div>
			</div>
		</div>

		<!-- content columns -->
		<div *ngFor="let column of columns; trackBy: columnTackByFn" [style.width]="column.width + 'px'"
			class="col {{ column.grows ? 'flexGrow' : '' }}">
			<!-- header -->
			<div class="header {{ column.sortable ? 'pointer' : 'defaultCursor'}}" (click)="onSort(column)">
				{{ column.title }}
				<ng-container *ngIf="column.sortOrder !== 'NONE'">
					<icon-app class="sortIcon fs-xs"  fontSet="fa" name="angle-down"
						*ngIf="column.sortOrder === 'DESC'; else upArrow;"></icon-app>
					<ng-template #upArrow>
						<icon-app  class="sortIcon fs-xs" fontSet="fa" name="angle-up"></icon-app>
					</ng-template>
				</ng-container>
			</div>
			<!-- cells -->
			<div class="cell" *ngFor="let row of rows; index as i; trackBy: trackByFn"
				[ngClass]="{ selected: (i === hoverIndex) || isSelected(row, i), hover: (i === hoverIndex), main: (column.type === 'main') }"
				(mouseenter)="hoverRow(i)" (mouseleave)="hoverRow(-1)">
				<!-- ellipsis wrapper because ellipsis cannot be added to flex elements, and cell is flex -->
				<div class="full-width">
					<!-- Render the column template when specified -->
					<ng-container
						*ngTemplateOutlet="column.template; context: { column: column, row: row }">
					</ng-container>
				</div>
			</div>

		</div>

	</div>

	<!-- pending -->
	<div class="pendingCtnr flexCenter" *ngIf="pending">
		<spinner-app></spinner-app>
	</div>
</div>



