:host {
	display: block;
	height: 100%;
}

.ctnr {
	overflow: auto;
	height: 100%;
	box-sizing: border-box;
	padding-right: var(--spacing-default);
}

table {
	border-collapse: collapse;
	border: 1px solid var(--color-primary-light);
}

thead {
	text-transform: uppercase;
	font-weight: 600;
	text-align: left;
	height: 48px;
	background: var(--color-bg-third);
	border-bottom: 1px solid var(--color-primary-light);
	cursor: default;
	tr {
		th {
			font-weight: 600;
			padding: var(--spacing-default);
			white-space: nowrap;
		}
		// the col after the empty col has no padding on left
		th:nth-child(2) {
			padding-left: 0;
		}
	}

	.headerContent {
		display: flex;
		align-items: center;
	}
}

tbody {
	background-color: var(--color-bg);
	font-weight: 600;
	height: 300px;
	overflow: auto;
	tr {
		height: 32px;
		td {
			font-weight: normal;
			padding: var(--spacing-default);
			border-bottom: 1px solid var(--color-primary-light);
		}
		// empty border col is also smaller
		td:first-child {
			border: none;
			padding-left: var(--spacing-s);
			padding-right: var(--spacing-s);
		}
		// the col after the empty col has no padding on left
		td:nth-child(2) {
			padding-left: 0;
		}
	}
	tr:hover {
		background: var(--color-bg-fourth);
	}
}

// horizontal scrolling, first column needs not to be scrollable

// .horizontal-scroll-except-first-column {
// 	margin-left: 20em;
// }

// .horizontal-scroll-except-first-column > table > * > tr > th:first-child,
// .horizontal-scroll-except-first-column > table > * > tr > td:first-child {
// 	position: absolute;
// 	width: 20em;
// 	margin-left: -20em;
// }

// .horizontal-scroll-except-first-column > table > * > tr > th,
// .horizontal-scroll-except-first-column > table > * > tr > td {
// 	/* Without this, if a cell wraps onto two lines, the first column
// 	 * will look bad, and may need padding. */
// 	white-space: nowrap;
// }
