:host {
	display: block;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.ctnr {
	background: var(--color-bg);
	border: 1px solid  var(--color-secondary);
	box-sizing: border-box;
	overflow: auto;
	// height: calc(100% - 60px);
	height: 100%;
	display: flex;
	flex-direction: column;
}

.placeholderCtnr {
	height: 100%;

	.placeholder {
		font-weight: 600;
		font-size: 20px;
	}
}

.contentCtnr {
	display: flex;
}

.pendingCtnr {
	padding: var(--spacing-xl);
}

.cell, .header {
	padding: 0 var(--spacing-m);
	border-bottom: 1px solid  var(--color-secondary);
	height: 51px;
	display: flex;
	align-items: center;
	position: relative;
}

.cell {
	&.selected {
		background-color: var(--color-secondary-light);
		color: var(--color-text-primary);
	}

	&.hover {
		&.main {
			color: var(--color-primary);
		}
	}
}

.header {
	background: var(--color-secondary-light);
	text-transform: capitalize;
	font-weight: 600;
}


.selectionCol {
	.header, .cell {
		padding: 0;
	}
}

.flexGrow {
	flex-grow: 1;
}

.defaultCursor {
	cursor: default;
}

.emptyBorder{
	.cell {
		border-bottom: 1px solid transparent;
	}
	.cell, .header {
		padding: 0;
		width: var(--spacing-m);
	}
}

.ellipsis {
	width: 100%;
}

.full-width {
	width: 100%;
}

.sortIcon {
	margin-left: var(--spacing-xs);
}

.menuCell {
	padding-left: 16px;
	padding-right: 6px;
	width: 10px;
}

.dotSeparator:after {
	content: '\2807';
	font-size: 25px;
	color: var(--color-txt-secondary);
}

.dotSeparator:hover {
	color: var(--color-txt-primary);
}

.dotSeparator:after {
	content: '\2807';
	font-size: 25px;
}

.pagination {
	margin: 12px 0;
}