<div class="ctnr will-change-scroll" infiniScroll (bottomReached)="bottomReached.emit()" cdk-scrollable>
	<div class="contentCtnr" [ngStyle]="{ width: width ? width + 'px' : getWidth() + 'px' }">
		<!-- empty column for space between border bottom and side -->
		<div class="col emptyBorder">
			<div *ngIf="hasHeader" class="header" [style.height]="rowHeight + 'px'"></div>
			<div class="cell" *ngFor="let row of rows; index as i; trackBy: trackByIdentify"
				[ngClass]="{ selected: (i === hoverIndex) || isSelected(row, i) }"
				[style.height]="rowHeight + 'px'"
				(mouseenter)="hoverRow(i)" (mouseleave)="hoverRow(-1)"></div>
		</div>

		<!-- selection column -->
		<div *ngIf="hasSelection && hasSelectPagination" class="col selectionCol" [style.height]="rowHeight + 'px'">
			<div *ngIf="hasHeader" class="header" [style.height]="rowHeight + 'px'">
				<ng-container>
					<checkbox-app [checked]="isAllSelected()" (check)="onSelectAll(rows)" (uncheck)="onUnselectAll()"></checkbox-app>
				</ng-container>
			</div>
			<ng-container *ngIf="!pending">
				<div class="cell"
					*ngFor="let row of rows; index as i; trackBy: trackByIdentify"
					[ngClass]="{ selected: (i === hoverIndex) || isSelected(row, i) }"
					[style.height]="rowHeight + 'px'"
					(mouseenter)="hoverRow(i)" (mouseleave)="hoverRow(-1)">
					<checkbox-app
						*ngIf="isSelectable(row)"
						[checked]="selected.has(row[idName])"
						(check)="onSelectOne(row)"
						(uncheck)="onUnselectOne(row)">
					</checkbox-app>
				</div>
			</ng-container>
		</div>




		<!-- content columns -->
		<div *ngFor="let column of columns; trackBy: columnTrackByFn" [style.width]="column.width + 'px'" [style.minWidth]="column.minWidth + 'px'"
			class="col {{ column.grows ? 'flexGrow' : '' }}">
			<!-- header -->
			<div *ngIf="hasHeader" class="header {{ column.sortable ? 'pointer' : 'defaultCursor'}} capitalize" (click)="onSort(column)"
				[style.height]="rowHeight + 'px'" [class.sorted]="currentSortedColumn?.type === column?.type">
				{{ column.title }}
				<ng-container *ngIf="column.sortOrder !== 'NONE'">
					<icon-app class="sortIcon fs-xs" name="angle-down"
						*ngIf="column.sortOrder === 'DESC'; else upArrow;"></icon-app>
					<ng-template #upArrow>
						<icon-app  class="sortIcon fs-xs" name="angle-up"></icon-app>
					</ng-template>
				</ng-container>
			</div>

			<!-- cells -->
			<ng-container *ngIf="!pending">
				<div class="cell" *ngFor="let row of rows; index as i; trackBy: trackByIdentify"
					[style.height]="rowHeight + 'px'"
					[ngClass]="{ selected: (i === hoverIndex) || isSelected(row, i), hover: (i === hoverIndex), main: (column.type === 'main') }"
					(mouseenter)="hoverRow(i)" (mouseleave)="hoverRow(-1)">
					<!-- ellipsis wrapper because ellipsis cannot be added to flex elements, and cell is flex -->
					<div class="full-width">
						<!-- Render the column template when specified -->
						<ng-container
							*ngTemplateOutlet="column.template; context: { column: column, row: row, index: i }">
						</ng-container>
					</div>
				</div>
			</ng-container>

		</div>

		<!-- contextual menu -->
		<div class="col" *ngIf="hasMenu">
			<div *ngIf="hasHeader" class="header context-menu" [style.height]="rowHeight + 'px'" [style.minWidth]="'50px'">
			</div>
				<ng-container *ngIf="!pending">
					<div
						*ngFor="let row of rows; index as i; trackBy: trackByIdentify"
						class="menuCell cell context-menu flexCenter"
						[ngClass]="{ selected: (i === hoverIndex) || isSelected(row, i) }"
						[style.height]="rowHeight + 'px'"
						(mouseenter)="hoverRow(i)"
						(mouseleave)="hoverRow(-1)">
						<context-menu-app
							*ngIf="isSelectable(row)"
							class="menu-context"
							[ngClass]="{ hover: (i === hoverIndex) }"
							[ngStyle]="{ visibility: ((i === hoverIndex) || isSelected(row, i)) ? 'visible' : 'hidden' }"
							[closeOnScroll]="true">
							<context-menu-trigger-app>
								<icon-app class="color-txt-third" name="dots-horizontal" size="18"></icon-app>
							</context-menu-trigger-app>
							<ng-container
								*ngTemplateOutlet="contextualMenu; context: { column: column, row: row }">
							</ng-container>
						</context-menu-app>
					</div>
				</ng-container>
			</div>

	</div>

	<div *ngIf="rows?.length === 0" class="flexAround placeholderCtnr">
		<div class="placeholder">{{ placeholder }}</div>
	</div>

	<!-- pending -->
	<div *ngIf="pending" class="pendingCtnr flexCenter" >
		<dots-app></dots-app>
	</div>
</div>

<pagination-app
	*ngIf="hasSelectPagination"
	[count]="count"
	[currentPage]="currentPage"
	(goToPage)="goToIndexPage($event)"
	(showItemsPerPage)="showItemsPerPage.emit($event)">
</pagination-app>
