<sub-panel-app
	[hasFilter]="false"
	[hasSwitch]="false"
	(search)="listSrv.search($event)"
	(smartSearch)="listSrv.smartSearch($event)">

	<div class="flex show-my-tasks">
			<checkbox-app
				(check)="toggleMyTasks(true)"
				(uncheck)="toggleMyTasks(false)">
			</checkbox-app>
			Show my tasks only
		</div>
		<div class="flex show-tasks-done">
			<checkbox-app
				(check)="toggleDoneTasks(true)"
				(uncheck)="toggleDoneTasks(false)">
			</checkbox-app>
			Completed tasks
		</div>
</sub-panel-app>

<task-list-app
	[tasks]="listSrv.items$ | async"
	[selection]="listSrv.selection$ | async"
	[fullUser]="true"
  [hasSupplier]="true"
  (previewClicked)="listSrv.openPreview($event)"
	(taskSelect)="listSrv.selectOne($event, false)"
	(taskUnselect)="listSrv.unselectOne($event, false)"
	(openCreateDlg)="listSrv.create(false)"
	(bottomReached)="listSrv.loadMore()"
	(updateTask)="listSrv.update($event)"
	(createTask)="createTask($event)">
</task-list-app>


	<task-preview-app
		*ngIf="listSrv.previewOpen"
		[task]="listSrv.previewed"
		(close)="listSrv.closePreview()">
  </task-preview-app>

<selection-bar-app
	[isShown]="(listSrv.selection$ | async)?.size > 0"
	[selection]="(listSrv.selection$ | async)"
	(close)="listSrv.unselectAll()">

	<div class="flex">
		<context-menu-app>
			<context-menu-trigger-app>
				<button class="icon light">
					<icon-app name="dots-vertical" size="m"></icon-app>
				</button>
			</context-menu-trigger-app>
      <context-menu-item-app (click)="listSrv.deleteSelected()">
        Delete
      </context-menu-item-app>
		</context-menu-app>

		<button class="icon light" (click)="listSrv.deleteSelected()">
			<icon-app name="trash-bin" size="m"></icon-app>
		</button>
	</div>
</selection-bar-app>
