<sub-panel-app
	[hasFilter]="false"
	[hasSwitch]="false"
	(search)="search($event)"
	(smartSearch)="smartSearch($event)">
	<div class="flex show-my-tasks">
		<checkbox-app
			(check)="toggleFilter(true)"
			(uncheck)="toggleFilter(false)">
		</checkbox-app>
		Show my tasks only
	</div>
</sub-panel-app>

<task-list-app
	[tasks]="items$ | async"
	[selection]="selected$ | async"
	[fullUser]="true"
	(taskSelect)="select.emit($event)"
	(taskUnselect)="unselect.emit($event)"
	(openCreateDlg)="openCreateDlg()">
</task-list-app>

<selection-bar-app
	*ngIf="(selected$ | async).size > 0"
	[selection]="selected$ | async"
	[hasDelete]="false"
	(close)="resetSelection()"
	(delete)="deleteSelected()">

	<context-menu-app xPosition="-171" yPosition="-101">
		<context-menu-trigger-app>
			<button class="icon light">
				<icon-app fontSet="svg" name="3-dots-vertical" size="m"></icon-app>
			</button>
		</context-menu-trigger-app>
	</context-menu-app>

	<button class="icon light" (click)="deleteSelected()">
		<icon-app fontSet="svg" name="trash-bin" size="m"></icon-app>
	</button>
</selection-bar-app>
