<task-list-app
	[filterList]="listSrv.filterList"
	[hasFilters]="true"
	[hasSupplier]="true"
	[selection]="listSrv.selection$ | async"
	[tasks]="listSrv.items$ | async"
	(bottomReached)="listSrv.loadMore()"
	(createTask)="createTask($event)"
	(openCreateDlg)="listSrv.create(false)"
	(taskSelect)="listSrv.selectOne($event, false)"
	(taskUnselect)="listSrv.unselectOne($event, false)"
	(toggleMyTasks)="toggleMyTasks($event)"
	(updateTask)="listSrv.update($event)"
  (previewClicked)="listSrv.openPreview($event)">
</task-list-app>


<task-preview-app
	*ngIf="listSrv.previewOpen"
	[task]="listSrv.previewed"
	(close)="listSrv.closePreview()">
</task-preview-app>

<selection-bar-app
	[isShown]="(listSrv.selection$ | async)?.size > 0"
	[selection]="(listSrv.selection$ | async)"
	(close)="listSrv.unselectAll()">

	<div class="flex">
		<context-menu-app>
			<context-menu-trigger-app>
				<button class="icon light">
					<icon-app name="dots-vertical" size="m"></icon-app>
				</button>
			</context-menu-trigger-app>
      <context-menu-item-app (click)="listSrv.deleteSelected()">
        Delete
      </context-menu-item-app>
		</context-menu-app>

		<button class="icon light" (click)="listSrv.deleteSelected()">
			<icon-app name="trash-bin" size="m"></icon-app>
		</button>
	</div>
</selection-bar-app>
