<form [formGroup]="form" *ngIf="!pending; else spinner">
	<dialog-app>
		<dialog-header-app> Invite a user </dialog-header-app>

		<form-field-app>
			<label-app>
				Email
			</label-app>
			<input type="text" inputApp formControlName="email"/>
		</form-field-app>

		<dialog-footer-app class="fullWidth flexCenter flexBetween">
			<button class="small" type="button" (click)="submit()">INVITE</button>
		</dialog-footer-app>
	</dialog-app>
</form>

<!-- when pending -->
<ng-template #spinner>
	<dialog-app name="spinner">
		<spinner-app></spinner-app>
	</dialog-app>
</ng-template>
