<div class="flexWrap">
	<!-- <input-app [(ngModel)]="contact.fullName" name="fullName" label="Full Name" placeholder="Jhon Doe"></input-app>
	<input-app [(ngModel)]="contact.email" name="email" type="email" label="email" placeholder="jhon.doe@mycompany.com"></input-app>
	<input-app [(ngModel)]="contact.function" name="function" label="Function" placeholder="Product Manager"></input-app>
	<input-app [(ngModel)]="contact.phone" name="phone" type="tel" label="Phone" placeholder="+32 0478 454 545"></input-app> -->
</div>
