:host {
	box-sizing: border-box;
	white-space: nowrap;
	font-weight: bold;
	line-height: 1;

	// colors
	&.primary {
		background: var(--color-primary-light);
		color: var(--color-primary);
	}
	&.secondary {
		background: var(--color-secondary);
		color: var(--color-secondary-contrast);
	}
	&.secondary-light {
		background: var(--color-bg-secondary);
		color: var(--color-txt-third);
	}
	&.vibrant {
		background: var(--color-vibrant-light);
		color: var(--color-vibrant);
	}
	&.accent {
		background: var(--color-accent-light);
		color: var(--color-accent-dark);
	}
	&.warn {
		background: var(--color-warn-light);
		color: var(--color-warn);
	}
	&.success {
		background: var(--color-success-light);
		color: var(--color-success);
	}

	// sizes
	&.small {
		height: 15px;
		min-width: 15px;
		padding: 0 var(--spacing-xxs);
		font-size: var(--font-size-s);
		border-radius: var(--border-radius-s);
	}
	&.medium-small {
		height: 20px;
		min-width: 15px;
		padding: 0 var(--spacing-xs);
		font-size: var(--font-size-m);
		border-radius: var(--border-radius-s);
		font-weight: 600;
	}
	&.medium {
		padding: 6px 8px;
		font-size: var(--font-size-s);
		border-radius: var(--border-radius);
		font-weight: 600;
	}

	&.circle {
    border-radius: 8px;
    padding: 2px 4px;
	}
}