:host {
	box-sizing: border-box;
	white-space: nowrap;
	margin-right: var(--spacing-xs);
	&.primary {
		background: var(--color-primary);
		color: white;
	}
	&.secondary {
		background: var(--color-secondary);
	}
	&.accent {
		background: var(--color-accent);
		color: white;
	}
	&.warn {
		background: var(--color-warn);
		color: white;
	}
	&.success {
		background: var(--color-success);
		color: white;
	}
	&.mini {
		font-family: 'Raleway';
		font-size: var(--font-size-s);
		font-weight: 600;
		padding: var(--spacing-xs) var(--spacing-s);
		border-radius: var(--border-radius-s);
	}
	&.xsmall {
		font-size: var(--font-size-xs);
		font-weight: bold;
		padding: 2px  4px;
		text-transform: uppercase;
		// min-width: 72px;
		border-radius: var(--border-radius-s);
		font-weight: 600;
	}
	&.small {
		font-size: var(--font-size-s);
		font-weight: bold;
		padding: 2px  var(--spacing-s);
		min-width: 110px;
		border-radius: var(--border-radius-s);
		font-weight: 600;
	}

	&.medium {
		height: 25px;
		font-size: var(--font-size-m);
		border-radius: var(--border-radius);
		padding: var(--spacing-xs) var(--spacing-s);
		font-weight: 600;
	}

	&.large {
		height: 25px;
		font-size: var(--font-size-m);
		border-radius: var(--border-radius);
		padding: var(--spacing-xs) var(--spacing-s);
		font-weight: 600;
	}
}