<div class="ctnr z-4 notification-body-container {{ type }}">
  <div class="left-part ">
      <icon-app style="cursor: default;" [name]="iconLeft"></icon-app>
  </div>
  <div class="middle-part">
		<div *ngIf="title?.length" class="title first-uppercase">{{ title | translate }}</div>
		<div *ngIf="message?.length" class="message">{{ message | translate }}</div>
		<div *ngIf="(action | async) && actionMessage?.length" class="uri-message" (click)="onActionClick()"> {{ actionMessage | translate }}</div>
  </div>
  <div class="right-part">
      <icon-app name="close" (click)="forceClose()"></icon-app>
  </div>
</div>
