<auth-header-app
	[pending]="pending$ | async"
	instruction="text.we-will-send-you-instructions">
</auth-header-app>



<form 
	*ngIf="!(pending$ | async)"
	[formGroup]="form" 
	(ngSubmit)="onSubmit()" 
	class="flexColumn">

	<error-app *ngIf="error" [translate]="'error.' + error"></error-app>

	<form-field-app>
		<label-app translate="text.email"></label-app>
		<input 
			inputApp
			autofocus
			type="email" 
			autocomplete="current-email"
			formControlName="username"
			placeholder="example@showsourcing.com"/>
	</form-field-app>
	
	<div class="btn-ctnr">
		<button 
			class="mg-v-ms" 
			type="submit" 
			translate="button.send">
		</button>
	</div>
</form>
