<div class="ctnr" (fileDrop)="add($event)">

	<!-- image -->
	<div class="img-ctnr flexCenter"
	[ngStyle]="{'transform': getRotation(getImg())}">
		<img-app
			#imgApp
			*ngIf="images?.length !== 0; else noImg"
			[image]="getImg()"
			[size]="'xl'"
			[objectFit]="objectFit"
			(click)="openModal()"
			class="pointer">
		</img-app>
		<!-- no image -->
		<ng-template #noImg>
			<div class="flexColumn flexCenter empty">
				<img [src]="defaultImg"/>
				<span>No picture yet</span>
				<button class="secondary" (click)="openFileBrowser()">Add Picture</button>
			</div>
		</ng-template>
	</div>

  <spinner-app *ngIf="getImg()?.pending" size="xl"></spinner-app>

	<!-- move back -->
	<div class="move-btn back flexCenter circle pointer btn action"
		(mousedown)="back($event)" *ngIf="selectedIndex > 0">
		<icon-app  fontSet="fa" name="angle-left" color="white"></icon-app>
	</div>

	<!-- move next -->
	<div class="move-btn next flexCenter circle pointer btn action"
		(mousedown)="next($event)" *ngIf="selectedIndex < (images?.length - 1)">
		<icon-app  fontSet="fa" name="angle-right" color="white"></icon-app>
	</div>

	<!-- rotate -->
	<div class="btn rotate pointer action" (click)="rotate()">rotate</div>

	<!-- menu -->
	<icon-app
		fontSet="fa"
		name="ellipsis-v"
		color="white"
		class="menuIc btn action"
		aria-label="more"
		(click)="openMenu()">
	</icon-app>

	<!-- menu -->
	<menu class="z-2 flexColumn action" (clickOutside)="closeMenu()" *ngIf="menuOpen">
		<menuitem (click)="download()"> download </menuitem>
		<menuitem (click)="delete()"> delete </menuitem>
	</menu>

	<!-- counter -->
	<div class="counter flexCenter">
		<div
			*ngFor="let image of images; index as i"
			class="dot {{ i === selectedIndex ? 'full' : '' }}">
		</div>
	</div>

	<!-- modal carousel that can be seen when clicking on the normal carousel -->
	<modal-carousel-app
		*ngIf="modalOpen"
		[selectedIndex]="selectedIndex"
		[images]="images"
		(indexChange)="selectedIndex = $event"
		(close)="closeModal()">
	</modal-carousel-app>

	<!-- input used to input files -->
	<input #inpFile multiple="true" type="file" accept="image/*" (fileSelect)="add($event)"/>

</div>


