:host{
	display: block;
}

.ctnr {
	border-top-left-radius: var(--border-radius-l);
	border-top-right-radius: var(--border-radius-l);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	overflow: hidden;
	min-height: 200px;
}

.action {
	visibility: hidden;
}

.ctnr:hover > .action {
	visibility: visible;
}


.menu {
	position: absolute;
	top: var(--spacing-m);
	left: var(--spacing-m);
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius-s);
	width: var(--spacing-l);
	height: var(--spacing-l);
	color: white;
	background: rgba(93, 109, 139, 0.7);
}

.move-btn {
	color: white;
	position: absolute;
	top: 50%;
}

.back {
	left: var(--spacing-m);
}

.next {
	right: var(--spacing-m);
}

.img-ctnr {
	height: 100%;
	border-radius: var(--border-radius-s);
	overflow: hidden;
	img-app {
		background: var(--color-secondary-light);
		min-width: 100%;
		min-height: 100%;
	}
}

.rotate {
	position: absolute;
	padding: 0 var(--spacing-m);
	color: white;
	display: flex;
	align-items: center;
	left: var(--spacing-xxxl);
	top: var(--spacing-m);
}

.counter {
	width: 100%;
	font-size: 9px;
	position: absolute;
	bottom: var(--spacing-m);
	border-radius: var(--border-radius);
	padding: var(--spacing-xs) var(--spacing-s);

	.dot {
		margin-right: var(--spacing-s);
		height: 6px;
		width: 6px;
		border-radius: 500px;
		background: rgba(255, 255, 255, 0.5);
	}

	.full {
		background: white;
	}
}

spinner-app {
  position: absolute;
}
