<div class="ctnr">

	<!-- image -->
	<div class="img-ctnr flexCenter">
		<ng-container *ngIf="!pending; else spinner">
			<img *ngIf="images.length === 0" [src]="defaultImg"/>
			<img *ngIf="images.length !== 0" [src]="getImg().fileName | image: 'l'" (click)="imgClick.emit(selectedIndex)"
			 class="pointer" [style.transform]="'rotate(' + getRotation() + 'deg)'"/>
		</ng-container>
		<ng-template #spinner>
			<spinner-app size="small"></spinner-app>
		</ng-template>
	</div>

	<!-- actions buttons -->
	<!-- move back -->
	<div class="move-btn back flexCenter cercle pointer btn action"
		(mousedown)="back($event)" *ngIf="selectedIndex > 0">
		<icon-app  fontSet="fa" name="angle-left" color="white"></icon-app>
	</div>

	<!-- move next -->
	<div class="move-btn next flexCenter cercle pointer btn action"
		(mousedown)="next($event)" *ngIf="selectedIndex < (images.length - 1)">
		<icon-app  fontSet="fa" name="angle-right" color="white"></icon-app>
	</div>

	<!-- rotate -->
	<div class="btn rotate pointer action" (click)="rotate()">rotate</div>

	<!-- menu -->
	<icon-app
		fontSet="fa"
		name="ellipsis-v"
		color="white"
		class="menuIc btn action"
		aria-label="more"
		(click)="openMenu()"></icon-app>

	<!-- menu -->
	<menu class="z-2 flexColumn action" (clickOutside)="closeMenu()" *ngIf="menuOpen">
		<menuitem (click)="download()"> download </menuitem>
		<menuitem (click)="delete()"> delete </menuitem>
	</menu>

	<!-- counter -->
	<div class="counter">{{ selectedIndex + 1 }} / {{ images.length }}</div>
</div>


