<div class="ctnr" *ngIf="hasInlineCarousel" (fileDrop)="onFileAdded($event)">
	<div class="img-ctnr flexCenter">
		<ng-container *ngIf="!pending; else spinner">
			<img *ngIf="images.length === 0" [src]="defaultImg"/>
			<img *ngIf="images.length !== 0" [src]="getUrl(selectedIndex)" (click)="openModal()"
			 class="pointer" [style.transform]="'rotate(' + getRotation() + 'deg)'"/>
		</ng-container>
		<ng-template #spinner>
			<spinner-app size="small"></spinner-app>
		</ng-template>
	</div>
	<div class="move-btn back flexCenter cercle pointer btn action"
		(mousedown)="back($event)" *ngIf="selectedIndex > 0">
		<icon-app  fontSet="fa" name="angle-left" color="white"></icon-app>
	</div>
	<div class="move-btn next flexCenter cercle pointer btn action"
		(mousedown)="next($event)" *ngIf="selectedIndex < (images.length - 1)">
		<icon-app  fontSet="fa" name="angle-right" color="white"></icon-app>
	</div>
	<div class="btn rotate pointer action" (click)="rotate()">rotate</div>

	<icon-app
		fontSet="fa"
		name="ellipsis-v"
		color="white"
		background="transparent"
		class="menuIc btn action"
		aria-label="more"
		(click)="openMenu()"></icon-app>

	<!-- menu -->
	<menu class="z-2 flexColumn action" (clickOutside)="closeMenu()" *ngIf="menuOpen">
		<menuitem (click)="download()"> download </menuitem>
		<menuitem (click)="delete()"> delete </menuitem>
	</menu>

	<div class="counter action">{{ selectedIndex + 1 }} / {{ images.length }}</div>
</div>
<ng-container *ngIf="hasModalCarousel">
	<modal-carousel-app
		[selectedIndex]=[selectedIndex]
		[images]="images"
		*ngIf="modalOpen"
		(close)="closeModal()"></modal-carousel-app>
</ng-container>


<image-previewer-app
	*ngIf="hasPreview"
	(imageClick)="onPreviewClick($event)"
	(fileAdded)="onFileAdded($event)"
	[images]="images"></image-previewer-app>
