:host{
	display: block;
}

.ctnr {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	height: auto;
	width: 100%;
	overflow: hidden;
	min-height: 200px;
}

.action {
	visibility: hidden;
}

.ctnr:hover > .action {
	visibility: visible;
}

.menuIc {
	position: absolute;
	top: var(--spacing-m);
	right: var(--spacing-m);
}

menu {
	position: absolute;
	top: var(--spacing-xl);
	right: var(--spacing-m);
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius);
	width: var(--spacing-l);
	height: var(--spacing-l);
	color: white;
	background: rgba(0, 0, 0, 0.6);
}

.move-btn {
	color: white;
	position: absolute;
	top: 50%;
}

.back {
	left: var(--spacing-m);
}

.next {
	right: var(--spacing-m);
}

.img-ctnr {
	height: 100%;
	border-radius: var(--border-radius);
	overflow: hidden;
	img-app {
		min-width: 100%;
		min-height: 100%;
	}
}

.rotate {
	position: absolute;
	padding: 0 var(--spacing-m);
	color: white;
	display: flex;
	align-items: center;
	right: var(--spacing-xxl);
	top: var(--spacing-m);
}

.counter {
	position: absolute;
	bottom: var(--spacing-m);
	right: var(--spacing-m);
	border-radius: var(--border-radius);
	padding: var(--spacing-xs);
	color: white;
	background: rgba(0, 0, 0, 0.6);
}