<ng-container *ngIf="user$ | async as user">

	<!-- gotta get the info in team members because not every info is in user.. -->
	<user-picture-with-name-app [user]="user.id | entity: 'teamMembers' | async">
		<div class="team">{{ user?.currentTeamId | entityName: 'teams' | async }}</div>
	</user-picture-with-name-app>

	<div class="panelCtnr">
		<icon-app name="sort-down" class="pointer" (click)="openPanel()"></icon-app>
		<user-panel-app *ngIf="panelVisible" (clickOutside)="closePanel()"></user-panel-app>
	</div>

</ng-container>
