:host {
	display: flex;
	align-items: center;
}

:host > * {
	margin: 8px;
}


.info {
	font-size: 12px;
	font-weight: bold;
	line-height: 15px;
	font-weight: bold;
	.team {
		font-weight: 400;
	}
}

.panelCtnr {
	position: relative;
}

user-panel-app{
	position: absolute;
	bottom: 70px;
	right: 0px;
}