<table-app
	[typename]="typename"
	[rows]="rows"
	[pending]="pending"
	[isSeaching]="isFiltering"
	[selected]="selection"
	[hasMenu]="false"
	[placeholder]="'placeholder.no-data' | translate"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(bottomReached)="bottomReached.emit()"
	(showItemsPerPage)="showItemsPerPage.emit($event)"
	(createClick)="createClick.emit()"
	i18n-placeholder="@@no-data">

	<!-- icon -->
	<ng-template
		[columnApp]="''"
		let-row="row"
		[grows]="false">
		<div class="user-icon flexCenter">
			<logo-app
				[typename]="typename"
				size="s"
				color="txt-third"
				backgroundColor="bg-secondary"></logo-app>
		</div>
	</ng-template>

	<!-- TODO dynamic columns -->
	<!-- Name Category -->
	<ng-template
		*ngIf="typename !== 'Event'"
		[columnApp]="'header.name' | translate"
		let-row="row"
		width="250">
		<editable-container-app
			#editable
			(closed)="updateNameEntity($event, row, txtName?.value)"
			[hasAction]="true">
			<editable-display-app class="task-name">
				{{ row?.name || '-' }}
			</editable-display-app>
			<input inputApp #txtName [value]="row?.name || ''" (keyup.enter)="editable.close()" />
		</editable-container-app>
	</ng-template>

	<!-- Name Event -->
	<ng-template
		*ngIf="typename === 'Event'"
		[columnApp]="'header.name' | translate"
		let-row="row"
		width="250"
		sortBy="description.name">
		<div class="flexBetween">
			<!-- remember that we take the name inside the even description entity -->
      <editable-container-app #editable (closed)="updateNameEntity($event, row, txtName?.value, 'description')" [hasAction]="true">
        <editable-display-app class="task-name">
          {{ row?.description?.name || '-' }}
        </editable-display-app>
        <input inputApp #txtName [value]="row?.description?.name || ''" (keyup.enter)="editable.close()" />
      </editable-container-app>
		</div>
	</ng-template>

	<!-- Created By -->
	<ng-template
		*ngIf="typename !== 'Event' && typename !== 'Supplier'"
		[columnApp]="'header.created-by' | translate"
		let-row="row"
		width="140">
		<span class="flexVAlign created-by-container">
			<span class="created-by">
				{{ row?.createdBy | formatUserName: true }}
			</span>
		</span>
	</ng-template>

	<!-- Products Count -->
	<ng-template
		*ngIf="typename === 'Supplier'"
		[columnApp]="'nav.products' | translate"
		let-row="row"
		[sortable]="false"
		width="140">
		<span>
			{{ row?.productsLinked?.count }}
		</span>
	</ng-template>

	<!-- Supplier Count -->
	<ng-template
		*ngIf="false"
		[columnApp]="'nav.suppliers' | translate"
		let-row="row"
		[sortable]="false"
		width="140">
		<span>
			{{ row?.suppliersLinked?.count }}
		</span>
	</ng-template>

	<!-- Contacts Count -->
	<ng-template
		*ngIf="'Supplier' === typename"
		[columnApp]="'Contact count' | const: 'messages'"
		let-row="row"
		[sortable]="false"
		width="140">
		<span>
			{{ row?.contactsLinked?.count }}
		</span>
	</ng-template>

	<!-- Start Date (Event only) -->
	<ng-template
		*ngIf="typename === 'Event'"
		[columnApp]="'header.start-date' | translate"
		let-row="row"
		sortBy="description.startDate"
		width="140">
		<span>
			{{ row?.description?.startDate | date: 'MMMM d, y':'':translate.currentLang }}
		</span>
	</ng-template>

	<!-- End Date (Event only) -->
	<ng-template
		*ngIf="typename === 'Event'"
		[columnApp]="'header.end-date' | translate"
		let-row="row"
		sortBy="description.endDate"
		width="140">
		<span>
			{{ row?.description?.endDate | date: 'MMMM d, y':'':translate.currentLang }}
		</span>
	</ng-template>

	<!-- action -->
	<ng-template
		[columnApp]="'Action' | const: 'action'"
		let-row="row"
		width="40">
		<div class="flex">
			<button class="icon small warn" (click)="delete.emit(row)">
				<icon-app name="trash" size="s"></icon-app>
			</button>
		</div>
	</ng-template>

</table-app>
