<table-app
	[type]="entityMetadata.singular"
	[rows]="rows"
	[pending]="pending"
	[isSeaching]="isFiltering"
	[selected]="selection"
	[hasMenu]="false"
	[total]="total"
	[currentPage]="currentPage"
	[placeholder]="'placeholder.no-data' | translate"
	(goToPage)="goToPage.emit($event)"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(bottomReached)="bottomReached.emit()"
	(sort)="sort.emit($event)"
	(hovered)="onHover($event)"
	(showItemsPerPage)="showItemsPerPage.emit($event)"
	i18n-placeholder="@@no-data">

	<!-- icon -->
	<ng-template
		[columnApp]="''"
		let-row="row"
		[grows]="false">
		<div class="user-icon flexCenter">
			<logo-app
				type="category"
				size="s"
				color="txt-third"
				backgroundColor="bg-secondary"></logo-app>
		</div>
	</ng-template>

	<!-- TODO dynamic columns -->
	<!-- Name Category -->
	<ng-template
		*ngIf="ermEvent !== entityMetadata"
		[columnApp]="'header.name' | translate"
		let-row="row"
		width="250">
		<editable-container-app
			#editable
			(closed)="updateNameEntity($event, row, txtName?.value)"
			[hasAction]="true">
			<editable-display-app class="task-name">
				{{ row?.name || '-' }}
			</editable-display-app>
			<input inputApp #txtName [value]="row?.name || ''" (keyup.enter)="editable.close()" />
		</editable-container-app>
		<!-- <button *ngIf="(row.id === idEntityHovered) && (selection.size == 0)"  class="button secondary-dark" (click)="renameEntity.emit(row)">Rename</button> -->
	</ng-template>

	<!-- Name Event -->
	<ng-template
		*ngIf="ermEvent === entityMetadata"
		[columnApp]="'header.name' | translate"
		let-row="row"
		width="250"
		sortBy="description.name">
		<div class="flexBetween">
			<!-- remember that we take the name inside the even description entity -->
      <editable-container-app #editable (closed)="updateNameEntity($event, row, txtName?.value, 'description')" [hasAction]="true">
        <editable-display-app class="task-name">
          {{ row?.description?.name || '-' }}
        </editable-display-app>
        <input inputApp #txtName [value]="row?.description?.name || ''" (keyup.enter)="editable.close()" />
      </editable-container-app>
			<!-- <button *ngIf="(row.id === idEntityHovered) && (selection.size == 0)"  class="button secondary-dark" (click)="renameEntity.emit(row)">Rename</button> -->
		</div>
	</ng-template>

	<!-- Created By -->
	<ng-template
		*ngIf="ermEvent !== entityMetadata && ermSupplier !== entityMetadata"
		[columnApp]="'header.created-by' | translate"
		let-row="row"
		width="140">
		<span class="flexVAlign created-by-container">
			<span class="created-by">
				{{ row?.createdBy | formatUserName: true }}
			</span>
		</span>
	</ng-template>

	<!-- Products Count -->
	<ng-template
		*ngIf="ermCategory === entityMetadata || ermTag === entityMetadata || ermSupplier === entityMetadata"
		[columnApp]="'nav.products' | translate"
		let-row="row"
		[sortable]="false"
		width="140">
		<span>
			{{ row?.productsLinked?.count }}
		</span>
	</ng-template>

	<!-- Supplier Count -->
	<ng-template
		*ngIf="ermCategory === entityMetadata || ermTag === entityMetadata"
		[columnApp]="'nav.suppliers' | translate"
		let-row="row"
		[sortable]="false"
		width="140">
		<span>
			{{ row?.suppliersLinked?.count }}
		</span>
	</ng-template>

	<!-- Contacts Count -->
	<ng-template
		*ngIf="ermSupplier === entityMetadata"
		[columnApp]="'Contact count' | const: 'messages'"
		let-row="row"
		[sortable]="false"
		width="140">
		<span>
			{{ row?.contactsLinked?.count }}
		</span>
	</ng-template>

	<!-- Start Date (Event only) -->
	<ng-template
		*ngIf="ermEvent === entityMetadata"
		[columnApp]="'header.start-date' | translate"
		let-row="row"
		sortBy="description.startDate"
		width="140">
		<span>
			{{ row?.description?.startDate | date: 'MMMM d, y':'':translate.currentLang }}
		</span>
	</ng-template>

	<!-- End Date (Event only) -->
	<ng-template
		*ngIf="ermEvent === entityMetadata"
		[columnApp]="'header.end-date' | translate"
		let-row="row"
		sortBy="description.endDate"
		width="140">
		<span>
			{{ row?.description?.endDate | date: 'MMMM d, y':'':translate.currentLang }}
		</span>
	</ng-template>

	<!-- action -->
	<ng-template
		[columnApp]="'Action' | const: 'action'"
		let-row="row"
		width="40">
		<div class="flex">
			<button class="icon small warn" (click)="delete.emit(row)">
				<icon-app name="trash" size="s"></icon-app>
			</button>
		</div>
	</ng-template>

</table-app>
