<h3 i18n>Product Information</h3>

<h5 i18n>General Information</h5>
<ul>

	<li>
		<label i18n="label|product supplier"> Supplier </label>
		<editable-field-app [value]="product?.supplierId" type="select-entity"
			[entityRep]="supplierRep" (update)="onUpdate('supplierId', $event)">
		</editable-field-app>
	</li>

	<li>
		<label i18n="label|product category"> Category </label>
		<editable-field-app [value]="product?.categoryId" type="select-entity"
			[entityRep]="categoryRep" (update)="onUpdate('categoryId', $event)">
		</editable-field-app>
	</li>

	<li>
		<label i18n="label|product name"> Name </label>
		<editable-field-app [value]="product?.name" (update)="onUpdate('name', $event)"> </editable-field-app>
	</li>


	<li>
		<label i18n="label|product price"> Price </label>
		<editable-field-app
			[value]="product?.price"
			type="price"
			(update)="onUpdate('price', $event)">
		</editable-field-app>
	</li>
	<li>
		<label i18n="label|product minimum order quantity / MOQ"> MOQ </label>
		<editable-field-app [value]="product?.minimumOrderQuantity" type="number"
			(update)="onUpdate('minimumOrderQuantity', $event)">
		</editable-field-app>
	</li>

	<li>
		<label i18n="label|product was found at (event)"> Found at </label>
		<editable-field-app [value]="product?.eventId" type="select-entity"
			[entityRep]="eventRep" (update)="onUpdate('eventId', $event)">
		</editable-field-app>
	</li>
</ul>
