:host {
	display: block;
	padding: var(--spacing-default);
}

h3{
	text-align: center;
	margin-bottom: var(--spacing-l);
}

h5 {
	margin-bottom: var(--spacing-default);
}

li {
	list-style-type: none;
	label {
		flex-grow: 1;
	}
	display: flex;
	border-bottom: 1px solid var(--color-delimiter);
	padding: var(--spacing-xs);
	padding-left: 0;
}