<kanban-app
  [cols]="columns$ | async"
  [cardTemplate]="card"
  [amountLoaded]="amountLoaded"
  (drop)="onUpdateProductStatus($event)"
  (multipleDrop)="updateProductsStatus($event)"
  (selectColumn)="onColumnSelected($event)"
  (unselectColumn)="onColumnUnselected($event)"
  (loadMore)="loadMore($event)">
</kanban-app>

<ng-template #card
  let-data="data"
  let-column="column"
  let-dragInProgress="dragInProgress"
  let-checked="checked"
  let-selectItem="selectItem"
  let-unselectItem="unselectItem"
  let-previewClick="previewClick">
	<product-card-app
    [product]="data"
		[enablePreviewLink]="true"
		[highlightOnChecked]="true"
    [checked]="(selection | async).has(data.id)"
    (clickImage)="preview.emit(data)"
    (select)="onSelectedOne($event, column)"
    (unselect)="onUnselectedOne($event, column)">
  </product-card-app>
</ng-template>