:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

$left-width: 360px;

.left {
	width: $left-width;
}

.right {
	width: calc(100% - #{$left-width});

	img-app {
		height: 40px;
		width: 40px;
		margin-right: var(--spacing-l);
		border-radius: 50%;
	}

	.message-container {
		.name {
			color: var(--color-txt-strong);
			margin-bottom: var(--spacing-ms);
			font-weight: 600;
		}
		.message {
			white-space: pre-line;
			word-break: break-all;
			padding-right: var(--spacing-l);
			color: var(--color-txt-strong);
	 }
	}
}

bottom-panel-app {
	> * {
		&:not(:last-child) {
			margin-right: var(--spacing-ms);
		}
	}
}
