<table-app
	[rows]="rows"
	[pending]="pending"
	[hasMenu]="false"
	[hasSelection]="false"
	[count]="count"
	[currentPage]="currentPage"
  [currentSort]="currentSort"
	[placeholder]="'placeholder.no-team-member' | translate"
	(goToPage)="goToPage.emit($event)"
	(bottomReached)="bottomReached.emit()"
	(showItemsPerPage)="showItemsPerPage.emit($event)"
	(sort)="sort.emit($event)">

	<!-- icon -->
	<ng-template
		[columnApp]="''"
		let-row="row"
		width="20">
		<div class="user-icon flexCenter">
			<icon-app class="color-third" name="contact" size="s"></icon-app>
		</div>
	</ng-template>

	<!-- user name -->
	<ng-template
		[columnApp]="'header.name' | translate"
		sortBy="user.firstName"
		let-row="row"
		width="250"
		[sortOrder]="'DESC'">
		<div class="flexVAlign">
			<span class="user-name">
				{{ row.user.firstName }} {{ row.user.lastName }}
			</span>
		</div>
	</ng-template>

	<!-- email -->
	<!-- TODO: translation to be added for E-Mail -->
	<ng-template
		class="capitalize"
		columnApp="E-Mail"
		let-row="row"
		sortBy="user.email"
		width="250">
		<div class="email ellipsis">
			{{ row.user.email  }}
		</div>
	</ng-template>

	<!-- access type -->
	<ng-template
		[columnApp]="'header.status' | translate"
		let-row="row"
		sortBy="status"
		width="140">
		<span class="status capitalize">
			{{ row.accessType }}
		</span>
	</ng-template>

	<!-- action -->
	<ng-template
		[columnApp]="'Action' | const: 'action'"
		let-row="row"
		width="100">
		<div class="flex">
			<button class="icon small warn" (click)="delete.emit(row)">
				<icon-app name="trash" size="s"></icon-app>
			</button>
		</div>
	</ng-template>

</table-app>
