.top {
	text-align: center;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: var(--color-txt-strong);
}

h2 {
	font-weight: normal;
	margin-bottom: 64px;
}
a{
	font-weight: normal;
}
.button {
	height: 36px;
	margin-bottom: var(--spacing-default);
}