:host {
	background: var(--color-bg);
	border-top: 3px solid var(--color-primary);
	box-sizing: border-box;
	width: 100%;
	// cause of the border-top the component gets drown to the bottom of the page
	margin-bottom: 5px;
	padding: var(--spacing-ms) var(--spacing-l);
}
