<ng-container *ngIf="!pending; else spinner">
	<ng-container *ngIf="comments.length > 0; else noActivity">
		<div *ngFor="let comment of comments; let last = last" class="flex ctnr">

			<!-- icon displayed on the left -->
			<div class="iconCtnr">
				<comment-badge-app [pending]="comment.pending"></comment-badge-app>
				<div class="vbar" *ngIf="!last"></div>
			</div>

			<comment-app [comment]="comment"></comment-app>
		</div>
	</ng-container>

	<ng-template #noActivity i18n>
		There doesn't seem to be any comment yet, leave one !
	</ng-template>
</ng-container>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>
