<div class="title-container-boarding flex">
	<button class="icon light" (click)="previousPage()">
		<icon-app name="back-arrow"></icon-app>
	</button>
	<h1>What kind of business are you?</h1>
</div>


<form [formGroup]="form">
	<form-field-app class="boarding">
		<label-app>Business Type</label-app>
		<selector-const-app
			#selector
			type="businessType"
			itemName="your business type"
			customStyle="onboarding-big"
			[currentItem]="form.get('businessType').value"
			(change)="change($event)">
		</selector-const-app>
		<input inputApp [hidden]="true" type="text" fomrControlName="businessType"/>
	</form-field-app>
</form>

<input class="boarding" type="submit" value="Next" (click)="onSubmit()">

