:host {
	height: 630px;
	padding-top: 120px;
	display: table;
}

form {
	margin-bottom: 36px;
}
.type-container {
	margin-bottom: var(--spacing-xxxl);
}

selector-const-app {
	width: 500px;
	cursor: pointer;
}