<dialog-app>
  <dialog-header-app translate="header.add-products-to-project">
  </dialog-header-app>

  <div *ngIf="listSrv.items$ | async as products; else spinner">
    <controller-list-app
      [hasSwitch]="false"
      [hasFilter]="false"
      (search)="listSrv.search($event)"
      (smartSearch)="listSrv.smartSearch($event)">

      <search-autocomplete-app [xPosition]="0" [yPosition]="35" [width]="386">
        <search-autocomplete-item-app *ngFor="let element of (listSrv.smartSearchFilterElements$ | async);trackBy: trackByFn">
          <search-autocomplete-item-content-app
            [selectable]="true" [title]="element.name" [subtitle]="element.type"
            [checked]="element.checked" [icon]="element.type">
          </search-autocomplete-item-content-app>
        </search-autocomplete-item-app>
      </search-autocomplete-app>

    </controller-list-app>

    <products-card-view-dialog-app
      class="list-view"
      [selection]="listSrv.selection$ | async"
      [rows]="products"
      [pending]="listSrv.pending"
      (previewClick)="listSrv.openPreview($event)"
      (select)="onItemSelected($event, true)"
      (unselect)="onItemUnselected($event)"
      (open)="listSrv.goToDetails($event)"
			(favorited)="listSrv.onItemFavorited($event)"
			(unfavorited)="listSrv.onItemUnfavorited($event)"
      (bottomReached)="listSrv.loadMore()"
			(sort)="listSrv.sort($event)">
		</products-card-view-dialog-app>
	</div>

	<dialog-footer-app class="flexBetween">
		<div class="left flexCenter">
			<ng-container	*ngIf="(listSrv.selection$ | async) as selected">
        <div *ngIf="(listSrv.selection$ | async).size > 0" style="align-items: center" class="capitalize alignCenter">
          {{ ((selected?.size || 0) > 1 ? 'OBJ.n-product.selected.plural' : 'OBJ.n-product.selected.singular') | translate: {count: (selected?.size || 0)} }}
				</div>
			</ng-container>
		</div>
		<div class="right flexCenter">
				<button class="cancel secondary" (click)="closeDlg()" translate="button.cancel"></button>
				<button class="save" (click)="submit()" translate="button.update-products"></button> <!-- disabled]="!hasSelectedProducts()" -->
		</div>
	</dialog-footer-app>

</dialog-app>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>
