.export-icon {
	icon-app {
		color: var(--color-txt-third);
	}
}

.tool-tip {
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.status {
	font-size: var(--font-size-m);
}

.small {
	height: var(--spacing-l);
}
