<table-app
	[placeholder]="'placeholder.no-exports' | translate"
	[rows]="rows"
	[hasSelection]="false"
	[hasPaddingPagination]="true"
	[hasBorder]="hasBorder"
	[currentSort]="currentSort"
	[pending]="pending"
	[contextualMenu]="contextualMenuTemplate"
	[count]="count"
	[currentPage]="currentPage"
	(goToPage)="goToPage.emit($event)"
	(sort)="sort.emit($event)"
	(bottomReached)="bottomReached.emit()"
	(showItemsPerPage)="showItemsPerPage.emit($event)">

		<!-- dynamic columns -->
		<ng-template
			*ngFor="let column of columnsConfig; trackBy: trackByFn"
			let-row="row"
			[columnApp]="column.translationKey ? ('title.' + column.translationKey | translate) : ''"
			[sortable]="column.sortable !== false"
			[width]="column.width"
			[sortBy]="column.sortProperty"
			[grows]="!column.fixedWidth"
			[showOnHover]="column.showOnHover">
			<ng-container [ngSwitch]="column.name">

				<!-- type attachment for logo -->
				<default-columns-app
					*ngSwitchDefault
					[row]="row" 
					[column]="column" 
					[hovered]="row.id === hovered"
					[type]="'ATTACHMENT' | erm"
					(update)="update.emit($event)"
					(previewClick)="previewClick.emit($event)"
					(nameClick)="open.emit($event)"
					(previewClick)="previewClick.emit($event)"
					(logoClick)="previewClick.emit($event)">
				</default-columns-app>

				<!-- file name -->
				<ng-container *ngSwitchCase="'fileName'">
					<div class="capitalize file-name">
						{{ getFileName(row?.documentUrl) }}
					</div>
				</ng-container>

				<!-- action -->
				<ng-container *ngSwitchCase="'download'">
					<div toolTip [toolTipMessage]="getToolTipMsg(row?.status)" toolTipPosition="above-right">
						<button
							class="primary"
							[disabled]="row?.status !== 'ready'"
							(click)="download.emit(row)">
							<icon-app name="import"></icon-app>
						</button>
					</div>
				</ng-container>

				<!-- status -->
				<ng-container *ngSwitchCase="'status'">
					<span class="status capitalize" [ngStyle]="{'color': getStatusColor(row?.status)}">
						{{ 'text.' + row?.status | translate }}
					</span>
				</ng-container>

			</ng-container>

		</ng-template>

</table-app>

<!-- contextual menu -->
<ng-template #contextualMenuTemplate let-row="row">
	<context-menu-item-app
		class="pointer flexCenter"
		(click)="download.emit(row)"
		translate="button.download">
	</context-menu-item-app>
</ng-template>
	