
.tool-tip {
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.status {
	font-size: var(--font-size-m);
}

.small {
	display: flex;
	width: var(--spacing-l);
	height: var(--spacing-l);
}