<user-picture-app
	[user]="user"
	[image]="user?.avatar"
	[border]="true"
	size="44">
</user-picture-app>

<div class="comment-content flexColumn">
	<!-- comment header -->
	<div class="comment-header flexBetween">
		<!-- title -->
		<div class="title flexColumn">
			<span class="name flex">{{user?.firstName }} {{user?.lastName }}</span>
			<span class="date">{{ comment?.creationDate | date: 'dd MMM y' }}</span>
		</div>
		<!-- buttons -->
		<div *ngIf="isMine && !isEditing" class="buttons flex hover-buttons">
			<button class="light" (click)="onDelete()">delete</button>
			<button class="light" (click)="enableEdit(text?.nativeElement?.clientHeight)">edit</button>
		</div>
	</div>

	<!-- comment content -->
	<!-- editing -->
	<ng-container *ngIf="isEditing; else notEditing">
		{{ currentHeight }}
		<!-- DON'T put the comment text on a new line, since it has property 'white-space: pre-line' it will modify the view -->
		<textarea
			inputApp
			#textArea
			[ngStyle]="{ 'height': currentHeight < 46 ? '46' : currentHeight + 'px' }">{{ comment?.text }}</textarea>
		<div class="buttons flexEnd">
			<button class="light" (click)="isEditing = false">cancel</button>
			<button (click)="onSave(textArea?.value)">save</button>
		</div>
	</ng-container>

	<!-- not editing -->
	<ng-template #notEditing>
		<div #text class="text" [innerHtml]="urlify(comment?.text)"></div>
	</ng-template>
</div>
