.top {
	text-align: center;
}

h1, h2 {
	white-space: nowrap;
}

h1 {
	font-size: 36px;
	font-family: var(--font-title);
	color: var(--color-txt-strong);
	text-align: center;
	font-weight: bold;
	margin-bottom: var(--spacing-m);
}

h2 {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: var(--spacing-xxxl);
	text-align: center;
	font-family: var(--font-normal);
	text-transform: none;
}

error-app {
	color: var(--color-warn);
	margin-bottom: var(--spacing-m);
	display: block;
}

a{
	font-weight: normal;
	&.button {
		text-transform: none;
	}
}

form {
	display: block;
	width: 376px;
}

.button {
	height: 36px;
	margin-top: var(--spacing-m);
}
spinner-app {
	margin: auto;
}