<card-app>

	<dynamic-form-app
		[customFields]="customFields"
		[editable]="true"
		(formCreated)="onFormCreated($event)"></dynamic-form-app>
	<!--<selector-entity-app type="country" [(ngModel)]="country" [multiple]="true"></selector-entity-app>
	<p>{{ country | json }}</p>
	<selector-entity-app type="currency" [(ngModel)]="currency"></selector-entity-app>
	<p>{{ currency | json }}</p>
	<selector-entity-app type="harbour" [(ngModel)]="harbour"></selector-entity-app>
	<p>{{ harbour | json }}</p>
	<selector-entity-app type="incoTerm" [(ngModel)]="incoTerm"></selector-entity-app>
	<p>{{ incoTerm | json }}</p>

	<selector-entity-app type="supplier" [(ngModel)]="supplier" [multiple]="true"></selector-entity-app>
	<p>{{ supplier | json }}</p>

	<selector-entity-app type="category" [(ngModel)]="category"></selector-entity-app>
	<p>{{ category | json }}</p>-->
<!--
	<selector-entity-app type="event" [(ngModel)]="event"></selector-entity-app>
	{{ event | json }} -->

	 <!-- <cell-two-row-app [title]="'Country'">
		<custom-editable-field-app
			type="country"
			[multiple]="true"
			[value]="country"
			[label]="country">
		</custom-editable-field-app>
	</cell-two-row-app>

	{{ country | json }}

	<cell-two-row-app [title]="'text'">
		<custom-editable-field-app
			type="text"
			[value]="text"
			[label]="text">
		</custom-editable-field-app>
	</cell-two-row-app>

	{{ text | json }} -->

</card-app>


