.row {
	padding: 6px 0px;
	padding-right: var(--spacing-ms);

	icon-app {
		cursor: default;
	}

	.task-name {
		width: 55%;
		color: var(--color-txt-strong);

		icon-app {
			margin-right: var(--spacing-s);
		}
	}

	.task-product, .task-supplier {
		img-app {
			margin-right: var(--spacing-s);
			height: 20px;
    	width: 20px;
		}
	}

	.task-supplier {
		width: 40%;
	}

	.task-user-status, .task-user {
		user-picture-app {
			font-size: var(--font-size-xs);
			margin-right: var(--spacing-s);
		}
	}

	.task-user-status {
		width: 35%;

		.task-status {
			padding-top: 2px;
			border-radius: 500px;

			&.task-done {
				color: white;
				background: var(--color-success);
			}

			&.task-overdue {
				color: white;
				background: var(--color-warn);
			}

			&.task-pending {
				background: var(--color-secondary);
			}

			icon-app {
				padding: var(--spacing-s);
				padding-top: 6px;
				font-size: 6px;
			}

			p {
				padding-right: var(--spacing-s);
				text-transform: capitalize;
			}
		}
	}

	// .task-user- { //in case the old design comes back
	// 	user-picture-app {
	// 		font-size: var(--font-size-s);
	// 		margin-right: var(--spacing-s);
	// 	}
	// }


}