<!-- images -->
<ng-container *ngIf="images.length > 0; else noImg">
	<!-- carousel -->
	<carousel-app
		[entity]="entity"
		[images]="images"
		[selectedIndex]="selectedIndex"
		[objectFit]="objectFit"
		(imgClick)="openModal($event)"
		(deleted)="onDelete($event)">
	</carousel-app>

</ng-container>
<!-- no image -->
<ng-template #noImg>
	<div class="flexColumn flexCenter empty">
		<img [src]="defaultImg"/>
		<span>No picture yet</span>
		<button class="secondary" (click)="openFileBrowser()">Add Picture</button>
	</div>
</ng-template>

<input #inpFile multiple="true" type="file" accept="image/*" (fileSelect)="add($event)"/>