:host {
	display: block;
}

.with-preview {
	height: 450px;
}

.no-preview {
	height: 392px;
}

carousel-app {
	height: 100%;
}

.empty {
	height: 100%;
	font-style: italic;
	color: var(--color-txt-secondary);
	background: var(--color-secondary-light);
	height: 392px;
	img {
		margin-bottom: var(--spacing-s);
	}
	button.secondary {
		margin-top: var(--spacing-s);
		font-weight: 600;
	}
}