:host {
	display: flex;
	margin: 0px var(--spacing-l);
	height: calc(100% - 305px);
	padding-bottom: var(--spacing-l);
}

.member a {
	display: flex;
	align-items: center;
	font-weight: 600;
	checkbox-app {
		margin-right: var(--spacing-s);
	}
}

.review {
	font-weight: 600;
	background: var(--color-secondary);
	color: var(--color-txt);
	padding: var(--spacing-xs) var(--spacing-l);
	border-radius: var(--border-radius);
	border: 1px solid var(--color-txt);
}

user-picture-app {
	margin-right: var(--spacing-s);
}

table-app {
	margin-left: auto;
	margin-right: auto;
}

.memberIcon {
	height: 24px;
	width: 24px;
	margin-right: var(--spacing-s);
	flex-shrink: 0;
}

a:hover {
	text-decoration: underline;
	color: var(--color-primary);
}

menu {
	left: 10px;
	border: solid 1px var(--color-secondary-light);
	background-color: var(--color-secondary);
	width: 150px;
	z-index: 1000;
}

menuitem {
	padding: 10px;
}

context-menu-trigger-app {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-secondary);
	height: 32px;
	width: 111px;
	padding-left: 25px;
	padding-right: 10px;

	.text {
		color: var(--color-txt-primary);
	}

	.selector {
		color: var(--color-txt-secondary);
	}
}

context-menu-item-app {
	width: 200px;

	&.remove-user {
		color: var(--color-warn);
	}
}
