:host {
	display: block;
}
user-picture-app {
	margin-right: var(--spacing-s);
}

.editTitle {
	margin: var(--spacing-default) 0;
}
.edit {
	margin-right: var(--spacing-s);
	&:hover {
		text-decoration: underline;
		color: var(--color-primary);
	}
}

.clear {
	&:hover{
		text-decoration: underline;
		color: var(--color-warn);
	}
}

checkbox-app {
	margin-bottom: var(--spacing-s);
}