<menu class="z-4">
	[userdesc]
	<div class="hr"></div>
	<menuitem class="pointer flexCenter" (click)="goToSettings()" i18n="user menu | go to settings">Settings</menuitem>
	<menuitem class="pointer flexCenter" (click)="goToDataManagement()" i18n="user menu | go to page for managing user data like tags">Data Management</menuitem>
	<menuitem class="pointer flexCenter" (click)="pickTeam()" i18n="user menu | teams">Teams</menuitem>
	<menuitem class="pointer flexCenter" (click)="pickLanguage()" i18n="user menu | user can pick a language">Language</menuitem>
	<menuitem class="pointer flexCenter" (click)="sendFeedback()" i18n="user menu | send feedback">Send feedback</menuitem>
	<div class="hr"></div>
	<menuitem class="pointer flexCenter" (click)="logout()" i18n="user menu | logout">Logout</menuitem>
</menu>