
<sub-panel-app
	title="Invitations"
	buttonName="Invite Collaborator"
	[hasSwitch]="false"
	[hasFilter]="false"
	[hasCreate]="true"
	[buttonIcon]="false"
	(search)="search($event)"
	(buttonClick)="openInviteDialog()">

</sub-panel-app>

<ng-container *ngIf="items$ | async as invitations">
	<invitations-list-view-app
		[rows]="invitations"
		[selection]="selected$ | async"
		[pending]="pending"
		(bottomReached)="loadMore()"
		(sort)="sort($event)"
		(select)="onItemSelected($event)"
		(unselect)="onItemUnselected($event)"
		(selectAll)="selectAll($event)"
		(unselectAll)="resetSelection()"
		(delete)="deleteOne($event)">
	</invitations-list-view-app>

	<!-- ng-container *ngIf="selected$ | async as selected">
		<selection-bar-app
			[ngClass]="{ 'collapsed-menu': !(menuCollapsed$ | async), 'expanded-menu': (menuCollapsed$ | async) }"
			(close)="resetSelection()"
			(delete)="deleteSelection()"
			*ngIf="selected.size > 0"
			[selection]="selected"></selection-bar-app>
	</ng-container -->
</ng-container>


