
<sub-panel-app
	title="Invitations"
	buttonName="Invite Collaborator"
	[hasSwitch]="false"
	[hasFilter]="false"
	[hasCreate]="true"
	[buttonIcon]="false"
	(search)="search($event)"
	(buttonClick)="openInviteDialog()">

</sub-panel-app>

<ng-container *ngIf="(listSrv.items$ | async) as invitations">
	<invitations-list-view-app
		[rows]="invitations"
		[selection]="listSrv.selection$ | async"
		[pending]="listSrv.pending"
		(bottomReached)="listSrv.loadMore()"
		(sort)="listSrv.sort($event)"
    (select)="listSrv.selectOne($event, false)"
		(unselect)="listSrv.unselectOne($event, false)"
		(selectAll)="listSrv.selectAll($event, false)"
    (unselectAll)="listSrv.unselectAll()"
		(delete)="listSrv.deleteOne($event)">
	</invitations-list-view-app>

	<!-- ng-container *ngIf="selected$ | async as selected">
		<selection-bar-app
			[ngClass]="{ 'collapsed-menu': !(menuCollapsed$ | async), 'expanded-menu': (menuCollapsed$ | async) }"
			(close)="resetSelection()"
			(delete)="deleteSelection()"
			[isShown]="selected.size > 0"
			[selection]="selected"></selection-bar-app>
	</ng-container -->
</ng-container>


