
<sub-panel-app
	title="Invitations"
	[hasSwitch]="false"
	[hasFilter]="false"
	[hasCreate]="true"
	[buttonIcon]="false"
	(search)="listSrv.search($event)">

	<sub-panel-right-item-app>
		<div toolTip [toolTipMessage]="!teamOwner ? 'Only team owners can invite' : null" toolTipPosition="above-right">
			<button [disabled]="!teamOwner" (click)="openInviteDialog()">Invite Collaborator</button>
		</div>
	</sub-panel-right-item-app>
</sub-panel-app>

<ng-container *ngIf="(listSrv.items$ | async) as invitations">
	<invitations-list-view-app
		[rows]="invitations"
		[teamOwner]="teamOwner"
		[user]="user"
		[selection]="listSrv.selection$ | async"
		[pending]="listSrv.pending"
		(bottomReached)="listSrv.loadMore()"
		(sort)="listSrv.sort($event)"
    (select)="listSrv.selectOne($event, false)"
		(unselect)="listSrv.unselectOne($event, false)"
		(selectAll)="listSrv.selectAll($event, false)"
    (unselectAll)="listSrv.unselectAll()"
		(accessTypeUpdated)="updateAccessType($event)"
		(delete)="listSrv.deleteOne($event, true)">
	</invitations-list-view-app>

	<!-- ng-container *ngIf="selected$ | async as selected">
		<selection-bar-app
			[ngClass]="{ 'collapsed-menu': !(menuCollapsed$ | async), 'expanded-menu': (menuCollapsed$ | async) }"
			(close)="resetSelection()"
			(delete)="deleteSelection()"
			[isShown]="selected.size > 0"
			[selection]="selected"></selection-bar-app>
	</ng-container -->
</ng-container>


