<table-app
	[rows]="rows"
	[pending]="pending"
	[selected]="selection"
	[hasMenu]="false"
	[currentSort]="currentSort"
	[hasSelection]="false"
	[contextualMenu]="contextualMenuTemplate"
	[count]="count"
	[currentPage]="currentPage"
	(bottomReached)="bottomReached.emit()"
	(sort)="sort.emit($event)"
	(showItemsPerPage)="showItemsPerPage.emit($event)"
	(createClick)="createClick.emit()"
	placeholder="no project">

	<!-- contextual menu -->
	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-app
			class="pointer flexCenter"
			(click)="delete.emit(row)">
			delete
		</context-menu-item-app>
	</ng-template>

  <!-- dynamic columns -->
  <ng-template
    *ngFor="let column of columnsConfig; trackBy: trackByFn"
    let-row="row"
    [columnApp]="column.translationKey"
    [width]="column.width"
		[sortBy]="column.sortProperty">

    <ng-container [ngSwitch]="column.name">

			<ng-container *ngSwitchCase="'name'">
				<div class="name">{{ row?.definition?.label }}</div>
			</ng-container>

			<ng-container *ngSwitchCase="'default value'">
				<dynamic-editable-text-app
					[value]="row.defaultValue"
					[hasAction]="false"
					[hasLabel]="false"
					[customField]="getCustomField(row)"
					(update)="updateField(row, $event)">
				</dynamic-editable-text-app>
			</ng-container>

			<ng-container *ngSwitchCase="'fixed value'">
				<checkbox-app
					[checked]="row?.fixedValue"
					(check)="row.fixedValue = true"
					(uncheck)="row.fixedValue = false">
				</checkbox-app>
			</ng-container>

			<ng-container *ngSwitchCase="'in template'">
				<checkbox-app
					[checked]="row?.inTemplate"
					(check)="row.inTemplate = true"
					(uncheck)="row.inTemplate = false">
				</checkbox-app>
			</ng-container>

		</ng-container>
		<!-- end of switch -->

	</ng-template>
</table-app>

