<dialog-app>

	<dialog-header-app translate="header.export-selection"></dialog-header-app>
	<dialog-subtitle-app translate="header.export-type"></dialog-subtitle-app>

	<main class="exportRow">
		<div
			class="exportCell"
			[class.selected]="selectedFormat === 'XLS'"
			(click)="select(exportFormat.XLS)">
			<icon-app name="excel"></icon-app>
			<div class="title" translate="title.excel"></div>
			<div class="subtitle" translate="text.perfect-for-editing"></div>
		</div>
		<div
			*ngIf="canExportPdf"
			class="exportCell"
			[class.selected]="selectedFormat === exportFormat.PDF"
			toolTip
			[toolTipMessage]="'message.limit-50-pdf-per-export' | translate"
			toolTipShowDelay="100"
			(click)="select(exportFormat.PDF)">
			<icon-app name="pdf"></icon-app>
			<div class="title" translate="text.pdf"></div>
			<div class="subtitle" translate="text.perfect-for-sharing"></div>
		</div>
		<div
			*ngIf="canExportImages"
			class="exportCell image"
			[class.selected]="selectedFormat === exportFormat.IMAGE"
			(click)="select(exportFormat.IMAGE)">
			<icon-app name="image"></icon-app>
			<div class="title capitalize" translate="text.pictures"></div>
			<div class="subtitle" translate="text.all-product-pictures"></div>
		</div>
	</main>

	<dialog-footer-app class="full-width flexCenter flexBetween">
		<span class="txt-secondary">
			{{ 'OBJ.n-item-selected.' + (count === 1 ? 'singular' : 'plural') | translate: { count: count || 0 } }}
		</span>
		<button tabFocusAction class="capitalize" (click)="export.emit()" translate="button.export"></button>
	</dialog-footer-app>
</dialog-app>
