<h2 class="l flexStart">Samples</h2>
<!-- table -->
<samples-table-app
	class="no-padding"
	[rows]="listSrv.items$ | async"
	tableConfigType="medium"
	[columns]="['referenceName', 'statusCreationDate']"
	[selection]="listSrv.selection$ | async"
	[hasRequestCount]="true"
	[pending]="listSrv.pending"
	[hasMinHeight]="false"
	[hasHeader]="false"
	[hasMenu]="false"
	[hasPagination]="false"
	[rowHeight]="34"
	(sort)="listSrv.sort($event)"
	(select)="listSrv.selectOne($event, true)"
	(unselect)="listSrv.unselectOne($event, true)"
	(selectAll)="listSrv.selectAll($event, true)"
	(unselectAll)="listSrv.unselectAll()"
	(open)="listSrv.goToDetails($event)"
	(favorited)="listSrv.onItemFavorited($event)"
	(unfavorited)="listSrv.onItemUnfavorited($event)"
	(previewClick)="listSrv.openPreview($event)"
	(createClick)="dialogCommonSrv.openCreationSampleDialog(product)"
	(update)="listSrv.update($event)"
	(delete)="listSrv.deleteOne($event)">
</samples-table-app>

<!-- buttons -->
<div *ngIf="(listSrv.items$ | async)?.length" class="flex buttons-container">
	<button
		(click)="dialogCommonSrv.openCreationSampleDialog(product)">
		Create sample
	</button>
	<divider-app *ngIf="(listSrv.selection$ | async).size > 0" [vertical]="true"></divider-app>
	<button
		*ngIf="(listSrv.selection$ | async).size > 0"
		class="warn-light"
		(click)="listSrv.deleteSelected(true)">
		delete
	</button>
</div>

<!-- preview -->
<sample-preview-app
	*ngIf="listSrv.previewOpen"
	[sample]="listSrv.previewed"
	(close)="listSrv.closePreview()"
	(clickOutside)="listSrv.closePreview()">
</sample-preview-app>
