<h2 class="l flexStart">Samples</h2>

<ng-container *ngIf="(listSrv.items$ | async) as samples; else spinner">
	<ng-container *ngIf="samples?.length; else placeholder">
		<!-- list -->
		<sample-list-item-app
			*ngFor="let sample of samples; first as first; trackBy:trackById"
			[ngStyle]="first ? { 'padding-top' : 0 } : ''"
			[sample]="sample"
			[selection]="listSrv.selection$ | async"
			(nameClick)="listSrv.openPreview($event)"
			(select)="listSrv.selectOne($event, true)"
			(unselect)="listSrv.unselectOne($event, true)">
		</sample-list-item-app>
		<!-- buttons -->
		<div class="flex buttons-container">
			<button
				class="capitalize"
				(click)="dialogCommonSrv.openCreationSampleDialog(product)"
				translate="button.create-sample">
			</button>
			<divider-app *ngIf="(listSrv.selection$ | async).size > 0" [vertical]="true"></divider-app>
			<button
				*ngIf="(listSrv.selection$ | async).size > 0"
				class="warn-light capitalize"
				(click)="listSrv.deleteSelected(true)"
				translate="button.delete">
			</button>
		</div>
	</ng-container>
</ng-container>

<ng-template #placeholder>
	<entity-placeholder-app
		[type]="'SAMPLE' | erm: 'singular'"
		[title]="'No samples on this product'"
		[subtitle]="'Create & Track your samples'">
		<button class="capitalize" (click)="dialogCommonSrv.openCreationSampleDialog(product)" translate="button.create-sample"></button>
	</entity-placeholder-app>
</ng-template>

<ng-template #spinner>
	<dots-app class="flexCenter"></dots-app>
</ng-template>

<!-- preview -->
<sample-preview-app
	*ngIf="listSrv.previewOpen"
	[sample]="listSrv.previewed"
	(close)="listSrv.closePreview()"
	(clickOutside)="listSrv.closePreview()">
</sample-preview-app>
