#content {
  display: flex;
  > * {
    margin-right: 1px;
  }
  .padding {
    div {
      border: 1px solid black;
      display: inline-block;
    }
  }
  .margin {
    div {
      border: 1px solid black;
      display: inline-block;
    }
  }
}
