<div id="content">
  <card-app>
    <h3 class="mg-l">Spacings list</h3>
    <b>
      none: <small>0px</small>
    </b>
    <br>
    <b>
      xxs: <small>2px</small>
    </b>
    <br>
    <b>
      xs: <small>4px</small>
    </b>
    <br>
    <b>
      s: <small>8px</small>
    </b>
    <br>
    <b>
      ms: <small>12px</small>
    </b>
    <br>
    <b>
      m: <small>16px</small>
    </b>
    <br>
    <b>
      ml: <small>20px</small>
    </b>
    <br>
    <b>
      l: <small>24px</small>
    </b>
    <br>
    <b>
      xl: <small>32px</small>
    </b>
    <br><br>
    <p>
      You can use these spacings in a class for padding
      <br>
      <small>class="pd-(direction)-(spacing)"</small>
    </p>
    <p>
      or for margin
      <br>
      <small>class="mg-(direction)-(spacing)"</small>
    </p>
  </card-app>
  <card-app class="padding">
    <h3 class="mg-l">Padding</h3>
    <div class="pd-s">class="pd-s"</div><br><br>
    <div class="pd-top-s">class="pd-top-s"</div><br><br>
    <div class="pd-bottom-s">class="pd-bottom-s"</div><br><br>
    <div class="pd-right-s">class="pd-right-s"</div><br><br>
    <div class="pd-left-s">class="pd-left-s"</div><br><br>
  </card-app>
  <card-app class="margin">
    <h3 class="mg-l">Margin</h3>
    <div>
      <div class="mg-s">class="mg-s"</div>
    </div><br><br>
    <div>
      <div class="mg-top-s">class="mg-top-s"</div>
    </div><br><br>
    <div>
      <div class="mg-bottom-s">class="mg-bottom-s"</div>
    </div><br><br>
    <div>
      <div class="mg-right-s">class="mg-right-s"</div>
    </div><br><br>
    <div>
      <div class="mg-left-s">class="mg-left-s"</div>
    </div><br><br>
  </card-app>
</div>