context-menu-app {
	status-box-app {
		cursor: pointer;
	}

	.context-menu-item-app {
		min-width: 220px;
	}

}
.caretCtnr {
	display: flex;
	align-items: center;
	width: 100%;
	padding: var(--spacing-s);
	position: relative;
	border-left: 1px solid white;
	color: white;
	border-radius: 2px;
}

.status-item {
	color: var(--color-txt-strong);
	padding: 5px 10px;
	.status-box {
		display: inline-block;
		width: 12px;
		height: 12px;
		background-color: #45d8ff;
	}

	.status-name {
		display: inline-block;
		font-size: 14px;
		font-weight: 600;
	}
	&:hover {
		background-color: #45d8ff;
		color: white;
		border-radius: 5px;
	}
}

.status-item {
	color: var(--color-txt-strong);
	padding: 5px 10px;
	.status-box {
		display: inline-block;
		width: 12px;
		height: 12px;
		background-color: #45d8ff;
	}

	.status-name {
		display: inline-block;
		font-size: 14px;
		font-weight: 600;
	}
	&:hover {
		background-color: #45d8ff;
		color: white;
		border-radius: 5px;
	}
}

badge-app.task {
	text-transform: capitalize;
	color: var(--color-txt-strong);

	icon-app[name="circle"] {
		padding: var(--spacing-xs);
		padding-top: 5px;
		padding-left: 0;
		font-size: 6px;
	}
}
