<context-menu-app
	*ngIf="entity?.status; else noStatus"
	class="menu-status {{selectSize}}"
	[closeOnScroll]="true"
	[offsetX]="offsetX"
	[offsetY]="offsetY">

	<context-menu-trigger-app class="flex {{selectSize}}">
		<status-box-app
			*ngIf="!isSendToWorkFlow"
			[hasArrow]="selectSize !== 's'"
			[status]="entity.status"
			[typeEntity]="typeEntity"
			[size]="selectSize">
		</status-box-app>
		<div class="caretCtnr" *ngIf="isSendToWorkFlow">
			<icon-app fontSet="fa" name="caret-down"></icon-app>
		</div>
	</context-menu-trigger-app>
	<div *ngFor="let stat of (status$ | async);trackBy: trackByFn" class="{{selectSize}}">
		<status-box-app [type]="'list'" [status]="stat" [size]="selectSize" [typeEntity]="typeEntity" (click)="updateStatus(stat)"></status-box-app>
	</div>

</context-menu-app>

<ng-template #noStatus>
	<context-menu-app
		*ngIf="typeEntity !== erm.TASK"
		class="menu-status {{selectSize}}"
		(menuClosed)="statusUpdated.emit()">

		<context-menu-trigger-app class="flex {{selectSize}}">
			<status-box-app  *ngIf="!isSendToWorkFlow" [hasArrow]="selectSize !== 's'" [size]="selectSize" [typeEntity]="typeEntity"></status-box-app>
			<div class="caretCtnr" *ngIf="isSendToWorkFlow"><icon-app fontSet="fa" name="caret-down"></icon-app></div>
		</context-menu-trigger-app>

		<div *ngFor="let stat of (status$ | async);trackBy: trackByFn" class="{{selectSize}}">
			<status-box-app [type]="'list'" [status]="stat" [size]="selectSize" [typeEntity]="typeEntity" (click)="setStatus(stat)"></status-box-app>
		</div>

	</context-menu-app>
</ng-template>

<!-- since we dont have a status we have to do it like this -->
<badge-app
	*ngIf="typeEntity === erm.TASK && !entity?.status?.status"
	class="task pointer"
	[type]="getTaskColor()" [size]="selectSize"
	(click)="updateTask()">
		<icon-app class="color-{{ getTaskColor() === 'secondary' ? 'txt-primary' : 'white' }}" name="circle" fontSet="fa"></icon-app>
		<div class="color-{{ getTaskColor() === 'secondary' ? 'txt-primary' : 'white' }}">
			{{ getTaskStatus() }}
		</div>
</badge-app>

<ng-content></ng-content>
