<!-- multiple entity update selection does not need an entity, since we update outside -->
<ng-container *ngIf="(entity || type === 'multiple-selection') && typeEntity !== erm.TASK">
	<context-menu-app
		*ngIf="entity?.status || type === 'multiple-selection'"
		class="menu-status {{selectSize}}"
		[closeOnScroll]="true"
		[offsetX]="offsetX"
		[offsetY]="offsetY">
		<context-menu-trigger-app class="flex {{selectSize}}">

				<ng-container *ngIf="type === 'badge'">
					<status-badge-app
						[status]="entity?.status"
						[typeEntity]="typeEntity"
						[size]="selectSize">
					</status-badge-app>
				</ng-container>

				<ng-container *ngIf="type === 'button'">

					<status-box-app
						[status]="entity?.status"
						[typeEntity]="typeEntity"
						[size]="selectSize">
					</status-box-app>

				</ng-container>

				<ng-container *ngIf="type === 'dropdown'">
					<icon-app fontSet="fa" name="caret-down"></icon-app>
				</ng-container>

				<ng-container *ngIf="type === 'multiple-selection'">
					<button class="flexCenter change-status">
						<icon-app name="status"></icon-app>
						<span>Change Status</span>
					</button>
				</ng-container>

		</context-menu-trigger-app>

		<div *ngFor="let stat of (status$ | async); trackBy: trackByFn" class="{{selectSize}}">
			<status-box-app [type]="'list'" [status]="stat" [size]="selectSize" [typeEntity]="typeEntity" (click)="updateStatus(stat)"></status-box-app>
		</div>

	</context-menu-app>

	<ng-container *ngIf="type === 'button'">
		<div *ngIf="!isLast()" class="pointer caretCtnr bg-{{ entity?.status.category }}" (click)="next()">
			<icon-app fontSet="fa" name="caret-right"></icon-app>
		</div>
		<div *ngIf="isLast()" class="pointer caretCtnr bg-{{ entity?.status.category }}" (click)="previous()">
			<icon-app fontSet="fa" name="caret-left"></icon-app>
		</div>
	</ng-container>

</ng-container>

<!-- specific for task since we dont have the status on the DB we just have done, over-due and pending -->
<badge-app
	*ngIf="typeEntity === erm.TASK"
	class="task pointer"
	[type]="getTaskColor()" [size]="selectSize"
	(click)="updateTask()">
		<icon-app class="color-{{ getTaskColor() === 'secondary' ? 'txt-primary' : 'white' }}" name="circle" fontSet="fa"></icon-app>
		<div class="color-{{ getTaskColor() === 'secondary' ? 'txt-primary' : 'white' }}">
			{{ getTaskStatus() }}
		</div>
</badge-app>
