.preview-task {
	h4 {
		display: block;
		margin-left: var(--spacing-s);
		font-size: var(--font-size-m);
		color: var(--color-bg-dark);
	}
}

.task-is-done {
	color: var(--color-task);
}

.task-not-done {
	color: var(--color-txt-third);
}