<div class="products-section flexWrap products-section-{{index}}">
	<animated-stack-app class="fullWidth flex  flexWrap">
		<animated-card-app
			*ngFor="let product of products; index as i; trackBy: trackById"
			[id]="product.id" #card>

			<product-card-app class="element-item marginSmall"
				[checked]="isSelected(product)"
				[product]="product"
				[highlightOnChecked]="true"
				[selectFromCard]="true"
				[enabledHoverContent]="true"
				[enablePreviewLink]="true"
				(clickImage)="previewClick.emit(product)"
				(select)="select.emit(product)"
				(unselect)="unselect.emit(product)"
				(cardLeave)="closeContextualMenuIfOpened(archiveMenu, workActionMenu)">
				<!-- TODO: MOVE THIS IN ANOTHER COMPONENT -->
				<div class="flexColumn card-hover-block">
					<div class="secondary flexBetween sort-1 button-action button-archive">
						<span class="button-label" (click)="archiveFunc(product, card)">Archive</span>
						<div class="button-icon">
							<context-menu-app #archiveMenu>
								<context-menu-trigger-app class="archieve-trigger flexCenter">
									<icon-app fontSet="fa" name="caret-down"></icon-app>
								</context-menu-trigger-app>
								<context-menu-item-app (click)="archiveFunc(product, card)" class="menu-item">
									Archive Product
								</context-menu-item-app>
								<context-menu-item-app (click)="deleteFunc(product, card)" class="menu-item">
									Delete Product
								</context-menu-item-app>
							</context-menu-app>
						</div>
					</div>

					<div class="secondary flexBetween sort-1 button-action button-workflow">
						<!-- <span (click)="sentToWorkflow.emit(product)">Send to {{ firstStatus?.name | const: 'status'  }}</span> -->
						<div class="send-workflow" (click)="sendToWorkflowFunc(product, card)">
							Send to {{ firstStatus?.name ? (firstStatus.name | const: 'status') : 'workflow'  }}
						</div>
						<div class="button-icon">
							<status-selector-app
								#workActionMenu
								[entity]="product"
								selectSize="s"
								[xPosition]="-170"
								[yPosition]="24"
								[typeEntity]="prodERM"
								[isSendToWorkFlow]="true"
								[internalUpdate]="false"
								(statusUpdated)="onStatusUpdated(product, $event, card)">
							</status-selector-app>
						</div>
					</div>
				</div>
			</product-card-app>
		</animated-card-app>
	</animated-stack-app>
</div>
