<div class="ctnr z-6 flexBetween">

	<div class="flex left">
		<icon-app name="times" sizePx="22" class="pointer"></icon-app>
		<span i18n>
			3 items selected
		</span>
	</div>

	<div class="flex">
		<div class="flex btn pointer">
			<icon-app name="folder"></icon-app>
			<span i18n>Add to project</span>
		</div>
		<div class="flex btn pointer">
			<icon-app name="chart-bar"></icon-app>
			<span i18n>Request Team Feedback</span>
		</div>
		<div class="flex btn pointer">
			<icon-app name="external-link-alt"></icon-app>
			<span i18n>Export</span>
		</div>
	</div>

	<div class="flex del pointer">
		<icon-app name="trash-alt" color="warn"></icon-app>
		<span class="txt" i18n>
			Delete Product
		</span>
	</div>

</div>
