.profile-card {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;

	.left {
		width: 112px;

		.project-logo {
			margin-top: var(--spacing-l);
		}
	}

	.right {
		width: 480px;
	}
}

.photoContainer {
	width: 112px;
	height: 48px;
	p {
		margin: 14px;
		font-weight: 600;
	}
}

user-picture-app {
	margin: 0;
	z-index: var(--z-button);
	border-radius: 20px;
	font-size: var(--font-size-xl);
}

.form-title {
	font-size: var(--font-size-l);
}

label-app {
	color: var(--color-txt-third);
	font-weight: 600;
	font-size: var(--font-size-s);
}

.change-password {
	margin-top: var(--spacing-ms);
	font-size: var(--font-size-l);
}

button.change {
	margin-top: var(--spacing-ms);
}

.uppercase {
	text-transform: uppercase;
}