<table-app
	[rows]="items"
	[pending]="pending"
	[selected]="selected"
	(selectOne)="entitySelect.emit($event)"
	(unselectOne)="entityUnselect.emit($event)"
	(selectAll)="entitySelectAll.emit($event)"
	(unselectAll)="entityUnselectAll.emit($event)"
	(sort)="sort.emit($event)"
	(hovered)="onHover($event)">

	<!-- Name Category -->
	<ng-template
		columnApp="Name"
		let-row="row"
		width="250">
		<div class="category_name"> {{row.name}} </div>
	</ng-template>

	<!-- Created By *ngIf="dataName.equals('category')"-->
	<ng-template
		columnApp="Created By"
		let-row="row"
		width="140">
		<span class="center">
			{{ row.createdBy ? row.createdBy.fullName : '-' }}
		</span>
	</ng-template>

	<!-- Products Count -->
	<ng-template
		columnApp="Products Count"
		let-row="row"
		width="140">
		<span>
		</span>
	</ng-template>

	<!-- Supplier Count -->
	<ng-template
		columnApp="Suppliers Count"
		let-row="row"
		width="140">
		<span>
		</span>
	</ng-template>

	<!-- No selection options -->
	<ng-template
		columnApp=""
		let-row="row"
		width="140">
		<div class="flex">
			<button *ngIf="row.id === idEntityHovered"  class="button ugly" (click)="addEntity(row.id)">Add</button>
			<span class="marginSmall"></span>
			<button *ngIf="row.id === idEntityHovered" class="button ugly" (click)="deleteEntity(row.id)">Delete</button>
		</div>
	</ng-template>
</table-app>