:host {
	display: flex;
	margin: 0px var(--spacing-l);
	height: calc(100% - 248px);
	box-sizing: border-box;
  padding-bottom: var(--spacing-l);
}

button.button {
	width: 120px;
}

table-app {
	margin-left: auto;
	margin-right: auto;
}