:host {
	display: flex;
	padding: var(--spacing-l);
	background: var(--legacy-color-bg);
	height: calc(100% - 160px);
	box-sizing: border-box;
}

button.button {
	width: 120px;
}

table-app {
	margin-left: auto;
	margin-right: auto;
}