<table-app
	[rows]="rows"
	[pending]="pending"
  [selected]="selection"
  [contextualMenu]="contextualMenuTemplate"
	[count]="count"
	[currentPage]="currentPage"
	[placeholder]="'placeholder.no-data' | translate"
	(goToPage)="goToPage.emit($event)"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(bottomReached)="bottomReached.emit()"
	(sort)="sort.emit($event)"
	(hovered)="onHover($event)"
	(showItemsPerPage)="showItemsPerPage.emit($event)"
	i18n-placeholder="@@no-data">

	<!-- context menu -->
	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-app
			class="pointer flexCenter"
			(click)="delete.emit(row)">
			{{'button.delete' | translate}}
		</context-menu-item-app>
	</ng-template>

	<!-- Name Category -->
	<ng-template
		*ngIf="ermEvent !== entityMetadata"
		[columnApp]="'header.name' | translate"
		let-row="row"
		width="250">
		<div class="flexBetween ellipsis">
      <!-- <div> {{ row.name }} </div> -->
			<editable-text-app
				#editable
				(closed)="updateNameEntity($event, row, txtName?.value)"
				[hasAction]="true">
        <editable-label-app class="task-name">
          {{ row?.name }}
        </editable-label-app>
        <input inputApp #txtName [value]="row?.name || ''" (keyup.enter)="editable.close()">
      </editable-text-app>
			<!-- <button *ngIf="(row.id === idEntityHovered) && (selection.size == 0)"  class="button secondary-dark" (click)="renameEntity.emit(row)">Rename</button> -->
		</div>
	</ng-template>

	<!-- Name Event -->
	<ng-template
		*ngIf="ermEvent === entityMetadata"
		[columnApp]="'header.name' | translate"
		let-row="row"
		width="250"
		sortBy="description.name">
		<div class="flexBetween">
			<!-- remember that we take the name inside the even description entity -->
      <editable-text-app #editable (closed)="updateNameEntity($event, row, txtName?.value, 'description')" [hasAction]="true">
        <editable-label-app class="task-name">
          {{ row?.description?.name }}
        </editable-label-app>
        <input inputApp class="task-name" #txtName [value]="row?.description?.name || ''">
      </editable-text-app>
			<!-- <button *ngIf="(row.id === idEntityHovered) && (selection.size == 0)"  class="button secondary-dark" (click)="renameEntity.emit(row)">Rename</button> -->
		</div>
	</ng-template>

	<!-- Created By -->
	<ng-template
		*ngIf="ermEvent !== entityMetadata && ermSupplier !== entityMetadata"
		[columnApp]="'header.created-by' | translate"
		let-row="row"
		width="140">
		<span class="flexVAlign created-by-container">
			<user-picture-app
				[user]="row?.createdBy"
				[image]="row?.createdBy?.avatar">
			</user-picture-app>
			<span class="created-by">
				{{ row?.createdBy | formatUserName: true }}
			</span>
		</span>
	</ng-template>

	<!-- Products Count -->
	<ng-template
		*ngIf="ermCategory === entityMetadata || ermTag === entityMetadata || ermSupplier === entityMetadata"
		[columnApp]="'header.products-count' | translate"
		let-row="row"
		[sortable]="false"
		width="140">
		<span>
			{{ row?.productsLinked?.count }}
		</span>
	</ng-template>

	<!-- Supplier Count -->
	<ng-template
		*ngIf="ermCategory === entityMetadata || ermTag === entityMetadata"
		[columnApp]="'header.suppliers-count' | translate"
		let-row="row"
		[sortable]="false"
		width="140">
		<span>
			{{ row?.suppliersLinked?.count }}
		</span>
	</ng-template>

	<!-- Contacts Count -->
	<ng-template
		*ngIf="ermSupplier === entityMetadata"
		[columnApp]="'Contact count' | const: 'messages'"
		let-row="row"
		[sortable]="false"
		width="140">
		<span>
			{{ row?.contactsLinked?.count }}
		</span>
	</ng-template>

	<!-- Start Date (Event only) -->
	<ng-template
		*ngIf="ermEvent === entityMetadata"
		[columnApp]="'header.start-date' | translate"
		let-row="row"
		sortBy="description.startDate"
		width="140">
		<span>
			{{ row?.description?.startDate | date: 'MMMM d, y':'':translate.currentLang }}
		</span>
	</ng-template>

	<!-- End Date (Event only) -->
	<ng-template
		*ngIf="ermEvent === entityMetadata"
		[columnApp]="'header.end-date' | translate"
		let-row="row"
		sortBy="description.endDate"
		width="140">
		<span>
			{{ row?.description?.endDate | date: 'MMMM d, y':'':translate.currentLang }}
		</span>
	</ng-template>

	<!-- No selection options -->
	<ng-template
		[columnApp]="'Action' | const: 'action'"
		let-row="row"
		width="160">
		<div class="flex">
			<span class="action pointer capitalize" (click)="delete.emit(row)" i18n="@@delete">delete</span>
		</div>
	</ng-template>
</table-app>
