<card-app padding="ms" >
		<activity-user-app
			[user]="actor$ | async"
			[time]="activity?.time"
			[action]="title">
		</activity-user-app>

		<card-footer-app *ngIf="activity?.verb === 'create_comment' && typeEntity?.singular === 'product'" align="left" class="flexColumn">
			<comment-list-app [comments]="product?.comments"></comment-list-app>
			<div class="flexBetween">
				<textarea inputApp type="text" [formControl]="commentCtrl"
				placeholder="Leave a comment" (keydown.enter)="onEnter($event)"></textarea>
				<button *ngIf="inp?.focussed" class="secondary-light" (click)="onSubmit()">Send</button>
			</div>
		</card-footer-app>
	</card-app>