<dialog-app>

	<dialog-header-app translate="header.export-selection"></dialog-header-app>
	<dialog-subtitle-app translate="header.export-type"></dialog-subtitle-app>

	<main class="exportRow">
		<div class="exportCell" (click)="select('xls', 'xls_product_list')"
			[class.selected]="selectedType === 'xls_product_list'">
			<icon-app name="excel"></icon-app>
			<div class="title" translate="title.excel"></div>
			<div class="subtitle" translate="text.perfect-for-editing"></div>
		</div>
		<div
			toolTip
			[toolTipMessage]="'message.limit-50-pdf-per-export' | translate"
			toolTipShowDelay="100"
			class="exportCell" (click)="select('pdf', 'pdf_product_page')"
			[class.selected]="selectedType === 'pdf_product_page'">
			<icon-app name="pdf"></icon-app>
			<div class="title" translate="text.pdf"></div>
			<div class="subtitle" translate="text.perfect-for-sharing"></div>
		</div>
		<div class="exportCell image" (click)="select('pictures', 'product_image')"
			[class.selected]="selectedType === 'product_image'">
			<icon-app name="image"></icon-app>
			<div class="title capitalize" translate="text.pictures"></div>
			<div class="subtitle" translate="text.all-product-pictures"></div>
		</div>
	</main>

	<dialog-footer-app class="full-width flexCenter flexBetween">
		<span class="txt-secondary">
			{{ ((length || 0) > 1 ? 'OBJ.item-selected.plural' : 'OBJ.item-selected.singular') | translate: {count: length || 0} }}
		</span>
		<button tabFocusAction class="capitalize" (click)="export.emit()" translate="button.export"></button>
	</dialog-footer-app>
</dialog-app>
