<h3 class="invitation-title" translate="text.invitations"></h3>
<invitations-table-app
	class="spacing-ms"
	[rows]="listHelper.paginedItems$ | async"
	[user]="user"
	[pending]="false"
	[selection]="selectionSrv.selection$ | async"
	(bottomReached)="listHelper.loadMore()"
	(select)="selectionSrv.selectOne($event, false)"
	(unselect)="selectionSrv.unselectOne($event, false)"
	(selectAll)="selectionSrv.selectAll($event, false)"
	(unselectAll)="selectionSrv.unselectAll()"
	(accessTypeUpdated)="updateAccessType($event)"
	(delete)="listHelper.delete($event)">
</invitations-table-app>
