dialog-app {
	width: 920px;
	height: 618px !important;
	box-sizing: border-box;
	position: relative;
}

.container-section {
	height: 100%;
}

.img-block {
	margin-bottom: var(--spacing-xxxl);
	
	.mobile-img {
		position: absolute;
		width: 255px;		
		height: 427px;
		bottom: 0;
		left: 104px;
	}
}

.close {
	cursor: pointer;
	z-index: var(--z-base);
	position: absolute;
	top: var(--spacing-ms);
	right: var(--spacing-ms);
	color: var(--color-txt-secondary);
}

.left-container {
	position: relative;
	padding: var(--spacing-xxl) var(--spacing-l) 0 var(--spacing-l);
	height: 100%;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	width: 50%;
	background-image: linear-gradient(to top, #cda2ff, #9f68ff);

	.left-title {
		display: block;
		font-size: var(--font-size-xxl);
		font-weight: 600;
		color: var(--color-bg);
	}

	.left-sub-title {
		font-size: var(--font-size-xl);
		color: var(--color-bg);
	}
}

.right-container {
	padding-top: var(--spacing-xxxxl);
	position: absolute;
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	height: 100%;
	width: 50%;

	.right-title {
		width: 312px;
		font-size: var(--font-size-xxxl);
		font-weight: 600;
		display: inline-block;
		color: #000;
	}

	.download-stores {
		font-size: var(--font-size-l);
		color: var(--color-txt-primary);
	}
}

.qr-block {
	margin-top: var(--spacing-xxl);
	img {
		width: 164px;
		height: 164px;
	}
}

.download-btn-container {
	margin-top: var(--spacing-l);

	.download-img, .download-img-last {
		cursor: pointer;
		width: 110px;
		height: 32px;
	}

	.download-img-last {
		margin-top: 6px;
	}
}
