<dialog-app 
	class="flex flexCenter container-section" 
	[hasHeader]="false"
	[hasFooter]="false"
	[hasPadding]="false" 
	[contentFullWidth]="true">
	<button class="icon close" (click)="close()" toolTip [toolTipMessage]="'tooltip.close' | translate" toolTipPosition="below-right">
		<icon-app name="close"></icon-app>
	</button>
	<div class="left-container">
		<span class="left-title">Your sourcing always with you!</span>
		<span class="left-sub-title">Works offline and connects to all shows and fairs!</span>
		<div class="img-block">
			<img class="mobile-img" src="/assets/img/mobile.png"/>
		</div>
	</div>
	<div class="right-container">
		<span class="right-title">Scan the code below to download the app</span>
		<div class="img-block flexCenter">
			<div class="qr-block flexCenter">
				<img src="/assets/img/qr.svg"/>
			</div>
		</div>
		<span class="download-stores">Or download from the app stores</span>

		<div class="download-btn-container">
			<div>
				<img class="download-img" src="/assets/img/app-store.svg" (click)="navigateToAppStore()"/>
			</div>
			<img class="download-img-last" src="/assets/img/available-android.png" (click)="navigateToPlayMarket()"/>
		</div>
	</div>
</dialog-app>