<ng-container *ngIf="tasks?.length; else noTask">
	<div
		*ngFor="let task of tasks; index as i; trackBy: trackById"
		class="flexVAlign"
		[ngClass]="{ 'preview-task': i < displayIndex }">
		<ng-container *ngIf="i < displayIndex">
			<icon-app
				class="pointer"
				[ngStyle]="{'color': statusUtils.getTaskStatusIconColorVar(task) }"
				name="check-circle"
				[size]="12"
				(click)="taskClicked.emit(task)">
			</icon-app>
			<span class="ellipsis txt-btn" (click)="taskClicked.emit(task)">{{ task.name }}</span>
		</ng-container>
	</div>
	<div *ngIf="tasks?.length > displayIndex" class="color-primary txt-btn" (click)="viewMore()" translate="button.view-more"></div>
</ng-container>

<ng-template #noTask>
	<span class="capitalize" translate="text.none"></span>
</ng-template>
