<div class="titleLogo">
	<b>Show</b>Sourcing
</div>

<nav>
	<a [routerLink]="['/home']" routerLinkActive="selected">Home</a>

	<a [routerLink]="['/products']" routerLinkActive="selected">Products</a>

	<a [routerLink]="['/tasks']" routerLinkActive="selected">Tasks</a>

	<a [routerLink]="['/suppliers']" routerLinkActive="selected">Suppliers</a>

	<a [routerLink]="['/events']" routerLinkActive="selected">Events</a>

	<a [routerLink]="['/test']" routerLinkActive="selected">Test</a>
</nav>

<div class="flexCenter" *ngIf="(authenticated$ | async)">
	<search-app></search-app>
	<notif-app></notif-app>
	<div class="vertDivider"></div>
	<user-info-app></user-info-app>
</div>