:host {
	display: flex;
	z-index: 4;
  justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	height: 48px;
	padding: var(--spacing-smaller);
	flex: 0 0 48px;
	width: 100%;
	background: var(--color-bg);
	color: var(--color-txt-primary);
	padding: 0 var(--spacing-default);
	position: relative;
}

.titleLogo {
	font-size: 1.35rem;
}

nav {
	font-size: 14px;
	display: flex;
	justify-content: flex-start;
	flex-grow: 1;
	a {
		display: block;
		padding-left: 36px;
	}
}

notif-app{
	margin: 0 28px;
}

.vertDivider {
	width: 1px;
	height: 45px;
	margin: 0 var(--spacing-default);
	background-color: var(--color-delimiter);
}
