:host{
	display: flex;
	z-index: 4;
  justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	height: 62px;
	padding: var(--spacing-smaller);
	flex: 0 0 48px;
	width: 100%;
	background: var(--color-bg);
	color: var(--color-txt-primary);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
	padding: 0 var(--spacing-default);
	position: relative;
}
.titleLogo {
	font-size: 1.35rem;
}
.links {
	font-size: 14px;
	display: flex;
	justify-content: flex-start;
	flex-grow: 1;
	& > * {
		padding-left: 36px;
	}
}
notif-app{
	margin: 0 28px;
}
.vertDivider {
	width: 1px;
	height: 46px;
	background-color: rgba(255,255,255,0.3);
}
