<div class="titleLogo">
	<img src="/assets/img/logo3.png"/>
</div>

<nav>
	<a [routerLink]="['/home']" routerLinkActive="selected">Dashboard</a>

	<a [routerLink]="['/projects']" routerLinkActive="selected">Projects</a>

	<a [routerLink]="['/products']" routerLinkActive="selected">Products</a>

	<a [routerLink]="['/suppliers']" routerLinkActive="selected">Suppliers</a>

	<a [routerLink]="['/tasks']" routerLinkActive="selected">Tasks</a>

	<a [routerLink]="['/samples']" routerLinkActive="selected">Samples</a>

	<a [routerLink]="['/workflow']" routerLinkActive="selected">Workflow</a>

	<a [routerLink]="['/test']" routerLinkActive="selected">Test</a>
</nav>

<div class="flexCenter right" *ngIf="(authenticated$ | async)">
	<search-app></search-app>
	<notif-app></notif-app>
	<div class="vertDivider"></div>
	<user-info-app></user-info-app>
</div>