	<nav class="flex">
		<a class="flexCenter flexGrow" [routerLink]="['./general']" routerLinkActive="active">
			General Information
		</a>
		<a class="flexCenter flexGrow" [routerLink]="['./shippping']" routerLinkActive="active">
			Shipping
		</a>
		<!-- <a class="flexCenter flexGrow" [routerLink]="['./activity']" routerLinkActive="active">
			Activity
    </a> -->
    <a class="flexCenter flexGrow" [routerLink]="['./samples']" routerLinkActive="active">
			Samples
		</a>
		<!-- <a class="flexCenter flexGrow" [routerLink]="['./quotation']" routerLinkActive="active">
			Quotations
		</a> -->
		<a class="flexCenter flexGrow" [routerLink]="['./tasks']" routerLinkActive="active">
			Tasks
		</a>
	</nav>
