nav {
	height: 54px;
	background: white;
	border-radius: var(--border-radius-s);
	margin: var(--spacing-m);
	overflow: hidden;
	border: 1px solid var(--color-secondary);
}
a {
	font-size: var(--font-size-l);
	height: 100%;
	padding: 0 var(--spacing-l);
	box-sizing: border-box;
}
a.active {
	font-weight: 600;
	background: var(--color-secondary-light);
	border-bottom: 4px solid var(--color-primary);
}