:host {
	background: white;
	display: flex;
	border-bottom: 1px solid var(--color-divider);
}

.container {
	background: white;
	padding-top: var(--spacing-ms);
	padding-bottom: var(--spacing-l);

	carousel-app {
		margin-left: 88px;
		margin-right: var(--spacing-xxl);
		height: 482px;
	}
}

.title {
	// we cannot use 12px since the editable-container uses a 6px top
	margin-bottom: 6px;
}

.title-input {
	height: 36px;
	font-size: var(--font-size-xxxxl);
}

.bigger-editable {
	height: 42px;
}

.supplier-container {
	position: relative;
	.supplier-name {
		line-height: 1;
	}

	button.eye-icon {
		position: absolute;
		right: 0;
		top: 0;
		icon-app {
			transition: 0.3s;
			color: var(--color-vibrant);
		}

		&:hover icon-app {
			color: var(--color-vibrant-dark);
		}
	}
}

