:host {
	background: white;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid var(--color-divider);
}

.container {
	width: 1200px;
	background: white;
	justify-content: center;
	padding-top: var(--spacing-ms);
	padding-bottom: var(--spacing-l);

	carousel-app {
		margin-right: var(--spacing-l);
		height: 410px;
	}

	.supplier-section {
		max-width: 170px;
	}

	.supplier-editable {
		width: 125px;
		display: inline-block;
	}

	.eye-container {
		display: inline-flex;
		height: 100%;
	}

	.product-info {
		width: 766px;
		
		.product-name {
			height: var(--spacing-xl);
		}
	}

	.hover-with-padding:hover {
		background: var(--color-bg-secondary);
		padding: 4px 8px;
	}

	.sub-header-container:hover {
		background: var(--color-bg-secondary);
	}

	.sub-header-container-no-hover:hover {
		background: transparent;
	}
}

@media all and (min-width: 1169px) and (max-width: 1300px) {
	.product-info {
		width: 665px !important;
	}
}

@media all and (max-width: 1168px) {
	.product-info {
		width: 410px !important;
	}
}

.title {
	// we cannot use 12px since the editable-container uses a 6px top
	margin-bottom: 6px;
}

.title-input {
	height: var(--spacing-xl);
	font-size: var(--font-size-xxxl);
}

.bigger-editable {
	height: 42px;
}

.supplier-container {
	position: relative;
	.supplier-name {
		line-height: 1;
	}
}

.eye-container {
	button.eye-icon {
		icon-app {
			transition: 0.3s;
			color: var(--color-vibrant);
		}

		&:hover {
			background: transparent;
		}

		&:hover icon-app {
			color: var(--color-vibrant-dark);
		}
	}
}

