<div class="flex container flexWrap">
	<carousel-app
		[nodeId]="'Product:' + product?.id"
		[hasPreview]="true">
	</carousel-app>

	<div class="flexColumn product-info">
		<!-- name -->
		<div class="title">
			<editable-container-app
				#edtName
				class="sub-header-container product-name"
				[hideOnOpen]="true"
				[isFullWidth]="false"
				(opened)="inpName.select()"
				(closed)="update(inpName.value, 'name')">
				<editable-value-app 
					class="ellipsis bold-s color-txt-primary fs-xxxl" 
					[primary]="true">
					{{ product?.name || '-' }}
				</editable-value-app>
				<input
					class="title-input"
					inputApp
					#inpName
					type="text"
					[value]="product?.name"
					(keyup.enter)="edtName.close()"/>
			</editable-container-app>
			<!-- badges -->
			<div class="flex color-txt-secondary dot-separator-txt-secondary">
				<rating-badge-app 
					class="pointer"	
					[score]="product?.score" 
					[hasNumber]="true" 
					(click)="ratingClicked.emit()">
				</rating-badge-app>
				<div class="txt-btn capitalize" (click)="redirect.emit('samples')">{{ getCount(samplesCount$ | async, 'Sample') }}</div>
				<div class="txt-btn capitalize" (click)="redirect.emit('tasks')">{{ getCount(tasksCount$ | async, 'Task') }}</div>
				<div class="txt-btn capitalize" (click)="redirect.emit('activity')">{{ getCount(commentsCount$ | async, 'Comment') }}</div>
			</div>
		</div>

		<!-- price and moq -->
		<section>
			<price-with-quantity-app
				[price]="product?.propertiesMap?.price"
				(updateField)="updatePriceMoq($event.newValue, $event.field)">
			</price-with-quantity-app>
		</section>

		<!-- supplier -->
		<section>
			<h3 class="section-title">supplier</h3>
			<div 
				class="flexVAlign supplier-section"
				(mouseenter) ="supplierSelectorHovered = true"
				(mouseleave) ="supplierSelectorHovered = false">
				<editable-container-app
					#edtSupplier
					class="supplier-editable hover-with-padding"
					[hasAction]="false"
					[isOpen]="supplierSelector?.menuOpen"
					(click)="supplierSelector?.openMenu($event, true)">
					<editable-value-app>
						<!-- Put this inside a component has a unique style tho -->
						<selector-app
							#supplierSelector
							typename="Supplier"
							[value]="product?.supplier"
							[canCreate]="true"
							[extraOffset]="{ offsetX: 0, offsetY: 35 }"
							[leftSideOrientation]="true"
							[width]="370"
							(update)="update($event.supplierId, 'supplierId'); edtSupplier.close()">
							<editable-value-app>
								<div *ngIf="product?.supplier && (product?.supplier | json) != '{}'" class="supplier-container flex">
									<logo-app
										class="mg-right-s pointer"
										typename="Supplier"
										[logo]="product?.supplier?.logoImage">
									</logo-app>
									<div class="supplier-info">
										<span class="supplier-name fs-l color-txt-primary bold-s flex mg-bottom-xs">{{ product?.supplier?.name }}</span>
										<div class="flex dot-separator">
											<div *ngIf="product?.supplier?.propertiesMap?.supplierType">
												{{ product?.supplier?.propertiesMap?.supplierType }}
											</div>
											<div *ngIf="product?.supplier?.propertiesMap?.country">
												{{ product?.supplier?.propertiesMap?.country | const: 'country' }}
											</div>
											<rating-badge-app	[score]="product?.supplier?.score" [activeColor]="'primary'"></rating-badge-app>
										</div>
									</div>
								</div>
							</editable-value-app>
						</selector-app>
					</editable-value-app>
				</editable-container-app>
				<div *ngIf="product?.supplier && (product?.supplier | json) != '{}' && supplierSelectorHovered" class="eye-container">
					<button class="eye-icon icon light">
						<icon-app
							size="20"
							name="eye"
							toolTip [toolTipMessage]="'text.open-supplier' | translate" toolTipPosition="above-left" [offsetX]="-15" [offsetY]="-7"
							(click)="onOpenSupplier(product?.supplier, $event)">
						</icon-app>
					</button>
				</div>
			</div>
		</section>

		<!-- category -->
		<section>
			<h3 class="section-title">category</h3>
			<badge-selector-app
				badge="PropertyOption"
				customType="category"
				[isFullWidth]="false"
				[hoverLight]="true"
				[value]="product?.category"
				[leftSideOrientation]="true"
				(update)="update($event.categoryId, 'categoryId')">
			</badge-selector-app>
		</section>

		<!-- description -->
		<section>
			<h3 class="section-title">description</h3>
			<input-description-app
				[description]="product?.propertiesMap?.description"
				[hoverLight]="true"
				(update)="update({ description: $event }, 'propertiesMap')">
			</input-description-app>
		</section>

	<!-- tags -->
	<section>
		<h3 class="section-title">tags</h3>
		<input-badge-selector-app
			[entityId]="product?.id"
			[value]="productTags"
			typename="ProductTag"
			(change)="update($event, 'tags')">
		</input-badge-selector-app>
	</section>

	</div>
</div>
