<div class="flex container">
	<carousel-app
		[hasPreview]="true">
	</carousel-app>

	<div class="flexColumn product-info">
		<!-- name -->
		<div class="title">
			<editable-container-app
				#edtName
				(opened)="inpName.select()"
				(closed)="update(inpName.value, 'name')">
				<editable-value-app 
					class="ellipsis bold-s color-txt-primary fs-xxxl" 
					[primary]="true">
					{{ product?.name || '-' }}
				</editable-value-app>
				<input
					class="title-input"
					inputApp
					#inpName
					type="text"
					[value]="product?.name"
					(keyup.enter)="edtName.close()"/>
			</editable-container-app>
			<!-- badges -->
			<div class="flex color-txt-secondary dot-separator-txt-secondary">
				<rating-badge-app 
					class="pointer"	
					[score]="product?.score" 
					[hasNumber]="true" 
					(click)="ratingClicked.emit()">
				</rating-badge-app>
				<div class="txt-btn capitalize" (click)="redirect.emit('samples')">
					{{ samplesCount$ | async }} Samples
				</div>
				<div class="txt-btn capitalize" (click)="redirect.emit('tasks')">
					{{ tasksCount$ | async }} Tasks
					</div>
				<div class="txt-btn capitalize" (click)="redirect.emit('activity')">
					{{ commentsCount$ | async }} Comments
					</div>
			</div>
		</div>

		<!-- price and moq -->
		<section>
			<editable-container-app
				#editable
				class="full-width"
				[hasAction]="false"
				(opened)="inp.focus()"
				(closed)="updatePriceMOQ(inp?.value, 'price')">
				<editable-value-app #price>
					<price-app [price]="product?.propertiesMap.price" size="xxxl" [primary]="false"></price-app>
				</editable-value-app>
				<input-price-app
					#inp
					[value]="{ 
						currency: price?.currency || product?.propertiesMap?.price?.currency, 
						value: price?.value || product?.propertiesMap?.price?.value}"
					(keyup.enter)="editable.close()">
				</input-price-app>
			</editable-container-app>

			<editable-container-app
				#editable
				[hasAction]="false"
				(opened)="inp.focus()"
				(closed)="updatePriceMOQ(inp.value, 'moq')">
				<editable-value-app>
					<div *ngIf="product?.propertiesMap?.price?.minimumOrderQuantity">
						{{'Min ' + product?.propertiesMap?.price?.minimumOrderQuantity + ' pcs'}}
					</div>
					<div *ngIf="!product?.propertiesMap?.price?.minimumOrderQuantity">-</div>
				</editable-value-app>
				<input #inp inputApp type="number"
					[value]="product?.propertiesMap?.price?.minimumOrderQuantity" (keyup.enter)="editable.close()"/>
			</editable-container-app>
		</section>

		<!-- supplier -->
		<section>
			<h3 class="section-title">supplier</h3>
			<editable-container-app
				#edtSupplier
				class="action-hover-container-0"
				[hasAction]="false"
				(click)="supplierSelector?.openMenu($event, true)">
				<editable-value-app>
					<!-- Put this inside a component has a unique style tho -->
					<selector-app
						#supplierSelector
						typename="Supplier"
						[canCreate]="true"
						[leftSideOrientation]="true"
						[width]="370"
						(update)="update($event.supplierId, 'supplierId'); edtSupplier.close()">
						<editable-value-app>
							<div *ngIf="product?.supplier as supplier" class="supplier-container flex">
								<logo-app
									class="mg-right-s pointer"
									typename="Supplier"
									[logo]="supplier?.logoImage">
								</logo-app>
								<div class="supplier-info mg-right-xxl">
									<span class="supplier-name fs-l color-txt-primary bold-s flex mg-bottom-xs">{{ supplier?.name }}</span>
									<div class="flex dot-separator">
										<div *ngIf="supplier?.propertiesMap?.supplierType">
											{{ supplier?.propertiesMap?.supplierType }}
										</div>
										<div *ngIf="supplier?.propertiesMap?.country">
											{{ supplier?.propertiesMap?.country | const: 'country' }}
										</div>
										<rating-badge-app	[score]="supplier?.score" [activeColor]="'primary'"></rating-badge-app>
									</div>
								</div>
								<button class="eye-icon icon light action-hover-item-0">
									<icon-app
										size="20"
										name="eye"
										toolTip [toolTipMessage]="'text.open-supplier' | translate" toolTipPosition="above-left" [offsetX]="-15" [offsetY]="-7"
										(click)="onOpenSupplier(supplier, $event)">
									</icon-app>
								</button>
							</div>
						</editable-value-app>
					</selector-app>
				</editable-value-app>
			</editable-container-app>
		</section>

		<!-- category -->
		<section>
			<h3 class="section-title">category</h3>
			<badge-selector-app
				badge="PropertyOption"
				customType="Category"
				[value]="product?.category"
				[leftSideOrientation]="true"
				(update)="update($event.categoryId, 'categoryId')">
			</badge-selector-app>
		</section>

		<!-- description -->
		<section>
			<h3 class="section-title">description</h3>
			<input-description-app
				[description]="product?.propertiesMap?.description"
				(update)="update({ description: $event }, 'propertiesMap')">
			</input-description-app>
	</section>

	<!-- tags -->
	<section>
		<h3 class="section-title">tags</h3>
		<input-badge-selector-app
			[value]="product?.tags"
			typename="Tag"
			(change)="update($event, 'tags')">
		</input-badge-selector-app>
	</section>

	</div>
</div>
