<div class="flex container">
	<carousel-app
		[entity]="product"
		[images]="product?.images"
		[hasPreview]="true">
	</carousel-app>

	<div class="flexColumn product-info">
		<!-- title -->
		<div class="title">
			<editable-container-app
				#edt
				(opened)="inpName.select()"
				(closed)="update(inpName.value, 'name')">
				<editable-value-app class="ellipsis bold-s color-txt-primary fs-xxxl" [primary]="true">
					{{ product?.name || '-' }}
				</editable-value-app>
				<input
					class="title-input"
					inputApp
					#inpName
					type="text"
					[value]="product?.name"
					(keyup.enter)="edt.close()"/>
			</editable-container-app>
			<!-- info title -->
			<div class="flex color-txt-secondary dot-separator-txt-secondary">
				<rating-badge-app 
					class="pointer"	
					[score]="product?.score" 
					[hasNumber]="true" 
					(click)="ratingClicked.emit()">
				</rating-badge-app>
				<div class="txt-btn capitalize" (click)="redirect.emit('samples')">{{ (((samplesCount$ | async) || 0) === 1 ? 'OBJ.n-sample.singular' : 'OBJ.n-sample.plural') | translate: {count: (product?.samplesLinked?.count || 0)} }}</div>
				<div class="txt-btn capitalize" (click)="redirect.emit('tasks')">{{ (((tasksCount$ | async) || 0) === 1 ? 'OBJ.n-task.singular' : 'OBJ.n-task.plural') | translate: {count: (product?.tasksLinked?.count || 0)} }}</div>
				<div class="txt-btn capitalize" (click)="redirect.emit('activity')">{{ (((commentsCount$ | async) || 0) === 1 ? 'OBJ.n-comment.singular' : 'OBJ.n-comment.plural') | translate: {count: (product?.comments?.length || 0)} }}</div>
			</div>
		</div>

		<!-- price -->
		<section>
			<price-with-quantity-app
				[product]="product"
				(updateField)="update($event.newValue, $event.field)">
			</price-with-quantity-app>
		</section>

		<!-- supplier -->
		<section>
			<h3 class="section-title">supplier</h3>
			<editable-container-app
				class="action-hover-container-0"
				[hasAction]="false"
				(click)="supplierSelector?.openMenu($event, true)">
				<editable-value-app>
					<!-- Put this inside a component has a unique style tho -->
					<selector-app
						#supplierSelector
						typename="Supplier"
						[canCreate]="true"
						[leftSideOrientation]="true"
						[width]="370"
						(update)="update($event, 'supplier')">
						<editable-value-app>
							<div *ngIf="product?.supplier as supplier" class="supplier-container flex">
								<logo-app
									class="mg-right-s pointer"
									typename="Supplier"
									[logo]="supplier?.logoImage">
								</logo-app>
								<div class="supplier-info mg-right-xxl">
									<span class="supplier-name fs-l color-txt-primary bold-s flex mg-bottom-xs">{{ supplier?.name }}</span>
									<div class="flex dot-separator">
										<div *ngIf="supplier?.supplierType">{{ supplier?.supplierType }}</div>
										<div *ngIf="supplier?.country">{{ supplier?.country | const: 'country' }}</div>
										<rating-badge-app	[score]="supplier?.score" [activeColor]="'primary'"></rating-badge-app>
									</div>
								</div>
								<button class="eye-icon icon light action-hover-item-0">
									<icon-app
										size="20"
										name="eye"
										toolTip [toolTipMessage]="'text.open-supplier' | translate" toolTipPosition="above-left" [offsetX]="-15" [offsetY]="-7"
										(click)="onOpenSupplier(supplier, $event)">
									</icon-app>
								</button>
							</div>
						</editable-value-app>
					</selector-app>
				</editable-value-app>
			</editable-container-app>
		</section>

		<!-- category -->
		<section>
			<h3 class="section-title">category</h3>
			<badge-selector-app
				[badge]="'CATEGORY' | erm"
				[value]="product?.category"
				[leftSideOrientation]="true"
				(update)="update($event, 'category')">
			</badge-selector-app>
		</section>

		<!-- description -->
		<section>
			<h3 class="section-title">description</h3>
			<input-description-app
				[description]="product?.description"
				(update)="update($event, 'description')">
			</input-description-app>
	</section>

	<!-- tags -->
	<section>
		<h3 class="section-title">tags</h3>
		<input-badge-selector-app
			[value]="product?.tags"
			typename="Tag"
			(change)="update($event, 'tags')">
		</input-badge-selector-app>
	</section>

	</div>
</div>
