:host {
	background: white;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid var(--color-divider);
}

.container {
	width: 1200px;
	background: white;
	justify-content: center;
	padding-top: var(--spacing-ms);
	padding-bottom: var(--spacing-l);

	carousel-app {
		margin-right: var(--spacing-l);
		height: 482px;
	}

	.product-info {
		width: 766px
	}
}

@media all and (min-width: 1169px) and (max-width: 1300px) {
	.product-info {
		width: 665px !important;
	}
}

@media all and (max-width: 1168px) {
	.product-info {
		width: 410px !important;
	}
}

.title {
	// we cannot use 12px since the editable-container uses a 6px top
	margin-bottom: 6px;
}

.title-input {
	height: 36px;
	font-size: var(--font-size-xxxxl);
}

.bigger-editable {
	height: 42px;
}

.supplier-container {
	position: relative;
	.supplier-name {
		line-height: 1;
	}

	button.eye-icon {
		position: absolute;
		right: 0;
		top: 0;
		icon-app {
			transition: 0.3s;
			color: var(--color-vibrant);
		}

		&:hover icon-app {
			color: var(--color-vibrant-dark);
		}
	}
}

