<div class="col col-50">
	<div class="supplier-title">ARJ-123</div>
	<div class="supplier-description">Decoration Items - Office</div>
</div>
<div class="col col-50" *ngFor="let field of fields; trackBy: trackByFn">
	<div class="label">{{ field.title }}</div>
	<ng-container [ngSwitch]="field.type">
		<div *ngSwitchCase="'text'">
			<div class="value-text">{{ field.value }}</div>
		</div>
		<div *ngSwitchCase="'date'">
			<div class="value-text">{{ field.value | date: 'dd MMMM YYYY' }}</div>
		</div>
		<div *ngSwitchCase="'files'">
			<div
				class="link-download"
				*ngFor="let file of field.value; trackBy: trackByFn"
			>
				{{ file.fileName }}
			</div>
		</div>
	</ng-container>
</div>
