<card-app>

	<header class="header">
		<nav>
			<a [routerLink]="['general']" routerLinkActive="selected" i18n="header-link|recent product activity@@Activity">General Information</a>
			<a [routerLink]="['activity']" routerLinkActive="selected" i18n="header-link|recent product activity@@Activity">Activity</a>
			<a [routerLink]="['tech']" routerLinkActive="selected" i18n="header-link|product tasks@@Tasks">Technical Sheet</a>
			<a class="fillnav"></a>
		</nav>
	</header>

	<main class="main">
		<router-outlet></router-outlet>
	</main>
</card-app>


