nav {
    background-color: rgba(230, 235, 245, 0.30);
    border: 1px solid #E6EBF5;
    font-size: var(--font-size-l);
    font-weight: 500;
    display: flex;
    justify-content: flex-start;
    &>* {
        padding: var(--spacing-default);
    }
    .selected {
        background: white;
        border-radius: 4px 4px 0 0;
    }
}

.hr2 {
    margin-top: -2px;
}
