<div class="title-container-boarding flex with-subtitle">
	<button class="icon light" (click)="previousPage()">
		<icon-app name="back-arrow"></icon-app>
	</button>
	<h1>Verify and finish this business</h1>
</div>
<div class="subtitle">
	<p>Review your data and send!</p>
</div>


<div class="list-review">
	<div class="item-review">
			<div class="title">Bussiness Name</div>
			<div class="body">{{supplierClaim?.name || '-'}}</div>
	</div>
	<div class="item-review">
			<div class="title">Bussiness Address</div>
			<div class="body">{{supplierClaim?.street || '-'}}</div>
	</div>
	<div class="item-review">
			<div class="title">Bussiness Type</div>
			<div class="body">{{supplierClaim?.businessType || '-'}}</div>
	</div>
	<div class="item-review">
		<div class="title">Bussiness Category</div>
		<div class="body">
			<span  *ngFor="let cat of supplierClaim?.categories; trackBy: trackByFn; last as last">
					{{cat}}
					<span *ngIf="!last">,</span>
			</span>
		</div>
	</div>
	<div class="item-review">
		<div class="title">Bussiness Description</div>
		<div class="body">{{supplierClaim?.description || '-'}}</div>
	</div>
	<div class="item-review">
		<div class="title">Attached file</div>
		<div class="body">
				<div  *ngFor="let file of supplierClaim?.attachment; trackBy: trackByFn">
						<icon-app name="file"></icon-app>
						{{file.fileName}}
				</div>
		</div>
  </div>
</div>
	<div class="left">
		<input class="boarding" type="submit" value="Next" (click)="onSubmit()" />
	</div>
