<div class="title-container-boarding flex with-subtitle">
	<button class="icon light" (click)="previousPage()">
		<icon-app name="back-arrow"></icon-app>
	</button>
	<h1>Verify and finish this business</h1>
</div>
<div class="subtitle">
	<p>Review your data and send!</p>
</div>


		<div class="list-review">
				<div class="item-review">
						<div class="title">Bussiness Name</div>
						<div class="body">{{data.name}}</div>
				</div>
				<div class="item-review">
						<div class="title">Bussiness Address</div>
						<div class="body">{{data.address}}</div>
				</div>
				<div class="item-review">
						<div class="title">Bussiness Type</div>
						<div class="body">{{data.type}}</div>
				</div>
				<div class="item-review">
						<div class="title">Bussiness Category</div>
						<div class="body">
							<span  *ngFor="let cat of data.category; trackBy: TrackByFn; index as i">
									{{cat}}
									<span *ngIf="i !== data.category.length - 1">,</span>
							</span>
						</div>
				</div>
				<div class="item-review">
						<div class="title">Bussiness Description</div>
						<div class="body">{{data.description}}</div>
				</div>
				<div class="item-review">
						<div class="title">Attached file</div>
						<div class="body">
								<div  *ngFor="let file of data.attachments; trackBy: TrackByFn; index as i">
										<icon-app name="file"></icon-app>
										{{file.fileName}}
								</div>
						</div>
				</div>
			</div>
	<div class="left">
		<input class="boarding" type="submit" value="Next" (click)="onSubmit()" />
	</div>
