:host {
	display: flex;
	align-items: center;
	background: rgba(0,0,0,0.3);
	border-radius: 99px;
	height: 32px;
	width: 240px;
}
.icon {
	margin-left: 5px;
	color: rgba(255, 255, 255, 0.3);
}
input {
	margin-right: 5px;
	flex-grow: 1;
	border: none;
	background: transparent;
	color: rgba(255, 255, 255, 0.3);
	outline: none;
}