<context-menu-app>
	<context-menu-trigger-app class="flex flexVAlign">
		<user-picture-app [user]="user" [image]="user?.avatar"></user-picture-app>
		<div class="flexColumn">
			<span class="name">
				{{ user?.firstName + ' ' + user?.lastName }}
			</span>
			<span class="team">{{ team?.name }}</span>
		</div>
	</context-menu-trigger-app>

	<!-- Settings -->
	<context-menu-item-app (click)="goToProfile()" i18n="button@@profile">
		profile
	</context-menu-item-app>

	<!-- Team Management -->
	<context-menu-item-app (click)="goToTeamManagement()" i18n="button@@manage-team">
		manage team
	</context-menu-item-app>

	<!-- Teams -->
	<context-menu-item-app (click)="pickTeam()" i18n="button@@change-team">
		change team
	</context-menu-item-app>

	<!-- Settings -->
	<context-menu-item-app (click)="goToSettings()" i18n="button@@settings">
		settings
	</context-menu-item-app>


	<context-menu-divider-app></context-menu-divider-app>
	<!-- Logout -->
	<context-menu-item-app (click)="logout.emit()" i18n="button@@logout">
		logout
	</context-menu-item-app>
</context-menu-app>
