<div class="summary flex">
		<div class="block">
			<span class="title">PRODUCTS</span>
			<span class="content">{{ productsCount }}</span>
		</div>
		<div class="vr"></div>
		<div class="block">
			<span class="title">CONTACTS</span>
			<span class="content">-</span>
		</div>
		<div class="vr"></div>
		<div class="block">
			<span class="title">TASKS</span>
			<span class="content">
				{{ numTasks }}
				<div class="icon-edit"></div>
			</span>
		</div>
		<div class="vr"></div>
		<div class="block">
			<span class="title">COUNTRY</span>
			<span class="content">{{ supplier.countryCode | entity: 'country': 'fullName' | async }}</span>
		</div>
	</div>