<div class="summary flex">

		<!-- products count -->
		<div class="block">
			<span class="title" i18n="span|Supplier products information summary section@@supplierSummary_products">PRODUCTS</span>
			<span class="content">{{ productCount !== undefined ? productCount : '-' }}</span>
		</div>
		<divider-app [vertical]="true"></divider-app>

		<!-- contacts count -->
		<div class="block">
			<span class="title" i18n="span|Supplier contacts information summary section@@supplierSummary_contacts">CONTACTS</span>
			<span class="content">{{ contactCount  !== undefined ? contactCount : '-' }}</span>
		</div>
		<divider-app [vertical]="true"></divider-app>

		<!-- tasks count -->
		<div class="block">
			<span class="title" i18n="span|Supplier tasks information summary section@@supplierSummary_tasks">TASKS</span>
			<span class="content">
				<div class="icon-edit"></div>
				{{ taskCount !== undefined ? taskCount : '-' }}
			</span>
		</div>
		<divider-app [vertical]="true"></divider-app>
		<!-- favorite -->
		<div class="block">
			<span class="title" i18n="span|Supplier favorite information summary section@@supplierSummary_favorite">FAVORITE</span>
			<span class="content">
				<rating-heart-app
				(favorited)="onFavorited()"
				(unfavorited)="onUnfavorited()"
				[favorite]="supplier.favorite"></rating-heart-app>
			</span>
		</div>
		<divider-app [vertical]="true"></divider-app>

		<!-- status -->
		<div class="block">
			<span class="title" i18n="span|Supplier status information summary section@@supplierSummary_status">STATUS</span>
			<span class="padding-top">
				<!-- <workflow-action-app
					[xPosition]="'after'"
					[entity]="supplier"
					[typeEntity]="erm"></workflow-action-app> -->
			</span>
		</div>
	</div>