:host {
	display: block;
}
.summary {
	height: 64px;
 divider-app {
		width: 1px;
		height: 64px;
		background: var(--color-secondary);
		margin: 0 var(--spacing-l);
	}
	.block {
		text-align: left;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.title {
		font-weight: 600;
		font-size: var(--font-size-s);
		color: var(--color-txt-secondary);
		text-transform: uppercase;
	}
	.content {
		display: flex;
		height: 29px;
		font-weight: 600;
		font-size: 23px;
		color: var(--color-txt-primary);
		padding: 0;
		margin-top: 9px;
		flex-direction: row;
		align-items: center;
		.icon-edit {
			margin-right: var(--spacing-s);
			font-size: 19px;
			margin-top: 2px;
		}
	}
	.padding-top {
		padding-top: 6px;
	}
}
status-selector-badge-app {
	font-size: 16px;
}