<context-menu-app>
  <context-menu-trigger-app>
    <button class="secondary flexVAlign sort-1">
        <p *ngIf="currentSort?.sortBy === 'title'" class="flex">
					<ng-container i18n="@@sort-by-name">Sort By Name</ng-container>
          <ng-container *ngTemplateOutlet="direction"></ng-container>
        </p>
        <p *ngIf="currentSort?.sortBy === 'recipient.supplier.name'" class="flex">
					<ng-container i18n="@@sort-by-suppli">Sort By Supplier</ng-container>
          <ng-container *ngTemplateOutlet="direction"></ng-container>
        </p>
        <p *ngIf="currentSort?.sortBy === 'requestTemplate.name'" class="flex">
					<ng-container i18n="@@sort-by-type">Sort By Type</ng-container>
          <ng-container *ngTemplateOutlet="direction"></ng-container>
        </p>
        <p *ngIf="currentSort?.sortBy === 'status'" class="flex">
					<ng-container i18n="@@sort-by-status">Sort By Status</ng-container>
          <ng-container *ngTemplateOutlet="direction"></ng-container>
        </p>
        <p *ngIf="currentSort?.sortBy === 'recipient.name'" class="flex">
					<ng-container i18n="sort-by-sent-to">Sort By Sent to</ng-container>
          <ng-container *ngTemplateOutlet="direction"></ng-container>
        </p>
        <p *ngIf="currentSort?.sortBy === 'createdBy.firstName'" class="flex">
					<ng-container i18n="sort-by-sent-by">Sort By Sent by</ng-container>
          <ng-container *ngTemplateOutlet="direction"></ng-container>
        </p>
        <p *ngIf="currentSort?.sortBy === 'creationDate'" class="flex">
					<ng-container i18n="sort-by-sent-on">Sort By Sent on</ng-container>
          <ng-container *ngTemplateOutlet="direction"></ng-container>
        </p>
        <div><icon-app fontSet="fa" name="caret-down"></icon-app></div>
    </button>
  </context-menu-trigger-app>
  <context-menu-item-app (click)="sortFromMenu.emit('title')" class="menu-item first-uppercase">
		<ng-container i18n="@@name">name</ng-container>
    <ng-container *ngIf="currentSort?.sortBy === 'title'">
      <ng-container *ngTemplateOutlet="direction"></ng-container>
    </ng-container>
  </context-menu-item-app>
  <context-menu-item-app (click)="sortFromMenu.emit('recipient.supplier.name')" class="menu-item first-uppercase">
		<ng-container i18n="@@supplier">supplier</ng-container>
    <ng-container *ngIf="currentSort?.sortBy === 'recipient.supplier.name'">
      <ng-container *ngTemplateOutlet="direction"></ng-container>
    </ng-container>
  </context-menu-item-app>
  <context-menu-item-app (click)="sortFromMenu.emit('requestTemplate.name')" class="menu-item first-uppercase">
		<ng-container i18n="@@type">type</ng-container>
    <ng-container *ngIf="currentSort?.sortBy === 'requestTemplate.name'">
      <ng-container *ngTemplateOutlet="direction"></ng-container>
    </ng-container>
	</context-menu-item-app>
  <context-menu-item-app (click)="sortFromMenu.emit('status')" class="menu-item first-uppercase">
		<ng-container i18n="@@status">status</ng-container>
    <ng-container *ngIf="currentSort?.sortBy === 'status'">
      <ng-container *ngTemplateOutlet="direction"></ng-container>
    </ng-container>
	</context-menu-item-app>
	<context-menu-item-app (click)="sortFromMenu.emit('recipient.name')" class="menu-item first-uppercase">
		<ng-container i18n="@@sent-to">sent to</ng-container>
    <ng-container *ngIf="currentSort?.sortBy === 'recipient.name'">
      <ng-container *ngTemplateOutlet="direction"></ng-container>
    </ng-container>
  </context-menu-item-app>
	<context-menu-item-app (click)="sortFromMenu.emit('createdBy.firstName')" class="menu-item first-uppercase">
		<ng-container i18n="@@sent-by">sent by</ng-container>
    <ng-container *ngIf="currentSort?.sortBy === 'createdBy.firstName'">
      <ng-container *ngTemplateOutlet="direction"></ng-container>
    </ng-container>
  </context-menu-item-app>
  <context-menu-item-app (click)="sortFromMenu.emit('creationDate')" class="menu-item first-uppercase">
		<ng-container i18n="@@sent-on">sent on</ng-container>
    <ng-container *ngIf="currentSort?.sortBy === 'creationDate'">
      <ng-container *ngTemplateOutlet="direction"></ng-container>
    </ng-container>
  </context-menu-item-app>
</context-menu-app>

<ng-template #direction>
  <ng-container>
		<icon-app
			*ngIf="currentSort?.descending; else upArrow;"
			class="sortIcon fs-xs" fontSet="fa"	name="angle-down">
		</icon-app>
    <ng-template #upArrow>
      <icon-app  class="sortIcon fs-xs" fontSet="fa" name="angle-up"></icon-app>
    </ng-template>
  </ng-container>
</ng-template>
