
:host {
	display: block;
	text-align: right;
}

user-picture-app {
	margin-right: var(--spacing-ms);
}

button {
	margin-top: var(--spacing-ms);
}

.comment-txt {
	background: var(--color-bg-secondary);
}
