<search-bar-animated-app
	#searchBar
	[focused]="hasValueOrFocused"
	[animated]="false"
	[hasBorder]="false">
	<input
		#myInput 
		class="searchInput"
		inputApp 
		restrictSpecial 
		[restrictArrows]="true"
		[placeholder]="'placeholder.sidebar-search' | translate"
		type="text"
		(input)="triggerSearch()"
		[formControl]="searchControl" 
		(focus)="onFocus()"
		(focusout)="onUnfocus()"/>
</search-bar-animated-app>
<search-autocomplete-app
	#searchAutocomplete
	[xPosition]="0"
	[yPosition]="12">
	<ng-container *ngIf="searchResults$ | async as searchResults; else spinner">
		<ng-container *ngIf="searchResults?.length; else placeholder">
			<search-autocomplete-item-app *ngFor="let result of searchResults; trackBy: trackByFn" (itemSelected)="onItemSelected($event)">
				<search-autocomplete-item-content-app
					*ngIf="result.type === 'product'"
					[type]="result.type"
					[selectable]="false"
					[status]="result?.status" [title]="result.name" [subtitle]="result?.reference"
					[price]="result?.price"
					[votes]="result?.votes"
					[category]="result?.category?.name"
					[link]="'/products/' + result.id">
					[image]="result.images[0]"
				</search-autocomplete-item-content-app>
				<search-autocomplete-item-content-app
					*ngIf="result.type === 'supplier'"
					[type]="result.type"
					[selectable]="false"
					[status]="result?.status" [title]="result.name" [subtitle]="supplierSubtitle(result)"
					[price]="result?.price"
					[votes]="result?.votes"
					[category]="result?.category?.name"
					[image]="result.images[0]"
					[link]="'/suppliers/' + result.id ">
				</search-autocomplete-item-content-app>
			</search-autocomplete-item-app>
		</ng-container>
		<ng-template #placeholder>
			<div class="placeholder">{{'placeholder.no-items-found' | translate}}</div>
		</ng-template>
	</ng-container>
	<ng-template #spinner>
		<dots-app class="flexCenter"></dots-app>
	</ng-template>
</search-autocomplete-app>