:host {
	display: flex;
}

search-bar-animated-app {
	font-size: 24px;
	cursor: pointer;
	border-radius: var(--border-radius-s);

	&.expanded {
		background: #071327 !important;
	}

	input {
		padding: 0;
		padding-left: var(--spacing-s);
		color: white;
	}
}

.searchInput {
	background: transparent;
	border: none;
}

.placeholder {
	font-size: var(--font-size-l);
	padding: var(--spacing-ms);
}
