<div class="step">
	<h1>You got a Request for Quotation<br/> from Jeron Vanmeulen</h1>

	<h2>Request from</h2>

	<div class="flexVAlign">
		<div class="imgCtnr">
			<img class="mini" src="/assets/img/logo.svg"/>
		</div>
		<div class="flexColumn person">
			<a class="name"><strong>Name</strong></a>
			<span class="text">Wanlixing rubber S.A.S.</span>
		</div>
	</div>

	<h2>Description</h2>

	<div class="description">

	<div class="text">
		Hello!<br/><br/>

		It was a pleasure meeting you at Canton Fair 2018 - Phase 2.<br/>
		Could you update this product information sheet?<br/><br/>

		Thank you very much,<br/>
		Jerone Vanmeulen<br/>
		Wanlixing ubber S.A.A.
	</div>

	</div>

	<h2>Product</h2>

	<div class="carousel"></div>

	<h3>minh-0023-AC</h3>

	<div class="text">Created on Monday 12 May 2018</div>
	<div class="text">Canton Fair 2018 - Phase 2</div>
</div>
