.ctnr {
	padding: var(--spacing-xs) var(--spacing-s);
	border-radius: 1000px;
	font-size: var(--font-size-s);
	font-weight: 500;
	line-height: 1.25;
	letter-spacing: -0.1px;
	color: #ffffff;
	text-transform: capitalize;
}

