<div class="flex">
  <div class="flex btn pointer" (click)="openAddToProjectDialog.emit()">
    <span class="icon-add"></span>
    <span i18n="span|Selected products add action@@selectionActions_addProject">Add to project</span>
  </div>
  <div class="flex btn pointer" (click)="openRequestFeedbackDialog.emit()">
    <span class="icon-feedback"></span>
    <span i18n="span|Selected products request feedback action@@selectionActions_requestTeamFeedback">Request Team Feedback</span>
  </div>
  <div class="flex btn pointer" (click)="openRequestQuotationDialog.emit()">
    <span class="icon-feedback"></span>
    <span i18n="span|Selected products request quotation action@@selectionActions_requestForQuotation">Request For Quotation</span>
  </div>

  <div class="flex btn pointer" (click)="openExportDialog.emit()">
    <span class="icon-export"></span>
    <span i18n="span|Selected products export action@@selectionActions_export">Export</span>
  </div>
</div>
