<div class="flex">
  <div class="flex btn pointer" (click)="openAddToProjectDialog.emit()">
    <span class="icon-add"></span>
    <span class="capitalize" i18n="button@@add-to-project">add to project</span>
  </div>
  <div class="flex btn pointer" (click)="openRequestFeedbackDialog.emit()">
    <span class="icon-feedback"></span>
    <span class="capitalize" i18n="button@@request-team-feedback">request team feedback</span>
  </div>

  <div class="flex btn pointer" (click)="openExportDialog.emit()">
    <span class="icon-export"></span>
    <span class="capitalize" i18n="button@@export">export</span>
  </div>
</div>
