<div class="flex">
  <div class="flex btn pointer" (click)="addToProject()">
    <span class="icon-add"></span>
    <span i18n>Add to project</span>
  </div>
  <div class="flex btn pointer" (click)="requestFeedback()">
    <span class="icon-feedback"></span>
    <span i18n>Request Team Feedback</span>
  </div>
  <div class="flex btn pointer" (click)="export()">
    <span class="icon-export"></span>
    <span i18n>Export</span>
  </div>
</div>


<dialog-app [name]="addProductDialog">
  <div header>Add to project</div>
  <div content>
    <div class="contentTitle">My projects</div>
    <div *ngFor="let project of projects$ | async" class="contentRowBg">
      <div class="contentRow">
        <div class="icon-circle-unchecked"></div>
        <span class="projectName">{{project.name}}</span>
        <div class="productNumber">4</div>
      </div>
    </div>
    <!-- <div class="contentRowBg selected">
      <div class="contentRow">
        <div class="icon-circle-checked"></div>
        <span class="projectName">Team Bazare</span>
        <div class="productNumber">4</div>
      </div>
    </div>
    <div class="contentRowBg">
      <div class="contentRow">
        <div class="icon-circle-unchecked"></div>
        <span class="projectName">Team Bazare</span>
        <div class="productNumber">4</div>
      </div>
    </div>
    <div class="contentRowBg">
      <div class="contentRow">
        <div class="icon-circle-unchecked"></div>
        <span class="projectName">Team Bazare</span>
        <div class="productNumber">4</div>
      </div>
    </div> -->
  </div>
  <div footer>
    <div class="buttons">
      <button class="small">Add to project</button>
    </div>
  </div>
</dialog-app>

<dialog-app [name]="requestFeatureDialog">
  <div header>Request Team Feedback</div>
  <div content>
    <div class="contentTitle">Team members</div>
    <div *ngFor="let member of teamMembers$ | async"class="contentRowBg">
      <div class="contentRow">
        <div class="icon-circle-unchecked"></div>
        <span class="projectName">{{member.firstName}} {{member.lastName}}</span>
      </div>
    </div>
    <!-- <div class="contentRowBg selected">
      <div class="contentRow">
        <div class="icon-circle-checked"></div>
        <span class="projectName">Team Bazare</span>
      </div>
    </div>
    <div class="contentRowBg">
      <div class="contentRow">
        <div class="icon-circle-unchecked"></div>
        <span class="projectName">Team Bazare</span>
      </div>
    </div>
    <div class="contentRowBg">
      <div class="contentRow">
        <div class="icon-circle-unchecked"></div>
        <span class="projectName">Team Bazare</span>
      </div>
    </div> -->
  </div>
  <div footer>
    <div class="buttons">
      <button class="small">Send request</button>
    </div>
  </div>
</dialog-app>


<dialog-app [name]="exportDialog">
  <div header>Export Slection</div>
  <div content>
  </div>
  <div footer>
    <div class="buttons">
      <button class="small">Export now</button>
    </div>
  </div>
</dialog-app>
