<article class="card">

	<header>
		<div class="name">My product</div>
		<div class="price">
			<span class="currency">USD</span>
			<span class="priceAmount">15</span>
		</div>
	</header>

	<main>

	</main>
	<footer>
		<div class="author">
			James McMillan
		</div>
		<div class="actions">
			<i class="fa fa-thumbs-up" aria-hidden="true"></i>
			<i class="fa fa-check-square" aria-hidden="true"></i>
			<i class="fa fa-comment" aria-hidden="true"></i>
			<i class="fa fa-archive" aria-hidden="true"></i>
		</div>
	</footer>
</article>