:host {
	display: block;
	width: 304px;
	background: var(--color-bg);
}

.name {
	font-size: var(--font-size-default);
}

.imgCtnr {
	width: 64px;
	height: 48px;
	overflow: hidden;
	border-radius: var(--border-radius);
	img {
		max-height:100%;
		max-width:100%;
	}
}

main, footer{
	padding: var(--spacing-small);
	justify-content: space-between;
	position: relative;
}

.cercleGreen {
	position: absolute;
	width: 75px;
	height: 75px;
	background: var(--color-success);
	bottom: -15px;
	right: -15px;
	opacity: 0.4;
}

footer {
	background: var(--color-bg-secondary);
}

.name {
	font-weight: bold;
	color: var(--color-txt-strong);
}

.author {
	font-size: var(--font-size-small);
}