<card-app [padding]="false" [margin]="false" class="z-h">
	<main class="paddingSmall">
		<div class="top flexBetween">
			<h4 class="name">{{ product?.name }}</h4>
			<price-app [currency]="product?.priceCurrency?.id" [amount]="product?.priceAmount"></price-app>
		</div>
		<div class="flex">
			<div class="imgCtnr">
				<img [src]="product?.mainImage?.urls?.url_120x90 || DEFAULT_IMAGE "/>
				<icon-app class="heart" name="heart"></icon-app>
			</div>
			<product-sub-info-app [product]="product"></product-sub-info-app>
		</div>
		<div class="cercleGreen cercle" *ngIf="product?.status === 'Complete'"></div>
	</main>
	<footer class="flex paddingSmall">
		<div class="author">
			{{ product?.createdByUserId | entityName: 'teamMembers' | async}}
		</div>
		<product-icons-app [score]="product?.computedValues?.score" [numTasks]="product?.computedValues?.taskCount" [numComments]="product?.computedValues?.commentCount"></product-icons-app>
	</footer>
</card-app>
