:host {
	display: block;
	width: 304px;
	height: 112px;
	background: var(--color-bg);
}

.top {
	align-items: end;
	.name {
		height: 20px;
		font-size: var(--font-size-default);
		max-width: 50%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

.imgCtnr {
	width: 64px;
	height: 48px;
	overflow: hidden;
	border-radius: var(--border-radius);
	position: relative;
	.heart {
		position: absolute;
    top: -9px;
    transform: scale(0.5);
    left: -9px;
	}
	img {
		max-height:100%;
		max-width:100%;
	}
}

main, footer{
	padding: var(--spacing-s);
	justify-content: space-between;
	position: relative;
}

.cercleGreen {
	position: absolute;
	width: 75px;
	height: 75px;
	background: var(--color-success);
	bottom: -15px;
	right: -15px;
	opacity: 0.4;
}

product-sub-info-app {
	margin-left: var(--spacing-xs);
}

footer {
	background: var(--color-bg-secondary);
	color: var(--color-txt-secondary);
	height: 20px;
	padding: 0 var(--spacing-s);
	display: flex;
	align-items: center;
}

.name {
	font-weight: bold;
	color: var(--color-txt-strong);
}

.author {
	font-size: var(--font-size-s);
	line-height: 1;
}