<card-app padding="none" margin="none" class="z-h">
	<main class="paddingSmall">
		<div class="flexBetween">
			<h4 class="name">{{ product?.name }}</h4>
			<price-app [currency]="product?.priceCurrency?.id" [amount]="product?.priceAmount"></price-app>
		</div>
		<div class="flex">
			<div class="imgCtnr">
				<img [src]="product?.mainImage?.urls?.url_120x90 || DEFAULT_IMAGE "/>
				<icon-app class="heart" name="heart"></icon-app>
			</div>
			<product-sub-info-app [product]="product"></product-sub-info-app>
		</div>
		<div class="cercleGreen cercle" *ngIf="product?.status === 'Complete'"></div>
	</main>
	<footer class="flex paddingSmall">
		<div class="author">
			{{ product?.createdByUserId | entityName: 'teamMembers' | async}}
		</div>
		<product-icons-app [numTasks]="0" [numComments]="0"></product-icons-app>
	</footer>
</card-app>
