:host {
	text-transform: none;
}

.ctnr:not(:empty) {
	width: 100%;
	+ .default {
		display: none;
		width: 0%; 
	}
}

.ctnr:empty {
	display: none;
	width: 0%;

	+ .display {
		width: 100%;
	}
}

.five-lines {
	overflow: hidden;
	display: -webkit-box;
	/* autoprefixer: ignore next */
	-webkit-line-clamp: 5;
	/* autoprefixer: ignore next */
	-webkit-box-orient: vertical;
}
