form {
	width: 344px;
	margin: auto;
}


p.error {
	color: var(--color-warn);
}

.logo {
	margin-bottom: var(--spacing-ms);
}

.title {
	font-family: var(--font-normal);
  font-size: 28px;
	font-weight: 600;
	color: var(--color-txt-strong);
	margin-bottom: var(--spacing-ms);
}
