<div [formGroup]="group">
	<input-app
		*ngIf="isStandard()"
		[type]="descriptor.fieldType"
		[placeholder]="descriptor.label"
		[formControl]="ctrl"
		(blurred)="onUpdate(descriptor.name, $event)"></input-app>


	<entity-select-input-app
		*ngIf="descriptor.fieldType === 'entitySelect'"
		[placeholder]="descriptor.label"
		[formControl]="ctrl"
		[entityRep]="descriptor.metadata"
		(update)="onUpdate(descriptor.name, $event)"></entity-select-input-app> 

	<input-price-app
		*ngIf="descriptor.fieldType === 'price'"
		[placeholder]="descriptor.label"
		[formControl]="ctrl"
		(update)="onUpdate(descriptor.name, $event)"></input-price-app>


	<rating-input-app 
		*ngIf="descriptor.fieldType === 'rating'"
		[placeholder]="descriptor.label"
		[formControl]="ctrl"
		(change)="onUpdate(descriptor.name, $event)"></rating-input-app>

	<textarea-input-app
		*ngIf="descriptor.fieldType === 'textarea'"
		[placeholder]="descriptor.label"
		[formControl]="ctrl"
		(blurred)="onUpdate(descriptor.name, $event)"></textarea-input-app>

</div>
