<div [formGroup]="group">
	<input-app
		*ngIf="isStandard()"
		[type]="descriptor.fieldType"
		[placeholder]="descriptor.label"
		[formControl]="ctrl"
		(blurred)="onUpdate(descriptor.name, $event)"></input-app>


	<entity-select-input-app
		*ngIf="isEntitySelect()"
		[placeholder]="descriptor.label"
		[formControl]="ctrl"
		[entityRep]="getEntityRep(descriptor.name)"
		(change)="onUpdate(descriptor.name, $event)"></entity-select-input-app> 
	
	<rating-input-app 
		*ngIf="isRating()"
		[placeholder]="descriptor.label"
		[formControl]="ctrl"
		(change)="onUpdate(descriptor.name, $event)"></rating-input-app>

	<textarea-input-app
		*ngIf="isTextArea()"
		[placeholder]="descriptor.label"
		[formControl]="ctrl"
		(blurred)="onUpdate(descriptor.name, $event)"></textarea-input-app>

</div>
