<div class="imgCtnr flexCenter">
	<div class="overlay">
		<icon-app *ngIf="!selected; else selIc" class="pointer" size="xl" name="circle" color="white" (click)="select.emit()"></icon-app>
		<ng-template #selIc>
			<icon-app class="pointer" size="xl" name="check-circle" color="primary" (click)="unselect.emit()"></icon-app>
		</ng-template>

		<div class="openCtnr">
			<div class="open pointer" (click)="open.emit()">OPEN</div>
			<feedback-input-app class="feedback" color="white" (vote)="vote.emit()"></feedback-input-app>
		</div>
		<icon-app class="pointer" name="trash-alt" color="white" (click)="trash.emit()"></icon-app>
	</div>
	<img [src]="url || defaultImg"/>
</div>