
<ng-container *ngIf="productsByStatus$ | async as statuses">
		<div class="flex">
			<kanban-col-app
				(itemDropped)="changeStatus($event)"
				[bag]="status.id"
				[label]="status.name"
				*ngFor="let status of statuses; let i = index">
					<kanban-item-app
						[data]="product.id"
						class="item"
						*ngFor="let product of status.products; let j = index">
						<product-small-card-app class="marginSmall" [product]="product"></product-small-card-app>
					</kanban-item-app>
			</kanban-col-app>
		</div>
	</ng-container>