
<ng-container *ngIf="productsByStatus$ | async as statuses">
		<div class="flex">
			<kanban-col-app
				(itemDropped)="changeStatus($event)"
				[bag]="status.id"
				[label]="status.name"
				*ngFor="let status of statuses; let i = index">
					<kanban-item-app
						[data]="product.id"
						class="item"
						*ngFor="let product of status.products; let j = index">
						<article class="card z-h pointer flex"
							(click)="itemClicked.emit(product.id)">
							<div class="imgCtnr">
								<img src="{{ product?.mainImage?.urls?.url_220x165 }}"/>
							</div>
							<div>
								<h4>{{ product.name }} </h4>

								<small>{{ product.supplierId | entityName:'suppliers' | async }}</small>
							</div>


						</article>
					</kanban-item-app>
			</kanban-col-app>
		</div>
	</ng-container>