
<ng-container *ngFor="let product of products; let i = index">
	<product-selectable-card-app
		[selected]="selections.get(product.id)"
		(productSelect)="productSelect.emit($event)"
		(productUnselect)="productUnselect.emit($event)"
		(productFavorited)="productFavorited.emit($event)"
		(productUnfavorited)="productUnfavorited.emit($event)"
		(productOpen)="productOpen.emit($event)"
		(productVote)="productVote.emit($event)"
		*ngIf="i === 0"
		[product]="product"></product-selectable-card-app>	
</ng-container>

