:host {
	display: block;
	height: 100%;
}

top-panel-app {
	padding-bottom: var(--spacing-s);
}

sub-panel-app {
	padding: var(--spacing-m) var(--spacing-l) var(--spacing-ms) var(--spacing-l) !important;
}