<table class="{{ big ? 'big' : '' }}">
	<tr *ngIf="product?.supplierId | entityExist: 'suppliers' | async">
		<td>
			<icon-app name="check-circle" size="xs" color="success"></icon-app>
		</td>
		<td>
			<span> {{ product?.supplierId | entityName: 'suppliers' | async }}</span>
		</td>
	</tr>

	<tr  *ngIf="product?.categoryId | entityExist: 'categories' | async">
		<td>
			<icon-app name="tag" size="xs"></icon-app>
		</td>
		<td>
			<span>{{ product?.categoryId | entityName: 'categories' | async }}</span>
		</td>
	</tr>
</table>