

<attachment-table-app
	[hasPagination]="false"
	[currentSort]="listSrv.currentSort"
	[pending]="listSrv.pending"
	[rows]="listSrv.items$ | async"
	[selection]="listSrv.selection$ | async"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(delete)="listSrv.deleteOne($event)"
	(update)="listSrv.update($event)"
	(open)="listSrv.goToDetails($event)"
	(openAddToProjectDialog)="commonModalSrv.openAddToProjectDialog([$event])"
	(openAddSampleDialog)="commonModalSrv.openAddSampleDialog($event)"
	(openAddTaskDialog)="commonModalSrv.openCreationTaskDlg($event)"
	(setFavourite)="listSrv.onItemFavorited($event?.id)"
	(openRequestFeedbackDialog)="commonModalSrv.openRequestFeedbackDialog([$event])"
	(openCreateRequestDlg)="commonModalSrv.openSupplierRequest([$event])"
	(previewClick)="listSrv.openPreview($event)"
	(select)="listSrv.selectOne($event, true)"
	(selectAll)="listSrv.selectAll($event, true)"
	(sort)="listSrv.sort($event)"
	(unfavorited)="listSrv.onItemUnfavorited($event)"
	(unselect)="listSrv.unselectOne($event, true)"
	(update)="listSrv.update($event)"
	(createClick)="commonModalSrv.openCreationProductDlg()"
	(unselectAll)="listSrv.unselectAll()"
	(upload)="listSrv.refetch()">
</attachment-table-app>

