<controller-list-app
	class="max-full-table-width"
	[entityType]="erm.ATTACHMENT.singular"
	[hasFilter]="false"
	[hasSwitch]="false"
	[buttonName]="'Add file'"
	[view]="listSrv.view"
	(search)="listSrv.search($event)"
	(smartSearch)="listSrv.smartSearch($event)"
	(buttonClick)="table.openFileBrowser()">
</controller-list-app>

<attachment-table-app
	#table
	class="max-full-table-width"
	[hasPagination]="false"
	[currentSort]="listSrv.currentSort"
	[pending]="listSrv.pending"
	[rows]="listSrv.items$ | async"
	[selection]="listSrv.selection$ | async"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	[linkedEntity]="supplier"
	(delete)="listSrv.deleteOne($event)"
	(update)="listSrv.update($event)"
	(open)="listSrv.goToDetails($event)"
	(openAddToProjectDialog)="commonModalSrv.openAddToProjectDialog([$event])"
	(openAddSampleDialog)="commonModalSrv.openAddSampleDialog($event)"
	(openAddTaskDialog)="commonModalSrv.openCreationTaskDlg($event)"
	(setFavourite)="listSrv.onItemFavorited($event?.id)"
	(openRequestFeedbackDialog)="commonModalSrv.openRequestFeedbackDialog([$event])"
	(openCreateRequestDlg)="commonModalSrv.openSupplierRequest([$event])"
	(previewClick)="listSrv.openPreview($event)"
	(select)="listSrv.selectOne($event, true)"
	(selectAll)="listSrv.selectAll($event, true)"
	(sort)="listSrv.sort($event)"
	(unfavorited)="listSrv.onItemUnfavorited($event)"
	(unselect)="listSrv.unselectOne($event, true)"
	(update)="listSrv.update($event)"
	(createClick)="commonModalSrv.openCreationProductDlg()"
	(unselectAll)="listSrv.unselectAll()"
	(upload)="listSrv.refetch().subscribe()">
</attachment-table-app>


<selection-bar-app
	[isShown]="(listSrv.selection$ | async).size > 0"
	[selection]="listSrv.selection$ | async"
	(close)="listSrv.unselectAll()">

	<button class="icon light" (click)="listSrv.deleteSelected()">
		<icon-app name="trash"></icon-app>
	</button>
	
</selection-bar-app>
