
<table-app
	class="secondary-style"
	[rows]="rows"
	[pending]="pending"
	[hasSelection]="false"
	[hasMenu]="false"
	[selected]="selection"
	placeholder="No requests items"
	[contextualMenu]="contextualMenuTemplate"
	(bottomReached)="bottomReached.emit()"
	(selectAll)="selectAll.emit($event)"
	(selectOne)="select.emit($event)"
	(sort)="sort.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(unselectOne)="unselect.emit($event)">

	<!-- contextual menu -->
	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-app
			class="pointer flexCenter">
			Options by design
		</context-menu-item-app>
	</ng-template>

	<ng-template
		columnApp="Product"
		sortBy="name"
		let-row="row"
		width="300">
		<div class="mainCell ellipsis">
			<span class="capitalize ellipsis">
				<div class="name txt-btn title" (click)="open.emit(row)">
					{{ row?.name }}
				</div>
			</span>
		</div>
	</ng-template>

	<ng-template
		columnApp="Fields"
		let-index="index"
		width="200">
	 {{ replied[index]?.replied + '/' + replied[index]?.total }}
	</ng-template>

	<ng-template
		columnApp="Status"
		sortBy="status"
		let-row="row"
		width="200">
		<request-status-badge-app
			[status]="row?.reply?.status"
			[creationDate]="row?.creationDate"
			[isTeam]="false">
		</request-status-badge-app>
	</ng-template>

</table-app>