<table-app
	[rows]="rows"
	typename="Task"
	[pending]="pending"
	[isSeaching]="isFiltering"
	[contextualMenu]="contextualMenuTemplate"
	[hasHeader]="hasHeader"
	[hasMenu]="hasMenu"
	[hasSelection]="hasSelection"
	[hasPagination]="hasPagination"
	[hasBorder]="hasBorder"
	[placeholder]="'placeholder.no-task' | translate"
	(createClick)="createClick.emit()"
	(bottomReached)="bottomReached.emit()">

		<!-- dynamic columns -->
		<ng-template
			*ngFor="let column of columnsConfig; trackBy: trackByFn"
			let-row="row"
			[columnApp]="column.translationKey ? ('title.' + column.translationKey | translate) : ''"
			[sortable]="column.sortable !== false"
			[width]="column.width"
			[sortBy]="column.sortProperty"
			[grows]="!column.fixedWidth"
			[showOnHover]="column.showOnHover">
    	<ng-container [ngSwitch]="column.name">

			<default-columns-app
				*ngSwitchDefault
				[row]="row"
				[column]="column"
				[hovered]="row.id === hovered"
				typename="Task"
				[logoColor]="getColor(row)"
				[redirectOnNameClick]="false"
				(update)="update.emit($event)"
				(updateDueDate)="updateDueDateStatus($event)"
				(nameClick)="previewClick.emit($event)"
				(previewClick)="previewClick.emit($event)"
				(logoClick)="previewClick.emit($event)">
			</default-columns-app>

			<ng-container *ngSwitchCase="'status'">
				<status-selector-app
					class="flex"
					[entity]="row"
					typename="Task"
					selectSize="m">
				</status-selector-app>
			</ng-container>

			<!-- TODO remove the bottom columns or not depending on what we are going to receive in the upcoming designs -->

			<!-- done -->
			<!-- <ng-container *ngSwitchCase="'done'">
				<icon-app
					class="pointer"
					[ngClass]="iconClass(row)"
					[name]="iconName(row)"
					[size]="24"
					(click)="toggleStatus(row)">
				</icon-app>
			</ng-container> -->

			<!--about: task done + name + product -->
			<!-- <ng-container *ngSwitchCase="'about'">
				<div class="about flex">
					<icon-app
						class="about flexStart"
						[ngClass]="iconClass(row)"
						[name]="iconName(row)"
						[size]="24"
						(click)="toggleStatus(row)">
					</icon-app>
					<div class="about-container flex">
						<span class="ellipsis task-name txt-btn">{{ row?.name }}</span>
						<span class="ellipsis task-reference ellipsis">{{ row?.reference }}</span>
					</div>
				</div>
			</ng-container> -->

			<!-- due date small -->
			<!-- <ng-container *ngSwitchCase="'due date small'">
				<div class="mainCellWrapper ellipsis">
					<span class="ellipsis due-date-small">{{ row?.dueDate | date: 'dd MMM' }}</span>
				</div>
			</ng-container> -->

			<!-- small done -->
			<ng-container *ngSwitchCase="'done'">
				<div class="flex">
					<icon-app
						class="pointer mg-right-ms"
						[ngClass]="iconClass(row)"
						[name]="iconName(row)"
						[size]="16">
					</icon-app>
					<span class="ellipsis pointer task-name txt-btn" (click)="previewClick.emit(row)">{{ row?.name }}</span>
				</div>
			</ng-container>

		</ng-container>

	</ng-template>

</table-app>

<!-- contextual menu -->
<ng-template #contextualMenuTemplate let-row="row">
	<context-menu-item-warn-app
		(click)="delete.emit(row)">
		<div class="icon-box square flexCenter mg-right-s">
			<icon-app name="delete" size="s"></icon-app>
		</div>
		<span translate="button.delete"></span>
	</context-menu-item-warn-app>
</ng-template>
