<table-app
	[rows]="rows"
	[type]="'TASK' | erm: true"
	[pending]="pending"
	[selected]="selection"
	[contextualMenu]="contextualMenuTemplate"
	[currentSort]="currentSort"
	[rowHeight]="rowHeight"
	[count]="count"
	[currentPage]="currentPage"
	[hasHeader]="hasHeader"
	[hasMenu]="hasMenu"
	[hasSelection]="hasSelection"
	[hasPagination]="hasPagination"
	[rowHeight]="rowHeight"
	[placeholder]="'placeholder.no-task' | translate"
	(goToPage)="goToPage.emit($event)"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit($event)"
	(sort)="sort.emit($event)"
	(createClick)="createClick.emit()"
	(bottomReached)="bottomReached.emit()">

		<!-- dynamic columns -->
		<ng-template
			*ngFor="let column of columnsConfig; trackBy: trackByFn"
			let-row="row"
			[columnApp]="column.translationKey ? ('title.' + column.translationKey | translate) : ''"
			[sortable]="column.sortable !== false"
			[width]="column.width"
			[sortBy]="column.sortProperty"
			[showOnHover]="column.showOnHover">

    <ng-container [ngSwitch]="column.name">

			<!-- done -->
			<ng-container *ngSwitchCase="'done'">
				<icon-app
					class="pointer"
					[ngClass]="iconClass(row)"
					[name]="iconName(row)"
					[size]="24"
					(click)="toggleStatus(row)">
				</icon-app>
			</ng-container>

			<!--about: task done + name + product -->
			<ng-container *ngSwitchCase="'about'">
				<div class="about flex">
					<icon-app
						class="about flexStart"
						[ngClass]="iconClass(row)"
						[name]="iconName(row)"
						[size]="24"
						(click)="toggleStatus(row)">
					</icon-app>
					<div class="about-container flex">
						<span class="ellipsis task-name txt-btn">{{ row?.name }}</span>
						<span class="ellipsis task-reference ellipsis">{{ row?.reference }}</span>
					</div>
				</div>
			</ng-container>

			<!-- due date -->
			<ng-container *ngSwitchCase="'due date'">
				<div class="mainCellWrapper due-date-container ellipsis">
					<span class="ellipsis" [ngClass]="{ 'txt-task-done-empty': row?.done || !row?.dueDate }">{{ row?.dueDate ? (row?.dueDate | date: 'dd MMM y':'':translate.currentLang) : 'Set due date' }}</span>
				</div>
			</ng-container>

			<!-- due date small -->
			<ng-container *ngSwitchCase="'due date small'">
				<div class="mainCellWrapper ellipsis">
					<span class="ellipsis due-date-small">{{ row?.dueDate | date: 'dd MMM' }}</span>
				</div>
			</ng-container>

			<!-- small done -->
			<ng-container *ngSwitchCase="'small done name'">
				<div class="flex">
					<icon-app
						class="pointer mg-right-ms"
						[ngClass]="iconClass(row)"
						[name]="iconName(row)"
						[size]="16"
						(click)="toggleStatus(row)">
					</icon-app>
					<span class="ellipsis pointer task-name txt-btn" (click)="previewClick.emit(row)">{{ row?.name }}</span>
				</div>
			</ng-container>

		</ng-container>

	</ng-template>

</table-app>


<!-- contextual menu -->
<ng-template #contextualMenuTemplate let-row="row">
	<context-menu-item-warn-app
		class="pointer flexCenter"
		(click)="delete.emit(row)">
		{{'text.delete' | translate}}
	</context-menu-item-warn-app>
</ng-template>