:host {
	position: relative;
	display: block;
}

.trigger {
	display: inline-block;
}

.autocomplete {
	z-index: var(--z-card-container);
	position: absolute;
	background: white;
	color: var(--color-txt-primary);
	display: block;
	flex-direction: column;
	border-radius: var(--border-radius);
	max-height: 300px;
	overflow-y: auto;
	&::-webkit-scrollbar { width: 0 !important } // we make invisible the scrollbar
}

.autocomplete-before {
	right: var(--spacing-m);
}

.autocomplete-after {
	left: var(--spacing-m);
}

.autocomplete-above {
	top: -(var(--spacing-m));
}

.autocomplete-below {
	bottom: -(var(--spacing-m));
}
