<controller-list-app
	class="max-full-table-width"
	[entityType]="erm.SAMPLE.singular"
	[hasFilter]="false"
	[hasSwitch]="false"
	[entityType]="'SAMPLE'"
	[view]="listSrv.view"
	(search)="listSrv.search($event)"
	(smartSearch)="listSrv.smartSearch($event)">
</controller-list-app>

<sample-table-app
	class="max-full-table-width"
	[hasHeader]="false"
	[hasPagination]="false"
	[rows]="listSrv.items$ | async"
	[selection]="listSrv.selection$ | async"
	[pending]="listSrv.pending"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(sort)="listSrv.sort($event)"
	(select)="listSrv.selectOne($event, true)"
	(unselect)="listSrv.unselectOne($event, true)"
	(selectAll)="listSrv.selectAll($event, true)"
	(unselectAll)="listSrv.unselectAll()"
	(open)="listSrv.goToDetails($event)"
	(favorited)="listSrv.onItemFavorited($event)"
	(unfavorited)="listSrv.onItemUnfavorited($event)"
	(previewClick)="listSrv.openPreview($event)"
	(createClick)="commonModalSrv.openAddSampleDialog(undefined, supplier)"
	(delete)="listSrv.deleteOne($event)">
</sample-table-app>


<sample-preview-app
	*ngIf="listSrv.previewOpen"
	[sample]="listSrv.previewed"
	(close)="listSrv.closePreview()"
	(clickOutside)="listSrv.closePreview()">
</sample-preview-app>
