<request-top-panel-app
	[request]="request">
</request-top-panel-app>

<request-information-app
	[request]="request">
</request-information-app>

<card-app>
	<h3 class="l">Request Items</h3>
		<request-element-list-view-app
			class="no-padding"
			[rows]="listSrv.items$ | async"
			[pending]="listSrv.pending"
			[selection]="listSrv.selection$ | async"
			(bottomReached)="listSrv.loadMore()"
			(openRequestDlg)="commonModalSrv.openRequestViewDialog($event)"
			(select)="listSrv.selectOne($event)"
			(selectAll)="listSrv.selectAll($event)"
			(sort)="listSrv.sort($event)"
			(unselect)="listSrv.unselectOne($event)"
			(unselectAll)="listSrv.unselectAll()">
		</request-element-list-view-app>
</card-app>

<selection-bar-app
	[isShown]="(listSrv.selection$ | async).size > 0"
	[selection]="listSrv.selection$ | async"
	(close)="listSrv.unselectAll()">
</selection-bar-app>
