:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.borderless {
	padding: 0;
	border-top: unset;
}

$left-width: 360px;

.left {
	width: $left-width;
}

.right {
	width: calc(100% - #{$left-width});
}

selection-bar-app {
	position: absolute;
}