
<div class="g" [formGroup]="group">
		
<h3>Vanilla input</h3>
		<input-app type="text" 
		 label="text"
		 (update)="onUpdate($event)"
		 [formControl]="getControl('text')" placeholder="placeholder"></input-app>
		 <br/>
		 Value: {{ getControl('text').value }}
		 <br/>
		 Event: {{ event }}

		 <hr/>
 
		 <input-app type="number" 
			label="number"
			(update)="onUpdate($event)"
			[formControl]="getControl('number')"
			placeholder="placeholder"></input-app>
			<br/>
			Value: {{ getControl('number').value }}
			<br/>
			Event: {{ event }}

		 <hr/>
		 
		 <input-app type="date" 
			label="date"
			(update)="onUpdate($event)"
			[formControl]="getControl('date')" placeholder="placeholder"></input-app>
			<br/>
			Value: {{ getControl('date').value }}
			<br/>
			Event: {{ event }}

			<hr/>
			
			<input-app type="email" 
			label="email"
			(update)="onUpdate($event)"
			[formControl]="getControl('email')"
			placeholder="placeholder"></input-app>
			<br/>
			Value: {{ getControl('email').value }}
			<br/>
			Event: {{ event }}

			<hr/>
		
			<input-app type="url" 
			label="url"
			(update)="onUpdate($event)"
			[formControl]="getControl('url')" placeholder="placeholder"></input-app>
			<br/>
			Value: {{ getControl('url').value }}
			<br/>
			Event: {{ event }}

			<hr/>
				
			<input-app type="tel" 
			label="tel"
			(update)="onUpdate($event)"
			[formControl]=" getControl('tel')"
			placeholder="placeholder"></input-app>
			<br/>
			Value: {{  getControl('tel').value }}
			<br/>
			Event: {{ event }}

			<hr/>
			
			<input-app type="decimal" 
			label="decimal"
			(update)="onUpdate($event)"
			[formControl]="getControl('decimal')" placeholder="placeholder"></input-app>
			<br/>
			Value: {{  getControl('decimal').value }}
			<br/>
			Event: {{ event }}


			<hr/>
			
			<input-textarea-app
			label="textarea"
			(update)="onUpdate($event)"
			[formControl]="getControl('textarea')" placeholder="placeholder"></input-textarea-app>
			<br/>
			Value: {{  getControl('textarea').value }}
			<br/>
			Event: {{ event }}

			<hr/>
			
			<input-radio-app
			label="radio"
			(update)="onUpdate($event)"
			[choices]="choices"
			[formControl]="getControl('radio')" 
			placeholder="placeholder"></input-radio-app>
			<br/>
			Value: {{  getControl('radio').value }}
			<br/>
			Event: {{ event }}
			<br/>
			For good perfs: <br/>
			 - Should change to 3.<br/>
			 - In console only 4 to 8 'check'<br/>
			<button class="small" (click)="patch('radio', '3')"> Patch</button>

			<hr/>
			<div class="error">Not yet functional</div>
			<input-checkbox-app
			label="checkbox"
			(update)="onUpdate($event)"
			[choices]="choices"
			[selected]="getControl('checkbox').value"
			[formControl]="getControl('checkbox')" 
			placeholder="placeholder"></input-checkbox-app>
			<br/>
			Value: {{  getControl('checkbox').value }}
			<br/>
			Event: {{ event }}

			<button class="small" (click)="patch('checkbox', ['1', '4'])"> Patch</button>			

<h3>Custom inputs</h3>

	<hr/>

	<input-searchable-entity-select-app
		label="Entity Select (suppliers)"
		(update)="onUpdate($event)"
		[entityRep]="suppliersRepr"
		[formControl]="getControl('suppliers')"></input-searchable-entity-select-app>
	<br/>
	Value: {{  getControl('suppliers').value }}
	<br/>
	Event: {{ event }}


</div>

