:host {
	display: block;
}

card-app {
	width: 100%;

	icon-app[name="poll-light-blue"], icon-app[name^="thumbs-"] {
		cursor: default;
	}

	.title {
		margin-bottom: var(--spacing-ms);

		.space-icon {
			height: var(--spacing-xl);
			width: var(--spacing-xl);
			margin-right: var(--spacing-ms);
		}

		h2 {
			align-items: center;
			display: flex;
			margin-bottom: 0px;
		}
	}

	.rating-info {
		padding-top: var(--spacing-m);

		.thumb-info {
			margin-left: 127px;

			icon-app {
				width: var(--spacing-xl);
				height: var(--spacing-xl);
				border-radius: 50%;
				cursor: default;
			}
			.score-info {
				margin-left: var(--spacing-m);

				.number {
					color: var(--color-txt-strong);
					font-size: var( --font-size-xxxl);
					font-weight: 600;
				}
			}
		}
	}
	rating-cylinder-app {
		margin-top: var(--spacing-m);
		margin-bottom: var(--spacing-ms);
	}

	.no-vote {
		font-size: var( --font-size-xxxl);
    color: var(--color-txt-strong);
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: var(--spacing-xl) 0px;
	}

	card-footer-app {
		display: flex;
		justify-content: space-between;
		padding-bottom: 0px;
		margin-left: var(--spacing-ms);
    margin-right: var(--spacing-ms);

		button {
			width: 160px;
			font-weight: 600;
		}
	}
}