:host {
	display: block;
}

.space-icon {
	height: 32px;
	width: 32px;
	margin-right: var(--spacing-ms);
}

.title {
	margin-bottom: var(--spacing-ms);
	h2 {
		align-items: center;
		display: flex;
		margin-bottom: 0px;
	}
}

card-app {
	width: 100%;

	icon-app[name="poll-light-blue"] {
		cursor: default;
	}

	.rating-info {
		padding-top: 16px;

		.thumb-info {
			margin-left: 35%;

			icon-app {
				width: 34px;
				height: 34px;
				border-radius: 50%;
			}
			.score-info {
				margin-left: 17px;

				.number {
					color: var(--color-txt-strong);
					font-size: var( --font-size-xxxl);
					font-weight: 600;
				}
			}
		}
	}
	rating-cylinder-app {
		margin-top: 15px;
		margin-bottom: var(--spacing-ms);
	}

	.no-vote {
		font-size: var( --font-size-xxxl);
    color: var(--color-txt-strong);
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin: 31px 0px;
	}

	card-footer-app {
		display: flex;
		justify-content: space-between;
		padding-bottom: 0px;
		margin-left: var(--spacing-ms);
    margin-right: var(--spacing-ms);

		button {
			width: 160px;
			font-weight: 600;
		}
	}
}