<card-app>

	<div class="title flex">
		<div class="space-icon flexAround">
			<icon-app name="poll" class="color-primary"></icon-app>
		</div>
		<h2 i18n="header 2|Product card@@teamRatingCard_product" class="flex">
			Team Rating
		</h2>
	</div>

	<ng-container *ngIf="votes?.length > 0; else noVotes">
		<div class="rating-info">
			<div class="thumb-info flexVAlign">
				<icon-app class="thumb" [name]="name" [ngStyle]="buttonStyle"></icon-app>
				<div class="score-info flexColumn">
					<span class="number">{{ score !== undefined ? score : '-' }} %</span>
					<span>({{ votes?.length || '0'}} votes)</span>
				</div>
			</div>
			<rating-cylinder-app
				[score]="score"
				dislikeColor="warn"
				width="342">
			</rating-cylinder-app>
		</div>

		<card-footer-app>
			<thumb-buttons-app
				size="m"
				[votes]="votes"
				[hasText]="true"
				(liked)="liked.emit()"
				(disliked)="disliked.emit()">
			</thumb-buttons-app>
			<button class="secondary-light" (click)="openVoteDetails.emit()">View Vote Details</button>
		</card-footer-app>
	</ng-container>

	<ng-template #noVotes>
		<span class="no-vote">No Votes Yet</span>
		<rating-cylinder-app
			dislikeColor="divider"
			width="342">
		</rating-cylinder-app>

		<card-footer-app>
			<thumb-buttons-app
				size="m"
				[votes]="votes"
				[hasText]="true"
				(liked)="liked.emit()"
				(disliked)="disliked.emit()">
			</thumb-buttons-app>
			<button class="primary fullWidth" (click)="requestTeamVotes.emit()">Request Team</button>
		</card-footer-app>
	</ng-template>

</card-app>