<products-table-app
	class="list-view"
	[listView]="true"
	[rows]="rows"
	[pending]="!rows"
	[columns]="['reference', 'name', 'status', 'creationDate']"
	tableConfigType="medium"
	[tableConfig]="tableConfig"
	[hasBorder]="false"
	[hasMenu]="false"
	[hasDownloadApp]="true"
	[hasHeader]="false"
	[hasSelection]="false"
	[hasPagination]="false"
	[hasPreview]="false"
	(update)="update($event)"
	(createClick)="dialogCommonSrv.openCreationProductDlg()"
	(downloadClick)="dialogCommonSrv.openDownloadDialog()">
</products-table-app>
