<button (click)="toggle = !toggle">test me</button>
<preview-app *ngIf="toggle">
	<preview-banner-app (closed)="toggle = !toggle">
		<carousel-app
			[images]="(product$ | async)?.images"
			[selectedIndex]="selectedIndex"
			objectFit="cover"
			(imgClick)="openModal($event)"
			(deleted)="onDelete($event)">
		</carousel-app>
	</preview-banner-app>
	<preview-header-app
		[badges]="icons"
		[entityMD]="entityMD"
		[entity]="(product$ | async)">
		<div>test</div>
	</preview-header-app>
	<preview-section-app
		[title]="'section2'">
	</preview-section-app>
	<preview-section-app
		[title]="'section2'">
		TEST
	</preview-section-app>
	<preview-section-app
		[title]="'section2'">
	</preview-section-app>
	<preview-section-app
		[title]="'section2'">
	</preview-section-app>
	<preview-section-app
		[title]="'section2'">
	</preview-section-app>
	<preview-section-app
		[title]="'section1'">
	</preview-section-app>
</preview-app>

<modal-carousel-app
	*ngIf="modalOpen"
	[selectedIndex]="selectedIndex"
	[images]="(product$ | async)?.images"
	(close)="closeModal()">
</modal-carousel-app>