
<!-- LENGTH -->
<editable-field-app 
	#edtLength
	[readonly]="readonly"
	(saved)="onSave(value)"
	(opened)="storeValue('length', value.length)"
	(canceled)="onCancel('length')">
	<editable-label-app>Length</editable-label-app>
	<editable-value-app>
		<ng-container *ngIf="value?.length || value?.lengthUnit; else noVal">
			{{ value?.length }} 
			{{ value?.lengthUnit }}
		</ng-container>
		<ng-template #noVal><span>-</span></ng-template>
	</editable-value-app>
	<input 
		inputApp
		type="number"
		min="0" 
		step="0.01"
		[(ngModel)]="value.length"
		[required]="required"
		(keyup.enter)="edtLength.save()"
		(input)="onChangeFn(value)"
		(blur)="onTouchedFn()"/>
</editable-field-app>

<!-- WIDTH -->
<editable-field-app 
	#edtWidth
	[readonly]="readonly"
	(saved)="onSave(value)"
	(opened)="storeValue('width', value.width)"
	(canceled)="onCancel('width')">
	<editable-label-app>Width</editable-label-app>
	<editable-value-app>
		<ng-container *ngIf="value?.width || value?.lengthUnit; else noVal">
			{{ value?.width }} 
			{{ value?.lengthUnit }}
		</ng-container>
		<ng-template #noVal><span>-</span></ng-template>
	</editable-value-app>
	<input 
		inputApp
		type="number"
		min="0" 
		step="0.01"
		[(ngModel)]="value.width"
		[required]="required"
		(keyup.enter)="edtWidth.save()"
		(input)="onChangeFn(value)"
		(blur)="onTouchedFn()"/>
</editable-field-app>

<!-- HEIGHT -->
<editable-field-app 
	#edtHeight
	[readonly]="readonly"
	(saved)="onSave(value)"
	(opened)="storeValue('height', value.height)"
	(canceled)="onCancel('height')">
	<editable-label-app>Height</editable-label-app>
	<editable-value-app>
		<ng-container *ngIf="value?.height || value?.lengthUnit; else noVal">
			{{ value?.height }} 
			{{ value?.lengthUnit }}
		</ng-container>
		<ng-template #noVal><span>-</span></ng-template>
	</editable-value-app>
	<input 
		inputApp
		type="number"
		min="0" 
		step="0.01"
		[(ngModel)]="value.height"
		[required]="required"
		(keyup.enter)="edtHeight.save()"
		(input)="onChangeFn(value)"
		(blur)="onTouchedFn()"/>
</editable-field-app>


<!-- LENGTH UNIT-->
<editable-field-app 
	#edtLengthUnit
	[readonly]="true"
	[clickableReadonly]="!readonly"
	(click)="lengthUnitSelector.openMenu($event)"
	(opened)="storeValue('lengthUnit', value.lengthUnit)"
	(canceled)="onCancel('lengthUnit')">
	<editable-label-app>Length Unit</editable-label-app>
	<editable-value-app>
		<selector-app 
			#lengthUnitSelector
			typename="PropertyOption"
			customType="lengthUnit"
			[readonly]="readonly"
			[required]="required"
			[(ngModel)]="value.lengthUnit"
			(input)="onChangeFn(value)"
			(blur)="onTouchedFn()"
			(update)="onSave($event)">
			{{ value?.lengthUnit || '-' }}
		</selector-app>
	</editable-value-app>
</editable-field-app>

<!-- QUANTITY -->
<editable-field-app 
	#edtQuantity
	[readonly]="readonly"
	(saved)="onSave(value)"
	(opened)="storeValue('quantity', value.quantity)"
	(canceled)="onCancel('quantity')">
	<editable-label-app>Quantity</editable-label-app>
	<editable-value-app>
		{{ value?.quantity || '-' }}
	</editable-value-app>
	<input 
		inputApp
		type="number"
		min="0" 
		[(ngModel)]="value.quantity"
		[required]="required"
		(keyup.enter)="edtQuantity.save()"
		(input)="onChangeFn(value)"
		(blur)="onTouchedFn()"/>
</editable-field-app>

<!-- WEIGHT -->
<editable-field-app 
	#edtWeight
	[readonly]="readonly"
	(saved)="onSave(value)"
	(opened)="storeValue('weight', value.weight)"
	(canceled)="onCancel('weight')">
	<editable-label-app>Weight</editable-label-app>
	<editable-value-app>
		<ng-container *ngIf="value?.weight || value?.weightUnit; else noVal">
			{{ value?.weight }} 
			{{ value?.weightUnit }}
		</ng-container>
		<ng-template #noVal><span>-</span></ng-template>
	</editable-value-app>
	<input 
		inputApp
		type="number"
		min="0" 
		step="0.01"
		[(ngModel)]="value.weight"
		[required]="required"
		(keyup.enter)="edtWeight.save()"
		(input)="onChangeFn(value)"
		(blur)="onTouchedFn()"/>
</editable-field-app>


<!-- WEIGHT UNIT-->
<editable-field-app 
	#edtWeightUnit
	[readonly]="true"
	[clickableReadonly]="!readonly"
	(click)="weightUnitSelector.openMenu($event)"
	(saved)="onSave(value)"
	(opened)="storeValue('weightUnit', value.weightUnit)"
	(canceled)="onCancel('weightUnit')">
	<editable-label-app>Weight Unit</editable-label-app>
	<editable-value-app>
		<selector-app 
			#weightUnitSelector
			typename="PropertyOption"
			customType="weightUnit"
			[required]="required"
			[readonly]="readonly"
			[(ngModel)]="value.weightUnit"
			(input)="onChangeFn(value)"
			(blur)="onTouchedFn()">
			{{ value?.weightUnit || '-' }}
		</selector-app>
	</editable-value-app>
</editable-field-app>
