<div class="previewCtnr flexStart">
	<div class="grid-section" horizontalScroll>
		<div *ngFor="let item of products.slice(0, 10); let selectedIndex = index" class="card">
			<product-grid-card-app
				size="s"
				[hasCheckbox]="false"
				[product]="products[selectedIndex]"
				(favorited)="updateProduct(products[selectedIndex], {favorite: true})"
				(unfavorited)="updateProduct(products[selectedIndex], {favorite: false})"
				(open)="open.emit(products[selectedIndex])"
				(preview)="previewClick.emit(products[selectedIndex])"
				(liked)="liked.emit( products[selectedIndex] )"
				(disliked)="disliked.emit( products[selectedIndex] )"
				(update)="update.emit($event)">
			</product-grid-card-app>
		</div>
	</div>
</div>