.previewCtnr {
	position: relative;
	box-sizing: border-box;
	padding: var(--spacing-s);
	border-radius: var(--border-radius-s);
	min-height: 285px;
	
	product-grid-card-app {
		margin-bottom: 0px;
	}
}

.grid-section {
	overflow: hidden;
	width: 100%;
	align-items: flex-start;
	white-space: nowrap;

	.card {
		display: inline-block;
	}

	.card:not(:first-child) {
		margin-left: var(--spacing-ms);
	}
}

.grid-section::-webkit-scrollbar { width: 0 !important }
.grid-section { -ms-overflow-style: none; }

.action {
	visibility: hidden;
	transition: 0.2s;
	opacity: 0.2;
}

.previewCtnr:hover > .action {
	visibility: visible;
	opacity: 1;
}

.move-btn {
	position: absolute;
	background: rgba(236, 236, 236, 0.6);
	width: 40px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.next {
	right: -2%;
}
.back {
	left: -1.7%;
}

icon-app {
	font-size: 36px;
	color: white;
}
