<table-app
	type="supplier"
	[placeholder]="'placeholder.no-supplier' | translate"
	[rows]="rows"
  [currentSort]="currentSort"
  [pending]="pending"
  [count]="count"
  [currentPage]="currentPage"
	[selected]="selection"
	[hasMenu]="hasMenu"
  [hasHeader]="hasHeader"
	[hasPagination]="hasPagination"
	[hasSelection]="hasSelection"
  [contextualMenu]="contextualMenuTemplate"
  (goToPage)="goToPage.emit($event)"
  (bottomReached)="bottomReached.emit()"
  (sort)="sort.emit($event)"
  (selectOne)="select.emit($event)"
  (unselectOne)="unselect.emit($event)"
  (selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(createClick)="createClick.emit()"
	(showItemsPerPage)="showItemsPerPage.emit($event)">
	


	<!-- dynamic columns -->
	<ng-template
		*ngFor="let column of columnsConfig; trackBy: trackByFn"
		let-row="row"
		[columnApp]="column.translationKey ? ('title.' + column.translationKey | translate) : ''"
		[sortable]="column.sortable !== false"
		[width]="column.width"
		[sortBy]="column.sortProperty"
		[grows]="!column.fixedWidth"
		[showOnHover]="column.showOnHover">

		<ng-container [ngSwitch]="column.name">

			<default-columns-app
				*ngSwitchDefault
				[row]="row" 
				[column]="column" 
				[hovered]="row.id === hovered"
				[type]="'SUPPLIER' | erm"
				(update)="update.emit($event)"
				(previewClick)="previewClick.emit($event)"
				(nameClick)="open.emit($event)"
				(previewClick)="previewClick.emit($event)"
				(logoClick)="previewClick.emit($event)">
			</default-columns-app>

			<!-- country -->
			<ng-container *ngSwitchCase="'country'">
				<selector-app
					[type]="'COUNTRY' | erm: 'singular'"
					[offsetX]="4"
					[width]="320"
					(update)="update.emit({ id: row?.id, country: $event })">
					<span class="txt-btn">
						{{ row?.country ? (row?.country | const: 'country') : '-' }}
					</span>
				</selector-app>
			</ng-container>

			<!-- categories -->
			<ng-container *ngSwitchCase="'categories'">
					<selector-app
						[type]="'CATEGORY' | erm: 'singular'"
						[offsetX]="4"
						[value]="row?.categories"
						[multiple]="true"
						[canCreate]="true"
						[width]="320"
						(update)="update.emit({ id: row?.id, categories: $event })">
					<div class="txt-btn">
						<span *ngFor="let cat of row.categories; let last = last; trackBy: trackByFn">
							{{ cat?.name }}{{ last ? '' : ',&nbsp;'}}
						</span>
						<span *ngIf="!row?.categories?.length" class="empty-field txt-btn">-</span>
					</div>
				</selector-app>
			</ng-container>

			<!-- type -->
			<ng-container *ngSwitchCase="'type'">
				<selector-app
					[type]="'SUPPLIER_TYPE' | erm: 'singular'"
					[width]="320"
					[offsetX]="4"
					(update)="update.emit({ id: row?.id, supplierType: $event })">
					<div class="pointer txt-btn">
						{{ row?.supplierType?.name || '-' }}
					</div>
				</selector-app>
			</ng-container>

		</ng-container>
	</ng-template>

</table-app>



<!-- contextual menu -->
<ng-template #contextualMenuTemplate let-row="row">
	<context-menu-item-app
		class="pointer flexCenter"
		(click)="archive.emit(row)"
		translate="button.archive">
	</context-menu-item-app>
	<context-menu-item-warn-app
		class="pointer flexCenter"
		(click)="delete.emit(row)"
		translate="button.delete">
	</context-menu-item-warn-app>
</ng-template>
