<table-app
	typename="Supplier"
	[placeholder]="'placeholder.no-supplier' | translate"
	[rows]="rows"
  [pending]="pending"
	[isSeaching]="isFiltering"
	[selected]="selection"
	[hasMenu]="hasMenu"
  [hasHeader]="hasHeader"
	[hasPagination]="hasPagination"
	[hasSelection]="hasSelection"
	[hasBorder]="hasBorder"
  [contextualMenu]="contextualMenuTemplate"
  (bottomReached)="bottomReached.emit()"
  (selectOne)="select.emit($event)"
  (unselectOne)="unselect.emit($event)"
  (selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(createClick)="createClick.emit()"
	(hovered)="hovered = $event">

	<!-- dynamic columns -->
	<ng-template
		*ngFor="let column of columnsConfig; trackBy: trackByFn"
		let-row="row"
		[columnApp]="column.translationKey ? ('title.' + column.translationKey | translate) : ''"
		[sortable]="column.sortable !== false"
		[width]="column.width"
		[sortBy]="column.sortProperty"
		[grows]="!column.fixedWidth">

		<ng-container [ngSwitch]="column.name">

			<default-columns-app
				*ngSwitchDefault
				[row]="row"
				[column]="column"
				[hovered]="row.id === hovered"
				typename="Supplier"
				(update)="update.emit($event)"
				(previewClick)="previewClick.emit($event)"
				(nameClick)="open.emit($event)"
				(previewClick)="previewClick.emit($event)"
				(logoClick)="previewClick.emit($event)">
			</default-columns-app>

			<!-- logo -->
			<ng-container *ngSwitchCase="'logo'">
				<logo-app
					class="pointer"
					size="s"
					[logo]="row?.logoImage"
					typename="Supplier"
					(click)="previewClick.emit(row)">
				</logo-app>
			</ng-container>

			<!-- categories -->
			<!-- TODO: implement categories as property option and use length here -->
			<ng-container *ngSwitchCase="'categories'">
				{{ row?.categories?.count }}
			</ng-container>

			<!-- category -->
			<ng-container *ngSwitchCase="'category'">
				<editable-container-app
					class="full-width"
					[hasAction]="false"
					(click)="sel.openMenu()">
					<editable-value-app>
						<selector-app
							#sel
							typename="Category"
							[hasPicker]="canUpdate"
							[canCreate]="true"
							[width]="320"
							(update)="update.emit({ id: row.id, categoryId: $event.categoryId})">
							<div class="pointer" >
								{{ row?.category?.name || '-' }}
							</div>
						</selector-app>
					</editable-value-app>
				</editable-container-app>
			</ng-container>

			<!-- country -->
			<ng-container *ngSwitchCase="'country'">
				<editable-container-app
					class="full-width"
					[hasAction]="false"
					[openOnClick]="false"
					(click)="sel.openMenu()">
					<editable-value-app>
						<!-- TODO check how to manage Country from Constant selector -->
						<selector-app
							#sel
							typename="Constant"
							[offsetX]="4"
							[width]="320"
							(update)="update.emit({ id: row?.id, country: $event })">
							<span>
								{{ row?.country ? (row?.country | const: 'country') : '-' }}
							</span>
						</selector-app>
					</editable-value-app>
				</editable-container-app>
			</ng-container>

			<ng-container *ngSwitchCase="'status'">
				<status-selector-app
					[displayStep]="true"
					typename="Supplier"
					[entity]="row"
				>
				</status-selector-app>
			</ng-container>

			<!-- type -->
			<ng-container *ngSwitchCase="'type'">
				<selector-app
					typename="SupplierType"
					[width]="320"
					[offsetX]="4"
					(update)="update.emit({ id: row?.id, supplierType: $event })">
					<div class="pointer txt-btn">
						{{ row?.supplierType?.name || '-' }}
					</div>
				</selector-app>
			</ng-container>

		</ng-container>
	</ng-template>

</table-app>



<!-- contextual menu -->
<ng-template #contextualMenuTemplate let-row="row">
	<context-menu-item-app
		(click)="archive.emit(row)"
		translate="button.archive">
		<div class="icon-box square flexCenter mg-right-s">
			<icon-app name="archive" size="s"></icon-app>
		</div>
		<span translate="button.archive"></span>
	</context-menu-item-app>
	<context-menu-item-warn-app
		(click)="delete.emit(row)">
		<div class="icon-box square flexCenter mg-right-s">
			<icon-app name="delete" size="s"></icon-app>
		</div>
		<span translate="button.delete"></span>
	</context-menu-item-warn-app>
</ng-template>
