
button{
  margin-top: 62px;
}

h3{
  margin-top: 64px;
  font-size: 32px;
}

.info{
  margin: auto;
  margin-top: 82px;
	height: 30px;
	width: 305px;
	color: #9B9B9B;
	font-family: Lato;
	font-size: 12px;
	font-weight: 300;
	line-height: 15px;
	text-align: center;
}
