	<h3 class="flexCenter">Welcome</h3>
	<p>
		Hello,
	</p>

	<p>

		<span class="color-primary-light">John Smith</span> from Arba <span class="color-primary-light">Trading Co.</span> would like you to complete your supplier master profile.
	</p>

	<p>
		On the next page, you will have to fill in your basic company profile information.<br/>
		Once completed, the form will be sent back to *John Smith* from *Aga Trading Co.*
	</p>

	<p>
		Quick a correct information will greatly speed-up your potential business with *Arba Trading Co.*
	</p>

	<p>
		Click Start to start providing the information!
	</p>


	<div class="flexCenter">
		<button matStepperNext class="z-a">Start Now</button>
	</div>


<div class="info">
		You received this request from John Smith, Arba Trading Co.
		john.smith@arbatrading.com
</div>
