<card-app [hasShadow]="false" padding="none" (mouseenter)="showPreview = true" (mouseleave)="showPreview = false">
	<ng-container *ngIf="product$ | async; else spinner">

		<!-- user -->
		<activity-user-app
			[hasPreview]="showPreview"
			[product]="product"
			[user]="product?.createdBy"
			[time]="product?.creationDate"
			[action]="title"
			(previewClick)="previewClick.emit($event)">
		</activity-user-app>

		<div class="conent">
			<!-- preview  -->
			<one-activity-carousel-app
				[images]="product?.images">
			</one-activity-carousel-app>
	
			<!-- information of the product -->
			<div class="flexColumn prodInfo">
				<div class="flexVAlign">
					<logo-app [logo]="product?.images[0]" size="l" type="product"></logo-app>
					<div class="prod-info-content">
						<span class="name ellipsis">{{ product?.name }}</span>
						<header-details-info-app>
							<div class="flex flexVAlign color-txt-secondary">
								<logo-app type="product" name="product" size="xs"></logo-app>
								<div class="flex flexVAlign info-container dot-separator">
									<span *ngIf="product?.reference" class="reference">
										{{ product?.reference }}
									</span>
									<span *ngIf="product && product.price && product.price.value !== null">
										<price-app class="color-txt-secondary" [price]="product?.price"></price-app>
									</span>
									<span *ngIf="product?.category" class="category">
										{{ product?.category?.name }}
									</span>
									<rating-badge-app [votes]="product?.votes"></rating-badge-app>
								</div>
							</div>
						</header-details-info-app>
					</div>
				</div>
			</div>
		</div>


	</ng-container>

	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>

</card-app>
