:host {
	width: 100%;
	display: block;
	position: relative;
}

card-header-app{
	padding: 12px;
}

.empty {
	font-style: italic;
	color: var(--color-txt-secondary);
	img {
		margin-bottom: var(--spacing-s);
	}
}

rating-heart-app {
	position: absolute;
	top: var(--spacing-s);
	left: var(--spacing-l);
	width: 40px;
	height: 40px;
	color: var(--color-txt-secondary);
	background: rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	z-index: 2;
	font-size: 18px;
	transform: scale(1.5);
}

