:host {
	display: block;
	height: 260px;
	text-align: center;
}

.ctnr {
	position: relative;
	margin-left: 48px;
	.legend {
		position: absolute;
		top: 90px;
		left: 100px;
	}
}

.smallSquare {
	height: 6px;
	width: 6px;
	margin-bottom: -2px;
	margin-right: var(--spacing-small);
}

.flex {
	align-items: center;
}
