
<div class="flexBetween">
	<h3>Product Details</h3>
	<button 
		class="vibrant" 
		(click)="dlgCommonSrv.openSupplierRequest([product])">
		Ask supplier
	</button>
</div>


<dynamic-form-app
	[fields]="productDescriptor?.descriptor"
	[value]="product"
	(update)="update.emit($event)">
</dynamic-form-app>

<extended-form-app
	*ngIf="fieldDefinitions$ | async as definitions; else spinner"
	[definitions]="definitions"
	[fields]="product?.extendedFields"
	(update)="updateProduct({extendedFields: $event})">
</extended-form-app>


<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>

