<card-app>

	<card-title-app>
		<icon-app name="product"></icon-app> 
		<span translate="header.product-info"></span>
	</card-title-app>


	<dynamic-form-app
		[fields]="productDescriptor?.descriptor"
		[value]="product"
		(update)="update.emit($event)">
	</dynamic-form-app>

	<extended-form-app
		*ngIf="fieldDefinitions$ | async as definitions; else spinner"
		[definitions]="definitions"
		[fields]="product?.extendedFields"
		(update)="updateProduct({extendedFields: $event})">
	</extended-form-app>

</card-app>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>

