<div class="step">
	<!-- TODO: icon -->
	<h1>Your Quotation has been sent<br/> Thanks you!</h1>

	<h2>Quotation sent to</h2>

	<div class="flexVAlign">
		<div class="imgCtnr">
			<img class="mini" src="/assets/img/logo.svg"/>
		</div>
		<div class="flexColumn person">
			<a class="name"><strong>Jerone Vanmeulen</strong></a>
			<span class="text">Wanlixing rubber S.A.S.</span>
		</div>
	</div>

	<h2>Product</h2>

	<div class="carousel"></div>

	<h3>minh-0023-AC</h3>

	<div class="text">Created on Monday 12 May 2018</div>
	<div class="text">Canton Fair 2018 - Phase 2</div>
</div>

<div class="footer">
	<button class="btn">Go to ShowSourcing</button>
</div>