<div class="flex {{ big ? 'big' : '' }}">

  <ng-container>
    <div class="icon-thumb-up"></div>
    <span class="num">{{ score || '-'}}%</span>
    <span class="spacer"></span>
  </ng-container>

  <ng-container>
    <div class="icon-folder"></div>
    <span class="num">{{ numProjects || '-' }}</span>
    <span class="spacer"></span>
  </ng-container>

  <!-- <ng-container *ngIf="numComments !== undefined">
		<icon-app fontSet="fa" name="comment"></icon-app>
		<span class="num">{{ numComments }}</span>
		<span class="spacer"></span>
	</ng-container>

	<ng-container *ngIf="numTasks !== undefined">
		<icon-app fontSet="fa" name="check-square"></icon-app>
		<span class="num">{{ numTasks }}</span>
	</ng-container> -->

</div>
