:host {
  display: flex;
  cursor: default;
  user-select: none;
}

div.selector {
  margin-left: var(--spacing-xs);
}

badge-app.no-status {
  text-transform: capitalize;
  color: var(--color-txt-strong);
}

icon-app {
  padding: var(--spacing-xs);
  padding-top: var(--spacing-xs);
  padding-left: 0;
  font-size: var(--font-size-xxs);
  margin-left: var(--spacing-l);
}

.badge-item {
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-s);
	padding: var(--spacing-s) var(--spacing-s) var(--spacing-s) var(--spacing-s);
  font-weight: 600;
  .badge-name {
    display: inline-block;
    color: white;
		white-space: nowrap;
		&.new {
			color: var(--color-txt-primary);
		}
  }
  .badge-icon {
    display: inline-block;
    color: white;
  }
}

.badge {
  .in-progress {
    background: var(--color-in-progress);
  }
  .secondary {
    background: var(--color-secondary);
  }
  .primary {
    background: var(--color-primary);
  }
  .secondary-light {
    background: var(--color-secondary-light);
  }
  .accent {
    background: var(--color-accent);
  }
  .warn {
    background: var(--color-warn);
  }
  .success {
    background: var(--color-success);
  }
}

.list {
  badge-ap {
    color: black !important;
  }
  .status-item {
    width: 200px;
    color: var(--color-txt-strong);
    margin: 5px 10px;
    padding: 5px 10px;
    .status-box {
      display: inline-block;
      width: 12px;
      height: 12px;
    }
    .status-name {
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
			margin-left: 10px;
    }
    &:hover {
      border-radius: 5px;
    }
  }
  .in-progress {
    .status-box {
      background-color: var(--color-in-progress);
    }
    &:hover {
      color: white;
      border-radius: 5px;
      background-color: var(--color-in-progress);
    }
  }
  .secondary {
    .status-box {
      background-color: var(--color-secondary);
    }
    &:hover {
      color: white;
      border-radius: 5px;
      background-color: var(--color-secondary);
    }
  }
  .primary {
    .status-box {
      background-color: var(--color-primary);
    }
    &:hover {
      color: white;
      border-radius: 5px;
      background-color: var(--color-primary);
    }
  }
  .secondary-light {
    .status-box {
      background-color: var(--color-secondary-light);
    }
    &:hover {
      color: white;
      border-radius: 5px;
      background-color: var(--color-secondary-light);
    }
  }
  .accent {
    .status-box {
      background-color: var(--color-accent);
    }
    &:hover {
      color: white;
      border-radius: 5px;
      background-color: var(--color-accent);
    }
  }
  .warn {
    .status-box {
      background-color: var(--color-warn);
    }
    &:hover {
      color: white;
      border-radius: 5px;
      background-color: var(--color-warn);
    }
  }
  .success {
    .status-box {
      background-color: var(--color-success);
    }
    &:hover {
      color: white;
      border-radius: 5px;
      background-color: var(--color-success);
    }
  }
}
