
<div class="hoverable-effect-container flexBetween mg-bottom-l">
	<h2>Product Details</h2>
	<button class="hidden-hoverable-item vibrant icon-with-text mg-left-ms flexVAlign" (click)="dlgCommonSrv.openSupplierRequest([product])">
		<icon-app name="envelope"></icon-app>
		Contact Supplier
	</button>
</div>

<accordion-app>
	<accordion-title-app>General</accordion-title-app>
	<accordion-content-app>
		<dynamic-form-app
			[fields]="productDescriptor?.descriptor"
			[value]="product"
			[config]="dynamicFormConfig"
			(update)="update($event)">
		</dynamic-form-app>
	</accordion-content-app>
</accordion-app>

<accordion-app>
	<accordion-title-app>Shipping & Packaging</accordion-title-app>
	<accordion-content-app>
		<dynamic-form-app
			[fields]="shippingDescriptor?.descriptor"
			[value]="product"
			[config]="dynamicFormConfig"
			(update)="update($event)">
		</dynamic-form-app>
	</accordion-content-app>
</accordion-app>
