
<div class="flexBetween mg-bottom-l">
	<h2>Product Details</h2>
	<button 
		class="vibrant" 
		(click)="dlgCommonSrv.openSupplierRequest([product])">
		Ask supplier
	</button>
</div>

<accordion-app>
	<accordion-title-app>General</accordion-title-app>
	<accordion-content-app>
		<dynamic-form-app
			[fields]="productDescriptor?.descriptor"
			[value]="product"
			[config]="dynamicFormConfig"
			(update)="update($event)">
		</dynamic-form-app>
	</accordion-content-app>
</accordion-app>

<accordion-app>
	<accordion-title-app>Shipping & Packaging</accordion-title-app>
	<accordion-content-app>
		<dynamic-form-app
			[fields]="shippingDescriptor?.descriptor"
			[value]="product"
			[config]="dynamicFormConfig"
			(update)="update($event)">
		</dynamic-form-app>
	</accordion-content-app>
</accordion-app>
