
<!-- 
debug helper

range: {{ range | json }} <br>
count: {{ count }} <br>
total pages: {{ totalPages }} <br>
index: {{ currentPage }}  -->



<div class="pagination-ctrl">

	<button
		class="arrow-btn"
		(click)="goToFirstPage(currentPage === 0)"
		[ngClass]="{ disabled: currentPage === 0 }">
		<logo-app icon="double-fat-angle-left" size="s"></logo-app>
	</button>

	<button
		class="arrow-btn"
		(click)="goToPreviousPage(currentPage === 0)"
		[ngClass]="{ disabled: currentPage === 0 }">
		<logo-app icon="fat-angle-left" size="s"></logo-app>
	</button>

	<button [ngClass]="{ selected: page === currentPage }" 
		*ngFor="let page of range; trackBy: trackByFn"
		(click)="goToIndexPage(page, page === currentPage)">
		{{ page + 1 }}
	</button>

	<button
		class="arrow-btn"
		(click)="goToNextPage(currentPage === totalPages - 1)"
		[ngClass]="{ disabled: currentPage === totalPages - 1 }">
		<logo-app icon="fat-angle-right" size="s"></logo-app>
	</button>

	<button
		class="arrow-btn"
		(click)="goToLastPage(currentPage === totalPages - 1)"
		[ngClass]="{ disabled: currentPage === totalPages - 1 }">
		<logo-app icon="double-fat-angle-right" size="s"></logo-app>
	</button>

	<div class="right">
		<select class="custom-select" (change)="onChangePerPageCount($event.target.value)">
			<option *ngFor="let i of pageItemsCount">{{i}}</option>
		</select>
		<span class="items-page-count">
			{{getProductsShown()}}
		</span>
	</div>

</div>