:host {
	display: block;
	position: relative;
	
	button {
		width: 32px;
		height: 32px;
		border-radius: var(--border-radius);
		margin-right: 8px;
		color: var(--color-txt-secondary);
		background-color: var(--color-bg-secondary);

		&.selected {
			background-color: var(--color-primary);
			color: var(--color-bg);
		}
		
		&.arrow-btn {
			background-color: rgba(69, 173, 255, 0.1);
			color: var(--color-primary);
		}

		&.disabled {
			color: var(--color-txt-secondary);
			cursor: default;
		}

	}
}

:host ::ng-deep icon-app {
	display: inline-block !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 !important;
}

.pagination-ctrl {
	user-select: none;
	box-sizing: border-box;
	margin: var(--spacing-ms) 0;
	icon-app {
		color: var(--color-primary);
		font-size: var(--spacing-l);
		cursor: pointer;
		margin: 0 var(--spacing-s);
		margin-top: 2px;

		&.disabled {
			color: var(--color-txt-secondary);
			cursor: default;
		}
	}
	button {
		&.disabled {
			color: var(--color-txt-secondary);
			cursor: default;
		}
	}
}

.custom-select {
	text-align-last: center;
	width: 55px;
  height: 32px;
	background-color: var(--color-primary);
	color: var(--color-bg);
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
}

.custom-select option {
	width: 55px;
	height: 32px;
	background-color: var(--color-primary);
	color: var(--color-bg);
}

.right {
	float: right;
}

.items-page-count {
	font-size: var(--font-size-m);
	color: var(--color-bg-dark);
	margin-left: 12px;
}
