<div *ngIf="rows" class="flexCenter pagination-ctrl">
	<icon-app [ngClass]="{ disabled: indexPagination === 0 }" fontSet="fa" name="angle-left" (click)="previous.emit()"></icon-app>
	<span *ngFor="let section of sections; trackBy: trackByFn"
		class="pagination-item"
		[ngClass]="{ selected: section === indexPagination }"
		(click)="goToPage.emit(section)">
		{{ section + 1}}
	</span>
	<icon-app [ngClass]="{ disabled: indexPagination === totalSections - 1	 }" fontSet="fa" name="angle-right" (click)="next.emit()"></icon-app>
	<!-- <span class="pagination-text">{{ skipped }} - {{ skipped + rows.length }} of {{ count }}</span> -->
</div>