<dialog-app>
	<dialog-header-app translate="header.export-generating"></dialog-header-app>

	<main class="flex container">
		<icon-app class="settings-image" name="settings-multiple" fontSet="svg"></icon-app>
		<div class="generating-message">
			<div translate="text.export-generated-msg"></div>
			<span class="color-primary pointer capitalize" (click)="goToExports()" translate="link.exports"></span>
			<div *ngIf="!fileReady" class="status-container loading">
				<div class="bar-container fullWidth">
					<div class="moving-bar"></div>
				</div>
				<div class="status-info" translate="text.export-generating"></div>
			</div>
			<div *ngIf="fileReady" class="status-container export-ready flex pointer" (click)="download.emit()">
				<icon-app class="file" name="file"></icon-app>
				<div>
					<span translate="text.export-ready"></span>
					<div class="status-info" translate="link.click-to-download"></div>
				</div>
			</div>
		</div>
	</main>

	<dialog-footer-app class="fullWidth">
		<button tabFocusAction class="open-export secondary" (click)="goToExports()" translate="button.open-exports"></button>
		<button tabFocusAction (click)="dlgSrv.close()" translate="button.close"></button>
	</dialog-footer-app>

	<!-- Pending footer -->

</dialog-app>

