:host {
	height: 630px;
	padding-top: 120px;
	display: table;
	width: 500px;
}

.container {
	margin-bottom: 28px;
}
.qr-body {
	display: table;
	.qr-code-container {
		display: table-cell;
		vertical-align: middle;
	}
	.checkbox-container {
		padding-left: 20px;
		display: table-cell;
		vertical-align: middle;
	}
	margin-bottom: 40px;
}