
.qr-body {
	display: table;
	.qr-code-container {
		display: table-cell;
		vertical-align: middle;
	}
	.checkbox-container {
		padding-left: 20px;
		display: table-cell;
		vertical-align: middle;
	}
	margin-bottom: 40px;
}