<card-app>
  <div class="top flexCenter flexColumn">

    <ng-container *ngIf="user$ | async as user">
      <div class="circle">
        <img-app [image]="user?.avatar" type="user"></img-app>
      </div>
      <h2>{{ user?.firstName }} {{ user?.lastName }}</h2>
      <h3>{{ user?.companyName }}</h3>
    </ng-container>

  </div>

  <divider-app></divider-app>

  <div class="secondBlock flexColumn">

    <div class="flex">
      <span class="amount">240</span>
      <div class="flexColumn">
        <span class="taskType">Product Need review</span>
        <span><a>Review Products</a></span>
      </div>
    </div>


    <div class="flex">
      <span class="amount">45</span>
      <div class="flexColumn">
        <span class="taskType">Products in progress</span>
        <span><a>To my workspace</a></span>
      </div>
    </div>


    <div class="flex">
      <span class="amount">54</span>
      <div class="flexColumn desc">
        <span class="taskType">Supplier to assess</span>
        <span><a>To my workspace</a></span>
      </div>
    </div>


  </div>

  <divider-app></divider-app>

  <div class="taskTitle">34 / 54 Tasks</div>
  <div class="cylinder">
    <div class="part1"></div>
    <div class="part2"></div>
  </div>

  <checkbox-app>
    <div class="flex flexVAlign">
     <user-picture-app [size]="14"></user-picture-app> Validate RFQ with Suppliers
    </div>
  </checkbox-app>
  <checkbox-app>
    <div class="flex flexVAlign">
      <user-picture-app [size]="14"></user-picture-app> Find 2 Alternate Suppliers for Table
    </div>
  </checkbox-app>
  <checkbox-app>
    <div class="flex flexVAlign">
      <user-picture-app [size]="14"></user-picture-app> Debrief Canton Fair Phase 2 - 2018
    </div>
  </checkbox-app>

  <card-footer-app paddingSide="l">
    <button>Open my workspace</button>
  </card-footer-app>

</card-app>