<card-app>
  <div class="top flexCenter flexColumn">

    <ng-container *ngIf="user">
			<user-picture-app [user]="user" size="68" [image]="user?.avatar" [border]="true"></user-picture-app>
      <h2>{{ user?.firstName }} {{ user?.lastName }}</h2>
      <h3>{{ user?.companyName }}</h3>
    </ng-container>

  </div>

  <divider-app></divider-app>

  <div class="secondBlock flexColumn" *ngIf="counters">

    <div class="flexVAlign">
      <span class="amount">{{ counters?.productsNeedReview }}</span>
      <div class="flexColumn">
        <span class="taskType">Product Need review</span>
        <span><a>Review Products</a></span>
      </div>
    </div>


    <div class="flexVAlign">
      <span class="amount">{{ counters?.productsInWorkflow }}</span>
      <div class="flexColumn">
        <span class="taskType">Products in progress</span>
        <span>
          <a>To my workspace</a>
        </span>
      </div>
    </div>


    <div class="flexVAlign">
      <span class="amount">{{ counters?.suppliersUnderAssessment }}</span>
      <div class="flexColumn desc">
        <span class="taskType">Supplier to assess</span>
        <span><a>To my workspace</a></span>
      </div>
    </div>


  </div>

  <divider-app></divider-app>

  <div class="taskTitle"> {{ counters?.tasksDone || '0'}} / {{ counters?.totalTasks || '0' }} Tasks</div>

  <rating-cylinder-app [score]="taskScore"></rating-cylinder-app>

  <ng-container *ngFor="let task of tasks; trackBy: trackByFn; last as last">
		<div class="flexVAlign user-tasks" [class.last]="last">
			<icon-app [name]="task.done ? 'check-green-round' : 'check-empty-round'" fontSet="svg" (click)="toggleDoneStatus(task)"></icon-app>
			<user-picture-app [size]="14" [user]="task.createdBy"></user-picture-app>
			<div class="flexCenter" [ngStyle]="{'text-decoration': task?.done ? 'line-through' : 'none'}">{{ task?.name || 'Unnamed task' }}</div>
		</div>
  </ng-container>

  <card-footer-app paddingSide="l">
    <button (click)="goToWorkspace()">
      Open my workspace
    </button>
  </card-footer-app>

</card-app>
