top-panel-details-app {
	margin-bottom: var(--spacing-ms);

	icon-app {
		cursor: default;
	}

	img-app {
		border-radius: var(--border-radius);
	}

	.section-info {
		margin-top: var(--spacing-ms);
		info-badge-app {
			margin-top: var(--spacing-ms);
		}
	}
}

.content {
	margin-left: auto;
	margin-right: auto;
	width: calc(810px + 608px);

	.left {
		width: 410px;

		project-card-app, product-team-rating-app, supplier-card-app {
			width: 388px;
			margin-top: var(--spacing-l);
		}

		product-carousel-app {
			padding-bottom: 6px;
		}
	}

	.right {
		width: 810px
	}
}

.selected {
  color: var(--color-primary);
}


@media only screen and (max-width: 1300px) {
	.left {
		display: none;
	}
}