product-top-panel-app {
	margin-bottom: var(--spacing-ms);
}

$width-right: 810px;
$width-left: 452px;

.content {
	margin-left: auto;
	margin-right: auto;
	width: $width-right + $width-left;
	transition: width 0.5s;

	.left {
		width: $width-left;
	}

	.right {
		width: $width-right;
		transition: width 0.5s;
	}
}

.selected {
  color: var(--color-primary);
}


carousel-app {
	margin: 4px;
}

image-previewer-2-app {
	padding: 0 0 0 var(--spacing-ms);
}

@media only screen and (max-width: 1200px) {

	$width-right: 600px;

	.content {
		margin-left: auto;
		margin-right: auto;
		width: $width-right + $width-left;

		.right {
			width: $width-right;
		}
	}
}