<product-top-panel-app
	[product]="product"
	(deleteProduct)="deleteProduct()">
</product-top-panel-app>

<ng-container *ngIf="product">

  <div class="flex content">
    <div class="left">

			<card-app padding="0">
				<carousel-app
					#carousel
					[images]="product?.images"
					[entity]="product">
				</carousel-app>
				<image-previewer-2-app
					[images]="product?.images"
					(imageClick)="carousel.openModal($event)"></image-previewer-2-app>
			</card-app>

			<!-- team rating here -->
			<product-team-rating-app
				[product]="product"
				(requestTeamVotes)="openRequestFeedbackDialog()"
				(liked)="onThumbUp()"
				(disliked)="onThumbDown()"
				(openVoteDetails)="openVoteDetailsDialog()">
			</product-team-rating-app>

			<supplier-card-app [supplier]="product?.supplier"></supplier-card-app>

			<project-card-app
				(removeProject)="removeProject($event)"
				(addProjectClick)="openAddProjectDlg()"
				[projects]="product.projects"></project-card-app>

			<files-card-app
        [files]="product.attachments"
        [linkedItem]="product"
				(fileRemove)="onFileRemoved($event)"></files-card-app>

		</div>

    <div class="right">
				<product-resume-app [product]="product"></product-resume-app>
				<product-navigation-app></product-navigation-app>
			<router-outlet></router-outlet>
    </div>

  </div>

</ng-container>

