<top-panel-app buttonName="create product" title="My Products" subtitle="details"></top-panel-app>

<ng-container *ngIf="product$ | async as product">

  <div class="flex content">
    <div class="left">

      <card-app class="carouselCard">
        <carousel-selection-app></carousel-selection-app>
      </card-app>

			<card-app>
				<supplier-card-app [supplier]="product?.supplierId | entity:'suppliers' | async"></supplier-card-app>
			</card-app>

			<card-app>
				<project-card-app
					(removeProject)="removeProject($event, product.id)"
					(addProjectClick)="openAddProjectDlg()"
					[projects]="product.projectIds | entityArray: 'projects' | async"></project-card-app>
			</card-app>

			<card-app>
				<files-card-app></files-card-app>
			</card-app>

		</div>

    <div class="right">
      <card-app padding="none">
        <div class="summaryBar">
          <ng-container *ngIf="product$ | async as product">
            <div class="cell">
              <div class="title">Price</div>
              <div class="content">{{product?.priceCurrency?.symbol}} {{product?.priceAmount}}</div>
            </div>
            <div class="divider"></div>
            <div class="cell">
              <div class="title">Moq</div>
              <div class="content"> {{product?.minimumOrderQuantity}}</div>
            </div>
            <div class="divider"></div>
            <div class="cell">
              <div class="title">Team Rating</div>
              <div class="content" color-success>
                <div class="icon-thumb-up"></div>
                {{product?.computedValues?.score || "-"}} %
              </div>
            </div>
            <div class="divider"></div>
            <div class="cell">
              <div class="title">Tasks</div>
              <div class="content">
                <div class="icon-edit"></div>
                5
              </div>
            </div>
            <div class="divider"></div>
            <div class="cell">
              <div class="title">Supplier connect</div>
              <div class="content">
                <ng-container *ngIf="product.supplierId | entity: 'suppliers' | async as supplier">
                  <badge-app [color]="supplier?.advancedInfos?.status" [title]="supplier?.advancedInfos?.status"></badge-app>
                </ng-container>
              </div>
            </div>
            <div class="divider"></div>
            <div class="cell">
              <div class="title">Status</div>
              <div class="content">
                <product-status-badge-app class="badge" [status]="product?.status"></product-status-badge-app>
              </div>
            </div>
          </ng-container>
        </div>
      </card-app>
      <entity-main-card-app></entity-main-card-app>
    </div>

  </div>

	<product-action-dialog-app
		[dialogName]="projectDlgName"
		header="Add to projects"
		title="My projects"
		buttonLabel="Add projects"
		dialogType="add"
		[entities]="projects$ | async"
		[productsCount]="productsCount$ | async"
		(buttonClicked)="addToProjects($event, product.id)">
	</product-action-dialog-app>

</ng-container>

