product-top-panel-app {
	margin-bottom: var(--spacing-ms);
}

$width-right: 810px;
$width-left: 410px;

.content {
	margin-left: auto;
	margin-right: auto;
	width: $width-right + $width-left;

	.left {
		width: $width-left;

		project-card-app, product-team-rating-app, supplier-card-app {
			width: 388px;
			margin-top: var(--spacing-l);
		}

		product-carousel-app {
			padding-bottom: 6px;
		}
	}

	.right {
		width: $width-right;
	}
}

.selected {
  color: var(--color-primary);
}

// TODO: need another solution
files-card-app {
	margin-right: -12px;
}


@media only screen and (max-width: 1300px) {
	.left {
		display: none;
	}
}