<div class="ctnr c-{{ view }} border-radius flex  color-bg-secondary">
	<div class="slider"
		[class.left]="view === 'list'"
		[class.mid]="view === 'board' && hasThumb"
		[class.right]="view === 'card'"
		[class.right-two-items]="view === 'board' && !hasThumb">
	</div>
	<button class="flexCenter mg-right-ms {{ view === 'list' ? 'primary' : 'light'}} icon"
		(mousedown)="switchView('list')">
		<icon-app class="list" name="list-menu" size="m"></icon-app>
	</button>
	<button class="flexCenter mg-right-ms {{ view === 'board' ? 'primary' : 'light'}} icon"
		(mousedown)="switchView('board')">
		<icon-app class="board" name="kanban" size="m"></icon-app>
	</button>
	<button *ngIf="hasThumb"
		class="flexCenter mg-right-ms {{ view === 'card' ? 'primary' : 'light'}}"
		(mousedown)="switchView('card')">
		<icon-app class="cards" name="cards"></icon-app>
	</button>
</div>
