
<div>
  <label-app i18n="text@@supplier">Supplier</label-app>
</div>

<div>
  <label-app i18n="text@@price">price</label-app>
</div>

<div>
  <label-app i18n="text@@moq">MOQ</label-app>
</div>

<div>
  <label-app i18n="text@@moq">MOQ Description</label-app>
</div>

<div>
  <label-app i18n="text@@category">Category</label-app>
</div>

<div>
  <label-app i18n="text@@tags">tags</label-app>
</div>

<h3>Packaging</h3>

<div>
  <label-app i18n="text@@carton-size">Carton size</label-app>
</div>

<div>
  <label-app i18n="text@@master-carton">Master carton</label-app>
</div>

<div>
  <label-app i18n="text@@pcs-per-master">Pieces per master</label-app>
</div>

<h3>Trading</h3>

<div>
  <label-app i18n="text@@inco-term">Inco term</label-app>
</div>

<div>
  <label-app i18n="text@@harbour">Harbour</label-app>
</div>