<editable-container-app
	[hasAction]="false"
	[readonly]="true"
	(click)="selector?.openMenu($event)">
	<editable-value-app>
		<selector-app
			#selector
			[canCreate]="true"
			[typename]="typename"
			[entityId]="entityId"
			[leftSideOrientation]="leftSideOrientationSelector"
			[multiple]="true"
			[value]="value"
			(update)="onUpdate($event)">
				<ng-container *ngIf="!value?.length; else hasItems"><span class="capitalize" translate="text.none"></span></ng-container>
				<ng-template #hasItems>
					<div class="flexWrap info-badges-container">
						<info-badge-app *ngFor="let item of value; trackBy: trackById" [type]="type">{{ item.value }}</info-badge-app>
					</div>
				</ng-template>
		</selector-app>
	</editable-value-app>
</editable-container-app>
