<div class="item-compare-column-container">
	<div class="item-compare-column_header-container">
		<div class="image-container"  *ngIf="type === 'content'">
			<img-app [customStyle]="{'border-radius': '5px'}" [image]="quote?.product?.images" type="product" size="s" [objectFit]="'cover'"></img-app>
		</div>
		<div class="item-compare-column_supplier"  *ngIf="type === 'content'">{{ quote?.supplier?.name }}</div>
	</div>
	<div class="item-compare-column_body">
		<div class="comparison-row">
			<div *ngIf="type === 'title'" class="title">Reference</div>
			<div *ngIf="type === 'content'" class="content">{{ quote?.reference }}</div>
		</div>

		<div class="comparison-row">
			<div *ngIf="type === 'title'" class="title">Price</div>
			<div *ngIf="type === 'content'" class="content">{{ quote?.price?.value | currency: quote?.price.currency:'symbol':'1.2-2'}}</div>
		</div>

		<div class="comparison-row">
			<div *ngIf="type === 'title'" class="title">MOQ</div>
			<div *ngIf="type === 'content'" class="content">{{ quote?.minimumOrderQuantity }}</div>
		</div>

		<div class="comparison-row">
			<div *ngIf="type === 'title'" class="title">MOQ Description</div>
			<div *ngIf="type === 'content'" class="content">{{ quote?.moqDescription }}</div>
		</div>

		<div class="comparison-row">
			<div *ngIf="type === 'title'" class="title">Sample Price</div>
			<div *ngIf="type === 'content'" class="content">{{ quote?.samplePrice }}</div>
		</div>

		<div class="comparison-row-big">
			<div *ngIf="type === 'title'" class="big-title">PRICE MATRIX</div>
		</div>

		<div class="comparison-row" *ngFor="let row of quote?.priceMatrix?.rows; let i = index;trackBy: trackByFn">
			<div *ngIf="type === 'title'" class="title">{{row.label}}</div>
			<div *ngIf="type === 'content'" class="content">{{row.value}}</div>
		</div>

		<!-- <div class="comparison-row">
			<div *ngIf="type === 'title'" class="title">10 000pcs</div>
			<div *ngIf="type === 'content'" class="content">{{ quote?.priceMatrix?.priceMatrixRow }}</div>
		</div> -->

		<div class="comparison-row-big">
			<div *ngIf="type === 'title'" class="big-title">TRADING</div>
		</div>

		<div class="comparison-row">
			<div *ngIf="type === 'title'" class="title">Inco Term</div>
			<div *ngIf="type === 'content'" class="content">{{quote?.incoTerms}}</div>
		</div>

		<div class="comparison-row">
			<div *ngIf="type === 'title'" class="title">Harbour</div>
			<div *ngIf="type === 'content'" class="content">{{quote?.harbour}}</div>
		</div>

		<div class="comparison-row-big">
			<div *ngIf="type === 'title'" class="big-title">PACKAGING</div>
		</div>

		<div class="comparison-row">
			<div *ngIf="type === 'title'" class="title">Carton Size</div>
			<div *ngIf="type === 'content'" class="content">{{getPackagingString(quote?.innerCarton)}}</div>
		</div>

		<div class="comparison-row">
			<div *ngIf="type === 'title'" class="title">Master Carton</div>
			<div *ngIf="type === 'content'" class="content">{{getPackagingString(quote?.masterCarton)}}</div>
		</div>

		<div class="comparison-row">
			<div *ngIf="type === 'title'" class="title">Pcs per Master</div>
			<div *ngIf="type === 'content'" class="content">{{quote?.masterCarton.itemsQuantity}}</div>
		</div>
	</div>
</div>
