<div class="item-compare-column-container">
  <div class="item-compare-column_header-container">
    <div class="image-container"  *ngIf="type === 'content'">
      <img-app [customStyle]="{'border-radius': '5px'}" [image]="product?.images" type="product" size="s" [objectFit]="'cover'"></img-app>
    </div>
    <div class="item-compare-column_supplier"  *ngIf="type === 'content'">{{ product?.supplier?.name || 'Unnamed Product' }}</div>
  </div>
  <div class="item-compare-column_body">
    <div class="comparison-row">
      <div *ngIf="type === 'title'" class="title">Reference</div>
      <div *ngIf="type === 'content'" class="content">Reference</div>
    </div>

    <div class="comparison-row">
      <div *ngIf="type === 'title'" class="title">Price</div>
      <div *ngIf="type === 'content'" class="content">{{ priceAmount | currency: product?.price?.currency:'symbol':'1.2-2'}}</div>
    </div>

    <div class="comparison-row">
      <div *ngIf="type === 'title'" class="title">MOQ</div>
      <div *ngIf="type === 'content'" class="content">MOQ</div>
    </div>

    <div class="comparison-row">
      <div *ngIf="type === 'title'" class="title">MOQ Description</div>
      <div *ngIf="type === 'content'" class="content">{{ product?.moqDescription }}</div>
    </div>

    <div class="comparison-row">
      <div *ngIf="type === 'title'" class="title">Sample Price</div>
      <div *ngIf="type === 'content'" class="content">{{ product?.samplePrice }}</div>
    </div>

    <div class="comparison-row-big">
      <div *ngIf="type === 'title'" class="big-title">PRICE MATRIX</div>
    </div>

    <div class="comparison-row">
      <div *ngIf="type === 'title'" class="title">1000pcs</div>
      <div *ngIf="type === 'content'" class="content">1000pcs</div>
    </div>

    <div class="comparison-row">
      <div *ngIf="type === 'title'" class="title">10 000pcs</div>
      <div *ngIf="type === 'content'" class="content">10 000pcs</div>
    </div>

    <div class="comparison-row-big">
      <div *ngIf="type === 'title'" class="big-title">TRADING</div>
    </div>

    <div class="comparison-row">
      <div *ngIf="type === 'title'" class="title">Inco Term</div>
      <div *ngIf="type === 'content'" class="content">Inco Terms</div>
    </div>

    <div class="comparison-row">
      <div *ngIf="type === 'title'" class="title">Harbour</div>
      <div *ngIf="type === 'content'" class="content">Harbour</div>
    </div>

    <div class="comparison-row-big">
      <div *ngIf="type === 'title'" class="big-title">PACKAGING</div>
    </div>

    <div class="comparison-row">
      <div *ngIf="type === 'title'" class="title">Carton Size</div>
      <div *ngIf="type === 'content'" class="content">{{getPackagingString(product?.innerCarton)}}</div>
    </div>

    <div class="comparison-row">
      <div *ngIf="type === 'title'" class="title">Master Carton</div>
      <div *ngIf="type === 'content'" class="content">{{getPackagingString(product?.masterCarton)}}</div>
    </div>

    <div class="comparison-row">
      <div *ngIf="type === 'title'" class="title">Pcs per Master</div>
      <div *ngIf="type === 'content'" class="content">Pcs per Master</div>
    </div>
  </div>
</div>
