:host {
	display: block;
  overflow: overlay;
  max-height: inherit;
  min-width: 196px;
}
.item-compare-column_header-container {
  height: 170px;
  .image-container {
    width: 120px;
    height: 120px;

  }
	.item-compare-column_supplier {
		font-size: 13px;
    font-weight: 600;
    height: 34px;
    color: var(--color-primary);
    margin-top: var(--spacing-l);
    word-break: break-all;
	}
}
.comparison-row-big,
.comparison-row {
  border-bottom: 1px solid var(--color-divider);
  height: 33px;
  line-height: 33px;
  box-sizing:border-box;
  vertical-align: middle;
  // &:last-child {
  //   border: none;
  // }
	.title {
		font-size: 13px;
		font-weight: 600;
		color: var(--color-txt-primary);
	}
	.content {
		font-size: 13px;
		font-weight: 600;
		color: var(--color-secondary-dark);
  }

}

.comparison-row-big {
  border: none;
  margin: 8px 0;
  font-size: 13px;
  font-weight: 600;
  font-family: 'Raleway';
  color: var(--color-primary);
  text-transform: uppercase;
}
