
<table-app
	class="secondary-style"
	[rows]="rows"
	[pending]="pending"
	[selected]="selection"
	[hasSelection]="hasSelection"
	placeholder="No request items"
	[contextualMenu]="contextualMenuTemplate"
	(bottomReached)="bottomReached.emit()"
	(selectAll)="selectAll.emit($event)"
	(selectOne)="select.emit($event)"
	(sort)="sort.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(unselectOne)="unselect.emit($event)"
	i18n-placeholder="no-request-items">

	<!-- contextual menu -->
	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-app
			class="pointer flexCenter"
			(click)="cancelReply.emit(row.reply.id)"
			i18n="@@cancel-request-item">
			Cancel request item
		</context-menu-item-app>
	</ng-template>

	<ng-template
		[columnApp]="erm.PRODUCT.singular | const: 'erm'"
		sortBy="name"
		let-row="row"
		width="300">
		<div class="mainCell ellipsis">
			<span class="ellipsis">
				<a class="name txt-btn title" (click)="openReviewRequestReply.emit(row.id)">{{ row?.name }}</a>
			</span>
		</div>
	</ng-template>

	<ng-template
		let-row="row"
		let-index="index"
		width="150"
		[sortable]="false"
		*ngFor="let field of fields[0]; index as j; trackBy: trackByFn"
		[columnApp]="field?.definition?.label">
		<ng-container [ngSwitch]="field.definition.type">
			<span *ngSwitchDefault>{{ fields[index][j]?.value }}</span>
			<price-app *ngSwitchCase="'price'" [price]="parseJson(fields[index][j]?.value)"></price-app>
			<packaging-app *ngSwitchCase="'packaging'" [packaging]="parseJson(fields[index][j]?.value)"></packaging-app>
		</ng-container>
	</ng-template>

	<ng-template
		[columnApp]="'status' | const: 'messages'"
		sortBy="reply.status"
		let-row="row"
		width="200">

		<request-status-badge-app
			[status]="row?.reply?.status"
			[creationDate]="row?.creationDate">
		</request-status-badge-app>

	</ng-template>

</table-app>