
<table-app
	class="secondary-style"
	[rows]="rows"
	[pending]="pending"
	[selected]="selection"
	[hasSelection]="false"
	placeholder="No request items"
	[contextualMenu]="contextualMenuTemplate"
	(bottomReached)="bottomReached.emit()"
	(selectAll)="selectAll.emit($event)"
	(selectOne)="select.emit($event)"
	(sort)="sort.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(unselectOne)="unselect.emit($event)"
	i18n-placeholder="no-request-items">

	<!-- contextual menu -->
	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-app
			class="pointer flexCenter"
			(click)="cancelReply.emit(row.reply.id)"
			i18n="@@cancel-request-item">
			Cancel request item
		</context-menu-item-app>
	</ng-template>

	<ng-template
		[columnApp]="erm.PRODUCT.singular | const: 'erm'"
		sortBy="name"
		let-row="row"
		width="300">
		<div class="mainCell ellipsis">
			<span class="ellipsis">
				<a class="name txt-btn title" (click)="openReviewRequestReply.emit(row.id)">{{ row?.name }}</a>
			</span>
		</div>
	</ng-template>

	<ng-template
		let-row="row"
		let-index="index"
		width="250"
		[sortable]="false"
		*ngFor="let field of fields[0]; index as i; trackBy: trackByFn"
		[columnApp]="field?.definition?.label">
		<div *ngIf="field?.definition?.type !== 'price'; else isPrice">{{ fields[index][i]?.value }}</div>
		<ng-template #isPrice>
			<div *ngIf="getPrice(fields[index][i]?.value) as price">
					{{ price | appPrice }}
			</div>
		</ng-template>

	</ng-template>

	<ng-template
		[columnApp]="'status' | const: 'messages'"
		sortBy="reply.status"
		let-row="row"
		width="300">
		<request-status-badge-app
			[status]="row?.reply?.status"
			[creationDate]="row?.creationDate">
		</request-status-badge-app>
	</ng-template>

</table-app>