
<dialog-app [name]="dlgName" (registered)="onDlgRegistered()" (closed)="onDlgClose()">
	<div class="flex">star
			<dynamic-form-group-app 
				[group]="groups[0]" [item]="product"
				(update)="onUpdate($event)">
			</dynamic-form-group-app>

			<dynamic-form-group-app 
				[group]="groups[1]" [item]="product"
				(update)="onUpdate($event)">
			</dynamic-form-group-app>

			<dynamic-form-group-app 
				[group]="groups[2]" [item]="product"
				(update)="onUpdate($event)">
			</dynamic-form-group-app>	

	</div>



	<div ng2FileDrop
		[ngClass]="{'file-over': isOver}"
		(fileOver)="fileOverBase($event)"
		[uploader]="uploader"
		class="my-drop-zone">
		Drag & drop zone
	</div>
	

</dialog-app>
