
<ng-container *ngIf="target$ | async as target">
	<product-side-preview-app [target]="target"></product-side-preview-app>
</ng-container>

<!-- <dialog-app #dlg [name]="dlgName" (registered)="onDlgRegistered()">
	<ng-container *ngIf="dlg.isOpen">
		<ng-container *ngIf="product$ | async as product">
				<a [routerLink]="['/product-details', product.id, 'activity']">GO TO PRODUCT</a>
				<div class="flex">
					<div>

						<input-file-entity-app label="File"></input-file-entity-app>
						<input-image-entity-app label="Image"></input-image-entity-app>
						<comments-entity-app></comments-entity-app>
						<feedback-input-entity-app></feedback-input-entity-app>

					</div>

					<dynamic-form-entity-app
						class="customForm"></dynamic-form-entity-app>

				</div>
		</ng-container>
	</ng-container>


</dialog-app> -->
