
<input
	*ngIf="hasLabel"
	inputApp
	class="label mg-right-ms"
	type="text"
	placeholder="Label"
	[ngClass]="{ 'inline': inline }"
	[readonly]="readonly"
	[(ngModel)]="valueTemp.label"
	(focus)="focussed = true"
	(blur)="focussed = false; onTouchedFn()"
	(input)="onChangeFn(value)"/>

<div class="currency-price" [ngStyle]="{'justify-content': dynamicInput ? 'flex-end' : 'space-between'}">
	<selector-app 
		typename="PropertyOption"
		customType="currency"
		[readonly]="readonly"
		[required]="required"
		[(ngModel)]="valueTemp.currency"
		(menuOpened)="focussed = true"
		(menuClosed)="focussed = false; onTouchedFn()">
		<div class="currency pointer">
			<span class="mg-right-s color-primary">{{ value?.currency || 'USD'}}</span>
		</div>
	</selector-app>

	<input 
		#amountInp
		inputApp
		class="amount inline"
		[ngStyle]="{'width': dynamicInput ? '45px' : '83px'}"
		restrictInput="number-positive"
		placeholder="100"
		[readonly]="readonly"
		[required]="required"
		[(ngModel)]="valueTemp.value"
		(focus)="focussed = true"
		(blur)="focussed = false; onTouchedFn()"		
		(input)="onChangeFn(value)"/>
</div>