selector-app {
	margin-right: var(--spacing-s);
}

.currency-label {
	width: 35px;
	padding: var(--spacing-xs);
	color: var(--color-txt-third);
	box-sizing: border-box;

	&.pointer:hover {
		color: var(--color-primary);
		text-decoration: underline;
	}
}

input {
	min-width: 100px;
}