
<div class="flex flexVAlign">
	<selector2-app
		type="currency"
		[multiple]="false"
		[value]="currency"
		[width]="200"
		[offsetX]="-13"
		[offsetY]="-24"
		(update)="onCurrencyChange($event)">
		<span class="currencyLabel pointer">
			{{ currency | const:'currency':'id' }}
		</span>
	</selector2-app>

	<input #inp
		inputApp
		type="text"
		restrictInput="decimal"
		[(ngModel)]="amount"
		(input)="onChange()"
		(blur)="onBlur()"/>
</div>

<!-- <selector-const-app
	*ngIf="currencySelectorShown"
	class="rightSelector"
	[type]="'currency'"
	[multiple]="false"
	[(ngModel)]="currency"
	(clickOutside)="hideCurrencySelector()"
	(change)="onCurrencyChange()"
	(blur)="onBlur()">
</selector-const-app> -->