:host {
	display: flex;
	&.inline {
		.currency-price {
			border: none;
			height: unset;
			.currency {
				height: unset;
			}
		}
	}
	&.readonly {
		background: var(--color-secondary-light);
	}
	// add border color when focussed
	&.focussed .currency-price, &.focussed .label{
		border-color: var(--color-primary);
	}
	&.ng-invalid:not(.ng-untouched) .currency-price, 
	&.ng-invalid:not(.ng-untouched) .label {
		border-color: var(--color-warn);
	}
}

.amount {
	width: 36px;
}

.label {
	flex-basis: 50%;
	flex-grow: 0;
}

.currency-price {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid var(--color-secondary);
	border-radius: var(--border-radius);
	height: 30px;
	padding: 0 var(--spacing-s);
	.currency {
    height: 30px;
    display: flex;
    align-items: center;
	}
	icon-app {
		margin-top: 2px;
	}
}