:host {
	display: flex;
	width: 100%;
	&.inline {
		.currency-price {
			border: none;
			height: unset;
			.currency {
				height: unset;
			}
		}
	}
	&.readonly {
		background: var(--color-secondary-light);
	}

	&.ng-invalid:not(.ng-untouched) .currency-price, 
	&.ng-invalid:not(.ng-untouched) .label {
		border-color: var(--color-warn);
	}
}

.amount {
	width: 83px;
	color: var(--color-secondary-contrast);
}

.label {
	flex-basis: 50%;
	flex-grow: 0;
}

.currency-price {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 120px;
	height: 26px;

	.currency {
    height: 26px;
    display: flex;
		align-items: center;

		span {
			font-weight: 600;
		}
	}
	
	icon-app {
		margin-top: 2px;
	}
}