
<table-app
	[placeholder]="'placeholder.no-product' | translate"
	[rows]="rows"
	[type]="erm.PRODUCT.singular"
	[hasVerticalScroll]="hasVerticalScroll"
  [currentSort]="currentSort"
  [pending]="pending"
  [count]="count"
  [currentPage]="currentPage"
	[selected]="selection"
	[hasMenu]="hasMenu"
  [hasHeader]="hasHeader"
	[hasPagination]="hasPagination"
	[hasSelection]="hasSelection"
	[headerSecondary]="headerSecondary"
	[hasHeaderBorder]="hasHeaderBorder"
	[hasShowItemsPerPage]="hasShowItemsPerPage"
  [contextualMenu]="contextualMenuTemplate"
  (goToPage)="goToPage.emit($event)"
  (bottomReached)="bottomReached.emit()"
  (sort)="sort.emit($event)"
  (selectOne)="select.emit($event)"
  (unselectOne)="unselect.emit($event)"
  (selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(createClick)="createClick.emit()"
  (showItemsPerPage)="showItemsPerPage.emit($event)">

  <!-- contextual menu -->
  <ng-template #contextualMenuTemplate let-row="row">
    <context-menu-item-app
      (click)="setFavourite.emit(row)"
      translate="button.set-as-favourite">
    </context-menu-item-app>
    <context-menu-item-app
      (click)="openAddToProjectDialog.emit(row)"
      translate="button.add-to-project">
    </context-menu-item-app>
    <context-menu-item-app
      (click)="openAddTaskDialog.emit(row)"
      translate="button.add-task">
    </context-menu-item-app>
    <context-menu-item-app
      (click)="openAddSampleDialog.emit(row)"
      translate="button.add-sample">
    </context-menu-item-app>
    <divider-app></divider-app>
    <context-menu-item-app
      (click)="archive.emit(row)"
      translate="button.archive">
    </context-menu-item-app>
    <context-menu-item-app
      (click)="delete.emit(row)"
      translate="button.delete">
    </context-menu-item-app>
  </ng-template>

  <!-- dynamic columns -->
  <ng-template
    *ngFor="let column of columnsConfig; trackBy: trackByFn"
    let-row="row"
		[columnApp]="'title.' + column.translationKey | translate"
		[sortable]="column.sortable !== false"
    [width]="column.width"
    [sortBy]="column.sortProperty">
    <ng-container [ngSwitch]="column.name">

      <!-- product reference -->
      <ng-container *ngSwitchCase="'reference'">
        <div class="ellipsis name-container contain-strict">
          <div class="ellipsis flexVAlign">

            <div *ngIf="hasPreview" class="preview-imgs" (click)="previewClick.emit(row)">
              <logo-app class="mini imgCtnr"
                [logo]="row.images[0]" size="m" type="product"></logo-app>
              <div class="hover-img">
                <icon-app name="eye" [size]="18" class="preview-hover-img"></icon-app>
              </div>
						</div>

						<div *ngIf="!hasPreview">
							<logo-app class="mini imgCtnr" [logo]="row.images[0]" size="m" type="product"></logo-app>
						</div>

            <div class="flexColumn ref-ctnr">
              <span class="product-ref ellipsis">
                <a class="name txt-btn" [routerLink]="['/product', row.id]">
									{{ row.name || '-' }}
                </a>
              </span>

              <div class="product-name-ref ellipsis">
                  {{ row.reference || '-' }}
              </div>
            </div>

          </div>
        </div>
      </ng-container>

      <!-- supplier -->
      <ng-container *ngSwitchCase="'supplier'">
        <selector-app
					[type]="erm.SUPPLIER.singular"
					[hasPicker]="canUpdate"
          [canCreate]="true"
          [width]="370"
          (update)="update.emit({ id: row.id, supplier: $event })">
          <div class="ellipsis supplier-col txt-btn" [ngClass]="{ 'empty-field': !row?.supplier }">
						{{ row?.supplier?.name || 'Link to supplier' }}
					</div>
        </selector-app>
      </ng-container>

      <!-- category -->
      <ng-container *ngSwitchCase="'category'">
        <selector-app
					[type]="erm.CATEGORY.singular"
					[hasPicker]="canUpdate"
          [canCreate]="true"
          [width]="370"
          (update)="update.emit({ id: row.id, category: $event })">
					<div class="ellipsis pointer txt-btn category"  [ngClass]="{ 'empty-field': !row?.category }">
						{{ row?.category?.name || 'Set a category' }}
					</div>
        </selector-app>
			</ng-container>

			<!-- category + supplier -->

			<ng-container *ngSwitchCase="'about'">
				<selector-app
					[type]="erm.SUPPLIER.singular"
					[hasPicker]="canUpdate"
          [canCreate]="true"
          [width]="370"
          (update)="update.emit({ id: row.id, supplier: $event })">
          <div class="ellipsis supplier-col txt-btn"  [ngClass]="{ 'empty-field': !row?.supplier }">
						{{ row?.supplier?.name || 'Link to supplier' }}
					</div>
        </selector-app>
				<selector-app
					[type]="erm.CATEGORY.singular"
					[hasPicker]="canUpdate"
					[canCreate]="true"
					[width]="370"
					(update)="update.emit({ id: row.id, category: $event })">
					<div class="ellipsis pointer txt-btn category"  [ngClass]="{ 'empty-field': !row?.category }">
						{{ row?.category?.name || 'Set a cateogry' }}
					</div>
				</selector-app>
			</ng-container>

      <!-- activities -->
      <ng-container *ngSwitchCase="'activity'">
        <activities-bar-app
          [row]="row"
          [favourite]="row?.favorite"
          [hasSamples]="!!row?.samplesLinked.count"
          [hasTasks]="!!row?.tasksLinked.count"
          [hasComments]="!!row?.comments.length"
          [votes]="row?.votes">
        </activities-bar-app>
      </ng-container>

      <!-- price -->
      <ng-container *ngSwitchCase="'price'">
				<editable-text-app
					#editable
					[hasAction]="false"
					(opened)="inp.focus()"
					(closed)="update.emit({ id: row.id, price: inp.price })">
					<editable-label-app>
						<price-app
							[price]="row?.price"
							[moq]="row?.minimumOrderQuantity"
							[moqDesc]="row?.moqDescription">
						</price-app>
					</editable-label-app>
					<input-price-app
						#inp
						(keyup.enter)="editable.close()"
						[price]="row?.price">
					</input-price-app>
				</editable-text-app>
      </ng-container>

      <!-- moq -->
      <ng-container *ngSwitchCase="'moq'">
        <editable-text-app
          #editable
          [hasAction]="false"
          (opened)="inp.focus()"
          (closed)="update.emit({ id: row.id, minimumOrderQuantity: inp.value })">
          <editable-label-app>
            <moq-app
              *ngIf="row?.minimumOrderQuantity; else noMoq"
              [amount]="row?.minimumOrderQuantity">
            </moq-app>
            <ng-template #noMoq> <div>-</div> </ng-template>
          </editable-label-app>
          <input #inp inputApp type="number" [value]="row?.minimumOrderQuantity" (keyup.enter)="editable.close()"/>
        </editable-text-app>
      </ng-container>

      <!-- creation date -->
      <ng-container *ngSwitchCase="'creation date'">
        {{ row?.creationDate | date: 'dd MMMM y' }}
			</ng-container>

      <!-- created by -->
      <ng-container *ngSwitchCase="'created by'">
				<span class="created-by">{{ row?.createdBy | formatUserName }}</span>
				<div class="created-by-date">
					{{ row?.creationDate | date: 'dd MMMM y':'':translate.currentLang }}
				</div>
			</ng-container>

			<!-- favorite -->
			<ng-container *ngSwitchCase="'favorite'">
				<div>
					<rating-heart-app
						[favorite]="row?.favorite"
						(favorited)="favorited.emit(row.id)"
						(unfavorited)="unfavorited.emit(row.id)">
					</rating-heart-app>
				</div>
			</ng-container>

      <!-- favorite -->
      <ng-container *ngSwitchCase="'FAV'">
        <div>
          <rating-heart-app
						size="20"
						[favorite]="row?.favorite"
            (favorited)="favorited.emit(row.id)"
            (unfavorited)="unfavorited.emit(row.id)">
          </rating-heart-app>
        </div>
      </ng-container>

      <!-- projects -->
      <ng-container *ngSwitchCase="'projects'">
        <div class="flexCenter">
          <span *ngFor="let project of row.projects; trackBy: trackByFn">
            {{ project.name || '-' }}
          </span>
        </div>
      </ng-container>

      <!-- status -->
      <ng-container *ngSwitchCase="'status'">
				<div class="status-col flexVAlign">
					<selector-app
						[type]="erm.USER.singular"
						[width]="320"
						[offsetX]="4"
						(update)="update.emit({ id: row?.id, assignee: $event })">
						<user-picture-app
							[user]="row?.assignee"
							[image]="row?.assignee?.avatar">
						</user-picture-app>
					</selector-app>
					<status-selector-app [entity]="row" [typeEntity]="erm.PRODUCT" [canUpdate]="canUpdate" selectSize="s"></status-selector-app>
				</div>
			</ng-container>

			<!-- name -->
      <ng-container *ngSwitchCase="'name'">
				<div class="flexVAlign">
					<logo-app
						class="mini imgCtnr"
						[logo]="row.images[0]"
						[color]="color.SECONDARY"
						size="ms"
						type="product">
					</logo-app>
					<span class="product-name">{{ row?.name }}</span>
				</div>
			</ng-container>

      <!-- default -->
      <ng-container *ngSwitchDefault>
        {{ row[column.name] }}
      </ng-container>

    </ng-container>
  </ng-template>

</table-app>

