
<div class="header flex">
	<!-- div added for the cell without border -->
	<div class="spacer mg-s"></div>
	<div class="flex flexGrow">
		<div class="w-5"></div>
		<div class="w-5">Step</div>
		<div class="w-40">Name</div>
		<div class="w-20">Category</div>
		<div class="w-20">Final Step</div>
		<div class="w-10"></div>
	</div>

</div>

<div class="list" cdkDropList (cdkDropListDropped)="onDrop($event)">
	<div class="box" *ngFor="let status of statuses; let last = last" cdkDrag [cdkDragDisabled]="status.step === 0" >
		<!-- placeholder -->
		<div class="bg-primary custom-placeholder" *cdkDragPlaceholder></div>
		<!-- no border -->
		<div class="spacer mg-s"></div>

		<div class="flex flexGrow sub-cell" [ngClass]="{ 'with-border': !last }">
			<!-- handle -->
			<div class="w-5 cell">
				<icon-app *ngIf="status.step > 0" cdkDragHandle class="handle" name="grip-vertical" fontSet="fa"></icon-app>
			</div>
			<!-- step -->
			<div class="w-5 cell">{{ status.step }}</div>
			<!-- name -->
			<div class="w-40 cell">
				<editable-text-app #editable (opened)="inp.focus()" (closed)="onEditableClose($event, inp.value, status)">
					<editable-label-app>
						{{ status.name }}
						<button class="ugly-btn">rename</button>
					</editable-label-app>
					<input #inp inputApp type="text" [value]="status.name" (keyup.enter)="editable.close()"/>
				</editable-text-app>
			</div>
			<!-- category -->
			<div class="w-20 cell">
				<context-menu-app>
					<context-menu-trigger-app>
						<div class="flexBetween badge" [ngClass]="getType(status)">
							<div>	{{ status?.category | const: 'statusCategory'}}	</div>
							<div> <icon-app name="caret-down"></icon-app> </div>
						</div>
					</context-menu-trigger-app>
					<context-menu-item-app *ngFor="let category of categories" (click)="update.emit([{ id: status.id, category: category }])">
						{{ category | const: 'statusCateogry' }}
					</context-menu-item-app>
				</context-menu-app>
			</div>
			<!-- final -->
			<div class="w-20 cell">
				<!-- when model is changed -->
				<!-- <checkbox-app *ngIf="status.step !== 0" [checked]="status.final"></checkbox-app> -->
				<checkbox-app *ngIf="status.step !== 0"></checkbox-app>
			</div>
			<!-- preview -->
			<div class="w-10 cell">
				<button class="ugly-btn" (click)="delete.emit(status.id)">Delete Status</button>
			</div>
		</div>
	</div>
</div>