<nav role="navigation" class="{{ open ? 'open' : '' }} flexColumn z-3">
	<div class="items">

		<a [routerLink]="['/home']" routerLinkActive="selected"
			class="sideNavItem flex">
			<i class="fa fa-home" aria-hidden="true"></i>
			<span class="itemTxt">home</span>
		</a>

		<a [routerLink]="['/products']" routerLinkActive="selected" class="sideNavItem flex">
			<i class="fa fa-archive" aria-hidden="true"></i>
			<span class="itemTxt">products</span>
		</a>


		<a [routerLink]="['/tasks']" routerLinkActive="selected" class="sideNavItem flex">
			<i class="fa fa-clock-o" aria-hidden="true"></i>
			<span class="itemTxt">tasks</span>
		</a>

		<a [routerLink]="['/suppliers']" routerLinkActive="selected" class="sideNavItem flex">
			<i class="fa fa-user" aria-hidden="true"></i>
			<span class="itemTxt">suppliers</span>
		</a>


		<a [routerLink]="['/events']" routerLinkActive="selected" class="sideNavItem flex">
			<i class="fa fa-calendar" aria-hidden="true"></i>
			<span class="itemTxt">events</span>
		</a>

		<a [routerLink]="['/test']" routerLinkActive="selected" class="sideNavItem flex">
			<i class="fa fa-times" aria-hidden="true"></i>
			<span class="itemTxt">test</span>
		</a>
	</div>


	<button class="sideNavItem" (mousedown)="toggle()">
		<i class="fa fa-{{menuIcon}}" aria-hidden="true"></i>
	</button>
</nav>