
<top-panel-app
	title="ShowSourcing - Fashion"
	[subtitles]="['Settings', 'Team Members']"
	buttonName="Create New Team"
	[buttonIcon]="false"
	[withNav]="true"
	(buttonClick)="openNewTeamDialog()">

	<nav class="flex">
		<span (click)="displayTab('team-members')" [ngClass]="{ active: (selectedTab === 'team-members') }">Team Members</span>
		<span (click)="displayTab('invitations')" [ngClass]="{ active: (selectedTab === 'invitations') }">Invitations</span>
	</nav>
</top-panel-app>

<settings-team-members-users-app *ngIf="selectedTab === 'team-members'"></settings-team-members-users-app>
<settings-team-members-invitations-app *ngIf="selectedTab === 'invitations'"></settings-team-members-invitations-app>
