<header-details-app
	[hasBackArrow]="false"
	[elevated]="false">

	<header-details-title-app>{{ 'title.my-team' | translate }}</header-details-title-app>

	<logo-app color="primary" icon="team" size="xl"></logo-app>
	<header-details-info-app  *ngIf="(team$ | async) as team">{{team.name}}</header-details-info-app>

	<header-list-nav-app>
		<header-list-nav-item-app
			link="settings/team/members"
			icon="team"
			[name]="'nav.team-members' | translate">
		</header-list-nav-item-app>
	
		<!-- TODO create route for settings tab -->
		<header-list-nav-item-app
			link="settings/team/settings"
			icon="settings"
			[name]="'nav.settings' | translate">
		</header-list-nav-item-app>
	</header-list-nav-app>

	<button action (click)="redirectNewTeamScreen()" translate="button.create-new-team"></button>
</header-details-app>


<!-- Old implementation -->

<!-- <header-list-app
	[title]="(team$ | async)?.name"
	[isModifiable]="true"
	(update)="updateTeamName($event)"
	buttonName="Create new team"
	[buttonIcon]="false"
	(buttonClick)="redirectNewTeamScreen()"
	i18n-buttonName="@@create-new-team">

	<nav class="flex">
		<span class="capitalize" (click)="displayTab('team-members')"
			[ngClass]="{ active: (selectedTab === 'team-members') }" translate="text.team-members"></span>
		<span class="capitalize" (click)="displayTab('invitations')" [ngClass]="{ active: (selectedTab === 'invitations') }"
			translate="text.invitations"></span>
	</nav>

</header-list-app> -->


<!-- TODO create routes instead of condition  -->

<settings-team-members-users-app *ngIf="selectedTab === 'team-members'"></settings-team-members-users-app>
<settings-team-members-invitations-app *ngIf="selectedTab === 'invitations'"></settings-team-members-invitations-app>
