<header-details-app
	[title]="'My Team'"
	[hasBackArrow]="false"
	[elevated]="false"
	i18n-title="@@data-cleansing">
	<logo-app color="primary" icon="team" size="xl"></logo-app>
	<ng-container subinfo *ngIf="(team$ | async) as team">{{team.name}}</ng-container>

	<header-list-nav-app>
		<header-list-nav-item-app
			link="settings/team/members"
			icon="team"
			name="Team Members">
		</header-list-nav-item-app>
	
		<!-- TODO create route for settings tab -->
		<header-list-nav-item-app
			link="settings/team/settings"
			icon="settings"
			name="Settings">
		</header-list-nav-item-app>
	</header-list-nav-app>

	<header-details-actions-app>
		<button action (click)="redirectNewTeamScreen()">Create New Team</button>
	</header-details-actions-app>

</header-details-app>

<router-outlet></router-outlet>
