<!-- the trigger -->
<div
	#trigger="cdkOverlayOrigin"
	cdkOverlayOrigin
	class="fullWidth selector-wrap"
	tabindex="0"
	(keyup.enter)="openMenu()"
	(click)="openMenu()">
	<ng-content></ng-content>
</div>

<cdk-overlay-app
	*ngIf="menuOpen"
	[trigger]="trigger"
	[isOpen]="menuOpen"
	[offsetY]="offsetY"
	[offsetX]="offsetX"
	[closeOnScroll]="true"
	(clickOutside)="closeMenu(true)">
	<selector-picker-app
		class="z-2"
		[ngStyle]="{ width: width + 'px'}"
		[value]="value"
		[type]="type"
		[multiple]="multiple"
		[filterList]="filterList"
		[canCreate]="canCreate"
		(update)="onChange($event)"
		(close)="closeMenu(true)"
		cdkTrapFocus>
	</selector-picker-app>
</cdk-overlay-app>