<!-- the trigger -->
<div
	#trigger="cdkOverlayOrigin"
	cdkOverlayOrigin
	class="fullWidth"
	(click)="menuOpen = !menuOpen">
	<ng-content></ng-content>
</div>

<cdk-overlay-app
	*ngIf="menuOpen"
	[trigger]="trigger"
	[isOpen]="menuOpen"
	[offsetY]="offsetY"
	[offsetX]="offsetX"
	[closeOnScroll]="true"
	(clickOutside)="closeMenu(true)">
	<selector-picker-app
		class="z-2"
		[ngStyle]="{ width: width + 'px'}"
		[value]="value"
		[type]="typeEM"
		[multiple]="multiple"
		[canCreate]="canCreate"
		(update)="update.emit($event)"
		(close)="closeMenu(true)">
	</selector-picker-app>
</cdk-overlay-app>