<table-app
	class="secondary-style"
	[rows]="rows"
	[pending]="pending"
	[hasSelection]="false"
	[selected]="selection"
	[placeholder]="'placeholder.no-request-items' | translate"
	[contextualMenu]="contextualMenuTemplate"
	[count]="count"
	[currentPage]="currentPage"
	(goToPage)="goToPage.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(selectOne)="select.emit($event)"
	(sort)="sort.emit($event)"
	(unselectAll)="unselectAll.emit()"
	(unselectOne)="unselect.emit($event)">

	<!-- contextual menu -->
	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-warn-app
			class="pointer flexCenter capitalize"
			(click)="openRefuseReplyDlg.emit(row.reply.id)">
			{{'button.refuse' | translate}}
		</context-menu-item-warn-app>
	</ng-template>

	<ng-template
		[columnApp]="'ERM.' + erm.PRODUCT.translationKey + '.singular' | translate"
		sortBy="name"
		let-row="row"
		width="300">
		<div class="mainCell ellipsis">
			<img-app
				class="mini imgCtnr"
				[image]="row?.images?.length ? row?.images[0] : null"
				type="request"
				size="s">
			</img-app>
			<span class="capitalize ellipsis">
				<div class="name txt-btn title" (click)="open.emit(row)">
					{{ row?.name }}
				</div>
			</span>
		</div>
	</ng-template>

	<ng-template
		[columnApp]="'title.fields' | translate"
		[sortable]="false"
		let-index="index"
		width="200">
	 {{ replied[index]?.replied + '/' + replied[index]?.total }}
	</ng-template>


	<ng-template
		[columnApp]="'title.status' | translate"
		sortBy="reply.status"
		let-row="row"
		width="200">
		<request-status-badge-app
			[status]="row?.reply?.status"
			[creationDate]="row?.sentDate"
			[isTeam]="false">
		</request-status-badge-app>
	</ng-template>

</table-app>