<div class="card-container" [class.selectedCard]="selected" (mouseenter)="setShowOptionsBar(true)" (mouseleave)="setShowOptionsBar(false)">
	<div class="card-content flexColumn">
		<img class="noselect" [src]="product | image:'m'" alt="rekt">

		<div class="information">
			<div class="text-bar">
				<p class="bold-s">{{product.name}}</p>
				<p class="fs-s">{{product.supplier.name}}</p>
			</div>
			<div class="flex noselect small-icons">
				<rating-heart-app
					[favorite]="favorite"
					(favorited)="productFavorite.emit()"
					(unfavorited)="productUnfavorite.emit()">
				</rating-heart-app>
				<thumb-buttons-app></thumb-buttons-app>
				<icon-app *ngIf="!showOptionsBar" fontSet="svg" name="folder"></icon-app>
			</div>
		</div>

		<action-bar-app
			[class.isHovered]="showOptionsBar"
			[favorite]="favorite"
			[like]=""
			[dislike]=""
			(onFavorite)="productFavorite.emit()"
			(onUnfavorite)="productUnfavorite.emit()"
			(onLike)="productLike.emit()"
			(onDislike)="productDislike.emit()"
			(addToProject)="addToProject.emit()">
		</action-bar-app>

	</div>
</div>