:host {
	margin: var(--spacing-l);
	margin-left: 0;
	margin-bottom: 0;
	display: block;
}

.card-container {
	width: 330px;
	height: 340px;
	background: white;

	&.selectedCard {
		border: 2px solid var(--color-primary);
		border-radius: 2px;
	}

	.card-content {
		margin: var(--spacing-xs);
		height: 100%;

		img {
			object-fit: fill;
			flex-grow: 1;
			height: 234px;
		}

		.information {
			max-height: 54px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-grow: 1;

			.small-icons {
				padding-bottom: 23px;
			}

			.text-bar {
				margin-left: var(--spacing-xs);
				margin-top: var(--spacing-xs);
			}
			icon-app, thumb-buttons-app {
				margin-right: var(--spacing-xs);
			}

			rating-heart-app, thumb-buttons-app, icon-app {
				color: var(--color-secondary-dark);
			}
			thumb-buttons-app {
				margin-left: 2px;
				margin-top: 6px;
			}

			.numbers {
				margin-right: 6px;
				margin-top: 7px;
				color: var(--color-secondary-dark);
			}

		}
	}
}


