<div class="card-container" [class.selectedCard]="selected" (mouseenter)="setShowOptionsBar(true)" (mouseleave)="setShowOptionsBar(false)">
	<div class="card-content flexColumn">
		<img class="noselect" [src]="product | image:'m'">
		<div class="information">
			<div class="text-bar">
				<p class="bold-s">{{product.name}}</p>
				<p class="fs-s">{{product.supplier.name}}</p>
			</div>
			<icons-status-app
				[product]="product"
				[favorite]="favorite">
			</icons-status-app>
		</div>

		<action-bar-app
			buttonName="Open"
			[isVisible]="showOptionsBar"
			[votes]="product.votes"
			[favorite]="favorite"
			(onFavorite)="productFavorite.emit()"
			(onUnfavorite)="productUnfavorite.emit()"
			(vote)="updateProduct({ votes: $event })"
			(addToProject)="openAddToProject()"
			(buttonClick)="onViewProduct()">
		</action-bar-app>

	</div>
</div>