

<side-menu-app>
	<side-menu-item-app [selected]="entity.entityName === selectedEntity.entityName"
		 *ngFor="let entity of entities"  (click)="select(entity)">
		{{ entity?.pluralName }}
	</side-menu-item-app>
</side-menu-app>

<main>
	<h1>Manage your {{ selectedEntity?.pluralName }}</h1>

	<div class="ctnr flexColumn flexCenter">

		<div class="info">
			Use this list to quickly edit and delete your informations
		</div>
		<hr>
		<span class="error" color-primary>
			Some things will throw a forbidden error, it might be because we are not the owner or something ?
		</span>
		<div class="actions flex" *ngIf="selection.length > 0">
			<div> {{ selection.length }} items selected </div> --
			<div (click)="mergeSelection()" i18n="div click|Merge data management items@@dataManagementPage_merge">Merge</div> - -
			<div (click)="deleteSelection()" i18n="div click|Delete data management items@@dataManagementPage_delete">Delete</div>
		</div>
		<hr>
		<ng-container *ngIf="items$ | async as items">
			<data-management-table-app
				[items]="items"
				(selection)="onSelection($event)"
				(update)="updateItem($event)"
				(itemRemoved)="removeItem($event)"></data-management-table-app>
		</ng-container>
	</div>

</main>

