<top-panel-app
	[title]="'ShowSourcing'"
	[subtitles]="['Settings', 'Data Cleansing']"
	[hasSwitch]="false"
	(buttonClick)="openNewDialog()">
</top-panel-app>

<sub-panel-app
	[title]="'Categories'"
	[hasFilter]="false">
	<div class="flex" *ngIf="(selected$ | async).size == 0">
		<button class="button warn"> Delete Selected </button>
		<span class="marginSmall"></span>
		<button> Merge Selected </button>
		<span class="marginSmall"></span>
	</div>
</sub-panel-app>

<!-- new-selection-bar
	[title]="'Categories'"
	[hasSearch]="true"
	[isSelected]="isSelected" if selected display the following buttons -> import | delete selected | merge selected | new category
													 else display the button -> new category
	[selected]="selected"
	(merge)="mergeSelection()"
	(delete)="deleteSelection()"
	(import)="importSelection()"
	(create)="createCategory()"
-->

<data-management-table-app
	[categories]="categories$ |async"
	[selected]="selected$ | async"
	[pending]="pending"
	(sort)="onSort($event)"
	(categorySelect)="selectItem($event)"
	(categoryUnselect)="unselectItem($event)"
	(categorySelectAll)="selectAll($event)"
	(categoryUnselectAll)="resetSelection()"
	(categoryOpen)="onItemOpened($event)">
</data-management-table-app>
