:host {
	display: block;
	background: white;
	width: 424px;
	border-radius: var(--border-radius-l);
	padding-bottom: var(--spacing-l);
	overflow: overlay;

	position: absolute;
	bottom: var(--spacing-s);
	z-index: var(--z-cardContainer);
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	height: calc(100vh - 70px); // this way we perserve the ratio and the margin otp

  box-shadow: 0 0 24px 0 rgba(163, 175, 198, 0.2);

	&.alignRight {
		right: var(--spacing-s);
	}
	&.alignLeft {
		left: var(--spacing-s);;
	}
	&::-webkit-scrollbar { width: 0 !important } // we make invisible the scrollbar
}

.fixedTop {
	position: fixed;
	width: 424px;
}

.scrollable {
	position: relative;
	background: white;
	border-top-left-radius: var(--border-radius-l);
	border-top-right-radius: var(--border-radius-l);
}
