<div class="title-container flexColumn">
	<h1>Welcome to Showsourcing</h1>
	<p>Discover the best way to connect with your oversea users!</p>
</div>
<div class="items-container flex">
	<div class="flexColumn">
		<icon-app  name="envelope-with-counter" fontSet="svg"></icon-app>
		<p>Receive quotations from your clients</p>
	</div>
	<div class="flexColumn">
		<icon-app  name="product-with-counter" fontSet="svg"></icon-app>
		<p class="smaller">Push them updates</p>
	</div>
	<div class="flexColumn">
		<icon-app name="home-project-menu"></icon-app>
		<p>Grow your business with Showsourcing!</p>
	</div>
</div>
<div class="footer flexColumn">
	<p>Grow your business today!</p>
	<button (click)="nextPage()">Claim my business!</button>
</div>