
<controller-table-app>
	<!-- filters -->
	<controller-table-quick-filters-app></controller-table-quick-filters-app>
	<!-- actions -->
	<controller-table-quick-actions-app
		typename="Product"
	>
	</controller-table-quick-actions-app>
	<!-- switcher -->
	<controller-table-view-switcher-app
	 [hasBoard]="false"
	 [hasCard]="false"></controller-table-view-switcher-app>
</controller-table-app>

<products-table-app
	[rows]="listHelper.filteredItems$ | async"
	[pending]="listHelper.pending$ | async"
	[selection]="selectionSrv.selection$ | async"
	(createClick)="listHelper.create({ supplier: supplier })"
	(open)="viewSrv.goToDetails($event)"
	(previewClick)="viewSrv.openPreview($event)"
	(select)="selectionSrv.selectOne($event)"
	(selectAll)="selectionSrv.selectAll($event)"
	(unselect)="selectionSrv.unselectOne($event)"
	(showItemsPerPage)="listHelper.setItemsPerPage($event)">
</products-table-app>

<product-selection-bar-app
	[isShown]="(selectionSrv.selection$ | async).size"
	[selection]="selectionSrv.selection$ | async"
	[selectableItems]="listHelper.filteredItems$ | async"
	(addProject)="addProject()"
	(export)="dialogCommonSrv.openExportDlg('Product', selectionSrv.getSelectedValues())"
	(createRequest)="dialogCommonSrv.openSupplierRequest(selectionSrv.getSelectedValues())"
	(requestTeamFeedback)="dialogCommonSrv.openRequestFeedbackDialog(selectionSrv.getSelectedValues())"
	(compareProducts)="dialogCommonSrv.openCompareProductDialog(selectionSrv.getSelectedValues())"
	(massEdit)="dialogCommonSrv.openMassEditDialog(selectionSrv.getSelectedValues())"
	(deleted)="listHelper.deleteSelected()"
	(selectAll)="selectionSrv.selectAll()"
	(unselectAll)="selectionSrv.unselectAll()">
</product-selection-bar-app>

	<!-- <product-preview-app
		*ngIf="viewSrv.previewOpen"
		[product]="viewSrv.previewed"
		(close)="viewSrv.closePreview()">
	</product-preview-app> -->
<!-- </ng-container>  -->

<side-panel-app *ngIf="viewSrv.filterPanelOpen">
	<filters-app
		[filterTypes]="filterTypes"
		(clickOutside)="viewSrv.closeFilterPanel()"
		(close)="viewSrv.closeFilterPanel()">
	</filters-app>
</side-panel-app>
