<!-- product info card -->
<card-app>
	<!-- owner -->
	<section>
		<h3 class="section-title">Product Owner</h3>
		<editable-container-app
			class="hover-light"
			[isFullWidth]="false"
			[hasAction]="false"
			(click)="sel.openMenu($event)">
			<editable-value-app>
				<selector-app
					#sel
					typename="TeamUser"
					[width]="320"
					[offsetX]="4"
					(update)="update.emit({ assigneeId: $event?.teamuserId })">
					<div *ngIf="product?.assignee && (product?.assignee | json) != '{}'; else none" class="flex">
						<user-picture-app	class="mg-right-ms" [user]="product?.assignee" size="24" fontSize="12" [hasName]="true"></user-picture-app>
					</div>
					<ng-template #none><span class="capitalize" translate="text.none"></span></ng-template>
				</selector-app>
				</editable-value-app>
		</editable-container-app>
	</section>

	<!-- status -->
	<section>
		<h3 class="section-title">Product Status</h3>
		<span>
			<status-selector-app
				typename="Product"
				[entity]="product"
				type="button">
			</status-selector-app>
		</span>
	</section>

	<!-- task list -->
	<section class="action-hover-container-0">
		<div class="section-title flexVAlign">
			<h3>Tasks</h3>
			<div class="mg-left-ms action-hover-item-0 color-primary txt-btn" (click)="addTask.emit()" translate="button.add"></div>
		</div>
		<task-catalog-app
			[tasks]="productTasks$ | async"
			(taskClicked)="previewTask.emit($event)"
			(showMore)="goToTasks.emit()">
		</task-catalog-app>
	</section>

	<!-- sample list -->
	<section class="action-hover-container-0">
		<div class="section-title flexVAlign">
			<h3>Samples</h3>
			<div class="mg-left-ms action-hover-item-0 color-primary txt-btn" (click)="addSample.emit()" translate="button.add"></div>
		</div>
		<sample-catalog-app
			[samples]="productSamples$ | async"
			(sampleClicked)="previewSample.emit($event)"
			(showMore)="goToSamples.emit()">
		</sample-catalog-app>
	</section>

	<!-- about -->
	<section>
		<h3 class="section-title">About this product</h3>
		<small>Created by {{ product.createdBy | formatUserName }} on  {{ product.createdAt | date: 'dd MMMM yyyy' }}</small> <br>
		<small>Last updated by {{ product.lastUpdatedBy | formatUserName }} on {{ product.lastUpdatedAt | date: 'dd MMMM yyyy' }}</small><br>
		<!-- TODO: implement event part -->
		<!-- <small *ngIf="product.event">Found at {{ product?.event?.description?.name }}</small> -->
	</section>
</card-app>
