
$cell-width: 196px; // we substract the padding-right
$header-height: 264px;

:host {
	display: block;
}

.header-container {
	max-height: $header-height;
	min-height: 242px;
	overflow-x: auto;
	overflow-y: hidden;
	// if this is modified the calculation on body-container too
	padding-top: var(--spacing-ml);

	.header-title {
		color: var(--color-txt-strong);
		font-weight: 600;
		letter-spacing: -0.3px;
	}
}

.body-container {
	height: calc(100% - #{$header-height} - 20px - 20px); // one is the padding the other a fixed one
	overflow: auto;
	overflow-x: hidden;
}

.comparison-row {
  width: 100%;
  box-sizing:border-box;
  vertical-align: middle;

  .comparison-row-header {
    .comparison-cell-image {
      margin-bottom: 0;
    }
    .comparison-cell-description {
			margin-bottom: var(--spacing-ms);
		}
    .comparison-cell-text {
      font-size: var(--font-size-m);
      font-weight: 600;
      color: var(--color-txt-strong);
    }
  }

  .comparison-row-content {
    border-bottom: 1px solid var(--color-divider);
    height: 33px;
    line-height: 33px;

    .title {
      width: $cell-width;
      font-size: var(--font-size-m);
      font-weight: 600;
      color: var(--color-secondary-dark);
    }
  }

  .comparison-row-title {
    margin-top: var(--spacing-m);
    .comparison-cell {
      font-size: var(--font-size-l);
      font-weight: 600;
      color: var(--color-txt-strong);
      padding-left: 0px;
    }
  }

  .empty-header-cell {
		width: $cell-width;
		font-size: var(--font-size-m);
		font-weight: 600;
		color: var(--color-secondary-dark);
		text-transform: capitalize;
  }

  .comparison-cell {
    white-space: normal;
		width: $cell-width;
		padding-right: var(--spacing-s);
	}

	.image-container {
		padding-bottom: var(--spacing-ms);
	}

	.header-title {
		padding-bottom: var(--spacing-xs);
		height: 20px;
	}

	.description {
		padding-bottom: var(--spacing-ms);

		.comparison-cell {
			white-space: pre-line;
			font-size: var(--font-size-s);
		}
	}

  .image-container {
    width: 175px;
    height: 175px;
  }

  div {
    display: inline-flex;
  }

}

