<div class="header-container">
	<div *ngFor="let comparison of comparisonData; index as index; trackBy: trackByFn" [ngClass]="{'comparison-row': comparison.type === 'header'}">
		<div *ngIf="comparison?.type === 'header'">
			<div class="empty-header-cell"></div>
			<div [ngSwitch]="comparison.dataType" [ngClass]="'comparison-cell-' + comparison.dataType">
				<div *ngSwitchCase="'description'" class="description">
					<div class="comparison-cell" *ngFor="let value of comparison.data; trackBy: trackByFn">
						{{ value }}
					</div>
				</div>
				<div *ngSwitchCase="'text'" class="header-title">
					<div class="comparison-cell ellipsis" *ngFor="let value of comparison.data; trackBy: trackByFn">
						{{ value }}
					</div>
				</div>

				<div *ngSwitchCase="'image'">
					<div class="comparison-cell" *ngFor="let value of comparison.data; trackBy: trackByFn">
						<div class="image-container">
							<img-app [customStyle]="{ 'border-radius': '4px' }" [image]="value" type="product" size="m" [objectFit]="'cover'"></img-app>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="body-container">
	<div *ngFor="let comparison of comparisonData; index as index; trackBy: trackByFn" [ngClass]="{'comparison-row': comparison.type !== 'header'}">
		<div [ngSwitch]="comparison.type" [ngClass]="'comparison-row-' + comparison.type">
			<div *ngSwitchCase="'title'">
				<div class="comparison-cell">
					{{ comparison.title }}
				</div>
			</div>
			<div *ngSwitchCase="'content'">
				<div class="title">{{ comparison.title }}</div>
				<div [ngSwitch]="comparison.dataType" [ngClass]="'comparison-cell-' + comparison.dataType">
					<div *ngSwitchCase="'price'">
						<div class="comparison-cell color-txt-strong" *ngFor="let value of comparison.data; trackBy: trackByFn">
							<price-app
								[isShort]="true"
								[amount]="value?.value"
								[currency]="value?.currency">
							</price-app>
						</div>
					</div>
					<div *ngSwitchCase="'text'">
						<div class="comparison-cell color-txt-strong ellipsis" *ngFor="let value of comparison.data; trackBy: trackByFn">
							{{ value || '-'}}
						</div>
					</div>
					<div *ngSwitchCase="'tag'">
						<div class="comparison-cell color-txt-strong ellipsis" *ngFor="let value of comparison.data; trackBy: trackByFn">
							<div *ngFor="let tag of value; let last = last; trackBy: trackByFn">
								{{ tag.name }}{{ last ? '' : ',&nbsp;' }}
							</div>
							<div *ngIf="!value?.length"> - </div>
						</div>
					</div>
				</div>
			</div>
			<!-- Just in case someone wants this back -->
			<!-- Check compare-product to see why -->
			<!-- <div *ngSwitchCase="'status'">
				<div [ngSwitch]="comparison.dataType" [ngClass]="'comparison-cell-' + comparison.dataType">
					<div *ngSwitchCase="'status'" class="status-title">
						<div class="comparison-cell status" *ngFor="let value of comparison.data; trackBy: trackByFn">
							<div>
								<status-selector-app
									[typeEntity]="erm.PRODUCT"
									[entity]="value"
									selectSize="l"
									type="button">
								</status-selector-app>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>