
$cell-width: 200px;
$header-height: 258px;

:host {
	display: block;
}

.header-container {
	height: $header-height;
	overflow-x: auto;
	overflow-y: hidden;
}

.body-container {
	height: calc(100% - #{$header-height});
	overflow: auto;
}

.comparison-row {
  width: 100%;
  box-sizing:border-box;
  vertical-align: middle;

  .comparison-row-header {
    .comparison-cell-image {
      margin-bottom: 0;
    }
    .comparison-cell-description {
      margin-bottom: var(--spacing-ms);
    }
    .comparison-cell-text {
      font-size: var(--font-size-m);
      font-weight: 600;
      color: var(--color-txt-strong);
    }
  }

  .comparison-row-content {
    border-bottom: 1px solid var(--color-divider);
    min-height: 33px;
    line-height: 33px;
    .comparison-cell {
    }

    .title {
      width: $cell-width;
      font-size: var(--font-size-m);
      font-weight: 600;
      color: var(--color-secondary-dark);
    }
  }

  .comparison-row-title {
    margin-top: var(--spacing-m);
    .comparison-cell {
      font-size: var(--font-size-l);
      font-weight: 600;
      color: var(--color-txt-strong);
      padding-left: 0px;
    }
  }

  .empty-header-cell {
		width: $cell-width;
		font-size: var(--font-size-m);
		font-weight: 600;
		color: var(--color-secondary-dark);
		text-transform: capitalize;
  }

  .comparison-cell {
    white-space: normal;
    width: $cell-width;
		padding: 5px;
  }

  .image-container {
    width: 175px;
    height: 175px;
  }

  div {
    display: inline-flex;
  }

}

