<div class="category-header">
  <div class="imgCtnr">
    <checkbox-app [checked]="noFieldChecked"
      (check)="checked.emit()"
      (uncheck)="unchecked.emit()"
      (dragstart)="preventDrag($event)">
    </checkbox-app>
  </div>
  <div class="description flexBetween">
    <div class="descriptionTopCtnr" *ngIf="currentSort.sortBy === 'supplier.name'">
      <div class="titleCtnr"><h2>No supplier</h2></div>
      <div class="descriptionCtnr">
        <h3>Product with no supplier defined</h3>
      </div>
    </div>
    <div class="descriptionTopCtnr" *ngIf="currentSort.sortBy === 'category.name'">
      <div class="titleCtnr"><h2>No category</h2></div>
      <div class="descriptionCtnr">
        <h3>Product with no category defined</h3>
      </div>
    </div>
    <div class="descriptionTopCtnr" *ngIf="currentSort.sortBy === 'createdBy.lastName'">
      <div class="titleCtnr"><h2>No user</h2></div>
      <div class="descriptionCtnr">
        <h3>Product with no user defined</h3>
      </div>
    </div>
  </div>
</div>
