<dialog-app>

	<dialog-header-app i18n="dialog header|Add products to project@@productAddToProject_addProject"> Add to project </dialog-header-app>

	<dialog-subtitle-app i18n="dialog subtitle|Select project to add product@@productAddToProject_selectProject">Select projects</dialog-subtitle-app>

	<main *ngIf="projects$ | async as projects" class="scrollable">
		<list-app>
			<list-item-app *ngFor="let project of projects;trackBy: trackByFn" (click)="checkbox.onClick()">
				<div class="flex" (click)="checkbox.onClick()">
					<checkbox-app
						#checkbox
						[size]="14"
						(check)="select(project.id, project)"
						(uncheck)="unselect(project.id)"
						[checked]="selected[project.id]">
					</checkbox-app>
					<div class="flexCenter flexBetween flexGrow" (click)="checkbox.onClick()">
						<span class="name">{{ project.name }}</span>
						<div class="productNumber" >{{ project.productCount }}</div>
					</div>
				</div>

			</list-item-app>
		</list-app>
	</main>

	<dialog-footer-app class="fullWidth flexCenter flexBetween">
		<span class="txt-secondary">{{ products.length }} product{{ products?.length > 1 ? 's' : '' }} selected</span>
		<input [disabled]="numSelected < 1" type="submit" value="Add Now" (click)="submit()" i18n="button|Adding product to projects@@productAddToProject_addNow"/>
	</dialog-footer-app>
</dialog-app>
