<dialog-app>

	<dialog-header-app translate="button.add-to-project"></dialog-header-app>

	<dialog-subtitle-app>{{'header.select-project' | translate}}</dialog-subtitle-app>

	<main *ngIf="projects$ | async as projects" class="scrollable">
		<list-app>
			<list-item-app *ngFor="let project of projects; first as first; trackBy: trackByFn" (click)="checkbox.onClick()">
				<checkbox-app
					#checkbox
					[size]="14"
					[autoFocus]="first"
					(check)="select(project.id, project)"
					(uncheck)="unselect(project.id)"
					[checked]="selected[project.id]"
					(click)="checkbox.onClick()">
				</checkbox-app>
				<div class="flexCenter flexBetween flexGrow">
					<span class="name">{{ project.name }}</span>
					<div class="productNumber" >{{ project.productCount }}</div>
				</div>
			</list-item-app>
		</list-app>
	</main>

	<dialog-footer-app class="fullWidth flexCenter flexBetween">
		<span class="txt-secondary">
			{{ ((products?.length || 0) > 1 ? 'OBJ.product-selected.plural' : 'OBJ.product-selected.singular') | translate: {count: products?.length || 0} }}
		</span>
		<button tabFocusAction [disabled]="numSelected < 1" class="capitalize" (click)="submit()"
			translate="button.add-now"></button>
	</dialog-footer-app>
</dialog-app>
