<!-- Panel preview -->
<preview-panel-app
	cdk-scrollable
	*ngIf="isPreview && (supplier$ | async)"
	[align]="'right'">

	<!-- Banner -->
	<preview-banner-app>
		<preview-top-bar-app
			(closed)="close.emit()"
			(opened)="redirect()">
			<logo-app
				class="mg-right-s"
				size="l"
				[logo]="supplier?.logoImage"
				[type]="erm.SUPPLIER.singular">
			</logo-app>
			<div class="flexColumn ellipsis">
				<span class="color-txt-primary semi-bold fs-l ellipsis">{{ supplier?.name }}</span>
				<div class="flexVAlign dot-separator-txt-secondary">
					<div class="flexVAlign">
						<logo-app
							class="mg-right-xs"
							size="xs"
							[type]="erm.SUPPLIER.singular">
						</logo-app>
						<span class="color-txt-secondary">{{ supplier?.reference }}</span>
					</div>
				</div>
			</div>
		</preview-top-bar-app>
		<preview-carousel-app
			[entity]="supplier"
			[entityMD]="erm.SUPPLIER"
			[images]="supplier?.images"
			objectFit="contain">
		</preview-carousel-app>
	</preview-banner-app>

	<!-- Header -->
	<preview-header-app
		[entity]="supplier"
		[entityMD]="erm.SUPPLIER"
		(update)="update($event, 'name')">

		<preview-header-buttons-app>
			<button class="icon" (click)="openCreateSample()" toolTip [toolTipMessage]="'tooltip.create-sample' | translate">
				<icon-app class="color-txt-secondary" name="sample"></icon-app>
			</button>
			<button class="icon" (click)="openCreateTask()" toolTip [toolTipMessage]="'tooltip.create-task' | translate">
				<icon-app class="color-txt-secondary" name="check-circle"></icon-app>
			</button>
			<button class="icon" (click)="selectThirdTab()" toolTip [toolTipMessage]="'tooltip.create-comment' | translate">
				<icon-app class="color-txt-secondary" name="comments"></icon-app>
			</button>
			<button class="icon" (click)="dialogCommonSrv.openSupplierRequest(null, supplier)" toolTip [toolTipMessage]="'tooltip.contact-supplier' | translate">
				<icon-app class="color-vibrant" name="envelope"></icon-app>
			</button>
		</preview-header-buttons-app>

		<context-menu-item-app
			(click)="archive()"
			translate="button.archive">
		</context-menu-item-app>
		<context-menu-item-warn-app
			(click)="delete(supplier)"
			translate="button.delete">
		</context-menu-item-warn-app>

		<preview-header-subtitle-app>
			<rating-badge-app class="pointer"	[votes]="supplier?.votes" [hasNumber]="true" (click)="selectSecondTab('rating')"></rating-badge-app>
			<div class="txt-btn capitalize" (click)="selectSecondTab('sample')">{{ ((supplier?.samplesLinked?.count || 0) === 1 ? 'OBJ.n-sample.singular' : 'OBJ.n-sample.plural') | translate: {count: (supplier?.samplesLinked?.count || 0)} }}</div>
			<div class="txt-btn capitalize" (click)="selectSecondTab('task')">{{ ((supplier?.tasksLinked?.count || 0) === 1 ? 'OBJ.n-task.singular' : 'OBJ.n-task.plural') | translate: {count: (supplier?.tasksLinked?.count || 0)} }}</div>
			<div class="txt-btn capitalize" (click)="selectThirdTab()">{{ ((supplier?.comments?.length || 0) === 1 ? 'OBJ.n-comment.singular' : 'OBJ.n-comment.plural') | translate: {count: (supplier?.comments?.length || 0)} }}</div>
		</preview-header-subtitle-app>

		<!-- Supplier type badge -->
		<badge-selector-app
			[badge]="erm.SUPPLIER_TYPE"
			[value]="supplier?.supplierType?.name"
			(update)="update($event, 'supplierType')">
		</badge-selector-app>

		<!-- Location badge -->
		<badge-selector-app
			[badge]="erm.LOCATION"
			[value]="getLocationName(supplier)"
			(update)="update($event, 'country')">
		</badge-selector-app>

		<!-- Categories badge -->
		<badge-selector-app
			[badge]="erm.CATEGORY"
			[multiple]="true"
			[value]="supplier?.categories"
			(update)="update($event, 'categories')">
		</badge-selector-app>
	</preview-header-app>

	<!-- Tabs -->
	<preview-tab-app #tab1 (click)="selectFirstTab()"><span translate="title.supplier-info"></span></preview-tab-app>
	<preview-tab-app #tab2 (click)="selectSecondTab()"><span translate="title.activity"></span></preview-tab-app>
	<preview-tab-app #tab3 (click)="selectThirdTab()"><span translate="title.comments"></span></preview-tab-app>


	<!-- Description -->
	<preview-section-app #contentTab1 [title]="'title.description' | translate">
		<input-description-app
			[description]="supplier?.description"
			(update)="update($event, 'description')">
		</input-description-app>
	</preview-section-app>

	<!-- Tags -->
	<preview-section-app #contentTab1 [title]="'title.tags' | translate">
		<input-badge-selector-app
			[value]="supplier?.tags"
			type="tag"
			(change)="update($event, 'tags')">
		</input-badge-selector-app>
	</preview-section-app>

	<!-- Supplier Details -->
	<preview-section-app #contentTab1 [title]="'title.supplier-details' | translate">
		<dynamic-form-app
			[fields]="supplierDescirptor?.descriptor"
			[config]="formConfig"
			[value]="supplier"
			(update)="updateSupplier($event)">
		</dynamic-form-app>
	</preview-section-app>


	<!-- Extended Fields -->
	<preview-section-app #contentTab1 *ngIf="(fieldDefinitions$ | async)?.length" [title]="'title.extended-fields' | translate">
		<extended-form-app
			[definitions]="fieldDefinitions$ | async"
			[config]="formConfig"
			[fields]="supplier?.extendedFields"
			(update)="updateSupplier({extendedFields: $event})">
		</extended-form-app>
	</preview-section-app>

	<!-- Activity -->
	<!-- Owner -->
	<preview-section-app #contentTab2 [title]="'title.supplier-owner' | translate">
		<editable-container-app
			[hasAction]="false"
			[openOnClick]="false"
			(click)="sel?.selector?.openMenu()">
			<editable-display-app>
				<selector-app
					#sel
					[type]="'USER' | erm: 'singular'"
					[width]="320"
					[offsetX]="4"
					(update)="updateSupplier({ assignee: $event })">
					<div *ngIf="supplier?.assignee; else none" class="flex">
						<user-picture-app	class="mg-right-ms" [user]="supplier?.assignee" size="24" fontSize="12" [hasName]="true"></user-picture-app>
					</div>
					<ng-template #none><span class="capitalize" translate="text.none"></span></ng-template>
				</selector-app>
				</editable-display-app>
		</editable-container-app>
	</preview-section-app>

	<!-- Tasks -->
	<preview-section-app #contentTab2 class="action-hover-container-0" [title]="'title.tasks' | translate">
		<preview-section-action-app>
			<div class="mg-left-ms action-hover-item-0 color-primary txt-btn" (click)="openCreateTask()" translate="button.add"></div>
		</preview-section-action-app>
		<task-catalog-app
			[tasks]="supplier?.tasksLinked?.items"
			(taskClicked)="redirect('tasks')"
			(showMore)="redirect('tasks')">
		</task-catalog-app>
	</preview-section-app>

	<!-- Samples -->
	<preview-section-app #contentTab2 class="action-hover-container-0" [title]="'title.samples' | translate">
		<preview-section-action-app>
			<div class="mg-left-ms action-hover-item-0 color-primary txt-btn" (click)="openCreateSample()" translate="button.add"></div>
		</preview-section-action-app>
		<sample-catalog-app
			[samples]="supplier?.samplesLinked?.items"
			(sampleClicked)="redirect('samples')"
			(showMore)="redirect('samples')">
		</sample-catalog-app>
	</preview-section-app>

	<!-- Rating -->
	<preview-section-app #contentTab2 [title]="'title.team-rating' | translate">
		<rating-dashboard-app
			[votes]="supplier?.votes"
			[type]="erm.SUPPLIER.singular"
			(update)="update($event, 'votes')"
			(viewRatings)="dialogCommonSrv.openVoteDetailsDialog($event)">
		</rating-dashboard-app>
	</preview-section-app>

	<!-- About -->
	<preview-section-app #contentTab2 [title]="'title.about-supplier' | translate">
		<div class="mg-top-xs">
			{{ 'OBJ.created-by-on' | translate : { name: (supplier?.createdBy | formatUserName), date: (supplier?.creationDate | date: 'dd MMMM yyyy':'':translate?.currentLang) } }}
			<br>
			{{ 'OBJ.last-updated-by-on' | translate: { name: (supplier?.lastUpdatedBy | formatUserName), date: (supplier?.lastUpdatedDate | date: 'dd MMMM yyyy':'':translate?.currentLang) } }}
		</div>
	</preview-section-app>

	<!-- Comments -->
	<preview-section-app #contentTab3>
		<comment-list-app [comments]="supplier?.comments" (addComment)="selectThirdTab()"></comment-list-app>
	</preview-section-app>

	<preview-comment-app #contentTab3 (added)="addComment($event)"></preview-comment-app>

</preview-panel-app>


<!-- Static -->
<preview-static-app
	*ngIf="!isPreview"
	class="static"
	[hasLogo]="true">

		<!-- Banner -->
		<preview-banner-app>
			<preview-carousel-app
				[entity]="supplier"
				[entityMD]="erm.SUPPLIER"
				[images]="supplier?.images"
				objectFit="cover">
			</preview-carousel-app>
		</preview-banner-app>

		<!-- Header -->
		<preview-header-app
			[entity]="supplier"
			[entityMD]="erm.SUPPLIER"
			(update)="update($event, 'name')">

		<!-- Supplier type badge -->
		<badge-selector-app
			[badge]="erm.SUPPLIER_TYPE"
			[value]="supplier?.supplierType?.name"
			(update)="update($event, 'supplierType')">
		</badge-selector-app>

		<!-- Location badge -->
		<badge-selector-app
			[badge]="erm.LOCATION"
			[value]="getLocationName(supplier)"
			(update)="update($event, 'country')">
		</badge-selector-app>

		<!-- Categories badge -->
		<badge-selector-app
			[badge]="erm.CATEGORY"
			[multiple]="true"
			[value]="supplier?.categories"
			(update)="update($event, 'categories')">
			<divider-app></divider-app>
		</badge-selector-app>
	</preview-header-app>

	<!-- Description -->
	<preview-section-app [title]="'title.description' | translate">
		<input-description-app
			[description]="supplier?.description"
			(update)="update($event, 'description')">
		</input-description-app>
	</preview-section-app>

	<!-- Tags -->
	<preview-section-app [title]="'title.tags' | translate">
		<input-badge-selector-app
			[value]="supplier?.tags"
			type="tag"
			(change)="update($event, 'tags')">
		</input-badge-selector-app>
	</preview-section-app>

	<!-- Supplier Details -->
	<preview-section-app [title]="'title.supplier-details' | translate">
		<dynamic-form-app
			[config]="formConfig"
			[fields]="supplierDescirptor?.descriptor"
			[value]="supplier"
			(update)="updateSupplier($event)">
		</dynamic-form-app>
	</preview-section-app>


	<!-- Extended Fields -->
	<preview-section-app *ngIf="(fieldDefinitions$ | async)?.length" [title]="'title.extended-fields' | translate">
		<extended-form-app
			[definitions]="fieldDefinitions$ | async"
			[fields]="supplier?.extendedFields"
			[config]="formConfig"
			(update)="updateSupplier({extendedFields: $event})">
		</extended-form-app>
	</preview-section-app>

	<!-- Info -->
	<preview-section-app [title]="'title.info' | translate">
		<div class="flexColumn">
			<span class="color-txt-strong">
				{{
					'OBJ.created-by-on' | translate: {
						name: (supplier?.createdBy | formatUserName: true),
						date: (supplier?.creationDate | date: 'dd MMMM yyyy':'':translateService.currentLang)
					}
				}}
			</span>
			<span class="color-txt-strong">
				{{
					'OBJ.last-updated-by-on' | translate: {
						name: (supplier?.lastUpdatedBy | formatUserName: true),
						date: ((supplier?.lastUpdatedDate) | date: 'dd MMMM yyyy':'':translateService.currentLang)
					}
				}}
			</span>
		</div>
	</preview-section-app>
</preview-static-app>
