bread-crumb-app {
	margin: var(--spacing-l);
}

.card-style {
	display: block;
	margin: auto;
	margin-top: var(--spacing-xxxl);
	width: 520px;
	position: relative;
	border: 1px solid var(--color-secondary);
	padding: var(--spacing-l) var(--spacing-l) var(--spacing-l) var(--spacing-l);
	background: white;
	border-radius: var(--border-radius);
}