
<header-details-app
	*ngIf="user$ | async as user"
	[hasBackArrow]="false"
	[elevated]="false">

	<header-details-title-app i18n-title="@@profile">{{ 'My Profile' }}</header-details-title-app>

	<logo-app
		[circle]="true"
		color="primary"
		icon="smile"
		type="primary"
		size="xl"
	></logo-app>

</header-details-app>

<ng-container *ngIf="user$ | async as user">

	<profile-card-app
		class="card-style"
		[user]="user"
		(valueChange)="updateUser($event)"
		(addFile)="addFile($event)"
		(changePswd)="pswdModal()">
	</profile-card-app>

</ng-container>


<!-- Uncomment when Company realm is out -->
<!-- <company-profile-card-app class="card-style"
	[item]="company$ | async"
	[form]="formCompany"
></company-profile-card-app> -->

