
<top-panel-app
	*ngIf="user$ | async as user"
	title="Profile"
	[subtitles]="[user.firstName, 'Settings']"
	[hasAction]="false">
</top-panel-app>

<profile-card-app class="card-style"
	[item]="user$ | async"
	(valueChange)="updateUser($event)"
	(addFile)="addFile($event)"
	(changePswd)="pswdModal()"
></profile-card-app>

<!-- Uncomment when Company realm is out -->
<!-- <company-profile-card-app class="card-style"
	[item]="company$ | async"
	[form]="formCompany"
></company-profile-card-app> -->

