:host {
	display: block;
	box-sizing: border-box;
	padding-bottom: var(--spacing-s);
	border-bottom: 1px solid var(--color-primary-light);
	margin-bottom: var(--spacing-s);
	&.isFullHeight {
		border: none;
		flex: 1 1 100%
  }
}

.title {
	padding: var(--spacing-m) 0 var(--spacing-s) 0;
	font-weight: bold;
	font-size: var(--font-size-s);
	color: var(--color-primary-dark);
	text-transform: capitalize;
}

.content {
	font-size: var(--font-size-m);
	color: var(--color-primary-dark);
	align-items: center;
}
