<div *ngIf="!contacts || contacts.length <= 0" class="empty-contacts">
	<icon-app size="l" name="envelope" fontSet="svg"></icon-app>
	<p>Please add the supplier email address to send the RFQ</p>
</div>
<ng-container *ngIf="contacts">
	<div *ngFor="let contact of contacts; index as i; last as lst" class="mail-container" [class.no-divider]="lst && contacts.length > 3">
		<checkbox-app
		#checkbox
		(check)="onSelectMail.emit([i, contact])"
		(uncheck)="onUnselectMail.emit(i)"
		[checked]="selected.has(i)">
		</checkbox-app>
		<icon-app name="envelope" fontSet="svg"></icon-app>
		<div class="contact-info">
			<label-app>{{contact.email || 'No email'}}</label-app>
			<p>{{contact.name ? contact.name + " - " : ''}}{{contact.jobTitle || 'Unknown'}} </p>
		</div>
	</div>

</ng-container>
