:host {
	display: block;
	background-color: var(--color-secondary-light);
	border: 1px solid var(--color-secondary);
	border-radius: var(border-radius-s);
	height: 226px;
}
icon-app {
	color: var(--color-secondary-dark);
}