<header>
	<nav>
		<a [routerLink]="['activity']" routerLinkActive="selected" i18n="header-link|recent product activity@@Activity">Activity</a>
		<a [routerLink]="['sample']" routerLinkActive="selected" i18n="header-link|product samples@@Sample">Sample</a>
		<a [routerLink]="['tasks']" routerLinkActive="selected" i18n="header-link|product tasks@@Tasks">Tasks</a>
		<a [routerLink]="['notes']" routerLinkActive="selected" i18n="header-link|product notes@@Notes">Notes</a>
		<a [routerLink]="['technical-details']" routerLinkActive="selected" i18n="header-link|product samples@@TechnicalDetails">Technical Details</a>
	</nav>
	<div class="hr2"></div>
</header>

<main class="paddingDefault">
	<router-outlet></router-outlet>
</main>

