article{
	background: var(--color-primary-light);
	color: var(--color-primary-dark);
	border-radius: var(--border-radius);
	margin: var(--spacing-default);
	padding: var(--spacing-s) var(--spacing-default);
	border-radius: 500px;
	display: flex;
	align-items: flex-end;
	icon-app {
		margin-left: var(--spacing-xs);
	}
}
