:host {
	display: block;
}

bread-crumb-app {
	margin: var(--spacing-l);
}

.my-profile {
	font-size: var(--font-size-xxl);
}

.user-name {
	.name, .user-email {
		font-size: var(--font-size-s);
		font-weight: normal;
		color: var(--color-txt-third);
	}
}

.card-style {
	display: block;
	margin: auto;
	margin-top: var(--spacing-xxl);
	width: 592px;
	position: relative;
	padding: var(--spacing-l);
	background: white;
	box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.01);
	border-radius: var(--border-radius);
}