
<header-details-app
	*ngIf="user$ | async as user"
	[hasBackArrow]="false"
	[headerType]="'settings'"
	[hasLogo]="true">

	<logo-app type="user"></logo-app>

	<header-details-title-app>
		<div class="my-profile capitalize">
			{{ 'title.my-profile' | translate }}
		</div>
	</header-details-title-app>

	<header-details-info-app>
		<div class="user-name flexVAlign">
			<span class="name">{{ user | formatUserName: true }} {{ 'title.profile' | translate }}</span>
		</div>
	</header-details-info-app>

</header-details-app>

<ng-container *ngIf="user$ | async as user">

	<profile-card-app
		class="card-style"
		[user]="user"
		(valueChange)="updateUser($event)"
		(addFile)="addFile($event)"
		(changePswd)="pswdModal()">
	</profile-card-app>

</ng-container>



