<context-menu-app>
  <context-menu-trigger-app>
    <button class="secondary flexVAlign sort-1">
        <p *ngIf="currentSort?.sortBy === 'name'" class="flex">Sort By Name
          <ng-container *ngTemplateOutlet="direction"></ng-container>
        </p>
        <p *ngIf="currentSort?.sortBy === 'category.name'" class="flex">Sort By Category
          <ng-container *ngTemplateOutlet="direction"></ng-container>
        </p>
        <p *ngIf="currentSort?.sortBy === 'supplier.name'" class="flex">Sort By Supplier
          <ng-container *ngTemplateOutlet="direction"></ng-container>
        </p>
        <p *ngIf="currentSort?.sortBy === 'price.value'" class="flex">Sort By Price
          <ng-container *ngTemplateOutlet="direction"></ng-container>
        </p>
        <p *ngIf="currentSort?.sortBy === 'minimumOrderQuantity'" class="flex">Sort By MOQ
          <ng-container *ngTemplateOutlet="direction"></ng-container>
        </p>
        <p *ngIf="currentSort?.sortBy === 'favorite'" class="flex">Sort By Favorite
          <ng-container *ngTemplateOutlet="direction"></ng-container>
        </p>
        <p *ngIf="currentSort?.sortBy === 'status.step'" class="flex">Sort By Status
          <ng-container *ngTemplateOutlet="direction"></ng-container>
        </p>
        <p *ngIf="currentSort?.sortBy === 'creationDate'" class="flex">Sort By Created On
          <ng-container *ngTemplateOutlet="direction"></ng-container>
        </p>
        <div><icon-app fontSet="fa" name="caret-down"></icon-app></div>
    </button>
  </context-menu-trigger-app>
  <context-menu-item-app (click)="sortFromMenu.emit('name')" class="menu-item">
    Name
    <ng-container *ngIf="currentSort?.sortBy === 'name'">
      <ng-container *ngTemplateOutlet="direction"></ng-container>
    </ng-container>
  </context-menu-item-app>
  <context-menu-item-app (click)="sortFromMenu.emit('category.name')" class="menu-item">
    Category
    <ng-container *ngIf="currentSort?.sortBy === 'category.name'">
      <ng-container *ngTemplateOutlet="direction"></ng-container>
    </ng-container>
  </context-menu-item-app>
  <context-menu-item-app (click)="sortFromMenu.emit('supplier.name')" class="menu-item">
    Supplier
    <ng-container *ngIf="currentSort?.sortBy === 'supplier.name'">
      <ng-container *ngTemplateOutlet="direction"></ng-container>
    </ng-container>
  </context-menu-item-app>
  <context-menu-item-app (click)="sortFromMenu.emit('price.value')" class="menu-item">
    Price
    <ng-container *ngIf="currentSort?.sortBy === 'price.value'">
      <ng-container *ngTemplateOutlet="direction"></ng-container>
    </ng-container>
  </context-menu-item-app>
  <context-menu-item-app (click)="sortFromMenu.emit('minimumOrderQuantity')" class="menu-item">
    MOQ
    <ng-container *ngIf="currentSort?.sortBy === 'minimumOrderQuantity'">
      <ng-container *ngTemplateOutlet="direction"></ng-container>
    </ng-container>
  </context-menu-item-app>
  <context-menu-item-app (click)="sortFromMenu.emit('favorite')" class="menu-item">
    Favorite
    <ng-container *ngIf="currentSort?.sortBy === 'favorite'">
      <ng-container *ngTemplateOutlet="direction"></ng-container>
    </ng-container>
  </context-menu-item-app>
  <context-menu-item-app (click)="sortFromMenu.emit('creationDate')" class="menu-item">
    Created On
    <ng-container *ngIf="currentSort?.sortBy === 'creationDate'">
      <ng-container *ngTemplateOutlet="direction"></ng-container>
    </ng-container>
  </context-menu-item-app>
</context-menu-app>

<ng-template #direction>
  <ng-container>
		<icon-app
			*ngIf="currentSort?.descending; else upArrow;"
			class="sortIcon fs-xs" fontSet="fa"	name="angle-down">
		</icon-app>
    <ng-template #upArrow>
      <icon-app  class="sortIcon fs-xs" fontSet="fa" name="angle-up"></icon-app>
    </ng-template>
  </ng-container>
</ng-template>
