<!-- (suppliers, events, etc) same display for basic entities  -->
<ng-container *ngFor="let type of filterTypes">

  <ng-container *ngIf="byType.get(type).size === 0; else list">
    <label>
      {{ type }}
    </label>

    <button
      (click)="typeClicked.emit(type)">
      Filter {{ type }}
    </button>

  </ng-container>

    <!-- if there is a filter the button doesn't appear and we display a list of filters -->
    <ng-template #list>
      <div class="flexBetween">
        <label>
          {{ type }}
        </label>
        <span class="edit pointer"
          (click)="typeClicked.emit(type)"
          i18n="span|Edit filter selection@@global_edit">
          Edit
        </span>
        <span class="clear pointer"
          (click)="onClearType(type)"
          i18n="span|Clear filter selection@@global_clear">
          Clear
        </span>
      </div>

      <div class="flexColumn">
        <checkbox-app
          *ngFor="let filter of byType.get(type).values()"
          [checked]="true"
          (uncheck)="removeFilter(filter)">
          {{ getDisplayName(filter, type) }}
        </checkbox-app>
      </div>

    </ng-template>

</ng-container>