<!-- top panel -->
<header-list-app
	[title]="'title.my-products' | translate"
	logoTypename="Product"
	info="The product database"
	[buttonName]="'button.create-product' | translate"
	(buttonClick)="listHelper.create()">
</header-list-app>

<controller-table-app>
	<!-- filters -->
	<controller-table-quick-filters-app></controller-table-quick-filters-app>
	<!-- actions -->
	<controller-table-quick-actions-app
		[columns]="columns"
		[tableConfig]="tableConfig">
	</controller-table-quick-actions-app>
	<!-- switcher -->
	<controller-table-view-switcher-app></controller-table-view-switcher-app>
</controller-table-app>

<products-table-app
	[rows]="listHelper.filteredItems$ | async"
	[pending]="listHelper.pending$ | async"
	[selection]="selectionSrv.selection$ | async"
	(open)="viewSrv.goToDetails($event)"
	(createClick)="listHelper.create()"
	(update)="listHelper.update($event)"
	(previewClick)="viewSrv.openPreview($event)"
	(select)="selectionSrv.selectOne($event)"
	(selectAll)="selectionSrv.selectAll($event)"
	(unselect)="selectionSrv.unselectOne($event)"
	(delete)="listHelper.delete($event)">
</products-table-app>

<product-selection-bar-app
	[isShown]="(selectionSrv.selection$ | async).size"
	[selection]="selectionSrv.selection$ | async"
	[selectableItems]="listHelper.filteredItems$ | async"
	(addProject)="addProject()"
	(export)="dialogCommonSrv.openExportDialog('Product', selectionSrv.getSelectedValues())"
	(createRequest)="dialogCommonSrv.openSupplierRequest(selectionSrv.getSelectedValues())"
	(requestTeamFeedback)="dialogCommonSrv.openRequestFeedbackDialog(selectionSrv.getSelectedValues())"
	(compareProducts)="dialogCommonSrv.openCompareProductDialog(selectionSrv.getSelectedValues())"
	(massEdit)="dialogCommonSrv.openMassEditDialog(selectionSrv.getSelectedValues())"
	(deleted)="listHelper.deleteSelected()"
	(selectAll)="selectionSrv.selectAll()"
	(unselectAll)="selectionSrv.unselectAll()">
</product-selection-bar-app>

<product-preview-app
	*ngIf="viewSrv.previewOpen"
	[product]="viewSrv.previewed"
	(close)="viewSrv.closePreview()">
</product-preview-app>

<side-panel-app *ngIf="viewSrv.filterPanelOpen">
	<filters-app
		[filterTypes]="filterTypes"
		(clickOutside)="viewSrv.closeFilterPanel()"
		(close)="viewSrv.closeFilterPanel()">
	</filters-app>
</side-panel-app>
