<header-details-app
	[hasBackArrow]="false"
	[headerType]="'settings'">

	<header-details-title-app>
		<span class="my-company capitalize">
			{{ 'title.my-company' | translate }}
		</span>
	</header-details-title-app>

	<logo-app color="primary" icon="company"></logo-app>

	<header-details-info-app>
		<div class="dot-separator-txt-third company-info" *ngIf="companyName">
			<span>{{companyName}}</span>
			<span>Managed by {{ owner | formatUserName: true }}</span>
		</div>
	</header-details-info-app>

	<header-nav-app>
		<header-nav-item-app
			link="/settings/company/settings"
			icon="company"
			[name]="'nav.company-info' | translate">
		</header-nav-item-app>
	</header-nav-app>

	<header-details-actions-app>
		<button class="capitalize" (click)="redirectNewTeamScreen()">{{'button.create-team' | translate}}</button>
	</header-details-actions-app>

</header-details-app>

<router-outlet></router-outlet>
