<div (clickOutside)="closePanel()">
	<!-- clickoutside should be above the click to open it for this to work -->

	<input-app [value]="getNameFromValue(value)" [readonly]="true" 
		(click)="showPanel()"></input-app>

	<div class="list z-2" *ngIf="panelVisible">		
		<input #inp placeholder="Search" (keyup)="onKeyUp(inp.value)" [formControl]="search">

		<input-radio-app 
		*ngIf="!multi"
			(update)="onUpdate($event)" 
			[choices]="filteredChoices"
			[value]="value"></input-radio-app>
		<input-checkbox-app 
			*ngIf="multi"
				(update)="onUpdate($event)" 
				[choices]="filteredChoices"
				[value]="value"
				></input-checkbox-app>
	</div>	
</div>
