
<!-- top panel -->
<header-list-app
	logoTypename="Task"
	logoColor="secondary"
	info="Task management"
	[title]="'title.my-tasks' | translate"
	[buttonName]="'button.create-task' | translate"
	(buttonClick)="listHelper.create()">
</header-list-app>

<controller-table-app [total]="listHelper.total$ | async">
	<controller-table-quick-filters-app></controller-table-quick-filters-app>
	<controller-table-quick-actions-app
		[columns]="columns"
		[tableConfig]="tableConfig">
	</controller-table-quick-actions-app>
</controller-table-app>

<task-table-app
	[rows]="listHelper.filteredItems$ | async"
	[selection]="selectionSrv.selection$ | async"
	[pending]="listHelper.pending"
	(update)="listHelper.update($event)"
	(select)="selectionSrv.selectOne($event, true)"
	(unselect)="selectionSrv.unselectOne($event, true)"
	(selectAll)="selectionSrv.selectAll($event, true)"
	(unselectAll)="selectionSrv.unselectAll()"
	(open)="viewSrv.goToDetails($event)"
	(previewClick)="viewSrv.openPreview($event)"
	(showItemsPerPage)="showItemsPerPage($event)"
	(delete)="listHelper.delete($event)"
	(createClick)="listHelper.create()">
</task-table-app>

<task-selection-bar-app
	[isShown]="(selectionSrv.selection$ | async)?.size > 0"
	[selection]="selectionSrv.selection$ | async"
	[selectableItems]="listHelper.filteredItems$ | async"
	(close)="selectionSrv.unselectAll()"
	(deleteSelected)="listHelper.deleteSelected(true)"
	(selectAll)="selectionSrv.selectAll($event)"
	(unselectAll)="selectionSrv.unselectAll()">
</task-selection-bar-app>

<side-panel-app *ngIf="viewSrv.filterPanelOpen">
	<filters-app
		[filterTypes]="filterTypes"
		(clickOutside)="viewSrv.closeFilterPanel()"
		(close)="viewSrv.closeFilterPanel()">
	</filters-app>
</side-panel-app>

<task-preview-app
	*ngIf="viewSrv.previewOpen"
	[task]="viewSrv.previewed"
	(close)="viewSrv.closePreview()">
</task-preview-app>
