
<!-- top panel -->
<header-list-app
	[title]="'title.my-tasks' | translate"
	[buttonName]="'button.create-task' | translate"
	(buttonClick)="dialogCommonSrv.openCreationTaskDlg()">
</header-list-app>

<controller-list-app
	#controller
	[hasFilter]="false"
	[hasSwitch]="false"
	[hasArchived]="false"
	[hasCompletedTask]="true"
	[hasTaskCreatedByMeOnly]="true"
	[hasExport]="false"
	[view]="listSrv.view"
	[count]="listSrv.count$ | async"
	[entityType]="'TASK'"
	searchType="short"
	[searchValue]="listSrv.searchValue"
	[ngStyle]="tableWidth && {'width': getSubPanelWidth()}"
	(search)="listSrv.search($event)"
	(clearFilters)="listSrv.filterList.resetAll()"
	(showAssigned)="listSrv.filterByAssignee(true)"
	(hideAssigned)="listSrv.filterByAssignee(false)"
	(showTasksCreatedByMeOnly)="showTasksCreatedByMeOnly()"
	(hideTasksCreatedByMeOnly)="hideTasksCreatedByMeOnly()"
	(showTasksCompleted)="listSrv.filterByDone(false)"
	(hideTasksCompleted)="listSrv.filterByDone(true)"
	(export)="dialogCommonSrv.openExportDialog()"
	(showFilters)="listSrv.openFilterPanel()"
	(viewChange)="onViewChange($event)">
</controller-list-app>

<task-table-app
	[rows]="listSrv.items$ | async"
	[selection]="listSrv.selection$ | async"
	[pending]="listSrv.pending"
	[count]="listSrv.count$ | async"
	[currentSort]="listSrv.currentSort"
	[currentPage]="listSrv.currentPage"
	(update)="listSrv.update($event)"
	(goToPage)="listSrv.loadPage($event)"
	(sort)="listSrv.sort($event)"
	(select)="listSrv.selectOne($event, true)"
	(unselect)="listSrv.unselectOne($event, true)"
	(selectAll)="listSrv.selectAll($event, true)"
	(unselectAll)="listSrv.unselectAll()"
	(open)="listSrv.goToDetails($event)"
	(favorited)="listSrv.onItemFavorited($event)"
	(unfavorited)="listSrv.onItemUnfavorited($event)"
	(previewClick)="listSrv.openPreview($event)"
	(showItemsPerPage)="showItemsPerPage($event)"
	(delete)="listSrv.deleteOne($event, true)"
	(createClick)="dialogCommonSrv.openCreationTaskDlg()">
</task-table-app>

<task-selection-bar-app
	[isShown]="(listSrv.selection$ | async)?.size > 0"
	[selection]="listSrv.selection$ | async"
	[count]="listSrv.count$ | async"
	(close)="listSrv.unselectAll()"
	(deleteSelected)="listSrv.deleteSelected(true)"
	(statusUpdated)="this.listSrv.updateSelected({status: $event})"
	(onFavorite)="listSrv.onFavoriteAllSelected()"
	(onUnfavorite)="listSrv.onUnfavoriteAllSelected()">
</task-selection-bar-app>

<filters-app
	[filterList]="listSrv.filterList"
	[filterTypes]="filterTypes"
	(clickOutside)="listSrv.closeFilterPanel()"
	(close)="listSrv.closeFilterPanel()"
	*ngIf="listSrv.filterPanelOpen">
</filters-app>

<task-preview-app
	*ngIf="listSrv.previewOpen"
	[task]="listSrv.previewed"
	(close)="listSrv.closePreview()">
</task-preview-app>
