:host {
	display: block;
}

.cylinder {
	margin: auto;
	border-radius: 500px;
	height: 16px;
	width: 270px;
	overflow: hidden;
	.value {
		height: 100%;
		border-top-right-radius: 500px;
		border-bottom-right-radius: 500px;

		transition: width 0.5s;
	}
}