:host {
	display: block;
}

.cylinder {
	margin: auto;
	border-radius: 500px;
	height: 16px;
	width: 270px;
	// background: var(--color-secondary);
	overflow: hidden;
	.value {
    background: var(--color-success);
    height: 100%;
	}
}