<a [routerLink]="['/dashboard']">
  <img src="assets/img/favicon.svg" class="logo"/>
</a>

<nav>
  <a class="first-uppercase" [routerLink]="['/dashboard']" routerLinkActive="selected" i18n="@@home">home</a>

  <a class="first-uppercase" [routerLink]="['/project']" routerLinkActive="selected" i18n="@@projects">projects</a>

  <a class="first-uppercase" [routerLink]="['/product']" routerLinkActive="selected" i18n="@@products">products</a>

  <a class="first-uppercase" [routerLink]="['/supplier']" routerLinkActive="selected" i18n="@@suppliers">suppliers</a>

	<a class="first-uppercase" [routerLink]="['/workspace']" routerLinkActive="selected" i18n="@@workspace">workspace</a>

	<a class="request-container" [routerLink]="['/requests']" routerLinkActive="selected" i18n="@@requests">
		requests
		<notification-badge-app *ngIf="(requestCount$ | async) as reqCount"> {{ reqCount }} </notification-badge-app>
	</a>

  <!-- we don't want those links in production... -->
  <a
    *ngIf="!isProd"
    [routerLink]="['/component-library']"
    routerLinkActive="selected">
    Component Library
  </a>

  <a *ngIf="!isProd"
    [routerLink]="['/test']"
    routerLinkActive="selected">
    Test Page
  </a>

</nav>

<div class="flexCenter right">
	<!-- Let's move this in a component, for the love of god Thierry... -->
  <search-autocomplete-app #searchAutocomplete [xPosition]="0" [yPosition]="35"
                          [width]="400" [closeOnDisplay]="true"
                          (close)="searchBar.shrinkSearch()">
    <search-autocomplete-item-app *ngFor="let result of (searchResults$ | async);trackBy: trackByFn">
      <search-autocomplete-item-content-app
        *ngIf="result.type === 'product'"
        [type]="result.type"
        [selectable]="false"
        [status]="result?.status?.status" [title]="result.name" [subtitle]="result.supplier?.name"
        [image]="result.images[0]"
        [link]="'/product/' + result.id">
      </search-autocomplete-item-content-app>
      <search-autocomplete-item-content-app
        *ngIf="result.type === 'supplier'"
        [type]="result.type"
        [selectable]="false"
        [status]="result?.status?.status" [title]="result.name" [subtitle]="supplierSubtitle(result)"
        [image]="result.images[0]"
        [link]="'/supplier/' + result.id ">
      </search-autocomplete-item-content-app>
    </search-autocomplete-item-app>
  </search-autocomplete-app>
  <search-bar-animated-app #searchBar [disableClickOutside]="true" [hasBorder]="false"
                          [ngClass]="{ expanded: searchBarExpanded }"
                          (searchStateChanged)="onSearchBarStateChanged($event)">
    <input inputApp class="searchInput" restrictSpecial [restrictArrows]="true" type="text" (input)="triggerSearch()" [formControl]="searchControl" placeholder="Search Products, Suppliers..."/>
	</search-bar-animated-app>
	<!-- <notif-app></notif-app> -->
	<!-- <div class="flex request-container" [routerLink]="['/request']" routerLinkActive="selected">
		<icon-app class="request-icon" name="comments"></icon-app>
	</div> -->
  <div class="divider"></div>
	<user-panel-app [user]="user$ | async" [team]="team$ | async" (logout)="logout()"></user-panel-app>
</div>
