<a [routerLink]="['/dashboard']">
  <img src="assets/img/favicon.svg" class="logo"/>
</a>

<nav>
  <a class="first-uppercase" [routerLink]="['/dashboard']" routerLinkActive="selected" i18n="@@home">home</a>

  <a class="first-uppercase" [routerLink]="['/project']" routerLinkActive="selected" i18n="@@projects">projects</a>

  <a class="first-uppercase" [routerLink]="['/product']" routerLinkActive="selected" i18n="@@products">products</a>

  <a class="first-uppercase" [routerLink]="['/supplier']" routerLinkActive="selected" i18n="@@suppliers">suppliers</a>

	<a class="first-uppercase" [routerLink]="['/workspace']" routerLinkActive="selected" i18n="@@workspace">workspace</a>

	<a [routerLink]="['/request']" routerLinkActive="selected">
		<div class="first-uppercase" notifBadge [badge]="(requestCount$ | async) > 0 ? (requestCount$ | async) : null" i18n="@@requests">requests</div>
	</a>

  <!-- we don't want those links in production... -->
  <a
    *ngIf="!isProd"
    [routerLink]="['/component-library']"
    routerLinkActive="selected">
    Component Library
  </a>

  <a *ngIf="!isProd"
    [routerLink]="['/test']"
    routerLinkActive="selected">
    Test Page
  </a>

</nav>

<div class="flexCenter right">
	<!-- Let's move this in a component, for the love of god Thierry... -->
	<header-search-app></header-search-app>
  <!-- <notif-app></notif-app> -->
  <div class="divider"></div>
	<user-panel-app [user]="user$ | async" [team]="team$ | async" (logout)="logout()"></user-panel-app>
</div>
