.title {
	color: var(--legacy-color-primary);
	font-family: var(--font-title);
	font-weight: normal;
	font-size: var(--font-size-s);
}

.cell {
	border-bottom: 1px solid var(--legacy-color-secondary);
	padding: 7px 0;
	.label {
		font-weight: 600;
		color: var(--legacy-color-secondary-dark);
	}
}