:host {
	display: flex;
}

button {
	display: inline-block;
	&:not(:last-child) {
		margin-right: var(--spacing-ms);
	}
}

.rounded {
	min-width: var(--spacing-xl);
	border-radius: var(--spacing-m);
	height: var(--spacing-xl);
	font-size: var(--font-size-s);
	padding: 0;
}

.share,	.like {
	background-color: var(--color-secondary);
	color: var(--color-black);
}

user-picture-app {
	display: inline-block;
}
user-picture-app {
	vertical-align: middle;
}