
<!-- Drop  -->
<div (fileDrop)="onFileDrop($event)">
	<h3>File Drop:</h3>
	<br>
	Drop on me
</div>
<br/>

 {{ dropEvent | json }}

 <hr/>

<!-- Selection -->
 <h3>File Selection</h3>

 <input type="file" (fileSelect)="onFileSelect($event)"/>

 <br/>

 {{ selectEvent | json }}

 <hr/>

 notes:
 <ul>
	 <li>all the images added will be pending since we are not saving those on the backend</li>
	 <li>When a preview is clicked we receive the event with the File / image clicked we can use that event to display
		 a carousel or whatever
	 </li>
	 <li> file and image input are the same but with different transclusion</li>
	 <li> to create a new AppImage, instead of using new AppImage, AppImage.newInstance() should be used</li>
 </ul>
<!-- File Input  -->
<input-file-app (fileAdded)="onFileAdded($event, 'files1')" label="Files">
	<file-preview-app [files]="files1"></file-preview-app>
</input-file-app>

<br> <hr>
<!-- Image input  -->

<input-file-app (fileAdded)="onImgAdded($event, 'files2')" type="image" label="Images">
	<img-preview-app [images]="files2"></img-preview-app>
</input-file-app>
<br><hr>

<!-- FileInputEntity  -->
File Input Entity:

<ng-container *ngIf="target$ | async as target">
	<input-file-entity-app label="file input entity"></input-file-entity-app>

	Same as file entity, but we just need to pass a target to it and
	everything is done in the background.

<br><hr>
	<!-- Image Input entity  -->

	<input-image-entity-app label="img input entity"></input-image-entity-app>
</ng-container>

<br><br><br><br><br><br><br>