
<header-list-app
	logoTypename="Project"
	logoColor="primary"
	info="The projects database"
	[title]="'title.projects' | translate"
  [buttonName]="'button.create-project' | translate"
	(buttonClick)="create()">
</header-list-app>

<controller-table-app>
	<controller-table-quick-filters-app [quickFilters]="['assignee']"></controller-table-quick-filters-app>
	<controller-table-quick-actions-app></controller-table-quick-actions-app>
</controller-table-app>

<projects-table-app
	[rows]="items$ | async"
	[selection]="selectionSrv.selection$ | async"
	[pending]="listHelper.pending$ | async"
	(select)="selectionSrv.selectOne($event, true)"
	(unselect)="selectionSrv.unselectOne($event, true)"
	(selectAll)="selectionSrv.selectAll($event, true)"
	(unselectAll)="selectionSrv.unselectAll()"
	(createClick)="create()"
	(update)="listHelper.update($event)"
	(delete)="listHelper.delete($event)">
</projects-table-app>

<project-selection-bar-app
	[isShown]="(selectionSrv.selection$ | async).size > 0"
	[selection]="selectionSrv.selection$ | async"
	[selectableItems]="listHelper.items$ | async"
	(close)="selectionSrv.unselectAll()"
	(deleteSelected)="listHelper.deleteSelected()"
	(selectAll)="selectionSrv.selectAll($event)"
	(unselectAll)="selectionSrv.unselectAll()">
</project-selection-bar-app>

<!-- 

	<side-panel-app *ngIf="viewSrv.filterPanelOpen">
		<filters-app
			*ngIf="viewSrv.filterPanelOpen"
			[filterList]="filterSrv.filterList"
			[filterTypes]="filterTypes"
			(clickOutside)="viewSrv.closeFilterPanel()">
		</filters-app>
	</side-panel-app> -->