
<header-list-app
	logoName="project"
	logoColor="primary"
	info="The projects database"
	[title]="'title.projects' | translate"
  [buttonName]="'button.create-project' | translate"
	(buttonClick)="listSrv.create()">
</header-list-app>

<controller-table-app>
	<controller-table-quick-filters-app
		[quickFilters]="['assignee']">
	</controller-table-quick-filters-app>
	<controller-table-quick-actions-app
		[hasExport]="true"
		[columns]="columns"
		[tableConfig]="tableConfig">
	</controller-table-quick-actions-app>
</controller-table-app>

<ng-container *ngIf="listSrv.isListening">

  <projects-table-app
		[selection]="selectionSrv.selection$ | async"
		[rows]="listSrv.items$ | async"
		[pending]="listSrv.pending"
		[isFiltering]="filterSrv.isFiltering"
		[count]="listSrv.count$ | async"
		[currentSort]="listSrv.currentSort"
		[currentPage]="listSrv.currentPage"
		(goToPage)="listSrv.loadPage($event)"
    (select)="selectionSrv.selectOne($event, true)"
    (unselect)="selectionSrv.unselectOne($event, true)"
    (selectAll)="selectionSrv.selectAll($event, true)"
    (unselectAll)="selectionSrv.unselectAll()"
		(sort)="listSrv.sort($event)"
		(createClick)="listSrv.create()"
		(showItemsPerPage)="showItemsPerPage($event)"
		(delete)="listSrv.deleteOne($event)"
		(update)="listSrv.update($event)">
	</projects-table-app>

	<project-selection-bar-app
		[isShown]="(selectionSrv.selection$ | async).size > 0"
		[selection]="selectionSrv.selection$ | async"
		[selectableItems]="listSrv.items$ | async"
		(close)="selectionSrv.unselectAll()"
		(deleteSelected)="listSrv.deleteSelected()"
		(selectAll)="selectionSrv.selectAll($event)"
		(unselectAll)="selectionSrv.unselectAll()">
	</project-selection-bar-app>

	<side-panel-app *ngIf="viewSrv.filterPanelOpen">
		<filters-app
			*ngIf="viewSrv.filterPanelOpen"
			[filterList]="filterSrv.filterList"
			[filterTypes]="filterTypes"
			(clickOutside)="viewSrv.closeFilterPanel()">
		</filters-app>
	</side-panel-app>

</ng-container>
