<div class="header flex">
	<!-- div added for the cell without border -->
	<div class="spacer mg-s"></div>
	<div class="flex flexGrow">
		<div class="w-5"></div>
		<div class="w-5 capitalize" translate="text.step"></div>
		<div class="w-40 capitalize" translate="text.name"></div>
		<div class="w-20 capitalize" translate="text.cateogry"></div>
		<div class="w-20 capitalize" translate="text.final-step"></div>
		<div class="w-10"></div>
	</div>

</div>

<div class="list" cdkDropList (cdkDropListDropped)="onDrop($event)">
	<div class="box" *ngFor="let status of statuses; let last = last; trackBy: trackByFn" cdkDrag [cdkDragDisabled]="status?.step === 0" >
		<!-- placeholder -->
		<div class="bg-primary custom-placeholder" *cdkDragPlaceholder></div>
		<!-- no border -->
		<div class="spacer mg-s"></div>

		<div class="flex flexGrow sub-cell" [ngClass]="{ 'with-border': !last }">
			<!-- handle -->
			<div class="w-5 cell">
				<icon-app *ngIf="status?.step !== 0" cdkDragHandle class="handle" name="grip-vertical"></icon-app>
			</div>
			<!-- step -->
			<div class="w-5 cell">{{ status?.step }}</div>
			<!-- name -->
			<div class="w-40 cell">
				<editable-container-app
					class="pointer"
					#editable
					[openOnClick]="status?.step !== 0"
					(opened)="inp.focus()" (closed)="onEditableClose($event, inp.value, status)">
					<editable-display-app [ngClass]="{ 'no-hover': status.step == 0 }">
						{{ 'text.' + status.name | translate }}
						<button *ngIf="status?.step !== 0" class="ugly-btn" translate="button.rename"></button>
					</editable-display-app>
					<input #inp inputApp type="text" [value]="status?.name" (keyup.enter)="editable.close()"/>
				</editable-container-app>
			</div>
			<!-- category -->
			<div class="w-20 cell">
				<context-menu-app *ngIf="status.step !== 0; else zeroStep">
					<context-menu-trigger-app>
						<div class="flexBetween badge" [ngClass]="statusUtils.getStatusColor(status)">
							<div class="flexCenter full-width">	{{ '_user-defined.statusCategory.' + status?.category | translate }}	</div>
							<div> <icon-app name="caret-down"></icon-app> </div>
						</div>
					</context-menu-trigger-app>
					<context-menu-item-app *ngFor="let category of categories; trackBy: trackByCategoryFn" (click)="update.emit([{ id: status.id, category: category.name }])">
						{{ '_user-defined.statusCategory.' + category?.name | translate }}
					</context-menu-item-app>
				</context-menu-app>
				<ng-template #zeroStep>
					<div class="flexCenter badge" [ngClass]="statusUtils.getStatusColor(status)">
						{{ '_user-defined.statusCategory.' + status?.category | translate }}
					</div>
				</ng-template>
			</div>
			<!-- final -->
			<div class="w-20 cell">
				<!-- when model is changed -->
				<!-- <checkbox-app *ngIf="status.step !== 0" [checked]="status.final"></checkbox-app> -->
				<checkbox-app *ngIf="status.step !== 0"></checkbox-app>
			</div>
			<!-- preview -->
			<div class="w-10 cell">
				<button *ngIf="status.step !== 0" class="ugly-btn capitalize" (click)="delete.emit(status.id)" translate="button.delete-status"></button>
			</div>
		</div>
	</div>
</div>