:host {
	display: flex;
	height: 37px;
	cursor: pointer;

	&.active, &:hover {
		background-color: var(--legacy-color-primary);
		color: #fff;
	}
}

user-picture-app {
	margin-right: var(--spacing-ms);
}