<div
	class="cntr"
	[ngClass]="{
		'task-done': status === enumTaskStatus.DONE,
		'task-overdue': status === enumTaskStatus.OVERDUE,
		'task-pending': status === enumTaskStatus.PENDING
	}">

	<button
		*ngIf="status !== enumTaskStatus.DONE"
		class="task-mark"
		[ngClass]="status === enumTaskStatus.PENDING ? 'secondary-dark' : 'secondary' "
		(click)="update.emit(true)"
		translate="button.mark-done">
	</button>

	<div class="task-info">
		<icon-app name="task"></icon-app>
		<div class="info first-uppercase">
			<ng-container *ngIf="status === enumTaskStatus.OVERDUE; else notOverdued">
				{{ ('header.status' | translate) + ' - ' }}
			</ng-container>
			<ng-template #notOverdued>
				{{ ('header.task' | translate) + ' ' + ('header.status' | translate) }}
			</ng-template>
			{{ task?.dueDate | date: 'dd MM yyyy' || ''}}
		</div>
	</div>

</div>