<div class="flexCenter" (clickOutside)="shrinkSearch()">
	<!-- grower will push content to the right -->
	<div class="grower"></div>

	<icon-app [fa]="true" name="times" size="l"
		class="pointer"
		*ngIf="searchstate === 'expanded'" (click)="shrinkSearch()"></icon-app>

	<icon-app [fa]="true" *ngIf="searchstate !== 'expanded'" name="search" size="l"
		class="pointer"
		(click)="expandSearch()" color="primary-dark"></icon-app>


	<div class="input-wrapper flex {{ border ? 'border' : ''}}" [@searchAnimation]="searchstate">
		<ng-content select="[inputApp]"></ng-content>
	</div>

</div>

