<filtered-list-page-app [filterGroupName]="filterGroupName" [pending]="pending">

	<div class="filters">
		<filter-list-app class="filters" 
			[filterGroupName]="filterGroupName"
			[targets]="targets"></filter-list-app>
	</div>

	<div class="list-view">
		<ng-container *ngIf="(events$ | async) as events">
					
			list
			<div *ngFor="let id of events.ids">
				{{ events.byId[id] | json }}
			</div>
		</ng-container>
	</div>

	<div class="card-view">
		<ng-container *ngIf="(events$ | async) as events">								
			cards
			<div class="card" *ngFor="let id of events.ids">
					{{ events.byId[id] | json }}
			</div>
		</ng-container>
	</div>
	
</filtered-list-page-app>