
<card-app padding="ms">

	<card-title-app class="ms" translate="header.contacts"></card-title-app>

	<ul *ngIf="contacts?.length > 0; else noContact">
		<supplier-contact-app
			*ngFor="let contact of contacts; let last = last;trackBy: trackByFn"
			[border]="!last"
			[contact]="contact"
			(edit)="openContactDlg(contact)"
			(delete)="deleteContact(contact)">
		</supplier-contact-app>
	</ul>

	<ng-template #noContact>
		<div class="flexColumn flexCenter empty">
			<img [src]="defaultImg" class="pointer" (click)="openContactDlg()"/>
			<span translate="text.no-contact-for-supplier"></span>
		</div>
	</ng-template>

	<card-footer-app>
		<button (click)="openContactDlg()"
			translate="button.new-contact">
		</button>
	</card-footer-app>

</card-app>


