
<ng-container *ngIf="votes.total > 0">
	<div class="detailsBtn pointer" *ngIf="!detailsShown" (click)="showDetails()" i18n>
		view details
	</div>

	<div class="detailsBtn pointer" *ngIf="detailsShown" (click)="hideDetails()" i18n>
		hide details
	</div>

	<div class="details" *ngIf="detailsShown">
		<ng-container *ngIf="votes.positive.length > 0">
			<h5 i18n="positive vote">Likes</h5>
			<div>
				<!-- <user-picture-with-name-app
					[user]="teamMembers.byId[vote.userId]"
					*ngFor="let vote of votes.positive">
					<time>{{ vote.creationDate | timeAgo }}</time>
				</user-picture-with-name-app> -->
			</div>
		</ng-container>

		<ng-container *ngIf="votes.neutral.length > 0">
			<h5 i18n="neutral vote">Neutral</h5>
			<div>
				<user-picture-with-name-app
					[user]="teamMembers.byId[vote.userId]"
					*ngFor="let vote of votes.neutral">
					<time>{{ vote.creationDate | timeAgo }}</time>
				</user-picture-with-name-app>
			</div>
		</ng-container>

		<ng-container *ngIf="votes.negative.length > 0">
			<h5 i18n="negative vote">Dislikes</h5>
			<div>
				<user-picture-with-name-app
					[user]="teamMembers.byId[vote.userId]"
					*ngFor="let vote of votes.negative">
					<small>{{ vote.creationDate | timeAgo }}</small>
				</user-picture-with-name-app>
			</div>
		</ng-container>

	</div>
</ng-container>