<div class="col1 flexColumn">

	<!-- type -->
	<div class="row">
		<icon-app fontSet="fa" name="question"></icon-app>
		<span class="value">{{ supplier?.supplierType || 'Supplier' }}</span>
	</div>

	<!-- address -->
	<div class="row" *ngIf="supplier.address">
		<icon-app fontSet="fa" name="map-marker-alt"></icon-app>
		<span class="value">{{ supplier.address }}</span>
	</div>

	<!-- category -->
	<div class="row" *ngIf="supplier.categories.length > 0">
		<span *ngFor="let cat of supplier.categories">{{ cat.name }}</span>
	</div>

	<!-- tags -->
	<div class="row" *ngIf="supplier.tags.length > 0">
		<icon-app fontSet="fa" name="tag"></icon-app>
		<span *ngFor="let tag of supplier.tags">{{ tag.name }}</span>
	</div>
</div>
<div class="col2 flexColumn">

	<!-- phone -->
	<div class="row" *ngIf="supplier.officePhone">
		<icon-app fontSet="fa" name="phone"></icon-app>
		<span class="value">
			<a href="tel:{{ supplier?.officePhone }}">{{ supplier?.officePhone }}</a>
		</span>
	</div>
	<div class="row" *ngIf="supplier.website">
		<icon-app fontSet="fa" name="globe"></icon-app>
		<span class="value">
			<a href="{{ supplier?.website }}">{{ supplier?.website }}</a>
		</span>
	</div>
	<div class="row" *ngIf="supplier.officeEmail">
		<icon-app fontSet="fa" name="envelope"></icon-app>
		<span class="value">
			<a href="mailto:{{ supplier?.officeEmail }}">{{ supplier?.officeEmail }}</a>
		</span>
	</div>
</div>