<div class="col1 flexColumn">
	<!-- type -->
	<div class="row" *ngIf="supplier && supplier.type">
		<icon-app [fa]="true" name="question"></icon-app>
		<span class="value">{{ supplier.type }}</span>
	</div>
	<!-- address -->
	<div class="row" *ngIf="supplier && supplier.address">
		<icon-app [fa]="true" name="map-marker-alt"></icon-app>
		<span class="value">{{ supplier.countryCode | entity: 'country': 'fullName' | async }}</span>
	</div>
	<!-- category -->
	<div class="row" *ngIf="supplier && supplier.categories && supplier.categories.length > 0">
		<span *ngFor="let cat of supplier.categories">{{ cat.id | entityName: 'category' | async }}</span>
	</div>
	<!-- tags -->
	<div class="row" *ngIf="supplier && supplier.tags && supplier.tags.length > 0">
		<icon-app [fa]="true" name="tag"></icon-app>
		<span *ngFor="let tag of supplier.tags">{{ tag.id | entityName: 'tags'| async }}</span>
	</div>
</div>
<div class="col2 flexColumn">
	<!-- phone -->
	<div class="row" *ngIf="supplier && supplier.phoneNumber">
		<icon-app [fa]="true" name="phone"></icon-app>
		<span class="value">
			<a href="tel:{{ supplier?.phoneNumber }}">{{ supplier?.phoneNumber }}</a>
		</span>
	</div>
	<div class="row" *ngIf="supplier && supplier.website">
		<icon-app [fa]="true" name="globe"></icon-app>
		<span class="value">
			<a href="{{ supplier?.website }}">{{ supplier?.website }}</a>
		</span>
	</div>
	<div class="row" *ngIf="supplier && supplier.email">
		<icon-app [fa]="true" name="envelope"></icon-app>
		<span class="value">
			<a href="mailto:{{ supplier?.email }}">{{ supplier?.email }}</a>
		</span>
	</div>
</div>