
	<h2>Your Company Profile</h2>

	<form [formGroup]="companyForm" ngNativeValidate >

		<fieldset formGroupName="names">
			<legend>Company Names</legend>
			<input-app formControlName="legalName" name="legalName" label="Legal Name" placeholder="My Company"></input-app>
			<input-app formControlName="tradingName"  name="tradingName" label="Trading Name" placeholder="My Comp"></input-app>
			<input-app formControlName="brandNames"  name="brandName" label="Brand Names" placeholder="Amazon, Google,.."></input-app>
		</fieldset>

		<fieldset formGroupName="address">
			<legend>Company Address</legend>
			<div class="addressFields">
				<input-app formControlName="fullAddress" name="fullAddress"
					type="text" label="Full Address" placeholder="Sunan Plaza, Heifel, Ahui, China"></input-app>
				<input-app formControlName="city" name="city"
					type="text" label="City" placeholder="Heifel"></input-app>
				<input-app formControlName="zip" name="zip"
					type="number" label="Zip" placeholder="21000"></input-app>
				<input-app formControlName="state" name="state"
					type="text" label="State" placeholder="Ahui"></input-app>
				<input-app formControlName="country" name="country"
					type="text" label="Country" placeholder="China"></input-app>
			</div>
		</fieldset>

		<fieldset formGroupName="contact">
			<legend>Contact Information</legend>
			<input-app formControlName="website" name="website" label="Website" type="url" placeholder="www.mycompany.com"></input-app>
			<input-app formControlName="tel" name="tel" label="Phone" type="tel" placeholder="+32 0472 55 45 88"></input-app>
			<input-app formControlName="email" name="email" label="Email" type="email" placeholder="info@mycompany.com"></input-app>
		</fieldset>

		<fieldset formArrayName="contacts">
			<legend>Additional Contacts</legend>

			<div *ngFor="let item of contacts; let i = index;">

				<div [formGroupName]="i" class="contact">
					<input-app formControlName="name" name="fullName" label="Full Name" placeholder="Jhon Doe"></input-app>
					<input-app formControlName="email" name="email" type="email" label="email" placeholder="jhon.doe@mycompany.com"></input-app>
					<input-app formControlName="function" name="function" label="Function" placeholder="Product Manager"></input-app>
					<input-app formControlName="tel" name="tel" type="tel" label="Phone" placeholder="+32 0478 454 545"></input-app>
				</div>

			</div>

			<button (click)="addContact()" class="secondary fullWidth"> ADD </button>
		</fieldset>

		<div class="flexCenter submCtnr">
			<button type="submit" class="z-a" (click)="onSubmit()" matStepperNext>Submit</button>
		</div>

	</form>


