<top-panel-details-app
	[title]="product?.name || 'Unnamed Product'"
	[hasOptions]="true"
	(delete)="deleteProduct.emit()">

	<img-app [image]="product?.images" type="product" size="s"></img-app>
	<icon-app *ngIf="product?.favorite" name="heart" class="color-warn"></icon-app>

	<div class="flexColumn">

		<stats-icons-app
			[product]="product"
			[favorite]="false"
			[fullInfo]="true"
			colorTxt="txt-secondary">
		</stats-icons-app>

		<div class="flex section-info flexWrap">

			<info-badge-app *ngIf="product?.category?.name" type="category">{{ product.category.name }}</info-badge-app>
			<info-badge-app *ngFor="let tag of product?.tags" type="tag">{{ tag.name }}</info-badge-app>
			<info-badge-app *ngFor="let project of product?.projects" type="project">{{ project.name }}</info-badge-app>
		</div>
	</div>
	<status-selector-app
		[typeEntity]="productEntity"
		[entity]="product"
		selectSize="l">
	</status-selector-app>
</top-panel-details-app>
