<top-panel-details-app
	[title]="product?.name || 'Unnamed Product'"
	[hasOptions]="true"
	[data]="product"
	[user]="product?.createdBy"
	(favorited)="onFavorited()"
	(unfavorited)="onUnfavorited()"
	(delete)="deleteProduct.emit(product)">

	<img-app [image]="product?.images" type="product" size="s"></img-app>

	<div subinfo class="flex flexVAlign">
		<span class="price">price</span>
		<icon-app name="circle" fontSet="fa" *ngIf="product?.category"></icon-app>
		<span class="category">{{ product?.category?.name }}</span>
		<icon-app name="circle" fontSet="fa" *ngIf="product?.supplier"></icon-app>
		<span class="supplier">{{ product?.supplier?.name }}</span>
	</div>

	<status-selector-app
		action
		[typeEntity]="productEntity"
		[entity]="product"
		selectSize="l"
		type="button">
	</status-selector-app>
</top-panel-details-app>
