
icon-app {
	cursor: default;
}

img-app {
	border-radius: var(--border-radius);
}

.section-info {
	info-badge-app {
		margin-top: var(--spacing-ms);
	}
}

[subinfo] {
	font-size: var(--font-size-m);

	& > * {
		margin-right: var(--spacing-xs);
	}
	.price {
		color: var(--color-primary);
	}

	.category {
		color: var(--color-supplier-tag);
	}

	icon-app {
		color: var(--color-txt-secondary);
		font-size: 4px;
	}
}

status-selector-app {
	margin-right: var(--spacing-s);
}