:host {
<<<<<<< HEAD
  display: block;
  border-bottom: 1px solid var(--color-divider);
  background-color: var(--color-bg);
}

.settings {
  padding: var(--spacing-l);
  padding-bottom: 0px;
=======
	display: block;
	border-bottom: 1px solid var(--color-divider);
	background-color: var(--color-bg);
	padding: 0;
>>>>>>> origin/WEB-2310-header-details-web-app
}

.header-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
	align-items: center;
}

.header-container-details {
  padding: var(--spacing-l) var(--spacing-xxxxxl);
}

.header-container-settings {
  padding-bottom: var(--spacing-l);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.nav-container-details {
  padding: var(--spacing-none) var(--spacing-xxxxxl);
}

.nav-container-settings {
  padding: var(--spacing-none);
}

.left {
  > *:not(:first-child) {
    margin-left: var(--spacing-l);
  }
  .info {
    .title-container {
      align-items: flex-end;
    }
  }
}

.left {
  max-width: 65%;
  white-space: nowrap;
  align-items: normal;
}

.right {
  max-width: 35%;
  white-space: nowrap;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title-container {
    h2 {
      color: var(--color-txt-primary);
      font-size: var(--font-size-xxxl);
    }
  }
  .subInfo {
    height: 18px;
    font-size: var(--font-size-m);
    color: var(--color-txt-secondary);
  }
}

.back-arrow {
  color: var(--color-txt-secondary);
  font-size: var(--font-size-s);
  margin-right: var(--spacing-l);
  display: flex;
  align-items: center;
  & > * {
    display: flex;
  }
}

.logo {
  max-width: 54px;
  max-height: 54px;
  border-radius: var(--border-radius-s);
}

.tabs-container-details {
  margin: var(--spacing-none) 40px;
}

.tabs-container-settings {
  margin: var(--spacing-none);
}
