:host {
	display: block;
	border-bottom: 1px solid var(--color-divider);

	padding: var(--spacing-l);
	padding-bottom: 0px;
}

.header-container {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	padding: var(--spacing-l) var(--spacing-xxxxxl);
}

.nav-container {
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	align-items: center;
	padding: var(--spacing-none) var(--spacing-xxxxxl);
}

.left {
	.info {
		.title-container {
			align-items: flex-end;
		}
	}
}

.left {
	max-width: 65%;
	white-space: nowrap;
	align-items: normal;
}

.right {
	max-width: 35%;
	white-space: nowrap;
	align-items: center;
}

.info {
	margin-left: var(--spacing-ms);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.title-container {
		h2 {
			color: var(--color-txt-primary);
			font-size: var(--font-size-xxxl);
		}
	}
	.subInfo {
		height: 18px;
		font-size: var(--font-size-m);
		color: var(--color-txt-secondary);
	}
}

.back-arrow {
	color: var(--color-txt-secondary);
	font-size: var(--font-size-s);
	margin-right: var(--spacing-l);
	display: flex;
	align-items: center;
	& > * {
		display: flex;
	}
}

.logo {
	max-width: 54px;
	max-height: 54px;
	border-radius: var(--border-radius-s);
}

.tabs-container {
	margin: var(--spacing-none) var(--spacing-xxl);
}
