<div class="price-with-quantity">
		<editable-text-app #editablePrice class="price"
			*ngIf="product && product.price"
			(closed)="updateProductField($event, inpPrice.price, 'price')"
			(opened)="inpPrice.select()"
			(saved)="updateProductField(false, inpPrice.price, 'price')">
			<editable-label-app>
					<div *ngIf="product?.price?.value" class="amount">
						{{ product?.price?.value | ssPrice | currency: product?.price?.currency:'symbol':'1.2-2'}}
					</div>
			</editable-label-app>
			<input-price-app #inpPrice [price]="product?.price" (keyup.enter)="editablePrice.close()"></input-price-app>
		</editable-text-app>

		<editable-text-app #editableMOQ class="moq"
			*ngIf="product && product.price"
			(closed)="updateProductField($event, inputMOQ.value, 'minimumOrderQuantity')"
			(opened)="inputMOQ.select()"
			(saved)="updateProductField(false, inputMOQ.value, 'minimumOrderQuantity')">
			<editable-label-app>
					<div *ngIf="product?.price?.value" class="moq flexCenter">
						{{ 'Min ' + product?.minimumOrderQuantity + ' pcs' }}{{ product?.moqDescription ? ' ' + product?.moqDescription : ''}}
					</div>
			</editable-label-app>
			<input inputApp
				#inputMOQ
				restrictInput="decimal"
				[value]="product?.minimumOrderQuantity"
				type="number"
				(keyup.enter)="editableMOQ.close();"/>
		</editable-text-app>
</div>
