<editable-container-app
	#editablePrice
	class="price"
	[hasAction]="false"
	(closed)="updateProductField($event, inpPrice?.price, 'price')"
	(opened)="inpPrice?.select()"
	(saved)="updateProductField(false, inpPrice?.price, 'price')">
	<editable-value-app>
		<price-app *ngIf="product.price && product.price.value !== null; else priceHolder" [price]="product?.price"></price-app>
			<ng-template #priceHolder>
				<div class="capitalize pd-top-s pd-bottom-s">set price</div>
			</ng-template>
	</editable-value-app>
	<input-price-app #inpPrice [value]="product?.price" (keyup.enter)="editablePrice.close()"></input-price-app>
</editable-container-app>

<editable-container-app
	#editableMOQ
	class="moq"
	[hasAction]="false"
	(closed)="updateProductField($event, inputMOQ.value, 'minimumOrderQuantity')"
	(opened)="inputMOQ.select()"
	(saved)="updateProductField(false, inputMOQ.value, 'minimumOrderQuantity')">
	<editable-value-app>
		<div *ngIf="product?.price?.value || product?.minimumOrderQuantity; else moqHolder" class="moq flexCenter">
			{{ 'OBJ.min-pcs' | translate: { count : (product?.minimumOrderQuantity || 0)} }}
			{{ product?.moqDescription ? ' ' + product?.moqDescription : ''}}
		</div>
		<ng-template #moqHolder>
			<div class="capitalize pd-top-s pd-bottom-s">set MOQ</div>
		</ng-template>
	</editable-value-app>
	<input inputApp
		#inputMOQ
		restrictInput="decimal"
		[value]="product?.minimumOrderQuantity"
		type="number"
		(keyup.enter)="editableMOQ.close();"/>
</editable-container-app>
