<editable-container-app
	#editablePrice
	class="price"
	[ngClass]="{'empty': !price || !price?.value}"
	[hideOnOpen]="true"
	[hasAction]="false"
	(closed)="updateProductField($event, inpPrice?.value, 'price')"
	(opened)="inpPrice?.select()"
	(saved)="updateProductField(false, inpPrice?.value, 'price')">
	<editable-value-app>
		<price-app
			*ngIf="price && price?.value; else priceHolder"
			size="xxxl" 
			[primary]="false"
			[price]="price">
		</price-app>
		<ng-template #priceHolder>
			<div class="capitalize pd-top-s pd-bottom-s">set price</div>
		</ng-template>
	</editable-value-app>
	<input-price-app #inpPrice [value]="price" (keyup.enter)="editablePrice.close()"></input-price-app>
</editable-container-app>

<editable-container-app
	#editableMOQ
	class="moq"
	[ngClass]="{'empty': !price || !price?.minimumOrderQuantity}"
	[hideOnOpen]="true"
	[hasAction]="false"
	(closed)="updateProductField($event, inputMOQ.value, 'moq')"
	(opened)="inputMOQ.select()"
	(saved)="updateProductField(false, inputMOQ.value, 'moq')">
	<editable-value-app>
		<div *ngIf="price && price?.minimumOrderQuantity; else moqHolder" class="moq flexCenter">
			{{ 'OBJ.min-pcs' | translate: { count : (price?.minimumOrderQuantity || 0)} }}
			{{ price?.moqDescription ? ' ' + price?.moqDescription : ''}}
		</div>
		<ng-template #moqHolder>
			<div class="capitalize pd-top-s pd-bottom-s">set MOQ</div>
		</ng-template>
	</editable-value-app>
	<input inputApp
		#inputMOQ
		restrictInput="decimal"
		[value]="price?.moqDescription"
		type="number"
		(keyup.enter)="editableMOQ.close();"/>
</editable-container-app>
