:host {
	display: flex;
	flex-direction: column;
}

editable-container-app {
	display: inline-block;
	width: fit-content;
	
	&.empty:not(.open) {
		&:hover {
			background: rgb(249, 250, 252);
		}
	
		height: var(--spacing-xl);
		line-height: 0.5;
	}

	&.price {
		display: flex;
		height: var(--spacing-xl);
	}
}

.price {
	.amount {
		color: var(--color-primary);
		font-size: var(--font-size-xxxl);
		font-weight: 600;
	}
}

.moq {
	color: var(--color-txt-secondary);
}