<card-app>
  <h2>ABOUT THIS SHOW</h2>

  <div class="flexBetween cell">
    <div class="label">Name</div>
    <div>{{ show?.description?.name }}</div>
  </div>

  <div class="flexBetween cell">
    <div class="label">Venue</div>
    <div>{{ show?.description?.venue?.name }}</div>
  </div>

  <div class="flexBetween cell">
    <div class="label">City</div>
    <div>{{ show?.description?.venue?.city }}</div>
  </div>

  <div class="flexBetween cell">
    <div class="label">Country</div>
    <div>{{ show?.description?.venue?.country | const: 'country'  }}</div>
  </div>

  <div class="flexBetween cell">
    <div class="label">Address</div>
    <div>{{ show?.description?.venue?.addressFull }}</div>
  </div>

  <div class="flexBetween cell">
    <div class="label">Industry</div>
  </div>

</card-app>