.notification-container {
  position: absolute;
	width: 604px;
  height: 1100px;
  box-shadow: 4px 0 12px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
	left: 0;
	top: 0;
	z-index: var(--z-dialog-container);

  .notif-feed {
    overflow-y: auto;
    margin-bottom: 14px;
    background: #f9fafc;
	}
	.norif-footer {
		padding: 6.5px;
		text-align: center;
		cursor: pointer;
		color: #45adff;
  }
  &.full-screen {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    width: 100vw;
    .notif-feed {
      width: 723px;
      margin: 35px auto;
    }
  }
}
