.notification-container {
  position: absolute;
	width: 604px;
  height: 1100px;
  box-shadow: 4px 0 12px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
	left: 0;
	top: 0;
	z-index: var(--z-dialog-container);
  .notif-feed {
    padding: 0 31px 0 70px;
    overflow-y: auto;
	}
}
