:host {
	display: block;
}

.container {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.show-my-tasks {
	font-weight: 600;
	line-height: 1.43;
}

task-list-app {
	margin-right: var(--spacing-l);
	margin-left: var(--spacing-l);
}
