:host {
	display: block;
}

activity-user-app {
	margin-bottom: var(--spacing-ms);
}

.previewCtnr {
	width: 656px;
	height: 490px;
	border-radius: var(--border-radius-l);

	.empty {
		width: 100%;
		font-style: italic;
		color: var(--color-txt-secondary);
		background: var(--color-secondary-light);
		font-size: var(--font-size-xxl);
	}
	img {
		width: 140px;
    height: 140px;
	}
	span {
		margin-top: var(--spacing-ms);
	}
}

.img1 {
	height: 320px;
	.small {
		margin-right: var(--spacing-xs);
	}
}

.img2, .img3 {
	width: 164px;
	height: 158px;
}

img-app {
	border-radius: var(--border-radius-s);
}

.action-section {
	font-size: var(--font-size-xxl);
}

.actions {
	font-size: var(--font-size-xxl);
	color: var(--color-txt-secondary);
	& > * {
		margin-right: var(--spacing-l);
	}
}

.prodInfo {
	margin-top: var(--spacing-ms);
	& > * {
		margin-bottom: 4px;
	}

	.name {
		color: var(--color-txt-strong);
		font-weight: 600;
	}
	.status-info {
		font-size: var(--font-size-m);

		& > * {
			//for each children that is not the first one we add some spaces and bullet dots on the content
			&:not(:first-child)::before {
				content: "\00a0 \00a0 \2022 \00a0 \00a0";
    		font-weight: bolder;
			}
		}
		icons-status-app {
			padding-bottom: 6px;
			margin-right: -8px;
		}
		.price {
			color: var(--color-primary);
		}
	}
	.supplier {
		margin-bottom: var(--spacing-s);
	}
}

.badges {
	> * {
		margin-right: var(--spacing-xs);
	}
}

card-footer-app {
	display: flex;
}


