<card-app padding="ms">

	<!-- user -->
	<activity-user-app
		[user]="product.createdBy"
		[time]="product.creationDate"
		action="created a new product"></activity-user-app>

	<!-- preview  -->
	<div class="previewCtnr flex flexGrow" (click)="onViewProduct()" *ngIf="product.images as images">
		<ng-container *ngIf="images[0]">
			<img-app size="xl" class="img1" [ngClass]="{ 'big' : !hasThreeImages() }" [image]="images[0]"></img-app>
		</ng-container>

		<div *ngIf="hasThreeImages()" class="flexColumn flexBetween">
			<ng-container *ngIf="images[1]">
				<img-app class="img2" [image]="images[1]" size="xl"></img-app>
			</ng-container>

			<ng-container *ngIf="images[2]">
				<img-app class="img3" [image]="images[2]" size="xl"></img-app>
			</ng-container>
		</div>

	</div>

	<div class="flexColumn prodInfo">
		<span class="name">{{ product?.name }}</span>
		<span class="supplier">{{ product?.supplier?.name }}</span>
		<div class="badges flexVAlign">
			<status-badge-app
				size="mini"
				[typeEntity]="typeEntity"
			 [status]="product?.statuses[0]?.status"></status-badge-app>
			<badge-app
				size="mini"
				type="accent">{{ product?.category?.name }}
			</badge-app>
			<badge-app
				size="mini"
				*ngFor="let tag of product.tags">{{ tag?.name }}
			</badge-app>
		</div>
	</div>

	<card-footer-app align="left">

		<action-bar-app
			buttonName="View Product"
			[favorite]="product.favorite"
			[votes]="product.votes"
			(vote)="onVote($event)"
			(onFavorite)="onFavorite()"
			(onUnfavorite)="onUnfavorite()"
			(buttonClick)="onViewProduct()">

			<button class="icon light folder" (click)="openAddToProject()">
				<icon-app fontSet="svg" name="folder" size="m" ></icon-app>
			</button>
		</action-bar-app>

	</card-footer-app>
</card-app>