:host {
	width: 712px;
	display: block;
}

activity-user-app {
	margin-bottom: var(--spacing-ms);
}

.img1 {
	width: 488px;
	height: 320px;
	margin-right: var(--spacing-xs);
	&.big {
		width: 660px;
	}
}

.img2, .img3 {
	width: 164px;
	height: 158px;
}

img-app {
	border-radius: var(--border-radius-s);
}

.actions {
	font-size: 20px;
	color: var(--color-txt-secondary);
	& > * {
		margin-right: var(--spacing-l);
	}
}

.prodInfo {
	margin-top: var(--spacing-ms);
	.name {
		color: var(--color-txt-strong);
		font-size: var(--font-size-l);
		font-weight: 600;
	}
	.supplier {
		margin-bottom: var(--spacing-s);
	}
}

.badges {
	> * {
		margin-right: var(--spacing-xs);
	}
}
card-footer-app > action-bar-app {
	padding: 0px;
}
button.icon {
	margin-top: 4px;
	margin-right: 9px;
}
button.button {
	margin-top: 4px;
	min-width: 86px;
	margin-left: 15px;
}