:host {
	display: block;
}

activity-user-app {
	margin-bottom: var(--spacing-ms);
}

one-product-carousel-app {
	margin-bottom: var(--spacing-ms);
}

.action-section {
	font-size: var(--font-size-xxl);
}

.actions {
	font-size: var(--font-size-xxl);
	color: var(--color-txt-secondary);
	& > * {
		margin-right: var(--spacing-l);
	}
}

.prodInfo {
	margin-top: var(--spacing-ms);
	& > * {
		margin-bottom: var(--spacing-xs);
	}

	.name {
		color: var(--color-txt-strong);
		font-weight: 600;
		font-size: var(--font-size-l);
		letter-spacing: -0.4px;
	}
	.status-info {
		font-size: var(--font-size-m);

		& > * {
			//for each children that is not the first one we add some spaces and bullet dots on the content
			&:not(:first-child)::before {
				content: "\00a0 \00a0 \2022 \00a0 \00a0";
    		font-weight: bolder;
			}
		}
		icons-status-app {
			padding-bottom: 6px;
			margin-right: -8px;
		}
		.price {
			color: var(--color-primary);
		}
	}
	.supplier {
		margin-bottom: var(--spacing-s);
	}
}

.badges {
	> * {
		margin-right: var(--spacing-xs);
	}
}

card-footer-app {
	display: flex;
}


