<h3 *ngIf="title" class="ms"> {{ title }} </h3>

<div class="flex" [ngStyle]="subPanelDialog && filtersPanelOpened && {'width': 'calc(100% - 296px)'}">

	<div class="search-container flex">
		<ng-content select="search-autocomplete-app"></ng-content>

		<search-bar-app *ngIf="hasSearch" [formControl]="searchControl" [inputFocus]="inputFocus" searchType="short"
			[placeHolder]="'placeholder.type-to-search' | translate" (focus)="onFocusSearch($event)"
			(search)="search.emit($event)" (keydown.enter)="triggerSmartSearch($event)">
		</search-bar-app>

		<button *ngIf="hasFilter" class="bold-s pointer capitalize filter-button bg-secondary-light" (click)="showFilters.emit()"
			translate="button.show-filters">
			<!-- TODO: add icon for filter -->
			<icon-app name="close-pane-bottom" size="m"></icon-app>
		</button>
		<div class="divider"></div>

		<span class="capitalize entities-count">
			{{ count }} {{ count === 1 ? ('ERM.' + checkEntityType(entityType.toUpperCase()) + '.singular' | translate)
				: ('ERM.' + checkEntityType(entityType?.toUpperCase()) + '.plural' | translate) }}
		</span>

	</div>

	<div class="right-container flex">
		<ng-content select="[right-sort-elem]" *ngIf="view === 'card'"></ng-content>

		<!-- TODO: remove unnessecasry divs -->
		<div class="flex">
			<div *ngIf="hasArchived" class="show-archived-container pointer bg-secondary-light mg-left-ms" (click)="toggleArchived()">
				<div class="flexCenter">
					<checkbox-app [checked]="isArchivedShown" [size]="15">
					</checkbox-app>
					{{'label.show-archived' | translate}}
				</div>
			</div>

			<div *ngIf="hasTaskCreatedByMeOnly" class="tasks-created-by-me-container pointer bg-secondary-light mg-left-ms"
				(click)="toggleCreatedTaskOnly()">
				<div class="flexCenter">
					<checkbox-app [checked]="isTaskCreatedByMeOnlyChecked" [size]="15">
					</checkbox-app>
					{{'label.show-tasks-i-created-only' | translate}}
				</div>
			</div>

			<div *ngIf="hasCompletedTask" class="show-completed-container pointer bg-secondary-light mg-left-ms"
				(click)="toggleCompletedTask()">
				<div class="flexCenter">
					<checkbox-app [checked]="isCompletedTaskChecked" [size]="15">
					</checkbox-app>
					{{'label.show-completed' | translate}}
				</div>
			</div>

			<div *ngIf="hasAssigned" class="assigned-to-me-container pointer bg-secondary-light mg-left-ms" (click)="toggleAssigned()">
				<div class="flexCenter">
					<checkbox-app [checked]="isAssigned" [size]="15">
					</checkbox-app>
					{{'label.assigned-to-me' | translate}}
				</div>
			</div>

			<div *ngIf="hasMyExport" class="my-exports-only-container pointer bg-secondary-light mg-left-ms" (click)="toggleMyExport()">
				<div class="flexCenter">
					<checkbox-app [checked]="isMyExport" [size]="15">
					</checkbox-app>
					Show my exports only
				</div>
			</div>

			<ng-content select="controller-list-right-item-app"></ng-content>
		</div>

		<div>
			<button *ngIf="hasFilter && !filtersPanelOpened && hasExport" class="flexCenter bold-s pointer capitalize light mg-left-ms"
				(click)="export.emit()" translate="button.export">
				<icon-app name="close-pane-bottom" size="m"></icon-app>
			</button>
		</div>

		<div>
			<view-switcher-app *ngIf="hasSwitch" [switchContent]="switchContent" [view]="view"
				(viewChange)="viewChange.emit($event)" class="mg-left-ms">
			</view-switcher-app>
		</div>

		<button *ngIf="buttonName" class="create first-uppercase" (click)="buttonClick.emit()">
			<span class="first-uppercase">{{ buttonName }}</span>
		</button>
	</div>

</div>