dialog-app {
	width: 975px;
	height: 80vh;
}

.left, .right {
	padding: var(--spacing-l);
}

.left {
	border-right: 1px solid var(--color-divider);
	// background: var(--color-secondary-light);
	width: 363px;
	input {
		// background: white;
		margin-right: var(--spacing-s);
	}
	.info {
		margin-bottom: var(--spacing-xs);
	}
	.input-box {
		margin-bottom: var(--spacing-l);
	}

	list-item-app.selected {
		background: var(--color-secondary-light);
		color: var(--color-txt);
	}

	list-item-app:hover {
		.name {
			color: var(--color-primary);
		}
		.delete {
			visibility: visible;
		}
	}
	.delete {
		visibility: hidden;
	}
}

.right {
	.info {
		margin-bottom: var(--spacing-ms);
	}
	.actions {
		margin-top: var(--spacing-ms);
		.secondary {
			margin-right: var(--spacing-ms);
		}
	}
}

h2, h3{
	text-align: left;
}
