<dialog-app class="vertical-scroll-content">

  <dialog-header-app i18n="@@request-templates">
    Request Templates
  </dialog-header-app>

  <div class="flex">

    <div class="left">

      <h2 class="ms" i18n="header@@my-request-templates">My Request Templates</h2>

      <div class="info" i18n="text@@new-template">New Template</div>

      <div class="input-box flexVAlign">
        <input #inp inputApp [formControl]="createCtrl" type="text" placeholder="Template Name" (keyup.enter)="btn.click()" i18n-placeholder="@@tempalte-name"/>
        <button #btn (click)="createTemplate()" i18n="@@new">New</button>
      </div>

      <h3 class="ms" i18n="header@@templates">Templates</h3>

      <list-app>
        <list-item-app
					*ngFor="let template of templates$ | async"
					[selected]="isSelected(template)"
          (click)="templateSelected = template">
          <div class="item flexBetween fullWidth">
            <span class="name">{{ template.name }}</span>
            <context-menu-app>
              <context-menu-trigger-app>
                <span class="delete txt-clickable" i18n="@@delete">delete</span>
              </context-menu-trigger-app>
              <context-menu-item-app (click)="deleteTemplate($event, template)" i18n="@@delete">
                delete
              </context-menu-item-app>
            </context-menu-app>
          </div>
        </list-item-app>
      </list-app>
    </div>

    <div class="right flexGrow">

			<ng-container *ngIf="!pending; else spinner">
				<h2 class="ms">{{ templateSelected?.name }}</h2>

				<h3 class="ms" i18n="header@@template-elements">Template elements</h3>

				<div class="info" i18n="@@select-info-template-supplier">
					Select the information you want to request the supplier.
				</div>

				<list-app>
					<list-item-app *ngFor="let fc of (newState | keyvalue)" (click)="toggle(fc.key)">
						<div class="flexBetween flexVAlign fullWidth">
							<span> {{ fc.key.label }}</span>
							<checkbox-app [checked]="fc.value"></checkbox-app>
						</div>
					</list-item-app>
				</list-app>

				<div class="actions flexEnd">
					<button [disabled]="!hasChanged()" class="secondary" (click)="reset()" i18n="@@reset">Reset</button>
					<button [disabled]="!hasChanged()" (click)="save()" i18n="@@save-changes">Save Changes</button>
				</div>
			</ng-container>

			<ng-template #spinner>
				<spinner-app size="xxxxl"></spinner-app>
			</ng-template>

		</div>


  </div>

  <dialog-footer-app>
    <button class="secondary" (click)="close($event)" i18n="@@close">close</button>
  </dialog-footer-app>

</dialog-app>