.close {
	color: var(--color-txt-secondary);
}

.actions {
	margin-top: 12px;
}

divider-app {
	margin: 12px 0;
}

.icon {
	font-size: 20px;
	color: var(--color-txt-secondary);
}
rating-heart-app {
	margin-right: 24px;
}

h3 {
	text-align: left;
	font-family: Raleway;
	font-weight: 600;
	color: var(--color-primary);
	margin-bottom: var(--spacing-s);
}