<side-panel-app>
	<side-panel-title-app>
		{{ product.name }}
	</side-panel-title-app>

	<side-panel-action-app>
		<icon-app class="close pointer" fontSet="fa" name="times" (click)="close.emit()"></icon-app>
	</side-panel-action-app>

	<carousel-app [images]="product.images"></carousel-app>

	<ng-container *ngIf="product$ | async as product">
		<!-- actions -->
		<div class=" flexBetween">
			<div class="flexVAlign actions">
				<rating-heart-app class="icon"
				(favorited)="updateProduct({ favorite: true })"
				(unfavorited)="updateProduct({ favorite: false })"
				[favorite]="product.favorite"></rating-heart-app>
				<thumb-buttons-app class="icon"
					(vote)="updateProduct({ votes: $event })"></thumb-buttons-app>
				<span>
					{{ product.score !== null ? (product.score + '%') : '' }}
				</span>
			</div>
			<workflow-action-app
				[xPosition]="-100"
				[entity]="product"
				[typeEntity]="erm">
			</workflow-action-app>
		</div>
		<divider-app></divider-app>

		<!-- form -->
		<h3>Product Details</h3>
		<ng-container *ngIf="descriptor$ | async as desc">
			<dynamic-form-app
				[inlineLabel]="true"
				(formCreated)="onFormCreated($event)"
				[descriptor]="desc"
				[editable]="true"
				[colAmount]="1">
			</dynamic-form-app>
		</ng-container>

		<h3 style="margin-top: 22px; margin-bottom: 18px">Trading information</h3>
		<ng-container *ngIf="descriptor2$ | async as desc2">
			<dynamic-form-app
				[inlineLabel]="true"
				(formCreated)="onFormCreated($event)"
				[descriptor]="desc2"
				[editable]="true"
				[colAmount]="1">
			</dynamic-form-app>
		</ng-container>
	</ng-container>



	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>
</side-panel-app>