<div class="top">
	<h1>Welcome!</h1>
	<h2>Welcome to ShowSourcing, please log-in</h2>
</div>

<form (ngSubmit)="onSubmit()" *ngIf="!(pending$ | async); else spinner" [formGroup]="form">
	<error-app *ngIf="error">{{ error }}</error-app>

	<form-field-app>
		<label-app>Email</label-app>
		<input inputApp autoFocus autocomplete="current-email" type="text" placeholder="example@showsourcing.com" formControlName="identifier"/>
	</form-field-app>

	<form-field-app>
		<label-app>Password</label-app>
		<input inputApp autocomplete="current-password" type="password" placeholder="your password" formControlName="password"/>
	</form-field-app>

	<small class="pointer forgot" (click)="forgotPw()">Forgot Password ?</small>

	<input class="button fullWidth" type="submit" value="LOGIN" [disabled]="!form.valid"/>
	<a class="button light fullWidth flexCenter"
		[routerLink]="['../register']"
		[queryParams]="queryParams">Don't have an account ?</a>
</form>

<ng-template #spinner>
  <spinner-app size="xxl"></spinner-app>
</ng-template>

