	<label>Search {{ type }}</label>

	<div class="section">
		<input type="text" placeholder="Search" (input)="search($event.target.value)"/>
	</div>

	<ng-container *ngIf="pending$ | async">
			<spinner-app></spinner-app>
	</ng-container>

	<section class="choiceCtnr" infiniScroll (bottomReached)="loadMore()">
		<checkbox-app
			*ngFor="let choice of choices$ | async; trackBy: trackById"
			[checked]="selected.has(choice.id)"
			(check)="onItemAdded(choice)"
			(uncheck)="onItemRemoved(choice)">
			<div class="flexBetween">
				<span>{{ formatDisplayName(type, choice) }}</span>
				<span>{{ choice.productCount }}</span>
			</div>
		</checkbox-app>
	</section>




