
:host {
	z-index: 2;
	border-radius: 50%;
	background-color: var(--color-bg-third);
	color: var(--color-txt);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 42px;
	width: 42px;
	position: relative;
	.spinner {
		position: absolute;
	}
}