<div *ngIf="project$ | async as project" class="flexCenter">
	<div class="settings">
		<div class="left">
			<div class="project-logo flexCenter">
				<logo-app [logo]="project?.logoImage" color="primary" [iconSize]="32" size="xxl" type="project" (click)="fileInp.click()"></logo-app>
				<input #fileInp type="file" (fileSelect)="onNewFiles($event)"/>
			</div>
		</div>
		<div class="right">
			<h3 class="ms right-item" translate="text.project-name"></h3>
			<editable-container-app
				#edt
				[hoverable]="true"
				(closed)="update(inpName.value, 'name')"
				(opened)="inpName.select()">
				<editable-display-app class="ellipsis">
					{{ project?.name || '-' }}
				</editable-display-app>
				<input
					inputApp
					#inpName
					type="text"
					[value]="project?.name"
					(keyup.enter)="edt.close()"/>
			</editable-container-app>

			<h3 class="ms right-item" translate="text.description"></h3>
			<input-description-app
				class="right-item"
				[description]="project?.description"
				(update)="update($event, 'description')">
			</input-description-app>
	
			<h3 class="ms right-item">About this project</h3>
	
			<div class="about-project">
				<div>Created by {{ project?.createdBy?.firstName }} {{ project?.createdBy?.lastName }} on {{ project?.creationDate | date: 'd MMMM y':'':translate.currentLang }}</div>
				<div>Last Updated by {{ project?.createdBy?.firstName }} {{ project?.createdBy?.lastName }} on {{ project?.lastUpdatedDate | date: 'd MMMM y':'':translate.currentLang }}</div>
			</div>
		</div>
	</div>
</div>
