<div class="kanban__item cell ng-star-inserted main flexBetween"
     [ngClass]="{ 'highlight-checked': (checked && highlightOnChecked), 'pointer' : clickable }"
     (clickOutside)="onClickOutsideCard()"
	   (click)="clickable && openProduct()">
  <div class="mainCellWrapper ellipsis ng-star-inserted" [ngClass]="{ 'hover-content-enabled': enabledHoverContent }">
    <div class="mainCell">
      <div class="imgCtnr">
        <img class="mini image ng-star-inserted"
          [src]="product | image:'m':'product'"
          (click)="clickImage.emit()">
        <div *ngIf="enablePreviewLink" class="preview" (click)="clickImage.emit()"><div>Preview</div></div>
        <div *ngIf="showCheckbox" class="check" [ngClass]="{ checked: checked, selected: checked, 'drag-in-progress': dragInProgress }">
          <checkbox-app
						[checked]="checked"
						size="12"
            (check)="onChecked()"
            (uncheck)="onUnchecked()">
          </checkbox-app>
        </div>
      </div>
      <div class="description flexBetween" (click)="clickTitle()">
        <div class="descriptionTopCtnr ellipsis">
          <div class="titleCtnr">
            <a class="title">{{ product?.name }}</a>
            <icon-app *ngIf="product?.favorite" name="heart"></icon-app>
          </div>
          <div class="descriptionCtnr">
            <div class="descriptionCtnr-first">
              <span class="subtitle">
                <ng-container *ngIf="product?.price">{{product?.price?.currency}} {{product?.price?.value | ssPrice}}</ng-container>
                <ng-container *ngIf="product?.price && product?.minimumOrderQuantity">&nbsp;-&nbsp;</ng-container>
                <ng-container *ngIf="product?.minimumOrderQuantity">Min {{product?.minimumOrderQuantity}} pcs</ng-container>
              </span>
              <span class="descriptionText"> {{product?.description || ''}} </span>
              <span class="descriptionText">{{product?.supplier?.name}} {{product?.category?.name && product?.supplier?.name ? '-' : ''}} {{product?.category?.name}}</span>
            </div>
            <div class="descriptionCtnr-last flex">
              <icon-app
                *ngIf="thumbsName"
								[style.visibility]="thumbsName === 'thumbs-up' ? 'hidden' : 'visible'"
                [name]="thumbsName"
                [ngClass]="{'color-success': thumbsName === 'thumbs-up-background', 'color-warn': thumbsName === 'thumbs-down-background'}">
							</icon-app>
              <span *ngIf="score !== null" class="score" [ngClass]="{ 'like-txt': score >= 50, 'dislike-txt': score < 50 }">{{score}}%</span>
            </div>
          </div>
        </div>
        <div class="descriptionBottomCtnr">
          <badge-app size="xs" type="secondary-light" *ngFor="let tag of product?.tags | slice:0:1;trackBy: trackByFn">{{tag.name}}</badge-app>
        </div>
      </div>
      <div class="card-hover" [ngClass]="{ 'hover-content-enabled': enabledHoverContent }">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
