:host {
	display: block;
	height: 115px;
	background: var(--color-bg);
	border-radius: 4px;
	box-shadow: 0 2px 4px 0 #e6ebf5;
	margin-top: 0;
	border: solid 1px var(--color-secondary);
	padding: 1px;

	&.highlight-checked {
		background-color: rgba(69, 173, 255, 0.1);
		border: solid 2px #45adff;
		padding: 0;
		border-radius: 1px;
	}
}

.kanban {
	&__item {
    display: flex;
		align-items: center;
		height: 100%;

		&:hover {
			.mainCell .imgCtnr .check {
				display: block;

				&.drag-in-progress {
					display: none;
				}
			}

			.mainCell .imgCtnr .preview {
				display: flex;

				&.drag-in-progress {
					display: none;
				}
			}

			.contextual-menu {
				display: block;
			}

			.card-hover.hover-content-enabled {
				display: block;
			}

			.hover-content-enabled .description{
				display: none;
			}
		}

		.mainCellWrapper {
			overflow: unset;
		}

		.card-hover {
			display: none;
			max-width: 200px;
			height: 107px;
			align-items: flex-flex-start;
		}

		.mainCell {
			display: flex;
			align-items: flex-flex-start;

      .imgCtnr {
				border-radius: var(--border-radius);
    		width: 107px;
				height: 107px;
				margin-right: 10px;
				margin-left: 4px;
        overflow: hidden;
        display: flex;
        align-items: center;
				justify-content: center;
				position: relative;

				.mini.image {
					width: 107px;
					height: 107px;
					cursor: pointer;
				}

				.check {
					position: absolute;
					left: 4px;
					top: 4px;
					display: none;

					&.selected {
						display: block;

						&.drag-in-progress {
							display: none;
						}
					}

					&.checked {
						display: block;

						&.drag-in-progress {
							display: none;
						}
					}
				}

				.preview {
					position: absolute;
					left: 0;
					top: 0;
					height: 107px;
					width: 107px;
					display: none;
					align-items: center;
					justify-content: center;
					font-size: 14px;
					font-weight: 600;
					color: #fff;
					cursor: pointer;
				}
			}

			.description {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				max-width: 200px;
				height: 107px;

				.descriptionTopCtnr {
					margin-top: 10px;
					width: 100%;

					.titleCtnr {
						display: flex;
						align-items: center;
						margin-bottom: 3px;
						align-items: center;
						display: flex;

						.title {
							font-family: var(--font-normal);
							font-size: 14px;
							font-weight: 600;
							color: var(--color-txt-strong);
						}

						icon-app {
							color: var(--color-warn-light);
							font-size: 11px;
							margin-left: 10px;
						}
					}

					.numbers {
						margin-right: var(--spacing-s);
						margin-top: 1px;
						white-space: nowrap;
						font-size: var(--font-size-s);
					}

					.descriptionCtnr {
						line-height: 0.7rem;
					}

					.descriptionCtnr-first {
						display: inline-block;
						line-height: 1.1em;
						max-height: 2.2em;
						overflow: hidden;
					}

					.descriptionCtnr-last {
						align-items: center;
						line-height: 1.1em;

						icon-app {
							cursor: default;
							font-size: var(--font-size-s);
						}
					}
				}

				.tiny-label {
					border-radius: 2px;
					background-color: var(--color-success);
					font-size: 9px;
					color: #fff;
					font-weight: bold;
					text-transform: uppercase;
					margin-left: 10px;
					padding: 1px 3px;
				}

				.subtitle {
					font-family: var(--font-normal);
					font-size: 12px;
					color: #45adff;
					margin-bottom: 3px;
					line-height: 0.7rem;
				}

				.descriptionText {
					font-family: var(--font-normal);
					font-size: 12px;
					color: var(--color-txt-primary);
					margin-bottom: 3px;
					line-height: 0.7rem;
					white-space: normal;
				}

				.like-txt {
					color: var(--color-success);
					font-size: 12px;
				}

				.dislike-txt {
					color: var(--color-warn);
					font-size: 12px;
				}

				.score {
					margin-left: 5px;
				}

				.descriptionBottomCtnr {
					margin-bottom: 5px;

					.badge {
						font-size: var(--font-size-s);
						font-weight: bold;
						padding: 2px  var(--spacing-s);
						border-radius: 10;
						font-weight: 600;
						background-color: var(--color-secondary-light);
					}
				}
			}
		}
	}
}
