<div
	class="card-container flex"
	[ngClass]="{ 'pointer' : clickable, 'hover-content-enabled': enabledHoverContent }"
	(clickOutside)="onClickOutsideCard()"
	(click)="clickable && openProduct()">

	<!-- left side -->
	<div class="left">
		<img-app
			class="image"
			[image]="product?.images"
			type="product"
			size="m"
			(click)="clickImage.emit()">
		</img-app>
		<div *ngIf="enablePreviewLink" class="preview capitalize" (click)="clickImage.emit()" i18n="@@preview">preview</div>
		<div *ngIf="showCheckbox" class="check" [ngClass]="{ checked: checked, selected: checked, 'drag-in-progress': dragInProgress }">
			<checkbox-app
				[checked]="checked"
				(check)="onChecked()"
				(uncheck)="onUnchecked()">
			</checkbox-app>
		</div>
	</div>

	<!-- right side -->
	<div class="right">
		<!-- title -->
		<div class="title-section flex" (click)="clickTitle()">
			<h5 class="title ellipsis">{{ product?.name }}</h5>
			<icon-app *ngIf="product?.favorite" class="icon-heart" name="heart"></icon-app>
		</div>
		<div class="information-section flexWrap">
			<!-- price - moq -->
			<span class="price-container ellipsis">
				<ng-container *ngIf="product?.price">{{ product?.price | appPrice }}</ng-container>
				<ng-container *ngIf="product?.price && product?.minimumOrderQuantity">&nbsp;-&nbsp;</ng-container>
				<ng-container *ngIf="product?.minimumOrderQuantity" i18n="example: min (minimum) 150 pcs (pieces)@@min-pcs">Min {{ product?.minimumOrderQuantity }} pcs</ng-container>
			</span>
			<!-- description - supplier-->
			<span class="description-text ellipsis">
				{{ product?.price || product?.minimumOrderQuantity ? ' -' : ''}}
				{{ product?.supplier?.name}} {{product?.category?.name && product?.supplier?.name ? '-' : '' }} {{ product?.category?.name }}
			</span>
		</div>
		<!-- thumb -->
		<div class="thumb-section flex">
			<icon-app
				*ngIf="thumbsName"
				[style.visibility]="thumbsName === 'thumbs-up' ? 'hidden' : 'visible'"
				[name]="thumbsName"
				[ngClass]="{'color-success': thumbsName === 'thumbs-up-background', 'color-warn': thumbsName === 'thumbs-down-background'}">
			</icon-app>
			<span *ngIf="score !== null" class="score" [ngClass]="{ 'color-success': score >= 50, 'color-warn': score < 50 }">{{ score }}%</span>
		</div>
		<!-- tags -->
		<div class="tags-section">
			<badge-app *ngFor="let tag of product?.tags | slice:0:2; trackBy: trackByFn" class="ellipsis" size="xs" type="secondary-light" >{{ tag?.name }}</badge-app>
		</div>
	</div>

	<!-- hover effect -->
	<div class="card-hover" [ngClass]="{ 'hover-content-enabled': enabledHoverContent }">
		<ng-content></ng-content>
	</div>
</div>
