
<div class="ctnr">
	<div class="left">
		<grouped-feed-list-app *ngIf="(feedResult?.feed$ | async).length > 0; else empty" [feedResult]="feedResult"></grouped-feed-list-app>
		<ng-template #empty>
			<div class="empty flexCenter flexColumn">
				<icon-app name="home-project-menu-light" fontSet="svg"></icon-app>
				<h1>There is no recent activity</h1>
				<h2>You can start adding products now</h2>
				<button (click)="openCreateDlg(true)">Add Product</button>
			</div>
		</ng-template>
		<ng-template #spinner>
			<spinner-app></spinner-app>
		</ng-template>
	</div>
	<div class="right">
		<dashboard-summary-app
			[user]="user$ | async"
			[counters]="counters$ | async"
			[tasks]="tasks$ | async"
			(updateTask)="updateTask($event)"></dashboard-summary-app>
		<team-card-app
			(inviteTeam)="redirInviteTeam()"></team-card-app>
		<!-- <events-card-app></events-card-app> -->
	</div>
</div>

