.ctnr {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: var(--spacing-ms);
}

activity-list-app {
	height: 100%;
	margin: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.left {
	width: 750px;
}

.right {
	width: 400px;
}

.empty {
	padding-top: 120px;
	padding-right: 300px;

	icon-app {
		cursor: default;
		font-size: 210px;
		color: var(--color-txt-primary);
	}

	h1 {
		font-family: var(--font-normal);
		margin-top: var(--spacing-l);
		margin-bottom: var(--spacing-s);
	}
	h2 {
		font-family: var(--font-normal);
		margin-bottom: var(--spacing-xl);
	}

	button {
		width: 200px;
	}
}
