


<controller-table-app>
	<controller-table-quick-filters-app
		[quickFilters]="[]">
	</controller-table-quick-filters-app>
	<controller-table-quick-actions-app
		typename="Exports"
	>
	</controller-table-quick-actions-app>
	<controller-table-view-switcher-app
		[hasCard]="false"
		[hasBoard]="false">
	</controller-table-view-switcher-app>
</controller-table-app>

<attachments-table-app
	#table
	[hasPagination]="false"
	[pending]="listHelper.pending$ | async"
	[rows]="listHelper.filteredItems$ | async"
	(delete)="listHelper.delete($event)"
	(update)="listHelper.update($event)"
	(open)="viewSrv.goToDetails($event)"
	(openAddToProjectDialog)="addToProject($event)"
	(openAddSampleDialog)="dialogCommonSrv.openCreationSampleDialog($event)"
	(openAddTaskDialog)="dialogCommonSrv.openCreationTaskDlg($event)"
	(openRequestFeedbackDialog)="dialogCommonSrv.openRequestFeedbackDialog([$event])"
	(openCreateRequestDlg)="dialogCommonSrv.openSupplierRequest([$event])"
	(previewClick)="viewSrv.openPreview($event)"
	(sort)="listHelper.sort($event)"
	(update)="listHelper.update($event)"
	(createClick)="dialogCommonSrv.openCreationProductDlg()"
>
</attachments-table-app>


<selection-bar-app
	(close)="selectionSrv.unselectAll()">

	<button class="icon light" (click)="listHelper.deleteSelected()">
		<icon-app name="trash"></icon-app>
	</button>

</selection-bar-app>
