


<controller-table-app>
	<controller-table-quick-filters-app
		[quickFilters]="[]">
	</controller-table-quick-filters-app>
	<controller-table-quick-actions-app>
	</controller-table-quick-actions-app>
	<controller-table-view-switcher-app
		[hasCard]="false"
		[hasBoard]="false">
	</controller-table-view-switcher-app>
</controller-table-app>

<attachments-table-app
	#table
	[hasPagination]="false"
	[pending]="listHelper.pending"
	[rows]="listHelper.filteredItems$ | async"
	[selection]="selectionSrv.selection$ | async"
	[total]="listHelper.total$ | async"
	(delete)="listHelper.delete($event)"
	(update)="listHelper.update($event)"
	(open)="viewSrv.goToDetails($event)"
	(openAddToProjectDialog)="dialogCommonSrv.openAddToProjectDialog([$event])"
	(openAddSampleDialog)="dialogCommonSrv.openCreationSampleDialog($event)"
	(openAddTaskDialog)="dialogCommonSrv.openCreationTaskDlg($event)"
	(openRequestFeedbackDialog)="dialogCommonSrv.openRequestFeedbackDialog([$event])"
	(openCreateRequestDlg)="dialogCommonSrv.openSupplierRequest([$event])"
	(previewClick)="viewSrv.openPreview($event)"
	(select)="selectionSrv.selectOne($event, true)"
	(selectAll)="selectionSrv.selectAll($event, true)"
	(sort)="listHelper.sort($event)"
	(unselect)="selectionSrv.unselectOne($event, true)"
	(update)="listHelper.update($event)"
	(createClick)="dialogCommonSrv.openCreationProductDlg()"
	(unselectAll)="selectionSrv.unselectAll()">
</attachments-table-app>


<selection-bar-app
	[isShown]="(selectionSrv.selection$ | async).size > 0"
	[selection]="selectionSrv.selection$ | async"
	(close)="selectionSrv.unselectAll()">

	<button class="icon light" (click)="listHelper.deleteSelected()">
		<icon-app name="trash"></icon-app>
	</button>

</selection-bar-app>
