
<card-app>
	<div class="summaryBar">
		<div class="cell">
			<div class="title">Price</div>
			<div class="content">{{product?.priceCurrency?.symbol}} {{product?.priceAmount}}</div>
		</div>

		<divider-app [vertical]="true"></divider-app>

		<div class="cell">
			<div class="title">Moq</div>
			<div class="content"> {{product?.minimumOrderQuantity}}</div>
		</div>

		<divider-app [vertical]="true"></divider-app>

		<div class="cell">
			<div class="title">Team Rating</div>
			<div class="content" color-success>
				<div class="icon-thumb-up"></div>
				{{product?.computedValues?.score || "-"}} %
			</div>
		</div>

		<divider-app [vertical]="true"></divider-app>

		<div class="cell">
			<div class="title">Tasks</div>
			<div class="content">
					{{ numTasks }}
				<div class="icon-edit"></div>
			</div>
		</div>

		<divider-app [vertical]="true"></divider-app>

		<div class="cell">
			<div class="title">Status</div>
			<div class="content">
				<status-selector-badge-app
					class="badge"
					(update)="updateStatus.emit($event)"
					[status]="product?.status"
					[choices]="'productStatus' | entityList | async">
				</status-selector-badge-app>
			</div>
		</div>
	</div>


</card-app>