
<card-app>
	<div class="summaryBar">
		<div class="cell">
			<div class="title capitalize" i18n="text@@price">price</div>
			<div class="content">{{ product?.price?.currency }} {{ product?.price?.value }}</div>
		</div>

		<divider-app [vertical]="true"></divider-app>

		<div class="cell">
			<div class="title capitalize" i18n="text-moq">moq</div>
			<div class="content"> {{ product?.minimumOrderQuantity }}</div>
		</div>

		<divider-app [vertical]="true"></divider-app>

		<div class="cell">
			<div class="title capitalize" i18n="text@@team-rating">team rating</div>
			<div class="content" [ngClass]="{'success' : (score() >= 50), 'warn': (score() < 50)}">
				<div class="icon-thumb-up"></div>
				{{ score() !== null ? score() : '-' }} %
			</div>
		</div>

		<divider-app [vertical]="true"></divider-app>

		<div class="cell">
			<div class="title capitalize" i18n="text@@tasks">tasks</div>
			<div class="content">
				<div class="icon-edit"></div>
				{{ product?.taskCount !== undefined ? product?.taskCount : '-' }}
			</div>
		</div>

		<divider-app [vertical]="true"></divider-app>

		<div class="cell">
			<div class="title" i18n="text@@status">status</div>
			<div class="content">

			</div>
		</div>
	</div>


</card-app>