.ctnr  {
	position: relative;
	border: 1px solid grey;
	margin: var(--spacing-small);
	padding: var(--spacing-small);
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: var(--color-primary);
	z-index: 2;
}