<card-app
	[padding]="0"
	[border]="true"
	[borderColor]="borderColor"
	elevation="z-5"
	class="ctnr"
	#ctnr
	(dragover)="onDragOver($event)"
	(dragstart)="onDragStart($event)"
	(drop)="onDrop($event)"
	attr.data-bag="{{ bag }}">
	<!-- TODO: check if the attr.data-bag is still needed -->

	<header class="paddingDefault flexBetween">
		<div class="prefix"></div>
		<div class="title">{{ label }}</div>
		<div class="suffix"><icon-app name="bolt" color="white" class="bolt flexCenter pointer" size="xs"></icon-app></div>
	</header>

	<main>
		<div class="overlay flexColumn" *ngIf="isOver()"
			(dragleave)="onDragLeave($event)">
			<span class="overlayTitle" i18n> Move to {{ label }} </span>
			<span class="overlaySub" i18n> Caution, action will apply </span>
		</div>
	 <ng-content></ng-content>
	</main>

</card-app>