<card-app
	[padding]="false"
	[border]="true"
	[borderColor]="borderColor"
	class="ctnr z-3"
	#ctnr
	(dragover)="onDragOver($event)"
	(dragstart)="onDragStart($event)"
	(drop)="onDrop($event)"
	attr.data-bag="{{ bag }}">
	<!-- TODO: check if the attr.data-bag is still needed -->

	<header class="paddingDefault">{{ label }}</header>

	<main>
		<div class="overlay flexColumn" *ngIf="isOver()"
			(dragleave)="onDragLeave($event)">
			<span class="overlayTitle" i18n> Move to {{ label }} </span>
			<span class="overlaySub" i18n> Caution, action will apply </span>
		</div>
	 <ng-content></ng-content>
	</main>

</card-app>