:host {
	display: block;
}

.ctnr  {
	position: relative;
	margin: var(--spacing-small);
}

header {
	background: var(--color-bg);
	text-align: center;
	font-weight: bold;
	padding: var(--spacing-default);
	text-transform: uppercase;
}

main {
	background: var(--color-bg-secondary);
	padding-top: var(--spacing-small);
}

.overlay {
	border:  2px solid var(--color-primary);
	margin: var(--spacing-small);
	padding: var(--spacing-big);
	text-align: center;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	background-color: var(--color-bg);
	.overlayTitle {
		font-size: var(--font-size-xl);
		font-weight: bold;
	}
}