:host {
	display: block;
}

.ctnr  {
	position: relative;
	margin: var(--spacing-s);
}

header {
	background: var(--color-bg);
	text-align: center;
	font-weight: bold;
	padding: var(--spacing-default);
	text-transform: uppercase;
}

main {
	background: var(--color-bg-secondary);
	padding-top: var(--spacing-default);
	height: 100%;
}

.overlay {
	border:  2px solid var(--color-primary);
	margin: var(--spacing-s);
	padding: var(--spacing-l);
	height: 112px;
	text-align: center;
	box-sizing: border-box;
	border-radius: var(--border-radius);
	background-color: var(--color-bg);
	.overlayTitle {
		font-size: var(--font-size-xxl);
		font-weight: bold;
	}
}

.bolt {
	height: 16px;
	width: 16px;
	border-radius: 50%;
	display: block;
	background: var(--color-bg-third);
	transform: rotate(26deg);
	line-height: 1;
}