.ctnr {
	padding: var(--spacing-xs) var(--spacing-s);
	border-radius: 15px;
	font-size: 10px;
	font-weight: bold;
	line-height: 1.25;
	letter-spacing: 0.44px;
	color: var(--color-white);
	text-transform: uppercase;
}

.badge-Idea {
  background-image: var(--color-Idea);
  color: var(--color-txt-primary);
}

.badge-NeedReview {
  background-image: var(--color-NeedReview);
  color: var(--color-white);
}
.badge-Refused {
  background-image: var(--color-Refused);
  color: var(--color-white);
}
.badge-Complete {
  background-image: var(--color-Complete);
  color: var(--color-white);
}
.badge-UnderAssessment{
  background-image: var(--color-UnderAssessment);
  color: var(--color-white);
}
