<top-panel-details-app
	[title]="'title.my-exports' | translate"
	[hasBackArrow]="false"
	[elevated]="false">

	<logo-app color="primary" icon="close-pane-bottom" size="xl"></logo-app>
	<ng-container subinfo>{{ 'message.exports-from-my-team' | translate }}</ng-container>
</top-panel-details-app>

<sub-panel-app
	class="sub-menu-padding-board"
	entityType="exports"
	[hasFilter]="false"
	[count]="listSrv.count$ | async"
	[hasSwitch]="false"
	[hasArchived]="false"
	[hasAssigned]="false"
	[searchValue]="listSrv.searchValue"
	(search)="listSrv.search($event)"
	(showMyExport)="toggleMyExports(true)"
	(hideMyExport)="toggleMyExports(false)">
</sub-panel-app>

<export-list-view-app
	class="no-padding"
	[rows]="listSrv.items$ | async"
	[currentSort]="listSrv.currentSort"
	[pending]="listSrv.pending"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(sort)="listSrv.sort($event)"
	(showItemsPerPage)="showItemsPerPage($event)"
	(download)="downloadOne($event)">
</export-list-view-app>

<!-- in case selection comes back -->
<!-- <selection-bar-app
	[isShown]="(listSrv.selection$ | async)?.size > 0"
	[selection]="listSrv.selection$ | async"
	(close)="listSrv.unselectAll()">

	<div class="flex">
		<button class="icon light download" (click)="downloadSelected()">
			<icon-app name="file"></icon-app>
		</button>
		<button class="icon light delete">
			<icon-app name="trash"></icon-app>
		</button>
	</div>

</selection-bar-app> -->
