:host {
	display: flex;
	flex-direction: column;
	height: 100%;

	controller-list-app {
		margin-bottom: var(--spacing-ms);
	}
}

export-table-app {
	border-radius: var(--border-radius);
	box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.01);
	margin: var(--spacing-ms) var(--spacing-l) 0 var(--spacing-l);
}

.my-export {
	font-size: var(--font-size-xxxl);
	color: var(--color-bg-dark);
}

selection-bar-app {

	button.icon {
		margin-right: var(--spacing-ms);

		&.download{
			font-size: var(--font-size-xl);
		}
		&.delete {
			font-size: var(--font-size-xxl);
		}

		icon-app {
			color: var(--legacy-color-txt-secondary);
		}
	}
}
