<!-- header -->
<header class="flexBetween" [ngStyle]="getStyle(col)">
  <checkbox-app
    [checked]="hasAllSelected()"
    (check)="selectAll.emit(col.data)"
    (uncheck)="unselectAll.emit(col.data)">
  </checkbox-app>
  <span>
    {{ col.title }}
  </span>
  <span>{{ col.totalData }}</span>
</header>

<!-- main list -->
<main
  cdkDropList
  [id]="col.id"
  [cdkDropListConnectedTo]="connectedLists"
  [cdkDropListData]="col.data"
  (cdkDropListDropped)="onDrop($event)">

  <!-- <div class="overlay flexCenter">
    <icon-app class="arrow" name="arrow-circle-down" fontSet="fa"></icon-app>
  </div> -->
  <kanban-item-app
    *ngFor="let item of col.data; trackBy: trackById"
    cdkDrag
    [badgeNumber]="selection.size"
    [showBadge]="selection.size > 0 && selection.has(draggedId)"
    (mouseenter)="onMouseEnter(item)">

    <!-- <div class="custom-placeholder" *cdkDragPlaceholder></div> -->
    <ng-container *ngTemplateOutlet="cardTemplate; context: { column: column, data: item }">
    </ng-container>
  </kanban-item-app>
  <div class="txt-btn flexCenter"
    (click)="loadMore.emit(col)"
    *ngIf="col.data.length < col.totalData">Load {{ amountLoaded }} More ({{ col.totalData - col.data.length }})</div>
</main>
