<div *ngIf="project$ | async as project">
	<header-details-app [elevated]="false">

		<header-details-title-app>{{ project?.name }}</header-details-title-app>

		<logo-app color="primary" type="project" size="xl"></logo-app>

		<header-details-info-app>
			{{ (project?.status ? 'text.' + project?.status : 'text.new') | translate }}
			<div class="small-gray-badge-separator"></div>
			{{ 'OBJ.due-on-date' | translate: {date: project?.creationDate | date: 'dd-mm-yyyy':'':translate.currentLang} }}
			<div class="small-gray-badge-separator"></div>
			{{ 'OBJ.created-by-name' | translate: {firstName: project?.createdBy?.firstName, lastName: project?.createdBy?.lastName} }}
		</header-details-info-app>

		<header-nav-app>
			<header-nav-item-app
				link="./products"
				icon="product"
				[name]="'nav.products' | translate">
			</header-nav-item-app>
	
			<header-nav-item-app
				link="./settings"
				icon="settings"
				[name]="'nav.settings' | translate">
			</header-nav-item-app>
		</header-nav-app>

		<header-details-actions-app>
			<status-selector-app
				[typeEntity]="erm.PROJECT"
				[entity]="project$"
				selectSize="l"
				type="button">
			</status-selector-app>
			<context-menu-app action>
				<context-menu-trigger-app>
					<button class="vertical-dots icon light dots pointer">
						<icon-app [size]="16" name="dots-vertical"></icon-app>
					</button>
				</context-menu-trigger-app>
				<context-menu-item-app (click)="archive.emit(project)"  translate="button.archive">
				</context-menu-item-app>
				<context-menu-item-warn-app (click)="delete.emit(project)" translate="button.delete">
				</context-menu-item-warn-app>
			</context-menu-app>
		</header-details-actions-app>

	</header-details-app>

	<card-app>
		<h3 class="ms" translate="header.project-settings"></h3>

		<label translate="text.project-picture"></label>

		<div class="flex picCtnr">
			<div class="circle pointer">
				<img-app size="s" [image]="project?.logoImage" type="project" (click)="fileInp.click()"></img-app>
			</div>
			<div class="color-primary sel">
				<b class="semi pointer" (click)="fileInp.click()" translate="button.select-img">
				</b>
			</div>
		</div>

		<input #fileInp type="file" (fileSelect)="onNewFiles($event)"/>

		<form [formGroup]="form">
			<form-field-app class="borderless">
				<label-app translate="text.project-name"></label-app>
				<input class="borderless" inputApp type="text" formControlName="name"/>
			</form-field-app>

			<form-field-app class="borderless">
				<label-app translate="text.description"></label-app>
				<textarea inputApp autoGrows formControlName="description" class="borderless"></textarea>
			</form-field-app>
		</form>

		<div class="bottom">
			<div class="flex">
				<b class="semi" translate="text.created-by"></b>
				{{ project?.createdBy?.firstName }} {{ project?.createdBy?.lastName }}
			</div>
			<div class="flex">
				<b class="semi" translate="text.created-on"></b>
				{{ project?.creationDate | date: 'd MMMM y':'':translate.currentLang }}
			</div>
			<div class="flex">
				<b class="semi" translate="text.last-updated-on"></b>
				{{ project?.lastUpdatedDate | date: 'd MMMM y':'':translate.currentLang }}
			</div>
		</div>
	</card-app>
</div>
