<div *ngIf="project$ | async as project">
	<top-panel-details-app
		[elevated]="false"
		[title]="project?.name"
		i18n-title="@@my-products">

		<logo-app color="primary" type="project" size="xl"></logo-app>
		<ng-container subinfo>
			{{project?.status || 'new'}}<div class="small-gray-badge-separator"></div>Due on {{project?.creationDate | date: 'dd-mm-yyyy' }}
			<div class="small-gray-badge-separator"></div>Created by {{ project?.createdBy?.firstName }} {{ project?.createdBy?.lastName }}
		</ng-container>

		<panel-tab-app
			[link]="getTabPanelUrl('products')"
			icon="product"
			name="Products">
		</panel-tab-app>

		<panel-tab-app
			[link]="getTabPanelUrl('settings')"
			icon="settings"
			name="Settings">
		</panel-tab-app>

		<div class="flex right-items" action>
			<status-selector-app
				[typeEntity]="erm.PROJECT"
				[entity]="project$"
				selectSize="l"
				type="button">
			</status-selector-app>

			<context-menu-app action>
				<context-menu-trigger-app>
					<button class="vertical-dots icon light dots pointer">
						<icon-app [size]="16" name="dots-vertical"></icon-app>
					</button>
				</context-menu-trigger-app>
				<context-menu-item-app (click)="delete.emit(project)" i18n="button@@delete">
					Delete
				</context-menu-item-app>
				<context-menu-item-app (click)="archive.emit(project)"  i18n="button@@archive">
					Archive
				</context-menu-item-app>
			</context-menu-app>
		</div>

	</top-panel-details-app>

	<card-app>
		<h3 class="ms" i18n="header@@project-settings">
			Project Settings
		</h3>

		<label i18n="text@@project-picture">Project Picture</label>

		<div class="flex picCtnr">
			<div class="circle pointer">
				<img-app size="s" [image]="project?.logoImage" type="project" (click)="fileInp.click()"></img-app>
			</div>
			<div class="color-primary sel">
				<b class="semi pointer" (click)="fileInp.click()" i18n="button@@select-img">
					Select Image
				</b>
			</div>
		</div>

		<input #fileInp type="file" (fileSelect)="onNewFiles($event)"/>

		<form [formGroup]="form">
			<form-field-app class="borderless">
				<label-app i18n="text@@project-name">Project Name</label-app>
				<input class="borderless" inputApp type="text" formControlName="name"/>
			</form-field-app>

			<form-field-app class="borderless">
				<label-app i18n="text@@description">Description</label-app>
				<textarea inputApp autoGrows formControlName="description" class="borderless"></textarea>
			</form-field-app>
		</form>

		<div class="bottom">
			<div class="flex">
				<b class="semi" i18n="text@@created-by">Created By:</b>
				{{ project?.createdBy?.firstName }} {{ project?.createdBy?.lastName }}
			</div>
			<div class="flex">
				<b class="semi" i18n="text@@created-on">Created On:</b>
				{{ project?.creationDate | date: 'd MMMM y' }}
			</div>
			<div class="flex">
				<b class="semi" i18n="text@@last-updated-on">Last Update On:</b>
				{{ project?.lastUpdatedDate | date: 'd MMMM y' }}
			</div>
		</div>
	</card-app>
</div>
