card-app {
	width: 548px;
	height: 455px;
	margin: auto;
	margin-top: 37px;
}

b{
	width: 165px;
	display: block;
	height: 33px;
}

.bottom {
	margin-top: var(--spacing-m);
}

.picCtnr {
	align-items: flex-end;
}

.sel {
	padding: 0 0 8px 24px;
}

.circle {
	height: 48px;
	width: 48px;
	margin-bottom: 16px;
}

input[type="file"] {
	display: none;
}

header-nav-item-app:first-child {
	margin-left: 62px;
}

.right-items {
	margin-bottom: 10px;
}

.vertical-dots {
	background: var(--color-bg-secondary);
	width: 40px;
	height: 40px;
	padding: 0;
	margin-left: var(--spacing-ms);

	icon-app {
		color: var(--color-txt-third);
	}
}

header-details-app {
	background: var(--color-bg);
	.tabs-container {
		margin-left: 86px;
	}
}