card-app {
	width: 520px;
	margin: auto;
	margin-top: var(--spacing-xl);
}

b{
	width: 165px;
	display: block;
	height: 33px;
}

.bottom {
	margin-top: var(--spacing-m);
}

.picCtnr {
	align-items: flex-end;
}

.sel {
	padding: 0 0 8px 24px;
}

.circle {
	height: 48px;
	width: 48px;
	margin-bottom: 16px;
}

input[type="file"] {
	display: none;
}