:host {
	display: flex;
	align-items: center;
}

:host > *:not(:last-child) {
	margin-right: 20px;
}


.info {
	font-size: 12px;
	font-weight: 600;
	font-weight: 600;
}

.team {
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  vertical-align: middle;
}

.teamCtnr {
	position: relative;
}

.teamSelector {
	position: absolute;
	border-radius: var(--border-radius);
	width: 150px;
	top: 55px;
	right: 5px;
	z-index: 4;
}

.caret {
	margin-bottom: -3px;
	margin-left: 2px;
}

.panelCtnr {
	position: relative;
}

user-panel-app{
	position: absolute;
	top: 15px;
	right: 0px;
	z-index: 6;
}
