:host {
	display: flex;
	align-items: center;
}

:host > *:not(:last-child) {
	margin-right: 20px;
}


.info {
	font-size: 12px;
	font-weight: 600;
	font-weight: 600;
}

.team {
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  vertical-align: middle;
}
.caret {
  height: 24px;
  width: 20px;
  margin-left: 5px;
  display: block;
  text-indent: -9999px;
  background: url('/assets/icons/caret.svg') no-repeat center;
}


.panelCtnr {
	position: relative;
}

user-panel-app{
	position: absolute;
	top: 15px;
	right: 0px;
	z-index: 6;
}
