<ng-container *ngIf="user$ | async as user">
  <div class="panelCtnr">
    <div class="flex">
      <div class="flexRow">
        <div class="team">{{ user?.currentTeamId | entityName: 'teams' | async }}</div>
        <div class="caret pointer" name="sort-down" (click)="openPanel()"></div>
      </div>
    </div>
    <user-panel-app [user]="user" *ngIf="panelVisible" (clickOutside)="closePanel()"></user-panel-app>
  </div>
	<notif-app></notif-app>
  <!-- gotta get the info in team members because not every info is in user.. -->
  <user-picture-app [url]="user?.preferences?.profilePicture?.urls?.url_60x45"></user-picture-app>
</ng-container>
