	<!-- team -->
	<ng-container *ngIf="user$ | async as user">
		<div class="teamCtnr flex flexCenter">
			<div class="team">{{ user?.currentTeam?.name }}</div>
			<icon-app (click)="openTeamPicker()" color="txt-secondary"
				class="pointer caret" name="angle-down" fontSet="fa"></icon-app>

			<div class="teamSelector" *ngIf="teamPickerShown" (clickOutside)="closeTeamPicker()">
				<list-app>
					<list-item-app (click)="pickTeam(team)" *ngFor="let team of teams$ | async; let i = index;">
						{{ team.name }}
					</list-item-app>
				</list-app>
			</div>

		</div>
		<!-- notif -->
		<notif-app></notif-app>
		<!-- user menu -->
		<context-menu-app>
			<menu-trigger-app>
				<user-picture-app class="pointer"></user-picture-app>
			</menu-trigger-app>
			<user-panel-app [user]="user" (logout)="logout()"></user-panel-app>
		</context-menu-app>

	</ng-container>

