input {
	background: transparent;
}

button, input[type="submit"] {
	text-transform: capitalize;
	cursor: pointer;
	box-sizing: border-box;
	margin-top: var(--spacing-xl);
	border-radius: 4px;
	background: var(--color-primary);
	border: none;
	outline: none;
	color: var(--color-primary-contrast);
	padding: var(--spacing-default) var(--spacing-xxl);
}

button.small {
	padding: var(--spacing-xs) var(--spacing-default);
	margin: 0;
}

button.secondary {
	background: var(--color-secondary);
	color: var(--color-secondary-contrast);
}

.inp-box {
	margin-bottom: 16px;
	.error{
		margin-top: 8px;
	}
}

fieldset {
	border: none;
	margin-top: var(--spacing-xl);
}

fieldset legend {
	color: var(--color-primary);
	border-bottom: none;
	margin-bottom: 16px;
	padding: 0;
}

.inp-error {
	border-color: var(--color-warn);
}

.error {
	margin-top: 10px;
	color: var(--color-warn);
	font-size: 0.875rem;
	font-style: italic;
}

.twoColsForm .fields {
	display: flex;
}

.twoColsForm .fields > *{
	width: 50%;
}

textarea, input[type="text"], input[type="search"], input[type="password"] {
	padding: var(--spacing-s);
	width: 100%;
	box-sizing: border-box;
	font-family: inherit;
	border: none;
	border-bottom: 1px solid var(--color-txt-third);
}

textarea::placeholder, input[type="text"]::placeholder, input[type="search"]::placeholder, input[type="password"]::placeholder {
	color: var(--color-txt-secondary);
}

textarea:focus, input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus {
	border-bottom-color: var(--color-primary);
}
