label {
	margin-bottom: 6px;
	display: block;
}

input, textarea {
	background: var(--color-bg-third);
	padding: var(--spacing-s);
	width: 100%;
	box-sizing: border-box;
	font-family: inherit;
	color: var(--color-txt-primary);
	border: 1px solid var(--color-primary-light);
	&:not(.ng-pristine).ng-invalid {
		border-bottom: 1px solid var(--color-warn);
	}
}

form-field-app {
	margin-bottom: var(--spacing-default);
}

button, input[type="submit"], .button {
	display: inline-block;
	text-transform: uppercase;
	cursor: pointer;
	font-weight: 600;
	box-sizing: border-box;
	padding: 0 var(--spacing-l);
	height: 40px;
	border-radius: 2px;
	font-size: var(--font-size-default);
	background: var(--color-primary);
	border: none;
	outline: none;
	color: var(--color-primary-contrast);
	margin: 0;
  box-sizing: border-box;
	font-family: inherit;
	&.light {
		background: var(--color-bg-third);
		color: var(--color-txt);
		border: 1px solid var(--color-primary-light);
	}
}

button:disabled, input[type="submit"]:disabled {
	background: var(--color-primary-light);
	color: var(--color-primary-dark);
}

fieldset {
	border: none;
	margin-top: var(--spacing-xl);
}

fieldset legend {
	color: var(--color-primary);
	border-bottom: none;
	margin-bottom: 16px;
	padding: 0;
}

.error {
	margin-top: 10px;
	color: var(--color-warn);
	font-size: var(--font-size-s);
	font-style: italic;
}

textarea::placeholder, input[type="text"]::placeholder, input[type="search"]::placeholder, input[type="password"]::placeholder,  input[type="email"]::placeholder {
	color: var(--color-txt-secondary);
}

textarea:focus, input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus {
	border-bottom-color: var(--color-primary);
}
