// variable are declared with sass so we can reuse those with
// so we don't have to change those twice with angular material

$color-primary: #41AFFF;
$color-primary-contrast: #fff;
$color-primary-light: #24eaef;
$color-primary-light-contrast: #4A4A4A;
$color-primary-dark: #5D6D8B ;
$color-primary-dark-contrast: #fff;
$color-button-dark: #182844;
$color-txt-strong: #111;
$color-txt-primary: #5D6D8B;
$color-txt-secondary: #A3AFC6;
$color-delimiter: #E6EBF5;
$color-success: #71e591;
$color-warn: #f94259;
$color-grey: #F3F5F8;

:root{
	--color-primary: $color-primary;
	--color-primary-contrast: #fff;
	--color-primary-light: $color-primary-light;
	--color-primary-light-contrast: $color-primary-light-contrast;
	--color-primary-dark: $color-primary-dark;
	--color-primary-dark-contrast: $color-primary-dark-contrast;


	--color-txt-primary: $color-txt-primary;
	--color-txt-secondary: $color-txt-secondary;
	--color-txt-third: #e0e0e0;
	--color-txt-strong: $color-txt-strong;
	--color-delimiter: $color-delimiter;

  --color-bg: #fff;
  --color-bg-grey: $color-grey;
	--color-bg-secondary: #f8f8f8;
	--color-bg-third: #EBEBEB;
	--color-bg-fourth: #f4f5f9;
  --color-bg-dark: rgba(0, 0, 0, 0.5);
  --color-bg-switcher: #E6EBF5;
  --color-button-dark: $color-button-dark;

	--color-icon: #ccc;


	--color-secondary: rgba(205,205,205,0.5);
	--color-secondary-contrast: #4A4A4A;
	// --color-secondary-light: ;
	// --color-secondary-dark: ;

	--color-warn: $color-warn;
	--color-success: $color-success;

	// used
  --color-white: #fff;

	--badge-bg-idea: linear-gradient(-90deg, #CCD4E2 0%, #E6EBF5 100%);
	--badge-bg-need-review: linear-gradient(-270deg, #FF587A 0%, #F94259 100%);
	--badge-bg-refused: linear-gradient(-270deg, #FF587A 0%, #F94259 100%);
	--badge-bg-complete:  linear-gradient(-90deg, #39CE63 2%, #4DD373 96%);
	--badge-bg-under-assessment: linear-gradient(-270deg, #FFBB37 0%, #FFA900 97%);
}
