// variable are declared with sass so we can reuse those with
// so we don't have to change those twice with angular material

$color-primary: #41AFFF;
$color-primary-contrast: #fff;
$color-primary-light: #24eaef;
$color-primary-light-contrast: #4A4A4A;
$color-primary-dark: #5D6D8B ;
$color-primary-dark-contrast: #fff;
$color-txt-strong: #111;
$color-txt-primary: #5D6D8B;
$color-txt-secondary: #9B9B9B;
$color-delimiter: rgba(155, 155, 155, 0.1);
$color-success: #71e591;
$color-warn: #f94259;

:root{
	--color-primary: $color-primary;
	--color-primary-contrast: #fff;
	--color-primary-light: $color-primary-light;
	--color-primary-light-contrast: $color-primary-light-contrast;
	--color-primary-dark: $color-primary-dark;
	--color-primary-dark-contrast: $color-primary-dark-contrast;


	--color-txt-primary: $color-txt-primary;
	--color-txt-secondary: $color-txt-secondary;
	--color-txt-third: #e0e0e0;
	--color-txt-strong: $color-txt-strong;
	--color-delimiter: $color-delimiter;

	--color-bg: #fff;
	--color-bg-secondary: #f8f8f8;
	--color-bg-third: #EBEBEB;
	--color-bg-fourth: #f4f5f9;
	--color-bg-dark: rgba(0, 0, 0, 0.5);

	--color-icon: #ccc;


	--color-secondary: rgba(205,205,205,0.5);
	--color-secondary-contrast: #4A4A4A;
	// --color-secondary-light: ;
	// --color-secondary-dark: ;

	--color-warn: $color-warn;
	--color-success: $color-success;

	// used
	--color-white: #fff;

	--color-idea:#f5a623;
	--color-need-review: #bd10e0;
	--color-under-assessment: $color-primary;
	--color-complete: $color-success;
	--color-refused: $color-warn;
}
