
:root{
  --spacing-none: 0px;
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-default: 16px;
  --spacing-l: 22px;
	--spacing-xl: 32px;
	--spacing-xxl: 64px;

	--border-radius: 4px;
  --border-width: 1px;
  --spacing-edge: 50px;
  --spacing-nav: 10px;
  --spacing-top-panel: 40px;
}
