
datatable-header {
	text-transform: uppercase;
	background-color: var(--color-primary-dark);
	color: var(--color-primary-dark-contrast);
	font-weight: bold;
	vertical-align: middle;
	display: flex!important;
	align-items: center;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	padding: var(--spacing-default);
}

datatable-body {
	background-color: #F9FAFC;
	font-weight: bold;
	border: 1px solid #E6EBF5;
	border-top: 0;
}

datatable-body-row {
	datatable-body-cell {
		border: 1px solid #E6EBF5;
		display: flex!important;
		align-items: center;
		font-weight: normal;
		padding: var(--spacing-default);
		border-right: 0;
	}
}

datatable-body-row.active {
	background: rgba(0, 0, 0, 0.15);
}

datatable-body-row:focus, datatable-body-row:hover {
	background: var(--color-bg-fourth);
}