:host {
	display: flex;
	flex-direction: column;
	height: calc(100% - 70px);
	overflow: auto;
}

sub-panel-app {
  padding-bottom: 15px;
}

kanban-app {
	margin: auto;
	padding: 0 20px;
}

icon-app {
	color: var(--color-txt-secondary);
	font-size: var(--font-size-xl);
}

icon-app[name="trash-bin"] {
	font-size: var(--font-size-xxl);
}
selection-bar-app {
	right: 0;
}

action-bar-app {
	button.icon {
		margin-right: var(--spacing-ms);
	}
}
