<sub-panel-app
  [hasSwitch]="false"
  [hasFilter]="false"
  [buttonIcon]="false"
  (search)="listSrv.search($event)">
</sub-panel-app>

<kanban-app
  [cols]="columns$ | async"
  [cardTemplate]="card"
  [selection]="listSrv.selection$ | async"
  (drop)="onUpdateProductStatus($event)"
  (multipleDrop)="updateProductsStatus($event)"
  (selectColumn)="onColumnSelected($event)"
  (unselectColumn)="onColumnUnselected($event)"
  (loadMore)="loadMore($event)">
</kanban-app>

<ng-template #card  let-data="data" let-column="column" let-dragInProgress="dragInProgress" let-checked="checked" let-selectItem="selectItem" let-unselectItem="unselectItem" let-previewClick="previewClick" let-dragDropEnable$="dragDropEnable$">
		<product-card-app
			[product]="data"
			[enablePreviewLink]="true"
			[checked]="(listSrv.selection$ | async).has(data.id)"
			(clickImage)="listSrv.openPreview(data)"
			(select)="listSrv.selectOne($event, true)"
			(unselect)="listSrv.unselectOne($event, true)">
		</product-card-app>
</ng-template>

<ng-template #contextualMenu let-row="row">
  <context-menu-app>
    <context-menu-trigger-app>
      <button class="icon light">
        <icon-app name="dots-vertical" size="m"></icon-app>
      </button>
    </context-menu-trigger-app>
    <context-menu-item-app (click)="commonModalSrv.openAddToProjectDialog([row])">
      <div class="border">Add to project</div>
    </context-menu-item-app>
    <context-menu-item-app (click)="commonModalSrv.openRequestQuotationDialog([row])">
      <div class="border">Request for quotation</div>
    </context-menu-item-app>
    <context-menu-item-app (click)="commonModalSrv.openRequestFeedbackDialog([row])">
      <div class="border">Request feedback</div>
    </context-menu-item-app>
    <context-menu-item-app (click)="commonModalSrv.openExportDialog([row])">
      <div class="border">Export</div>
    </context-menu-item-app>
    <context-menu-item-app (click)="listSrv.deleteOne(row)">
      <div class="border">Delete</div>
    </context-menu-item-app>
  </context-menu-app>
</ng-template>

<selection-bar-app
  [isShown]="(listSrv.selection$ | async).size > 0"
	[selection]="listSrv.selection$ | async"
  (close)="listSrv.unselectAll()">

  <action-bar-app
    [favorite]="listSrv.allSelectedFavorite"
		[multiple]="true"
		(onFavorite)="listSrv.onFavoriteAllSelected()"
		(onUnfavorite)="listSrv.onUnfavoriteAllSelected()"
		(liked)="listSrv.onMultipleThumbUp($event)"
		(disliked)="listSrv.onMultipleThumbDown($event)">

    <button class="icon light" (click)="commonModalSrv.openAddToProjectDialog(null)">
      <icon-app name="folder-light" fontSet="svg"></icon-app>
    </button>
    <button class="icon light" (click)="listSrv.deleteSelected()">
      <icon-app name="trash-bin"></icon-app>
    </button>
  </action-bar-app>
</selection-bar-app>

<product-preview-app
  *ngIf="listSrv.previewOpen"
  [product]="listSrv.previewed"
  (close)="listSrv.closePreview()"
  (updated)="onUpdate($event)">
</product-preview-app>
