:host {
	display: flex;
	flex-direction: column;
	height: calc(100% - 70px);
	overflow: auto;
}

sub-panel-app {
  padding-bottom: 15px;
}

kanban-app {
	padding: 0 20px 20px 20px;
	box-sizing: border-box;
}

icon-app {
	color: var(--color-txt-secondary);
	font-size: var(--font-size-xl);
}

icon-app[name="trash-bin"] {
	font-size: var(--font-size-xxl);
}
selection-bar-app {
	right: 0;

	status-selector-app {
		margin-right: var(--spacing-ms);
	}
}

action-bar-app {
	button.icon {
		margin-right: var(--spacing-ms);
	}
}
