<card-app *ngIf="todoCounters$ | async as todoCount">
	<card-header-app>
		<div class="box-navbar" >

			<div
				*ngFor="let entity of entities"
				class="navbar-item"
				[ngClass]="{ 'active-tab': selectedEntity === entity }"
				(click)="selectedEntity = entity">

				<logo-app class="navbar-badge" [type]="entity" size="l"></logo-app>

				<div class="right">
					<h1>
						{{ 
							'OBJ.n-OBJ' | translate: {
								count: todoCount[entity], 
								field: (todoCount[entity] > 1 ?  'ERM.' + entity?.toUpperCase() + '.plural' :  'ERM.' + entity?.toUpperCase() + '.singular') | translate
							} 
						}}
					</h1>
					<h4>{{ 'label.assigned-to-you' | translate }}</h4>
					<a>{{ 'button.view' | translate }}</a>
				</div>

			</div>
		</div>
	</card-header-app>
	<card-title-app> 
		{{ ((todoCount[selectedEntity] || 0) > 1 ? 'ERM.' + selectedEntity?.toUpperCase() + '.plural' : 'ERM.' + selectedEntity?.toUpperCase() + '.singular') | translate }} 
		{{ 'label.assigned-to-you' | translate }}
	</card-title-app>
	<card-title-badge-app>{{ todoCount[selectedEntity] }}</card-title-badge-app>

	<div  *ngIf="(rows$ | async) as rows" >
			<ng-container [ngSwitch]="selectedEntity" *ngIf="todoCount[selectedEntity] > 0; else empty">

				<todo-box-products-preview-app
					*ngSwitchCase="'product'"
					[rows]="rows.product">
				</todo-box-products-preview-app>

				<todo-box-sample-preview-app
					*ngSwitchCase="'sample'"
					[rows]="rows.sample">
				</todo-box-sample-preview-app>

				<todo-box-task-preview-app
					*ngSwitchCase="'task'"
					[rows]="rows.task">
				</todo-box-task-preview-app>

				<todo-box-supplier-preview-app
					*ngSwitchCase="'supplier'"
					[rows]="rows.supplier">
				</todo-box-supplier-preview-app>

				</ng-container>
	</div>

	<card-footer-app>
		<a class="view-all" [routerLink]="['/'+route]">{{'nav.view-all' | translate}}</a>
	</card-footer-app>
</card-app>

<ng-template #empty>

	<div class="container">
		<ng-container [ngSwitch]="selectedEntity">
			<logo-app
				*ngSwitchCase="'product'"
				type="product"
				[circle]="true"
				size="xl">
			</logo-app>

			<logo-app
				*ngSwitchCase="'sample'"
				type="sample"
				[circle]="true"
				size="xl">
			</logo-app>

			<logo-app
				*ngSwitchCase="'task'"
				type="task"
				[circle]="true"
				size="xl">
			</logo-app>

			<logo-app
				*ngSwitchCase="'supplier'"
				type="supplier"
				[circle]="true"
				size="xl">
			</logo-app>

		</ng-container>

		<h1>{{ 'OBJ.no-OBJ-assigned-to-you' | translate: {field: 'ERM.' + selectedEntity?.toUpperCase() + '.singular' | translate} }}</h1>
		<span>{{ 'OBJ.create-a-field-or-assign' | translate: {field: 'ERM.' + selectedEntity?.toUpperCase() + '.singular' | translate} }}</span>

		<div class="button-group">
			<button (click)="openCreationModal()">{{ 'OBJ.create-OBJ' | translate: {field: 'ERM.' + selectedEntity?.toUpperCase() + '.singular' | translate} }}</button>
			<button (click)="dashboardSrv.redirect(route)">{{ 'OBJ.view-OBJ' | translate: {field: 'ERM.' + selectedEntity?.toUpperCase() + '.plural' | translate} }}</button>
		</div>
	</div>
</ng-template>
