	<card-app>
		<card-nav-app>
			<product-activity-nav-app 
				[selectedTab]="selectedTab"
				[counts]="counts$ | async"
				(tabSelected)="selectedTab = $event"></product-activity-nav-app>
		</card-nav-app>
		<card-header-app>
		</card-header-app>

		<card-title-app>{{ selectedTab }}</card-title-app>

		<ng-container [ngSwitch]="selectedTab">

			<ng-container *ngSwitchCase="'comments'">
				show comments
			</ng-container>

			<ng-container *ngSwitchCase="'tasks'">
				show tasks
			</ng-container>

		</ng-container>

	</card-app>


		<!-- keeping it here so I remember the component name as it should be comments or smtg
			
			<activity-list-app
			[entity]="product"
			[activities]="product.comments"
			[typeEntity]="typeEntity">
		</activity-list-app> -->