<top-panel-app
	[title]="'Requests'"
	[hasAction]="false">
</top-panel-app>

<sub-panel-app
	[hasFilter]="false"
	[hasSwitch]="false"
	[searchValue]="listSrv.searchValue"
	(search)="listSrv.search($event)">
	<sub-panel-right-item-app>
		<request-sorting-menu-sup
			[currentSort]="listSrv.currentSort"
			(sortFromMenu)="listSrv.sortFromMenu($event)">>
		</request-sorting-menu-sup>
	</sub-panel-right-item-app>
</sub-panel-app>

<request-list-view-sup
	[rows]="listSrv.items$ | async"
	[pending]="listSrv.pending"
	[selection]="listSrv.selection$ | async"
	(bottomReached)="listSrv.loadMore()"
	(select)="listSrv.selectOne($event)"
	(selectAll)="listSrv.selectAll($event)"
	(sort)="listSrv.sort($event)"
	(unselect)="listSrv.unselectOne($event)"
	(unselectAll)="listSrv.unselectAll()">
</request-list-view-sup>

<selection-bar-app
	[isShown]="(listSrv.selection$ | async).size > 0"
	[selection]="listSrv.selection$ | async"
	(close)="listSrv.unselectAll()">
</selection-bar-app>
