<header-list-app
	[title]="'Requests'"
	[hasAction]="false">
</header-list-app>

<controller-table-app>
	<controller-table-quick-filters-app></controller-table-quick-filters-app>
	<controller-table-quick-actions-app></controller-table-quick-actions-app>
	<controller-table-view-switcher-app></controller-table-view-switcher-app>
</controller-table-app>

<request-table-sup
	class="no-padding"
	[rows]="listSrv.items$ | async"
	[pending]="listSrv.pending"
	[selection]="selectionSrv.selection$ | async"
	[total]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(select)="selectionSrv.selectOne($event)"
	(selectAll)="selectionSrv.selectAll($event)"
	(sort)="listSrv.sort($event)"
	(unselect)="selectionSrv.unselectOne($event)"
	(unselectAll)="selectionSrv.unselectAll()">
</request-table-sup>

<selection-bar-app
	[isShown]="(selectionSrv.selection$ | async).size > 0"
	[selection]="selectionSrv.selection$ | async"
	(close)="selectionSrv.unselectAll()">
</selection-bar-app>
