
:host {
	display: block;
	width: 190px;
	flex-shrink: 0;
	&:hover {
		background: var(--color-secondary-light);
		.status-selector {
			background: white;
		}
	}
}

.no-shrink {
	flex-shrink: 0;
}


.top {
	height: 290px;
	padding: 0 var(--spacing-s);
	padding-top: var(--spacing-s);
	box-sizing: border-box;
	img-app {
		width: 175px;
		height: 174px;
		border-radius: var(--border-radius);
		overflow: hidden;
	}

	.name {
		margin-top: var(--spacing-ms);
		margin-bottom: var(--spacing-xs);
		height: 18px;
		color: var(--color-txt-primary);
		font-weight: 600;
	}

	.description-container {
		width: 100%;
		overflow: hidden;
		display: -webkit-box;
		/* autoprefixer: ignore next */
		-webkit-line-clamp: 3;
		/* autoprefixer: ignore next */
		-webkit-box-orient: vertical;
	}

	.description {
		overflow-wrap: break-word;
		font-size: var(--font-size-s);
		color: var(--color-txt-secondary);
	}
}

.bottom {

	h3 {
		margin: 22px 0 6px 0;
		height: 20px;
	}

	div {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: flex;
		align-items: center;
		height: 32px;
		border-bottom: 1px solid var(--color-divider);
		color: var(--txt-strong);
	}

	.status-selector {
		padding-top: var(--spacing-ms);
		align-items: center;
		// padding-bottom: var(--spacing-ms);
		border-bottom: none;
	}

}