<p>status works!</p>

<div class="flex">
	<card-app class="mg-l">
		<card-title-app>Status Selectors</card-title-app>
		<ol>
			<ul>
				// select typename
			</ul>
			<ul>
				// select entity
			</ul>
		</ol>
		<p>this "dropdown" is different from the other selectors.</p>
		<ul>
			<li>
				pick a status:
				<status-selector-app typename="Product" [displayStep]="true"></status-selector-app>
			</li>
			<li>
				pick or next:
				<status-selector-app typename="Product" [displayStep]="true"></status-selector-app>
			</li>
		</ul>
	</card-app>
</div>
