<label *ngIf="label">{{label}}</label>
<searchable-list-app
	(search)="onSearch($event)"
	*ngIf="panelVisible"
	(clickOutside)="closePanel($event)">

	<input-checkbox-list-app
		(itemAdded)="itemAdded.emit($event)"
		(itemRemoved)="itemRemoved.emit($event)"
		(update)="onUpdate($event)"
		[choices]="filteredChoices"
		[value]="value"></input-checkbox-list-app>

</searchable-list-app>
<div class="flex articles">
	<button (click)="showPanel()" class="pointer plus small"> + </button>
	<ng-container *ngFor="let choice of choices">
		<article *ngIf="check(choice)">
			{{ choice.name }}
		</article>
	</ng-container>
</div>
