:host {
	display: block;
	padding-bottom: 160px;
}

.content {
	justify-content: center;

	.left {
		width: 836px;
		margin-right: var(--spacing-l);
	}
	.right {
		width: 340px;
	}

	.left, .right {
		& > *:not(:last-child) {
			margin-bottom: var(--spacing-l);
		}

		divider-app {
			margin: var(--spacing-l) 0;
		}

	}
}
