<div *ngIf="supplier$ | async as suplier; else spinner" class="content flex">
	<div class="left">
		<!-- supplier-resume -->
		<supplier-resume-app
			[supplier]="supplier"
			(updated)="update($event)">
		</supplier-resume-app>
		<!-- products card -->
		<products-card-app
			[products]="products$ | async"
			(addProducts)="openSelectProductDlg(supplier)"
			(viewAll)="goToProducts()">
		</products-card-app>
		<!-- picutres card -->
		<pictures-card-app
			[images]="suplier?.images"
			[entity]="supplier">
		</pictures-card-app>
		<!-- comments -->
		<card-app>
			<card-title-app translate="title.comments"></card-title-app>
			<add-comment-app (added)="sendComment($event)"></add-comment-app>
			<divider-app *ngIf="supplier?.comments?.length"></divider-app>
			<comment-list-app [amountViewMore]="8" [comments]="supplier?.comments"></comment-list-app>
		</card-app>
	</div>
	<div class="right">
		<!-- supplier docket -->
		<!-- supplier info -->
		<!-- supplier rating -->
	</div>
</div>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>