<div *ngIf="supplier$ | async as suplier; else spinner" class="content flex">
	<div class="left">
		<!-- supplier-resume -->
		<!-- products card -->
		<products-card-app
			[products]="products$ | async"
			(addProducts)="openSelectProductDlg(supplier)"
			(viewAll)="goToProducts()">
		</products-card-app>
		<!-- picutres card -->
		<pictures-card-app
			[images]="suplier?.images"
			[entity]="supplier">
		</pictures-card-app>
		<!-- comments -->
	</div>
	<div class="right">
		<!-- supplier docket -->
		<!-- supplier info -->
		<!-- supplier rating -->
	</div>
</div>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>