<controller-table-app>
	<!-- filters -->
	<controller-table-quick-filters-app></controller-table-quick-filters-app>
	<!-- actions -->
	<controller-table-quick-actions-app
		typename="Sample"
	>
	</controller-table-quick-actions-app>
	<!-- switcher -->
	<controller-table-view-switcher-app
	 [hasBoard]="false"
	 [hasCard]="false"></controller-table-view-switcher-app>
</controller-table-app>

<samples-table-app
	[rows]="listHelper.filteredItems$ | async"
	[selection]="selectionSrv.selection$ | async"
	[pending]="listHelper.pending$ | async"
	(goToPage)="listHelper.loadPage($event)"
	(sort)="listHelper.sort($event)"
	(select)="selectionSrv.selectOne($event, true)"
	(unselect)="selectionSrv.unselectOne($event, true)"
	(selectAll)="selectionSrv.selectAll($event, true)"
	(unselectAll)="selectionSrv.unselectAll()"
	(open)="viewSrv.goToDetails($event)"
	(previewClick)="viewSrv.openPreview($event)"
	(createClick)="dialogCommonSrv.openCreationSampleDialog(undefined, supplier)"
	(delete)="listHelper.delete($event)">
</samples-table-app>


<sample-preview-app
	*ngIf="viewSrv.previewOpen"
	[sample]="viewSrv.previewed"
	(close)="viewSrv.closePreview()"
	(clickOutside)="viewSrv.closePreview()">
</sample-preview-app>


<side-panel-app *ngIf="viewSrv.filterPanelOpen">
	<filters-app
		[filterTypes]="filterTypes"
		(clickOutside)="viewSrv.closeFilterPanel()"
		(close)="viewSrv.closeFilterPanel()">
	</filters-app>
</side-panel-app>

<sample-selection-bar-app
	(deleteSelected)="listHelper.deleteSelected()">
</sample-selection-bar-app>
