<selection-bar-app
	[isShown]="isShown"
	[count]="count"
	entityType="product"
	[selection]="selection"
	(close)="close.emit()">
	<div class="flex elements-container">
		
		<!-- Request supplier -->
		<button class="icon-with-text vibrant flexCenter request-supplier with-name" (click)="createRequest.emit()">
			<icon-app name="envelope"></icon-app>
			<span class="capitalize" translate="button.contact-supplier"></span>
		</button>

		<!-- Mass edit -->
		<button class="icon-with-text secondary flexCenter with-name" (click)="massEdit.emit()">
			<icon-app name="note"></icon-app>
			{{ 'button.edit' | translate }}
		</button>

		<!-- Project -->
		<button class="icon-with-text secondary flexCenter with-name" (click)="addProject.emit()">
			<icon-app name="project"></icon-app>
			<span>Project</span> <!-- Todo: add translation -->
		</button>

		<!-- Compare products -->
		<button class="icon-with-text secondary flexCenter with-name" (click)="compareProducts.emit()">
			<icon-app name="compare"></icon-app>
			<span>Compare</span> <!-- Todo: add translation --> 
		</button>

		<!-- Export -->
		<button class="icon-with-text secondary flexCenter with-name" (click)="export.emit()">
			<icon-app name="export"></icon-app>
			<span translate="button.export"></span>
		</button>

		<!-- 3 dots menu -->
		<context-menu-app>
			<!-- trigger -->
			<context-menu-trigger-app>
				<button class="icon light">
					<icon-app name="dots-vertical" size="m"></icon-app>
				</button>
			</context-menu-trigger-app>

			<!-- items -->
			<context-menu-item-app (click)="requestTeamFeedback.emit()" translate="button.request-team-feedback"></context-menu-item-app>
			<context-menu-item-app (click)="archiveProducts.emit()" translate="button.archive-products"></context-menu-item-app>
			<context-menu-item-warn-app (click)="deleted.emit()" translate="button.delete"></context-menu-item-warn-app>
		</context-menu-app>
	</div>
</selection-bar-app>