.elements-container > * {
	margin-right: var(--spacing-ms);
}

button {
	color: var(--color-bg-dark);
	min-width: unset;

	&.with-name icon-app {
		margin-right: var(--spacing-s);
	}

	&.request-supplier {
		background-color: var(--color-purple);
		color: var(--color-bg);

		icon-app {
			color: var(--color-bg);
		}
	}
}

icon-app {
	color: var(--color-txt-secondary);
}

context-menu-item-app {
	display: flex;
	align-items: center;

	icon-app {
		margin-right: var(--spacing-s);
	}
}