<selection-bar-app typename="Product">
	<!-- Request supplier -->
	<button class="icon-with-text vibrant mg-right-ms" (click)="createRequest()">
		<icon-app name="envelope"></icon-app>
		<span class="capitalize" translate="button.contact-supplier"></span>
	</button>

	<divider-app class="mg-right-ms" [vertical]="true" [height]="24"></divider-app>

	<!-- Mass edit -->
	<button class="icon-with-text light mg-right-ms" (click)="massEdit()">
		<icon-app name="note"></icon-app>
		<span translate="button.edit"></span>
	</button>

	<ng-container *ngIf="!projectProductSelection; else projectProduct">
		<!-- Project -->
		<button class="icon-with-text light mg-right-ms" (click)="addProductsToProjects()">
			<icon-app name="project"></icon-app>
			<span translate="button.project"></span>
		</button>
	</ng-container>

	<ng-template #projectProduct>
		<!-- Remove from project -->
		<button class="icon-with-text light mg-right-ms" (click)="removeFromProject()">
			<icon-app name="close-square"></icon-app>
			<span>Remove from project</span>
		</button>
	</ng-template>

	<!-- Compare products -->
	<button class="icon-with-text light mg-right-ms" (click)="compareProducts()">
		<icon-app name="compare"></icon-app>
		<span translate="button.compare"></span>
	</button>

	<!-- Export -->
	<button class="icon-with-text light mg-right-ms" (click)="exportProducts()">
		<icon-app name="export"></icon-app>
		<span translate="button.export"></span>
	</button>

	<!-- 3 dots menu -->
	<context-menu-app>
		<!-- trigger -->
		<context-menu-trigger-app>
			<button class="icon light mg-right-ms">
				<icon-app name="dots-vertical" size="m"></icon-app>
			</button>
		</context-menu-trigger-app>

		<!-- items -->
		<context-menu-item-app
			(click)="requestTeamFeedback()"
			translate="button.request-team-feedback"
		>
			<div class="icon-box square flexCenter mg-right-s">
				<icon-app name="request-quotation" size="s"></icon-app>
			</div>
			<span translate="button.request-feedback"></span>
		</context-menu-item-app>

		<context-menu-item-app (click)="archiveProducts()" translate="button.archive-products">
			<div class="icon-box square flexCenter mg-right-s">
				<icon-app name="archive" size="s"></icon-app>
			</div>
			<span translate="button.archive"></span>
		</context-menu-item-app>

		<context-menu-item-warn-app (click)="deleteSelectedProducts()" translate="button.delete">
			<div class="icon-box square flexCenter mg-right-s">
				<icon-app name="delete" size="s"></icon-app>
			</div>
			<span translate="button.delete"></span>
		</context-menu-item-warn-app>
	</context-menu-app>
</selection-bar-app>
