/**

Imported as global css in app/theming/styles,

the css of dynamic form can take many form and since there is many components at play
it becomes really hard to maintain the styling in separate files. We need an overall css
for the whole thing.

*/

/** overriding the default padding of form field */
[override] dynamic-form-app {
	form-field-app {
		padding-bottom: 0;
		flex-grow: 1;
	}
}

dynamic-form-app {

	field-cell-app {
		display: block;
		cursor: pointer;
		&.twoLine {
			input {
				padding: 3px;
				font-size: var(--font-size-l);
			}
			editable-label-app {
				min-width: 20px;
				font-size: var(--font-size-l);
			}

		}
		&.oneLine {
			input {
				padding: 4px 1px 4px 6px;
				border: none;
			}
		}
	}
}



