.workflowCtnr {
  height: 100%;
}

.kanbanCtnr {
  height: calc(100% - 110px);
  display: flex;
}

icon-app {
	color: var(--color-txt-secondary);
	font-size: var(--font-size-xl);
}

icon-app[name="trash-bin"] {
	font-size: var(--font-size-xxl);
}
selection-bar-app {
	right: 0;
}

action-bar-app {
	button.icon {
		margin-right: var(--spacing-ms);
	}
}