<div *ngIf="project$ | async as project">
	<top-panel-app
		[title]="project.name"
		[buttonName]="'Update Products'"
		[subtitles]="['Projects', project.name, 'Kanban View']"
		(buttonClick)="openFindProductDlg()">
	</top-panel-app>

	<workflow-kanban-app
		[statuses]="statuses$ | async"
		[contextualMenu]="contextualMenu"
		[card]="card"
		[selectedItems]="selected$ | async"
		[heightOffset]="12"
		(itemDropped)="onUpdateProductStatus($event)"
		(selectItem)="onItemSelected($event)"
		(unselectItem)="onItemUnselected($event)"
		(selectAllItems)="onAllItemsSelected($event)"
		(unselectAllItems)="onAllItemsUnselected($event)">
	</workflow-kanban-app>

	<ng-template #card let-row="row" let-status="status" let-dragInProgress="dragInProgress">
		<kanban-item-card-app class="marginSmall" [title]="row?.name"
			[status]="row?.status?.name"
			[favorite]="row?.favorite"
			[tags]="row?.tags"
			[price]="row?.price"
			[minimumOrderQuantity]="row?.minimumOrderQuantity"
			[category]="status?.category"
			[description]="row?.description ? row.description : 'No description'"
			[image]="row?.images?.length > 0 ? (row | image:'m') : null"
			[person]="row?.createdBy"
			[link]="'/product/details/' + row?.id + '/general'"
			[product]="row"
			[dragInProgress]="dragInProgress">
		</kanban-item-card-app>
  </ng-template>

	<ng-template #contextualMenu let-row="row">
		<context-menu-app xPosition="-171" yPosition="20">
			<context-menu-trigger-app>
				<button class="icon light">
					<icon-app fontSet="svg" name="3-dots-vertical" size="m"></icon-app>
				</button>
			</context-menu-trigger-app>
			<context-menu-item-app (click)="openAddToProjectDialog(row)">
				<div class="border">Add to project</div>
			</context-menu-item-app>
			<context-menu-item-app (click)="openRequestFeedbackDialog(row)">
				<div class="border">Request feedback</div>
			</context-menu-item-app>
			<context-menu-item-app (click)="openExportDialog(row)">
				<div class="border">Export</div>
			</context-menu-item-app>
			<context-menu-item-app (click)="deleteSelected(row)">
				<div class="border">Delete</div>
			</context-menu-item-app>
		</context-menu-app>
</ng-template>

	<selection-bar-app
		*ngIf="(selected$ | async).size > 0"
		[selection]="selected$ | async"
		[hasDelete]="false"
		(close)="resetSelection()"
		(delete)="deleteSelected()">

		<action-bar-app>
			<button class="icon light" (click)="openAddToProjectDialog()">
				<icon-app fontSet="svg" name="folder" size="m" ></icon-app>
			</button>
			<button class="icon light">
				<icon-app fontSet="svg" name="3-dots-vertical" size="m"></icon-app>
			</button>
			<button class="icon light" (click)="deleteSelected()">
				<icon-app fontSet="svg" name="trash-bin" size="m"></icon-app>
			</button>
		</action-bar-app>
	</selection-bar-app>
</div>
