<div class="workflowCtnr" *ngIf="project$ | async as project">

	<top-panel-app
		[title]="project.name"
		buttonName="Add Products"
		[subtitles]="['Projects', project.name, 'Kanban View']">
	</top-panel-app>

	<kanban-app
		[cols]="columns$ | async"
		[cardTemplate]="card"
		[selection]="selected$ | async"
		(drop)="updateProductStatus($event)"
		(multipleDrop)="updateProductsStatus($event)"
		(selectColumn)="onColumnSelected($event)"
		(unselectColumn)="onColumnUnselected($event)">
	</kanban-app>

	<ng-template #card let-data="data">
		<product-card-app
			[product]="data"
			[enablePreviewLink]="true"
			[checked]="(selectionSrv.selection$ | async).has(data.id)"
			(clickImage)="viewSrv.openPreview(data)"
			(select)="selectionSrv.selectOne($event, true)"
			(unselect)="selectionSrv.unselectOne($event, true)">
		</product-card-app>
	</ng-template>

	<selection-bar-app
		[isShown]="(selectionSrv.selection$ | async).size > 0"
		[selection]="selectionSrv.selection$ | async"
		[hasDelete]="false"
		(close)="selectionSrv.unselectAll()"
		(delete)="dataSrv.deleteSelected()">

		<action-bar-app
			[favorite]="selectionSrv.allSelectedFavorite"
			[multiple]="true"
			(onFavorite)="dataSrv.onFavoriteAllSelected()"
			(onUnfavorite)="dataSrv.onUnfavoriteAllSelected()"
			(liked)="dataSrv.onMultipleThumbUp($event)"
			(disliked)="dataSrv.onMultipleThumbDown($event)">

			<button class="icon light" (click)="openAddToProjectDialog()">
				<icon-app name="folder-light" fontSet="svg"></icon-app>
			</button>
			<button class="icon light" (click)="dataSrv.deleteSelected()">
				<icon-app name="trash-bin"></icon-app>
			</button>
		</action-bar-app>
	</selection-bar-app>
</div>

<product-preview-app
  *ngIf="viewSrv.previewOpen"
	[product]="viewSrv.previewed"
  (close)="viewSrv.closePreview()"
  (clickOutside)="viewSrv.closePreview()">
</product-preview-app>
