<div *ngIf="project$ | async as project">
	<top-panel-app
		[title]="project.name"
		[buttonName]="'Add Product'"
		[subtitles]="['Projects', project.name, 'Kanban View']"
		(buttonClick)="openFindProductDlg()">
	</top-panel-app>

	<workflow-kanban-app
		[statuses]="statuses$ | async"
		[contextualMenu]="contextualMenu"
		(itemDropped)="onUpdateProductStatus($event)"
		(selectItem)="onItemSelected($event)"
		(unselectItem)="onItemUnselected($event)">
	</workflow-kanban-app>

	<ng-template #contextualMenu let-row="row">
		<menu class="z-4">
			<menuitem class="pointer flexCenter" (click)="openAddToProjectDialog(row)" i18n="product menu | add to project">
				<div class="border">Add to project</div>
			</menuitem>
			<menuitem class="pointer flexCenter" (click)="openRequestFeedbackDialog(row)" i18n="product menu | go to request feedback">
				<div class="border">Request feedback</div>
			</menuitem>
			<menuitem class="pointer flexCenter" (click)="openExportDialog(row)" i18n="product menu | export">
				<div class="border">Export</div>
			</menuitem>
			<menuitem class="pointer flexCenter" (click)="deleteSelected()" i18n="product menu | export">
				<div class="border">Delete</div>
			</menuitem>
		</menu>
	</ng-template>

	<selection-bar-app
		*ngIf="(selected$ | async).size > 0"
		[selection]="selected$ | async"
		[hasDelete]="false"
		(close)="resetSelection()"
		(delete)="deleteSelected()">

		<action-bar-app>
			<button class="icon light" (click)="openAddToProjectDialog()">
				<icon-app fontSet="svg" name="folder" size="m" ></icon-app>
			</button>
			<button class="icon light">
				<icon-app fontSet="svg" name="3-dots-vertical" size="m"></icon-app>
			</button>
			<button class="icon light" (click)="deleteSelected()">
				<icon-app fontSet="svg" name="trash-bin" size="m"></icon-app>
			</button>
		</action-bar-app>
	</selection-bar-app>
</div>
