

:host {
	font-size: var(--font-size-icon-l);
}

icon-app {
	margin-top: var(--spacing-xs);
	cursor: pointer;
}

.bell-color-primary-contrast {
	color: var(--color-primary-contrast);
	cursor: pointer;
}

.notif-badge {
	background-color: var(--color-warn);
	width: 20px;
	height: 18px;
  color: var(--color-primary-contrast);
	padding-bottom: var(--spacing-xxs);
	position: absolute;
	right: -4px;
	top: -6px;
  font-size: var(--font-size-s);
	text-align: center;
	cursor: pointer;
}

notif-layout-app {
	position: absolute;
	top: 0;
	left: 0;
}