
<div>
	<icon-app
		name="bell"
		class="bell-color-primary-contrast">
	</icon-app>
	<span class="notif-badge circle flexCenter" *ngIf="notifications?.unread > 0">
		{{notifications?.unread}}
	</span>
</div>

<notif-layout-app
	[isOpen]="notifActivitySrv.isPanelOpen"
	[pendingForAnimation]="pendingForAnimation">
	<notif-panel-app
		[results] = "notifications?.results"
		(clickOutside)="closePanel()"
		(endAnimation)="onAnimationEnd()"
		(startAnimation)="onAnimationStart()">
	</notif-panel-app>
</notif-layout-app>

