:host {
	display: block;
	margin-top: var(--spacing-s);
	display: flex;
	flex-wrap: wrap;
	.square {
		height: 52px;
		width: 52px;
		border-radius: var(--border-radius-s);
		margin-bottom: var(--spacing-s);
		margin-right: var(--spacing-s);
	}
}

.pending {
	opacity: 0.3;
}

.plusBtn {
	background: var(--color-primary-light);
	color: var(--color-txt-secondary);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	line-height: 1;
}
