<!-- move next -->
<button
	*ngIf="images?.length > 1"
	class="icon big move-btn move-btn-next pointer"
	(mousedown)="next.emit($event)">
	<icon-app name="fat-angle-right"></icon-app>
</button>

<!-- move previous -->
<button
	*ngIf="images?.length > 1"
	class="icon big move-btn move-btn-previous next pointer"
	(mousedown)="previous.emit($event)">
	<icon-app name="fat-angle-left"></icon-app>
</button>

<div class="ctnr square pointer"
	[class.mg-right-s]="i <= 3"
	[ngStyle]="getStyle()"
	*ngFor="let img of getPreviews(); let i = index; trackBy: trackByFn"
	(click)="imageClick.emit(img.index)">
	<div *ngIf="(isDeletable && images.length <= 5) || (isDeletable && i < 4)" class="delete flexCenter pointer" (click)="doDelete($event, img)">
		<icon-app name="close"></icon-app>
	</div>
	<!-- we use this to place a border, otherwise the image would resize or the content itself creating a wonky display -->
	<div *ngIf=" (i === selectedIndex) || (selectedIndex > 4 && i > 3)" class="selected"></div>
	<img-app
		[ngClass]="{ 'pending': img.image.pending }"
		[image]="img.image"
		size="xl">
	</img-app>
</div>
