:host {
	display: block;
	margin-top: var(--spacing-s);
	display: flex;
	flex-wrap: wrap;
	&.overflow {
		height: 60px;
		overflow: overlay;
	}
	.square {
		overflow: hidden;
		border-radius: var(--border-radius-s);
		margin-bottom: var(--spacing-s);
		margin-right: var(--spacing-s);
		img-app {
			min-height: 100%;
			min-width: 100%;
		}
	}
}

.product-images {
	height: 50px;
	display: flex;
	width: 100%;
	overflow: scroll;
}

.pending {
	opacity: 0.3;
}

.plusBtn {
	background: var(--color-secondary);
	color: var(--color-txt-secondary);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 32px;
	line-height: 1;
}
