kanban-item-app {
  display: block;
  position: relative;

  .numberBadge {
    display: none;
    background: var(--color-primary);
    color: white;
    font-weight: bold;
    position: absolute;
    top: -12px;
    right: -12px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
}




.cdk-drag-preview {
  .numberBadge {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
