
<card-app>
	<h3 class="mg-l">Icons</h3>
	<p>
		By default icons inherit the font size
		<small>name="product"</small>
	</p>
	<div class="flex">
		<icon-app name="product"></icon-app>
	</div>

	<p>
		You can give a number in the [size] input
		<small>name="product" [size]="24"</small>
	</p>
	<div class="flex">
		<icon-app name="product" [size]="24"></icon-app>
	</div>

	<p>
		Or you can give one of our default size "s", "m" or "l"
		<small>name="product" [size]="'s'" || [size]="'m'" ||  [size]="'l'" </small>
	</p>

	<div class="flex">
		<icon-app name="product" [size]="'s'"></icon-app>
		<icon-app name="product" [size]="'m'"></icon-app>
		<icon-app name="product" [size]="'l'"></icon-app>
	</div>
</card-app>


<card-app>
	<h3 class="mg-l">Logos</h3>

	<b>Color</b> <br>

	<p>
		By default if a type is specified the color associated with the [type] will be used <br>
		<small>type="product" | "supplier" | ... (use type color)</small>
	</p>

	<div class="flex">
		<logo-app *ngFor="let type of types" [type]="type"></logo-app>
	</div>

	<p>
		You can however override the color by specifying the [color] attribute
		<br>
		<small>type="product" color="primary" || color="secondary" || color="vibrant" </small>
	</p>
	<div class="flex">
		<logo-app type="product" color="primary"></logo-app>
		<logo-app type="product" color="secondary"></logo-app>
		<logo-app type="product" color="vibrant"></logo-app>
	</div>

	<br><br>
	<b>Circle</b> <br>
	<p>
		<small>type="product" [circle]="true" color="accent"</small>
	</p>
	<logo-app type="product" [circle]="true" color="accent"></logo-app>

	<br><br>
	<b>Circle</b> <br>


	<p>
		You can use the [circle] input to make it a circle
		<small>type="product" | "comment" | "task" [circle]="true" </small>
	</p>
	<div class="flex">
		<logo-app type="product" [circle]="true"></logo-app>
		<logo-app type="comment" [circle]="true"></logo-app>
		<logo-app type="task" [circle]="true"></logo-app>
	</div>

	<br><br>
	<b>Size</b> <br>
	<p>
		You can specify one of the [size] "s", "m" or "l"
		<small>type="product" size="s" | size="m" | size="l"</small>
	</p>
	<div class="flex">
		<logo-app type="product" size="s"></logo-app>
		<logo-app type="product" size="m"></logo-app>
		<logo-app type="product" size="l"></logo-app>
	</div>

	<p>
		You can however select specific sizes for [backgroundSize] and [iconSize]
		<small>type="product" [backgroundSize]="60" [iconSize]="35"</small>
	</p>
	<div class="flex">
		<logo-app type="product" [backgroundSize]="60" [iconSize]="35"></logo-app>
	</div>

	<br><br>
	<b>Image</b> <br>

	<p>
		If you specify a [logo] it will be used
		<small>type="product" [logo]="imageMock"</small>
	</p>

	<logo-app type="product" [logo]="imageMock"></logo-app>

	<br><br>
	<b>Icon</b> <br>

	<p>
		You can set a specific icon
		<small>icon="star" color="accent"</small>
	</p>
	<logo-app icon="star" color="accent"></logo-app>


	<br><br>
	<b>Initials</b> <br>

	<p>
		You can use initials logo: instead of the default icon it will display the initials of a name
		<small>name="Supplier with name" type="supplier" size="m" | size="l" | size="xl"</small>
	</p>
	<div class="flex">
		<initials-logo-app [type]="'SUPPLIER' | erm: 'singular'" [name]="'Supplier with name'"></initials-logo-app>
		<initials-logo-app [type]="'SUPPLIER' | erm: 'singular'" [name]="'Supplier with name'" size="l"></initials-logo-app>
		<initials-logo-app [type]="'SUPPLIER' | erm: 'singular'" [name]="'Supplier with name'" size="xl"></initials-logo-app>
	</div>
</card-app>