
<div class="left flexVAlign">

	<search-bar-app
		*ngIf="panels.includes('search')"
		searchType="short"
		[formControl]="searchControl"
		[inputFocus]="inputFocus"
		[placeHolder]="'placeholder.type-to-search' | translate"
		(focus)="onFocusSearch($event)"
		(search)="search.emit($event)">
	</search-bar-app>

	<button
		*ngIf="panels.includes('filters')"
		class="icon light"
		(click)="showFilters.emit()"
		translate="button.show-filters">
		<icon-app name="filter" size="m"></icon-app>
	</button>

	<divider-app [vertical]="true"></divider-app>

	<span class="capitalize entities-count">
		{{ count }} {{ count === 1 ? ('ERM.' + checkEntityType(entityType.toUpperCase()) + '.singular' | translate)
			: ('ERM.' + checkEntityType(entityType?.toUpperCase()) + '.plural' | translate) }}
	</span>

</div>

<div class="right flexVAlign">

	<!-- <ng-content select="controller-list-actions-app"></ng-content> -->

	<divider-app [vertical]="true"></divider-app>

	<button
		*ngIf="quickFilters.includes('assignee')"
		class="icon-with-text light mg-left-ms"
		(click)="toggleAssignedToMe()">
		<checkbox-app class="mg-right-xs" [checked]="isAssignedToMeChecked" [size]="15"></checkbox-app>
		{{ 'label.assigned-to-me' | translate }}
	</button>

	<button
		*ngIf="quickFilters.includes('archived')"
		class="icon-with-text light mg-left-ms"
		(click)="toggleArchived()">
		<checkbox-app class="mg-right-xs" [checked]="isArchivedChecked" [size]="15"></checkbox-app>
		{{ 'label.show-archived' | translate }}
	</button>

	<button
		*ngIf="quickFilters.includes('completed')"
		class="icon-with-text light mg-left-ms"
		(click)="toggleCompleted()">
		<checkbox-app class="mg-right-xs" [checked]="isCompletedChecked" [size]="15"></checkbox-app>
		{{ 'label.show-completed' | translate }}
	</button>

	<button
		*ngIf="quickFilters.includes('createdBy')"
		class="icon-with-text light mg-left-ms"
		(click)="toggleCreatedByMe()">
		<checkbox-app class="mg-right-xs" [checked]="isCreatedByMeChecked" [size]="15"></checkbox-app>
		{{ 'label.show-created-by-me' | translate }}
	</button>

	<divider-app [vertical]="true"></divider-app>

	<button class="icon light mg-left-ms">
		<icon-app name="export" size="m"  toolTip toolTipMessage="Export"></icon-app>
	</button>

	<button class="icon light mg-left-ms mg-right-ms">
		<icon-app name="sort" size="m"  toolTip toolTipMessage="Sort"></icon-app>
	</button>

	<divider-app [vertical]="true"></divider-app>

	<view-switcher-app 
		*ngIf="panels.includes('view-switcher')" 
		class="mg-left-ms"
		[switchContent]="switchContent" 
		[view]="view"
		(viewChange)="viewChange.emit($event)">
	</view-switcher-app>

</div>