
<div *ngFor="let category of getGroupedProducts(); first as first; index as i; trackBy: trackByFn"
	class="category-section">
	<div *ngIf="getGroupedValue(category)" class="section-title">
		<div class="mg-bottom-ms">
			{{ getGroupedValue(category) }}
		</div>
		<divider-app></divider-app>
	</div>
	<div class="products-section">
		<ng-container *ngFor="let product of category.value; index as i; trackBy: trackById">
			<product-grid-card-app
				[product]="product"
				[selected]="selectionSrv.selection.has(product?.id)"
				(open)="open.emit(product.id)"
				(preview)="previewClick.emit(product)"
				(select)="select.emit(product)"
				(unselect)="unselect.emit(product)"
				(update)="update.emit($event)">
			</product-grid-card-app>
			<!-- (liked)="liked.emit(product)" -->
			<!-- (disliked)="disliked.emit(product)" -->
		</ng-container>
	</div>
</div>

