:host {
	display: flex;
	flex-direction: column;
	padding: 0 110px;
	height: 100%;
}

.category-section {
	width: 100%;
	padding: 0 auto;
	// background: white;
}

.products-section {
	width: 100%;
	display: grid;
	column-gap: var(--spacing-xl);
	grid-template-columns: repeat(auto-fit, 200px);
}

.section-title {
	font-weight: bold;
	margin: var(--spacing-ms) 0 var(--spacing-l) 0;
	font-size: var(--font-size-xxxl);
	text-transform: capitalize;
	color: var(--color-txt-primary);
}

product-grid-card-app {
	margin-bottom: var(--spacing-l);
}