:host {
	display: block;
	height: 104px;
	box-sizing: border-box;
	background: var(--color-bg);
	border-radius: var(--border-radius);
	box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.02);
	border: solid 1px var(--color-secondary);
	padding: var(--spacing-s);
	cursor: pointer;


	&.highlight-checked {
		background-color: rgba(69, 173, 255, 0.1);
		border: solid 1px var(--color-primary);
		border-radius: 1px;
	}
}

$image-width: 88px;

.card-container {
	height: 100%;
	width: 100%;

	&:hover {
		.check, .preview {
			visibility: visible;
		}
	}
}

.left {
	position: relative;
	width: $image-width;
	padding-right: var(--spacing-ms);

	.image, .preview {
		height: 100%;
		width: $image-width;
		border-radius: var(--border-radius);
	}

	.check {
		position: absolute;
		left: 4px;
		top: 4px;
		visibility: hidden;
		display: flex;

		&.checked {
			visibility: visible;
		}
	}

	.preview {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		visibility: hidden;
		font-weight: 600;
		color: white;
		cursor: pointer;
	}
}

.right {
	position: relative;
	justify-content: space-between;
	width: calc(100% - #{$image-width} - #{var(--spacing-ms)});

	user-picture-app {
		display: inline-block;
	}

	// title
	.title-section {
		margin-top: var(--spacing-xs);
		margin-bottom: var(--spacing-xxs);

		> *:not(:last-child) {
			margin-right: var(--spacing-s);
		}

		.title {
			max-width: calc(100% - 25px); // heart width + margin
			width: 107px;
			font-weight: 600;
			height: 18px;
			font-size: var(--font-size-m);
			color: var(--color-bg-dark);
		}

		.icon-heart {
			color: var(--color-warn);
			font-size: var(--font-size-xs);
			cursor: default;
		}
	}

	.information-section, .thumb-section {
		font-size: var(--font-size-s);
	}

	// information
	.information-section {
		margin-top: var(--spacing-xs);
		line-height: 1.1em;
    height: 28px;
    overflow: hidden;

		.price-container {
			color: var(--color-primary);
		}
	}

	//thumb

	.card-footer {
		position: absolute;
    width: 100%;
		bottom: 0;

		.product-reference {
			display: inline-block;
			margin-left: 4px;
			line-height: 24px;
			font-size: var(--font-size-s);
			color: var(--color-txt-secondary);
		}

		.vote-star-container {
			cursor: pointer;
			border-radius: var(--border-radius);
			margin-right: var(--spacing-xs);
			padding: var(--spacing-xs);

			icon-app {
				display: inline-block;
				margin-right: var(--spacing-xs);
			}
		}

		.vote-star-value {
			width: 19px;
			height: 18px;
			font-size: var(--font-size-m);
			font-weight: 600;
		}

	}

}
