.selected {
    background: var(--color-primary-dark);
    color: white;
    >[class^="icon-"],
    [class*=" icon-"] {
        &:before {
            color: white;
        }
    }
}

:host {
    border-radius: 2px;
    background: var(--color-bg-switcher);
}

.ctnr {
    // to suppress the shadow from the btn
    overflow: hidden;
}

button {
    height: 40px;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--font-size-default);
    background: var(--color-bg-switcher);
    color: var(--color-txt-primary);
    padding: 0 15px;
    >[class^="icon-"],
    [class*=" icon-"] {
        padding: 0 7px;
        padding-left: 0;
        font-size: 11px;
        &:before {
            color: var(--color-txt-primary);
        }
    }
}

