<h3 i18n>Product Information</h3>

<h5 i18n>General Information</h5>
<ul>

  <li>
    <editable-field-app label="Supplier" [value]="product?.supplierId" type="select-entity" (update)="onUpdate('supplierId', $event)">
    </editable-field-app>
  </li>

  <li>
    <editable-field-app label="Category" [value]="product?.categoryId" type="select-entity" (update)="onUpdate('categoryId', $event)">
    </editable-field-app>
  </li>

  <li>
    <editable-field-app label="Name" [value]="product?.name" (update)="onUpdate('name', $event)"> </editable-field-app>
  </li>


  <li>
    <editable-field-app [value]="product?.price" type="price" (update)="onUpdate('price', $event)" label="Price">
    </editable-field-app>
  </li>
  <li>
    <editable-field-app label="MOQ" [value]="product?.minimumOrderQuantity" type="number" (update)="onUpdate('minimumOrderQuantity', $event)">
    </editable-field-app>
  </li>

  <li>
    <editable-field-app label="Found at" [value]="product?.eventId" type="select-entity" (update)="onUpdate('eventId', $event)">
    </editable-field-app>
  </li>

  <li>
    <editable-field-app label="Description" [value]="product?.description" type="textarea" (update)="onUpdate('description', $event)">
    </editable-field-app>
  </li>
</ul>

<h5 i18n>Shipping & Trading</h5>

<ul>
  <li>
    <editable-field-app label="Inco Terms" [value]="(product?.supplierId | entity: 'supplier' | async)?.incoTerm" type="text"
      (update)="onUpdate('description', $event)">
    </editable-field-app>
  </li>
</ul>
