
<div>
  <label-app translate="header.supplier"></label-app>
</div>

<div>
  <label-app translate="header.price"></label-app>
</div>

<div>
  <label-app translate="header.moq"></label-app>
</div>

<div>
  <label-app translate="header.moq-description"></label-app>
</div>

<div>
  <label-app translate="text.category"></label-app>
</div>

<div>
  <label-app translate="header.tags"></label-app>
</div>

<h3 translate="text.packaging"></h3>

<div>
  <label-app translate="text.carton-size"></label-app>
</div>

<div>
  <label-app translate="text.master-carton"></label-app>
</div>

<div>
  <label-app translate="text.pcs-per-master"></label-app>
</div>

<h3 translate="text.trading"></h3>

<div>
  <label-app translate="text.inco-term"></label-app>
</div>

<div>
  <label-app translate="text.harbour"></label-app>
</div>