:host {
	display: block;
	background: white;
	width: 424px;
	padding-top: 66px; // padding for the position fix top bar
	padding-bottom: 84px; // padding for the position fix of the comment input
	overflow: overlay;

	position: absolute;
	bottom: var(--spacing-s);
	z-index: var(--z-card-container);
	overflow-x: hidden;
	overflow-y: auto;
	box-sizing: border-box;
	height: 100vh; // this way we perserve the ratio and the margin otp
	top: 0px;

  box-shadow: 0 0 24px 0 rgba(163, 175, 198, 0.2);

	&.alignRight {
		right: 0;
	}
	&.alignLeft {
		left: 0;
	}
	&::-webkit-scrollbar { width: 0 !important } // we make invisible the scrollbar
}

.scrollable {
	position: relative;
}

.tab-container {
	margin: var(--spacing-ms);
	margin-bottom: var(--spacing-none);
	margin-top: var(--spacing-l);
}

.logo-transparent {
	height: 50px
}

.white-bg {
	// so for some reason the margin top when scrolling the content its not activated until we add this line
	padding-top: 1px;
	border-top-left-radius: var(--border-radius-l);
	border-top-right-radius: var(--border-radius-l);
	background: white;
}
