<div #top>
	<ng-content select="preview-banner-app"></ng-content>
	<ng-content select="preview-header-app"></ng-content>
	<div *ngIf="tab1" class="flexStart tab-container">
		<ng-content select="preview-tab-app"></ng-content>
	</div>
	<divider-app *ngIf="tab1"></divider-app>
</div>
<div class="scrollable">
	<div *ngIf="hasLogo" class="logo-transparent"></div>
	<div class="white-bg">
		<ng-content select="preview-section-app"></ng-content>
		<ng-content select="preview-comment-app"></ng-content>
	</div>
</div>
