<div class="flex settings">
	<sidenav-app
		navTitle="settings"
		headerIcon="company"
		[headerTitle]="teamName"
		[headerSubTitle]="companyName">
		<!-- settings -->
		<sidenav-item-group-app groupTitle="settings">

			<sidenav-item-app
				link="/settings/profile"
				icon="location"
				name="my profile">
			</sidenav-item-app>

			<sidenav-item-app
				link="/settings/team/members"
				icon="team"
				name="my team"
				i18n="@@team-members">
			</sidenav-item-app>

			<sidenav-item-app
				link="/settings/company"
				icon="company"
				name="my company">
			</sidenav-item-app>
		</sidenav-item-group-app>

		<!-- TOOLS -->
		<sidenav-item-group-app groupTitle="tools">
			<sidenav-item-app
				link="/settings/exports"
				icon="close-pane-bottom"
				name="exports"
				i18n="@@exports">
			</sidenav-item-app>

			<sidenav-item-app
				link="/settings/data-management/category-data"
				icon="data"
				name="data cleansing"
				i18n="@@data-cleansing">
			</sidenav-item-app>

		</sidenav-item-group-app>

		<!-- BILLING -->
		<sidenav-item-group-app groupTitle="billing">
			<sidenav-item-app
				link="/provide-link"
				icon="subscription"
				name="Manage Subscription">
			</sidenav-item-app>

			<sidenav-item-app
				link="/provide-link"
				icon="invoice"
				name="Invoices">
			</sidenav-item-app>

		</sidenav-item-group-app>

	</sidenav-app>

	<div class="settings-page">
		<router-outlet></router-outlet>
	</div>
</div>
