<dialog-app>
  <dialog-header-app>
    Add Products to project
  </dialog-header-app>

  <div *ngIf="items$ | async as products; else spinner">
    <sub-panel-app
      [hasSwitch]="false"
      [hasFilter]="false"
      [buttonIcon]="false"
      (search)="search($event)"
      (smartSearch)="smartSearch($event)">

      <search-autocomplete-app [xPosition]="0" [yPosition]="35" [width]="386">
        <search-autocomplete-item-app *ngFor="let element of (smartSearchFilterElements$ | async)">
          <search-autocomplete-item-content-app
            [selectable]="true" [title]="element.name" [subtitle]="element.type"
            [checked]="element.checked" [icon]="element.type">
          </search-autocomplete-item-content-app>
        </search-autocomplete-item-app>
      </search-autocomplete-app>

    </sub-panel-app>

    <products-card-view-app
      class="list-view"
      [selection]="selected$ | async"
      [rows]="products"
      [pending]="pending"
      (previewClick)="openPreview($event)"
      (select)="onItemSelected($event, true)"
      (unselect)="onItemUnselected($event, true)"
      (selectAll)="selectAll($event, true)"
      (unselectAll)="resetSelection()"
      (open)="goToDetails($event)"
      (favorited)="onItemFavorited($event)"
      (unfavorited)="onItemUnfavorited($event)"
      (bottomReached)="loadMore()"
      (sort)="sort($event)"></products-card-view-app>

    <divider-app></divider-app>

    <div class="flexBetween footer">
      <div class="left flexCenter">
        <ng-container	*ngIf="(selected$ | async) as selected">
          <div *ngIf="selected.size > 0" style="align-items: center">{{selected.size}} Product{{(selected.size > 1) ? 's' : ''}} Selected</div>
        </ng-container>
      </div>
      <div class="right flexCenter">
        <dialog-footer-app>
          <button class="cancel" (click)="closeDlg()">Cancel</button>
          <button class="save" (click)="submit()" [disabled]="!hasSelectedProducts()">Add Products</button>
        </dialog-footer-app>
      </div>
    </div>
  </div>

  <ng-template #spinner>
    <spinner-app></spinner-app>
  </ng-template>

</dialog-app>
