<ng-container *ngIf="product$ | async">
	<card-app>
		<!-- product name -->
		<div class="mainTitle shipping flex"
			i18n="div title|Product general information@@productGeneralInfo_general">

			<editable-text-app #edt
				(closed)="updateProductProp($event, inpName.value, 'name')"
				(opened)="inpName.select()">
				<editable-label-app>
					{{ product?.name || 'Unnamed Product' }}
				</editable-label-app>
				<input inputApp type="text" #inpName [value]="product.name"
					(keyup.enter)="edt.close()">
			</editable-text-app>

			<stats-icons-app
				class="flexCenter"
				[product]="product"
				[favorite]="product?.favorite"
				[onlyLike]="true"
				[hasPercent]="false">
			</stats-icons-app>
		</div>

		<!-- price -->

		<price-with-quantity-app
			[product]="product"
			(updateField)="updateProductProp(false, $event.newValue,  $event.field)">
		</price-with-quantity-app>

		<!-- description -->
		<h3>Description</h3>
		<input-description-app
			[isBig]="true"
			[description]="product?.description"
			(update)="updateProductProp(false, $event, 'description')">
		</input-description-app>

		<!-- dynamic forms -->
		<div class="title-information">Product Information</div>

		<!-- <dynamic-form-app
			[inlineLabel]="false"
			[fields]="customFields"
			[value]="product"
			[colAmount]="2"
			(update)="updateProduct($event)">
		</dynamic-form-app> -->

	</card-app>

	<card-app>
		<div class="title flex">
			<div class="space-icon flexAround">
				<icon-app class="color-primary" name="poll"></icon-app>
			</div>
			<h3 i18n="div title|Product shipping and tranding information@@productGeneralInfo_shippingTrading" class="flex">
				Shipping & Trading
			</h3>
		</div>

		<!-- <dynamic-form-app
			[inlineLabel]="true"
			[fields]="customFields2"
			[value]="product"
			[colAmount]="2"
			(update)="updateProduct($event)">
		</dynamic-form-app> -->
	</card-app>
</ng-container>
