:host {
	display: block;
	height: 115px;
	background: var(--color-bg);
	border-radius: 4px;
  box-shadow: 0 2px 4px 0 #e6ebf5;
  box-shadow: 0 2px 4px 0 var(--pale-grey);
	border: solid 1px var(--color-secondary);
	border-left: solid 2px #45adff;
	position: static;
}

.kanban {
	&__item {
		/* padding: 0 var(--spacing-m);
    border-bottom: 1px solid var(--color-secondary); */
    /* height: 48px; */
    display: flex;
		align-items: center;
		height: 100%;

		&:hover {
			.mainCell .imgCtnr .check {
				display: block;
			}

			.contextual-menu {
				display: block;
			}
		}

		.mainCell {
			display: flex;
			align-items: center;

      .checkboxCtnr {
        /* margin-right: 5px; */
      }

      .imgCtnr {
				border-radius: var(--border-radius);
    		width: 107px;
				height: 107px;
				margin-right: 10px;
				margin-left: 4px;
        overflow: hidden;
        display: flex;
        align-items: center;
				justify-content: center;
				position: relative;

				.mini.image {
					width: 107px;
					height: 107px;
				}

				.check {
					position: absolute;
					left: 4px;
					top: 4px;
					display: none;
		
					&.selected {
						display: block;
					}

					&.checked {
						display: block;
					}
				}
			}

			.description {
				display: flex;
				flex-direction: column;
				/* justify-content: space-between; */
				align-items: start;
				max-width: 170px;

				.titleCtnr {
					display: flex;
					align-items: center;
					margin-bottom: 5px;

					.title {
						font-family: 'Source Sans Pro', sans-serif;
						font-size: 15px;
						font-weight: 600;
						color: var(--color-txt-strong);
					}
				}

				.tiny-label {
					border-radius: 2px;
					background-color: var(--color-success);
					font-size: 9px;
					color: #fff;
					font-weight: bold;
					text-transform: uppercase;
					margin-left: 10px;
					padding: 1px 3px;
				}

				.subtitle {
					font-family: 'Source Sans Pro', sans-serif;
					font-size: 12px;
					color: #45adff;
					margin-bottom: 5px;
				}

				.descriptionText {
					font-family: 'Source Sans Pro', sans-serif;
					font-size: 12px;
					color: var(--color-txt-primary);
					margin-bottom: 5px;
				}
			}
		}

		.contextual-menu {
			// display: none;
			display: block;
			/* top: 50px;
			right: 5px; */
			background-color: #fff;
			z-index: 1000;
			align-items: flex-end;

			::ng-deep button.light:hover {
				background-color: #fff;
			}
		}
	}
}
