<div class="kanban__item cell ng-star-inserted main flexBetween"
     [ngClass]="{ 'highlight-checked': (checked && highlightOnChecked) }"
     (clickOutside)="onClickOutsideCard()"
     (mouseleave)="leaveCard()" (mouseenter)="enterCard()">
  <div class="mainCellWrapper ellipsis ng-star-inserted">
    <div class="mainCell">
      <div class="imgCtnr">
        <img class="mini image ng-star-inserted" *ngIf="image" [src]="image"
             (dragstart)="preventDrag($event)">
        <img class="mini icon ng-star-inserted" *ngIf="icon" [src]="'/assets/icons/' + icon + '-icon.svg'"
             (dragstart)="preventDrag($event)">
        <div class="check" [ngClass]="{ checked: checked, selected: checked, 'drag-in-progress': dragInProgress }">
          <checkbox-app [checked]="checked"
                        (check)="onChecked()"
                        (uncheck)="onUnchecked()"
                        (dragstart)="preventDrag($event)"
                        (mouseenter)="toggleDragDropEnable('checkbox', $event)"
                        (mouseleave)="toggleDragDropEnable('checkbox', $event)">
          </checkbox-app>
        </div>
      </div>
      <div class="description flexBetween">
        <div class="descriptionTopCtnr">
          <div class="titleCtnr">
            <a class="title">{{title}}</a>
            <icon-app *ngIf="favorite" name="heart"></icon-app>
          </div>
          <div class="descriptionCtnr">
            <div class="descriptionCtnr-first">
              <span class="subtitle">{{price?.currency}} {{price?.value}} - Min {{minimumOrderQuantity}} pcs</span>
              <span class="descriptionText" *ngIf="description"> - </span>
              <span class="descriptionText">{{product?.supplier?.name}} - {{product?.category?.name}}</span>
            </div>
            <div class="descriptionCtnr-last flex">
              <icon-app [name]="thumbsName" *ngIf="thumbsName" fontSet="svg"></icon-app>
              <span *ngIf="product?.score" class="score" [ngClass]="{ 'like-txt': like, 'dislike-txt': dislike }">{{product?.score}}%</span>
            </div>
          </div>
        </div>
        <div class="descriptionBottomCtnr">
          <badge-app size="xs" type="secondary-light" *ngFor="let tag of tags | slice:0:1">{{tag.name}}</badge-app>
        </div>
      </div>
    </div>
  </div>
</div>
