<dialog-app class="vertical-scroll-content">

	<dialog-header-app i18n="@@new-product">new product</dialog-header-app>

	<div class="container flex">

		<!-- left -->
		<div class="left">
¡
		</div>

		<!-- right -->
		<div class="right">
			<dynamic-form-app
				[colAmount]="1"
				[fields]="dynamicFields"
				[textMode]="false"
				[value]="product"
				(update)="updateProduct($event)">
			</dynamic-form-app>
		</div>
	</div>

	<dialog-footer-app>
		<checkbox-app>
			create another
		</checkbox-app>
		<button class="secondary">cancel</button>
		<button>save product</button>
	</dialog-footer-app>

</dialog-app>