<dialog-app class="vertical-scroll-content">

	<dialog-header-app i18n="@@new-product">new product</dialog-header-app>

	<div class="container flex">

		<!-- left -->
		<div class="left">
			<carousel-app
				[images]="images"
				(uploaded)="imageCreated($event)">
			</carousel-app>
		</div>

		<!-- right -->
		<div class="right">
			<dynamic-form-app
				[colAmount]="1"
				[fields]="dynamicFields"
				[textMode]="false"
				[value]="product"
				(update)="updateProduct($event)">
			</dynamic-form-app>
		</div>
	</div>

	<dialog-footer-app>
		<checkbox-app
			[checked]="createAnother"
			(update)="createAnother = !createAnother">
			create another
		</checkbox-app>
		<button class="secondary" (click)="cancel()">cancel</button>
		<button [disabled]="!(product?.name)" (click)="save()">save product</button>
	</dialog-footer-app>

</dialog-app>