dialog-app {
	height: 80vh;
	min-width: 800px;

	dialog-footer-app {
		> *:not(:last-child) {
			margin-right: var(--spacing-ms);
		}
	}
}

.container {
	width: 100%;

	.left, .right {
		box-sizing: border-box;
		width: 50%;
	}

	.left {
		margin-right: var(--spacing-ms);
	}

}