<nav class="flexColumn">
	<a routerLink="./guidelines" routerLinkActive="selected">guidelines</a>
	<h2>Components</h2>
	<a routerLink="./preview" routerLinkActive="selected">Preview</a>
	<a routerLink="./loaders" routerLinkActive="selected">Loaders</a>
	<a routerLink="./sample-card" routerLinkActive="selected">Sample card</a>
	<a routerLink="./product-card" routerLinkActive="selected">Product card</a>
	<a routerLink="./kanban" routerLinkActive="selected">Kanban</a>
	<a routerLink="./selector" routerLinkActive="selected">Selector</a>
	<a routerLink="./workflow-table" routerLinkActive="selected">Workflow table</a>

</nav>
<main>
	<router-outlet></router-outlet>
</main>