<nav class="flexColumn">
	<a routerLink="./guidelines" routerLinkActive="selected">guidelines</a>
	<h1>Components</h1>
	<a routerLink="./preview" routerLinkActive="selected">Preview</a>
	<a routerLink="./sample-card" routerLinkActive="selected">Sample card</a>
	<a routerLink="./product-card" routerLinkActive="selected">Product card</a>
	<a routerLink="./kanban" routerLinkActive="selected">Kanban</a>
	<a routerLink="./selector" routerLinkActive="selected">Selector</a>
</nav>
<main>
	<router-outlet></router-outlet>
</main>