:host{
	display: flex;
	z-index: 4;
  justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	height: 48px;
	flex: 0 0 48px;
	width: 100%;
	background-color: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
	padding: 0 var(--spacing-default);
	position: relative;
}

.chinese{
  height: 22px;
  width: 32px;
  color: #4A4A4A;
  font-family: "PingFang SC";
  font-size: 16px;
  line-height: 22px;
}

mat-icon{
	margin-right: var(--spacing-default);
}