<div class="statusbar"></div>
<div class="sectionTitle">General</div>
<ng-container *ngIf="product$ | async as product">
  <div class="flexRow">
    <div class="flexColumn">
      <cell-two-row-app title="Supplier">
        <editable-field-app [value]="product?.supplierId" [entities]="'suppliers' | entityList" type="select-entity"></editable-field-app>
      </cell-two-row-app>
      <cell-two-row-app title="Category">
        <editable-field-app [value]="product?.categoryId" [entities]="'categories' | entityList" type="select-entity"></editable-field-app>
      </cell-two-row-app>
      <cell-two-row-app title="Name">
          <editable-field-app [value]="product?.name" type="text"></editable-field-app>
      </cell-two-row-app>
      <cell-two-row-app title="Price">
        {{product.price?.priceCurrency?.symbol}} {{product.price?.priceAmount}}
      </cell-two-row-app>
      <cell-two-row-app title="Created By">
        <ng-container *ngIf="product.createdByUserId | entity: 'teamMembers' | async as user">
          <user-picture-app [size]="24" [border]="false" [url]="user?.preferences?.profilePicture?.urls?.url_60x45"></user-picture-app>
          {{user.name}}
        </ng-container>
      </cell-two-row-app>
      <cell-two-row-app title="Assignee">
        -----> Assignee to assigne :D
      </cell-two-row-app>
    </div>
    <div class="flexColumn">
      <cell-two-row-app title="MOQ">
        {{product.minimumOrderQuantity}}
      </cell-two-row-app>
      <cell-two-row-app title="MOQ Description">
        ----->
      </cell-two-row-app>
      <cell-two-row-app title="Found At">
        <editable-field-app [value]="product?.eventId" [entities]="'events' | entityList" type="select-entity"></editable-field-app>
      </cell-two-row-app>
      <cell-two-row-app title="Description" isFullHeight="true">
        {{product.description}}
      </cell-two-row-app>
    </div>
  </div>
  <div class="sectionTitle shipping">Shipping & Trading</div>
  <div class="flexRow">
    <ng-container *ngIf="product.supplierId | entity: 'suppliers' | async as supplier">
      <div class="flexColumn">
        <cell-one-row-app title="Inco Term">{{supplier.incoTerm}}</cell-one-row-app>
        <cell-one-row-app title="Harbour">{{supplier.harbour}}</cell-one-row-app>
        <cell-one-row-app title="Inner Dimension">----></cell-one-row-app>
        <cell-one-row-app title="Master Carton">----></cell-one-row-app>
        <cell-one-row-app title="Pieces per Master">----></cell-one-row-app>
      </div>
      <div class="flexColumn">
        <cell-one-row-app title="1000 pcs">----></cell-one-row-app>
        <cell-one-row-app title="5000 pcs">----></cell-one-row-app>
        <cell-one-row-app title="10000 pcs">----></cell-one-row-app>
        <cell-one-row-app title="With Leather">----></cell-one-row-app>
        <cell-one-row-app title="Paper Stuffing">----></cell-one-row-app>
      </div>
    </ng-container>
  </div>
</ng-container>
