:host {
  display: block;
}

card-footer-app {
	padding-bottom: 0px;
}

.mainTitle {
	font-size: var(--font-size-xxxl);
	font-weight: 600;
	color: var(--color-txt-strong);
	margin-bottom: var(--spacing-ms);

	icons-status-app {
		margin-left: var(--spacing-ml);
		font-size: var(--font-size-xxl);
	}
}
.price {
	margin-bottom: var(--spacing-l);
	.amount {
		color: var(--color-primary);
		font-size: var(--font-size-xxxl);
		font-weight: bold;
	}
	.moq {
		margin-left: var(--spacing-ms);
		color: var(--color-txt-secondary);
	}
}

.product-information {
	margin-top: var(--spacing-xl);

	.title-information {
		font-weight: bold;
		text-transform: uppercase;
		color: var(--color-primary);
		font-size: var(--font-size-l);
		margin-bottom: var(--spacing-l);
	}

	.info-field {
		margin-bottom: var(--spacing-ml);

		.field-title {
			font-weight: 600;
			color: var(--color-secondary-dark);
		}

		.field-description, workflow-action-app {
			margin-top: var(--spacing-xs);
			font-size: var(--font-size-l);
			color: var(--color-txt-strong);
		}
	}

	.footer {
		margin-top: var(--spacing-s);
	}
}


.sectionTitle {
	font-size: var(--font-size-l);
	color: var(--color-button-dark);
	margin-bottom: var(--spacing-l);
	border-bottom: 2px solid var(--color-bg-switcher);
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #182844;
	margin-bottom: 32px;
}

.subSectionTitle{
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: var(--font-size-m);
  font-weight: bold;
  margin: 10px 0;
}

.flexColumn{
  flex: 1 1 100%;
  &:first-child {
    margin-right: var(--spacing-xl);
  }
  &:last-child {
    margin-left: var(--spacing-xl);
  }
}

user-picture-app {
  padding-right: 8px;
}
