<controller-list-app
	[hasSwitch]="true"
	[switchContent]="['list', 'kanban']"
	[hasFilter]="true"
	[filtersAmount]="getFilterAmount()"
	[searchValue]="filterSrv.searchValue"
	(showFilters)="viewSrv.openFilterPanel()"
	(search)="listSrv.search($event)"
	(viewChange)="goToKanban()">
	<controller-list-left-item-app>
		<div class="flex show-my-samples">
			<checkbox-app
				[checked]="filterSrv.filterList.hasFilterType(filterType.ASSIGNEE)"
				(check)="toggleMySamples(true)"
				(uncheck)="toggleMySamples(false)">
			</checkbox-app>
			<span class="ellipsis" translate="text.assigned-to-me">
			</span>
		</div>
	</controller-list-left-item-app>
	<controller-list-right-item-app>
		<button (click)="openCreationSampleDlg()" translate="button.add-sample">
		</button>
	</controller-list-right-item-app>
</controller-list-app>

<samples-table-app
	[selection]="listSrv.selection$ | async"
	[rows]="listSrv.items$ | async"
	[pending]="listSrv.pending"
	[count]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(previewClick)="viewSrv.openPreview($event)"
	(select)="listSrv.selectOne($event)"
	(unselect)="listSrv.unselectOne($event)"
	(selectAll)="listSrv.selectAll($event)"
	(unselectAll)="listSrv.unselectAll()"
	(sort)="listSrv.sort($event)"
	(delete)="listSrv.deleteOne($event)"
	(openProduct)="openProduct($event)"
	(openSupplier)="openSupplier($event)">
</samples-table-app>

<selection-bar-app
	[isShown]="(listSrv.selection$ | async)?.size > 0"
	[selection]="listSrv.selection$ | async"
	(close)="listSrv.unselectAll()">
	<div class="flex">
		<status-selector-app
			toolTip [toolTipMessage]="'message.change-status' | translate" toolTipPosition="above-right"
			#workActionMenu
			selectSize="s"
			[typeEntity]="erm.SAMPLE"
			type="multiple-selection"
			[internalUpdate]="false"
			(statusUpdated)="this.listSrv.updateSelected({status: $event})">
		</status-selector-app>

		<button class="icon light" (click)="listSrv.deleteSelected()">
			<icon-app class="trash" name="trash"></icon-app>
		</button>
	</div>
</selection-bar-app>

<filters-app
	*ngIf="viewSrv.filterPanelOpen"
	[filterList]="filterSrv.filterList"
	[filterTypes]="filterTypes"
	(clickOutside)="viewSrv.closeFilterPanel()">
</filters-app>

<sample-preview-app
	*ngIf="viewSrv.previewOpen"
	[sample]="viewSrv.previewed"
	(close)="viewSrv.closePreview()">
</sample-preview-app>
