.row {
	padding-right: var(--spacing-ms);

	.task-name {
		color: var(--color-txt-strong);

		icon-app {
			font-size: var(--spacing-m);
			margin-right: var(--spacing-s);
    }

    &:hover {
      .task-preview {
        opacity: 1;
			}
			div.name {
				color: var(--color-primary);
			}
    }

    .task-preview {
      opacity: 0;
    }
	}

	.task-product {
		margin-right: var(--spacng-ms);
	}

	.task-product, .task-supplier {
		img-app {
			margin-right: var(--spacing-s);
			height: 20px;
    	width: 20px;
		}
	}

	.task-user-status, .task-user {

		user-picture-app {
			margin-right: var(--spacing-s);
			font-size: var(--font-size-xs);
		}
	}

	.task-user {
		margin-left: var(--spacing-ms);
	}

}
