<div class="flexStart row">
	<!-- name -->
	<div class="flex task-name ellipsis">
		<icon-app class="pointer" [ngClass]="{'color-success': task?.done, 'color-secondary': !task?.done}" [name]="task?.done ? 'check-round' : 'check-empty-round'" (click)="toggleDoneStatus()"></icon-app>
		<div class="flexCenter name pointer" [ngStyle]="{'text-decoration': task?.done ? 'line-through' : 'none'}" (click)="previewClicked.emit(task)">{{ task?.name || 'Unnamed task' }}</div>
	</div>

	<!-- if product -->
	<div *ngIf="hasProduct" class="flexStart task-product ellipsis">
		<div *ngIf="task?.product" class="flex ellipsis pointer" (click)="openProduct.emit(task?.product?.id || null)">
			<div class="icon-container"><img-app [size]="'xs'" [image]="task?.product?.images"></img-app></div>
			<div class="text">{{ task?.product?.name || 'Unnamed product' }}</div>
		</div>
	</div>

	<!-- if supplier -->
	<div *ngIf="hasSupplier" class="flexStart task-supplier ellipsis">
		<div *ngIf="task?.supplier" class="flex ellipsis pointer" (click)="openSupplier.emit(task?.supplier?.id || null)">
			<div class="icon-container"><img-app [size]="'xs'" [image]="task?.supplier?.logoImage"></img-app></div>
			<div class="text">{{ task?.supplier?.name || 'Unnamed suppler' }}</div>
		</div>
	</div>

	<!-- user+name column -->
	<selector2-app
		*ngIf="fullUser"
		class="flex task-user"
		type="user"
		[width]="200"
		[offsetY]="-22"
		(update)="updateAssignee($event)">
		<div class="flexVAlign pointer">
			<!-- we call 2 times the selctor method since it has 2 different styling offsets -->
			<user-picture-app class="pointer" [user]="task?.assignee" [size]="20" [border]="true"></user-picture-app>
			<span class="pointer">{{ task?.assignee?.firstName }} {{ task?.assignee?.lastName }}</span>
		</div>
	</selector2-app>

	<!-- task status -->
	<div class="flexEnd task-user-status">
		<selector2-app
			*ngIf="!fullUser"
			type="user"
			[width]="230"
			[offsetY]="-22"
			[offsetX]="-115"
			(update)="updateAssignee($event)">
			<user-picture-app
				class="pointer" [user]="task?.assignee"	[size]="20"	[border]="true">
			</user-picture-app>
		</selector2-app>
		<div class="flex task-status pointer"
			[ngClass]="{'task-done': getStatus === 'done', 'task-overdue': getStatus === 'overdue', 'task-pending': getStatus === 'pending'}"
			(click)="toggleDoneStatus()">
			<icon-app name="circle" fontSet="fa"></icon-app>
			<p>{{ getStatus }}</p>
		</div>
	</div>
</div>