.row {
	padding-right: var(--spacing-ms);

	.task-name {
		color: var(--color-txt-strong);

		icon-app {
			font-size: var(--spacing-m);
			margin-right: var(--spacing-s);
    }

    &:hover {
      .task-preview {
        opacity: 1;
			}
			div.name {
				color: var(--color-primary);
			}
    }

    .task-preview {
      opacity: 0;
    }
	}

	.task-product {
		margin-right: var(--spacng-ms);
	}

	.task-product, .task-supplier {
		img-app {
			margin-right: var(--spacing-s);
			height: 20px;
    	width: 20px;
		}
	}

	.task-user-status, .task-user {

		user-picture-app {
			margin-right: var(--spacing-s);
			font-size: var(--font-size-xs);
		}
	}

	.task-user {
		margin-left: var(--spacing-ms);
	}



	.task-user-status {

		.task-status {
			padding-top: 2px;
			border-radius: 500px;

			&.task-done {
				color: white;
				background: var(--color-success);
			}

			&.task-overdue {
				color: white;
				background: var(--color-warn);
			}

			&.task-pending {
				background: var(--color-secondary);
			}

			icon-app {
				padding: var(--spacing-s);
				padding-top: 6px;
				font-size: 6px;
			}

			p {
				padding-right: var(--spacing-s);
				text-transform: capitalize;
			}
		}
	}

}
