
<button 
	*ngIf="switchContent.includes('table')"
	class="flexCenter icon"
	toolTip
	toolTipMessage="change view to table view"
	(mousedown)="changeView('table')">
	<icon-app 
		[ngClass]="{'color-primary': view === 'table' }" 
		name="list-menu"
		size="m">
	</icon-app>
</button>

<button 
	*ngIf="switchContent.includes('card')"
	class="flexCenter icon"
	toolTip
	toolTipMessage="change view to card view"
	(mousedown)="changeView('card')">
	<icon-app 
		[ngClass]="{'color-primary': view === 'card' }" 
		name="cards"
		size="m">
	</icon-app>
</button>

<button 
	*ngIf="switchContent.includes('board')"
	class="flexCenter icon"
	toolTip
	toolTipMessage="change view to board view"
	(mousedown)="changeView('board')">
	<icon-app 
		[ngClass]="{'color-primary': view === 'board' }"
		name="kanban"
		size="m">
	</icon-app>
</button>

