
<button 
	*ngIf="switchContent.includes('table')"
	class="flexCenter icon"
	toolTip
	[toolTipMessage]="'tooltip.table-view' | translate"
	(mousedown)="changeView('table')">
	<icon-app 
		[ngClass]="{'color-primary': view === 'table' }" 
		name="list-menu"
		size="m">
	</icon-app>
</button>

<button 
	*ngIf="switchContent.includes('card')"
	class="flexCenter icon"
	toolTip
	[toolTipMessage]="'tooltip.card-view' | translate"
	(mousedown)="view = 'card'">
	<icon-app 
		[ngClass]="{'color-primary': view === 'card' }" 
		name="cards"
		size="m">
	</icon-app>
</button>

<button 
	*ngIf="switchContent.includes('board')"
	class="flexCenter icon"
	toolTip
	[toolTipMessage]="'tooltip.board-view' | translate"
	(mousedown)="changeView('board')">
	<icon-app 
		[ngClass]="{'color-primary': view === 'board' }"
		name="kanban"
		size="m">
	</icon-app>
</button>

