
<button 
	*ngIf="switchContent.includes('table')"
	class="flexCenter icon"
	toolTip
	toolTipMessage="table view"
	(mousedown)="view = 'table'">
	<icon-app 
		[ngClass]="{'color-primary': view === 'table' }" 
		name="list-menu"
		size="m">
	</icon-app>
</button>

<button 
	*ngIf="switchContent.includes('card')"
	class="flexCenter icon"
	toolTip
	toolTipMessage="card view"
	(mousedown)="view = 'card'">
	<icon-app 
		[ngClass]="{'color-primary': view === 'card' }" 
		name="cards"
		size="m">
	</icon-app>
</button>

<button 
	*ngIf="switchContent.includes('kanban')"
	class="flexCenter icon"
	toolTip
	toolTipMessage="kanban view"
	(mousedown)="view = 'kanban'">
	<icon-app 
		[ngClass]="{'color-primary': view === 'kanban' }"
		name="kanban"
		size="m">
	</icon-app>
</button>

