<div class="card searchTerms">
	<ng-container *ngFor="let entityName of smartSearch.keys();trackBy: trackByFn">
		<div *ngIf="smartSearch.get(entityName).length > 0" class="flexColumn">
			<div class="title">{{ entityName }}</div>
			<div class="flexColumn">
				<div class="flex" *ngFor="let entity of smartSearch.get(entityName);trackBy: trackByFn">
						<checkbox-app
							[checked]="getFilterMap(entityName).has(entity.id)"
							(check)="onCheck(entityName, entity.id)"
							(uncheck)="onUncheck(entityName, entity.id)">
							<label>{{ entity.name }}</label>
						</checkbox-app>
				</div>
			</div>
		</div>
	</ng-container>
</div>
