<context-menu-app>
		<context-menu-trigger-app>
			<button class="secondary flexVAlign sort-1">
					<p *ngIf="currentSort?.sortBy === 'title'" class="flex capitalize" i18n="button@@sort-by-title">sort by title
						<ng-container *ngTemplateOutlet="direction"></ng-container>
					</p>
					<p *ngIf="currentSort?.sortBy === 'sender.name'" class="flex capitalize" i18n="button@@sort-by-from">sort by from
						<ng-container *ngTemplateOutlet="direction"></ng-container>
					</p>
					<p *ngIf="currentSort?.sortBy === 'sender.company'" class="flex capitalize" i18n="button@@sort-by-company">sort by company
						<ng-container *ngTemplateOutlet="direction"></ng-container>
					</p>
					<p *ngIf="currentSort?.sortBy === 'sentDate'" class="flex capitalize" i18n="button@@sort-by-recieved">sort by recieved on
						<ng-container *ngTemplateOutlet="direction"></ng-container>
					</p>
					<p *ngIf="currentSort?.sortBy === 'creationDate'" class="flex capitalize" i18n="button@@sort-by-created">sort by created on
						<ng-container *ngTemplateOutlet="direction"></ng-container>
					</p>
					<p *ngIf="currentSort?.sortBy === 'status'" class="flex capitalize" i18n="button@@sort-by-status">sort by status
						<ng-container *ngTemplateOutlet="direction"></ng-container>
					</p>
					<div><icon-app fontSet="fa" name="caret-down"></icon-app></div>
			</button>
		</context-menu-trigger-app>
		<context-menu-item-app (click)="sortFromMenu.emit('title')" class="menu-item capitalize" i18n="button@@title">
			title
			<ng-container *ngIf="currentSort?.sortBy === 'title'">
				<ng-container *ngTemplateOutlet="direction"></ng-container>
			</ng-container>
		</context-menu-item-app>
		<context-menu-item-app (click)="sortFromMenu.emit('sender.name')" class="menu-item capitalize" i18n="button@@from">
			from
			<ng-container *ngIf="currentSort?.sortBy === 'sender.name'">
				<ng-container *ngTemplateOutlet="direction"></ng-container>
			</ng-container>
		</context-menu-item-app>
		<context-menu-item-app (click)="sortFromMenu.emit('sender.company')" class="menu-item capitalize" i18n="button@@company">
			company
			<ng-container *ngIf="currentSort?.sortBy === 'sender.company'">
				<ng-container *ngTemplateOutlet="direction"></ng-container>
			</ng-container>
		</context-menu-item-app>
		<context-menu-item-app (click)="sortFromMenu.emit('sentDate')" class="menu-item capitalize" i18n="button@@recieved-on">
			recieved on
			<ng-container *ngIf="currentSort?.sortBy === 'sentDate'">
				<ng-container *ngTemplateOutlet="direction"></ng-container>
			</ng-container>
		</context-menu-item-app>
		<context-menu-item-app (click)="sortFromMenu.emit('creationDate')" class="menu-item capitalize" i18n="button@@created-on">
			created on
			<ng-container *ngIf="currentSort?.sortBy === 'creationDate'">
				<ng-container *ngTemplateOutlet="direction"></ng-container>
			</ng-container>
		</context-menu-item-app>
		<context-menu-item-app (click)="sortFromMenu.emit('status')" class="menu-item capitalize" i18n="button@@status">
			status
			<ng-container *ngIf="currentSort?.sortBy === 'status'">
				<ng-container *ngTemplateOutlet="direction"></ng-container>
			</ng-container>
		</context-menu-item-app>
	</context-menu-app>

	<ng-template #direction>
		<ng-container>
			<icon-app
				*ngIf="currentSort?.descending; else upArrow;"
				class="sortIcon fs-xs" fontSet="fa"	name="angle-down">
			</icon-app>
			<ng-template #upArrow>
				<icon-app  class="sortIcon fs-xs" fontSet="fa" name="angle-up"></icon-app>
			</ng-template>
		</ng-container>
	</ng-template>
