<auth-form-header-app [pending]="(pending$ | async)" [subDescription]="'Please hold as we modify the internet for you!'"></auth-form-header-app>
<auth-form-app (onSubmit)="createAccount($event)" [error]="error"  [defaultFocused]="filedFocused" [pending]="(pending$ | async)"
 [listForm]="listForm" [buttons]="buttons">
	<div class="options">
		<!-- <div class="checkbox-container">
					<checkbox-app [size]="16" [labelClass]="'label-rememberme'">
						Remember me
					</checkbox-app>
				</div> -->
		<div class="clickable forgot-password" (click)="forgotPw()">Forgotten password?</div>
	</div>

</auth-form-app>