<top-panel-app
	(buttonClick)="buttonClick.emit()"
	[hasSwitch]="switchable"
	[view]="view"
	title="My items"
	[subtitles]="subtitles"
	(viewChange)="viewChange.emit($event)"
	(filterClick)="filterClick.emit($event)">

	<filter-search-bar-app class="mg-right"></filter-search-bar-app>

	<div class="vertDivider mg-right"></div>

	<icon-app
		*ngIf="hasFilters"
		fontSet="fa"
		name="filter"
		(click)="filterClick.emit()"
		class="icon-filter pointer mg-right fs-m"
		color="primary-dark"
		fontSet="fa">
	</icon-app>

	<view-switcher-app
		class="mg-right"
		*ngIf="switchable"
		(viewChange)="viewChange.emit($event)"
		[view]="view"></view-switcher-app>

</top-panel-app>

<div class="separation">
	<!-- <filter-cloud-app></filter-cloud-app> -->
	<div class="hr"></div>
	<progress-bar-app *ngIf="pending"></progress-bar-app>
</div>


