:host {
	display: block;
	height: 100%;
}

.mg-right {
	margin-right: var(--spacing-xl);
}

.separation {
	margin: var(--spacing-xl) var(--spacing-edge);
}

main {
	margin: 0 var(--spacing-edge);
	height: calc(100% - 151px);
}