:host {
	font-weight: 600;
	padding-bottom: var(--spacing-ms);
	margin: 0 var(--spacing-ms);
	color: var(--color-txt-secondary);
	cursor: pointer;

	&.active {
		color: var(--color-primary);
		border-bottom: 2px solid var(--color-primary);
	}
}
