<dialog-app class="zero-content-height">

	<dialog-header-app i18n="@@select-products">
		Select Products
	</dialog-header-app>

	<sub-panel-app
		entityType="products"
		[hasFilter]="true"
		[hasSwitch]="false"
		[hasArchived]="false"
		[hasExport]="false"
		[count]="listSrv.count$ | async"
		[hasAssigned]="false"
		[filtersPanelOpened]="filtersPanelOpened"
		[view]="listSrv.view"
		[searchValue]="listSrv.searchValue"
		[searchFullWidth]="false"
		[subPanelDialog]="true"
		(search)="searchProduct($event)"
		(showMyProducts)="toggleMyProducts(true)"
		(hideMyProducts)="toggleMyProducts(false)"
		(showFilters)="showFilters()"
		(hideFilters)="hideFilters()">

		<sub-panel-left-item-app class="flex">
			<div class="flex show-my-samples">
				<checkbox-app
					[checked]="listSrv.filterList.hasFilterType(filterType.ASSIGNEE)"
					(check)="toggleMySamples(true)"
					(uncheck)="toggleMySamples(false)">
				</checkbox-app>
				<span class="ellipsis" i18n="text@@show-only-my-sample">
					<b>Show my samples only</b>
				</span>
			</div>
		</sub-panel-left-item-app>

	</sub-panel-app>

	<products-list-view-app
		class="list-view"
		*ngIf="listSrv.view === 'list'"
		[hasMenu]="false"
		[tableDialog]="true"
		[tableConfig]="productTableConfig"
		[hasVerticalScroll]="true"
		[columns]="['name', 'category', 'supplier', 'price', 'favorite', 'createdBy']"
		[currentSort]="listSrv.currentSort"
		[pending]="listSrv.pending"
		[rows]="listSrv.items$ | async"
		[selection]="listSrv.selection$ | async"
		[count]="listSrv.count$ | async"
		[currentPage]="listSrv.currentPage"
		(goToPage)="loadPage($event)"
		(delete)="listSrv.deleteOne($event)"
		(favorited)="listSrv.onItemFavorited($event)"
		(update)="listSrv.update($event)"
		(open)="listSrv.goToDetails($event)"
		(showItemsPerPage)="showItemsPerPage($event)"
		(previewClick)="listSrv.openPreview($event)"
		(select)="onItemSelected($event, true)"
		(selectAll)="onSelectAll($event, true)"
		(sort)="listSrv.sort($event)"
		(unfavorited)="listSrv.onItemUnfavorited($event)"
		(unselect)="onItemUnselected($event)"
		(unselectAll)="onUnselectAll()">
	</products-list-view-app>
	
	<dialog-footer-app class="flexVAlign">
		<sub-panel-left-item-app class="show-my-samples-only">{{ selectedProductsCount }} Products selected</sub-panel-left-item-app>
		<button *ngIf="submitProducts" class="capitalize add-to-project" (click)="submit()" i18n="button@@add-to-project">add to project</button>
		<button *ngIf="!submitProducts" class="capitalize footer-done" (click)="done()" i18n="button@@done">done</button>
	</dialog-footer-app>

	<filters-app
		*ngIf="filtersPanelOpened"
		[filterList]="listSrv.filterList"
		[filterTypes]="filterTypes"
		[sidePanel]="false">
	</filters-app>

	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>
</dialog-app>