<dialog-app class="zero-content-height">

	<dialog-header-app translate="header.select-products"></dialog-header-app>

	<sub-panel-app
		[hasFilter]="true"
		[hasSwitch]="false"
		[hasArchived]="false"
		[hasExport]="false"
		[hasAssigned]="false"
		[filtersPanelOpened]="filtersPanelOpened"
		[view]="listSrv.view"
		[searchValue]="listSrv.searchValue"
		(search)="searchProduct($event)"
		(showFilters)="showFilters()"
		(hideFilters)="hideFilters()"
		(viewChange)="onViewChange($event)">

		<sub-panel-left-item-app class="flex">
			<span class="select-products-count capitalize" *ngIf="productsCount$ | async as count"> 
				<b> {{ count || 0 }} {{'label.products' | translate}} </b>
			</span>
		</sub-panel-left-item-app>

		<sub-panel-left-item-app class="flex">
			<div class="flex show-my-samples">
				<checkbox-app
					[checked]="listSrv.filterList.hasFilterType(filterType.ASSIGNEE)"
					(check)="toggleMySamples(true)"
					(uncheck)="toggleMySamples(false)">
				</checkbox-app>
				<span class="ellipsis" translate="text.show-only-my-sample"></span>
			</div>
		</sub-panel-left-item-app>

	</sub-panel-app>

	<products-list-view-app
		class="list-view"
		*ngIf="listSrv.view === 'list'"
		[hasMenu]="false"
		[currentSort]="listSrv.currentSort"
		[pending]="listSrv.pending"
		[rows]="listSrv.items$ | async"
		[selection]="listSrv.selection$ | async"
		[count]="listSrv.count$ | async"
		[currentPage]="listSrv.currentPage"
		(goToPage)="loadPage($event)"
		(delete)="listSrv.deleteOne($event)"
		(favorited)="listSrv.onItemFavorited($event)"
		(update)="listSrv.update($event)"
		(open)="listSrv.goToDetails($event)"
		(previewClick)="listSrv.openPreview($event)"
		(select)="onItemSelected($event, true)"
		(selectAll)="onSelectAll($event, true)"
		(sort)="listSrv.sort($event)"
		(unfavorited)="listSrv.onItemUnfavorited($event)"
		(unselect)="onItemUnselected($event)"
		(unselectAll)="onUnselectAll()">
	</products-list-view-app>
	
	<dialog-footer-app>
		<sub-panel-left-item-app><b>{{ selectedProductsCount }} {{'label.products-selected' | translate}}</b></sub-panel-left-item-app>
		<button *ngIf="submitProducts" class="capitalize" (click)="submit()" translate="button.add-to-project"></button>
		<button *ngIf="!submitProducts" class="capitalize" (click)="done()" translate="button.done"></button>
	</dialog-footer-app>

	<filters-app
		*ngIf="filtersPanelOpened"
		[filterList]="listSrv.filterList"
		[filterTypes]="filterTypes">
	</filters-app>

	<ng-template #spinner>
		<spinner-app></spinner-app>
	</ng-template>
</dialog-app>