:host ::ng-deep products-list-view-app {
	height: 610px !important;
	border-radius: 2px;
	border: solid 1px var(--pale-grey);
	background-color: #ffffff;
	padding: unset;
	margin: 24px 0 0 0;
	padding-bottom: 0 !important;
}

dialog-app {
	position: relative;
	margin-top: 315px;
	height: 774px;
	width: 1149px;
	border-radius: 4px;
	
	dialog-header-app {
		font-size: 16px;
	}

	dialog-footer-app {
		justify-content: space-between;
	}

	products-list-view-app {
		height: 100%;
	}
}

.no-padding-border-bottom {
	padding: unset;
	border-bottom: unset;
}