dialog-app {
	height: 774px;
	width: 1149;

	sub-panel-app {
		padding: 0;
	}
	
	dialog-header-app {
		margin-top: var(--spacing-s);
		font-size: var(--font-size-l);
		color: (--color-bg-dark);
		padding-bottom: 7px;
	}

	dialog-footer-app {
		justify-content: space-between;
	}

	products-table-app {
		height: 100%;
	}

	.select-products-count {
		min-width: 80px;
	}
}

.search-container {
	width: 0;
}