<div
	infiniScroll
	[ngClass]="{
		'list-container': !isDashboardBox,
		flexCenter: activities?.length === 0
	}"
	(bottomReached)="loadMore()"
>
	<div
		*ngFor="let activity of activities; last as isLast"
		[ngClass]="{ 'notif-feed': !isDashboardBox }"
	>
		<notif-item-app
			class="notification-item"
			[activity]="activity"
			[isRead]="activity.is_read">
		</notif-item-app>

		<ng-container *ngIf="isLast && isLoading">
			<div class="spinner-container flexCenter">
				<spinner-app></spinner-app>
			</div>
		</ng-container>
	</div>
	<notif-empty-app
		*ngIf="activities?.length === 0"
		class="empty-notification">
	</notif-empty-app>
</div>
