<header-list-app
	class="smaller-padding"
	[hasAction]="false"
	title="Invitations">
</header-list-app>

<controller-list-app
	class="max-full-table-width"
	[entityType]="entityTypeEnum.INVITATION"
	[title]="'title.invitations' | translate"
	[hasSwitch]="false"
	[hasFilter]="false"
	[hasArchived]="false"
	[hasAssigned]="false"
	[count]="listSrv.count$ | async"
	[filtersPanelOpened]="listSrv.filterPanelOpen"
	(search)="listSrv.search($event)">

	<controller-list-right-item-app>
		<div toolTip [toolTipMessage]="getToolTipMsg()" toolTipPosition="above-right">
			<button [disabled]="!teamOwner" (click)="openInviteDialog()" translate="button.invite-collaborator"></button>
		</div>
	</controller-list-right-item-app>
</controller-list-app>

<ng-container *ngIf="(listSrv.items$ | async) as invitations">
	<invitations-table-app
		[rows]="invitations"
		[teamOwner]="teamOwner"
		[user]="user"
		[selection]="listSrv.selection$ | async"
		[pending]="listSrv.pending"
		[count]="listSrv.count$ | async"
		[currentPage]="listSrv.currentPage"
		[currentSort]="listSrv.currentSort"
		(next)="listSrv.loadNextPage()"
		(pevious)="listSrv.loadPreviousPage()"
		(goTorPage)="listSrv.loadPage($event)"
		(sort)="listSrv.sort($event)"
    (select)="listSrv.selectOne($event, false)"
		(unselect)="listSrv.unselectOne($event, false)"
		(selectAll)="listSrv.selectAll($event, false)"
    (unselectAll)="listSrv.unselectAll()"
		(accessTypeUpdated)="updateAccessType($event)"
		(showItemsPerPage)="showItemsPerPage($event)"
		(delete)="listSrv.deleteOne($event, true)">
	</invitations-table-app>

	<!-- ng-container *ngIf="selected$ | async as selected">
		<selection-bar-app
			[ngClass]="{ 'collapsed-menu': !(menuCollapsed$ | async), 'expanded-menu': (menuCollapsed$ | async) }"
			(close)="resetSelection()"
			(delete)="deleteSelection()"
			[isShown]="selected.size > 0"
			[selection]="selected"></selection-bar-app>
	</ng-container -->
</ng-container>


