<header-list-app
	logoTypename="Request"
	info="Request management"
	[title]="'title.requests' | translate"
	[buttonName]="'button.new-request' | translate"
	(buttonClick)="dialogCommonSrv.openSupplierRequest([])">
</header-list-app>

<controller-table-app [hasFilters]="false">
	<controller-table-quick-actions-app
		[hasExport]="false"
		[columns]="columns"
		[tableConfig]="tableConfig">
	</controller-table-quick-actions-app>
</controller-table-app>

<requests-table-app
	[rows]="listSrv.items$ | async"
	[pending]="listSrv.pending"
	(cancelRequest)="cancelRequest($event)"
	>
</requests-table-app>

<request-selection-bar-app
	(cancelSelectedRequests)="cancelSelectedRequests()">
</request-selection-bar-app>
