<header-list-app
	logoTypename="Request"
	info="Request management"
	[title]="'title.requests' | translate"
	[buttonName]="'button.new-request' | translate"
	(buttonClick)="dialogCommonSrv.openSupplierRequest([])">
</header-list-app>

<controller-table-app [hasFilters]="false">
	<controller-table-quick-actions-app 
		[hasExport]="false"
		[columns]="columns" 
		[tableConfig]="tableConfig">
	</controller-table-quick-actions-app>
</controller-table-app>

<requests-table-app
	[rows]="listSrv.items$ | async"
	[pending]="listSrv.pending"
	[selection]="selectionSrv.selection$ | async"
	[total]="listSrv.count$ | async"
	[currentPage]="listSrv.currentPage"
	(goToPage)="listSrv.loadPage($event)"
	(cancelRequest)="cancelRequest($event)"
	(select)="selectionSrv.selectOne($event)"
	(selectAll)="selectionSrv.selectAll($event)"
	(showItemsPerPage)="showItemsPerPage($event)"
	(sort)="listSrv.sort($event)"
	(unselect)="selectionSrv.unselectOne($event)"
	(unselectAll)="selectionSrv.unselectAll()">
</requests-table-app>

<request-selection-bar-app
	[isShown]="(selectionSrv.selection$ | async).size > 0"
	[selection]="selectionSrv.selection$ | async"
	[selectableItems]="listSrv.items$ | async"
	(close)="selectionSrv.unselectAll()"
	(cancelSelectedRequests)="cancelSelectedRequests()">
</request-selection-bar-app>
