
	<div class="flex top">
		<h3>Filter {{ target$ | async }}</h3>
		<button class="small secondary" (click)="closePanel()">done</button>			
	</div>

	<input-app type="search" placeholder="Search" [(ngModel)]="search"></input-app> 	
	
	<div class="flexColumn" *ngIf="items$ | async as items">
		<mat-checkbox
			(change)="onChange($event, items.byId[id].name, id)"
			*ngFor="let id of items.ids"
			class="example-margin"
			[checked]="items.byId[id].checked">
			{{ items.byId[id].name }}
		</mat-checkbox>
	</div>	


