
<card-app>
	<h3 class="mg-l">Icons</h3>
	<p>
		By default icons inherit the font size
		<small>name="product"</small>
	</p>
	<icon-app name="product"></icon-app>

	<p>
		You can give a number in the [size] input
		<small>name="product" [size]="24"</small>
	</p>
	<icon-app name="product" [size]="24"></icon-app>

	<p>
		Or you can give one of our default size "s", "m" or "l"
		<small>name="product" [size]="'s'" || [size]="'m'" ||  [size]="'l'" </small>
	</p>
	
	<div class="flex">
		<icon-app name="product" [size]="'s'"></icon-app>
		<icon-app name="product" [size]="'m'"></icon-app>
		<icon-app name="product" [size]="'l'"></icon-app>
	</div>
</card-app>


<card-app>
	<h3 class="mg-l">Logos</h3>
	
	<b>Color</b> <br>

	<p>
		By default if a type is specified the color associated with the [type] will be used <br>
		<small>type="product" | "supplier" | ... (use type color)</small>
	</p>

	<div class="flex">
		<logo-app *ngFor="let type of types" [type]="type"></logo-app>
	</div>

	<p>
		You can however override the color by specifying the [color] attribute
		<br>
		<small>type="product" color="primary" || color="secondary" || color="vibrant" </small>
	</p>
	<div class="flex">
		<logo-app type="product" color="primary"></logo-app>
		<logo-app type="product" color="secondary"></logo-app>
		<logo-app type="product" color="vibrant"></logo-app>
	</div>

	<br><br> 
	<b>Circle</b> <br>
	<p>
		<small>type="product" [circle]="true" color="accent"</small>
	</p>
	<logo-app type="product" [circle]="true" color="accent"></logo-app>

	<br><br>
	<b>Circle</b> <br>
	<div class="flex">
		type="product" | "comment" | "task" [circle]="true"
		<logo-app type="product" [circle]="true"></logo-app>
		<logo-app type="comment" [circle]="true"></logo-app>
		<logo-app type="task" [circle]="true"></logo-app>
	</div>

	<br><br>
	<b>Size</b> <br>
	<div class="flex">
		<p>
			<small>type="product" size="s" | size="m" | size="l"</small>
		</p>
		<logo-app type="product" size="s"></logo-app>
		<logo-app type="product" size="m"></logo-app>
		<logo-app type="product" size="l"></logo-app>
	</div>

	<div class="flex">
		<p>
			<small>type="product" [backgroundSize]="60" [iconSize]="35"</small>
		</p>
		<logo-app type="product" [backgroundSize]="60" [iconSize]="35"></logo-app>
	</div>

	<br><br>
	<b>Image</b> <br>
	type="product" [logo]="imageMock"
	<logo-app type="product" [logo]="imageMock"></logo-app>

	<br><br>
	<b>Icon</b> <br>
	icon="star" color="accent"
	<logo-app icon="star" color="accent"></logo-app>
</card-app>