.trigger-container {
	display: inline-block;
}


.global-container {
	border: 1px solid var(--color-secondary);
	background-color: white !important;
	border-radius: var(--border-radius);
	width: 100%
}

.items-container {
	min-height: 80px;
	max-height: 210px;
	overflow-y: auto;
	overflow-x: hidden;
}
