<div class="ad-container" (click)="openModal()">
	<div class="title">Keep your sourcing in your pocket</div>
	<div class="sub-title">The best app for your sourcing trips!</div>

	<div class="img-container flex">
		<div class="img-block">
			<img class="mobile-img" src="/assets/img/mobile.png"/>
		</div>
		<div class="download-container">
			<h3 class="get-free">Get it now for free!</h3>
			<div class="download-btn-container">
				<img class="download-img" src="/assets/img/available-ios.png"/>
				<img class="download-img" src="/assets/img/available-android.png"/>
			</div>
		</div>
	</div>
</div>