:host {
	display: flex;
	flex-direction: column;
	height: 100%;
}



sub-panel-left-item-app {
	margin-left: var(--spacing-l);

	.show-my-samples span {
		font-weight: 600;
		line-height: 1.43;
	}
}

selection-bar-app {

	.change-status {
		margin-right: 45px;

		icon-app {
			margin-right: 6px;
		}
	}

	icon-app.trash-bin {
		font-size: var(--font-size-xxxl);
		color: var(--color-txt-secondary);
	}
}
