<table-app
	class="borderless"
	[rows]="rows"
	[type]="'SUPPLIER_REQUEST' | erm: true"
	[rowHeight]="rowHeight"
	[hasHeader]="hasHeader"
	[hasMenu]="hasMenu"
	[hasSelection]="hasSelection"
	[hasPagination]="hasPagination"
	[pending]="pending"
	[selected]="selection"
	[placeholder]="'placeholder.no-requests' | translate"
	[contextualMenu]="contextualMenuTemplate"
	[count]="count"
	[currentPage]="currentPage"
	(goToPage)="goToPage.emit($event)"
	(bottomReached)="bottomReached.emit()"
	(selectAll)="selectAll.emit($event)"
	(selectOne)="select.emit($event)"
	(sort)="sort.emit($event)"
	(createClick)="createClick.emit()"
	(unselectAll)="unselectAll.emit()"
	(unselectOne)="unselect.emit($event)">

	<!-- contextual menu -->
	<ng-template #contextualMenuTemplate let-row="row">
		<context-menu-item-warn-app
			class="pointer flexCenter"
			(click)="cancelRequest.emit(row)"
			translate="button.cancel-request">
		</context-menu-item-warn-app>
	</ng-template>

	  <!-- dynamic columns -->
		<ng-template
			*ngFor="let column of columnsConfig; trackBy: trackByFn"
			let-row="row"
			[columnApp]="'title.' + column.translationKey | translate"
			[sortable]="column.sortable !== false"
			[width]="column.width"
			[sortBy]="column.sortProperty">
			<ng-container [ngSwitch]="column.name">

				<!-- title  -->
				<ng-container *ngSwitchCase="'title'">
					<div class="mainCell ellipsis">
						<!-- <img-app
							class="mini imgCtnr"
							[image]="row?.images?.length ? row?.images[0] : null"
							type="request"
							size="s">
						</img-app> -->
						<span class="capitalize ellipsis">
							<a class="name txt-btn title" [routerLink]="['/requests', row.id]">
								{{ row?.title }}
							</a>
						</span>
					</div>
				</ng-container>

				<!-- type -->
				<ng-container *ngSwitchCase="'type'">
					<div class="capitalize ellipsis">
						{{ row?.templateName }}
					</div>
				</ng-container>

				<!-- supplier (recipient company) -->
				<ng-container *ngSwitchCase="'supplier'">
					<div class="ellipsis">
						{{ row?.recipient?.company }}
					</div>
				</ng-container>

				<!-- sent to -->
				<ng-container *ngSwitchCase="'sent to'">
					<div class="capitalize ellipsis">
						{{ row?.recipient?.name }}
					</div>
				</ng-container>

				<!-- number requests -->
				<ng-container *ngSwitchCase="'number requests'">
					<div class="fs-l color-black bold-s">
						{{ row?.requestElements?.length }}
					</div>
				</ng-container>

				<!-- status -->
				<ng-container *ngSwitchCase="'status'">
					<request-status-badge-app
						[status]="row?.status"
						[creationDate]="row?.sentDate">
					</request-status-badge-app>
				</ng-container>

				<!-- sent on -->
				<ng-container *ngSwitchCase="'sent on'">
					<div class="capitalize">
						{{ row?.sentDate | date: 'dd MMM yyyy':'':translate.currentLang }}
					</div>
				</ng-container>

				<!-- sender -->
				<ng-container *ngSwitchCase="'sender'">
					<div class="capitalize ellipsis">
						{{ row?.sender?.name }}
					</div>
				</ng-container>

				<!-- status + template name + create info -->
				<ng-container *ngSwitchCase="'status templateName createInfo'">
					<div class="flexEnd flexVAlign dot-separator flexGrow">
						<request-status-badge-app size="s" [status]="row?.status"></request-status-badge-app>
						<div>{{ row?.templateName }}</div>
						<div class="capitalize">
							{{ row?.sender?.name }}
						</div>
						<div class="capitalize">
							{{ row?.sentDate | date: 'dd MMM yyyy':'':translate.currentLang }}
						</div>
					</div>
				</ng-container>

			</ng-container>

		</ng-template>

</table-app>