<div *ngIf="!(pending); else spinner">

	<h1>Password Recovery</h1>
	<h2>We will send you instructions to recover your password</h2>

	<form [formGroup]="form" (submit)="onSubmit()">
		<error-app>{{ error }}</error-app>
		<form-field-app>
			<label-app>Email</label-app>
			<input inputApp autocomplete="email" type="email" placeholder="Your email" required="true" formControlName="email"/>
		</form-field-app>

		<input type="submit" class="fullWidth" value="SUBMIT" [disabled]="!form.valid"/>
	</form>

</div>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>


