<input #inpFile type="file" hidden="true" (fileSelect)="addFile($event)"/>

<table-app
	[rows]="rows"
	typename="Attachment"
	[pending]="pending"
	[isSeaching]="isFiltering"
	[selected]="selection"
	[contextualMenu]="contextualMenuTemplate"
	[currentSort]="currentSort"
	[total]="total"
	[currentPage]="currentPage"
	[hasHeader]="hasHeader"
	[hasMenu]="hasMenu"
	[hasSelection]="hasSelection"
	[hasPagination]="hasPagination"
	[hasBorder]="hasBorder"
	[rowHeight]="rowHeight"
	[placeholder]="'placeholder.no-task'"
	(goToPage)="goToPage.emit($event)"
	(selectOne)="select.emit($event)"
	(unselectOne)="unselect.emit($event)"
	(selectAll)="selectAll.emit($event)"
	(unselectAll)="unselectAll.emit($event)"
	(sort)="sort.emit($event)"
	(createClick)="inpFile.click()"
	(bottomReached)="bottomReached.emit()"
	(fileDrop)="addFile($event)">


	<!-- dynamic columns -->
	<ng-template
		*ngFor="let column of columnsConfig; trackBy: trackByFn"
		let-row="row"
		[columnApp]="column.translationKey ? ('title.' + column.translationKey | translate) : ''"
		[sortable]="column.sortable !== false"
		[width]="column.width"
		[sortBy]="column.sortProperty"
		[grows]="!column.fixedWidth"
		[showOnHover]="column.showOnHover">

    <ng-container [ngSwitch]="column.name">

			<default-columns-app
				*ngSwitchDefault
				[row]="row"
				[column]="column"
				[hovered]="row.id === hovered"
				[type]="'ATTACHMENT' | erm"
				(update)="update.emit($event)"
				(previewClick)="previewClick.emit($event)"
				(nameClick)="download(row)"
				(logoClick)="download(row)">
			</default-columns-app>

			<!-- Actions -->
			<ng-container *ngSwitchCase="'actions'">
				<button class="primary icon-with-text" (click)="download(row)">
					<icon-app name="close-pane-bottom"></icon-app>
					{{ 'button.download' | translate }}
				</button>
			</ng-container>

		</ng-container>

	</ng-template>

</table-app>


<!-- contextual menu -->
<ng-template #contextualMenuTemplate let-row="row">
	<context-menu-item-warn-app
		class="color-warn pointer flexCenter"
		(click)="delete.emit(row)">
		{{ 'text.delete' | translate }}
	</context-menu-item-warn-app>
</ng-template>
