<h2 class="l flexStart">Samples</h2>

<ng-container *ngIf="(listHelper.data$ | async) as samples; else spinner">
	<ng-container *ngIf="samples?.length; else placeholder">
		<!-- list -->
		<sample-list-item-app
			*ngFor="let sample of samples; first as first; trackBy:trackById"
			[ngStyle]="first ? { 'padding-top' : 0 } : ''"
			[sample]="sample"
			[selection]="selectionSrv.selection$ | async"
			(nameClick)="viewSrv.openPreview($event)"
			(selectOne)="selectionSrv.selectOne($event, true)"
			(unselect)="selectionSrv.unselectOne($event, true)">
		</sample-list-item-app>
		<!-- buttons -->
		<div class="flex buttons-container">
			<button
				class="capitalize"
				(click)="listHelper.openCreationDialog({ product: product.id })"
				translate="button.create-sample">
			</button>
			<div class="flexCenter">
				<divider-app *ngIf="(selectionSrv.selection$ | async).size > 0" [vertical]="true" [height]="24"></divider-app>
			</div>
			<ng-container *ngIf="(selectionSrv.selection$ | async).size as size">
				<button
					*ngIf="size > 0"
					class="warn capitalize"
					(click)="listHelper.deleteSelected(size === 1 ? 'message.confirm-delete-sample' : 'message.confirm-delete-samples')"
					translate="button.delete">
			</button>

			</ng-container>

		</div>
	</ng-container>
</ng-container>

<ng-template #placeholder>
	<entity-placeholder-app
		typename="Sample"
		[title]="'No samples on this product'"
		[subtitle]="'Create & Track your samples'">
		<button class="capitalize"
		(click)="listHelper.openCreationDialog({ product: product.id })"
		translate="button.create-sample"></button>
	</entity-placeholder-app>
</ng-template>

<ng-template #spinner>
	<dots-app class="flexCenter"></dots-app>
</ng-template>

<!-- preview -->
<sample-preview-app
	*ngIf="viewSrv.previewOpen"
	[sample]="viewSrv.previewed"
	(close)="viewSrv.closePreview()"
	(clickOutside)="viewSrv.closePreview()">
</sample-preview-app>
