:host {
  display: block;
  // border-bottom: 1px solid var(--color-divider);
  background-color: var(--color-bg);
  padding: 0px;
  border-bottom: 1px solid var(--color-divider);
}

.details {
  padding: var(--spacing-l) var(--spacing-l);
  padding-bottom: var(--spacing-none);
  display: flex;
}

.settings {
  padding: var(--spacing-l);
  padding-bottom: var(--spacing-none);
  display: flex;
}

.header-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.header-container-details {
  padding: var(--spacing-ms) var(--spacing-ms);
}

.header-container-settings {
  padding: var(--spacing-ms);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.nav-container-details {
  padding: 0 var(--spacing-ms);
}

.nav-container-settings {
  padding: 0 var(--spacing-l);
}

.left {
  > *:not(:first-child) {
    margin-left: var(--spacing-ms);
  }
  .info {
    .title-container {
      align-items: flex-end;
    }
  }
}

.left {
  max-width: 65%;
  white-space: nowrap;
  align-items: normal;
}

.right {
  white-space: nowrap;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .title-container {
    h2 {
      color: var(--color-txt-primary);
      font-size: var(--font-size-xxxl);
    }
  }
  .subInfo {
    height: 18px;
    font-size: var(--font-size-m);
    color: var(--color-txt-secondary);
  }
}

$back-arrow-size: 36px;
$arrow-margin-right: 10px;
.back-arrow-container {
  height: $back-arrow-size;
  width: $back-arrow-size;

  .back-arrow {
    color: var(--color-txt-secondary);
    font-size: var(--font-size-s);
    display: flex;
    align-items: center;
    & > * {
      display: flex;
    }
  }
}

.logo {
  max-width: 36px;
  max-height: 36px;
  border-radius: var(--border-radius-s);
}

.tabs-container-details {
  margin: var(--spacing-none) 52px;
}

.tabs-container-settings {
  margin: var(--spacing-none);
}

.arrow-margin {
  margin-left: $back-arrow-size;
}
