<side-panel-app>
	<side-panel-title-app>
		Supplier
	</side-panel-title-app>

	<side-panel-action-app>
		<icon-app class="close pointer" name="close" (click)="close.emit()"></icon-app>
	</side-panel-action-app>

	<div *ngIf="supplier$ | async as supplier" class="top">
		<rating-heart-app [favorite]="supplier.favorite" (favorited)="onFavorited()" (unfavorited)="onUnfavorited()"></rating-heart-app>
		<div class="flexColumn flexCenter">
			<icon-app class="logo flexCenter" fontSet="svg" name="supplier-preview"></icon-app>
			<h2>{{ supplier?.name }}</h2>
			<div>{{ supplier?.supplierType?.name || 'Supplier'}}
				<ng-container *ngIf="supplier.country">
					- {{ supplier.country | const: 'country'  }}
				</ng-container>
			</div>
			<workflow-action-app
				[xPosition]="-2"
				[selectSize]="'s'"
				[typeEntity]="suppERM"
				[entity]="supplier">
			</workflow-action-app>
			<!-- <status-badge-app [status]="supplier.status"></status-badge-app> -->
		</div>

		<button class="transparent auto" (click)="goToDetails()">Open</button>
	</div>

	<divider-app class="midDivider"></divider-app>

	<h3>SUPPLIER DETAILS</h3>

	<dynamic-form-app
		[inlineLabel]="true"
		[fields]="customFields"
		[value]="supplier"
		[colAmount]="1"
		(update)="update($event)">
	</dynamic-form-app>

</side-panel-app>