:host {
	display: block;
}

img-app {
	border-radius: 50%;
	overflow: hidden;
}

.border {
	border: 2px solid var(--color-primary-light);
}

.initials {
	color: var(--color-primary);
	border: 1px solid white;
	box-sizing: border-box;
	text-transform: uppercase;
}

.bg-initials {
	background-color: #def0fe;
}

.dot-border {
	border: 1px dotted var(--color-secondary-dark);
}

.gradient-border {
	background: linear-gradient(#7bd6ff, var(--color-primary));
	padding: 1px;
}