<!-- const selector -->
<selector-app
	*ngIf="customField?.metadata?.type === 'const'; else entitySelector"
	[type]="customField?.metadata?.target"
	[disabled]="disabled"
	[offsetY]="-30"
	[width]="265"
	[multiple]="customField?.multiple"
	[value]="value"
	(update)="onSelectorChange($event)"
	(menuClosed)="editable.close()">
	<editable-field-app
		#editable
		[class.no-hover]="disabled"
		[openOnClick]="!disabled"
		[inlineLabel]="inlineLabel"
		[hasAction]="false"
		[canGrow]="customField?.multiple">
		<label-app>{{ customField?.label || customField?.name }}</label-app>
		<editable-label-app
			class="flex"
			[class.flexWrap]="customField?.multiple"
			[disabled]="disabled">
			{{ (value | const: customField?.metadata?.target) || '-'}}
		</editable-label-app>
	</editable-field-app>
</selector-app>

<!-- entity selector -->
<ng-template #entitySelector>
	<selector-app
		[value]="value"
		[offsetY]="-30"
		[width]="330"
		[disabled]="disabled"
		[type]="customField?.metadata?.target"
		[multiple]="customField?.multiple"
		[canCreate]="customField?.metadata?.canCreate"
		(update)="onSelectorChange($event)"
		(menuClosed)="editable.close()">
		<editable-field-app
			#editable
			[class.no-hover]="disabled"
			[inlineLabel]="inlineLabel"
			[openOnClick]="!(disabled)"
			[hasAction]="false"
			[canGrow]="customField?.multiple">
			<label-app>{{ customField?.label || customField?.name }}</label-app>
			<editable-label-app
				class="flex"
				[class.flexEnd]="inlineLabel"
				[class.flexWrap]="customField?.multiple"
				[disabled]="disabled">
				<ng-container *ngTemplateOutlet="getLabelTemplate()"></ng-container>
			</editable-label-app>
		</editable-field-app>
	</selector-app>
</ng-template>



<!-- one value, label template -->
<!-- hint: we don't display icons when using inlineLabel -->
<ng-template #oneValueLabel>
	<ng-container [ngSwitch]="customField?.metadata?.target">
		<!-- user -->
		<div class="flexVAlign" *ngSwitchCase="erm.USER.singular">
			<user-picture-app
				*ngIf="value && !inlineLabel"
				class="user-icon"
				size="20"
				[user]="value"
				[image]="value?.avatar">
			</user-picture-app>
			<span class="ellipsis">{{ value ? (value?.firstName +  ' ' + value?.lastName ) : '-'}}</span>
		</div>

		<!-- category -->
		<!-- hidelogo is whether we want to display the info-badge or not -->
		<ng-container *ngSwitchCase="erm.CATEGORY.singular">
			<info-badge-app *ngIf="!customField?.metadata?.hideLogo; else noLogo" type="category"> {{ value?.name }}</info-badge-app>
			<ng-template #noLogo> {{ value?.name}} </ng-template>
		</ng-container>

		<!-- supplier type -->
		<ng-container *ngSwitchCase="erm.SUPPLIER_TYPE.singular">
			<span>{{ value ? (value[labelName] | const: 'supplierType')  : '-'  }}</span>
		</ng-container>

		<!-- event -->
		<ng-container *ngSwitchCase="erm.EVENT.singular">
			<span> {{ value && value['description'] ? value['description'][labelName] : '-' }}</span>
		</ng-container>

		<!-- others we display an icon and the value next to it -->
		<!-- hidelogo is whether we want to display the default logos or not, by default we display them -->
		<ng-container *ngSwitchDefault>
			<!-- TODO change this to logo -->
			<!-- <img class="defaultLabelIcon"
				*ngIf="(value | logo:customField?.metadata?.target) && !inlineLabel && !customField?.metadata?.hideLogo"
				[src]="value | logo:customField?.metadata?.target" /> -->
			<span class="ellipsis fullWidth">
				{{ value ? value[labelName] : '-' }}
			</span>
		</ng-container>

	</ng-container>
</ng-template>

<!-- multiple values, label template (we display badges) -->
<ng-template #multipleValuesLabel>
	<!-- hidelogo is whether we want to display the info-badge or not -->
	<ng-container *ngIf="!customField?.metadata?.hideLogo; else noBadge">
		<info-badge-app
			class="multiple-item"
			*ngFor="let item of value; trackBy: trackByFn"
			[type]="customField?.metadata?.target">
			{{ item.name }}
		</info-badge-app>
	</ng-container>
	<ng-template #noBadge>
		<span
			*ngFor="let item of value; trackBy: trackByFn; last as last"
			class="multiple-item">
			{{ item.name }}{{last ? '' : ', '}}
		</span>
	</ng-template>
</ng-template>
