<field-cell-app [isOpen]="!isOpen" [inlineLabel]="inlineLabel" [canGrow]="customField.multiple">
	<label-app>{{ customField.label || customField.name }}</label-app>
	<!-- entity selector -->
	<ng-container *ngIf="customField.metadata.type === 'entity'">
		<editable-text-app #editable
			(closed)="closed.emit()" [hasAction]="false" (opened)="opened.emit()">

			<!-- multiple value label -->
			<editable-label-app *ngIf="customField.multiple; else solo" class="flex flexWrap mult-tags">
				<ng-container	*ngIf="!isEmpty(value); else none">
					<info-badge-app
						class="tag"
						*ngFor="let tag of value;trackBy: trackByFn"
						[type]="customField.metadata.target">
						{{ tag.name }}
					</info-badge-app>
				</ng-container>

				<ng-template #none>
					-
				</ng-template>
			</editable-label-app>

			<!-- one value label -->
			<ng-template #solo>
				<editable-label-app class="flexCenter">
					<img class="selectorIcon"
						*ngIf="(value | logo:customField.metadata.target) && !inlineLabel && customField.metadata.target !== 'user'"
						[src]="value | logo:customField.metadata.target" />
						<ng-container [ngSwitch]="customField.metadata.target">
							<div *ngSwitchCase="'user'" class="flexCenter">
								<user-picture-app
									class="user-icon"
									size="20"
									[user]="value"
									[image]="value?.avatar">
								</user-picture-app>
							{{ value ? (value.firstName +  ' ' + value.lastName ) : '-'}}
						</div>
						<info-badge-app *ngSwitchCase="'category'" type="category"> {{ value?.name }}</info-badge-app>
						<span *ngSwitchDefault>
							{{ value ? value[labelName] : '-' }}
						</span>
					</ng-container>

				</editable-label-app>
			</ng-template>

			<selector-entity-app
				#selector
				[multiple]="customField.multiple"
				[(ngModel)]="value"
				(change)="onSelectorChange()"
				(blur)="onBlur()"
				[type]="customField.metadata.target"
				[canCreate]="customField.metadata.canCreate"
				[propertyName]="labelName">
			</selector-entity-app>
		</editable-text-app>

	</ng-container>

	<!-- const selector -->
	<ng-container *ngIf="customField.metadata.type === 'const'">
		<!-- one -->
		<editable-text-app #editable *ngIf="!customField.multiple"
			(closed)="closed.emit()" [hasAction]="false" (opened)="onOpen()">

			<editable-label-app>
				{{ (value | const: customField.metadata.target) || '-'}}
			</editable-label-app>

			<selector-const-app
				#selector
				[multiple]="false"
				(change)="onSelectorChange()"
				(blur)="onBlur()"
				[(ngModel)]="value"
				[type]="customField.metadata.target">
			</selector-const-app>
		</editable-text-app>

	</ng-container>
</field-cell-app>
