
.left {
	width: 50%;
	> * {
		margin-right: var(--spacing-ms);
	}
	search-bar-app {
		flex: 1;
		min-width: 120px;
		max-width: 260px;
	}
}

divider-app {
	height: var(--spacing-l);
}

.filter-btn {
	width: var(--spacing-xl);
}

.clear-filters {
	color: var(--color-txt-secondary);
}