
<div class="left flexVAlign">

	<search-bar-app
		#searchBar
		searchType="short"
		[formControl]="searchControl"
		[inputFocus]="inputFocus"
		[placeHolder]="'placeholder.search' | translate"
		(search)="filterSrv.search($event)">
	</search-bar-app>

	<button
		*ngIf="hasFilters"
		class="icon filter-btn"
		(click)="viewSrv.openFilterPanel()"
		translate="button.show-filters">
		<icon-app
			[ngClass]="viewSrv.filterPanelOpen? 'color-primary' : 'color-third'" 
			name="filter" 
			size="s">
		</icon-app>
	</button>

	<button
		*ngIf="filterSrv.getFilterAmount() > 0"
		class="light"
		(click)="reset()">
		Clear filters ({{ filterSrv.getFilterAmount() }})
	</button>

	<divider-app [vertical]="true"></divider-app>

	<span class="capitalize entities-count">
		{{ listHelperSrv.total }}
		{{ listHelperSrv.total < 2 ?
			 (viewSrv.typename | translate) : 
			 (viewSrv.typename + 's' | translate) }}
			 <!-- TODO make translate work -->
	</span>

</div>

<div class="right flexVAlign">

	<ng-content select="controller-table-content-app"></ng-content>
	<divider-app *ngIf="content" [vertical]="true"></divider-app>

	<ng-content select="controller-table-quick-filters-app"></ng-content>
	<divider-app *ngIf="quickFilters" class="mg-left-ms" [vertical]="true"></divider-app>
	
	<ng-content select=".extra"></ng-content>
	<divider-app *ngIf="hasExtra" [vertical]="true"></divider-app>

	<ng-content select="controller-table-quick-actions-app"></ng-content>

	<divider-app *ngIf="switcher" class="mg-left-ms" [vertical]="true"></divider-app>
	<ng-content select="controller-table-view-switcher-app"></ng-content>

</div>