
<div class="left flexVAlign">

	<search-bar-app
		searchType="short"
		[formControl]="searchControl"
		[inputFocus]="inputFocus"
		[placeHolder]="'placeholder.type-to-search' | translate"
		(search)="listSrv.search($event)">
	</search-bar-app>

	<button
		*ngIf="hasFilters"
		class="icon"
		(click)="listSrv.openFilterPanel()"
		translate="button.show-filters">
		<icon-app class="{{ listSrv.filterPanelOpen ? 'color-primary' :  'color-txt-third' }}" name="filter" size="m"></icon-app>
	</button>

	<button 
		*ngIf="listSrv.getFilterAmount() > 0"
		class="light" 
		(click)="listSrv.resetFilters()">
		Clear filters ({{ listSrv.getFilterAmount() }})
	</button>

	<divider-app [vertical]="true"></divider-app>

	<span class="capitalize entities-count">
		{{ listSrv.count$ | async }} 
		{{ (listSrv.count$ | async) < 2 ? 
			 (listSrv.entityMetadata.singular | translate) : (listSrv.entityMetadata.plural | translate) }}
	</span>

</div>

<div class="right flexVAlign">

	<!-- <ng-content select="controller-table-actions-app"></ng-content> -->


	<divider-app [vertical]="true"></divider-app>
	<ng-content select="controller-table-quick-filters-app"></ng-content>

	<divider-app class="mg-left-ms" [vertical]="true"></divider-app>
	<ng-content select="controller-table-quick-actions-app"></ng-content>

	<divider-app class="mg-left-ms" [vertical]="true"></divider-app>
	<ng-content select="controller-table-view-switcher-app"></ng-content>

</div>