dialog-app {
	width: 700px;

	dialog-footer-app {
		margin-top: var(--spacing-s);
		border-top: 1px solid var(--color-divider);
    padding-top: var(--spacing-s);
	}

	.exportRow {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 0 var(--spacing-xxxl);
		.exportCell {
			width: 220px;
			height: 180px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			border: 2px solid transparent;
			border-radius: 4px;
			&:first-child {
					margin-right: var(--spacing-m);
			}
			&:last-child {
					margin-left: var(--spacing-m);
			}
			cursor: pointer;
			icon-app {
				font-size: 48px;
				color: var(--color-txt-secondary);
				margin-bottom: var(--spacing-m);
			}
			&.image {
				margin-top: 8px;

				icon-app {
					font-size: 40px;
				}
			}
			.title {
					font-weight: 600;
					color: var(--color-button-dark);
			}
			.subtitle {
					color: var(--color-txt-secondary);
			}
			&.selected {
					border: 2px solid var(--color-primary);
					icon-app {
							color: var(--color-primary);
					}
			}
			&:hover {
				background: rgba(93, 109, 139, 0.05);
			}
		}
	}
}