<!-- TODO i18n -->
<dialog-app>

	<dialog-header-app translate="header.export-selection"></dialog-header-app>
	<dialog-subtitle-app translate="header.export-type"></dialog-subtitle-app>

	<main class="exportRow">
		<div class="exportCell" (click)="select('xls', 'xls_product_list')"
			[class.selected]="selectedType === 'xls_product_list'">
			<icon-app name="excel"></icon-app>
			<div class="title" translate="title.excel"></div>
			<div class="subtitle" translate="text.perfect-for-editing"></div>
		</div>
		<div
			toolTip
			toolTipMessage="Limit of 50 PDF per export"
			toolTipShowDelay="100"
			class="exportCell" (click)="select('pdf', 'pdf_product_page')"
			[class.selected]="selectedType === 'pdf_product_page'">
			<icon-app name="pdf"></icon-app>
			<div class="title" translate="text.pdf"></div>
			<div class="subtitle" translate="text.perfect-for-sharing"></div>
		</div>
		<div class="exportCell image" (click)="select('pictures', 'product_image')"
			[class.selected]="selectedType === 'product_image'">
			<icon-app name="image"></icon-app>
			<div class="title capitalize" translate="text.pictures"></div>
			<div class="subtitle" translate="text.all-product-pictures"></div>
		</div>
	</main>

	<dialog-footer-app class="fullWidth flexCenter flexBetween">
		<span class="txt-secondary">
			{{ length }}
			<ng-container i18n="text@@items-selected">{ length || 0, plural, =0 { item } =1 { item } other { items } } selected</ng-container>
		</span>
		<button tabFocusAction class="small capitalize" (click)="export.emit()" translate="button.export"></button>
	</dialog-footer-app>
</dialog-app>
