<card-app
	*ngIf="notifActivitySrv.isPanelOpen"
	class="notification-container"
	[@paneAnimationTrigger]
	(@paneAnimationTrigger.done)="endAnimation.emit()"
	(@paneAnimationTrigger.start)="startAnimation.emit()">
	<card-title-app>
		<icon-app
			class="close-pane-button"
			name="close-pane-left"
			(click)="closePanel($event)">
		</icon-app>
		<p class="title" translate="title.notifications"></p>
	</card-title-app>

	<card-action-app class="mark-read-button" (click)="notifActivitySrv.markAllAsRead()" translate="text.mark-all-as-read">
	</card-action-app>

	<notif-list-app [activities]="results"></notif-list-app>
</card-app>
