:host {
	margin: 0 var(--spacing-l);
}

table-app {
	pagination-app {
		margin: 0 24px; 
	}
}

.download {
	font-size: var(--font-size-m);
	color: var(--color-primary);

	&.disabled {
		cursor: default;
		color: var(--color-txt-secondary);
	}

	&:hover {
		text-decoration: underline;
	}
}

.tool-tip {
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.created-by {
	span {
		margin-left: var(--spacing-xs);
	}
}

.created-on, .file-name {
	color: var(--color-bg-dark);
	font-size: var(--font-size-m);
}

.status {
	font-size: var(--font-size-m);
	font-weight: 600;
}