<card-app>
	<div class="flex flexBetween top"  *ngIf="filterList">
		<h1>Tasks</h1>
		<div class="spacer mg-m"></div>
		<div *ngIf="hasFilters" class="flex show-my-tasks">
			<checkbox-app
				[checked]="filterList.hasFilterType(filterTypeEnum.ASSIGNEE)"
				(check)="toggleMyTasks.emit(true)"
				(uncheck)="toggleMyTasks.emit(false)">
				<span>
					Show my tasks only
				</span>
			</checkbox-app>
		</div>
	</div>

	<list-app infiniScroll cdk-scrollable (bottomReached)="bottomReached.emit()">
		<list-item-app *ngFor="let task of tasks; index as i; first as first; last as last; trackBy: trackById" class="{{ first ? 'border-top' : '' }}">
			<!-- use hover index if we use selection -->
			<!-- <checkbox-app
				[ngStyle]="{'visibility': (selection.has(task.id) || hoverIndex === i) ? 'visible' : 'hidden'}"
				[checked]="selection.has(task.id)"
				(check)="onItemSelected(task)"
				(uncheck)="onItemUnselected(task)">
			</checkbox-app> -->
			<task-app
				[fullUser]="fullUser"
				[hasProduct]="hasProduct"
				[hasSupplier]="hasSupplier"
				[task]="task"
				(openProduct)="openProduct($event)"
				(openSupplier)="openSupplier($event)"
				(previewClicked)="previewClicked.emit(task)"
				(updateTask)="updateTask.emit($event)">
			</task-app>
		</list-item-app>
	</list-app>
	<div class="flexBetween create-task">
		<input inputApp type="text" [formControl]="taskCtrl"
			placeholder="+ Create a new task" (keydown.enter)="onEnter($event)"/>
		<button *ngIf="inp?.focussed || taskCtrl.value"class="secondary-light" (click)="onSubmit()">Create</button>
	</div>
</card-app>