:host {
	display: block;
	height: 100%;
	box-sizing: border-box;
	padding-bottom: var(--spacing-l);
	width: 100%;

	&.card-no-padding card-app{
		margin: 0px ;
	}
}

card-app {
	margin-top: 0px;
	margin-bottom: var(--spacing-l);
}

.top {
	margin-bottom: var(--spacing-l);
	align-items: baseline;
}

h1 {
	color: var(--color-txt-strong);
	font-size: var(--font-size-xxxl);
	font-weight: 600;
}

list-app {
	max-height: 507px;

	list-item-app.border-top {
		border-top: 1px solid var(--color-secondary);
	}
}

.create-task {
	background: white;
	padding-top: var(--spacing-l);

	input, textarea {
		height: 36px;
		resize: none;
		border: none;
		background: none;
		border: 1px solid transparent; // this way we avoid movement on the input when focusing

		&:focus {
			border-radius: 500px;
			border: 1px solid var(--color-secondary);
			background: var(--color-secondary-light);
		}
	}

	button {
		margin-left: var(--spacing-ms);
	}
}