<div *ngIf="!(pending); else spinner">

	<h1 i18n="header@@password-reset">Password Reset</h1>
	<h3 i18n="text@@please-enter-pw">Please enter your new password</h3>

	<form [formGroup]="form" (submit)="onSubmit()">
		<form-field-app>
			<label-app i18n="text@@new-pw"> New Password</label-app>
			<input [class.warn-border]="form.get('newPswd').touched  && form.hasError('nomatch')"
				minlength="8"	inputApp type="password" formControlName="newPswd" placeholder="Introduce the new password"
				autocomplete="new-password" i18n-placeholder="@@intro-new-pwd"/>
			<error-app *ngIf="form.get('newPswd').hasError('minlength')" i18n="@@min-characters-required">Minimum 8 characters required</error-app>
		</form-field-app>
		<form-field-app>
			<label-app i18n="text@@confirm-new-pw"> Confirm New Password </label-app>
			<input [class.warn-border]="form.get('confirmPswd').touched && form.hasError('nomatch')"
				minlength="8"	inputApp type="password" formControlName="confirmPswd" placeholder="Confirm the new password"
				autocomplete="new-password" i18n-placeholder="@@confirm-new-pwd"/>
				<p class="color-warn fs-s italic"
					*ngIf="form.get('newPswd').touched && form.get('confirmPswd').touched && form.hasError('nomatch')"
					i18n="text@@pw-must-match">
					New password must match
				</p>
		</form-field-app>

		<input [disabled]="!form.valid" type="submit" value="Change" class="fullWidth"/>
	</form>

</div>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>


