<div *ngIf="!(pending); else spinner">

	<h1 class="banner">Password Reset</h1>
	<h2>Please enter your new password</h2>

	<form [formGroup]="form" (submit)="onSubmit()">
		<form-field-app>
			<label-app> New Password</label-app>
			<input [class.warn-border]="form.get('newPswd').touched  && form.hasError('nomatch')"
				minlength="8"	inputApp type="password" formControlName="newPswd" placeholder="Introduce the new password"
				autocomplete="new-password"/>
			<error-app *ngIf="form.get('newPswd').hasError('minlength')">Minimum 8 characters required</error-app>
		</form-field-app>
		<form-field-app>
			<label-app> Confirm New Password </label-app>
			<input [class.warn-border]="form.get('confirmPswd').touched && form.hasError('nomatch')"
				minlength="8"	inputApp type="password" formControlName="confirmPswd" placeholder="Confirm the new password"
				autocomplete="new-password"/>
				<p class="color-warn fs-s italic" *ngIf="form.get('newPswd').touched && form.get('confirmPswd').touched && form.hasError('nomatch')">
					New passwords must match
				</p>
		</form-field-app>

		<input [disabled]="!form.valid" type="submit" value="Change" class="fullWidth"/>
	</form>

</div>

<ng-template #spinner>
	<spinner-app></spinner-app>
</ng-template>


