<dialog-app class="vertical-scroll-content">

	<dialog-header-app i18n="@@new-sample">new sample</dialog-header-app>
	<div class="container flex">
			<div class="inner-container">
				<dynamic-form-app
					[colAmount]="1"
					[fields]="sampleDescriptor?.descriptor"
					[isFormStyle]="true"
					[value]="sample"
					(update)="updateSample($event)">
				</dynamic-form-app>
			</div>
		</div>
	<dialog-footer-app>
		<checkbox-app
			[checked]="createAnother"
			(update)="createAnother = !createAnother">
			create another
		</checkbox-app>
		<button tabFocusAction class="secondary" (click)="cancel()" i18n="@@cancel">cancel</button>
		<button tabFocusAction [disabled]="!(sample?.name)" (click)="save()" i18n="@@create-sample">create Sample</button>
	</dialog-footer-app>

</dialog-app>