:host {
	height: 60px;
	width: 60px;
}

img-app {
	border: 2px solid white;
	cursor: pointer;
}

.initials {
	border: 2px solid white;
	height: 100%;
	width: 100%;
	color: var(--color-primary);
	background-color: var(--color-primary-light);
	box-sizing: border-box;
	text-transform: uppercase;
	font-size: 28px;
}